.banner .item
  height: 400px
  background-size: cover
  background-position: 80% center

.top-content 
  position: relative
  .h1
    position: absolute
    z-index: 100
    color: white
    text-align: center