.banner
	position: relative
	text-align: center
	text-transform: uppercase
	width: 100%
	color: white
	overflow: hidden
	display: inline-table
	background: url(../img/banner.jpg) no-repeat bottom
	background-size: cover
	padding-top: 10%
	padding-bottom: 10%
	.banner-text
		width: 100%
		letter-spacing: .06em
	h2
		letter-spacing: inherit
		font-weight: $fw-light
		font-size: px(39)
		margin-bottom: 1em
	a
		letter-spacing: inherit
		text-decoration: none
		font-size: px(15)
		font-weight: $fw-bold
		background-color: transparent
		border: px(2) solid white
		padding: 1.2em 2em
		display: inline-block
		+border-top-radius(px(3))
		+border-bottom-radius(px(3))
		&:hover
			color: $brand-primary
			background-color: white
