@keyframes float-up
	0%
		top: 100%
		transform: translateY(0)
	100%
		top: 0%
		transform: translateY(-100%)

@keyframes float-horizontal
	0%
		left: 0%
	100%
		left: 10%

// infinite for dev, forwards for prod
$animation-fill-mode: infinite

.decorated-houses
	background: url(../img/houses.png)
	background-repeat: repeat-x
	background-position: -20% 100%
	width: 100%
	height: 135px
	position: absolute
	left: 0
	bottom: -2px


.float-comments
	height: $comments-height
	position: relative // for positioning .decorated-houses
	overflow: hidden

.float-comments-wrapper
	$pad: 1em
	position: relative
	top: 100%
	animation: float-up 30s linear $animation-fill-mode
	.float-comments:hover &
		animation-play-state: paused
	ul
		position: relative
		height: 100%
		list-style-type: none
		padding: 0
		li
			animation: float-horizontal ease-in-out infinite alternate-reverse
			position: relative
			margin: (3 * $pad) 0
			&:hover
				animation-play-state: paused
				z-index: 10
			@for $i from 1 through 10
				&:nth-of-type(#{$i}n)
					animation-duration: random(5) + 4s
			.img-wrapper
				width: $thumbnail-sm
				height: $thumbnail-sm
				display: block
				+border-top-radius(50%)
				+border-bottom-radius(50%)
				+default-user
				position: absolute
				left: 0
				top: 0
				margin: $pad * $line-height-base
				overflow: hidden
			a
				padding: $pad $pad $pad ($pad * 5.5) !important
				color: white
				background-color: $brand-primary
				font-weight: $fw-semibold
				display: block
				+border-top-radius(px(5))
				+border-bottom-radius(px(5))
				width: 80%
				margin-right: auto
				margin-left: auto
				position: relative
				text-decoration: none
				&:before
					content: ''
					position: absolute
					width: 0
					height: 0
					border-style: solid
					border-color: $brand-primary transparent transparent
					border-width: $pad
					left: $pad*1.5
					top: 100%
				&:focus,
				&:hover
					background-color: darken($brand-primary,10%) !important
					&:before
						border-top-color: darken($brand-primary,10%)

				p
					color: inherit
					margin-bottom: .5em
					line-height: 1.4em
					&.text
						font-size: px(13)
					&.info
						font-size: px(11)
				h6
					z-index: px(12)
					margin-bottom: .5em
					font-weight: $fw-bold