/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$partner-amazon-x: 0px
$partner-amazon-y: 608px
$partner-amazon-offset-x: 0px
$partner-amazon-offset-y: -608px
$partner-amazon-width: 311px
$partner-amazon-height: 119px
$partner-amazon-total-width: 1367px
$partner-amazon-total-height: 1090px
$partner-amazon-image: '../../static/img/partners_spritesheet.png'
$partner-amazon: 0px 608px 0px -608px 311px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-bitwiin-x: 0px
$partner-bitwiin-y: 244px
$partner-bitwiin-offset-x: 0px
$partner-bitwiin-offset-y: -244px
$partner-bitwiin-width: 462px
$partner-bitwiin-height: 120px
$partner-bitwiin-total-width: 1367px
$partner-bitwiin-total-height: 1090px
$partner-bitwiin-image: '../../static/img/partners_spritesheet.png'
$partner-bitwiin: 0px 244px 0px -244px 462px 120px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-bons_plans-x: 710px
$partner-bons_plans-y: 121px
$partner-bons_plans-offset-x: -710px
$partner-bons_plans-offset-y: -121px
$partner-bons_plans-width: 227px
$partner-bons_plans-height: 119px
$partner-bons_plans-total-width: 1367px
$partner-bons_plans-total-height: 1090px
$partner-bons_plans-image: '../../static/img/partners_spritesheet.png'
$partner-bons_plans: 710px 121px -710px -121px 227px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-clear_chanel-x: 0px
$partner-clear_chanel-y: 487px
$partner-clear_chanel-offset-x: 0px
$partner-clear_chanel-offset-y: -487px
$partner-clear_chanel-width: 666px
$partner-clear_chanel-height: 119px
$partner-clear_chanel-total-width: 1367px
$partner-clear_chanel-total-height: 1090px
$partner-clear_chanel-image: '../../static/img/partners_spritesheet.png'
$partner-clear_chanel: 0px 487px 0px -487px 666px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-direct_etudiant-x: 668px
$partner-direct_etudiant-y: 487px
$partner-direct_etudiant-offset-x: -668px
$partner-direct_etudiant-offset-y: -487px
$partner-direct_etudiant-width: 304px
$partner-direct_etudiant-height: 119px
$partner-direct_etudiant-total-width: 1367px
$partner-direct_etudiant-total-height: 1090px
$partner-direct_etudiant-image: '../../static/img/partners_spritesheet.png'
$partner-direct_etudiant: 668px 487px -668px -487px 304px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-europ_assistance-x: 0px
$partner-europ_assistance-y: 0px
$partner-europ_assistance-offset-x: 0px
$partner-europ_assistance-offset-y: 0px
$partner-europ_assistance-width: 230px
$partner-europ_assistance-height: 120px
$partner-europ_assistance-total-width: 1367px
$partner-europ_assistance-total-height: 1090px
$partner-europ_assistance-image: '../../static/img/partners_spritesheet.png'
$partner-europ_assistance: 0px 0px 0px 0px 230px 120px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-five_m_ventures-x: 589px
$partner-five_m_ventures-y: 0px
$partner-five_m_ventures-offset-x: -589px
$partner-five_m_ventures-offset-y: 0px
$partner-five_m_ventures-width: 402px
$partner-five_m_ventures-height: 119px
$partner-five_m_ventures-total-width: 1367px
$partner-five_m_ventures-total-height: 1090px
$partner-five_m_ventures-image: '../../static/img/partners_spritesheet.png'
$partner-five_m_ventures: 589px 0px -589px 0px 402px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-go_sport-x: 589px
$partner-go_sport-y: 121px
$partner-go_sport-offset-x: -589px
$partner-go_sport-offset-y: -121px
$partner-go_sport-width: 119px
$partner-go_sport-height: 119px
$partner-go_sport-total-width: 1367px
$partner-go_sport-total-height: 1090px
$partner-go_sport-image: '../../static/img/partners_spritesheet.png'
$partner-go_sport: 589px 121px -589px -121px 119px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-google-x: 232px
$partner-google-y: 0px
$partner-google-offset-x: -232px
$partner-google-offset-y: 0px
$partner-google-width: 355px
$partner-google-height: 120px
$partner-google-total-width: 1367px
$partner-google-total-height: 1090px
$partner-google-image: '../../static/img/partners_spritesheet.png'
$partner-google: 232px 0px -232px 0px 355px 120px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-havas_worldwide-x: 589px
$partner-havas_worldwide-y: 242px
$partner-havas_worldwide-offset-x: -589px
$partner-havas_worldwide-offset-y: -242px
$partner-havas_worldwide-width: 313px
$partner-havas_worldwide-height: 119px
$partner-havas_worldwide-total-width: 1367px
$partner-havas_worldwide-total-height: 1090px
$partner-havas_worldwide-image: '../../static/img/partners_spritesheet.png'
$partner-havas_worldwide: 589px 242px -589px -242px 313px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-hec_paris-x: 589px
$partner-hec_paris-y: 363px
$partner-hec_paris-offset-x: -589px
$partner-hec_paris-offset-y: -363px
$partner-hec_paris-width: 213px
$partner-hec_paris-height: 119px
$partner-hec_paris-total-width: 1367px
$partner-hec_paris-total-height: 1090px
$partner-hec_paris-image: '../../static/img/partners_spritesheet.png'
$partner-hec_paris: 589px 363px -589px -363px 213px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-inter_sport-x: 804px
$partner-inter_sport-y: 363px
$partner-inter_sport-offset-x: -804px
$partner-inter_sport-offset-y: -363px
$partner-inter_sport-width: 161px
$partner-inter_sport-height: 119px
$partner-inter_sport-total-width: 1367px
$partner-inter_sport-total-height: 1090px
$partner-inter_sport-image: '../../static/img/partners_spritesheet.png'
$partner-inter_sport: 804px 363px -804px -363px 161px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-la_poste-x: 0px
$partner-la_poste-y: 122px
$partner-la_poste-offset-x: 0px
$partner-la_poste-offset-y: -122px
$partner-la_poste-width: 207px
$partner-la_poste-height: 120px
$partner-la_poste-total-width: 1367px
$partner-la_poste-total-height: 1090px
$partner-la_poste-image: '../../static/img/partners_spritesheet.png'
$partner-la_poste: 0px 122px 0px -122px 207px 120px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-leroy_merlin-x: 217px
$partner-leroy_merlin-y: 366px
$partner-leroy_merlin-offset-x: -217px
$partner-leroy_merlin-offset-y: -366px
$partner-leroy_merlin-width: 187px
$partner-leroy_merlin-height: 119px
$partner-leroy_merlin-total-width: 1367px
$partner-leroy_merlin-total-height: 1090px
$partner-leroy_merlin-image: '../../static/img/partners_spritesheet.png'
$partner-leroy_merlin: 217px 366px -217px -366px 187px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-les_cles_du_bricolage-x: 0px
$partner-les_cles_du_bricolage-y: 366px
$partner-les_cles_du_bricolage-offset-x: 0px
$partner-les_cles_du_bricolage-offset-y: -366px
$partner-les_cles_du_bricolage-width: 215px
$partner-les_cles_du_bricolage-height: 119px
$partner-les_cles_du_bricolage-total-width: 1367px
$partner-les_cles_du_bricolage-total-height: 1090px
$partner-les_cles_du_bricolage-image: '../../static/img/partners_spritesheet.png'
$partner-les_cles_du_bricolage: 0px 366px 0px -366px 215px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-local_me-x: 209px
$partner-local_me-y: 122px
$partner-local_me-offset-x: -209px
$partner-local_me-offset-y: -122px
$partner-local_me-width: 260px
$partner-local_me-height: 120px
$partner-local_me-total-width: 1367px
$partner-local_me-total-height: 1090px
$partner-local_me-image: '../../static/img/partners_spritesheet.png'
$partner-local_me: 209px 122px -209px -122px 260px 120px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-locanfrance-x: 313px
$partner-locanfrance-y: 608px
$partner-locanfrance-offset-x: -313px
$partner-locanfrance-offset-y: -608px
$partner-locanfrance-width: 383px
$partner-locanfrance-height: 119px
$partner-locanfrance-total-width: 1367px
$partner-locanfrance-total-height: 1090px
$partner-locanfrance-image: '../../static/img/partners_spritesheet.png'
$partner-locanfrance: 313px 608px -313px -608px 383px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-loxam-x: 0px
$partner-loxam-y: 729px
$partner-loxam-offset-x: 0px
$partner-loxam-offset-y: -729px
$partner-loxam-width: 294px
$partner-loxam-height: 119px
$partner-loxam-total-width: 1367px
$partner-loxam-total-height: 1090px
$partner-loxam-image: '../../static/img/partners_spritesheet.png'
$partner-loxam: 0px 729px 0px -729px 294px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-ma_colocation-x: 296px
$partner-ma_colocation-y: 729px
$partner-ma_colocation-offset-x: -296px
$partner-ma_colocation-offset-y: -729px
$partner-ma_colocation-width: 404px
$partner-ma_colocation-height: 119px
$partner-ma_colocation-total-width: 1367px
$partner-ma_colocation-total-height: 1090px
$partner-ma_colocation-image: '../../static/img/partners_spritesheet.png'
$partner-ma_colocation: 296px 729px -296px -729px 404px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-meteojob-x: 406px
$partner-meteojob-y: 366px
$partner-meteojob-offset-x: -406px
$partner-meteojob-offset-y: -366px
$partner-meteojob-width: 155px
$partner-meteojob-height: 119px
$partner-meteojob-total-width: 1367px
$partner-meteojob-total-height: 1090px
$partner-meteojob-image: '../../static/img/partners_spritesheet.png'
$partner-meteojob: 406px 366px -406px -366px 155px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-microsoft-x: 0px
$partner-microsoft-y: 850px
$partner-microsoft-offset-x: 0px
$partner-microsoft-offset-y: -850px
$partner-microsoft-width: 508px
$partner-microsoft-height: 119px
$partner-microsoft-total-width: 1367px
$partner-microsoft-total-height: 1090px
$partner-microsoft-image: '../../static/img/partners_spritesheet.png'
$partner-microsoft: 0px 850px 0px -850px 508px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-mma-x: 510px
$partner-mma-y: 850px
$partner-mma-offset-x: -510px
$partner-mma-offset-y: -850px
$partner-mma-width: 364px
$partner-mma-height: 119px
$partner-mma-total-width: 1367px
$partner-mma-total-height: 1090px
$partner-mma-image: '../../static/img/partners_spritesheet.png'
$partner-mma: 510px 850px -510px -850px 364px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-mr_bricolage-x: 993px
$partner-mr_bricolage-y: 0px
$partner-mr_bricolage-offset-x: -993px
$partner-mr_bricolage-offset-y: 0px
$partner-mr_bricolage-width: 374px
$partner-mr_bricolage-height: 119px
$partner-mr_bricolage-total-width: 1367px
$partner-mr_bricolage-total-height: 1090px
$partner-mr_bricolage-image: '../../static/img/partners_spritesheet.png'
$partner-mr_bricolage: 993px 0px -993px 0px 374px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-nomalys-x: 993px
$partner-nomalys-y: 121px
$partner-nomalys-offset-x: -993px
$partner-nomalys-offset-y: -121px
$partner-nomalys-width: 211px
$partner-nomalys-height: 119px
$partner-nomalys-total-width: 1367px
$partner-nomalys-total-height: 1090px
$partner-nomalys-image: '../../static/img/partners_spritesheet.png'
$partner-nomalys: 993px 121px -993px -121px 211px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-sfr-x: 1206px
$partner-sfr-y: 121px
$partner-sfr-offset-x: -1206px
$partner-sfr-offset-y: -121px
$partner-sfr-width: 119px
$partner-sfr-height: 119px
$partner-sfr-total-width: 1367px
$partner-sfr-total-height: 1090px
$partner-sfr-image: '../../static/img/partners_spritesheet.png'
$partner-sfr: 1206px 121px -1206px -121px 119px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-smoov_up-x: 993px
$partner-smoov_up-y: 242px
$partner-smoov_up-offset-x: -993px
$partner-smoov_up-offset-y: -242px
$partner-smoov_up-width: 237px
$partner-smoov_up-height: 119px
$partner-smoov_up-total-width: 1367px
$partner-smoov_up-total-height: 1090px
$partner-smoov_up-image: '../../static/img/partners_spritesheet.png'
$partner-smoov_up: 993px 242px -993px -242px 237px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-societe_general-x: 0px
$partner-societe_general-y: 971px
$partner-societe_general-offset-x: 0px
$partner-societe_general-offset-y: -971px
$partner-societe_general-width: 404px
$partner-societe_general-height: 119px
$partner-societe_general-total-width: 1367px
$partner-societe_general-total-height: 1090px
$partner-societe_general-image: '../../static/img/partners_spritesheet.png'
$partner-societe_general: 0px 971px 0px -971px 404px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-twenty_minutes-x: 1232px
$partner-twenty_minutes-y: 242px
$partner-twenty_minutes-offset-x: -1232px
$partner-twenty_minutes-offset-y: -242px
$partner-twenty_minutes-width: 121px
$partner-twenty_minutes-height: 119px
$partner-twenty_minutes-total-width: 1367px
$partner-twenty_minutes-total-height: 1090px
$partner-twenty_minutes-image: '../../static/img/partners_spritesheet.png'
$partner-twenty_minutes: 1232px 242px -1232px -242px 121px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'
$partner-youpijob-x: 993px
$partner-youpijob-y: 363px
$partner-youpijob-offset-x: -993px
$partner-youpijob-offset-y: -363px
$partner-youpijob-width: 297px
$partner-youpijob-height: 119px
$partner-youpijob-total-width: 1367px
$partner-youpijob-total-height: 1090px
$partner-youpijob-image: '../../static/img/partners_spritesheet.png'
$partner-youpijob: 993px 363px -993px -363px 297px 119px 1367px 1090px '../../static/img/partners_spritesheet.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
