/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$s-btn-play-hover-x: 0px
$s-btn-play-hover-y: 187px
$s-btn-play-hover-offset-x: 0px
$s-btn-play-hover-offset-y: -187px
$s-btn-play-hover-width: 138px
$s-btn-play-hover-height: 138px
$s-btn-play-hover-total-width: 1472px
$s-btn-play-hover-total-height: 325px
$s-btn-play-hover-image: '../../static/img/spritesheet.png'
$s-btn-play-hover: 0px 187px 0px -187px 138px 138px 1472px 325px '../../static/img/spritesheet.png'
$s-btn-play-x: 140px
$s-btn-play-y: 187px
$s-btn-play-offset-x: -140px
$s-btn-play-offset-y: -187px
$s-btn-play-width: 138px
$s-btn-play-height: 138px
$s-btn-play-total-width: 1472px
$s-btn-play-total-height: 325px
$s-btn-play-image: '../../static/img/spritesheet.png'
$s-btn-play: 140px 187px -140px -187px 138px 138px 1472px 325px '../../static/img/spritesheet.png'
$s-do-it-yourself-x: 680px
$s-do-it-yourself-y: 67px
$s-do-it-yourself-offset-x: -680px
$s-do-it-yourself-offset-y: -67px
$s-do-it-yourself-width: 62px
$s-do-it-yourself-height: 62px
$s-do-it-yourself-total-width: 1472px
$s-do-it-yourself-total-height: 325px
$s-do-it-yourself-image: '../../static/img/spritesheet.png'
$s-do-it-yourself: 680px 67px -680px -67px 62px 62px 1472px 325px '../../static/img/spritesheet.png'
$s-do-it-yourself_hover-x: 744px
$s-do-it-yourself_hover-y: 67px
$s-do-it-yourself_hover-offset-x: -744px
$s-do-it-yourself_hover-offset-y: -67px
$s-do-it-yourself_hover-width: 62px
$s-do-it-yourself_hover-height: 62px
$s-do-it-yourself_hover-total-width: 1472px
$s-do-it-yourself_hover-total-height: 325px
$s-do-it-yourself_hover-image: '../../static/img/spritesheet.png'
$s-do-it-yourself_hover: 744px 67px -744px -67px 62px 62px 1472px 325px '../../static/img/spritesheet.png'
$s-fashion-and-accessories-x: 846px
$s-fashion-and-accessories-y: 67px
$s-fashion-and-accessories-offset-x: -846px
$s-fashion-and-accessories-offset-y: -67px
$s-fashion-and-accessories-width: 60px
$s-fashion-and-accessories-height: 62px
$s-fashion-and-accessories-total-width: 1472px
$s-fashion-and-accessories-total-height: 325px
$s-fashion-and-accessories-image: '../../static/img/spritesheet.png'
$s-fashion-and-accessories: 846px 67px -846px -67px 60px 62px 1472px 325px '../../static/img/spritesheet.png'
$s-fashion-and-accessories_hover-x: 580px
$s-fashion-and-accessories_hover-y: 67px
$s-fashion-and-accessories_hover-offset-x: -580px
$s-fashion-and-accessories_hover-offset-y: -67px
$s-fashion-and-accessories_hover-width: 60px
$s-fashion-and-accessories_hover-height: 62px
$s-fashion-and-accessories_hover-total-width: 1472px
$s-fashion-and-accessories_hover-total-height: 325px
$s-fashion-and-accessories_hover-image: '../../static/img/spritesheet.png'
$s-fashion-and-accessories_hover: 580px 67px -580px -67px 60px 62px 1472px 325px '../../static/img/spritesheet.png'
$s-gardening-x: 992px
$s-gardening-y: 67px
$s-gardening-offset-x: -992px
$s-gardening-offset-y: -67px
$s-gardening-width: 56px
$s-gardening-height: 60px
$s-gardening-total-width: 1472px
$s-gardening-total-height: 325px
$s-gardening-image: '../../static/img/spritesheet.png'
$s-gardening: 992px 67px -992px -67px 56px 60px 1472px 325px '../../static/img/spritesheet.png'
$s-gardening_hover-x: 1050px
$s-gardening_hover-y: 67px
$s-gardening_hover-offset-x: -1050px
$s-gardening_hover-offset-y: -67px
$s-gardening_hover-width: 56px
$s-gardening_hover-height: 60px
$s-gardening_hover-total-width: 1472px
$s-gardening_hover-total-height: 325px
$s-gardening_hover-image: '../../static/img/spritesheet.png'
$s-gardening_hover: 1050px 67px -1050px -67px 56px 60px 1472px 325px '../../static/img/spritesheet.png'
$s-health-and-wellness-x: 1215px
$s-health-and-wellness-y: 67px
$s-health-and-wellness-offset-x: -1215px
$s-health-and-wellness-offset-y: -67px
$s-health-and-wellness-width: 62px
$s-health-and-wellness-height: 52px
$s-health-and-wellness-total-width: 1472px
$s-health-and-wellness-total-height: 325px
$s-health-and-wellness-image: '../../static/img/spritesheet.png'
$s-health-and-wellness: 1215px 67px -1215px -67px 62px 52px 1472px 325px '../../static/img/spritesheet.png'
$s-health-and-wellness_hover-x: 1279px
$s-health-and-wellness_hover-y: 67px
$s-health-and-wellness_hover-offset-x: -1279px
$s-health-and-wellness_hover-offset-y: -67px
$s-health-and-wellness_hover-width: 62px
$s-health-and-wellness_hover-height: 52px
$s-health-and-wellness_hover-total-width: 1472px
$s-health-and-wellness_hover-total-height: 325px
$s-health-and-wellness_hover-image: '../../static/img/spritesheet.png'
$s-health-and-wellness_hover: 1279px 67px -1279px -67px 62px 52px 1472px 325px '../../static/img/spritesheet.png'
$s-high-tech-x: 1343px
$s-high-tech-y: 67px
$s-high-tech-offset-x: -1343px
$s-high-tech-offset-y: -67px
$s-high-tech-width: 62px
$s-high-tech-height: 46px
$s-high-tech-total-width: 1472px
$s-high-tech-total-height: 325px
$s-high-tech-image: '../../static/img/spritesheet.png'
$s-high-tech: 1343px 67px -1343px -67px 62px 46px 1472px 325px '../../static/img/spritesheet.png'
$s-high-tech_hover-x: 644px
$s-high-tech_hover-y: 131px
$s-high-tech_hover-offset-x: -644px
$s-high-tech_hover-offset-y: -131px
$s-high-tech_hover-width: 62px
$s-high-tech_hover-height: 46px
$s-high-tech_hover-total-width: 1472px
$s-high-tech_hover-total-height: 325px
$s-high-tech_hover-image: '../../static/img/spritesheet.png'
$s-high-tech_hover: 644px 131px -644px -131px 62px 46px 1472px 325px '../../static/img/spritesheet.png'
$s-other-x: 642px
$s-other-y: 67px
$s-other-offset-x: -642px
$s-other-offset-y: -67px
$s-other-width: 36px
$s-other-height: 62px
$s-other-total-width: 1472px
$s-other-total-height: 325px
$s-other-image: '../../static/img/spritesheet.png'
$s-other: 642px 67px -642px -67px 36px 62px 1472px 325px '../../static/img/spritesheet.png'
$s-other_hover-x: 808px
$s-other_hover-y: 67px
$s-other_hover-offset-x: -808px
$s-other_hover-offset-y: -67px
$s-other_hover-width: 36px
$s-other_hover-height: 62px
$s-other_hover-total-width: 1472px
$s-other_hover-total-height: 325px
$s-other_hover-image: '../../static/img/spritesheet.png'
$s-other_hover: 808px 67px -808px -67px 36px 62px 1472px 325px '../../static/img/spritesheet.png'
$s-payment-x: 708px
$s-payment-y: 131px
$s-payment-offset-x: -708px
$s-payment-offset-y: -131px
$s-payment-width: 62px
$s-payment-height: 44px
$s-payment-total-width: 1472px
$s-payment-total-height: 325px
$s-payment-image: '../../static/img/spritesheet.png'
$s-payment: 708px 131px -708px -131px 62px 44px 1472px 325px '../../static/img/spritesheet.png'
$s-reception-x: 580px
$s-reception-y: 131px
$s-reception-offset-x: -580px
$s-reception-offset-y: -131px
$s-reception-width: 62px
$s-reception-height: 46px
$s-reception-total-width: 1472px
$s-reception-total-height: 325px
$s-reception-image: '../../static/img/spritesheet.png'
$s-reception: 580px 131px -580px -131px 62px 46px 1472px 325px '../../static/img/spritesheet.png'
$s-reception_hover-x: 1407px
$s-reception_hover-y: 67px
$s-reception_hover-offset-x: -1407px
$s-reception_hover-offset-y: -67px
$s-reception_hover-width: 62px
$s-reception_hover-height: 46px
$s-reception_hover-total-width: 1472px
$s-reception_hover-total-height: 325px
$s-reception_hover-image: '../../static/img/spritesheet.png'
$s-reception_hover: 1407px 67px -1407px -67px 62px 46px 1472px 325px '../../static/img/spritesheet.png'
$s-serenity-x: 772px
$s-serenity-y: 131px
$s-serenity-offset-x: -772px
$s-serenity-offset-y: -131px
$s-serenity-width: 56px
$s-serenity-height: 38px
$s-serenity-total-width: 1472px
$s-serenity-total-height: 325px
$s-serenity-image: '../../static/img/spritesheet.png'
$s-serenity: 772px 131px -772px -131px 56px 38px 1472px 325px '../../static/img/spritesheet.png'
$s-simplicity-x: 1151px
$s-simplicity-y: 67px
$s-simplicity-offset-x: -1151px
$s-simplicity-offset-y: -67px
$s-simplicity-width: 62px
$s-simplicity-height: 54px
$s-simplicity-total-width: 1472px
$s-simplicity-total-height: 325px
$s-simplicity-image: '../../static/img/spritesheet.png'
$s-simplicity: 1151px 67px -1151px -67px 62px 54px 1472px 325px '../../static/img/spritesheet.png'
$s-talk-about-us-x: 580px
$s-talk-about-us-y: 0px
$s-talk-about-us-offset-x: -580px
$s-talk-about-us-offset-y: 0px
$s-talk-about-us-width: 892px
$s-talk-about-us-height: 65px
$s-talk-about-us-total-width: 1472px
$s-talk-about-us-total-height: 325px
$s-talk-about-us-image: '../../static/img/spritesheet.png'
$s-talk-about-us: 580px 0px -580px 0px 892px 65px 1472px 325px '../../static/img/spritesheet.png'
$s-trust-x: 1108px
$s-trust-y: 67px
$s-trust-offset-x: -1108px
$s-trust-offset-y: -67px
$s-trust-width: 41px
$s-trust-height: 60px
$s-trust-total-width: 1472px
$s-trust-total-height: 325px
$s-trust-image: '../../static/img/spritesheet.png'
$s-trust: 1108px 67px -1108px -67px 41px 60px 1472px 325px '../../static/img/spritesheet.png'
$s-trusting-association-gray-x: 290px
$s-trusting-association-gray-y: 0px
$s-trusting-association-gray-offset-x: -290px
$s-trusting-association-gray-offset-y: 0px
$s-trusting-association-gray-width: 288px
$s-trusting-association-gray-height: 185px
$s-trusting-association-gray-total-width: 1472px
$s-trusting-association-gray-total-height: 325px
$s-trusting-association-gray-image: '../../static/img/spritesheet.png'
$s-trusting-association-gray: 290px 0px -290px 0px 288px 185px 1472px 325px '../../static/img/spritesheet.png'
$s-trusting-association-x: 0px
$s-trusting-association-y: 0px
$s-trusting-association-offset-x: 0px
$s-trusting-association-offset-y: 0px
$s-trusting-association-width: 288px
$s-trusting-association-height: 185px
$s-trusting-association-total-width: 1472px
$s-trusting-association-total-height: 325px
$s-trusting-association-image: '../../static/img/spritesheet.png'
$s-trusting-association: 0px 0px 0px 0px 288px 185px 1472px 325px '../../static/img/spritesheet.png'
$s-vehicle-x: 950px
$s-vehicle-y: 67px
$s-vehicle-offset-x: -950px
$s-vehicle-offset-y: -67px
$s-vehicle-width: 40px
$s-vehicle-height: 60px
$s-vehicle-total-width: 1472px
$s-vehicle-total-height: 325px
$s-vehicle-image: '../../static/img/spritesheet.png'
$s-vehicle: 950px 67px -950px -67px 40px 60px 1472px 325px '../../static/img/spritesheet.png'
$s-vehicle_hover-x: 908px
$s-vehicle_hover-y: 67px
$s-vehicle_hover-offset-x: -908px
$s-vehicle_hover-offset-y: -67px
$s-vehicle_hover-width: 40px
$s-vehicle_hover-height: 60px
$s-vehicle_hover-total-width: 1472px
$s-vehicle_hover-total-height: 325px
$s-vehicle_hover-image: '../../static/img/spritesheet.png'
$s-vehicle_hover: 908px 67px -908px -67px 40px 60px 1472px 325px '../../static/img/spritesheet.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
