/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$s-btn-play-hover-x: 0px
$s-btn-play-hover-y: 206px
$s-btn-play-hover-offset-x: 0px
$s-btn-play-hover-offset-y: -206px
$s-btn-play-hover-width: 138px
$s-btn-play-hover-height: 138px
$s-btn-play-hover-total-width: 1468px
$s-btn-play-hover-total-height: 344px
$s-btn-play-hover-image: '../../static/img/spritesheet.png'
$s-btn-play-hover: 0px 206px 0px -206px 138px 138px 1468px 344px '../../static/img/spritesheet.png'
$s-btn-play-x: 140px
$s-btn-play-y: 206px
$s-btn-play-offset-x: -140px
$s-btn-play-offset-y: -206px
$s-btn-play-width: 138px
$s-btn-play-height: 138px
$s-btn-play-total-width: 1468px
$s-btn-play-total-height: 344px
$s-btn-play-image: '../../static/img/spritesheet.png'
$s-btn-play: 140px 206px -140px -206px 138px 138px 1468px 344px '../../static/img/spritesheet.png'
$s-calendar-x: 1326px
$s-calendar-y: 67px
$s-calendar-offset-x: -1326px
$s-calendar-offset-y: -67px
$s-calendar-width: 30px
$s-calendar-height: 32px
$s-calendar-total-width: 1468px
$s-calendar-total-height: 344px
$s-calendar-image: '../../static/img/spritesheet.png'
$s-calendar: 1326px 67px -1326px -67px 30px 32px 1468px 344px '../../static/img/spritesheet.png'
$s-euro-x: 1358px
$s-euro-y: 67px
$s-euro-offset-x: -1358px
$s-euro-offset-y: -67px
$s-euro-width: 18px
$s-euro-height: 24px
$s-euro-total-width: 1468px
$s-euro-total-height: 344px
$s-euro-image: '../../static/img/spritesheet.png'
$s-euro: 1358px 67px -1358px -67px 18px 24px 1468px 344px '../../static/img/spritesheet.png'
$s-payment-black-x: 762px
$s-payment-black-y: 67px
$s-payment-black-offset-x: -762px
$s-payment-black-offset-y: -67px
$s-payment-black-width: 60px
$s-payment-black-height: 60px
$s-payment-black-total-width: 1468px
$s-payment-black-total-height: 344px
$s-payment-black-image: '../../static/img/spritesheet.png'
$s-payment-black: 762px 67px -762px -67px 60px 60px 1468px 344px '../../static/img/spritesheet.png'
$s-payment-x: 1010px
$s-payment-y: 67px
$s-payment-offset-x: -1010px
$s-payment-offset-y: -67px
$s-payment-width: 60px
$s-payment-height: 60px
$s-payment-total-width: 1468px
$s-payment-total-height: 344px
$s-payment-image: '../../static/img/spritesheet.png'
$s-payment: 1010px 67px -1010px -67px 60px 60px 1468px 344px '../../static/img/spritesheet.png'
$s-pickup_logo-x: 1249px
$s-pickup_logo-y: 67px
$s-pickup_logo-offset-x: -1249px
$s-pickup_logo-offset-y: -67px
$s-pickup_logo-width: 43px
$s-pickup_logo-height: 53px
$s-pickup_logo-total-width: 1468px
$s-pickup_logo-total-height: 344px
$s-pickup_logo-image: '../../static/img/spritesheet.png'
$s-pickup_logo: 1249px 67px -1249px -67px 43px 53px 1468px 344px '../../static/img/spritesheet.png'
$s-pickup_logo_full-x: 1072px
$s-pickup_logo_full-y: 67px
$s-pickup_logo_full-offset-x: -1072px
$s-pickup_logo_full-offset-y: -67px
$s-pickup_logo_full-width: 175px
$s-pickup_logo_full-height: 55px
$s-pickup_logo_full-total-width: 1468px
$s-pickup_logo_full-total-height: 344px
$s-pickup_logo_full-image: '../../static/img/spritesheet.png'
$s-pickup_logo_full: 1072px 67px -1072px -67px 175px 55px 1468px 344px '../../static/img/spritesheet.png'
$s-pickup_logo_short_black-x: 1294px
$s-pickup_logo_short_black-y: 67px
$s-pickup_logo_short_black-offset-x: -1294px
$s-pickup_logo_short_black-offset-y: -67px
$s-pickup_logo_short_black-width: 30px
$s-pickup_logo_short_black-height: 41px
$s-pickup_logo_short_black-total-width: 1468px
$s-pickup_logo_short_black-total-height: 344px
$s-pickup_logo_short_black-image: '../../static/img/spritesheet.png'
$s-pickup_logo_short_black: 1294px 67px -1294px -67px 30px 41px 1468px 344px '../../static/img/spritesheet.png'
$s-pickup_logo_short_green-x: 1378px
$s-pickup_logo_short_green-y: 67px
$s-pickup_logo_short_green-offset-x: -1378px
$s-pickup_logo_short_green-offset-y: -67px
$s-pickup_logo_short_green-width: 18px
$s-pickup_logo_short_green-height: 24px
$s-pickup_logo_short_green-total-width: 1468px
$s-pickup_logo_short_green-total-height: 344px
$s-pickup_logo_short_green-image: '../../static/img/spritesheet.png'
$s-pickup_logo_short_green: 1378px 67px -1378px -67px 18px 24px 1468px 344px '../../static/img/spritesheet.png'
$s-pickup_logo_short_grey-x: 1398px
$s-pickup_logo_short_grey-y: 67px
$s-pickup_logo_short_grey-offset-x: -1398px
$s-pickup_logo_short_grey-offset-y: -67px
$s-pickup_logo_short_grey-width: 13px
$s-pickup_logo_short_grey-height: 17px
$s-pickup_logo_short_grey-total-width: 1468px
$s-pickup_logo_short_grey-total-height: 344px
$s-pickup_logo_short_grey-image: '../../static/img/spritesheet.png'
$s-pickup_logo_short_grey: 1398px 67px -1398px -67px 13px 17px 1468px 344px '../../static/img/spritesheet.png'
$s-serenity-black-x: 948px
$s-serenity-black-y: 67px
$s-serenity-black-offset-x: -948px
$s-serenity-black-offset-y: -67px
$s-serenity-black-width: 60px
$s-serenity-black-height: 60px
$s-serenity-black-total-width: 1468px
$s-serenity-black-total-height: 344px
$s-serenity-black-image: '../../static/img/spritesheet.png'
$s-serenity-black: 948px 67px -948px -67px 60px 60px 1468px 344px '../../static/img/spritesheet.png'
$s-serenity-x: 576px
$s-serenity-y: 67px
$s-serenity-offset-x: -576px
$s-serenity-offset-y: -67px
$s-serenity-width: 60px
$s-serenity-height: 60px
$s-serenity-total-width: 1468px
$s-serenity-total-height: 344px
$s-serenity-image: '../../static/img/spritesheet.png'
$s-serenity: 576px 67px -576px -67px 60px 60px 1468px 344px '../../static/img/spritesheet.png'
$s-simplicity-black-x: 886px
$s-simplicity-black-y: 67px
$s-simplicity-black-offset-x: -886px
$s-simplicity-black-offset-y: -67px
$s-simplicity-black-width: 60px
$s-simplicity-black-height: 60px
$s-simplicity-black-total-width: 1468px
$s-simplicity-black-total-height: 344px
$s-simplicity-black-image: '../../static/img/spritesheet.png'
$s-simplicity-black: 886px 67px -886px -67px 60px 60px 1468px 344px '../../static/img/spritesheet.png'
$s-simplicity-x: 824px
$s-simplicity-y: 67px
$s-simplicity-offset-x: -824px
$s-simplicity-offset-y: -67px
$s-simplicity-width: 60px
$s-simplicity-height: 60px
$s-simplicity-total-width: 1468px
$s-simplicity-total-height: 344px
$s-simplicity-image: '../../static/img/spritesheet.png'
$s-simplicity: 824px 67px -824px -67px 60px 60px 1468px 344px '../../static/img/spritesheet.png'
$s-talk-about-us-x: 576px
$s-talk-about-us-y: 0px
$s-talk-about-us-offset-x: -576px
$s-talk-about-us-offset-y: 0px
$s-talk-about-us-width: 892px
$s-talk-about-us-height: 65px
$s-talk-about-us-total-width: 1468px
$s-talk-about-us-total-height: 344px
$s-talk-about-us-image: '../../static/img/spritesheet.png'
$s-talk-about-us: 576px 0px -576px 0px 892px 65px 1468px 344px '../../static/img/spritesheet.png'
$s-trust-black-x: 700px
$s-trust-black-y: 67px
$s-trust-black-offset-x: -700px
$s-trust-black-offset-y: -67px
$s-trust-black-width: 60px
$s-trust-black-height: 60px
$s-trust-black-total-width: 1468px
$s-trust-black-total-height: 344px
$s-trust-black-image: '../../static/img/spritesheet.png'
$s-trust-black: 700px 67px -700px -67px 60px 60px 1468px 344px '../../static/img/spritesheet.png'
$s-trust-x: 638px
$s-trust-y: 67px
$s-trust-offset-x: -638px
$s-trust-offset-y: -67px
$s-trust-width: 60px
$s-trust-height: 60px
$s-trust-total-width: 1468px
$s-trust-total-height: 344px
$s-trust-image: '../../static/img/spritesheet.png'
$s-trust: 638px 67px -638px -67px 60px 60px 1468px 344px '../../static/img/spritesheet.png'
$s-trusting-association-gray-x: 288px
$s-trusting-association-gray-y: 0px
$s-trusting-association-gray-offset-x: -288px
$s-trusting-association-gray-offset-y: 0px
$s-trusting-association-gray-width: 286px
$s-trusting-association-gray-height: 204px
$s-trusting-association-gray-total-width: 1468px
$s-trusting-association-gray-total-height: 344px
$s-trusting-association-gray-image: '../../static/img/spritesheet.png'
$s-trusting-association-gray: 288px 0px -288px 0px 286px 204px 1468px 344px '../../static/img/spritesheet.png'
$s-trusting-association-x: 0px
$s-trusting-association-y: 0px
$s-trusting-association-offset-x: 0px
$s-trusting-association-offset-y: 0px
$s-trusting-association-width: 286px
$s-trusting-association-height: 204px
$s-trusting-association-total-width: 1468px
$s-trusting-association-total-height: 344px
$s-trusting-association-image: '../../static/img/spritesheet.png'
$s-trusting-association: 0px 0px 0px 0px 286px 204px 1468px 344px '../../static/img/spritesheet.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
