.subcategory
  &
    margin-top: px(35)


  &__list
    list-style-type: none
    padding: 0


  &__item
    color: $gray-dark
    font-weight: $fw-bold
    font-size: px(13)
    margin-top: 1.5em


  &__link
    &:hover
      text-decoration: none
      color: $brand-success
