table
  width: 100%
  border-collapse: collapse
  &.calendar
    font-size: px(13)
    thead td
      background-color: $gray-lighter
    tbody
      background-color: darken($gray-lite, 2%)
    tr:nth-of-type(2n)
      background-color: $gray-lite
    td
      padding: $indent-xs
      vertical-align: middle
      & + td
        border-left: 1px solid $gray-medium
      &.outages
        background-color: lighten($brand-danger, 35%)
      &.booking
        background-color: lighten($brand-success, 45%)
  &.bg-light
    tbody
      background-color: #fff
  &.bd-clear
    td
      border-left: none
  &.bd-wrap
    td
      border-left: none
    tr
      border: 1px solid $gray-medium
  &.bd-full
    td
      border: 1px solid $gray-medium
  .empty
    background: transparent !important
    border: transparent !important