.timeline
  background: url(../img/feed-line.png) repeat-y center center
  background-size: px(6) auto

  .btn
    font-weight: $fw-bold
    color: white
    padding: $indent-xs
    width: 50%

  h4
    font-size: px(20)
    text-transform: uppercase
    text-align: center
    font-style: italic
    font-weight: $fw-bold
    background-color: $gray-lite
    padding-top: .25em
    padding-bottom: .25em

.timeline-steps
  padding-left: 0
  list-style-type: none
  &.owner-column
    margin-right: $indent-sm
    .addons
      top: $indent-sm
      left: 100%
      margin-left: px(.5)
      i
        color: $brand-success
      b
        left: 0
        margin-left: px(-1)
        &:before
          left: 0
          border-color: transparent transparent transparent darken($gray-lighter, 3%)
        &:after
          left: px(-1)
          border-color: transparent transparent transparent white
  &.tenant-column
    margin-left: $indent-sm
    .addons
      bottom: $indent-sm
      right: 100%
      margin-right: px(.5)
      i
        color: $brand-primary
      b
        right: 0
        margin-right: px(-1)
        &:before
          right: 0
          border-color: transparent darken($gray-lighter, 3%) transparent transparent
        &:after
          right: px(-1)
          border-color: transparent white transparent transparent
  li
    position: relative

    border: px(1) solid
    border-radius: px(5)

    margin-bottom: $indent-sm
    padding: $indent-sm $indent-sm ($indent-sm * 2)

    background: white
    border-color: lighten($gray-lighter, 2%) darken($gray-lighter, 3%) darken($gray-lighter, 10%)
    box-shadow: 0 px(2) px(2) $gray-lighter
  h5
    font-weight: $fw-bold
    font-size: px(17)
    margin-top: 0
  p
    font-size:  px(13)
    line-height: $line-height-base
    color: $gray-strong
    margin-bottom: 0
  .toggle-content
    cursor: pointer
    position: absolute
    right: 0
    bottom: 0
    left: 0
    line-height: $indent-sm
    border-top: px(1) solid $gray-lighter
    text-align: center
    color: darken($gray-lighter, 10%)

  .addons
    position: absolute
    width: $indent-sm * 2 + $grid-gutter-width
    height: $indent-sm
    text-align: center
    i
      display: inline-block
      height: $indent-sm
      width: $indent-sm
      background-color: white
      border-radius: 50%
      border: $indent-sm * 0.35 solid
    b
      position: absolute
      top: 0
      &:before,
      &:after
        content: ""
        position: absolute
        border-width: $indent-xs
        border-style: solid
        top: 0
