@import bootstrap/variables
@import bootstrap/mixins
@import variables
@import sprites
@import mixins
@import src

@import header-site
@import modal
@import download-mobile-apps
@import footer-links
@import rss
@import timeline

section
  h3
    font-size: px(26)
    font-weight: $fw-light
    color: $gray-dark
    margin: 0 0 .5em
    line-height: 1.5