@import bootstrap/variables
@import bootstrap/mixins
@import variables
@import sprites
@import mixins
@import src

@import header-site
@import product-details-article
@import share-btns
@import main
@import aside
@import insurances
@import footer-links
@import rss
@import modal
@import carousel
@import spinner
@import progress_bar_for_verify_status

main
  ol
    padding-left: 0
    li
      margin-bottom: $grid-gutter-width
      &:hover
        .section-body
          box-shadow: 0 1px 1px rgba(0,0,0,.1)
      .section-body
        position: relative
        overflow: hidden
      .thumbnail-img
        background-color: $gray-lighter
        overflow: hidden
        position: relative
        .price
          position: absolute
          top: 0
          right: 0
          margin-top: $indent-xs
          margin-right: $indent-xs
        a
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          +default-product
        img
          min-height: 100%
          min-width: 100%
          position: absolute
        .fog
          position: absolute
          width: 100%
          height: 100%
          top: 0
          left: 0
          z-index: 10
      .info
        position: relative
        display: table-cell
        max-width: 0
        width: 100%
        vertical-align: middle
        p
          color: $gray-medium
          font-weight: $fw-semibold
          +empty-element()
      .declarer-container
        display: table-cell
      .declarer-thumbnail
        background-color: $gray-lighter
        width: 40px
        height: 40px
        overflow: hidden
        display: inline-block
      .badge-pro
        font-size: px(11,15)
        text-transform: uppercase
        display: inline-block
        background-color: $gray-medium
        color: white
        margin-left: 1em
        padding: .2em .4em
        font-weight: bolder
        line-height: 1
      .badge-order
        position: absolute
        top: 0
        left: 0
        background-color: $gray-dark
        background-color: rgba($gray-dark, .8)
        color: white
        font-weight: $fw-bold
        line-height: $line-height-base
        width: ($line-height-base*1em)
        text-align: center
      .sprite-comment
        color: white
        font-weight: $fw-semibold
        i
          margin: 0 .5em
          vertical-align: -0.2em
          display: inline-block
      .full_description
        max-height: (2em * $line-height-base)
        // > sky for blur overflow text
        &:before
          content: " "
          left: 0
          right: 0
          bottom: 0
          height: (1em * $line-height-base)
          background-image: linear-gradient(to bottom, rgba(255,255,255,0), white 90%)
          position: absolute

      .list-layout &
        +make-sm-column(12)
        display: table
        .thumbnail-img
          width: $list-img-wrapper-width
        .declarer-container
          padding: $indent-sm*$indent-vertical $indent-sm
          padding-left: 0
          width: 1%
          .btns
            position: absolute
            display: none
            bottom: 0
            right: 0
            margin: $indent-sm*$indent-vertical $indent-sm
            a
              margin-left: 1em
            i
              display: inline-block
              font-size: 1.1em
        .declarer-name
          display: table-cell
          font-size: px(13)
          color: transparent
          text-align: right
          padding-right: $indent-xs
          vertical-align: middle
          font-weight: $fw-semibold
        &:hover
          .declarer-name
            color: $gray-medium
          .fog
            +opacity(0)
          .btns
            display: block
        .declarer-thumbnail
          display: table-cell
        .info
          padding: $indent-xs $indent-sm
          h6
            font-weight: $fw-bold
            font-size: px(15)
          p
            font-size: px(13)
            margin: $indent-xs 0
        .thumbnail-img,
        .info
          display: table-cell
          vertical-align: middle
        .info
          width: auto
          max-width: none
        .sprite-comment 
          color: $gray-medium
          i
            font-size: 1.1em

.owner-headline
  .round-img
    width: $thumbnail-lg
    height: $thumbnail-lg
    +default-user
    img
      width: 100%
      height: 100%