@import bootstrap/variables
@import bootstrap/mixins
@import variables
@import sprites
@import mixins
@import src

@import header-site
@import product-details-article
@import main
@import aside
@import insurances
@import footer-links
@import rss
@import modal
@import pagination
@import product-layout

.owner-headline
  .round-img
    width: $thumbnail-lg
    height: $thumbnail-lg
    +default-user
    img
      width: 100%
      height: 100%
