@import bootstrap/variables
@import bootstrap/mixins
@import variables
@import sprites
@import mixins
@import src

@import header-site
@import rss
@import footer-links
@import modal
@import timeline

h3
  font-size: 1.5em !important
  line-height: $line-height-base

.logo-wripper,
.timeline-steps
  display: table-cell
  max-width: 0
  vertical-align: middle

.logo-wripper
  min-width: 100px
  text-align: center
  font-size: 4em
  color: $gray-medium
  max-width: none

.timeline-steps
  width: 100%
  padding-left: $indent-lg
  > li
    width: 100%
    padding-bottom: $indent
    margin-bottom: 0 !important
    cursor: pointer

  .addons
    bottom: 50% !important
    margin-bottom: -$indent-xs
    i
      color: $gray-strong !important

.press-logo
  +default-product
  position: relative
  padding-top: 100%
  display: block
  img
    +centred-abs
    background-size: cover
    background-position: center center

.press-release
  background: url(../img/feed-line.png) repeat-y
  background-size: 6px auto
  background-position: (95px + $indent-lg/2)
  .table + .table
    margin-top: $indent-md

.text-overflow
  +text-overflow