-load i18n
section.tabs-vertical-active.lg(ng-show="(bookingList && bookingList.length > 0) || filtered")
  .section-header
    .row
      .col-xs-8.tabs-horisontal-active
        ul.list-without-spaces.fixed
          li.divider
          li.tab-horisontal(ng-click="filterByBoth()", id="filter-Tous"): h3.small {% trans "Tous" %}
          li.divider
          li.tab-horisontal(ng-click="filterByOwner()", id="filter-Propriétaires"): h3.small {% trans "Propriétaires" %}
          li.divider
          li.tab-horisontal(ng-click="filterByBorrower()", id="filter-Locataires"): h3.small {% trans "Locataires" %}
      .col-xs-4.indent-xs-t
        .select-gradient.without-search
          select#stateFilterSelect(name="stateFilter", ng-model="stateFilter", ng-change="filterByState()")
              option(value="") {% trans "Tous" %}
              option(ng-repeat="state in stateList", value="{% verbatim %}{{state}}{% endverbatim %}") {% verbatim %}{{state | translate}}{% endverbatim %}

  ul.scrollbar-custom(eloue-lazy-load, lazy-data="bookingList", lazy-data-provider="BookingsService", lazy-load-method="getBookingList")
      //- we should use class="soon" or class=="in-progress" or class="completed" in the line below
      li.tab-vertical.block-with-thumbnail(ng-repeat="booking in bookingList track by booking.uuid", id="booking-{% verbatim %}{{booking.uuid}}{% endverbatim %}", ui-sref="bookings.detail({uuid: booking.uuid})", class="{% verbatim %}{{booking.state}}{% endverbatim %}", ng-class="{current: isItemSelected('booking-', booking.uuid)}")
        .col-thumbnail
          .thumbnail
            a(ui-sref="bookings.detail({uuid: booking.uuid})").lg-p: img(style="background-image: url({% verbatim %}{{booking.picture}}{% endverbatim %});")
            span(translate="{% verbatim %}{{booking.state}}{% endverbatim %}").booking-bage
        .col-exposition
          h3.small
            | {% trans "Location" %}
            a(ui-sref="bookings.detail({uuid: booking.uuid})") {% verbatim %}{{booking.product.summary}}{% endverbatim %}
          p.normal.text-gray
            big.text-primary {% verbatim %}{{booking.total_amount}}{% endverbatim %}€
            br
            | {% trans "Du" %} {% verbatim %}{{booking.start_date.day}}{% endverbatim %} &nbsp;
            span(translate="{% verbatim %}{{booking.start_date.month}}{% endverbatim %}")
            | {% verbatim %}{{booking.start_date.year}}{% endverbatim %}
            | {% trans "au" %} {% verbatim %}{{booking.end_date.day}}{% endverbatim %} &nbsp;
            span(translate="{% verbatim %}{{booking.end_date.month}}{% endverbatim %}")
            | {% verbatim %}{{booking.end_date.year}}{% endverbatim %}
