-load i18n
section.pull-nothing
  .notification-empty
    .notification-container
      i(class="{% verbatim %}{{routeChangeInProgress ? 'loading' : ''}}{% endverbatim %}").icon-5x.indent-sm-b.flaticon.stroke.calendar-5
      h2(ng-show="!routeChangeInProgress") {% trans "Aucune réservation sélectionnée" %}