.container.indent-t-md.indent-b-md
  .row
    .col-sm-6: .mark-wrapper.indent-r-sm
      h3.text-white
        b אני 
        b.text-success הבעלים/המשכיר, 
        br
        b יש לי חפצים/נכסים שאנ,
        b יכול להשכיר וכך להרוויח כסף !
    .col-sm-6: .mark-wrapper.indent-l-sm
      h3.text-white
        b אני 
        b.text-primary שוכר,
        br
        b אני יכול לשכור במקום 
        b לקנות וכך לחסוך כסף!
