.aside
	.section
		width: 100%
		font-size: px($section-fz)
		margin-bottom: $grid-gutter-width*.5
		border-bottom: px(1) solid darken($gray-lighter,10%)
		+border-bottom-radius($section-bd-rad)
		.section-header
			+border-top-radius($section-bd-rad)
			background-color: $brand-primary
			padding: $section-pad
			& + .section-body
				+border-top-radius(0)

		h4
			color: white
			font-weight: $fw-bold
			font-size: 1em
			margin: 0
		h5
			margin: 0
			font-size: 1em
			font-weight: $fw-bold
			color: $brand-success
		.section-body
			background-color: white
			border: px(1) solid $gray-lighter
			border-top-width: 0
			+border-top-radius($section-bd-rad)
			+border-bottom-radius($section-bd-rad)
			p,
			li
				color: $gray-strong
				font-weight: $fw-semibold
				&.price
					color: $gray-dark
					font-size: px(16, $section-fz)
					big
						font-size: px(23, 16)

			small
				font-size: px(11, $section-fz)
			big
				font-size: px(26, $section-fz)

			.part
				border-top: px(1) solid $gray-lighter
				padding: $section-pad
				&:first-child
					border-top: none
			.available
				color: $brand-success
				&:before
					font-family: "FontAwesome"
					content: "\f00c"
					font-size: .7em
					display: inline-block
					text-align: center
					width: 2em
					height: 2em
					line-height: 2em
					margin-right: 1em
					+border-radius(50%)
					background-color: $brand-success
					color: white
				&.unavailable
					color: $brand-danger
					&:before
						background-color: $brand-danger
						content: "\f00d"

		.chosen-container,
		.form-control,
		.input-group-addon
			color: $gray-dark
			font-weight: $fw-semibold
			background-color: transparent
			border-width: 0
			box-shadow: none
			font-size: px(13, $section-fz)
		.form-control
			width: 8em

		.calendar
			position: relative
			span
				+centred-abs()
				+sprite($s-calendar)

		.chosen-container
			display: block
			width: auto !important
			padding: 5px 0
			.chosen-single
				height: auto
				background: $gray-lighter
				background: linear-gradient(to bottom, white, $gray-lite 70%)
				border-width: 0
				box-shadow: none
			.chosen-drop
				border-color: $gray-lighter
				border-width: px(1)
				background-color: white
			.chosen-search
				display: none
			.chosen-results li.highlighted,
			.chosen-results li.result-selected
				background: $brand-primary

		.btn
			+btn(px(14,$section-fz))
			margin-bottom: $section-pad
			span
				display: inline-block
				margin-right: 1em
				vertical-align: middle
			&.calendar-ok
				span
					+sprite($s-calendar-ok)
			&.call
				span
					+sprite($s-call)
			&.send-message
				span
					+sprite($s-mail)

	.owner-information
		.block-thumbnail
			+block-with-thumbnail(px(80, $section-fz), 50%)

		.connection
			.friend-photo-wrapper
				display: inline-block
				*display: inline
				*zoom: 1
				+mrg-r(1)
				+mrg-b(1)
				width: px(30, $section-fz)
				height: px(30, $section-fz)
				line-height: px(30, $section-fz)
				img
					height: 100%
					width: 100%
			p
				display: inline-block
				*display: inline
				*zoom: 1
				a
					color: lighten($brand-info, 15%)
					font-weight: bolder
	.similar-listing
		li
			+block-with-thumbnail(px(80, $section-fz), $section-bd-rad)
			h6
				color: $gray-dark
				margin-top: .5em
			p
				margin: .25em 0 .5em !important
	.connected-with-owner
		p
			margin: 1em 0 0
		.facebook-box
			background-color: $brand-info
			color: $brand-info
			display: inline-block
			*display: inline
			*zoom: 1
			margin-bottom: $section-pad
			+border-top-radius($section-bd-rad)
			+border-bottom-radius($section-bd-rad)
			span
				display: inline-block
				*display: inline
				*zoom: 1
				background-color: white
				line-height: 1.1em
				width: 1.1em
				margin: .2em
				font-size: px(45)
