=centred-abs()
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto

=social($width)
	span
		display: inline-block
		width: $width
		height: $width
		line-height: $width


=block-with-thumbnail($img-width: px(80), $bd-rad: $section-bd-rad, $pad: $section-pad)
	margin-top: $pad
	&:first-child
		margin-top: 0
	.thumbnail-img
		display: table-cell
		vertical-align: top
		a
			display: block
			overflow: hidden
			width: $img-width
			height: $img-width
			+border-top-radius($bd-rad)
			+border-bottom-radius($bd-rad)
			img
				width: 100%
				height: 100%
	.thumbnail-content
		display: table-cell
		vertical-align: top
		padding-left: $pad
		p
			margin-bottom: 0


=mrg-t($i)
	margin-top: ($i / 2 * 1em) !important

=mrg-r($i)
	margin-right: ($i / 2 * 1em) !important

=mrg-b($i)
	margin-bottom: ($i / 2 * 1em) !important

=mrg-l($i)
	margin-left: ($i / 2 * 1em) !important

=pad-t($i)
	padding-top: ($i / 2 * 1em) !important

=pad-r($i)
	padding-right: ($i / 2 * 1em) !important

=pad-b($i)
	padding-bottom: ($i / 2 * 1em) !important

=pad-l($i)
	padding-left: ($i / 2 * 1em) !important


=btn($fz: px(14), $bor-rad: px(3))
	font-size: $fz
	display: block
	width: 100%
	text-align: center
	font-weight: $fw-bold
	color: white
	padding: .8em 0
	+border-left-radius($bor-rad)
	+border-right-radius($bor-rad)
	&.info
		background-color: $brand-info
		&:hover
			background-color: darken($brand-info, 10%)
	&.danger
		background-color: $brand-danger
		&:hover
			background-color: darken($brand-danger, 10%)
	&.success
		background-color: $brand-success
		&:hover
			background-color: darken($brand-success, 10%)
	&.gray
		background-color: $gray-strong
		&:hover
			background-color: darken($gray-strong, 10%)