=centred-abs()
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	margin: auto

=social($width)
	span
		display: inline-block
		width: $width
		height: $width
		line-height: $width

=mrg-t($i)
	margin-top: ($i / 2 * 1em) !important

=mrg-r($i)
	margin-right: ($i / 2 * 1em) !important

=mrg-b($i)
	margin-bottom: ($i / 2 * 1em) !important

=mrg-l($i)
	margin-left: ($i / 2 * 1em) !important

=pad-t($i)
	padding-top: ($i / 2 * 1em) !important

=pad-r($i)
	padding-right: ($i / 2 * 1em) !important

=pad-b($i)
	padding-bottom: ($i / 2 * 1em) !important

=pad-l($i)
	padding-left: ($i / 2 * 1em) !important
