.modal
	$bor-rad: px(3)
	$item-width: 52%
	.modal-dialog
		+mrg-t(8)
		width: $modal-width
	.modal-content
		+box-shadow(none)
		border-color: transparent
		border: none
		+border-left-radius(0)
		+border-right-radius(0)
	.modal-header
		background-color: $brand-primary
		color: white
	.modal-title
		font-size: px(17)
		font-weight: $fw-regular
		color: inherit
	.close
		font-size: px(21)
		color: inherit
		text-shadow: none
		background-color: $fog-light
		padding: .2em .4em
		+border-left-radius($bor-rad)
		+border-right-radius($bor-rad)
		+opacity(1)
		&:hover
			background-color: $fog-lighter
	.modal-body
		+pad-t(6)
		+pad-b(6)
		padding-left: 0
		color: $gray-strong
		padding-right: 0
		font-weight: $fw-semibold
	.btn
		+btn()
		+social(1.2em)
		span
			+border-left-radius($bor-rad/2)
			+border-right-radius($bor-rad/2)
			background-color: white
			+mrg-r(2)
		&.info span
			color: $brand-info
		&.danger span
			color: $brand-danger
	p
		font-size: px(12)
		margin-top: 1.5em
		color: inherit
		&.info:before
			text-align: center
			content: "i"
			display: inline-block
			margin-right: 1em
			font-weight: bold
			border: px(3) solid $gray-strong
			border-radius: 50%
			line-height: 1.1em
			vertical-align: top
			width: 1.5em
			height: 1.5em
	h4
		font-size: px(17)
	.checkbox
		font-size: px(12)
		margin: 0
	.modal-fotter-link
		color: $brand-success
		font-size: px(17)
		font-weight: $fw-regular
	.or
		$width: 2.5em
		$height: 1em
		position: relative
		display: block
		margin: px(30) 0
		border-top: px(1) solid $gray-lighter
		color: inherit
		font-weight: $fw-semibold
		&:before
			background-color: white
			width: $width
			font-size: px(12)
			content: "ou"
			text-transform: uppercase
			position: absolute
			left: 50%
			line-height: $height
			top: -($height / 2)
			margin-left: -($width / 2)
	.form-group
		margin: 1.5em auto
		clear: both
		width: $item-width
		+center-block()
		input
			color: inherit
			height: 3em
			padding-top: .6em
			+placeholder(inherit)
	.forgot-password
		font-size: px(12)
		min-height: 20px
		a
			color: inherit

	input[type="text"],
	input[type="email"],
	input[type="password"]
		&:invalid,
		&:empty
			border-color: $brand-primary
		&:valid
			border-color: $brand-success

