$font-family-base: 'Open Sans'

$brand-primary: rgb(242,126,54)
$brand-success: rgb(36,189,119)

$gray-dark: rgb(44,44,44)
$gray-light: lighten(#000, 46.7%)
$gray-lighter: lighten(#000, 93.5%)

$gray-strong: lighten($gray-light, 15%)
$gray-medium: lighten($gray-light, 30%)
$gray-lite: lighten($gray-lighter, 5%)

$smoke-lite: rgba(black,.1)
$smoke-lighter: rgba(black,.2)
$smoke-light: rgba(black,.3)
$smoke-medium: rgba(black,.4)
$smoke-strong: rgba(black,.5)

$fog-lite: rgba(white, .1)
$fog-lighter: rgba(white, .2)
$fog-light: rgba(white, .3)

//font-weight
$fw-light: 300
$fw-regular: 400
$fw-semibold: 600
$fw-bold: 700

$banner-height: px(425)
$video-width: px(470)