.banner
	position: relative
	img
		width: 100%
	.banner-content
		top: 0
		left: 0
		width: 100%
		position: absolute
		text-transform: uppercase
		color: white
		text-align: center
		p
			margin: 0
			padding: 2.3em 0 .65em
			font-weight: 300
			font-size: 39px
			letter-spacing: .06em
		a
			letter-spacing: .06em
			text-transform: inherit
			font-size: 15px
			font-weight: 700
			background-color: transparent
			color: inherit
			border: 2px solid white
			padding: 1.2em 2em
			display: inline-block
			border-radius: 3px
			&:hover
				text-decoration: none
				// border-color: $brand-primary
				background-color: rgba(0,0,0,.1)
