.banner-wraper
	+content_align_width()
	padding: 0

	img
		position: relative
		width: 100%
	.banner-content
		top: 0
		left: 0
		width: 100%
		position: absolute
		text-transform: uppercase
		color: white
		text-align: center
		letter-spacing: .06em
	.banner-text
		margin: 0
		padding: 2.3em 0 .65em
		+fz(39)
		font-weight: 300
	.banner-link
		+fz(15)
		font-weight: 700
		border: 2px solid white
		padding: 1.2em 2em
		display: inline-block
		+border-radius(3px)