$orange: rgb(242,126,54)
$green: rgb(36,189,119)
$black: rgb(44,44,44)
$dark_gray: rgb(101,101,101)
$gray: rgb(211,211,211)
$light_gray: rgb(241,241,241)
$clouds: rgb(251,251,251)

$smoke: rgba(0,0,0,.1)