.footer-links
	padding: 3em 0
	.ul-wrapper
		vertical-align: top
	.centering
		display: inline-block
	.link-wrapper
		margin: .5em 0
		a
			padding: 0 !important
			color: $gray-dark
			font-weight: 600
			font-size: 13px
			&:hover
				background-color: transparent
				color: $brand-success
