header
	.top ul
		color: $gray-light
		font-size: 12px
		font-weight: 600
		margin: 10px 0

	.middle
		padding: 1.3em 0
		font-size: 14px
		.btn-success
			width: 100%
		+framing()
		.logo-wrapper
			img
				margin-top: 5px
		.form-control
			position: relative
			height: auto
			font-weight: 700
			padding: .7em
			&.what-field
				width: 60%
				border-right: none
				color: $brand-success
				+placeholder($brand-success)
				border-color: $gray-medium
		.where-field-wrapper
			border-radius: 0
			.sprite-location
				position: absolute
				top: 0
				bottom: 0
				left: 1em
				margin: auto
				z-index: 50
				+sprite($s-location-pin)
			.where-field
				padding-left: 3em
				border-color: $gray-medium $gray-lighter
				border-radius: 0
				width: 100%
				color: $gray-strong
				+placeholder($gray-strong)
				font-weight: 600
		.icon-search:before
			color: $gray-strong
			font-size: 1.2em
		.form-control,
		.btn
			height: 3em
		.btn-search
			border-left: none

	.bottom
		a
			padding-top: 1em
			padding-bottom: 1em
			font-size: 13px
			font-weight: 600
			color: $gray-dark
