header
	.top ul
		color: $gray-light
		font-size: 12px
		font-weight: 600
		margin: 10px 0

	.middle
		border: 1px solid $gray-lighter
		border-width: 1px 0
		padding: 1.3em 0
		font-size: 14px
		.logo-wrapper
			img
				margin-top: 5px
		.btn-success
			font-weight: 700
			border-color: $brand-success
			width: 100%
		.form-control
			position: relative
			height: auto
			font-weight: 700
			&.what-field
				width: 60%
				border-right: none
				color: $brand-success
				+placeholder($brand-success)
				border-color: lighten($gray-light, 30%)
		.where-field-wrapper
			border-radius: 0
			.sprite-location
				position: absolute
				top: 0
				bottom: 0
				left: 1em
				margin: auto
				z-index: 5
				+sprite($s-location-pin)
			.where-field
				padding-left: 3em
				border-color: lighten($gray-light, 30%) $gray-lighter
				border-radius: 0
				width: 100%
				color: lighten($gray-light, 15%)
				+placeholder(lighten($gray-light, 15%))
				font-weight: 600
		.icon-search:before
			color: lighten($gray-light, 15%)
			font-size: 1.2em
		.form-control,
		.btn
			padding: .8em
			height: 3em
		.btn-search
			border-left: none

	.bottom
		background-color: lighten($gray-lighter, 5%)
		a
			padding-top: 1em
			padding-bottom: 1em
			font-size: 13px
			font-weight: 600
			color: $gray-dark
