.header-item-wrapper
	+stretch_equally()

.header-top
	$h: 3.1em
	$fz: ( 12em / 16 )
	font-size: $fz
	line-height: $h
	height: $h
	color: $dark_gr
	.header-item-wrapper
		+content_align_width($fz)
	.dividing-line
		border-right: 1px solid $light_gr
		height: 1em
	a
		color: $orng

.header-middle
	$h: 5em
	border: 1px solid $light_gr
	border-width: 1px 0
	line-height: $h
	height: $h
	.header-item-wrapper
		+content_align_width( 1em )
	a
		display: inline-block
		img
			display: block
			position: relative
			top: .9em

$fz: ( 14em / 16 )
$br: 3px
.header-search
	font-size: $fz
	form
		display: inline-block
		margin: 1.1em 0 -1.1em
		> *
			float: left
			position: relative
		input
			font-size: 1em
			display: block
			font-weight: 700
			border: 1px solid $gr
			padding: 1em
			background-color: transparent
			margin: 0
			line-height: 1em
			height: 1em
			+border-radius($br)
			&[ name = "what_field" ]
				+border-radius($br 0 0 $br)
				color: $grn
				border-right: none
				width: 20.5em
			&[ name = "where_field" ]
				+border-radius(0)
				width: 11.5em
				color: $med_gr
				border-color: $gr $light_gr
				padding-left: 2.6em
				&:focus + .icon,
				&:hover + .icon,
					color: $med_gr
			&[ name = "search_header" ]
				+border-radius(0 $br $br 0)
				border-left: none
				width: 1em
				font-family: "fontello"
			& + .icon
				color: $med_gr
				font-size: 1.2em
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				transition: color .3s
				cursor: pointer
				&.location
					color: $gr
					//font-size: 1.2em
					width: 2em
				&.search:hover
					color: $dark_gr
				&:before
					display: block
					position: absolute
					top: 33%
					left: 20%

.header-publish-ads
	button
		font-size: $fz
		+border-radius($br)
		line-height: 1.5em
		padding: .8em 1.8em .6em
		background-color: $grn
		font-weight: bold
		color: white

.header-bottom
	$h: 3.45em
	$fz: ( 13em / 16 )
	background-color: $clouds
	color: $black
	font-size: $fz
	line-height: $h * .9
	height: $h
	.header-item-wrapper
		+content_align_width($fz)