.insurances-blocks-wrapper
	+stretch_equally()
	+content_align_width(1em)
	overflow: hidden
	margin-bottom: 1.25em

.block
	line-height: 1.4em
	text-align: center
.dividing-line
	position: relative
	width: 1px
	height: 1px
	&:before
		content: ""
		width: 100%
		height: 500px
		position: absolute
		background-color: $light_gr
		bottom: 0
	&:first-child
		display: none

.insurances
	&.serenity
		.insurances-img
			background-position: 0 ( -60em / 16 )
	&.simplicity
		.insurances-img
			background-position: 0 ( -120em / 16 )
	&.trust
		.insurances-img
			background-position: 0 ( -180em / 16 )

.insurances-img
	display: block
	width: ( 62em / 16 )
	height: ( 60em / 16 )
	margin: 0 auto
	background: url("../img/sprite.png") no-repeat center top
	background-size: 100%

.insurances-content-title
	+fz(14)
	color: $black
	margin: 1.5em 0 0

.insurances-content-description
	+fz(13)
	color: $med_gr
	font-weight: 600

