.nav-justified
	text-align: center
	white-space: nowrap
	overflow: hidden
	.divide
		position: relative
		&:first-child
			display: none !important
		&:before
			content: ''
			position: absolute
			display: block
			top: 0
			left: 50%
			height: 500px
			width: 1px
			background-color: $gray-lighter