$orng: rgb(242,126,54)
$grn: rgb(36,189,119)
$black: rgb(44,44,44)
$dark_gr: rgb(101,101,101)
$med_gr: rgb(163,163,163)
$gr: rgb(211,211,211)
$light_gr: rgb(241,241,241)
$clouds: rgb(251,251,251)

$smoke: rgba(0,0,0,.1)