.professional-renter-content
	.container
		padding-bottom: 3em !important
	.img-wrapper
		margin-top: 4.5em
		text-align: right
		a
			display: inline-block
			+sprite($s-trusting-association-gray)
			&:hover
				+sprite($s-trusting-association)

