/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$s-btn-play-hover-x: 0px
$s-btn-play-hover-y: 0px
$s-btn-play-hover-offset-x: 0px
$s-btn-play-hover-offset-y: 0px
$s-btn-play-hover-width: 138px
$s-btn-play-hover-height: 138px
$s-btn-play-hover-total-width: 278px
$s-btn-play-hover-total-height: 200px
$s-btn-play-hover-image: '../img/spritesheet.png'
$s-btn-play-hover: 0px 0px 0px 0px 138px 138px 278px 200px '../img/spritesheet.png'
$s-btn-play-x: 140px
$s-btn-play-y: 0px
$s-btn-play-offset-x: -140px
$s-btn-play-offset-y: 0px
$s-btn-play-width: 138px
$s-btn-play-height: 138px
$s-btn-play-total-width: 278px
$s-btn-play-total-height: 200px
$s-btn-play-image: '../img/spritesheet.png'
$s-btn-play: 140px 0px -140px 0px 138px 138px 278px 200px '../img/spritesheet.png'
$s-location-pin-x: 229px
$s-location-pin-y: 140px
$s-location-pin-offset-x: -229px
$s-location-pin-offset-y: -140px
$s-location-pin-width: 14px
$s-location-pin-height: 16px
$s-location-pin-total-width: 278px
$s-location-pin-total-height: 200px
$s-location-pin-image: '../img/spritesheet.png'
$s-location-pin: 229px 140px -229px -140px 14px 16px 278px 200px '../img/spritesheet.png'
$s-payment-x: 107px
$s-payment-y: 140px
$s-payment-offset-x: -107px
$s-payment-offset-y: -140px
$s-payment-width: 62px
$s-payment-height: 44px
$s-payment-total-width: 278px
$s-payment-total-height: 200px
$s-payment-image: '../img/spritesheet.png'
$s-payment: 107px 140px -107px -140px 62px 44px 278px 200px '../img/spritesheet.png'
$s-serenity-x: 171px
$s-serenity-y: 140px
$s-serenity-offset-x: -171px
$s-serenity-offset-y: -140px
$s-serenity-width: 56px
$s-serenity-height: 38px
$s-serenity-total-width: 278px
$s-serenity-total-height: 200px
$s-serenity-image: '../img/spritesheet.png'
$s-serenity: 171px 140px -171px -140px 56px 38px 278px 200px '../img/spritesheet.png'
$s-simplicity-x: 43px
$s-simplicity-y: 140px
$s-simplicity-offset-x: -43px
$s-simplicity-offset-y: -140px
$s-simplicity-width: 62px
$s-simplicity-height: 54px
$s-simplicity-total-width: 278px
$s-simplicity-total-height: 200px
$s-simplicity-image: '../img/spritesheet.png'
$s-simplicity: 43px 140px -43px -140px 62px 54px 278px 200px '../img/spritesheet.png'
$s-trust-x: 0px
$s-trust-y: 140px
$s-trust-offset-x: 0px
$s-trust-offset-y: -140px
$s-trust-width: 41px
$s-trust-height: 60px
$s-trust-total-width: 278px
$s-trust-total-height: 200px
$s-trust-image: '../img/spritesheet.png'
$s-trust: 0px 140px 0px -140px 41px 60px 278px 200px '../img/spritesheet.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
