input#sourse
	position: fixed
	z-index: 100000
input#sourse + #sourse-img
	overflow: hidden
	opacity: 0
	position: absolute
	transition: opacity 1s, z-index 0s 1s
	width: 100%
	z-index: -1
	//height: 0
	img
		display: block
		margin: 0 auto
		//display: none

input#sourse:checked + #sourse-img
	transition: opacity 1s
	opacity: 1
	z-index: 10000
	height: auto