@import variable
@import sprites
@import bootstrap
@import src
@import header
@import banner
@import insurances
@import nav-justified

.null
	padding: 0 !important

input
	box-shadow: none !important
=placeholder($color)
	&::-moz-placeholder,
	&:-moz-placeholder
		color: $color !important
	&::-webkit-input-placeholder
		color: $color !important
	&:-ms-input-placeholder
		color: $color !important
