// $grid-columns: 12
// $grid-gutter-width: 30px
// $grid-float-breakpoint: 768px

$font-family-base: 'Open Sans'
// $icon-font-path: "../fonts/glyphicons/"

$brand-primary: rgb(242,126,54)
$gray-dark: rgb(44,44,44)

$brand-success: rgb(36,189,119)

// $gray-light: rgb(241,241,241)