$grid-columns: 12
// $grid-gutter-width: 30px
// $grid-float-breakpoint: 768px

$font-family-base: 'Open Sans'

$brand-primary: rgb(242,126,54)
$brand-success: rgb(36,189,119)

$gray-dark: rgb(44,44,44)
$gray-light: lighten(#000, 46.7%)
$gray-lighter: lighten(#000, 93.5%)

$gray-strong: lighten($gray-light, 15%)
$gray-medium: lighten($gray-light, 30%)
$gray-lite: lighten($gray-lighter, 5%)

$smoke-lite: rgba(0,0,0,.1)
$fog-lite: rgba(white, .1)
$fog-lighter: rgba(white, .2)
$fog-light: rgba(white, .3)

//font-weight
$light: 300
$regular: 400
$semibold: 600
$bold: 700