.container.indent-v-md
  .social-dounr-btns
    a(href="#").flaticon.social.twitter
    a(href="#").flaticon.social.facebook
  .indent-t-md
    p: b
      | You are receiving this message because
      a(href="mailto:sitporta@gmail.com").text-secondary sitporta@gmail.com
      | is a member of GoSport Location.
      a(href="#").text-secondary Unsubscribe
    address: b Address goes here 0466 Paris, France
