.dialog-scroll-container
    .dialog-container(scroll-bottom="productRelatedMessages")
        div.text.text-success.text-underline-hover(ng-show="threadId && hasNextPage")
          a(href="/dashboard/#/messages/{% verbatim %}{{threadId}}{% endverbatim %}", translate="getAllMessages")
        .message(ng-repeat="message in productRelatedMessages | orderBy:'sent_at'", class="{% verbatim %}{{(product.owner.id == message.sender.id ? 'from-declarer' : 'from-customer')}}{% endverbatim %}")
            div(ng-if="product.owner.id == message.sender.id").thumbnail-img
                a(href="{% verbatim %}{{message.sender.url}}{% endverbatim %}"): img(style="background-image: url({% verbatim %}{{ message.sender.avatar.thumbnail }}{% endverbatim %})").bg-image
            .thumbnail-content
                .thumbnail-frame
                    h4 {% verbatim %}{{message.sender.username}}{% endverbatim %}
                    p(style="white-space: pre-line;", ng-bind="message.body")
                p.time {% verbatim %} {{ 'MESSAGE_SENT_AT' | translate:{date:message.sent_at} }} {% endverbatim %}
            div(ng-if="product.owner.id != message.sender.id").thumbnail-img
                a(href="{% verbatim %}{{message.sender.url}}{% endverbatim %}"): img(style="background-image: url({% verbatim %}{{ message.sender.avatar.thumbnail }}{% endverbatim %})").bg-image
