-load i18n

section(ng-controller="SendProMessageCtrl", ng-init="setUserId({% verbatim %}{{ patron.id }}{% endverbatim %})")
    div(ng-show="isSent")
      h4(style="position: relative;").text-success.indent-l-md
        i.flaticon.solid.checkmark-2.icon-li
        | {% trans "Demande de devis envoyé" %}
      {% blocktrans %}
      p
        | Votre demande de devis vient d’être envoyée.
      p
        | Nos équipes font le nécessaire pour que le loueur vous
        | réponde dans les 24 heures, afin de confirmer votre
        | location.
      p
        | Vous n’avez rien à payer sur e-loue, le paiement se fera
        | directement chez le loueur.
      p
        | Nous vous remercions pour votre confiance et  restons à
        | votre disposi;on si vous avez des questions.
      p
        | L’équipe e-loue
      {% endblocktrans %}
    div(ng-show="!isSent")
      h4
        b {% trans "N’hésitez pas à nous écrire" %}
        {% trans "via le formulaire ci‐dessous, nous nous ferons un plaisir de répondre à toutes vos questions..." %}

      form(name="proMessageForm", novalidate)#proMessageForm.form-wrapper
        input(name="email", type="email", data-ng-model="message.email", placeholder="{% trans 'Votre adresse e‐mail' %} *", required).form-control.indent-t-md
        span.text-danger(ng-show="proMessageForm.email.$error.required && formSubmitted", translate="required_field")
        span.text-danger(ng-show="proMessageForm.email.$error.email && formSubmitted", translate="email_invalid")
        input(name="subject", type="text", data-ng-model="message.subject", placeholder="{% trans 'Objet de votre message' %} *", required).form-control.indent-t-md
        span.text-danger(ng-show="proMessageForm.subject.$error.required && formSubmitted", translate="required_field")
        textarea(name="message", data-ng-model="message.message", placeholder="{% trans 'Votre message' %} *", rows="5", required).expand.form-control.indent-t-md
        span.text-danger(ng-show="proMessageForm.message.$error.required && formSubmitted", translate="required_field")
        input(type="submit", ng-disabled="submitInProgress", ng-click="formSubmitted=true; proMessageForm.$valid && sendMessage()", value="{% trans 'Envoyer' %}", class="{% verbatim %}{{submitInProgress ? 'loading' : ''}}{% endverbatim %}").btn.btn-lg.bg-success.indent-t-md
