-load patron i18n

h4
  {% blocktrans %}
  b N’hésitez pas à nous appeler, 
  | nous nous ferons un plaisir de répondre à toutes vos questions…
  {% endblocktrans %}
p.indent-b-sm {% trans "Nous sommes joignables au&nbsp;" %}:
b.btn-lg.bg-primary.text-white {{ patron.default_number.number }}
