h4
  b N’hésitez pas à nous écrire 
  | via le formulaire ci‐dessous, nous nous ferons un plaisir de répondre à toutes vos questions...
p.indent-b-sm Nous sommes joignables au&nbsp;:
b.btn-lg.bg-primary.text-white {{ patron.default_number }}
