-load i18n

.indent-v-sm
	h3
		span(style='color:#f27e36') {% trans "Nouveau !" %}
		{% trans "Livraison" %}
	p
		b {% trans "Option livraison 10 € :" %}
		{% trans "recevez et renvoyez cet objet dans un relais à proximité de chez vous avec notre partenaire la" %}&nbsp;
		b
			a(target="_blank", href="/navette/", style='color:#24bd77') {% trans "navette pickup" %}
	p
		{% trans "A la fin de votre location, vous devrez imprimer votre étiquette et renvoyer l’objet à son propriétaire en le déposant dans votre relais." %}
