include ../../jade/_mixins

{% verbatim %}
.thumbnail-img
    a(href="#")
        img(ng-src="{{getProductImg(product.picture)}}", alt="{{product.summary}}", onerror="$(this).attr('src', '/static/img/product_img.png')")
.thumbnail-content
    h3 {{product.summary}}
    p.location
        i.flaticon.stroke.location-pin-3
        | {{product.address.city}}, {{product.address.zipcode}}
    p.stats
        {% endverbatim %}
        +average-rate("product.stats.average_rating")
        +rate-counter("product.stats.ratings_count")
        +number-of-comments("product.stats.booking_comments_count")
        {% verbatim %}
    .declarer
        .thumbnail-img
            a(href="#")
                img(ng-src="{{getAvatar(product.owner.avatar.thumbnail)}}", alt="", onerror="$(this).attr('src', '/static/img/profile_img.png')")
        .thumbnail-content
            p {{product.owner.first_name}} {{product.owner.last_name}}
{% endverbatim %}
