.thumbnail-img
  a(href="#"): img(style="background-image: url(http://lorempixel.com/180/120/technics)").bg-image
.thumbnail-content
  h3 #{pop_up.product_info.header}
  p.location
    i.flaticon.stroke.location-pin-3
    | #{pop_up.product_info.location}, #{pop_up.product_info.index}
  p.stats
  .declarer
    .thumbnail-img
      a(href="#"): img(style="background-image: url(http://lorempixel.com/100/100/people)").bg-image
    .thumbnail-content
      p #{pop_up.product_info.name_declarer}
p.indent-t-md
  | Vous souhaitez réserver ce produit ? Vous 
  | avez  besoin  de  détails  ou  de  conseils  ? 
  | Vous  avez  des  questions  sur  sa 
  | disponibilité ou son prix ? 
