h2 Livraison
.indent-b-md
    p.text-black Sélectionner un point relais ci-dessous :
    .zebra.indent-xs-t-
        label.zebra-row
            input(type="radio", name="pickup")
            .zebra-row-wrapper
                .zebra-col
                    span.radio-indicator
                .zebra-col
                    span.sprite-pickup-logo
                .zebra-col.main-cell: p
                    | KAHLOUCHE PRESSE
                    br
                    | 79 BOULEVARD BEAUMARCHAIS
                    br
                    | 75003 PARIS
                .zebra-col: p.indent-r-md +2,50&euro;