h2 Livraison
#point-contatiner.indent-b-md(style="max-height: 300px;")
    p.text-black Sélectionner un point relais ci-dessous :
    .zebra.indent-xs-t-
        {% verbatim %}
        a(href="", ng-show="shippingPointsRequestInProgress").btn.bg-gray-light-hover.text-white.loading2 &nbsp;&nbsp;&nbsp;
        label(ng-repeat="point in borrowerShippingPoints").zebra-row
            input(type="radio", name="pickup", value="{{point.site_id}}", ng-model="point.selected", ng-change="pointSelected('{{point.site_id}}')")
            .zebra-row-wrapper
                .zebra-col
                    span.radio-indicator
                .zebra-col
                    span.sprite-pickup-logo
                .zebra-col.main-cell: p
                    | {{point.name}}
                    br
                    | {{point.address}}
                    br
                    | {{point.zipcode}} {{point.city}}
                .zebra-col: p.indent-r-md +{{point.price}}&euro;
        {% endverbatim %}