h4
  b N’hésitez pas à venir dans notre boutique,
  | nous nous ferons un plaisir de répondre à toutes vos questions…

{% if patron.pro_agencies.all %}
p Nos boutiques sont situées au&nbsp;:
for agency in patron.pro_agencies.all
  .indent-t-sm.text-white.btn-lg.bg-primary: b
    i.flaticon.stroke.up-2.icon-2x.pull-right.collapsed(data-toggle="collapse", data-target="#map-{{ forloop.counter }}")
    | {{ agency.address1 }}
    br
    | {{ agency.zipcode }} {{ agency.city|upper }}
  .collapse.map-wrapper(id="map-{{ forloop.counter }}")
    .map(locationY="{{ agency.position.y|stringformat:'f' }}", locationX="{{ agency.position.x|stringformat:'f' }}")
        img(src="https://maps.googleapis.com/maps/api/staticmap?center={{ agency.position.x|stringformat:'f' }},{{ agency.position.y|stringformat:'f' }}&markers=color:green%7Clabel:''%7C{{ agency.position.x|stringformat:'f' }},{{ agency.position.y|stringformat:'f' }}&zoom=18&size=910x546&language=fr", width="100%", height="100%")
{% else %}
{% if patron.default_address %}
p Notre boutique est située au&nbsp;:
.indent-t-sm.text-white.btn-lg.bg-primary: b
  | {{ patron.default_address.address1 }}
  br
  | {{ patron.default_address.zipcode }} {{ patron.default_address.city|upper }}
.map-wrapper
  .map(locationY="{{ patron.default_address.position.y|stringformat:'f' }}", locationX="{{ patron.default_address.position.x|stringformat:'f' }}")
    img(src="https://maps.googleapis.com/maps/api/staticmap?center={{ patron.default_address.position.x|stringformat:'f' }},{{ patron.default_address.position.y|stringformat:'f' }}&markers=color:green%7Clabel:''%7C{{ patron.default_address.position.x|stringformat:'f' }},{{ patron.default_address.position.y|stringformat:'f' }}&zoom=18&size=910x546&language=fr", width="100%", height="100%")
{% endif %}
{% endif %}
