include ../_date_picker_border
-load i18n
span(ng-show="dateRangeError").text-danger {% verbatim %}{{dateRangeError}}{% endverbatim %}
table.calendar.bd-wrap.indent-t-md.indent-b-md
    tbody
        tr
            td {% trans "Durée" %}
            td
                b {% verbatim %}{{duration}}{% endverbatim %}
        tr
            td {% trans "Prix" %}
            td
                b {% verbatim %}{{bookingPriceCurrency}}{% endverbatim %}&nbsp;
        tr
            td {% trans "Caution" %}
            td
                b {% verbatim %}{{ 'MONEY' | translate:{value:product.deposit_amount} }}{% endverbatim %}
{% blocktrans %}
p  La caution ne sera pas débitée de votre compte (e-loue effectue uniquement une empreinte de votre carte bancaire).
{% endblocktrans %}