include ../_date_picker_border
-load i18n
span(ng-show="dateRangeError").text-danger {% verbatim %}{{dateRangeError}}{% endverbatim %}
table.calendar.bd-wrap.indent-t-md.indent-b-md
    tbody
        tr
            td {% trans "Durée" %}
            td
                b {% verbatim %}{{duration}}{% endverbatim %}
        tr
            td {% trans "Prix" %}
            td
                b.text-success {% verbatim %}{{bookingPrice | number}}{% endverbatim %}&nbsp;{% trans "€" %}
        tr(ng-show="shippingPrice > 0")
            td {% trans "Livraison" %}
            td
                b.text-success {% verbatim %}{{shippingPrice | number: 2}}{% endverbatim %}&nbsp;{% trans "€" %}
        tr(ng-show="shippingPrice > 0")
            td {% trans "Total" %}
            td
                b.text-success {% verbatim %}{{bookingPrice + shippingPrice | number}}{% endverbatim %}&nbsp;{% trans "€" %}
        tr
            td {% trans "Caution" %}
            td
                b {% verbatim %}{{product.deposit_amount}}{% endverbatim %}&nbsp;{% trans "€" %}
{% blocktrans %}
p En cliquant sur "Réservez", vous enverrez une demande de location au propriétaire. Vous serez débité du montant de la location dès qu'il  acceptera votre demande. La caution ne sera pas débitée de votre compte (e-loue prendra simplement une empreinte de votre carte bancaire en cas de problème pendant la location).
{% endblocktrans %}