-load i18n

ul.table
  li.table-row:.table-cell
    .text
      .thumbnail-img.text-primary
      .thumbnail-content
        h3 {% trans "Appelez le propriétaire" %}
        a(href="#", ng-click="callOwner()", ng-show="!ownerCallDetailsError").btn.bg-primary
          | {% verbatim %}{{ownerCallDetails.number}}{% endverbatim %}
          br
          small ({% verbatim %}{{ownerCallDetails.tariff}}{% endverbatim %})
        .alert.alert-danger(ng-show="!!ownerCallDetailsError")
           | {% verbatim %}{{ownerCallDetailsError}}{% endverbatim %}
        {% blocktrans %}
        p
          | Après 21h, afin de respecter la tranquillité des membres e-loue, nous vous remercions  de  poser vos questions par 
          a(href="", ng-click="openModal('message')").text-success messagerie.
          | Et oui, tout le monde a le droit de se reposer.
        {% endblocktrans %}
  li.table-row:.table-cell
    .text
      .thumbnail-img.text-gray
      .thumbnail-content
        h3 {% trans "Posez lui toutes vos questions" %}
        p {% trans "Besoin de détails  supplémentaires sur l’objet à louer ?  Des questions sur les modalités de locations ? Sur le  lieu et l’horaire du RDV ? N’ayez pas peur, les membres e-loue  sont très  serviables, et vous répondront..." %}

  li.table-row:.table-cell
    .text
      .thumbnail-img.text-success
      .thumbnail-content
        h3 {% trans "Réservez en ligne" %}
        p {% trans "En réservant sur e-loue, vous avez l’assurance de ne pas avoir de mauvaise surprise : le paiement  est sécurisé, la caution est automatiquement débloquée dès que vous restituez le produit." %}
