h4
  b N’hésitez pas à nous écrire 
  | via le formulaire ci‐dessous, nous nous ferons un plaisir de répondre à toutes vos questions...
p.indent-b-sm Nous sommes joignables au&nbsp;:
a(href="{{ patron.url }}").btn.btn-lg.bg-primary.btn-inline: b {{ patron.url }}
