-load patron
h4
  b N’hésitez pas à venir sur notre site internet.
  | vous devriez y trouver les réponses à toutes vos questions.
a(href="{{ patron.url }}")#websiteProLink.btn.btn-lg.bg-primary.btn-inline: b {{ patron.url|hostname }}
