{% load i18n %}
<ul class="messages">
	{% for thread in thread_list %}
	<li>
		<a href="{% url 'thread_details' thread_id=thread.id%}" class="m-img">
			{% if request.user == thread.sender %}
				{% if thread.recipient.avatar %}
					<img src="{{ thread.recipient.thumbnail.url }}" widht="60" height="60" alt=""/>
				{% else %}
					<img src="{{ STATIC_URL }}images/default_avatar.png" width="60" height="60" alt="">
				{% endif %}
			{% else %}
				{% if thread.sender.avatar %}
					<img src="{{thread.sender.thumbnail.url}}" width="60" height="60" alt=""/>
				{% else %}
					<img src="{{ STATIC_URL }}images/default_avatar.png" width="60" height="60" alt="">
				{% endif %}
			{% endif %}
		</a>
		{% if request.user == thread.sender %}
			{% if thread.new_sender %}
				<div class="m-content m-unread">
			{% else %}
				<div class="m-content">
			{%endif%}
		{% else %}
			{% if thread.new_recipient %}
				<div class="m-content m-unread">
			{% else %}
				<div class="m-content">
			{% endif %}
		{% endif %}
			<div class="m-body">
				<p class="m-sender">
					<a href="{% url 'thread_details' thread_id=thread.id%}">
						{% if request.user == thread.sender %}
							{{thread.recipient.username }}
						{% else %}
							{{thread.sender.username }}
						{% endif %}
					</a>
					{{ thread.last_message.sent_at|date:_("DATETIME_FORMAT") }}
					<span class="m-action"><a href="{% url 'thread_details' thread_id=thread.id %}">{% trans "Lire" %}</a></span> -
					<span class="m-action"><a href="{% url 'archive_thread' thread_id=thread.id %}">{% trans "Archiver" %}</a></span>
				</p>
				<div class="m-subject">{{ thread.subject }}</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>{# message_list #}