{% load i18n %}
<ul class="product-list">
    {% for product in product_list %}
    <li>
        <a href="#" class="pl-img">
            <img src="images/products/boucheuse-bouchon-liege-18675.jpeg" width="60" height="60" />
        </a><!-- pl-img -->
        <div class="pl-content">
            <h3>
                <a href="#">Marteau piqueur de démolition 10kg...</a>
            </h3>
            <address>Valentigney, 25700</address>
            <p class="pl-price">10&euro; <span>/jour</span></p>
        </div><!-- pl-content -->
        <div class="pl-avatar">
            <a href="#">
                <img src="images/avatars/product_page_597194fa4e4c427283c7a425cfcf31e8.jpeg" width="60" height="60" />
            </a>
            <span class="dial-avatar"></span>
        </div>
    </li><!-- aproduct -->
    {% endfor %}
</ul>{# product-list #}