{% load i18n product booking %}
<p style="margin-top: 5px; margin-bottom: 4px;  font-family: Arial, sans-serif; color: #364C59; text-indent: 10px;">{% trans "Top annonces"%}</p>
<ul class="product-list" style="border-left: 1px solid #B2CED9; border-right: 1px solid #B2CED9; border-top: 1px solid #b2CED9; background: #F7F8FA;">
    {% for product in top_products %}
        <li style="border-top: none;">
            <a href="{{ product.url }}" class="pl-img">
                <img src="{{ product.thumbnail }}" alt="{{ product.summary }}" width="60" height="60">
            </a><!-- pl-img -->
            <div class="pl-content">
                <h3><a href="{{ product.url }}">{{ product.summary}}</a></h3>
                {% with product.city|capfirst|add:", "|add:product.zipcode|truncate:truncation as address %}
                    <address>{{ address }}</address>
                {% endwith %}
                <p class="pl-price">{{ product.price|quantize|currency }} <span>/jour</span></p>
            </div><!-- pl-content -->
            <div class="pl-avatar">
                <a href="{{ product.owner_url }}">
                    <img src="{{ product.owner_avatar }}" width="60" height="60">
                </a>
                <span class="dial-avatar"></span>
            </div>
        </li>
    {% endfor %}
</ul>