{% load i18n %}
<p style="margin-top: 10px; margin-bottom: 5px;  font-family: Arial, sans-serif; color: #364C59;">{% trans "Top annonces"%}</p>
<ul class="product-list" style="border-left: 1px solid #B2CED9; border-right: 1px solid #B2CED9; border-top: 1px solid #b2CED9;">
    <li style="border-top: none;">
        <a href="/location/automobile/break/porsche-911-20152/" class="pl-img">
            <img src="http://localhost:8000/media/media/pictures/thumbnail_conceptcar04.jpeg" alt="Porsche - 911" width="60" height="60">
        </a><!-- pl-img -->
        <div class="pl-content">
            <h3><a href="/location/automobile/break/porsche-911-20152/">Porsche - 911</a></h3>
            <address>Paris, 75003</address>
            <p class="pl-price">34,00 <span>/jour</span></p>
        </div><!-- pl-content -->
        <div class="pl-avatar">
            <a href="/loueur/benoit/">
                <img src="http://localhost:8000/media/media/pictures/avatars/thumbnail_6501a93e1153453d9f835d1b5255f20f.jpg" width="60" height="60">
            </a>
            <span class="dial-avatar"></span>
        </div>
    </li>
    <li>
        <a href="/location/reception/mobilier/decoration/petit-meuble-annees-70-20117/" class="pl-img">
            <img src="http://localhost:8000/media/media/pictures/thumbnail_150da0fed24844f28ec28b25e182b94d.jpg" alt="Petit meuble années 70" width="60" height="60">
        </a><!-- pl-img -->
        <div class="pl-content">
            <h3><a href="/location/reception/mobilier/decoration/petit-meuble-annees-70-20117/">Petit meuble années 70</a></h3>
            <address>Paris, 75020</address>
            <p class="pl-price">7,00 <span>/jour</span></p>
        </div><!-- pl-content -->
        <div class="pl-avatar">
            <a href="/loueur/jeanne31/">
                <img src="http://localhost:8000/media/images/default_avatar.png" width="60" height="60">
            </a>
            <span class="dial-avatar"></span>
        </div>
    </li>
    <li>
        <a href="/location/reception/cuisine/ustensiles-de-cuisine/4-moules-a-tartelettes-19729/" class="pl-img">
            <img src="http://localhost:8000/media/media/pictures/thumbnail_88da5f81799645cd9edf338a66836f01.jpg" alt="4 moules à tartelettes" width="60" height="60">
        </a><!-- pl-img -->
        <div class="pl-content">
            <h3>
                <a href="/location/reception/cuisine/ustensiles-de-cuisine/4-moules-a-tartelettes-19729/">4 moules à tartelettes</a>
            </h3>
            <address>Asnières-sur-Seine, 92600</address>
            <p class="pl-price">4,00 <span>/jour</span></p>
        </div><!-- pl-content -->
        <div class="pl-avatar">
            <a href="/loueur/mimouille/">
                <img src="http://localhost:8000/media/media/pictures/avatars/thumbnail_9a1d57e9a7d745b182217de66007c68a.jpg" width="60" height="60">
            </a><span class="dial-avatar"></span>
        </div>
    </li>
</ul>