section.tabs-vertical-active.lg(ng-show="(bookingList && bookingList.length > 0) || filtered")
  .section-header
    .row
      .col-xs-8.tabs-horisontal-active
        ul.list-without-spaces.fixed
          -var  booking_detail_horisontal_tabs = [["filterByBoth()", "Tous"], ["filterByOwner()", "Propriétaires"], ["filterByBorrower()", "Emprunteurs"]]
          each filter_func, filter_name in booking_detail_horisontal_tabs
            li.divider
            li.tab-horisontal(ng-click="{{ filter_func }}", id="filter-{{ filter_name }}"): h3.small {{ filter_name }}
      .col-xs-4.indent-xs-t
        .select-gradient.without-search
          select#stateFilterSelect(name="stateFilter", ng-model="stateFilter", ng-change="filterByState()")
              {% verbatim %}
              option(value="") Tous
              option(ng-repeat="state in stateList", value="{{state}}") {{state | translate}}

  ul.scrollbar-custom(eloue-lazy-load, lazy-data="bookingList", lazy-data-provider="BookingsLoadService", lazy-load-method="getBookingList")
      //- we should use class="soon" or class=="in-progress" or class="completed" in the line below
      li.tab-vertical.block-with-thumbnail(ng-repeat="booking in bookingList track by booking.uuid", id="booking-{{booking.uuid}}", ui-sref="bookings.detail({uuid: booking.uuid})", class="{{booking.state}}", ng-class="{current: isItemSelected('booking-', booking.uuid)}")
        .col-thumbnail
          .thumbnail
            a(ui-sref="bookings.detail({uuid: booking.uuid})").lg-p: img(style="background-image: url({{booking.picture}});")
            span(translate="{{booking.state}}").booking-bage
        .col-exposition
          h3.small
            | Location 
            a(ui-sref="bookings.detail({uuid: booking.uuid})") {{booking.product.summary}}
          p.normal.text-gray
            big.text-primary {{booking.total_amount}}€
            br
            | Du {{booking.start_date.day}} &nbsp;
            span(translate="{{booking.start_date.month}}")
            | {{booking.start_date.year}}
            | au {{booking.end_date.day}} &nbsp;
            span(translate="{{booking.end_date.month}}")
            | {{booking.end_date.year}}
{% endverbatim %}
