-load i18n
#report-incendent.modal.fade
    .modal-dialog
        .modal-content(style="padding: 0 30px")
            .modal-body
                h3 {% trans "Déclarer un incident" %}

                form(name="incidentForm", ng-submit="postIncident()").table-form
                    fieldset(data-ng-disabled="submitInProgress")
                        .row
                            .col-sm-12
                                textarea.expand(name="incident.description", rows="10", placeholder="Décrire l'incident...", ng-model="incident.description", required).form-control
                        .row
                            .col-xs-6
                                button(type="button", data-dismiss="modal").btn
                                    | {% trans "Annuler" %}
                            .col-xs-6
                                button(type="submit", ng-disabled="submitInProgress || !incidentForm.$valid", class="{% verbatim %}{{submitInProgress ? 'loading' : ''}}{% endverbatim %}").btn.bg-success
                                    | {% trans "Enregistrer" %}
