.section-header
	h4 Réservez en ligne
form.form-inline.section-body.text-center
	.part
		p
			small à partir de
			big.text-primary &nbsp;56€ /jour
			-each item in ["Du", "Au"]
				.row
					.cell
						.input-group
							.input-group-addon #{item}
							input(type="text" placeholder="").form-control
							.input-group-addon.calendar
								span
					.cell
						select.form-control
							-for(var i=0;i<24;i++)
								-var n = i>9? i + ":00" : "0" + i + ":00"
								option(value=n) #{n}
		p.available Cet article est disponible à ces dates
		// p.available.unavailable Cet article est disponible à ces dates
	.part
		p.mrg-0
			| Durée de la location : 
			b.period-days 3 jours 
			| et 
			b.period-hours 9 heures
		p.price.mrg-0
			| Prix de la location :
			big.text-primary &nbsp;168€
		p.mrg-0 Assurance incluse
	.part
		button(type="submit").btn.success.calendar-ok
			span
			| Réservez
		p.mrg-v-1
			small Cette somme vous sera débitée lorsque le propriétaire validera la location