.container.text-gray-strong
  h2.text-uppercase.text-center Comment ca marche ?
  p.text-right: em Version du 9 Mars 2015
    h3 La livraison avec la navette pickup

    | Echangez vos objets loués grâce à notre partenaire la navette pickup, l’envoi de colis entre particuliers !

    h3 Quels avantages ?
    | Plus besoin de vous déplacer : rendez-vous dans le relais pickup le plus proche, parmi les  4 200 partout
    | en France, et envoyez votre objet en 24h/48h
    | Faites des économies : le coût de livraison est de 10 €, toute France, pour l’aller-retour d’un objet (à
    | la charge du locataire)
    | Plus besoin de fabriquer un colis : un simple emballage suffit pour protéger l’objet envoyé (sac plastique,
    | papier bulle, boite, …) grâce à une pochette souple et matelassée, mesurant 50 x 50 x 5 cm, qui sert de
    | navette ! Ces pochettes sont misent à disposition dans les relais pickup.
    br
    br

    p(align="center")
        img(src="#{STATIC_URL}img/pickup_instruction.jpg", style="width:600px")

    br
    br
    h3 Comment ça marche ?
    | Côté loueur
    | Si l’objet loué rentre dans la pochette, le loueur sélectionne cette option et offre la possibilité à son
    | locataire de recevoir et de renvoyer l’objet loué en relais
    | Il Imprime son étiquette de transport et se rend dans son relais, il glisse son objet emballé dans la
    | pochette, place l’étiquette sous la fenêtre plastifiée et la ferme avec un scellé.

    p Côté locataire
    | Le locataire est prévenu par email de l’arrivée de son objet.
    | Une fois que la location est terminée, il imprime son étiquette dans sa réservation et renvoie l’objet
    | depuis son relais.
