extends ./base
-load compressed prefixed_cache i18n

{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% trans "Trouvez toutes les annonces de location près de chez vous (particuliers et professionnels)" %}{% endblock %}

block append styles
  {% compressed_css "bootstrap" %}
  {% compressed_css "homepage_styles" %}

block append content-body
  .container-flex(data-ng-controller="HomePageCtrl")
    -var categories_map = {35: [558, 109, 556, 106, 116, 107, 79, 85, 542, 121, 125, 112, 103, 104, 559, 546, 547, 87, 52, 531, 742, 72, 118, 92], 390: [643, 400, 399, 401, 394, 398, 393, 641, 396, 397, 642, 394, 649, 405, 110, 409], 253: [342, 626, 369, 706, 263, 354, 346, 2760, 635, 290, 294, 370, 359, 603, 2749, 697], 418: [465, 726, 457, 662, 449, 450, 658, 657, 522, 520, 451, 681, 513, 2752, 2699, 523, 680, 469, 664, 468], 3: [671, 2701, 2703, 2705, 2706, 498, 478, 475, 676, 485, 2711, 509, 669, 2745, 30, 2759], 379: [2714, 2718, 2731, 2720, 639, 2740, 388, 2728], 126: [561, 150, 143, 171, 158, 152, 157, 2695, 158, 145, 144, 567], 172: [317, 247, 237, 214, 181, 230, 241, 573, 662, 234, 298, 310, 219, 595, 689, 2]}
    -var cities_list = [["Paris", "Marseille", "Lyon"], ['Toulouse', 'Bordeaux', 'Montpellier'], ['Lille', 'Nice', 'Nantes']]

    header.header-site
      include ./jade/_header_site
//-    nav.nav-home.container
//-      include ./jade/_nav_home

    block content-homepage
      article
        {% cache 43200 'homepage_banner_static' LANGUAGE_CODE %}
        section.banner
          include ./jade/_homepage_carousel_banner
        {% endcache %}
        //- {% cache 43200 'homepage_insurance_static' LANGUAGE_CODE %}
        //- section.insurances.framing
        //-   include ./jade/_insurances
        //- {% endcache %}
        section.product-list
          include ./jade/_product_list

      main

        {% cache 43200 'homepage_main_static' LANGUAGE_CODE %}
        //-section.professional-renter-content.framing: include ./jade/_professional_renter_content
        //-section.download-mobile-apps: include ./jade/_download_mobile_apps
        //-section.float-comments.framing
          include ./jade/_comments
        //-section.watch-video: include ./jade/_watch_video

        {% cache 43200 'homepage_city_list_static' LANGUAGE_CODE %}
        //-section.location-list
          include ./jade/_location_list
        {% endcache %}

        //-section.talk-about-us: include ./jade/_talk_about_us
        {% endcache %}

    footer
      {% cache 43200 'homepage_footer_static' LANGUAGE_CODE %}
      section.footer-links.framing: include ./jade/_footer_links
      section.rss.framing: include ./jade/_rss
      {% endcache %}
