<div class="section-content">
    <form name="itemInfoForm" data-ng-submit="updateProduct()" novalidate>
        <h2>Catégories</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="form-control">
                    <select data-ng-model="rootCategory" ng-options="category.id as category.name for category in rootCategories" data-ng-change="updateNodeCategories()">
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control">
                    <select data-ng-model="nodeCategory" ng-options="category.id as category.name for category in nodeCategories" data-ng-change="updateLeafCategories()">
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-control">
                    <select data-ng-model="product.category" ng-options="category.id as category.name for category in leafCategories">
                    </select>
                </div>
            </div>
        </div>
        <h2>Titre</h2>

        <div class="row">
            <div class="col-xs-12">
                <input id="title" type="text" name="title" placeholder="Titre" class="form-control" data-ng-model="product.summary">
            </div>
        </div>
        <h2>Photos</h2>
        <ul class="text-gray container-with-square-thumbnail indent-xs-b">
            <li>
                <label for="change-img" class="file-input-drag"><i class="fa fa-plus fa-3x"></i>
                    <input type="file" id="change-img">
                </label>
            </li>
            <li data-ng-repeat="picture in pictures track by picture.id">
                <img data-ng-src="picture.image.thumbnail" alt="{{product.summary}}">
            </li>
        </ul>
        <h2>Caractéristiques</h2>

        <h2>Informations complémentaires</h2>

        <div class="row indent-md-b">
            <div class="col-sm-12">
                <textarea id="description" name="description" tabindex="1" rows="6" placeholder=""
                          class="expand" data-ng-model="product.description"></textarea>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn text-white bg-success-hover col-xs-8 col-xs-offset-2">Enregistrez les
                modifications
            </button>
        </div>
    </form>
</div>
