<div class="section-content">
    <h2 class="pull-right clear-both">Total des revenus générés : {{totalProfit}}€</h2>

    <h3 class="pull-right clear-both indent-sm-b">Nombre de réservation : {{numberOfBookings}} en
        <span data-ng-show="durationYears > 0">{{durationYears}} ans et</span>
        <span data-ng-show="durationMonths > 0">{{durationMonths}} mois et</span>
        {{durationDays}} jours</h3>

    <div class="row">
        <div class="col-xs-12">
            <table class="calendar text-center">
                <thead>
                <tr>
                    <td>Réservation</td>
                    <td>Date de virement</td>
                    <td>Compte crédité</td>
                    <td>Montant</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="booking in bookings">
                    <td class="text-left">
                        <a ui-sref="bookings.detail({uuid: booking.uuid})" class="text-success text-underline-hover">
                            Du {{booking.start_date.day}} <span translate="{{booking.start_date.month}}"></span> {{booking.start_date.year}}
                            au {{booking.end_date.day}} <span translate="{{booking.end_date.month}}"></span> {{booking.end_date.year}}
                        </a>
                        <br>
                        Montant : {{booking.total_amount}}€/J<br>Locataire : {{booking.borrower.username}}
                    </td>
                    <td><!-- 25/04/2014 --></td>
                    <td><!-- <span class="text-uppercase">s generale </span>000323294210312<br>Albert Ledru --></td>
                    <td><!-- 134.40€ --></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>