<div class="section-content">
    <h2 class="pull-right clear-both">Total des revenus générés : 672€</h2>

    <h3 class="pull-right clear-both indent-sm-b">Nombre de réservation : 5 en 6 mois et 11 jours</h3>

    <div class="row">
        <div class="col-xs-12">
            <table class="calendar text-center">
                <thead>
                <tr>
                    <td>Réservation</td>
                    <td>Date de virement</td>
                    <td>Compte crédité</td>
                    <td>Montant</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-left"><a href="#" class="text-success text-underline-hover">Du 24 Juin 2014 au 26
                        Juin 2014</a><br>Montant : 168€/J<br>Locataire : Julien Dupré
                    </td>
                    <td>25/04/2014</td>
                    <td><span class="text-uppercase">s generale </span>000323294210312<br>Albert Ledru</td>
                    <td>134.40€</td>
                </tr>
                <tr>
                    <td class="text-left"><a href="#" class="text-success text-underline-hover">Du 24 Juin 2014 au 26
                        Juin 2014</a><br>Montant : 168€/J<br>Locataire : Julien Dupré
                    </td>
                    <td>25/04/2014</td>
                    <td><span class="text-uppercase">s generale </span>000323294210312<br>Albert Ledru</td>
                    <td>134.40€</td>
                </tr>
                <tr>
                    <td class="text-left"><a href="#" class="text-success text-underline-hover">Du 24 Juin 2014 au 26
                        Juin 2014</a><br>Montant : 168€/J<br>Locataire : Julien Dupré
                    </td>
                    <td>25/04/2014</td>
                    <td><span class="text-uppercase">s generale </span>000323294210312<br>Albert Ledru</td>
                    <td>134.40€</td>
                </tr>
                <tr>
                    <td class="text-left"><a href="#" class="text-success text-underline-hover">Du 24 Juin 2014 au 26
                        Juin 2014</a><br>Montant : 168€/J<br>Locataire : Julien Dupré
                    </td>
                    <td>25/04/2014</td>
                    <td><span class="text-uppercase">s generale </span>000323294210312<br>Albert Ledru</td>
                    <td>134.40€</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>