<div class="tabs-horisontal-active indent-xs-v">
    <ul class="list-without-spaces fixed">
        <li class="divider"></li>
        <li class="tab-horisontal">
            <h3 class="small"><a ui-sref="items.info({id: selectedItemId})">Photos et infos</a></h3>
        </li>
        <li class="divider"></li>
        <li class="tab-horisontal">
            <h3 class="small"><a ui-sref="items.tariffs({id: selectedItemId})">Tarifs</a></h3>
        </li>
        <li class="divider"></li>
        <li class="tab-horisontal">
            <h3 class="small"><a ui-sref="items.calendar({id: selectedItemId})">Calendrier</a></h3>
        </li>
        <li class="divider"></li>
        <li class="tab-horisontal">
            <h3 class="small"><a ui-sref="items.terms({id: selectedItemId})">Conditions</a></h3>
        </li>
        <li class="divider"></li>
        <li class="tab-horisontal">
            <h3 class="small"><a ui-sref="items.profits({id: selectedItemId})">Revenus</a></h3>
        </li>
    </ul>
</div>