<div class="section-content">
    <h2>Grille tarifaire</h2>

    <div class="row">
        <div class="col-lg-8">
            <table class="calendar text-center form-control">
                <thead>
                <tr>
                    <td>Durée</td>
                    <td>Prix</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1 heure</td>
                    <td>
                        <input type="text" placeholder="Prix..." class="table-form">€
                    </td>
                </tr>
                <tr>
                    <td>1 jours</td>
                    <td>
                        <input type="text" placeholder="Prix..." class="table-form">€
                    </td>
                </tr>
                <tr>
                    <td>3 jours</td>
                    <td>
                        <input type="text" placeholder="Prix..." class="table-form">€
                    </td>
                </tr>
                <tr>
                    <td>7 jours</td>
                    <td>
                        <input type="text" placeholder="Prix..." class="table-form">€
                    </td>
                </tr>
                <tr>
                    <td>15 jours</td>
                    <td>
                        <input type="text" placeholder="Prix..." class="table-form">€
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-8"></div>
    </div>
</div>