<div class="section-content">
    <form name="itemTariffsForm" data-ng-submit="updatePrices()">
        <h2>Grille tarifaire</h2>

        <div class="row">
            <div class="col-lg-12">

                <!-- Prices for simple product -->
                <table class="calendar text-center form-control" data-ng-show="!isAuto && !isRealEstate">
                    <thead>
                    <tr>
                        <td>Durée</td>
                        <td>Prix</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1 heure</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.hour.amount">€
                        </td>
                    </tr>
                    <tr>
                        <td>1 jours*</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.day.amount" required>€
                        </td>
                    </tr>
                    <tr>
                        <td>3 jours</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.three_days.amount">€
                        </td>
                    </tr>
                    <tr>
                        <td>7 jours</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.seven_days.amount">€
                        </td>
                    </tr>
                    <tr>
                        <td>15 jours</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.fifteen_days.amount">€
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Prices for car product -->
                <table class="calendar text-center form-control" data-ng-show="isAuto">
                    <thead>
                    <tr>
                        <td>Durée</td>
                        <td>Prix</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1 jours*</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.day.amount" required>€
                        </td>
                    </tr>
                    </tbody>
                </table>

                <table class="calendar text-center form-control" data-ng-show="isAuto">
                    <tbody>
                    <tr>
                        <td>Kilomètres inclus par jour</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form"
                                   data-ng-model="product.km_included">Km
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Prices for real estate product -->
                <table class="calendar text-center form-control" data-ng-show="isRealEstate">
                    <thead>
                    <tr>
                        <td>Durée</td>
                        <td>Prix</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1 nuit*</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.day.amount" required>€
                        </td>
                    </tr>
                    <tr>
                        <td>3 nuits</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.three_days.amount">€
                        </td>
                    </tr>
                    <tr>
                        <td>7 nuits</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.seven_days.amount">€
                        </td>
                    </tr>
                    <tr>
                        <td>15 nuits</td>
                        <td>
                            <input type="text" placeholder="Prix..." class="table-form" data-ng-model="prices.fifteen_days.amount">€
                        </td>
                    </tr>
                    </tbody>
                </table>


                <table class="calendar text-center form-control">
                    <tbody>
                    <tr>
                        <td>Caution</td>
                        <td>
                            <input id="amount" type="text" class="table-form" data-ng-model="product.deposit_amount" money>€
                        </td>
                    </tr>
                    </tbody>
                </table>

                * : Tarif obligatoire
            </div>

        </div>
        <div class="row">
            <button type="submit" class="btn text-white bg-success-hover col-xs-8 col-xs-offset-2">Enregistrez les
                modifications
            </button>
        </div>
    </form>
</div>