<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>e-loue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/img/favicon.ico">
    <!-- include font "Open Sans"-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600">
    <!-- include icon fonts-->
    <link rel="stylesheet" href="../../static/fonts/flaticons_social/flaticons_social.css">
    <link rel="stylesheet" href="../../static/fonts/flaticons_solid/flaticons_solid.css">
    <link rel="stylesheet" href="../../static/fonts/flaticons_stoke/flaticons_stoke.css">
    <!-- custom select.css-->
    <!-- http://harvesthq.github.io/chosen/-->
    <link rel="stylesheet" href="../../static/css/chosen.min.css">
    <!-- custom scrollbar.css-->
    <!-- http://manos.malihu.gr/jquery-custom-content-scroller/-->
    <link rel="stylesheet" href="../../static/css/jquery.mCustomScrollbar.css">
    <!-- datepicker-->
    <!-- http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&todayBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox-->
    <link rel="stylesheet" href="../../static/css/datepicker3.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <!-- custom input:range-->
    <link rel="stylesheet" href="../../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../../static/css/product_list_styles.css">
    <!-- jQuery-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- for IE < 9 -->
    <!-- html5 tags supported-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <!-- palceholder supported-->
    <script src="http://jamesallardice.github.io/Placeholders.js/assets/js/placeholders.min.js"></script>
    <!-- selectivizr-->
    <script src="../../static/js/selectivizr.js"></script>
    <!-- end scripts for IE < 9-->
    <!-- geolocation by Google-->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="../../static/js/formmapper.js"></script>
    <!-- custom select.js-->
    <script src="../../static/js/chosen.jquery.min.js"></script>
    <!-- textarea autoresize-->
    <!-- http://www.jacklmoore.com/autosize/-->
    <script src="../../static/js/jquery.autosize.js"></script>
    <!-- modal window bootstrap-->
    <script src="../../static/js/bootstrap/modal.js"></script>
    <!-- dropdown bootstrap-->
    <script src="../../static/js/bootstrap/dropdown.js"></script>
    <!-- custom scrollbar.js-->
    <script src="../../static/js/jquery.mCustomScrollbar.js"></script>
    <!-- datepicker-->
    <!-- http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&todayBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox-->
    <script src="../../static/js/bootstrap-datepicker.js"></script>
    <script src="../../static/js/locales/bootstrap-datepicker.fr.js"></script>
    <script src="../../static/js/scripts.js"></script>
    <!-- custom input:range-->
    <!-- http://jqueryui.com/slider/#rangemin-->
    <script src="../../static/js/jquery-ui.min.js"></script>
    <script src="../../static/js/scripts.js"></script>
    <script src="../../static/js/product_list_scripts.js"></script>
  </head>
  <body>
    <div id="sign-in" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Inscription</h4>
          </div>
          <div class="modal-body">
            <h3>Inscrivez-vous en 2 secondes</h3>
            <div class="form-group"><a href="#" class="btn bg-info"><i class="flaticon social facebook"></i>Inscription via Facebook</a></div>
            <div class="form-group"><a href="#" class="btn bg-danger"><i class="flaticon social google-plus"></i>Inscription via Google</a></div>
            <p class="info">Nous ne publierons jamais rien sur votre profil (sauf si vous le demandez) <br>Vos données personnelles ne seront jamais cédées ou vendues.</p><span class="or"></span>
            <h3>Inscrivez-vous en 30 secondes</h3>
            <form>
              <div class="classic-form">
                <div class="form-group">
                  <input type="text" placeholder="Nom *" required class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Prénom *" required class="form-control">
                </div>
                <div class="form-group">
                  <input type="text" placeholder="Code postal *" required class="form-control">
                </div>
                <div class="form-group">
                  <input type="email" placeholder="E-mail *" required class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Mot de passe *" required class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Confirmation *" required class="form-control">
                </div>
                <div class="form-group">
                  <button type="submit" class="btn bg-success">Inscription</button>
                </div>
              </div>
              <div class="form-group"><a href="#" class="btn bg-success registration">Inscription via Email</a></div>
              <div class="checkbox">
                <label for="inform">
                  <input type="checkbox" checked id="inform"><span class="flaticon stroke checkmark"></span>
                </label>Tenez moi informé de l'actualité et des bonnes affaires e-loue
              </div>
            </form>
            <p>En créant un compte e-loue, vous acceptez les Conditions Générales<br>et la Politique de Confidentialité de notre site</p><span class="or"></span>
            <h4>Vous êtes déjà membre e-loue ?</h4><a href="#connectez-vous" data-toggle="modal" data-target="#log-in" data-dismiss="modal" class="modal-fotter-link connexion">Connexion</a>
          </div>
        </div>
      </div>
    </div>
    <div id="log-in" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Connexion</h4>
          </div>
          <div class="modal-body">
            <h3>Connectez-vous à votre compte</h3>
            <div class="form-group"><a href="#" class="btn bg-info"><i class="flaticon social facebook"></i>Connexion via Facebook</a></div>
            <div class="form-group"><a href="#" class="btn bg-danger"><i class="flaticon social google-plus"></i>Connexion via Google</a></div>
            <p class="info">Nous ne publierons jamais rien sur votre profil (sauf si vous le demandez) <br>Vos données personnelles ne seront jamais cédées ou vendues.</p><span class="or"></span>
            <form>
              <div class="form-group">
                <input type="email" placeholder="E-mail" required class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Mot de passe" required class="form-control">
              </div>
              <div class="form-group clearfix">
                <div class="checkbox pull-left">
                  <label for="remember-me">
                    <input type="checkbox" checked id="remember-me"><span class="flaticon stroke checkmark"></span>
                  </label>Se souvenir de moi
                </div>
                <div class="forgot-password pull-right"><a href="#" data-toggle="modal" data-target="#reset-password" data-dismiss="modal">Mot de passe oublié</a></div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn bg-success">Connexion</button>
              </div>
            </form><span class="or"></span>
            <h4>Vous êtes déjà membre e-loue ?</h4><a href="#" data-toggle="modal" data-target="#sign-in" data-dismiss="modal" class="modal-fotter-link connexion">Inscription</a>
          </div>
        </div>
      </div>
    </div>
    <div id="reset-password" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Réinitialisation du mot de passe</h4>
          </div>
          <div class="modal-body">
            <p class="indent-r-md indent-l-md">Mot de passe perdu ? Saisissez votre adresse électronique ci-desso us et nous vous enverrons les instructions pour en créer un nouveau.</p>
            <form action="reset-password">
              <div class="form-group">
                <input type="email" placeholder="E-mail" required class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn bg-success">Connexion</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container-flex">
      <header class="header-site">
        <section class="container signs-links">
          <ul role="tablist" class="nav without-spaces">
            <li><span>Appelez-nous au <b>0826.800.200 </b>(0,15&euro; / min)</span></li>
            <li class="guest-veiw">
              <div class="dropdown"><span class="dropdown-img"><a href="#"><img src="http://lorempixel.com/30/30/people" alt=""></a></span><span data-toggle="dropdown" class="dropdown-toggle text-success">Gaspard<span class="caret"></span></span>
                <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
                  <li class="presentation"><a href="#">I</a></li>
                  <li class="presentation"><a href="#">need</a></li>
                  <li class="presentation"><a href="#">design</a></li>
                  <li class="presentation"><a href="#">for</a></li>
                  <li class="presentation"><a href="#">this</a></li>
                  <li class="presentation"><a href="#">dropdown !</a></li>
                  <li class="presentation divider"></li>
                  <li class="presentation"><a href="#">The end!</a></li>
                </ul>
              </div>
              <div class="dropdown"><span data-toggle="dropdown" class="dropdown-toggle text-success"><i class="flaticon stroke mail"></i><span class="badge-count">1</span></span>
                <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
                  <li class="presentation"><a href="#">I</a></li>
                  <li class="presentation"><a href="#">need</a></li>
                  <li class="presentation"><a href="#">design</a></li>
                  <li class="presentation"><a href="#">for</a></li>
                  <li class="presentation"><a href="#">this</a></li>
                  <li class="presentation"><a href="#">dropdown !</a></li>
                  <li class="presentation divider"></li>
                  <li class="presentation"><a href="#">The end!</a></li>
                </ul>
              </div>
              <div class="dropdown"><span data-toggle="dropdown" class="dropdown-toggle text-success"><i class="flaticon stroke calendar-5"></i><span class="badge-count">121</span></span>
                <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
                  <li class="presentation"><a href="#">I</a></li>
                  <li class="presentation"><a href="#">need</a></li>
                  <li class="presentation"><a href="#">design</a></li>
                  <li class="presentation"><a href="#">for</a></li>
                  <li class="presentation"><a href="#">this</a></li>
                  <li class="presentation"><a href="#">dropdown !</a></li>
                  <li class="presentation divider"></li>
                  <li class="presentation"><a href="#">The end!</a></li>
                </ul>
              </div>
              <div class="dropdown"><span data-toggle="dropdown" class="dropdown-toggle text-success">Aide<span class="caret"></span></span>
                <ul role="menu" aria-labelledby="dLabel" class="dropdown-menu">
                  <li class="presentation"><a href="#">I</a></li>
                  <li class="presentation"><a href="#">need</a></li>
                  <li class="presentation"><a href="#">design</a></li>
                  <li class="presentation"><a href="#">for</a></li>
                  <li class="presentation"><a href="#">this</a></li>
                  <li class="presentation"><a href="#">dropdown !</a></li>
                  <li class="presentation divider"></li>
                  <li class="presentation"><a href="#">The end!</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </section>
        <div class="framing">
          <section class="container search-form">
            <div class="table-cell"><a href="/templates"><img src="../../static/img/logo.png" alt="logo"></a></div>
            <div class="table-cell main-cell">
              <form action="" class="input-group">
                <input type="text" placeholder="Que voulez-vous louer ?" title="Que voulez-vous louer ?" class="table-cell main-cell form-control what-field">
                <div class="table-cell input-group where-field"><i class="flaticon stroke location-pin-3"></i>
                  <input type="text" placeholder="Où ça ?" title="Où ça ?" id="geolocate" class="form-control">
                </div>
                <div class="table-cell input-group-btn">
                  <button type="button" class="btn btn-default btn-search"><i class="flaticon stroke zoom-2"></i></button>
                </div>
              </form>
            </div>
            <div class="table-cell">
              <button type="button" data-toggle="modal" data-target="#pop-up-publish-item" class="btn bg-success btn-advertise">Déposez une annonce</button>
            </div>
          </section>
        </div>
      </header>
      <nav>
        <div class="row-fluid bd-b">
          <div class="container">
            <ol class="breadcrumb">
              <li><a href="#">Accueil</a></li>
              <li><a href="#">Location Voiture</a></li>
              <li><a href="#">Nice</a></li>
              <li><a href="#">BMW - 520 Touring luxe</a></li>
            </ol>
          </div>
        </div>
      </nav>
      <article class="container grid-layout">
        <div class="row article-head">
          <h3 class="col-md-7">603 annonces correspondant à vos critères</h3>
          <div class="col-xs-5 col-md-3 clear-selector">
            <select class="form-control">
              <option value="male">Du - cher au + cher</option>
              <option value="female">Du - cher au + cher</option>
              <option value="female">Du - cher au + cher</option>
              <option value="female">Du - cher au + cher</option>
            </select>
          </div>
          <div class="col-xs-2 col-md-2 layout-switcher"><i class="flaticon stroke menu-list-4 list"></i><i class="flaticon stroke window-1 grid"></i></div>
        </div>
        <div class="row">
          <aside class="col-xs-3">
            <form action="detail-search" class="section-body">
              <label for="what" class="caption">quoi</label>
              <input id="what" type="text" placeholder="" autofocus class="form-control">
              <p class="caption">catégories</p>
              <div class="clear-selector">
                <select class="form-control">
                  <option value="male">Tous les catigories</option>
                  <option value="female">Du - cher au + cher</option>
                  <option value="female">Du - cher au + cher</option>
                  <option value="female">Du - cher au + cher</option>
                </select>
              </div>
              <label for="where" class="caption">où</label>
              <input id="where" type="text" placeholder="" class="form-control">
              <div class="map-container">
                <div class="whirly"></div>
                <div class="map">
                  <!-- место для карты!-->
                </div>
              </div>
              <label for="district" class="caption">rayon</label>
              <input id="district" type="range" name="district" min="5" max="100" step="1">
              <div id="district-fake"></div>
              <label for="start-date" class="caption">date de début</label>
              <div class="date-picker">
                <div class="input-group">
                  <input id="start-date" type="text" placeholder="" class="form-control">
                  <div class="input-group-addon calendar"><span></span></div>
                </div>
              </div>
              <label for="end-date" class="caption">date de fin</label>
              <div class="date-picker">
                <div class="input-group">
                  <input id="end-date" type="text" placeholder="" class="form-control">
                  <div class="input-group-addon calendar"><span></span></div>
                </div>
              </div>
              <label for="price" class="caption">prix</label>
              <input id="price" type="range" name="price" min="5" max="100" step="1">
              <div id="price-fake"></div>
              <p class="caption">loueur</p>
              <div class="checkbox">
                <label for="particular">
                  <input type="checkbox" id="particular"><span class="flaticon stroke checkmark-1"></span>
                </label>Particulier
              </div>
              <div class="checkbox">
                <label for="professional">
                  <input type="checkbox" id="professional"><span class="flaticon stroke checkmark-1"></span>
                </label>Professionel
              </div>
              <p class="caption">champ 1</p>
              <div class="clear-selector">
                <select class="form-control">
                  <option value="male">Tous types</option>
                  <option value="female">Du - cher au + cher</option>
                  <option value="female">Du - cher au + cher</option>
                  <option value="female">Du - cher au + cher</option>
                </select>
              </div>
              <p class="caption">champ 2</p>
              <div class="clear-selector">
                <select class="form-control">
                  <option value="male">Tous types</option>
                  <option value="female">Du - cher au + cher</option>
                  <option value="female">Du - cher au + cher</option>
                  <option value="female">Du - cher au + cher</option>
                </select>
              </div>
              <p class="caption">champ 3</p>
              <div class="clear-selector">
                <select class="form-control">
                  <option value="male">Tous types</option>
                  <option value="female">Du - cher au + cher</option>
                  <option value="female">Du - cher au + cher</option>
                  <option value="female">Du - cher au + cher</option>
                </select>
              </div>
            </form>
          </aside>
          <main class="col-xs-9">
            <ol class="nav row">
              <li>
                <div class="section-body">
                  <div class="thumbnail-img"><a href="products/product_detail.html" class="img-wrapper"><img src="../../static/img/home-products/bike.jpg"><span class="badge price">56&euro; /jour</span><span class="badge-order">1</span></a></div>
                  <div class="info">
                    <h6><a href="#">Bike Bike Bike Bike Bike Bike Bike Bike Bike Bike </a>
                    </h6>
                    <p>Aubervillies<span class="zip-code">,&nbsp;12432</span></p>
                    <div class="rate"><span class="flaticon solid star-2"></span><span class="flaticon solid star-2 current-rate"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span>
                    </div><span class="sprite-comment"><i class="flaticon stroke writing-comment"></i>3</span>
                    <p class="full_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque consequatur, nihil odit natus, dolores tempore.</p>
                  </div>
                  <div class="declarer-container">
                    <div class="declarer"><span class="declarer-name">Alfred Cardinal</span><a href="#" class="declarer-thumbnail"><img src="../../static/img/home-products/tenant_small.png" alt=""></a></div>
                    <div class="btns"><a href="#" class="btn bg-success"><i class="text-white flaticon stroke mail-2"></i></a><a href="#" class="btn bg-success"><i class="text-white flaticon stroke calendar-2"></i></a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="section-body">
                  <div class="thumbnail-img"><a href="products/product_detail.html" class="img-wrapper"><img src="../../static/img/home-products/audi.jpg"><span class="badge price">100&euro; /jour</span><span class="badge-order">2</span></a></div>
                  <div class="info">
                    <h6><a href="#">Audi - A3</a><span class="badge-pro">pro</span>
                    </h6>
                    <p>Paris Paris Paris Paris Paris Paris Paris Paris Paris Paris <span class="zip-code">,&nbsp;12432</span></p>
                    <div class="rate"><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2 current-rate"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span>
                    </div><span class="sprite-comment"><i class="flaticon stroke writing-comment"></i>1</span>
                    <p class="full_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima debitis labore, ad sequi nostrum officiis!</p>
                  </div>
                  <div class="declarer-container">
                    <div class="declarer"><span class="declarer-name">Alfred Cardinal</span><a href="#" class="declarer-thumbnail"><img src="../../static/img/home-products/tenant_small.png" alt=""></a></div>
                    <div class="btns"><a href="#" class="btn bg-success"><i class="text-white flaticon stroke mail-2"></i></a><a href="#" class="btn bg-success"><i class="text-white flaticon stroke calendar-2"></i></a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="section-body">
                  <div class="thumbnail-img"><a href="products/product_detail.html" class="img-wrapper"><img src="../../static/img/home-products/tent.jpg"><span class="badge price">56&euro; /jour</span><span class="badge-order">3</span></a></div>
                  <div class="info">
                    <h6><a href="#">Tante tip indien</a>
                    </h6>
                    <p>Nantes<span class="zip-code">,&nbsp;12432</span></p>
                    <div class="rate"><span class="flaticon solid star-2 current-rate"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span>
                    </div>
                    <p class="full_description">Lorem ipsum dolor sit amet, o ea adipisci?</p>
                  </div>
                  <div class="declarer-container">
                    <div class="declarer"><span class="declarer-name">Alfred Cardinal</span><a href="#" class="declarer-thumbnail"><img src="../../static/img/home-products/tenant_small.png" alt=""></a></div>
                    <div class="btns"><a href="#" class="btn bg-success"><i class="text-white flaticon stroke mail-2"></i></a><a href="#" class="btn bg-success"><i class="text-white flaticon stroke calendar-2"></i></a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="section-body">
                  <div class="thumbnail-img"><a href="products/product_detail.html" class="img-wrapper"><img src="../../static/img/home-products/tent.jpg"><span class="badge price">56&euro; /jour</span><span class="badge-order">4</span></a></div>
                  <div class="info">
                    <h6><a href="#">Tante tip indien</a>
                    </h6>
                    <p>Nantes<span class="zip-code">,&nbsp;12432</span></p>
                    <div class="rate"><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2 current-rate"></span>
                    </div><span class="sprite-comment"><i class="flaticon stroke writing-comment"></i>6</span>
                    <p class="full_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea impedit vero natus quos praesentium eaque!</p>
                  </div>
                  <div class="declarer-container">
                    <div class="declarer"><span class="declarer-name">Alfred Cardinal</span><a href="#" class="declarer-thumbnail"><img src="../../static/img/home-products/tenant_small.png" alt=""></a></div>
                    <div class="btns"><a href="#" class="btn bg-success"><i class="text-white flaticon stroke mail-2"></i></a><a href="#" class="btn bg-success"><i class="text-white flaticon stroke calendar-2"></i></a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="section-body">
                  <div class="thumbnail-img"><a href="products/product_detail.html" class="img-wrapper"><img src="../../static/img/home-products/tent.jpg"><span class="badge price">56&euro; /jour</span><span class="badge-order">5</span></a></div>
                  <div class="info">
                    <h6><a href="#">Tante tip indien</a>
                    </h6>
                    <p>Nantes<span class="zip-code">,&nbsp;12432</span></p>
                    <div class="rate"><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2 current-rate"></span><span class="flaticon solid star-2"></span>
                    </div><span class="sprite-comment"><i class="flaticon stroke writing-comment"></i>31</span>
                    <p class="full_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores officiis eos similique nihil velit laudantium.</p>
                  </div>
                  <div class="declarer-container">
                    <div class="declarer"><span class="declarer-name">Alfred Cardinal</span><a href="#" class="declarer-thumbnail"><img src="../../static/img/home-products/tenant_small.png" alt=""></a></div>
                    <div class="btns"><a href="#" class="btn bg-success"><i class="text-white flaticon stroke mail-2"></i></a><a href="#" class="btn bg-success"><i class="text-white flaticon stroke calendar-2"></i></a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="section-body">
                  <div class="thumbnail-img"><a href="products/product_detail.html" class="img-wrapper"><img src="../../static/img/home-products/tent.jpg"><span class="badge price">56&euro; /jour</span><span class="badge-order">6</span></a></div>
                  <div class="info">
                    <h6><a href="#">Tante tip indien</a>
                    </h6>
                    <p>Nantes<span class="zip-code">,&nbsp;12432</span></p>
                    <div class="rate"><span class="flaticon solid star-2"></span><span class="flaticon solid star-2 current-rate"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span>
                    </div><span class="sprite-comment"><i class="flaticon stroke writing-comment"></i>312</span>
                    <p class="full_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum vitae, maxime dicta modi eligendi.</p>
                  </div>
                  <div class="declarer-container">
                    <div class="declarer"><span class="declarer-name">Alfred Cardinal</span><a href="#" class="declarer-thumbnail"><img src="../../static/img/home-products/tenant_small.png" alt=""></a></div>
                    <div class="btns"><a href="#" class="btn bg-success"><i class="text-white flaticon stroke mail-2"></i></a><a href="#" class="btn bg-success"><i class="text-white flaticon stroke calendar-2"></i></a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="section-body">
                  <div class="thumbnail-img"><a href="products/product_detail.html" class="img-wrapper"><img src="../../static/img/home-products/tent.jpg"><span class="badge price">56&euro; /jour</span><span class="badge-order">7</span></a></div>
                  <div class="info">
                    <h6><a href="#">Tante tip indien</a>
                    </h6>
                    <p>Nantes<span class="zip-code">,&nbsp;12432</span></p>
                    <div class="rate"><span class="flaticon solid star-2"></span><span class="flaticon solid star-2 current-rate"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span>
                    </div><span class="sprite-comment"><i class="flaticon stroke writing-comment"></i>3</span>
                    <p class="full_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsam sed tempora, optio labore ullam.</p>
                  </div>
                  <div class="declarer-container">
                    <div class="declarer"><span class="declarer-name">Alfred Cardinal</span><a href="#" class="declarer-thumbnail"><img src="../../static/img/home-products/tenant_small.png" alt=""></a></div>
                    <div class="btns"><a href="#" class="btn bg-success"><i class="text-white flaticon stroke mail-2"></i></a><a href="#" class="btn bg-success"><i class="text-white flaticon stroke calendar-2"></i></a></div>
                  </div>
                </div>
              </li>
              <li>
                <div class="section-body">
                  <div class="thumbnail-img"><a href="products/product_detail.html" class="img-wrapper"><img src="../../static/img/home-products/tent.jpg"><span class="badge price">56&euro; /jour</span><span class="badge-order">8</span></a></div>
                  <div class="info">
                    <h6><a href="#">Tante tip indien</a>
                    </h6>
                    <p>Nantes<span class="zip-code">,&nbsp;12432</span></p>
                    <div class="rate"><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2 current-rate"></span><span class="flaticon solid star-2"></span><span class="flaticon solid star-2"></span>
                    </div><span class="sprite-comment"><i class="flaticon stroke writing-comment"></i>3</span>
                    <p class="full_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio possimus obcaecati eligendi maxime, debitis numquam?</p>
                  </div>
                  <div class="declarer-container">
                    <div class="declarer"><span class="declarer-name">Alfred Cardinal</span><a href="#" class="declarer-thumbnail"><img src="../../static/img/home-products/tenant_small.png" alt=""></a></div>
                    <div class="btns"><a href="#" class="btn bg-success"><i class="text-white flaticon stroke mail-2"></i></a><a href="#" class="btn bg-success"><i class="text-white flaticon stroke calendar-2"></i></a></div>
                  </div>
                </div>
              </li>
            </ol>
            <div class="text-center">
              <ul class="pagination">
                <li><a href="#" class="chevron"><i class="flaticon stroke left-2"></i></a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#" class="chevron"><i class="flaticon stroke right-2"></i></a></li>
              </ul>
            </div>
          </main>
        </div>
      </article>
      <footer>
        <section class="download-mobile-apps framing">
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                <h3>Les bonnes affaires e-loue, c'est (aussi) dans la poche</h3>
                <p>Retrouvez toutes les fonctionnalités que vous aimez sur iPhone, iPad et Android.</p><a href="#"><img src="../../static/img/btn-google-play.png"></a><a href="#"><img src="../../static/img/btn-app-store.png"></a>
              </div>
            </div>
          </div>
        </section>
        <section class="footer-links">
          <div class="container">
            <ul class="nav nav-justified">
              <li class="divide"></li>
              <li class="ul-wrapper">
                <div class="centering">
                  <h4 class="text-nowrap">Le concept eloue</h4>
                  <ul class="nav">
                    <li class="link-wrapper"><a href="#">Comment ça marche ?</a></li>
                    <li class="link-wrapper"><a href="#">Simulez vos revenus</a></li>
                    <li class="link-wrapper"><a href="#">Questions fréquentes</a></li>
                    <li class="link-wrapper"><a href="#">Conseils pour les propriétaires</a></li>
                    <li class="link-wrapper"><a href="#">Conseils pour les locataires</a></li>
                    <li class="link-wrapper"><a href="#">Témoignages</a></li>
                  </ul>
                </div>
              </li>
              <li class="divide"></li>
              <li class="ul-wrapper">
                <div class="centering">
                  <h4 class="text-nowrap">Pourquoi choisir eloue</h4>
                  <ul class="nav">
                    <li class="link-wrapper"><a href="#">Assurance sérénité</a></li>
                    <li class="link-wrapper"><a href="#">Paiement et caution sécurisés</a></li>
                    <li class="link-wrapper"><a href="#">Contrats de location</a></li>
                    <li class="link-wrapper"><a href="#">Parrainez vos proches</a></li>
                    <li class="link-wrapper"><a href="#">L’offre e-loue Pro</a></li>
                  </ul>
                </div>
              </li>
              <li class="divide"></li>
              <li class="ul-wrapper">
                <div class="centering">
                  <h4 class="text-nowrap">L’entreprise e-loue</h4>
                  <ul class="nav">
                    <li class="link-wrapper"><a href="#">Qui sommes-nous ?</a></li>
                    <li class="link-wrapper"><a href="#">Nos partenaires</a></li>
                    <li class="link-wrapper"><a href="#">Respect de la vie privée</a></li>
                    <li class="link-wrapper"><a href="#">Conditions générales</a></li>
                    <li class="link-wrapper"><a href="#">Mentions légales</a></li>
                  </ul>
                </div>
              </li>
              <li class="divide"></li>
              <li class="ul-wrapper">
                <div class="centering">
                  <h4 class="text-nowrap">En savoir plus</h4>
                  <ul class="nav">
                    <li class="link-wrapper"><a href="#">Espace presse</a></li>
                    <li class="link-wrapper"><a href="#">Espace job</a></li>
                    <li class="link-wrapper"><a href="#">Contactez-nous</a></li>
                    <li class="link-wrapper"><a href="#">E-loue en mobilité</a></li>
                    <li class="link-wrapper"><a href="#">Blog e-loue</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section class="rss">
          <div class="container">
            <div class="row">
              <div class="table-cell">
                <p>Abonnez-vous à la newsletter e-loue pour être informé des bonnes affaires et de nos actualités. </p><a href="#"><b>Déjà 2 Millions d'inscrits !</b></a>
              </div>
              <div class="table-cell main-cell">
                <form role="" class="input-group">
                  <input type="email" placeholder="Saisissez votre email..." class="form-control">
                  <div class="input-group-btn">
                    <button type="submit" class="table-cell btn btn-default">Validez</button>
                  </div>
                </form>
              </div>
              <div class="table-cell">
                <div class="social-btns"><a href="#"><i class="flaticon social facebook"></i></a><a href="#"><i class="flaticon social twitter"></i></a><a href="#"><i class="flaticon social google-plus"></i></a></div>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>