extends ../base

block variables
	-var STATIC_URL = '../../static/'

block content
	header
		include ../jade/_header_site
	nav
		include ../jade/_breadcrumbs
	article.product-details.container
		.row
			.col-sm-8.product-details-title
				include ../jade/_porduct_details_title
			.col-sm-4.share-btns
		.row
			main.col-sm-8
				section
					.section-body
						.part.picture-tab
							include ../jade/product_details/main/_picture_tab
						.part.description
							include ../jade/product_details/main/_description
						.part.comments.comments-ad
							include ../jade/product_details/main/_comments_ad
						.part.comments.comments-owner
							include ../jade/product_details/main/_comments_owner
			aside.col-sm-4
				section.booking-form
					include ../jade/product_details/aside/_booking_form
				section.add-to-wishlist
					include ../jade/product_details/aside/_add_to_wishlist
				section.owner-information
					include ../jade/product_details/aside/_owner_information
				section.similar-listing
					include ../jade/product_details/aside/_similar_listing
				section.connected-with-owner
					include ../jade/product_details/aside/_connected_with_owner
	footer
		section.row-fluid.insurances.framing-h
			include ../jade/_insurances
		section.row-fluid.footer-links
			include ../jade/_footer_links
		section.row-fluid.rss.pad-v-4
			include ../jade/_rss

	include ../jade/_sign_in
	include ../jade/_log_in
