.row.banner.hidden-xs.text-center
	img(src = "img/banner.jpg")
	.container
		.banner-content.text-uppercase.pad-v-5
			h2.mrg-v-2
				| louez un objet, une voiture...
				br
				| près de chez vous, en tout sécurité !
			a( href = "#" ) une communauté de confiance