h3.margin-b-0
	| Les bonnes affaires e-loue, c'est (aussi) dans la poche
p.lg-ln-height
	| Retrouvez toutes les fonctionnalités que vous aimez sur iPhone, iPad et Android.
a(href = "#")
	img(src = "img/btn-google-play.png")
a(href = "#")
	img(src = "img/btn-app-store.png")
