h3
	| Les bonnes affaires e-loue, c'est (aussi) dans la poche
p
	| Retrouvez toutes les fonctionnalités que vous aimez sur iPhone, iPad et Android.
.row.mrg-v-1
	.col-md-3
		a(href = "#")
			img(src = "img/btn-google-play.png")
	.col-md-3
		a(href = "#")
			img(src = "img/btn-app-store.png")
