h3
	| Les viles les plus actives
.row
	ul.nav.nav-tabs.nav-justified.ov-hidden
		-var cities = []
		-cities.push({ "name": "paris", "actives": "123 254" })
		-cities.push({ "name": "lyon", "actives": "98 453" })
		-cities.push({ "name": "toulouse", "actives": "90 657" })
		-cities.push({ "name": "nantes", "actives": "123 254" })
		-cities.push({ "name": "rennes", "actives": "98 453" })
		-cities.push({ "name": "bordeaux", "actives": "90 657" })
		-cities.push({ "name": "lille", "actives": "123 254" })
		-cities.push({ "name": "montpelier", "actives": "98 453" })
		-cities.push({ "name": "rouen", "actives": "90 657" })
		-var col = 3, length = cities.length
		-for(var i = 0, city = 0; i < col; i++)
			li.divide
			li
				ul.nav
					-for(var j = 0; (j < Math.ceil(length / col)) && city < length; j++, city++)
						li.text-left.text-nowrap.item-city
							.col-md-8
								a(href = "#").link-success-color #{cities[city].name}
							.col-md-4
								span.actives-count #{cities[city].actives}