.row-fluid.professional-renter-content.framing
	.container.mrg-v-8
		.row
			.col-md-8
				h3
					| Vous êtes loueur professionel ?
					br
					| Nous aussi !
				p
					| e-loue est le premier site de location dédié au particuliers et aux professionnels. 
					| Quelque soit votre localité et votre domaine d'activité (bricolage, photo/vidéo, jardinage, 
					| matériel de réception, déguisements, voitures,... ), nos membres seront intéressés par 
					| vos produits à louer : ils viennent chez nous pour ça !
				a(href="#").link-success-color en savoir plus
			.col-md-4
				.img-wrapper.text-right
					a(href="#").link-sprite