.row.rss
	.container.mrg-v-4
		.row
			.col-md-4
				p
					| Abonnez-vous à la newsletter e-loue pour être 
					br
					| informé des bonnes affaires et de nos actualités. 
					br
					a(href="#")
						b Déjà 2 Millions d'inscrits !
			.col-md-6
				form(role = "").form-inline
					input(type = "email" placeholder = "Saisissez votre email...").form-control
					button(type = "submit").btn.btn-default Validez
			.col-md-2.text-right
				.social-btns
					a(href="#")
						span.icon-facebook
					a(href="#")
						span.icon-twitter
					a(href="#")
						span.icon-google-plus