//- script(src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js")
script(src="http://jamesallardice.github.io/Placeholders.js/assets/js/placeholders.min.js")

script(src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places")
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="/js/chosen.jquery.min.js")
script(src="/js/formmapper.js")
script(src="/js/bootstrap/modal.js")
script(src="/js/bootstrap/dropdown.js")
script(src="/js/scripts.js")