.modal.fade#sign-in(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	.modal-dialog
		.modal-content.text-center
			.modal-header
				button(type="button" data-dismiss="modal").close
					span(aria-hidden="true")&times;
					span.sr-only Close
				h4.modal-title#myModalLabel Inscription
			.modal-body
				h3 Inscrivez-vous en 2 secondes
				.form-group
					a(href="#").inscription.facebook
						span.icon-facebook
						| Inscription via Facebook
				.form-group
					a(href="#").inscription.google
						span.icon-google-plus
						| Inscription via Google
				p.info
					| Nous ne publierons jamais rien sur votre profil (sauf si vous le demandez) 
					br
					| Vos données personnelles ne seront jamais cédées ou vendues.
				span.or
				h3 Inscrivez-vous en 30 secondes
				form.classic-form
					.form-group
						input(type="text" placeholder="Nom *").form-control
					.form-group
						input(type="text" placeholder="Prénom *").form-control
					.form-group
						input(type="text" placeholder="Code postal *").form-control
					.form-group
						input(type="email" placeholder="E-mail *").form-control
					.form-group
						input(type="password" placeholder="Mot de passe *").form-control
					.form-group
						input(type="password" placeholder="Confirmation *").form-control
					.form-group
						a(href="#").inscription
							| Inscription via Email
				.form-group
					button.btn.inscription.email
						| Inscription via Email
				form
					.checkbox
						label(for="inform")
							input(type="checkbox" checked)#inform
							span.icon-ok
						| Tenez moi informé de l'actualité et des bonnes affaires e-loue
				p
					| En créant un compte e-loue, vous acceptez les Conditions Générales
					br
					| et la Politique de Confidentialité de notre site
				span.or
				h4 Vous êtes déjà membre e-loue ?
				a(href="#").last-link.connexion Connexion
