.col-md-6
	.video
		.smoke
		img(src="/img/video-screen.jpg", alt="")
		span.btn-play
.col-md-6
	.description
		h3.margin-b-0
			| e-loue c'est simple, efficace 
			br
			| et sécurisé
		p.lg-ln-height
			| Avec e-loue, mettez en location vos biens que n'utilisez pas 
			| tous les jours : outils, appareils photo, voiture, tondeuse, 
			| vidéo-projecteur, poussette... Gagnez de l'argent et
			| rentabiliez vos achats en toure simplicité, et sans risque.
			| Nos locations sont assurées et sécurisées.
		a(href="#").link-success-color en savoir plus