h3.text-center
	span.products-count 324 654 
	| annonces de location dans 
	span.products-location toute la France
ul.row.nav
	-var products = []
	-products[0] = { "image": "img/home-products/bike.jpg", "title": "Bike Bike Bike Bike Bike Bike Bike Bike Bike Bike ", "location": "Aubervillies", "price": "56", "declarer": "img/home-products/declarer.png" }
	-products[1] = { "image": "img/home-products/audi.jpg", "title": "Audi - A3", "location": "Paris Paris Paris Paris Paris Paris Paris Paris Paris Paris ", "price": "100", "declarer": "img/home-products/declarer.png" }
	-products[2] = { "image": "img/home-products/tent.jpg", "title": "Tante tip indien", "location": "Nantes", "price": "56", "declarer": "img/home-products/declarer.png" }
	-for( var i = 0; i < 8; i++)
		-var ind = i % 3
		li.col-sm-6.col-md-3.item
			a(href="#").thumbnail
				.img-wrapper
					img( src = products[ ind ].image )
					.fog
				span.badge.price #{products[ ind ].price}&euro; /jour
				.info
					.description.text-nowrap
						h4 #{products[ ind ].title}
						p #{products[ ind ].location}
						.declarer
							img( src = products[ ind ].declarer )
.row.explore
	button(type = "button").btn.btn-success.btn-explore
		span.icon-search
		| Explorez toutes les annonces