.col-md-8
	h3.margin-b-0
		| Vous êtes loueur professionel ?
		br
		| Nous aussi !
	p.lg-ln-height
		| e-loue est le premier site de location dédié au particuliers et aux professionnels. 
		| Quelque soit votre localité et votre domaine d'activité (bricolage, photo/vidéo, jardinage, 
		| matériel de réception, déguisements, voitures,... ), nos membres seront intéressés par 
		| vos produits à louer : ils viennent chez nous pour ça !
	a(href="#").link-success en savoir plus
.col-md-4
	.img-wrapper
		a(href="#")
			img(src="../img/trusting-association.png", alt="")