h3 Commentaire liés au propriétaire
ul.list-group
	-each i in [1,2,3,4]
		li.list-group-item.thumbnail
			.thumbnail-img
				a(href="#")
					img(src=STATIC_URL+"img/home-products/comentator.png", alt="")
			.thumbnail-content
				h5 
					a(href="#") Jonathan Moreira
				p 
					| Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
					| est non commodo luctus, nisi erat porttitor ligula, eget.
				small Le 12 Mai 2014