h3 Commentaires liés à cette annonce

ul.list-group
	each comment in comments
		li.list-group-item.thumbnail
			.thumbnail-img
				a(href="#")
					img(src=STATIC_URL+comment.thumbnail, alt="")
			.thumbnail-content
				h5 
					a(href="#").indent-r-xs #{comment.name}
					include ../../_rate
				p #{comment.message}
				small #{comment.time}