h3 Déscription
.row
	.col-sm-6.text
		p Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
		p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
	.col-sm-6.properties
		ul.list-group
			-each prop, index in properties
				li.list-group-item
					span.col-sm-5 #{prop[0]}
					b.col-sm-7 #{prop[1]}&nbsp;&nbsp;
						-if(index===0)
							include ../../_rate