h3 Déscription
.row
	.col-sm-6.text
		#{product.description}
	.col-sm-6.properties
		table.calendar.bd-clear: tbody
		//-
			each prop, index in properties
				tr
					td #{prop[0]}
					td: b #{prop[1]}&nbsp;&nbsp;
						if index == 0
							include ../../_rate