{% extends "base.html" %}
{% load i18n compressed mptt_tags product cache %}

{% block title %}{% trans "Location entre particuliers ou professionnels de tout type d'objet" %}{% endblock %}

{% block head %}
 {{ block.super }}
{% endblock %}

{% block content %}
	<div id="search" class="xgrid">
        <div class="x12">
		  <h1>{% trans "Avec e-loue, tout se loue !" %}</h1>
		</div>
		<form class="form" action="{% url product_list %}">
		<div class="x5">
			<p>
				<label for="id_q">{% trans "Que voulez-vous louer ?" %}</label><br />
				{{ form.q }}<br />
				<span>{% trans "Exemple :" %} </span> <a href="{% url product_list %}?q={% trans "voiture" %}">{% trans "Voiture" %}</a>, <a href="{% url product_list %}?q={% trans "chèvre" %}">{% trans "Chèvre" %}</a>, <a href="{% url product_list %}?q={% trans "ski" %}">{% trans "Ski" %}</a>, <a href="{% url product_list %}?q={% trans "robe" %}">{% trans "Robe" %}</a>
			</p>
		</div>
		<div class="x5">
			<p>
				<label>{% trans "Où ?" %}</label><br />
				{{ form.l }}<br />
			</p>
		</div>
		<div class="x2">
			<p>
				<input type="submit" value="{% trans "Rechercher" %}" class="btn big-orange"/>
			</p>
		</div>
		</form>
	</div>{# top-content #}
	<div id="content-home" class="xgrid">
	    <div class="x8">
    		<div class="content-header x8 first">
    		 <h2>{% trans "Les curiosités d'e-loue" %}</h2>
    		</div>
    		 {% cache 900 curiosities site %}
    	     {% for curiosity in curiosities|slice:":4" %}
    		  {% with curiosity.product as product %}
    		 	 {% if forloop.first %}
    			 	<div class="x2 first curiosity">
    			 {% else %}
    			 	<div class="x2 curiosity">
    			 {% endif %}
    			 	<a href="{{ product.get_absolute_url }}" class="curiosity-img">
    	  	   {% with product.pictures.all|first as picture %}
    				  <img src="{{ picture.home.url }}" alt="{{ product.summary }}"/>
    				 {% endwith %}
    				</a>
    				<h3>
    				    <a href="{{ product.get_absolute_url }}">{{ product.summary|lower|capfirst }}</a>
    				</h3>
    				{% with product.prices.day|first as price %}
                    <span class="price">{{ price }}/jour</span>
                    {% endwith %}   
    			</div>
    		 {% endwith %}
    		{% endfor %}	 
    	{% endcache %}
    	 </div>
    	 <div class="x4">
         	<div class="content-header x4 first">
         	 <h2>What is eRentmarket ?</h2>
         	</div>
           <div class="welcome-eRentmarket x4 first">
         	 <a href={% trans "/what-is-erentmarket/" %} class="welcome-link">Tout savoir sur loueunepetiteamie.com</a>
         	</div>
         </div>
     	<div class="x12 horizontal-assurancy">
    	    <div class="guarantees">
    	        <div class="content-header">
        			<h2>{% trans "Avec les garanties e-loue, louez en toute sécurité !" %}</h2>
        		</div>
    			<div class="g-payment">
    			    {% blocktrans %}
    			     <p>Grâce à <strong>PayPal</strong>, bénéficiez du paiement le plus sécurisé au monde.</p>
    			    {% endblocktrans %}
    			</div>
    			<div class="g-assurancy">
    			    {% blocktrans %}
    				 <p>Notre <strong>partenaire assureur</strong> garantit vos objets en cas de casse.</p>
    				{% endblocktrans %}
    			</div>
    		</div>
    		<div class="assurancy-partner">
                <div class="assurancy-slide">
                    <a href="{% trans "/comment-ca-marche/" %}" class="slide">
                        <img src="{{ MEDIA_URL }}images/pp-verification-seal.gif" alt="PayPal" width="100" height="100" class="pp"/>
                        <img src="{{ MEDIA_URL }}images/dcns/assurone.png" alt="Assurone" width="157" height="90" class="assurone"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="content-header x12">
    	 <h2>{% trans "Catégories" %}</h2>
    	</div>
    	{% cache 900 categories site %}
    	 {% full_tree_for_model products.Category as categories %}
    	 {% for column in categories|partition:4 %}
    	  <div class="x3 categories">
    	   {% for category in column %}
    	    {% if category.is_root_node %}
    	     {% drilldown_tree_for_node category as drilldown cumulative count products.Product.category in product_count %}
    	     {% for node,structure in drilldown|tree_info %}
    	      {% if node.is_root_node and node.slug != 'divers' %}
    	      <h3><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></h3>
    	      <ul>
    	      {% else %}
    	       {% if node.product_count %}
    	        <li><a href="{{ node.get_absolute_url }}">{{ node.name }}</a></li>
    	       {% endif %}
    	      {% if structure.closed_levels|length >= 2 %}</ul>{% endif %}
    	     {% endif %}
    	    {% endfor %}
    	   {% endif %}
    	  {% endfor %}
    	 </div>
        {% endfor %}
       {% endcache %}
       <div class="content-community">
           <div class="x8">
               <div class="content-header x8 first">
                   <h2>Ils parlent de nous !</h2>
               </div>
               <a href="{% trans "/espace-presse/" %}" title="{% trans "Espace presse" %}">
    		       <img src="{{ MEDIA_URL }}/images/presse_icons_uk.png" alt="{% trans "e-loue dans les média" %}"/>
    	      </a>
	      </div>
  	      <div class="x4">
  	          <div class="box-tools clearfix">
  	              <h3>Rejoignez notre communauté</h3>
  	              <ul class="community-portlet-content">
  	                  <li class="fb">
  	                      <a href="https://www.facebook.com/pages/e-louecom/104685226447">
  	                          <span class="fb-icon"></span>
                  			  Devenez fan<br>sur Facebook
                  		  </a>
                      </li>
                      <li class="tw">
                          <a href="https://twitter.com/eloue">
                              <span class="tw-icon"></span>
                  			  Suivez-nous<br>sur Twitter
                  		  </a>
                  	  </li>
                  </ul>
  	          </div>
  	      </div>
       </div>
	</div>{# content #}
{% endblock %}