.container
  h1.text-center.indent-t-lg.indent-b-lg
    | avec e-loue, vous pouvez gagner 
    br
    | de l’argent et économiser de l’argent ! 
    br
    | c’est pratique, c’est simple, 
    br
    | et c’est 100% sécurisé