{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{{ flatpage.title }} - {{ block.super }}{% endblock %}

{% block content %}
<div id="menu" class="clearfix">
	<div class="ht-title x4">
		<h1>Comment ça marche ?</h1>
	</div>
	<div class="ht-baseLine x8">
		<span>e-loue permet de louer ou de mettre en location tout type d'objet</span>
	</div>
</div>
<div id="content-dash" class="clearfix">
	<div class="ht-col x6">
		<h2>
			Je suis<br /><strong>locataire</strong>
		</h2>
		<ol>
			<li>
				<span class="ht-number orange">
					1.
				</span>
				<span class="ht-desc">
					<b>Je trouve l'objet idéal</b><br />
					Je peux chercher par mot-clé ou par catégorie, et trier les résultats par prix ou par proximité géographique.
				</span>
			</li>
			<li>
				<span class="ht-number orange">
					2.
				</span>
				<span class="ht-desc">
					<b>Je réserve l'objet</b><br />
					Je dépose une demande de réservation pour une période donnée, puis j'attend la réponse du propriétaire.
				</span>
			</li>
			<li>
				<span class="ht-number orange">
					3.
				</span>
				<span class="ht-desc">
					<b>Je reçois l'objet</b><br />
					Je rencontre le propriétaire pour récupérer l'objet. Je signe le contrat et donne le chèque de caution si demandé.
				</span>
			</li>
			<li>
				<span class="ht-number orange">
					4.
				</span>
				<span class="ht-desc">
					<b>Je rends l'objet</b><br />
					Je rends l'objet dans le même état que lors de la réception.
				</span>
			</li>
		</ol>
	</div>
	<div class="ht-col x6">
		<h2>
			Je suis<br /><strong>propriétaire</strong>
		</h2>
		<ol>
			<li>
				<span class="ht-number ht-n1-g">
				
				</span>
				<span class="ht-desc">
					<b>Je mets mes objets en location</b><br />
					Je décris l'objet, j'ajoute une photo, je précise le prix et je peux demander une caution.
				</span>
			</li>
			<li>
				<span class="ht-number green">
					2.
				</span>
				<span class="ht-desc">
					<b>J'approuve une location</b><br />
					Je reçois la demande de location par mail et je l'approuve.
				</span>
			</li>
			<li>
				<span class="ht-number green">
					3.
				</span>
				<span class="ht-desc">
					<b>Je prête mon objet</b><br />
					Je rencontre le locataire, lui présente l'objet et lui fait signer le contrat.
				</span>
			</li>
			<li>
				<span class="ht-number green">
					4.
				</span>
				<span class="ht-desc">
					<b>Je récupère mon objet</b><br />
					Je vérifie que l'objet et dans le même état que lors du prêt. Je retourne sur e-loue pour récupérer le montant de la location.
				</span>
			</li>
		</ol>
	</div>
</div>{# content-dash #}
{% endblock %}