{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
<div id="menu" class="clearfix">
	<div class="ht-title x4">
		<h1>Comment ça marche ?</h1>
	</div>
	<div class="ht-baseLine x8">
		<span>e-loue permet de louer ou de mettre en location tout type d'objet</span>
	</div>
</div>
<div id="content-dash" class="clearfix">
	<div class="ht-col x6">
		<h1>
			Je suis<br /><strong>locataire</strong>
		</h1>
		<ol>
			<li>
				<div class="ht-number ht-n1-o">
				</div>
				<div class="ht-desc">
					<span>Je trouve l'objet idéal</span><br />
					Je peux chercher par mot-clé ou par catégorie, et trier les résultats par prix ou par proximité géographique.
				</div>
			</li>
			<li>
				<div class="ht-number ht-n2-o">
				</div>
				<div class="ht-desc">
					<span>Je réserve l'objet</span><br />
					Je dépose une demande de réservation pour une période donnée, puis j'attends la réponse du propriétaire.
				</div>
			</li>
			<li>
				<div class="ht-number ht-n3-o">
				</div>
				<div class="ht-desc">
					<span>Je reçois l'objet</span><br />
					Je rencontre le propriétaire pour récupérer l'objet. Je signe le contrat et donne le chèque de caution si demandé.
				</div>
			</li>
			<li>
				<div class="ht-number ht-n4-o">
				</div>
				<div class="ht-desc">
					<span>Je rends l'objet</span><br />
					Je rends l'objet dans le même état que lors de la réception.
				</div>
			</li>
		</ol>
	</div>
	<div class="ht-col x6">
		<h1>
			Je suis<br /><strong>propriétaire</strong>
		</h1>
		<ol>
			<li>
				<div class="ht-number ht-n1-g">
				</div>
				<div class="ht-desc">
					<span>Je mets mes objets en location</span><br />
					Je décris l'objet, j'ajoute une photo, je précise le prix et je peux demander une caution.
				</div>
			</li>
			<li>
				<div class="ht-number ht-n2-g">
				</div>
				<div class="ht-desc">
					<span>J'approuve une location</span><br />
					Je reçois la demande de location par mail et je l'approuve.
				</div>
			</li>
			<li>
				<div class="ht-number ht-n3-g">
				</div>
				<div class="ht-desc">
					<span>Je prête mon objet</span><br />
					Je rencontre le locataire, lui présente l'objet et lui fais signer le contrat.
				</div>
			</li>
			<li>
				<div class="ht-number ht-n4-g">	
				</div>
				<div class="ht-desc">
					<span>Je récupère mon objet</span><br />
					Je vérifie que l'objet est dans le même état que lors du prêt. Je retourne sur e-loue pour récupérer le montant de la location.
				</div>
			</li>
		</ol>
	</div>
	<div class="ht-fonction x12">
		<h1>Pourquoi passer par e-loue ?</h1>
		<ul class="ht-f-col">
			<li>
				<div class="ht-icon lock">	
				</div>
				<div class="ht-f-desc">
					<span>Payez en toute sécurité</span><br />
					Grâce à PayPal, bénéficiez du paiement le plus sécurisé au monde.
				</div>
			</li>
			<li>
				<div class="ht-icon car">	
				</div>
				<div class="ht-f-desc">
					<span>Louez tout</span><br />
					De la voiture à la robe de soirée en passant par une perceuse, vous pouvez tout louer.
				</div>
			</li>
			<li>
				<div class="ht-icon laptop">	
				</div>
				<div class="ht-f-desc">
					<span>Réservez en ligne</span><br />
					Le paiement s'effectue en ligne et nous vous garantissons ainsi le paiement.
				</div>
			</li>
		</ul>
		<ul class="ht-f-col">
			<li>
				<div class="ht-icon money">	
				</div>
				<div class="ht-f-desc">
					<span>Gagnez de l’argent</span><br />
					Rentabilisez un bien que vous utilisez rarement.
				</div>
			</li>
			<li>
				<div class="ht-icon assurancy">	
				</div>
				<div class="ht-f-desc">
					<span>Soyez assuré</span><br />
					Notre partenaire assureur garantit vos objets en cas de casse.
				</div>
			</li>
			<li>
				<div class="ht-icon people">	
				</div>
				<div class="ht-f-desc">
					<span>Touchez un large public</span><br />
					Votre annonce sera visible sur les moteurs de recherche.
				</div>
			</li>
		</ul>
	</div>
</div>{# content-dash #}
{% endblock %}