{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
<div id="content-dash" class="flatpage clearfix">
	<div id="menu" class="dash">
		<div class="ht-title x4">
			<h1>{{ flatpage.title }}</h1>
		</div>
	</div>
	<div class="fl-content x7">
		<div class="fl-bloc-header">
			<h2>E-loue, qu'est-ce que c'est ?</h2>
		</div>
		<div class="fl-bloc-content">
			<p>
					E-loue est une plateforme internet innovante destinée aux particuliers et aux professionnel. 
					Elle permet à tous ses membres de louer ou mettre en location tout type d’objet (perceuse, 
					vélo, raquette de tennis, bijoux, robes, console de jeux,etc.).
			</p>
		</div>
		<div class="fl-bloc-header">
			<h2>E-loue dans la presse</h2>
		</div>
		<div class="fl-bloc-content">
				<ul class="press-links scroll-pane">
					<li>Dans l’Hebdo Bourse Plus <span id="press_link">|<a href="http://blog.e-loue.com/2011/01/24/e-loue-dans-lhebdo-bourse-plus/">suite</a>|</span></li>
					<li>Dans Ecolomag pour la seconde fois <span id="press_link">|<a href="http://blog.e-loue.com/2011/01/20/e-loue-dans-ecolomag-pour-la-seconde-fois/">suite</a>|</span></li>
					<li>Sur TF1 dans Près de chez vous <span id="press_link">|<a href="http://blog.e-loue.com/2011/01/19/la-location-dami-et-dobjet-vu-par-tf1-pres-de-chez-vous/">suite</a>|</span></li>
					<li>Sur Le Journal du Net <span id="press_link">|<a href="http://blog.e-loue.com/2011/01/12/e-loue-sur-le-journal-du-net/">suite</a>|</span></li>
					<li>Dans Marianne <span id="press_link">|<a href="http://blog.e-loue.com/2011/01/11/e-loue-dans-marianne/">suite</a>|</span></li>
					<li>Dans Vive la Vie <span id="press_link">|<a href="http://blog.e-loue.com/2011/01/05/e-loue-dans-vive-la-vie/">suite</a>|</span></li>
					<li>Dans Elle à Table <span id="press_link">|<a href="http://blog.e-loue.com/2011/01/05/e-loue-dans-elle-a-table-miam-on-parle-de-nourriture/">suite</a>|</span></li>
					<li>Sur Public Sénat <span id="press_link">|<a href="http://blog.e-loue.com/2011/01/04/e-loue-sur-public-senat/">suite</a>|</span></li>
					<li>Dans les Grosses Têtes de RTL <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/29/e-loue-dans-les-grosses-tetes-de-rtl/">suite</a>|</span></li>
					<li>Dans Le Monde <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/28/e-loue-dans-le-monde/">suite</a>|</span></li>
					<li>Dans Le Parisien <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/27/e-loue-dans-le-parisien-2/">suite</a>|</span></li>
					<li>Sur France Inter <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/24/e-loue-sur-france-inter-pour-les-cadeaux-de-noel/">suite</a>|</span></li>
					<li>Sur RTL 2 <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/22/e-loue-sur-le-blog-de-rtl-2-encore-les-chevres-la-revolution-ecolo-rigolo-est-en-marche/">suite</a>|</span></li>
					<li>Dans Elle <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/21/e-loue-dans-elle-vive-la-presse-feminine/">suite</a>|</span></li>
					<li>Sur le blog de SuperMarmite <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/17/e-loue-sur-le-blog-de-supermarmite/">suite</a>|</span></li>
					<li>Sur Version Femina <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/14/e-loue-sur-version-femina-nos-chevres-continuent-donc-de-faire-un-tabac/">suite</a>|</span></li>
					<li>Dans Réponse à tout ! <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/10/e-loue-dans-reponse-a-tout/">suite</a>|</span></li>
					<li>Sur Paris 75003 <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/02/e-loue-sur-paris-75003/">suite</a>|</span></li>
					<li>Dans Meilleure Santé <span id="press_link">|<a href="http://blog.e-loue.com/2010/12/01/e-loue-dans-meilleure-sante/">suite</a>|</span></li>
					<li>Dans Question pratique <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/30/e-loue-dans-question-pratique/">suite</a>|</span></li>
					<li>Dans Maison Magazine <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/30/e-loue-dans-maison-magazine/">suite</a>|</span></li>
					<li>Dans Micro Actuel <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/29/e-loue-dans-micro-actuel-mode-demploi/">suite</a>|</span></li>
					<li>Sur le blog de Zankyou <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/24/e-loue-sur-le-blog-de-zankyou/">suite</a>|</span></li>
					<li>Sur Ripe Green Ideas <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/22/e-loue-sur-ripe-green-ideas-le-blog-qui-fait-murir-les-idees-vertes/">suite</a>|</span></li>
					<li>Dans Okapi ! <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/19/e-loue-dans-okapi/">suite</a>|</span></li>
					<li>Dans Vie Pratique Féminin <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/18/e-loue-dans-vie-pratique-feminin/">suite</a>|</span></li>
					<li>Dans Grazia <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/16/e-loue-dans-grazia-encore-une-fois/">suite</a>|</span></li>
					<li>Dans Ecolomag <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/15/e-loue-dans-ecolomag/">suite</a>|</span></li>
					<li>Dans Stop Arnaques <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/05/e-loue-dans-stop-arnaques/">suite</a>|</span></li>
					<li>Sur Ushuaïa TV <span id="press_link">|<a href="http://blog.e-loue.com/2010/11/03/e-loue-sur-ushuaia-tv/">suite</a>|</span></li>
					<li>Dans Ça m’intéresse n°357 <span id="press_link">|<a href="http://blog.e-loue.com/2010/10/27/e-loue-dans-ca-m%e2%80%99interesse-n%c2%b0357/">suite</a>|</span></li>
					<li>Sur Quartier-Maison.fr <span id="press_link">|<a href="http://blog.e-loue.com/2010/10/26/e-loue-sur-quartier-maisonfr-la-location-de-chevre-nen-finit-pas-de-seduire/">suite</a>|</span></li>
					<li>La location de voiture vue par Le Parisien <span id="press_link">|<a href="http://blog.e-loue.com/2010/10/25/la-location-de-voiture-vue-par-le-parisien/">suite</a>|</span></li>
					<li>Dans Neo Planete <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/30/e-loue-dans-neo-planete-bis-repetita/">suite</a>|</span></li>
					<li>Sur Guysen TV <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/30/e-loue-sur-guysen-tv/">suite</a>|</span></li>
					<li>Sur le blog de “Cocktail de Free” <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/30/e-loue-sur-le-blog-de-cocktail-de-free/">suite</a>|</span></li>
					<li>Sur Midi Libre <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/28/e-loue-sur-midi-libre/">suite</a>|</span></li>
					<li>Sur le portail d’infos d’Orange <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/28/e-loue-sur-le-portail-dinfos-dorange/">suite</a>|</span></li>
					<li>En Roumanie !!! <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/28/e-loue-en-roumanie/">suite</a>|</span></li>
					<li>Sur le Dauphiné Libéré <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/27/e-loue-sur-le-dauphine-libere/">suite</a>|</span></li>
					<li>dans France soir <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/10/e-loue-dans-france-soir/">suite</a>|</span></li>
					<li>Sur le site Greenzer <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/09/e-loue-sur-greenzer/">suite</a>|</span></li>
					<li>Le site BoomersBook <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/09/e-loue-sur-boomersbook/">suite</a>|</span></li>
					<li>sur le blog de Richard Jarett <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/09/e-loue-sur-le-blog-de-richard-jarett/">suite</a>|</span></li>
					<li>dans Direct matin <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/09/e-loue-dans-direct-matin-plus/">suite</a>|</span></li>
					<li>sur France Inter <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/08/e-loue-sur-france-inter/">suite</a>|</span></li>
					<li>sur jemesensbien.fr <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/07/e-loue-sur-jemesensbienfr/">suite</a>|</span></li>
					<li>Sur le site Plus belle ma Terre <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/06/e-loue-sur-le-site-plus-belle-ma-terre/">suite</a>|</span></li>
					<li>Le site  Dkomaison <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/04/e-loue-sur-dkomaison/">suite</a>|</span></li>
					<li>dans Valeurs Actuelles <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/04/e-loue-dans-valeurs-actuelles/">suite</a>|</span></li>
					<li>Sur le blog de Valerie Gans <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/03/e-loue-sur-le-blog-de-valerie-gans/">suite</a>|</span></li>
					<li>sur Masculin.com <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/03/e-loue-sur-masculincom/">suite</a>|</span></li>
					<li>Le site Starnimo <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/03/e-loue-sur-starnimo/">suite</a>|</span></li>
					<li>Le magazine LSA <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/02/e-loue-dans-le-magazine-lsa/">suite</a>|</span></li>
					<li>Dans le blog epok formidable <span id="press_link">|<a href="http://blog.e-loue.com/2010/09/01/e-loue-dans-le-blog-epok-formidable/">suite</a>|</span></li>
					<li>Sur le blog Briller en ville <span id="press_link">|<a href="http://blog.e-loue.com/2010/08/31/e-loue-sur-le-blog-briller-en-ville/">suite</a>|</span></li>
					<li>Dans Entre ciel et Terre <span id="press_link">|<a href="http://blog.e-loue.com/2010/08/31/e-loue-dans-entre-ciel-et-terre/">suite</a>|</span></li>
					<li>France Info <span id="press_link">|<a href="http://blog.e-loue.com/2010/08/30/e-loue-sur-france-info-2/">suite</a>|</span></li>
					<li>Le Figaro économie <span id="press_link">|<a href="http://blog.e-loue.com/2010/08/28/e-loue-fait-la-une-du-figaro-economie/">suite</a>|</span></li>
					<li>Sur Virgin Radio <span id="press_link">|<a href="http://blog.e-loue.com/2010/08/28/e-loue-dans-le-morning-de-virgin-radio/">suite</a>|</span></li>
					<li>Le webmagazine lecoinbio <span id="press_link">|<a href="http://blog.e-loue.com/2010/08/28/e-loue-dans-lecoinbio/">suite</a>|</span></li>
					<li>Le magazine Internet pratique <span id="press_link">|<a href="http://blog.e-loue.com/2010/08/19/e-loue-sur-le-podium-du-magazine-internet-pratique/">suite</a>|</span></li>
					<li>Wizbii trouve e-loue "sympa" <span id="press_link">|<a href="http://blog.e-loue.com/2010/08/17/wizbii-trouve-sympa-e-loue/">suite</a>|</span></li>
					<li>Dans Clan-conso <span id="press_link">|<a href="http://blog.e-loue.com/2010/07/05/e-loue-continue-de-se-faire-connaitre/">suite</a>|</span></li>
					<li>Le magazine L'entreprise <span id="press_link">|<a href="http://blog.e-loue.com/2010/06/21/e-loue-dans-le-magasine-l’entreprise-et-challenge/">suite</a>|</span></li>
					<li>Le magazine Moins cher ! <span id="press_link">|<a href="http://blog.e-loue.com/2010/06/08/e-loue-dans-le-magazine-moins-cher/">suite</a>|</span></li>
					<li>Sur M6 dans Capital <span id="press_link">|<a href="http://blog.e-loue.com/2010/06/01/extraits-de-e-loue-sur-capital/">suite</a>|</span></li>
					<li>Le blog Techcrunch <span id="press_link">|<a href="http://blog.e-loue.com/2010/05/24/e-loue-dans-le-blog-techcrunch/">suite</a>|</span></li>
					<li>E-loue : Coup de coeur de La stratégie d'entreprise<span id="press_link">|<a href="http://blog.e-loue.com/2010/05/20/e-loue-coup-de-coeur-du-prix-de-la-strategie-dentreprise/">suite</a>|</span></li>
					<li>Le magazine Dynamique entrepreneuriale <span id="press_link">|<a href="http://blog.e-loue.com/2010/05/16/e-loue-dans-le-magazine-dynamique-entrepreneuriale/">suite</a>|</span></li>
					<li>Tele 7 jours <span id="press_link">|<a href="http://blog.e-loue.com/2010/05/07/e-loue-dans-tele-7-jours/">suite</a>|</span></li>
					<li>Interview sur BFM radio <span id="press_link">|<a href="http://blog.e-loue.com/2010/05/04/interview-sur-bfm-radio/">suite</a>|</span></li>
					<li>Le blog Quotidien durable <span id="press_link">|<a href="http://blog.e-loue.com/2010/04/30/e-loue-dans-quotidien-durable/">suite</a>|</span></li>
					<li>Dans Challenges <span id="press_link">|<a href="http://blog.e-loue.com/2010/04/23/e-loue-parmi-les-100-start-up-davenir/">suite</a>|</span></li>
					<li>Dans grandes écoles magazine <span id="press_link">|<a href="http://blog.e-loue.com/2010/04/20/on-parle-de-loue-dans-grandes-ecoles-magazine/">suite</a>|</span></li>
					<li>Le magazine micro-pratique <span id="press_link">|<a href="http://blog.e-loue.com/2010/04/16/on-parle-de-loue-dans-micro-pratique/">suite</a>|</span></li>
					<li>Le magazine SVM <span id="press_link">|<a href="http://blog.e-loue.com/2010/04/16/e-loue-dans-svm/">suite</a>|</span></li>
					<li>Le blog Princesse & Compagnie <span id="press_link">|<a href="http://blog.e-loue.com/2010/03/29/e-loue-dans-le-blog-princesse-et-compagnie/">suite</a>|</span></li>
					<li>Sur doc-etudiant.fr <span id="press_link">|<a href="http://blog.e-loue.com/2010/03/23/e-loue-sur-doc-etudiantfr/">suite</a>|</span></li>
					<li>Le blog du Figaro <span id="press_link">|<a href="http://blog.e-loue.com/2010/03/19/e-loue-sur-le-blog-du-figaro/">suite</a>|</span></li>
					<li>Le blog Web&Luxe <span id="press_link">|<a href="http://blog.e-loue.com/2010/03/13/e-loue-dans-le-blog-webluxe/">suite</a>|</span></li>
					<li>Consommer futé <span id="press_link">|<a href="http://blog.e-loue.com/2010/03/04/e-loue-dans-consommer-fute/">suite</a>|</span></li>
					<li>France 2 <span id="press_link">|<a href="http://blog.e-loue.com/2010/03/01/e-loue-is-back-sur-france-2/">suite</a>|</span></li>
					<li>LCI <span id="press_link">|<a href="http://blog.e-loue.com/2010/02/16/e-loue-sur-lci/">suite</a>|</span></li>
					<li>L'e-mag jemesensbien <span id="press_link">|<a href="http://blog.e-loue.com/2010/02/09/e-loue-dans-le-mag-jemesensbien/">suite</a>|</span></li>
					<li>Le Nouveau Consommateur <span id="press_link">|<a href="http://blog.e-loue.com/2010/02/08/e-loue-dans-le-nouveau-consommateur/">suite</a>|</span></li>
					<li>achetermieux.tv <span id="press_link">|<a href="http://blog.e-loue.com/2010/02/04/e-loue-sur-achetermieuxtv/">suite</a>|</span></li>
					<li>Nostalgie <span id="press_link">|<a href="http://blog.e-loue.com/2010/01/25/le-bon-plan-du-jour-sur-nostalgie/">suite</a>|</span></li>
					<li>Misterbricolo <span id="press_link">|<a href="http://blog.e-loue.com/2010/01/05/misterbricolo/">suite</a>|</span></li>
					<li>Economiemagazine <span id="press_link">|<a href="http://blog.e-loue.com/2010/01/05/economiemagazine/">suite</a>|</span></li>
					<li>L'entrepreneur <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/30/lentrepreneur/">suite</a>|</span></li>
					<li>Le blog de Fredzone <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/29/e-loue-is-on-fredzone/">suite</a>|</span></li>
					<li>Le blog Deldie.net <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/28/deldienet/">suite</a>|</span></li>
					<li>Le blog Fondation Communication <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/24/fondation-communication-une-actu-it-jour/">suite</a>|</span></li>
					<li>RTL 2 <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/23/e-loue-sur-rtl-2/">suite</a>|</span></li>
					<li>France 5 <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/18/e-loue-sur-france-5-les-maternelles/">suite</a>|</span></li>
					<li>Radio Alouette <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/17/alouette-gentille-alouette/">suite</a>|</span></li>	 
					<li>Journal HEC <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/14/le-journal-des-grandes-ecoles/">suite</a>|</span></li>	 
					<li>La sélection de Laura du Web <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/04/e-loue-sur-telematin/">suite</a>|</span></li>		
					<li>Truc de nana <span id="press_link">|<a href="http://blog.e-loue.com/2009/11/23/truc-de-nana/">suite</a>|</span></li>		
					<li>Courrier Cadres <span id="press_link">|<a href="http://blog.e-loue.com/2009/11/28/courrier-cadres/">suite</a>|</span></li>
					<li>Emission FunkyWeb <span id="press_link">|<a href="http://blog.e-loue.com/2009/11/26/funky-web/">suite</a>|</span></li>
					<li>Portrait à la Une <span id="press_link">|<a href="http://blog.e-loue.com/2009/11/24/e-loue-a-la-une-de-lincubmag/">suite</a>|</span></li>
					<li>E-loue.com : Louer vos jeux vidéos et consoles <span id="press_link">|<a href="http://blog.e-loue.com/2009/11/21/on-parle-de-loue-sur-youvox/">suite</a>|</span></li>
					<li>The news <span id="press_link">|<a href="http://blog.e-loue.com/2009/11/20/le-geckool/">suite</a>|</span></li>
					<li>La boutique du net du Midi Libre <span id="press_link">|<a href="http://blog.e-loue.com/2009/11/15/la-boutique-du-net-du-midi-libre/">suite</a>|</span></li>
					<li>Ski, vélo, perceuse, trop chers ? Louez... <span id="press_link">|<a href="http://blog.e-loue.com/2009/11/12/ouest-france-skivelo-perceuse-trop-chers-louez/">suite</a>|</span></li>
					<li>Vidéo de l'emission label entreprise demain TV <span id="press_link">|<a href="http://blog.e-loue.com/2009/12/02/video-de-lemission-label-entreprise-demain-tv/">suite</a>|</span></li>
					<li>IDFM présente e-loue <span id="press_link">|<a href="http://blog.e-loue.com/2009/10/14/idfm-presente-e-loue/">suite</a>|</span></li>
					<li>Hec Hommes &amp; Commerce <span id="press_link">|<a href="http://blog.e-loue.com/2009/10/12/hec-hommes-commerce/">suite</a>|</span></li>
					<li>Ca blog...! <span id="press_link">|<a href="http://blog.e-loue.com/2009/10/09/ca-blog/">suite</a>|</span></li>
					<li>Entreprendre, c'est du sport <span id="press_link">|<a href="http://blog.e-loue.com/2009/10/05/entreprendre-cest-du-sport/">suite</a>|</span></li>
					<li>SlyDnet <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/29/slydnet/">suite</a>|</span></li>
					<li>Guide Budget <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/25/guide-budget/">suite</a>|</span></li>
					<li>La nouvelle République <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/23/la-nouvelle-rpublique/">suite</a>|</span></li>
					<li>e-loue sur Radio Pluriel <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/17/e-loue-sur-radio-pluriel/">suite</a>|</span></li>
					<li>Le Berry Republicain <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/16/le-berry-republicain/">suite</a>|</span></li>
					<li>e-loue dans Tribu 12 <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/14/e-loue-dans-tribu-12/">suite</a>|</span></li>
					<li>BFM: le podcast <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/13/bfm-le-podcast/">suite</a>|</span></li>
					<li>Les astuces du jour sur Nostalgie <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/08/les-astuces-du-jour-sur-nostalgie/">suite</a>|</span></li>
					<li>Urban TV conseille la location sur e-loue <span id="press_link">|<a href="http://blog.e-loue.com/2009/09/01/urban-tv-conseille-la-location-sur-e-loue/">suite</a>|</span></li>
					<li>e-loue sur cocktail fm <span id="press_link">|<a href="http://blog.e-loue.com/2009/08/10/e-loue-sur-cocktail-fm/">suite</a>|</span></li>
					<li>La Vienne aime la location! <span id="press_link">|<a href="http://blog.e-loue.com/2009/08/06/la-vienne-aime-la-location/">suite</a>|</span></li>
					<li>Le talk show d'e-loue sur radio RCJ <span id="press_link">|<a href="http://blog.e-loue.com/2009/07/21/le-talk-show-de-loue-sur-radio-rcj/">suite</a>|</span></li>
					<li>On parle d'e-loue dans le journal LE PROGRES <span id="press_link">|<a href="http://blog.e-loue.com/2009/07/19/on-parle-de-loue-dans-le-journal-le-progres/">suite</a>|</span></li>
					<li>e-loue sur le site et dans le journal LE BIEN PUBLIC <span id="press_link">|<a href="http://blog.e-loue.com/2009/07/15/e-loue-sur-le-site-du-bien-public/">suite</a>|</span></li>
					<li>e-loue sur TIVIPRO.TV <span id="press_link">|<a href="http://blog.e-loue.com/2009/07/13/e-loue-sur-tiviprotv/">suite</a>|</span></li>
					<li>e-loue à la télévision sur TV-tours <span id="press_link">|<a href="http://blog.e-loue.com/2009/06/30/e-loue-a-la-television-sur-tv-tours/">suite</a>|</span></li>
					<li>e-loue sur France Info <span id="press_link">|<a href="http://blog.e-loue.com/2009/06/06/e-loue-sur-france-info/">suite</a>|</span></li>
					<li>Lancement de la communauté e-loue à la Garenne Colombes <span id="press_link">|<a href="http://blog.e-loue.com/2009/05/27/lancement-de-la-communaute-e-loue-a-la-garenne-colombes/">suite</a>|</span></li>
					<li>e-loue sur geekement correct <span id="press_link">|<a href="http://blog.e-loue.com/2009/05/22/e-loue-sur-geekement-correct/">suite</a>|</span></li>
					<li>On parle de nous dans Ouest France. <span id="press_link">|<a href="http://blog.e-loue.com/2009/05/08/on-parle-de-nous-dans-ouest-france/">suite</a>|</span></li>
					<li>On parle de nous dans Le Pays d'Auge. <span id="press_link">|<a href="http://blog.e-loue.com/2009/05/06/on-parle-de-nous-dans-le-pays-dauge/">suite</a>|</span></li>
					<li>AVEC E-LOUE.COM, TOUT SE LOUE ! <span id="press_link">|<a href="http://www.unbonplanparjour.com/article-30931410.html">suite</a>|</span></li>
				</ul>
		</div>
	</div>{# fl-content #}
	<div class="fl-sidebar x5">
		<div class="fl-sidebar-header">
			<h3>Télécharger</h3>
		</div>
		<div class="fl-sidebar-content">
			<ul>
				<li><a href="http://eloue.s3.amazonaws.com/cp/20110308_dossier_de_presse.pdf">Dossier de presse [ PDF ]</a></li>
				{#<li><a href="#">Copies d'écran [ ZIP ]</a></li>#}
				<li><a href="http://eloue.s3.amazonaws.com/cp/eloue-logo.eps">Logo [ EPS ]</a></li>
			</ul>
		</div>
		<div class="fl-sidebar-box">
			<h3>Contact presse</h3>
			<img src="{{ MEDIA_URL}}images/contact_press.jpg" alt="Benjamin Marchand-Lenoir | Contact presse" />
			<p>
				<span class="contact-name">Benjamin<br />Marchand-Lenoir</span><br />
				<a href="mailto:benjamin.marchand-lenoir@e-loue.com">benjamin.marchand-lenoir@e-loue.com</a>
			</p>
		</div>
		<div class="fl-sidebar-list">
			<h3>Communiqués de Presse</h3>
			<ul>
				<li>
					<a href="http://eloue.s3.amazonaws.com/cp/20101213/index.html">Noël : louer avant d'acheter</a> - 11/10/2010
				</li>
				<li>
					<a href="http://eloue.s3.amazonaws.com/cp/20101011/index.html">Face à la grève</a> - 11/10/2010
				</li>
				<li>
					<a href="http://eloue.s3.amazonaws.com/cp/20101006/index.html">Louez une voiture</a> - 06/10/2010
				</li>
			</ul>
		</div>
	</div>
</div>{# content-dash #}





{% endblock %}