{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
<div id="press" class="container-main">
      <ul class="breadcrumb">
            <li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
            <li>{% trans "Espace presse" %}</li>
      </ul>
      <div class="content-main">
            <h1>{{ flatpage.title }}</h1>
            <h2>E-loue, qu'est-ce que c'est ?</h2>
            <p>
                  E-loue est une plateforme internet innovante destinée aux particuliers et aux professionnel. 
                  Elle permet à tous ses membres de louer ou mettre en location tout type d’objet (perceuse, 
                  vélo, raquette de tennis, bijoux, robes, console de jeux,etc.).
            </p>
            <h2>E-loue dans la presse</h2>
            <ul class="press-links" style="height: 300px; overflow: auto;">
                  {% include "flatpages/partials/press_list.html" %}
            </ul>
      </div>{# content-main #}
      <div class="content-aside">
            <div class="info-block">
                  <h2>{% trans "Télécharger" %}</h2>
                  <ul style="text-indent: 20px;">
                        <li><a href="http://eloue.s3.amazonaws.com/cp/dossier_de_presse.pdf">Dossier de presse [ PDF ]</a></li>
                        {#<li><a href="#">Copies d'écran [ ZIP ]</a></li>#}
                        <li><a href="http://eloue.s3.amazonaws.com/cp/eloue-logo.eps">Logo [ EPS ]</a></li>
                  </ul>
            </div>
            <div class="info-block">
                  <h2>{% trans "Contact presse" %}</h2>
                  <img src="{{ STATIC_URL}}images/contact_press.jpg" alt="Paul Brajer | Contact presse"/>
                  <p>Paul Brajer</span></p>
                  <p>
                        <a href="mailto:paul.brajer@e-loue.com" style="color: #6EB924">paul.brajer@e-loue.com</a>
                  </p>
            </div>
            <div class="info-block">
                  <h2>{% trans "Communiqués de Presse" %}</h2>
                  <ul>
                        <li>
                              <a href="http://eloue.s3.amazonaws.com/cp/20101213/index.html">Noël : louer avant d'acheter</a> - 11/10/2010
                        </li>
                        <li>
                              <a href="http://eloue.s3.amazonaws.com/cp/20101011/index.html">Face à la grève</a> - 11/10/2010
                        </li>
                        <li>
                              <a href="http://eloue.s3.amazonaws.com/cp/20101006/index.html">Louez une voiture</a> - 06/10/2010
                        </li>
                  </ul>
            </div>
      </div>{# content-aside #}
</div>{# container-main #}
{% endblock %}