-load staticfiles

#homepage-carousel-banner.carousel.slide(data-ride="carousel")
  .carousel-inner
    .item.active(style="background-image: url({% static 'img/autovoisin_banner-0.jpg' %});")
   .item(style="background-image: url({% static 'img/autovoisin_banner-4.jpg' %});")
    .item(style="background-image: url({% static 'img/autovoisin_banner-0.jpg' %});")
    .item(style="background-image: url({% static 'img/autovoisin_banner-0.jpg' %});")
    .item(style="background-image: url({% static 'img/autovoisin_banner-4.jpg' %});")
