.container
  ul.nav.nav-justified.text-nowrap

    -var insurances = [["lock", "success", "Louez en toute sécurité", "Paiement en ligne sécurisé.<br>Dépôt de garantie en ligne."], ["file", "secondary", "Louez en toute simplicité", "Contrat de location pré-rempli.<br>Service client dédié 7j/7"], ["details", "gray-dark", "Louez en toute confiance", "Identité des membres vérifiée.<br>Notes et commentaires."], ["umbrella", "gray-strong", "Louez en toute sérénité", "Assurance incluse et automatique.<br>Aucun échange d’argent."]]
    each icon, style, title, text in insurances
      li.divide
      li
        .insurances-img(class="text-{{ style }}")
          i(class="eloue-{{ icon }}")
        h5 {{ title }}
        p
          != text|safe
