.container
  h3.text-center Choisissez une catégorie pour votre annonce

  -var publish_items_categories = [[{"title": "Citadine", "id": 35, "classname": "car-10"}, {"title": "Compacte", "id": 390, "classname": "car-12"}, {"title": "Berline", "id": 253, "classname": "car-7"}, {"title": "Break", "id": 418, "classname": "car-1"}], [{"title": "Monospace, ludospace", "id": 2700, "classname": "car-5"}, {"title": "Cabriolet", "id": 126, "classname": "car-6"}, {"title": "Coupé", "id": 323, "classname": "car-4"}, {"title": "Utilitaire léger", "id": "", "classname": "car-3"}]]
  each group in publish_items_categories
    ul.nav.space-between
      each item in group
        li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '{{ item.id }}')")
          span.border-round
            i(class="{{ item.classname }}")
          span.title {{ item.title }}
