.container
  h3.text-center Choisissez une catégorie pour votre annonce

  -var publish_items_categories = [[{"title": "Citadine", "id": 2701, "classname": "car-5"}, {"title": "Compacte", "id": 2702, "classname": "car-3"}, {"title": "Berline", "id": 2703, "classname": "car-8"}, {"title": "Break", "id": 2704, "classname": "car-1"}], [{"title": "Monospace, ludospace", "id": 2705, "classname": "car-10"}, {"title": "Cabriolet", "id": 2706, "classname": "car-9"}, {"title": "Coupé", "id": 2707, "classname": "car-11"}, {"title": "Utilitaire léger", "id": 2710, "classname": "car-12"}]]
  each group in publish_items_categories
    ul.nav.space-between
      each item in group
        li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '{{ item.id }}')")
          span.border-round
            i(class="{{ item.classname }}")
          span.title {{ item.title }}
