.container.indent-v-lg
    .row
        .col-sm-6
            .video
        .col-sm-6
            .description
                h3
                    | AutoVoisin c'est simple, efficace
                    br
                    | et sécurisé
                p.lg-ln-height
                    | Avec AutoVoisin, mettez en location les véhicules que vous n'utilisez pas tous les jours :
                    | votre petite citadine, votre grosse berline, votre utilitaire, votre van ... 
                    |Gagnez de l'argent et rentabilisez vos achats en toute simplicité, et sans risque. 
                    | Nos locations sont assurées et sécurisées. 
                a(href="{% url 'security' %}").link-success-color en savoir plus
