*~
*.pyc
*.tmproj
*.rdb
*.iml
*.ipr
nosetests.xml
.DS_Store
.noseids
.coverage
.project
.pydevproject
.idea/
.settings/
env
env2
eloue.db
eloue/local.py
static/js/*.r*.js
static/js/sep/*.r*.js
static/css/*.r*.css
docs/_build/doctrees/
eloue/rent/rules/
eloue/products/management/commands/fixtures/differences.yaml
media/pictures/*
media/*
media/CACHE/*
eloue/templates/20minutes/header.html
eloue/templates/20minutes/footer.html
eloue/collected_static/
build/
analytics.dat
SqH8kAUnFOJrgYlgUT1oVU3C
scim.log
SCIMProperties.properties
myKeyStore.jks
slimpayKeyStore.jks
**/sass/*.css
**/sass/*.css.map
**/sass/.sass-cache/
**/node_modules/
**/bower_components/
**/dist/
**/.tmp
.env
