*~
*.pyc
*.tmproj
*.rdb
*.iml
*.ipr
nosetests.xml
.DS_Store
.noseids
.coverage
.project
.pydevproject
.idea/
.settings/
env
env2
eloue.db
eloue/local.py
eloue/static/js/*.r*.js
eloue/static/js/sep/*.r*.js
eloue/static/css/*.r*.css
docs/_build/doctrees/
eloue/rent/rules
eloue/products/management/commands/fixtures/differences.yaml
eloue/media/pictures/*
eloue/media/media/*
eloue/templates/20minutes/header.html
eloue/templates/20minutes/footer.html
eloue/test_payment_steps.py
eloue/static/less/styles.css
eloue/collected_static/
build/
/static
analytics.dat
SqH8kAUnFOJrgYlgUT1oVU3C
scim.log
SCIMProperties.properties
myKeyStore.jks
slimpayKeyStore.jks