doctype
html
	head
		title e-loue
		meta(charset="UTF-8")
		meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
		link( href ="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" )
		link(href = "css/styles.css" rel = "stylesheet")
		link(rel="shortcut icon" href="img/favicon.ico")
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
		//-[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
				</script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
				<![endif]
	body
		//- include jade/_src
		.container-flex
			header.header-site
				include jade/_header-site

			nav.nav-home.container
				.row
					include jade/_nav-home

			article
				.row.banner.hidden-xs.text-center
					img(src = "img/banner.jpg")
					.container
						include jade/_banner

				.row.insurances.framing
					.container.mrg-v-6
						include jade/_insurances

				.row.product-list
					.container.mrg-v-6
						include jade/_product-list

				.row.comments.framing
					.container
						include jade/_comments

				.row.location-list
					.container.mrg-v-6
						include jade/_location-list

			main
				.row.download-mobile-apps.framing
					.container
						.col-md-9.mrg-v-8.row
							include jade/_download-mobile-apps

				.row.watch-video
					.container.mrg-v-8
						.row
							include jade/_watch-video

				.row.professional-renter-content.framing
					.container.mrg-v-8
						.row
							include jade/_professional-renter-content

				.row.talk-about-us
					.container.text-center.mrg-v-6
						include jade/_talk-about-us

			footer
				.row.footer-links.framing
					.container.mrg-v-6
						include jade/_footer-links

				.row.rss
					.container.mrg-v-4
						.row
							include jade/_rss
