doctype
html
	head
		title e-loue
		meta(charset="UTF-8")
		meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
		link( href ="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" )
		link(href = "css/styles.css" rel = "stylesheet")
		link(rel="shortcut icon" href="img/favicon.ico")
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
		//-[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
				</script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
				<![endif]
	body
		include jade/src

		.container-flex
			include jade/header

			.row.banner.hidden-sm.hidden-xs.text-center
				img(src = "img/banner.jpg")
				.container
					.banner-content
						include jade/banner

			.row.insurances.framing
				.container.row-md-12
					include jade/insurances

			.row.product-list
				.container.row-md-12
					include jade/product-list

			.row.comments.framing
				.container.row-md-12
					include jade/comments

			.row.location-list
				.container.row-md-12
					include jade/location-list

			.row.download-mobile-apps.framing
				.container.row-md-8
					include jade/download-mobile-apps

			.row.watch-video
				.container.row-md-12
					include jade/watch-video

			.row.professional-renter-content.framing
				.container.row-mad-12
					include jade/professional-renter-content

			.row.talk-about-us
				.container.row-mad-12.text-center
					include jade/talk-about-us

			.row.footer-links.framing
				.container.row-md-12
					include jade/footer-links

			.row.rss
				.container
					.row
						include jade/rss
