doctype
html
	head
		title e-loue
		meta(charset="UTF-8")
		meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
		link( href ="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet" )
		link(href = "css/styles.css" rel = "stylesheet")
		link(rel="shortcut icon" href="img/favicon.ico")
		//-[if lt IE 9]>
				<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
				</script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
				<![endif]
		script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
		script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
	body
		input(type="checkbox")#sourse
		#sourse-img
			img( src = "sourses/homepage_eloue_V5_vert_V1.jpg" )
		.container
			header
				//- header top row
				.row.top
					.col-lg-10.col-lg-offset-1
						ul(role = "tablist").nav.nav-tabs.nav-justified
							li.divide
							li
								span
									| Bonjour, 
									a( href = "#" ) inscrivez-vous 
									| ou 
									a( href = "#" ) connectez-vous
							li.divide
							li
								span
									| Vous êtes un loueur professionnel, découvrez les 
									a( href ="#") offers e-loue Pro
							li.divide
							li
								span
									| Appelez-nous au 
									b 0826.800.200 
									| (0,15&euro; / min)
				//- header middle row
				.row.middle
					.col-lg-10.col-lg-offset-1.padding-0
						.col-md-2.logo-wrapper
							a(href = "#")
								img(src = "img/logo.png")
						.col-md-7
							.input-group
								input(type = "text" placeholder = "Que voulez-vous louer ?" title = "Que voulez-vous louer ?").form-control.what-field
								span.input-group.where-field-wrapper
									span.sprite-location
									input(type = "text" placeholder = "Où ça ?" title = "Où ça ?").form-control.where-field
								span.input-group-btn
									button(type = "button").btn.btn-default.btn-search
										span.icon-search
						.col-md-3
							button(type = "button").btn.btn-success Déposez une annonce
				//- header bottom row
				.row.bottom
					.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1.padding-0
						ul.nav.nav-tabs.nav-justified
							-var items = [ "Logement", "Jardinage", "Automobile", "Image et son", "Bricolage", "Mode et accessoire", "Réceprion", "Santé et Bien être", "Autres" ]
							-each item in items
								li
									a( href = "#" + item ) #{item}

			.row.banner
				img(src = "img/banner.jpg")
				.banner-content
						p
							| louez un objet, une voiture...
							br
							| près de chez vous, en tout sécurité !
						//- button(type = "button").btn.btn-default.btn-lg
							| une communauté de confiance
						a( href = "#" ) une communauté de confiance

			.row.insurances
				.col-md-12.col-md-offset-0.col-lg-10.col-lg-offset-1.padding-0
					ul.nav.nav-tabs.nav-justified
						-var blocks = []
						-blocks[0] = { category: "payment", "title": "Louez en toute sécurité", "description": [ "Transactions en ligne sécurisées.", "Aucun échange d'argent." ] }
						-blocks[1] = { category: "serenity", "title": "Louez en toute sérénité", "description": [ "Assurance incluse et automatique.", "Caution en ligne." ] }
						-blocks[2] = { category: "simplicity", "title": "Louez en toute simplicité", "description": [ "Service client dédié 7j/7.", "Dépot d'annonce gratuite." ] }
						-blocks[3] = { category: "trust", "title": "Louez en toute confiance", "description": [ "Notes et commentaires en ligne.", "Messagerie en ligne." ] }
						-each block in blocks
							li.divide
							li
								span( class = block.category).insurances-img
								h4 #{block.title}
								-each description in block.description
									p #{description}

			.row.product-list

