.container.text-center.indent-v-lg
  h3.text-uppercase ils nous font confiance

  -var partners = ["vents_de_mer-small", "velo_location-small", "urban-small", "twinner-small", "skiset-small"]
  ul.nav.nav-pills.partner-list.row.indent-l-md
    each partner in partners
      li: a: span(class="partner-#{partner}")
  p.text-gray-strong ...&nbsp;et plus de 500 autres loueurs professionnels
