section.pull-nothing
  .notification-empty
    .notification-container
      i.fa.fa-th-list.fa-5x.indent-sm-b
      h2 Pas encore d'annonce déposée
      p.indent-md-v.text-black
        | Vas objets peuvent vous rapporter de l'argent : karcher, appareil photo, caméra ...
      a(href="#").btn-inline.bg-success-hover.text-white Déposez votre premiére annonce