<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>e-loue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../static/img/favicon.ico">
    <!-- include font "Open Sans"-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- custom select.css-->
    <!-- http://harvesthq.github.io/chosen/-->
    <link rel="stylesheet" href="../../../static/css/chosen.min.css">
    <!-- custom scrollbar.css-->
    <!-- http://manos.malihu.gr/jquery-custom-content-scroller/-->
    <link rel="stylesheet" href="../../../static/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/styles.css">
    <!-- jQuery-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- for IE < 9 -->
    <!-- html5 tags supported-->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <!-- palceholder supported-->
    <script src="http://jamesallardice.github.io/Placeholders.js/assets/js/placeholders.min.js"></script>
    <!-- selectivizr-->
    <script src="../../../static/js/selectivizr.js"></script>
    <!-- end scripts for IE < 9-->
    <!-- geolocation by Google-->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="../../../static/js/formmapper.js"></script>
    <!-- custom select.js-->
    <script src="../../../static/js/chosen.jquery.min.js"></script>
    <!-- textarea autoresize-->
    <!-- http://www.jacklmoore.com/autosize/-->
    <script src="../../../static/js/jquery.autosize.js"></script>
    <!-- modal window bootstrap-->
    <script src="../../../static/js/bootstrap/modal.js"></script>
    <!-- custom scrollbar.js-->
    <script src="../../../static/js/jquery.mCustomScrollbar.js"></script>
    <script src="../../../static/js/scripts.js"></script>
    <script src="../../../static/js/dashboard_scripts.js"></script>
  </head>
  <body>
    <div class="container-full-screen">
      <input type="checkbox" id="sourse">
      <lable for="#sourse" id="sourse-img"><img src="../../../static/img/src/undefined.jpg"></lable>
      <header class="header-site">
        <section class="container signs-links">
          <ul role="tablist" class="nav without-spaces">
            <li class="divide"></li>
            <li><span>Bonjour, <a href="#inscrivez-vous" data-toggle="modal" data-target="#sign-in">inscrivez-vous </a>ou <a href="#connectez-vous" data-toggle="modal" data-target="#log-in">connectez-vous</a></span></li>
            <li class="divide"></li>
            <li><span>Vous êtes un loueur professionnel, découvrez les <a href="#">offers e-loue Pro</a></span></li>
            <li class="divide"></li>
            <li><span>Appelez-nous au <b>0826.800.200 </b>(0,15&euro; / min)</span></li>
          </ul>
        </section>
        <div class="framing">
          <section class="container search-form">
            <div class="table-cell"><a href="/templates"><img src="../../../static/img/logo.png" alt="logo"></a></div>
            <div class="table-cell main-cell">
              <form action="" class="input-group">
                <input type="text" placeholder="Que voulez-vous louer ?" title="Que voulez-vous louer ?" class="table-cell main-cell form-control what-field">
                <div class="table-cell input-group where-field"><i class="sprite-location"></i>
                  <input type="text" placeholder="Où ça ?" title="Où ça ?" id="geolocate" class="form-control">
                </div>
                <div class="table-cell input-group-btn">
                  <button type="button" class="btn btn-default btn-search"><i class="icon-search"></i></button>
                </div>
              </form>
            </div>
            <div class="table-cell">
              <button type="button" class="btn bg-success btn-advertise">Déposez une annonce</button>
            </div>
          </section>
        </div>
      </header>
      <article class="dashboard">
        <nav>
          <ul>
            <li><a href="../dashboard" class="text-success-dark"><i class="fa fa-home"></i>Dashboard</a></li>
            <li><a href="../messages" class="text-success-dark"><i class="fa fa-envelope-o"><span class="badge-count-action">1</span></i>Messages</a></li>
            <li><a href="../booking" class="text-success-dark"><i class="fa fa-table"></i>Booking</a></li>
            <li><a href="../items" class="text-success-dark"><i class="fa fa-th-list"></i>Items</a></li>
            <li><a href="../account/profil.html" class="text-success-dark"><i class="fa fa-user"></i>Account</a></li>
          </ul>
        </nav>
        <div class="content-view">
          <section class="tabs-vertical-active lg">
            <div class="section-header">
              <div class="row">
                <div class="indent-xs-t col-xs-4 col-xs-offset-8">
                  <div class="select-gradient without-search date-picker">
                    <select>
                      <option value="catigories">Catégories</option>
                      <option value="catigories">CatégoriesPpa</option>
                      <option value="catigories">Catégories</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <ul class="scrollbar-custom">
              <li class="tab-vertical block-with-thumbnail soon">
                <div class="col-thumbnail">
                  <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
                </div>
                <div class="col-exposition">
                  <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
                  <p class="normal text-gray">
                    <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-table"></i><span>7</span></span>
                  </p>
                </div>
              </li>
              <li class="tab-vertical block-with-thumbnail in-progress">
                <div class="col-thumbnail">
                  <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
                </div>
                <div class="col-exposition">
                  <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
                  <p class="normal text-gray">
                    <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-table"></i><span>7</span></span>
                  </p>
                </div>
              </li>
              <li class="tab-vertical block-with-thumbnail completed">
                <div class="col-thumbnail">
                  <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
                </div>
                <div class="col-exposition">
                  <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
                  <p class="normal text-gray">
                    <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-table"></i><span>7</span></span>
                  </p>
                </div>
              </li>
            </ul>
          </section>
          <aside>
            <div class="section-header">
              <div class="tabs-horisontal-active indent-xs-v col-lg-10 col-lg-offset-1">
                <ul class="list-without-spaces fixed">
                  <li class="divider"></li>
                  <li class="tab-horisontal">
                    <h3 class="small"><a href="index.html">Photos et infos</a></h3>
                  </li>
                  <li class="divider"></li>
                  <li class="tab-horisontal">
                    <h3 class="small"><a href="tarifs.html">Tarifs</a></h3>
                  </li>
                  <li class="divider"></li>
                  <li class="tab-horisontal">
                    <h3 class="small"><a href="calendar.html">Calendrier</a></h3>
                  </li>
                  <li class="divider"></li>
                  <li class="tab-horisontal">
                    <h3 class="small"><a href="terms.html">Conditions</a></h3>
                  </li>
                  <li class="divider"></li>
                  <li class="tab-horisontal">
                    <h3 class="small"><a href="profits.html">Revenus</a></h3>
                  </li>
                </ul>
              </div>
            </div>
            <section class="scrollbar-custom bg-lite">
              <div class="section-content">
                <form action="itmes">
                  <h2>Catégories</h2>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-control">
                        <select>
                          <option value="high-tech">High-Tech</option>
                          <option value="high-tech2">High-Tech2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-control">
                        <select>
                          <option value="photo_video">Photo / Vidéo</option>
                          <option value="photo_video">Photo / Vidéo2</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-control">
                        <select>
                          <option value="reflex">Reflex numériq</option>
                          <option value="reflex2">Reflex numériq2</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <h2>Titre</h2>
                  <div class="row">
                    <div class="col-xs-12">
                      <input id="title" type="text" name="title" placeholder="Titre" class="form-control">
                    </div>
                  </div>
                  <h2>Photos</h2>
                  <ul class="text-gray container-with-square-thumbnail indent-xs-b">
                    <li>
                      <label for="change-img" class="file-input-drag"><i class="fa fa-plus fa-3x"></i>
                        <input type="file" id="change-img">
                      </label>
                    </li>
                    <li><img src="../../../static/img/carousel-product/2.jpg" alt="carousel-product/2.jpg"></li>
                    <li><img src="../../../static/img/carousel-product/2.jpg" alt="carousel-product/2.jpg"></li>
                    <li><img src="../../../static/img/carousel-product/2.jpg" alt="carousel-product/2.jpg"></li>
                  </ul>
                  <h2>Caractéristiques</h2>
                  <h2>Informations complémentaires</h2>
                  <div class="row indent-md-b">
                    <div class="col-sm-12">
                      <textarea id="description" name="description" tabindex="1" rows="6" placeholder="" class="expand"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <button type="submit" class="btn text-white bg-success-hover col-xs-8 col-xs-offset-2">Enregistrez les modifications</button>
                  </div>
                </form>
              </div>
            </section>
          </aside>
        </div>
      </article>
    </div>
  </body>
</html>