<!DOCTYPE html>
<html lang="fr"></html>
<head>
  <title>e-loue</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="../../../static/css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../../static/css/chosen.min.css">
  <link rel="stylesheet" href="../../../static/css/styles.css">
  <link rel="shortcut icon" href="../../../static/img/favicon.ico">
  <!-- jQuery-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <!-- for IE < 9 -->
  <!-- html5 tags supported-->
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <!-- palceholder supported-->
  <script src="http://jamesallardice.github.io/Placeholders.js/assets/js/placeholders.min.js"></script>
  <!-- selectivizr-->
  <script src="../../../static/js/selectivizr.js"></script>
  <!-- custom scrollbar -->
  <!-- http://manos.malihu.gr/jquery-custom-content-scroller/-->
  <script src="../../../static/js/jquery.mCustomScrollbar.js"></script>
  <!-- textarea autoresize-->
  <!-- http://www.jacklmoore.com/autosize/-->
  <script src="../../../static/js/jquery.autosize.js"></script>
  <!-- custom select -->
  <!-- http://harvesthq.github.io/chosen/-->
  <script src="../../../static/js/chosen.jquery.min.js"></script>
  <!-- my script-->
  <script src="../../../static/js/dashboard_scripts.js"></script>
</head>
<body>
  <div class="container-full-screen">
    <header>header</header>
    <article class="dashboard">
      <nav class="bg-success">
        <ul>
          <li><a href="../dashboard" class="text-success-dark"><i class="fa fa-home"></i>Dashboard</a></li>
          <li><a href="../messages" class="text-success-dark"><i class="fa fa-envelope-o"></i>Messages</a></li>
          <li><a href="../booking" class="text-success-dark"><i class="fa fa-shield"></i>Booking</a></li>
          <li><a href="../items" class="text-success-dark"><i class="fa fa-th-list"></i>Items</a></li>
          <li><a href="../account/profil.html" class="text-success-dark"><i class="fa fa-user"></i>Account</a></li>
        </ul>
      </nav>
      <section class="tabs-vertical-active lg">
        <div class="section-header">
          <div class="row">
            <div class="indent-xs-t col-xs-4 col-xs-offset-8">
              <div class="select-gradient without-search date-picker">
                <select>
                  <option value="catigories">Catégories</option>
                  <option value="catigories">CatégoriesPpa</option>
                  <option value="catigories">Catégories</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <ul class="scrollbar-custom">
          <li class="tab-vertical block-with-thumbnail soon">
            <div class="col-thumbnail">
              <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
            </div>
            <div class="col-exposition">
              <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
              <p class="normal text-gray">
                <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-shield"></i><span>7</span></span>
              </p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail in-progress">
            <div class="col-thumbnail">
              <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
            </div>
            <div class="col-exposition">
              <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
              <p class="normal text-gray">
                <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-shield"></i><span>7</span></span>
              </p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail completed">
            <div class="col-thumbnail">
              <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
            </div>
            <div class="col-exposition">
              <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
              <p class="normal text-gray">
                <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-shield"></i><span>7</span></span>
              </p>
            </div>
          </li>
        </ul>
      </section>
      <aside>
        <div class="section-header">
          <div class="tabs-horisontal-active indent-xs-v col-lg-10 col-lg-offset-1">
            <ul class="list-without-spaces">
              <li class="divider"></li>
              <li class="tab-horisontal">
                <h3 class="small">Photos et infos </h3>
              </li>
              <li class="divider"></li>
              <li class="tab-horisontal">
                <h3 class="small">Tarifs</h3>
              </li>
              <li class="divider"></li>
              <li class="tab-horisontal">
                <h3 class="small">Calendrier</h3>
              </li>
              <li class="divider"></li>
              <li class="tab-horisontal">
                <h3 class="small">Conditions</h3>
              </li>
              <li class="divider"></li>
              <li class="tab-horisontal">
                <h3 class="small">Revenus</h3>
              </li>
            </ul>
          </div>
        </div>
        <section class="scrollbar-custom">
          <div class="section-content">
            <form action="itmes">
              <div class="row">
                <div class="col-xs-7">
                  <h2>Sélectionner le mois</h2>
                </div>
                <div class="col-xs-5">
                  <div class="form-control without-search select-gradient">
                    <select>
                      <option value="Janvier">Janvier 2014</option>
                      <option value="Février">Février 2014</option>
                      <option value="Mars">Mars 2014</option>
                      <option value="Avril">Avril 2014</option>
                      <option value="Mai">Mai 2014</option>
                      <option value="juin">juin 2014</option>
                      <option value="juillet">juillet 2014</option>
                      <option value="Août">Août 2014</option>
                      <option value="Septembre">Septembre 2014</option>
                      <option value="Octobre">Octobre 2014</option>
                      <option value="Novembre">Novembre 2014</option>
                      <option value="Décembre">Décembre 2014</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <table class="text-center">
                    <thead>
                      <tr>
                        <td>Lun</td>
                        <td>Mar</td>
                        <td>Mer</td>
                        <td>Jeu</td>
                        <td>ven</td>
                        <td>Sam</td>
                        <td>Dim</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr></tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                      <tr></tr>
                      <td>8</td>
                      <td>9</td>
                      <td>10</td>
                      <td>11</td>
                      <td>12</td>
                      <td>13</td>
                      <td>14</td>
                      <tr></tr>
                      <td>15</td>
                      <td>16</td>
                      <td>17</td>
                      <td>18</td>
                      <td>19</td>
                      <td>20</td>
                      <td>21</td>
                      <tr></tr>
                      <td>22</td>
                      <td>23</td>
                      <td>24</td>
                      <td>25</td>
                      <td>26</td>
                      <td>27</td>
                      <td>28</td>
                      <tr></tr>
                      <td>29</td>
                      <td>30</td>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
          </div>
        </section>
      </aside>
    </article>
  </div>
</body>