-load i18n

style
  h4 {
    color:#555;
  } 
  h3 {
    color:#444;
    margin-top: 40px;
  }
  #content {
    height: 300px;
    background-color: white;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
  }
  .orange .active a{
    background-color: #f27e36;
  }
  .orange a {
    color: #555;
    background-color: #DDD;
  }
  .tab-content {
    padding-top: 20px;
    margin: 0 50px 0 20px;
  }
  .orange a:hover {
    color: #f27e36;
  }
  .orange .active a {
    color: #f27e36;
  }

  a[href^="mailto:"] {
    color:#24bd77;
  }

  a[href^="https://dl-web"]{
    color: #f27e36;
  }

  #intro {
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      position: relative;
      color: #FFF;
      width: 100%;
      height: 500px;
      opacity: 0.9;
      margin-bottom: 50px;
  }

  #intro-text {
    text-align: center;
    color: #999;
    //- padding-bottom: 40px;
  }

  #quote-border {
    margin: 3.5% 40%;
    width: 20%;
    border: 1px solid #DDD;
  }

  
div#intro(style="background-image: url('#{STATIC_URL}img/team.jpg')")
    p(style="margin-left: 200px; margin-right: 200px; margin: 0 200px; padding: 195px 0; text-align: center; vertical-align: middle; color: #EEE; font-size: 60px") Nous Recrutons

.container(style="color:#777; text-align: justify;")
  div#intro-text
    p Vous avez toujours voulu exprimer votre passion et votre talent dans une start-up ambitieuse ?
    p Participez vous aussi à l’essor de l’économie collaborative en rejoignant e-loue !
    div#quote-border
  div(style="margin: 0 5%;")
    h3(style="text-align: center; font-weight:bold;") Nos offres
    ul(id="tabs", style="border-bottom: none;", class="nav nav-tabs orange", data-tabs="tabs")
      li.active
        a(href="#technical-department", data-toggle="tab") &nbsp;&nbsp;&nbsp;Ingénieurs&nbsp;&nbsp;&nbsp;
      li
        a(href="#customer-department", data-toggle="tab") &nbsp;&nbsp;&nbsp;Opérations&nbsp;&nbsp;&nbsp;
      li
        a(href="#sales-department", data-toggle="tab") &nbsp;&nbsp;&nbsp;Business Development&nbsp;&nbsp;&nbsp;
      li
        a(href="#marketing-department", data-toggle="tab") &nbsp;&nbsp;&nbsp;Marketing / Communication&nbsp;&nbsp;&nbsp;

div(id="content")
  .container
    div(class="tab-content", style='margin: 2% 10% 1%;')
      div(class="tab-pane", id="sales-department")
        include sales_department
      div(class="tab-pane", id="customer-department")
        include customer_department
      div(class="tab-pane active", id="technical-department")
        include technical_department
      div(class="tab-pane", id="marketing-department")
        include marketing_department

.container
  div(align="center" style="margin: 5% 5% 5%;")
    h3(style="font-weight: bold;") {% trans "Vous n'avez pas trouvé le job idéal ?" %}
    p Envoyez-nous une candidature spontanée à  
      a(href="mailto:recrutement@e-loue.com") recrutement@e-loue.com

    script(type="text/javascript")
      jQuery(document).ready(function ($) {
          $('#tabs').tab()
            .bind(function (e) {
              $(this).next().hide().fadeIn();
            });
        });
 
 
  script(type="text/javascript", src="../bootstrap/js/bootstrap.js")
