-load i18n

style
  h4 {
    color:#555;
  } 
  h3 {
    color:#444;
  }
  #content {
    height: 300px;
    background-color: white;
    border-bottom: 1px solid #EEE;
    border-top: 1px solid #EEE;
  }
  .orange .active a{
    background-color: #f27e36;
  }
  .orange a {
    color: #555;
    background-color: #DDD;
  }
  .tab-content {
    padding-top: 20px;
    margin: 0 50px 0 20px;
  }
  .orange a:hover {
    color: #f27e36;
  }
  .orange .active a {
    color: #f27e36;
  }

  a[href^="mailto:"] {
    color:#24bd77;
  }

  a[href^="https://dl-web"]{
    color: #f27e36;
  }

  #intro {
      background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1)
      ), url('/static/img/banner-4.png');
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      position: relative;
      color: #FFF;
      width: 100%;
      height: 250px;
      opacity: 0.9;
      margin-bottom: 50px;
  }

  #intro-text {
    text-align: center;
    color: #999;
    padding-bottom: 40px;
  }

  #quote-border {
    margin: 2% 40%;
    width: 20%;
    border: 1px solid #DDD;
  }

  
div#intro
    p(style="margin-left: 200px; margin-right: 200px; margin: 0 200px; padding: 90px 0; text-align: center; vertical-align: middle; color: #EEE; font-size: 45px") Nous Recrutons

.container(style="color:#777; text-align: justify;")
  div#intro-text
    p &#8220; Vous avez toujours voulu exprimer votre passion et votre talent dans une d’une start-up ambitieuse ?
    p Participez vous aussi à l’essor de la 
      span 
        em Sharing Economy 
        | en rejoignant nos équipes &#8221;
    div#quote-border
  div(style="margin: 0 5%;")
    h3 Nos Offres
    ul(id="tabs", style="border-bottom: none;", class="nav nav-tabs orange", data-tabs="tabs")
      li.active
        a(href="#technical-department", data-toggle="tab") &nbsp;&nbsp;&nbsp;développement&nbsp;&nbsp;&nbsp;
      li
        a(href="#customer-department", data-toggle="tab") &nbsp;&nbsp;&nbsp;relation client&nbsp;&nbsp;&nbsp;
      li
        a(href="#sales-department", data-toggle="tab") &nbsp;&nbsp;&nbsp;service commercial&nbsp;&nbsp;&nbsp;

div(id="content")
  .container
    div(class="tab-content", style='margin: 2% 10% 1%;')
      div(class="tab-pane", id="sales-department")
        include sales_department
      div(class="tab-pane", id="customer-department")
        include customer_department
      div(class="tab-pane active", id="technical-department")
        include technical_department

.container
  div(style="margin: 1% 5% 3%;")
    h3 Candidature spontanée
    p Vous pouvez aussi, bien entendu, nous envoyer une candidature spontanée par mail à 
      a(href="mailto:contact@e-loue.com") contact@e-loue.com

    h3 {% trans "Vous n'avez pas trouvé le job idéal ?" %}
    p
      | N'hésite pas à visiter le site de notre partenaire Meteojob.com, 
      | avec plus de 50 000 offres d'emploi : 
      a(href="https://www.meteojob.com", target="_blank", style="color: #24bd77") https://www.meteojob.com


    script(type="text/javascript")
      jQuery(document).ready(function ($) {
          $('#tabs').tab()
            .bind(function (e) {
              $(this).next().hide().fadeIn();
            });
        });
 
 
  script(type="text/javascript", src="../bootstrap/js/bootstrap.js")
