-load i18n

style
  h4 {
    color:#555;
  }
  
  h3 {
    color:#444;
  }


  #content {
    height: 200px;
    margin-bottom: 50px;
  }

  .orange .active a{
    background-color: #f27e36;
  }
  .orange a {
    color: #555;
    background-color: #DDD;
  }

  .tab-content {
    padding-top: 20px;
    margin: 0 50px 0 20px;
  }

  .orange a:hover {
    color: #f27e36;
  }

  .orange .active a {
    color: #f27e36;
  }

  #my-tab-content a {
    color: #f27e36;
  }

  a[href^="mailto:"] {
    color:#24bd77;
  }

  //- #content a {
  //-   color: #f27e36;
  //- }
  
  
  
  #intro {
      background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
      ), url('/static/img/banner-4.png');
      background-size: cover;
      background-attachment: fixed;

      background-repeat: no-repeat;
      //- background-size: 100%;
      
      //- border: 5px solid red;
      position: relative;
      color: #DDD;
      width: 100%;
      height: 250px;
      opacity: 0.8;
      margin-bottom: 50px;
  }

  #intro-text {
    margin-left: 200px;
    margin-right: 200px;
    margin: 0 200px;
    padding: 40px 0;
    text-align: center;
    vertical-align: middle;
  }
  
  
div#intro
  div#intro-text
    p 
      | En plus des aquisitions récentes des sites 
      a(href="https://www.sejourning.com/", target="_blank") Sejourning.com
      | et 
      a(href="https://www.contactngo.com/", target="_blank") ContactNGo.com
      | , le groupe e-loue voit régulièrement naître des projets de création interne, comme 
      a(href="https://www.autovoisin.com/", target="_blank") Autovoisin
      | et 
      a(href="https://location.go-sport.com/", target="_blank") GoSportLocation
      | .
    p
      | C'est dans cette optique d'innovation permanente, cœur même de l'esprit startup, 
      | que nous recherchons de nouveaux profils.
    p Postulez dès à présent et rejoignez l'équipe e-loue
    //- p si vous voulez en savoir plus : 
    //-   a(href="/qui-sommes-nous/") qui-sommes-nous

.container(style="color:#777; text-align: justify;")
  div(style="margin: 0 5%;")
    div(id="content")
      ul(id="tabs", class="nav nav-tabs orange", data-tabs="tabs")
        li.active
          a(href="#technical-department", data-toggle="tab") développement
        li
          a(href="#customer-department", data-toggle="tab") relation client
        li
          a(href="#sales-department", data-toggle="tab") service commercial
        
      div(id="my-tab-content", class="tab-content")
        div(class="tab-pane active", id="sales-department")
          include sales_department
        div(class="tab-pane", id="customer-department")
          include customer_department
        div(class="tab-pane", id="technical-department")
          include technical_department

    
    //- h3 Offres
    //- p
    //-   a(href='https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20Charg%C3%A9%20Service%20Client.pdf?_subject_uid=114656958&w=AACAlA8ih_6emrGDOtkZt-Fc8dNr7hV15oofn4yX5xfKwA', target="_blank") Chargé service client - Pôle relations clients
    //- p
    //-   a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20Chef%20de%20projet%20fonctionnel.pdf?_subject_uid=114656958&w=AADzwapka9ZUq7rHeLAA_8fj4YFD7aqYNTf_ob4tTao5_Q", target="_blank") Chef de projet - Méthodologie Scrum
      
    //- p
    //-   a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20D%C3%A9veloppeur%20Backend.pdf?_subject_uid=114656958&w=AACJQ7V5H7kjAQOb0wJf3viDmSP5rXegHq5kNXOoqRl9Ow", target="_blank") Développeur Backend Python - Framework Django
      
    //- p
    //-   a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20D%C3%A9veloppeur%20Frontend.pdf?_subject_uid=114656958&w=AADdT0OsN9y4g8UtIx60ZP1PnoV73cetXUV_rLqsIotHhQ",target="_blank") Développeur Frontend Javascript - AJAX
    
    
    h3 Candidature spontanée
    p Vous pouvez aussi, bien entendu, nous envoyer une candidature spontanée par mail à 
      a(href="mailto:contact@e-loue.com") contact@e-loue.com
    
    h3 {% trans "Vous n'avez pas trouvé le job idéal ?" %}
    p
      | N'hésite pas à visiter le site de notre partenaire Meteojob.com, 
      | avec plus de 50 000 offres d'emploi : 
      a(href="https://www.meteojob.com", target="_blank") https://www.meteojob.com





    script(type="text/javascript")
      jQuery(document).ready(function ($) {
          $('#tabs').tab()
            .bind(function (e) {
              $(this).next().hide().fadeIn();
            });
        });
 
 
  script(type="text/javascript", src="../bootstrap/js/bootstrap.js")
