a
	img.img-circle(src="#{STATIC_URL}img/thibaut.jpg", style="float:left; width: 100px; margin-right: 30px;")

p 
	| &#8220; Le pôle Marketplace Management a une double facette : aiguiller les utilisateurs lorsqu’ils ont
	| besoin d’aide, c’est une manière dynamique de penser le Service Client. Grâce à cette connaissance de
	| l’internaute, le deuxième objectif est de réfléchir aux axes de développement de notre activité. Coupler
	| ces deux forces permet d’apporter une base solide aux équipes projets. &#8221;

p(style="text-align: right;")
	em Thibaud, COO d’e-loue
ul(style="margin-top: 20px;")
	li 
		a(href='http://eloue.s3.amazonaws.com/offres/Offre%20de%20stage%20e-loue%20-%20Marketplace%20management.pdf', target="_blank") Chargé service client - Pôle relations clients