a
	img.img-circle(src="http://www.google.fr/url?source=imglanding&ct=img&q=https://d1qb2nb5cznatu.cloudfront.net/users/536035-medium_jpg?1405716990&sa=X&ei=7FhcVc7oIMzbUaeLgZgB&ved=0CAkQ8wc&usg=AFQjCNFYtbh9pZZv4sFFOJgmQGexkCcuoA", style="float:left; width: 100px; margin-right: 30px;")

p 
	| &#8220; Le pôle Marketplace Management a une double facette : aiguiller les utilisateurs lorsqu’ils ont
	| besoin d’aide, c’est une manière dynamique de penser le Service Client ; grâce à cette connaissance de
	| l’internaute, le deuxième objectif est de réfléchir aux axes de développement de notre activité. Coupler
	| ces deux forces permet d’apporter une base solide aux équipes projets. &#8221;

p(style="text-align: right;")
	em Thibaud, COO d’e-loue
ul(style="margin-top: 20px;")
	li 
		a(href='https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20Charg%C3%A9%20Service%20Client.pdf?_subject_uid=114656958&w=AACAlA8ih_6emrGDOtkZt-Fc8dNr7hV15oofn4yX5xfKwA', target="_blank") Chargé service client - Pôle relations clients