ul(style="margin-top: 20px;")
	li 
		a(style="color: #24bd77;" href='https://eloue.s3.amazonaws.com/offres/Offre%20Bras%20droit%20COO.pdf', target="_blank") Bras Droit de la COO (H/F) – Stage
	li 
		a(style="color: #24bd77;" href='https://eloue.s3.amazonaws.com/offres/Offre%20Charg%C3%A9%20relation%20clients.pdf', target="_blank") Chargé(e) de la Relation Client (H/F) - Stage
	