p L'équipe relation client est la colle entre nos produits et nos utilisateurs.


p
	a(href='https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20Charg%C3%A9%20Service%20Client.pdf?_subject_uid=114656958&w=AACAlA8ih_6emrGDOtkZt-Fc8dNr7hV15oofn4yX5xfKwA', target="_blank") Chargé service client - Pôle relations clients