a
	img.img-circle(src="http://eloue.s3.amazonaws.com/pictures/Victoria%20Linkedin%20photo.jpg", style="float:left; width: 100px; margin-right: 30px;")

p 
	| &#8220; L'acquisition de nouveaux utilisateurs est le challenge relevé quotidiennement par le pôle marketing.
	| Vous transformerez notre stratégie en un plan d'actions concret actionnable et mesurable en vous appuyant sur 
	| différents leviers marketing. Vous aurez également à cœur la fidélisation de nos utilisateurs, notre communauté est
	| notre plus grande force. Join the journey!  &#8221;

p(style="text-align: right;")
	em Victoria, Directrice CtoC
ul(style="margin-top: 20px;")
	li 
		a(style="color: #24bd77;" href='http://eloue.s3.amazonaws.com/offres/Offre%20de%20stage%20e-loue%20-%20Marketing.pdf', target="_blank") Marketing et Communication - Pôle Marketplace management