ul(style="margin-top: 20px;")
	li 
		a(style="color: #24bd77;" href='https://eloue.s3.amazonaws.com/offres/Offre%20Assistant%20web%20marketing%26communication.pdf', target="_blank") Assistant(e) Webmarketing / Communication (H/F) – Stage