ul(style="margin-top: 20px;")
	li 
		a(style="color: #24bd77;" href='https://eloue.s3.amazonaws.com/offres/Offre%20Recrutement%20%20-%20Business%20Developer.pdf', target="_blank") Business Developer (H/F) – CDI / Stage 
	li 
		a(style="color: #24bd77;" href='https://eloue.s3.amazonaws.com/offres/Offre%20Assistant%20Account%20Manager.pdf', target="_blank") Assistant(e) Account Manager (H/F) - Stage
	li 
		a(style="color: #24bd77;" href='https://eloue.s3.amazonaws.com/offres/Offre%20Charg%C3%A9%20d%27int%C3%A9gration%20des%20pro.pdf', target="_blank") Chargé d'intégration des comptes pro (H/F) - Stage

    
