a
	img.img-circle(src="https://media.licdn.com/media/p/6/005/08e/3fb/05f7648.jpg", style="float:left; width: 100px; margin-right: 30px;"))

p 
	| &#8220; En intégrant l’équipe commerciale d’e-loue, vous serez au contact de nos loueurs professionnels.
	| L’équipe ambitionne d’apporter une qualité de service, une proximité avec notre communauté qui
	| caractérisent l’état d’esprit d’e-loue. Accompagner un professionnel sur la plateforme, c’est lui donner
	| tous les leviers d’une marketplace web sans modifier ses habitudes business. &#8221;

p(style="text-align: right;")
	em Benjamin, Directeur commercial
ul(style="margin-top: 20px;")
	li 
		a(style="color: #24bd77;" href='http://eloue.s3.amazonaws.com/offres/Offre%20demploi%20-%20Commercial.pdf', target="_blank") Commercial, Force de vente - CDI / CDD / Freelance 
	li 
		a(style="color: #24bd77;" href='http://eloue.s3.amazonaws.com/offres/Offre%20de%20stage%20e-loue%20-%20Commercial.pdf', target="_blank") Commercial, Force de vente - Pôle commercial

    
