p au service technique on est les meilleurs

p
	b Les offres :

ul
	li
		a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20Chef%20de%20projet%20fonctionnel.pdf?_subject_uid=114656958&w=AADzwapka9ZUq7rHeLAA_8fj4YFD7aqYNTf_ob4tTao5_Q", target="_blank") Chef de projet - Méthodologie Scrum
	li
		a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20D%C3%A9veloppeur%20Backend.pdf?_subject_uid=114656958&w=AACJQ7V5H7kjAQOb0wJf3viDmSP5rXegHq5kNXOoqRl9Ow", target="_blank") Développeur Backend Python - Framework Django
	li
		a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20D%C3%A9veloppeur%20Frontend.pdf?_subject_uid=114656958&w=AADdT0OsN9y4g8UtIx60ZP1PnoV73cetXUV_rLqsIotHhQ",target="_blank") Développeur Frontend Javascript - AJAX
//- p
//- 	a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20Chef%20de%20projet%20fonctionnel.pdf?_subject_uid=114656958&w=AADzwapka9ZUq7rHeLAA_8fj4YFD7aqYNTf_ob4tTao5_Q", target="_blank") Chef de projet - Méthodologie Scrum
      
//- p
//- 	a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20D%C3%A9veloppeur%20Backend.pdf?_subject_uid=114656958&w=AACJQ7V5H7kjAQOb0wJf3viDmSP5rXegHq5kNXOoqRl9Ow", target="_blank") Développeur Backend Python - Framework Django
      
//- p
//- 	a(href="https://dl-web.dropbox.com/get/pdf_eloue/Offre%20de%20stage%20e-loue%20-%20D%C3%A9veloppeur%20Frontend.pdf?_subject_uid=114656958&w=AADdT0OsN9y4g8UtIx60ZP1PnoV73cetXUV_rLqsIotHhQ",target="_blank") Développeur Frontend Javascript - AJAX