ul(style="margin-top: 20px;")
	li
		a(style="color: #24bd77;" href="https://eloue.s3.amazonaws.com/offres/Offre%20Recrutement%20-%20Web%20Developer%20Backend.pdf", target="_blank") Web Developer Backend (H/F) - CDI /Stage 
	li
		a(style="color: #24bd77;" href="https://eloue.s3.amazonaws.com/offres/Offre%20Recrutement%20-%20Web%20Developer%20Frontend.pdf", target="_blank")  Web Developer Frontend (H/F) - CDI /Stage 
	li
		a(style="color: #24bd77;" href="https://eloue.s3.amazonaws.com/offres/Offre%20Assistant%20chef%20de%20projet%20IT.pdf",target="_blank") Assistant Chef de projet IT (H/F) - Stage
