a
	img.img-circle(src="https://media.licdn.com/media/p/2/000/076/2b1/36dd385.jpg", style="float:left; width: 100px; margin-right: 30px;"))

p 
	| &#8220; Depuis la création d’e-loue, nous insistons sur l’intégration par nos équipes des dernières
	| technologies. Première marketplace à utiliser le language Python et le Framework Django, nous avons
	| décidé de garder cet état d’esprit dans la conception de nos projets. Si vous souhaitez apprendre au
	| quotidien tout en relevant des challenges toujours plus grands, n’hésitez pas à postuler &#8221;
p(style="text-align: right;")
	em Benoît, Cofondateur et CTO

ul(style="margin-top: 20px;")
	li
		a(style="color: #24bd77;" href="http://eloue.s3.amazonaws.com/offres/Offre%20de%20stage%20e-loue%20-%20Chef%20de%20projet%20fonctionnel.pdf", target="_blank") Chef de projet - Méthodologie Scrum
	li
		a(style="color: #24bd77;" href="http://eloue.s3.amazonaws.com/offres/Offre%20de%20stage%20e-loue%20-%20Developpeur%20Backend.pdf", target="_blank") Développeur Backend Python - Framework Django
	li
		a(style="color: #24bd77;" href="http://eloue.s3.amazonaws.com/offres/Offre%20de%20stage%20e-loue%20-%20Developpeur%20Frontend.pdf",target="_blank") Développeur Frontend Javascript - AngularJS
