{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Votre tableau de bord" %}{% endblock %}
{% load inbox %}

{% block content %}
<div id="content-dash" class="clearfix">
	<div id="menu" class="dash">
		<ul class="x12">
			<li class="menu-tab first"><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
			<li class="menu-tab"><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
			<li class="menu-tab"><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
			<li class="menu-tab"><a href="{% url patron_edit %}">{% trans "Mon compte" %}</a></li>
			<li class="menu-tab"><a href="{% url messages_inbox %}">{% blocktrans %}Messages({{ messages_inbox_count }}){% endblocktrans %}</a></li>
		</ul>
	</div>
	<div id="sub-menu">
		<ul class="x12">
			<li class="sub-tab first selected"><a href="{% url messages_inbox %}">{% trans "Messages reçus"%}</a></li>
			<li class="sub-tab"><a href="{% url compose_product_related_message %}">{% trans "Composer messages" %}</a></li>
			<li class="sub-tab"><a href="{% url messages_outbox %}">{% trans "Messages envoyés" %}</a></li>
			<li class="sub-tab"><a href="{% url messages_trash %}">{% trans "Messages supprimés" %}</a></li>
		</ul>
	</div>
	<div class="content-header x12">
		<h1>{% trans "Inbox" %}</h1>
	</div>
	<div class="x12">
	{% if message_list %} 
	<table class="messages">
	    <thead>
	        <tr><th>{% trans "Sender" %}</th><th>{% trans "Subject" %}</th><th>{% trans "Received" %}</th><th>{% trans "Action" %}</th></tr>
	    </thead>
	    <tbody>
	{% for message in message_list %} 
	    <tr>
	        <td>{{ message.sender }}</td>
	        <td>
	            {% if message.new %}<strong>{% endif %}
	            {% if message.replied %}<em>{% endif %}
	            <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
	            {% if message.replied %}</em>{% endif %}
	            {% if message.new %}</strong>{% endif %}</td>
	        <td>{{ message.sent_at|date:_("DATETIME_FORMAT") }}</td>
	        <td><a href="{% url messages_delete message.id %}">{% trans "delete" %}</a></td>
	    </tr>
	{% endfor %}
	    </tbody>
	</table>
	{% else %}
	<p>{% trans "No messages." %}</p>
	{% endif %}
	</div>
</div>
{% endblock%}