{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% block title %}{% trans "Composer un message"%}{% endblock %}
{% block content %}
<div id="content-home" class="xgrid">
    <div id="wizard" class="x12">
        <div class="wizard-header">
            <h1>{% trans "Envoyer un message" %}</h1>
        </div>
        <ol>
            <li class="first on">{% trans "1. Composez le message" %}</li>
            {% if not user.is_authenticated %}
                <li>{% trans "2. Identifiez-vous" %}</li>
            {% endif %}
        </ol>
        <a href="{% url faq-topic-list %}" class="btn big-blue">{% trans "Obtenir de l'aide" %}</a>
    </div>
    <div class="content-header x12">
		<h1>{% trans "Nouveau message"%}</h1>
	</div>
	<div class="x8 p2">
	    <form action="" method="post">
	    {% csrf_token %} 
	    <table class="more-info">
	        <tr>
				<th><label>{{ form.subject.label }} * :</label></th>
				<td {% if form.picture.errors %} class="error-field" {% endif %}>
				{{ form.subject }}
				{% if form.subject.errors %}
				{% for error in form.subject.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			<tr class="message-body">
				<th><label>{{ form.body.label }} * :</label></th>
				<td {% if form.picture.errors %} class="error-field" {% endif %}>
				{{ form.body }}
				{% if form.body.errors %}
				{% for error in form.body.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
	    </table>
	</div>
	<div class="x12">
        <p class="required-field">{% trans "* champs obligatoires" %}</p>
    </div>
    <div id="submit-wizard" class="x12">
        <p>
		    <input type="submit" class="btn big-green" value="Continuer &rarr;" />
		</p>
	</form>
	</div>
</div>
{% endblock %}