.container.indent-v-lg
  h2.text-center.text-uppercase
    | « "אי-לו היה לנו את היכולת לשנות , לשתף , לעזור ...
    br
    | קהילה הולכת וגדלה »
  
  .text-justify.indent-t-lg
    p
      | למה לקנות מקדחה כאשר היא סבשימוש כ -12 דקות בממוצע לשנה?
      br
      | למה לבזבז הון תועפות על מצלמה חדשה בזמן שהיא  מתיישנת תוך כ-שנתיים ?
      br
      |  כיצד לחסות חלק מההוצאות תחזוקה של המכונית שלך בזמן שאתה לא משתמש בה?
      br
      | שלוש שאלות (ועוד רבים אחרים ...) ואת אותה התשובה: 
      b השכרת  חפצים! 

    p
      | אי-לו השכרות היא  פלטפורמה שמאפשר ליחידים או, לבעלי מקצוע  , להשכיר או לשים  להשכרה  כל סוג של 
      | בכל התחומים :  גינון, כלי רכב, דיור, היי-טק, אופנה, אירוח  ...

    p
      | בעלים  של מוצרים/חפצים/נכסים  יכולים להרוויח כסף ו/או לכסות חלק מההוצאות שהם השקיעו ברכישתם  בזה שהם שמים אותם להשכרה  באי-לו השכרות כאשר הם לא בשימוש .
      br
      |  השוכרים חסוכים כסף על ידי  כך שהם שוכרים  מוצרים קרובים לבית, במקום לקנות אותם.
      br
      | בקיצור, עם- אי-לו השכרות  הקניה הינה חובה , והשכירות דרך חיים לעולם טוב יותר 

  h4: b
    | זה פשוט, מעשי, אחראי, חסכוני, אקולוגי, וידידותי ... והכי חשוב בטוח ב -100%!

  h3.text-uppercase.indent-t-md
    | תולדות  אי-לו השכרות .
  p
    | בהתחלה,  בסוף שנות ה90 ,היו  2 בחורים  צרפתים צעירים   אלכסנדר ובנואה ... שהיה להם רהיט להרכיב ,  אבל לא מקדח, ולא ממש רצו  לקנות אחד עבור שימוש של  10 דקות .. אבל הם היו משוכנעים כי לשכניהם  בטח  
    | היה ... והרעיון נולד!
    br
    | אי-לו השכרות הוקמה ב1999 בצרפת לפני יותר מ7 שנים כפלטפורמה אינטרנטית  עבור אנשים כדי לשכור את כל סוגי המוצרים הנמצאים בסביבה. מאז אותו יום,  המהפכה התחילה ודרך החשיבה  אל כלכלה שיתופית 
    | תופסת תאוצה , תמיד הייתם יותר ויותר המאמינים ברעיון שלנו, ועזרתם  לנו לפתח את רעיון של כלכלה  
    | שיתופית . היום יש לנו יותר מ -100,000 רישומים ויותר מ - 50,000  חברים  בצרפת , סניף בדנמרק , מנוע&nbsp;להשוואות השכרות בארצות הברית , תיכנון לפתוח סניך ברוסיה ועוד תוכניות ...ועכשיו גם בישראל !!! 

  h3.text-uppercase.indent-t-md
    | צוות אי-לו השכרות .
  p
    | לפני7  שנים, היינו שני. ואז שלוש, ארבע, חמש ... היום יש לנו צוות צעיר ודינמי של למעלה מ -20 אנשים,  רק  
    | בצרפת כאשר פועלים יום ולילה כדי להציע את החוויה הטובה ביותר האפשרית. השביעות הרצון שלך היא תמיד  
    | בראש סדר העדיפויות שלנו. לאה, תיבו, מריון, מיכאל , קלוד  - וכל האחרים - הם עושים כמיטב יכולתם כדי  לגרום לך  להיות מרוצה מהשירותים שלנו, ואנחנו נודה אם  אתה תמליץ  עלינו , ☺ . אבל אנחנו נאבקים על שינוי  
    i.icon-lg &#9786;
    | .
    | מנטליות והרגלי קניה, יש אלטרנטיבה לקנייה !!!. לפני, שילמנו כדי לרכוש   
    | מחר נשלם  עבור השימוש...

  h4: b
    |  עם  אי-לו השכרות , אתם כבר מחר...

  h3.text-uppercase.indent-t-md
    | הערכים של אי-לו השכרות 
  p
    | מבחינה היסטורית, התמקדנו בפיתוח-אי-לו השכרות סביב 6  ערכים  עיקרים שאנחנו מנסים לקחת בחשבון  
    | בפיתוח המוצר שלנו ובתהליך ההחלטות שלנו : אכן, אנו מאמינים כי תפקידנו כחלוץ בתחום הכלכלת שיתופית הוא לפתח  פיתוחים טכנולוגיים כדי לקשר/לקרב אנשים, ולהביאם למודעות על עזרה ההדדית , לחזק את הכוח
    | הקנייה שלהם ,  ולהבטיח להם שזה יתבצע בביטחון ובאמונה .ערכים אלו מובילים  אותנו מדי יום יחד עם מושגים  
    b של  קירבה, פשטות, איכות, הקשבה, כנות ומקצוענות.
