doctype
html(lang = "en")
	head
		-var title = "e-loue"
		include ../jade/_head
		
	body
		include ../jade/_src
		.container-flex
			header
				include ../jade/_header-site
			nav
				include ../jade/_breadcrumbs

			article.row-fluid
				.container.product-details
					.row.mrg-v-5
						.col-md-8.title
							h3 Location 
								span.name Bmw - 520 touring luxe 
								|- 
								span.location NICE
							ul.breadcrumb
								-var specifications = ["Année 2010", "Moteur Diesel", "Boite Automatique", "10 000 à 30 000 km"]
								-each specification in specifications
									li #{specification}
						.col-md-4.share-btns
					.row
						.col-md-8.bg-primary sd
						.aside.col-md-4
							include ../jade/_aside

			footer
				include ../jade/_insurances
				include ../jade/_footer-links
				include ../jade/_rss

			include ../jade/_sign-in
			include ../jade/_log-in

		include ../jade/_scripts
