.container.indent-v-lg
  h2.text-center.text-uppercase
    | « DER VAR ENGANG
    br
    | ET FÆLLESKAB, SOM BLEV STØRRE
  
  .text-justify.indent-t-lg
    p Hvorfor købe en boremaskine, når man i gennemsnittet kun bruger den 12 minutter om året? Hvorfor bruge en formue på et nyt kamera, når det vil være forældet om blot to år? Hvordan har du mulighed for at tjene penge på din bil, som du ikke anvender hver dag? Tre spørgsmål (og naturligvis andre...), som har ét svar: Leje af genstande!

    p e-loue er forretningen, som tillader privatpersoner og professionelle at leje/udleje alle former for lejemål: gør-det-selv, havearbejde, køretøjer, bolig, high-tech, mode, receptioner…

    p Ejerne tjener penge, når de gør deres ting rentable ved udlejning gennem e-loue. Lejerne sparer penge, når de lejer ting lige om hjørnet i stedet for at gå ud og investere. Kort sagt, hos e-loue lejer vi alle, og det vinder vi ved…

  h4: b
    | Det er simpelt, praktisk, ansvarligt, økonomisk, økologisk, brugervenligt.. og frem for alt 100% sikkert!

  h3.text-uppercase.indent-t-md
    | e-loue’s historie
  p I starten var der Alexandre, Benoit... og et møbel der skulle samles. Ingen af dem havde en boremaskine, og ingen af dem ønskede heller at investere i én for blot 10 minutters boretid… Til gengæld var de overbeviste om, at deres nabo ejede en – og så var idéen født!
  p e-loue startede for fem år siden, som en internet-platform der tillader privatpersoner at leje deres ting ud fra hjemmet. Siden dengang, har I været mange, som tror på vores idé, og som hjælper med at udvikle os. I dag har vi mere end 100 000 annoncer og over 50 000 medlemmer i Frankrig… - alt sammen takket være jer!

  h3.text-uppercase.indent-t-md
    | Team e-loue
  p For fem år siden var vi to. Siden tre, så fire, og fem… I dag består vi af et ungt og dynamisk team på mere end 20 personer, som hver dag arbejder for at tilbyde jer den bedst mulige service. Jeres tilfredshed har altid været vores første prioritet. Marie, Jonathan, Charlotte, Léa, Thibaud, Marion, Mickaël – og alle de andre – gør alt for at indfri jeres ønsker, og vi indrømmer gerne, at vi håber, I fortæller om os til naboen i.icon-lg &#9786;
  p Men vi kæmper også for at forbedre forbrugermentaliteten, og for at forklare alle de andre, at der eksisterer et alternativ til indkøb. Førhen, betalte man for at eje… I morgen, betaler man for at bruge…

  h4: b
    | Med e-loue er det allerede « i morgen »...

  h3.text-uppercase.indent-t-md
    | e-loue’s værdier
  p Siden begyndelsen, har vi opbygget e-loue omkring seks stærke værdier, som vi kæmper for at inkludere i alle vores udviklinger og beslutningstagning: Vi tænker, at vores rolle som pionerer inden for den kollektive forbrugermentalitet, er at samle folk takket være den teknologiske udvikling, og bringe dem en overskuelig og tillidsfuld mulighed for at handle anderledes og rentabelt. Vi drives hver dag frem af værdierne Nærhed, Enkelthed, Kvalitet, Lydhørhed, Ærlighed og Præstation.
