.text-info
  &
    padding-top: px(40)
    padding-bottom: px(50)

  &__paragraph
    color: rgb(94,94,94)
    font-size: px(15)
    font-weight: $fw-light
    line-height: 2
    text-align: justify

    & + &
      margin-top: 2em