.container.indent-v-lg
  h2.text-center.text-uppercase
    | « IL ÉTAIT UNE FOIS...
    br
    | UNE COMMUNAUTE QUI GRANDIT »
  
  .text-justify.indent-t-lg
    p
      | Pourquoi acheter une perceuse alors qu'on l'utilise en moyenne 12 minutes par an&nbsp;?
      br
      | Pourquoi dépenser une fortune pour un nouvel appareil photo alors qu'il sera obsolète dans 2 ans&nbsp;?
      br
      | Comment rentabiliser facilement votre voiture alors que vous ne l'utilisez pas tous les jours&nbsp;?
      br
      | Trois questions (et bien d’autres...) et une même answer&nbsp;: 
      b la location d'objets&nbsp;!

    p
      | e-loue est une marketplace permettant aux particuliers et aux professionnel de la location de louer et/ou de
      | mettre en location tout type de &nbsp;: bricolage, jardinage, véhicules, logement, high‐tech, mode, réception...

    p
      | Les propriétaires gagnent de l’argent et rentabilisent leurs biens en les mettant à louer sur e‐loue.
      br
      | Les locataires économisent de l’argent en louant des objets près de chez eux, au lieu de les acheter.
      br
      | Bref, avec e‐loue, ils louent, et ça leur rapporte...

  h4: b
    | C’est simple, pratique, responsable, économique, écologique, et convivial... et surtout 100% sécurisé&nbsp;!

  h3.text-uppercase.indent-t-md
    | l’histoire d’e-loue
  p
    | Au début, il y avait Alexandre, Benoit... et un meuble à monter. Aucun des deux n’avait de perceuse, et ne souhaitait en acheter une pour l’utiliser seulement 10&nbsp;minutes.. 
    | Mais ils étaient persuadés que leurs voisins en possédaient &nbsp;... Et l’idée était née&nbsp;!
    br
    | e‐loue a été pensé il y a plus de 5 ans, comme une plateforme internet permettant aux particuliers de louer tous types d’objets près de chez eux. 
    | Depuis ce jour, vous avez toujours été plus nombreux à croire en notre idée, et à nous aider à la développer. 
    | Aujourd’hui, nous avons plus de 100&nbsp;000 annonces et plus de 50&nbsp;000 membres&nbsp;... et c’est grâce à vous&nbsp;!

  h3.text-uppercase.indent-t-md
    | l’équipe e-loue
  p
    | Il y a 5 ans, nous étions deux. Puis trois, quarte, cinq... Aujourd'hui, nous avons une équipe jeune et dynamique de plus de 20 personnes, 
    | qui travaillent tous les jours pour vous offrir la meilleure expérience possible. Votre satisfaction a toujours été notre priorité. 
    | Léa, Thibaud, Marion, Mickaël - et tous les autres ‐ font leur possible pour que vous soyez satisfaits de nos services, et, on l’avoue, que vous les recommandiez à votre entourage 
    i.icon-lg &#9786;
    | .
    | Mais nous nous battons aussi pour évoluer les mentalités et faire comprendre à tous les autres qu’il existe une alternative à l’achat. Avant, on payait pour posséder.. 
    | Demain, on paiera pour utiliser...

  h4: b
    | Avec e-loue, vous êtes déjà demain...

  h3.text-uppercase.indent-t-md
    | les valeurs d’e-loue
  p
    | Depuis toujours, nous avons axé les développements d’e-loue autour de 6 valeurs fortes, que nous nous tachons de prendre en compte dans toutes nos évolutions et toutes nos 
    | décisions&nbsp;: Nous pensons en effet que notre rôle, en tant que pionnier de la consommation collaborative, est d’utiliser les évolutions technologiques pour rapprocher
    | les gens, leur apporter de la convivialité, du pouvoir d’achat, et de la confiance. Ces valeurs qui nous animent au quotidien sont 
    b Proximité, Simplicité, Qualité, Ecoute, Honnêteté et Performance.
