+block-with-thumbnail(px(130), 0)
>.thumbnail-img a
	height: auto
>.thumbnail-content
	white-space: nowrap
	text-align: left
	.location-pin-3
		display: inline-block
		margin-right: .5em
	h3
		font-size: inherit
		font-weight: $fw-bold
	p
		font-weight: $fw-semibold
		font-size: inherit
		margin: 0 0 .5em
	.writing-comment
		display: inline-block
		margin: 0 .5em 0 1em
	.declarer
		+block-with-thumbnail(px(40), 50%)
		margin-top: 0
		.thumbnail-content
			vertical-align: middle
			font-size: px(13)
