{% extends "admin/base_site.html" %}

{% load i18n %}

{% block title %}Stats{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans 'Home' %}</a> 
        &rsaquo; stats
    </div>
{% endblock %}


{% block content %}
<div style="overflow-x: auto; float: left; margin-right: 20px; width: 863px;">
	<table>
	{% for key, value in stats.items %}
		{% if forloop.first %}
		<thead>
			<tr>
				<th></th>
				{% for item in value %}
				<th>{{ item.0|date:"M y" }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
		{% endif %}
		<tr>
			<th>{{ key }}</th>
			{% for item in value %}
			<td style="text-align: center;">{{ item.1|floatformat:2 }}</td>
			{% endfor %}
		</tr>
		{% if forloop.last %}
		</tbody>
		{% endif %}
	{% endfor %}
	</table>
</div>
<div style="float: left; width: 300px;">
	<ul>
		<li><a href="{% url 'stats_by_patron' %}">Statistiques par Membre</a></li>
		<li><a href="{% url 'stats_by_product' %}">Statistiques par Annonce</a></li>
		<li><a href="{% url 'stats_by_category' %}">Statistiques par Categorie</a></li>
		<li><a href="{% url 'stats_by_city' %}">Statistiques par Ville</a></li>
	</ul>
</div>
{% endblock %}