-load i18n

.section-header
    {% trans "Contactez-nous" as contactez_nous %}
    {% trans "Contactez-moi" as contactez_moi %}
    {% if is_pro %}
    span.badge-pro.pull-right pro
    h4 {{contactez_nous}}
    {% else %}
    h4 {{contact_moi}}
    {% endif %}
.section-body
    .part
        .block-thumbnail
            .thumbnail-img
                a(href="{{ product.owner_url }}"): div(style="{% if product.owner_avatar_medium %}background-image: url({{ product.owner_avatar_medium }}){% endif %}").bg-image
            .thumbnail-content
                h5: a(href="{{ product.owner_url }}") {% if is_pro %} {{ patron.company_name  }} {% else %} {{ product.owner }}{% endif %}
                {% if is_pro %}
                if patron.about
                  p: i {{ patron.about }}
                {% else %}
                {% with product.owner.average_note as rate %}
                include ../../_rate
                {% endwith %}
                p
                    {% trans "Membre depuis le" %}
                    br
                    span {{ product_object.owner.date_joined|date:"d F Y" }}
                {% endif %}
    .part
        {% if is_pro %}
        {% if patron.slug != "loxam" %}
        a(href="#/message", data-toggle="modal", data-target="#pro-popin-message")#pro-popin-message.btn.bg-success
            i.flaticon.stroke.mail-2
            | {% trans "Demandez un devis" %}
        {% if patron.default_number %}
        a(href="#/phone", data-toggle="modal", data-target="#pro-popin-phone")#pro-popin-phone.btn.bg-success
            i.flaticon.stroke.phone-3
            | {% trans "Appelez" %}
        {% endif %}
        {% endif %}
        {% if patron.default_address %}
        a(href="#/shop", data-toggle="modal", data-target="#pro-popin-shop")#pro-popin-shop.btn.bg-success
            i.flaticon.stroke.shop-1
            | {% trans "Venez en magasin" %}
        {% endif %}
        {% if patron.url %}
        a(href="#/website", data-toggle="modal", data-target="#pro-popin-website-link")#pro-popin-website-link.btn.bg-success
            i.flaticon.stroke.imac-1
            {% trans "Visitez notre site web" %}
        {% endif %}
        {% else %}
        a.ng-hide(href="", data-dismiss="modal", ng-click="openModal('message')", ng-show="currentUser.id != product.owner.id").btn.bg-success.send-message
            i.flaticon.stroke.mail-2
            {% trans "Envoyez un message" %}
        //a(href="", data-dismiss="modal", ng-click="openModal('phone')").btn.bg-success.call
            i.flaticon.stroke.phone-3
            {% trans "Appelez" %}
        ul.nav.stats
            {% with product_object.owner.stats as stats %}
            include ../../_patron_stats
            {% endwith %}
        {% endif %}
//-
    .part.connection.clearfix
        .col-sm-4
            a(href="#").friend-photo-wrapper
                img(src=STATIC_URL+"img/home-products/friend1.png", alt="")
            a(href="#").friend-photo-wrapper
                img(src=STATIC_URL+"img/home-products/friend2.png", alt="")
        .col-sm-8
            p: small
                a(href="#") Philippe Dupré
                | et
                a(href="#") Tony Finn
                | sont amis avec le propriétaire.
