-load i18n
extends ../base
-load compressed
-load compressed staticfiles i18n

block append title
  {% trans "Offre professionnel" %}

.container
  ol.breadcrumb
    li: a(href="{% url 'home' %}") {% trans 'Accueil' %}
    li Pourquoi choisir AutoVoisin ?
    li.active AutoVoisin et la sécurité
