.container
  ul.nav.nav-justified.text-nowrap

    -var insurances_pro = [["euro", "efficace", "Nous vous apportons<br>de nouveaux clients.<br>Vous augmentez vos revenus"], ["timmer", "rapide", "Nous ouvrons votre boutique<br>et intégrons vos produits<br>en moins de 2 semaines"], ["chart", "transparent", "Nous vous donnons accès<br>à toutes les statistiques<br>Google de votre boutique"], ["hammer", "adaptable", "Vous pouvez modifier<br>ou compléter votre boutique<br>en toute simplicité"]]
    each style, title, text in insurances_pro
      li.divide
      li
        h5.indent-b-sm
          | AutoVoisin Pro 
          br
          | c’est 
          span.text-primary {{ title }}&nbsp;!
        .insurances-img.text-black
          i(class="eloue-{{ style }}")
        p
          != text|safe
