.container.indent-t-md.indent-b-lg
  h2.text-center.text-uppercase vous êtes loueur professionnel&nbsp;? nous aussi&nbsp;!

  .row.indent-t-md
    .col-md-8: .text-justify.text-gray-strong
      br
      br
      p
        | AutoVoisin est le premier site de location de véhicules dédié aux particuliers et aux professionnels.
      p
        | Quel que soit votre voiture, quelque soit votre localité,
        | nos membres seront intéressés par vos produits à louer : citadine, berline, utilitaire, van, ...
      p.indent-t-sm: b
        | Alors n’hésitez pas à souscrire un Pack AutoVoisin PRO
        | pour profiter d’un canal de distribution complémentaire
        | et augmenter facilement vos revenus !
    .col-md-4: .bg-primary.pad-sm
      p
        | AutoVoisin PRO, le partenaire qu’il vous faut :
      ul.reset_list
        li Visibilité illimitée de vos annonces
        li Point mensuel avec vous
        li Service dédié
      
      p
        | Autant d’atouts que nous mettons
        | à votre disposition pour vous 
        | apporter de nouveaux clients !