.container.indent-t-md.indent-b-md
  .row
    .col-sm-6: .mark-wrapper.indent-r-sm
      h3.text-white
        b Je suis 
        b.text-primary propriétaire, 
        br
        b J’ai des biens à mettre en location,
        b Je peux gagner de l’argent !
    .col-sm-6: .mark-wrapper.indent-l-sm
      h3.text-white
        b Je suis 
        b.text-success locataire,
        br
        b Je veux louer des biens,
        b Je peux économiser de l’argent !
