.container.indent-t-md.indent-b-md
  .row
    .col-sm-6
      h3
        | Je suis 
        b.text-success propriétaire, 
        br
        | J’ai des biens à mettre en location,
        br
        | Je peux gagner de l’argent !
    .col-sm-6
      h3.indent-l-sm
        | Je suis 
        b.text-primary locataire,
        br
        | Je veux louer des biens,
        br
        | Je peux économiser de l’argent !
