.container
  .row
    .col-xs-12
      h4 AVANT LA LOCATION
    .col-sm-6
      ul.timeline-steps.owner-column
          li
            h5 Je m’inscris gratuitement
            p.content en quelques secondes
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je dépose mes annonces
            p.content en toute simplicité
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je réponds aux questions
            p.content des locataires intéressés par mes annonces (par téléphone ou par messagerie)
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 J’accepte la location sur e-loue
            p.content afin d’être couvert par l’assurance et d’éviter les échanges d’argent
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i

    .col-sm-6
      ul.timeline-steps.tenant-column
          li
            h5 Je m’inscris gratuitement
            p.content en quelques secondes
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je recherche un bien à louer
            p.content parmi plus de  100 000 annonces
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je pose mes questions
            p.content au propriétaire de l’objet qui m’intéresse (par téléphone ou par messagerie)
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je paie la location sur e-loue
            p.content via un serveur sécurisé (Société Générale)
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i

  .row
    .col-xs-12
      h4 PENDANT LA LOCATION
    .col-sm-6
      ul.timeline-steps.owner-column
          li
            h5 Je reçois un contrat de location
            p.content pré-rempli que je présenterai au locataire lors de la transaction
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je  rencontre le locataire
            p.content pour lui confier le bien loué
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je  reçois mon paiement
            p.content de la part d’e-loue (48h après le début de la location)
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je récupère mon bien
            p.content en rencontrant le locataire
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i

    .col-sm-6
      ul.timeline-steps.tenant-column
          li
            h5 Je reçois un contrat de location
            p.content pré-rempli que je présenterai au propriétaire lors de la transaction
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je rencontre le propriétaire
            p.content pour récupérer le bien loué
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je profite du bien loué
            p.content en toute sécurité car il est assuré par e-loue
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
          li
            h5 Je rends le bien loué
            p.content en rencontrant son propriétaire
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i

  .row
    .col-xs-12
      h4 APRES LA LOCATION
    .col-sm-6
      ul.timeline-steps.owner-column
          li
            h5 Je note le locataire
            p.content pour aider les autres e-loueurs
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i

    .col-sm-6
      ul.timeline-steps.tenant-column
          li
            h5 Je note le propriétaire
            p.content pour aider les autres e-loueurs
            span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
            .addons
              b
              i
