.container
  h3.text-center.indent-t-lg.indent-b-lg.text-uppercase
    avec e-loue, vous pouvez gagner de l’argent et économiser de l’argent ! 
    br
    b c’est pratique, c’est simple, et c’est 100% sécurisé
