extends ../base
-load compressed staticfiles i18n

block append title
  {% trans "Assurance tranquilité" %}

block append styles
    {% compressed_css "bootstrap" %}
    {% compressed_css "security_styles" %}

style
block append content-body
  //- Inherit HomePage controller to activate geolocation search
  .container-flex(data-ng-controller="HomePageCtrl")  
    header.header-site
      include ../jade/_header_site
    nav.bd-b
      include _breadcrumbs
    div#intro(style="background-image: url('#{STATIC_URL}img/banner-depot-garantie-dressbooking.png'); background-size: cover; background-repeat: no-repeat; height: 350px; position:relative; color: #FFF; width: 100%; background-position: center center; margin-bottom: 30px; opacity: 0.9;")
    article.indent-v-lg
      section: include _text_content

    footer
      section.row-fluid.footer-links
        include ../jade/_footer_links
      section.row-fluid.rss
        include ../jade/_rss
