{% load i18n %}
h1.text-uppercase.text-center
    | Assurance objet

  .row.indent-t-lg
    .col-sm-10.col-sm-offset-1
      h3.b 
        | SYNTHÈSE 
      ul.dash-item
        li
          | En effectuant votre location sur E-loue, l’objet loué est automatiquement assuré pour tous les dommages matériels 
          | accidentels causés au bien pendant la durée de location, sans coût supplémentaire. 
        li L’assurance ne couvre pas le vol par le locataire.
        li L’assurance est incluse dans le montant réglé en ligne par le locataire.
        li Le montant de remboursement maximum est de 750 € (incluant une franchise de 15%).
        li Pour déclarer un sinistre, la procédure est simple et rapide.

      h3.b
        | CONDITIONS PORTANT SUR LE BIEN LOUÉ
      | Pour être couvert par l’assurance E-loue / Assur’One, le bien loué doit :
      br
      ul.dash-item
        li être au nom d’un particulier
        li être immatriculé en France métropolitaine
      b
        | L’assurance couvre uniquement les transactions effectuées et finalisées sur le site, aux dates enregistrées. En cas de
        | modification de date ou d’allongement de durée, il est indispensable de refaire une demande de réservation sur le site
        | afin d’être couvert par l’assurance.
      br
      br
      | L’assurance ne couvre pas les catégories d’objets suivantes :
      ul.dash-item
        li 
          | véhicules terrestres à moteur relevant d’une assurance obligatoire (auto, moto, scooter, camping-car, voiturette, 
          | tondeuse autoportée…)
        li biens immobiliers et locations saisonnières
        li matériels de levage, manutention, construction et terrassement
        li armes
        li téléphones portables


      h3.b
        | CONDITIONS PORTANT SUR LE PROPRIETAIRE DU BIEN LOUÉ

      Pour être couvert par l’assurance E-loue / Assur’One, le propriétaire du bien loué doit :
      ul.dash-item
        li être un particulier
        li résider en France métropolitaine

      h3.b
        | GARANTIES ACCORDÉES PAR L’ASSURANCE
      | Pendant la durée de la location, l’assurance E-loue / Assur’One inclut les garanties suivantes : 
      ul.dash-item
        li dommages matériels accidentels causés au bien
        li destruction
        li détérioration totale ou partielle extérieurement visible 
      | Ces dommages doivent provenir d’un événement extérieur et soudain et doivent rendre le bien garanti impropre à toute 
      | utilisation.
      br
      b L’assurance ne couvre pas le vol par le locataire.
      br
      br
      | Le montant de l’indemnisation : 
      ul.dash-item
        li correspondra au montant de la caution (demandée par le propriétaire, lors de son dépôt d’annonce)
        li sera minoré d’une franchise de 15%
        li ne pourra pas dépasser 750€

      h3.b
        | QUE FAIRE POUR DÉCLARER UN INCIDENT ?
      
      | En cas de casse ou de panne, le locataire doit :
      ul.dash-item
        li prévenir le propriétaire de l’objet loué,  en lui expliquant le problème qu’il rencontre 
        li 
          | déclarer le sinistre auprès d’E-loue sur le site, par 
          a(href="mailto:contact@e-loue.com").link-success mail
          | ou par téléphone (01.85.08.99.77) 

        li restituer l’objet loué au propriétaire
        li compléter et signer l'état des lieux de sortie en précisant les dommages constatés
        li déclarer le sinistre auprès de l’assureur par téléphone (Assur’One – 01.76.29.75.22)

      br
      | En cas de casse ou de panne, le propriétaire doit :
      ul.dash-item
        li récupérer le bien loué 
        li signer l’état des lieux de sortie en précisant les dommages constatés
        li
          | déclarer le sinistre auprès d’E-loue sur le site, par mail (
          a(href="mailto:contact@e-loue.com").link-success mail contact@e-loue.com
          |) ou par téléphone (01.85.08.99.77) 
        li déclarer le sinistre auprès de l’assureur par téléphone (Assur’One – 01.76.29.75.22)
        li 
          | faire établir un devis de réparation ou (si le bien n’est pas réparable) une attestation d’irréparabilité à 
          | transmettre au locataire dans les 48 heures à compter du dommage.

      h3.b
        | QUE FAIRE POUR ÊTRE INDEMNISÉ ?

      | Une fois l’incident déclaré auprès d’E-loue et de l’assurance, le propriétaire pourra alors être indemnisé : 
      ul.dash-item
        li
          | E-loue utilisera la caution en ligne laissée par le locataire (au moment de la réservation) pour prélever le montant 
          | correspondant à la franchise (plafonné au montant de la caution ou à 750€)
        li cette somme sera versée au propriétaire par e-loue

      | Pour pouvoir obtenir le remboursement selon les modalités du contrat d’assurance, le locataire devra ensuite envoyer un  
      | courrier à l’assureur (Gestion Assurance Assur’One Group – BP 30200 – 95210 Saint Gratien), dans un délai de 5 jours
      | ouvrés 
      | suivant le constat du dommage, avec les documents suivants :
      ul.dash-item
        li déclaration sur l’honneur décrivant très précisément la date, le lieu et les circonstances du dommage
        li copie du contrat de location liant le propriétaire et le locataire
        li copie du certificat de garantie

      br
      | Après analyse de cette déclaration, l’assureur pourra réclamer au propriétaire d’autres documents :
      ul.dash-item
        li une photocopie du bien avant réparation
        li si le bien est réparable : le devis de réparation du bien (à demander au propriétaire) 
        li 
          | si le bien n’est pas réparable : une attestation d’irréparabilité établie par un SAV compétent et la facture d’achat 
          | initiale du bien (ou toute autre preuve de sa valeur)
      | L’assureur se réserve le droit de demander au propriétaire l’envoi du bien endommagé s’il est irréparable.

      | Sous réserve de l’éligibilité du dossier, la prise en charge consistera à indemniser le locataire : 
      li 
        | en cas de non-restitution du bien : du montant de la caution prélevée par le propriétaire du fait de la non-restitution 
        | du bien garanti, après déduction de la franchise
      li 
        | en cas de réparation du bien : du montant de la facture de réparation dans la limite de la caution et après déduction de | la franchise


      h3.b 
        | CONTRAT D’ASSURANCE 

      | Un contrat d’assurance est associé pour chaque transaction effectuée sur le site www.e-loue.com.  Le contrat d’assurance 
      | est établi entre le locataire et notre partenaire Assur’One. Le montant de l’assurance est inclus dans le montant réglé en 
      | ligne par le locataire. 

      | L’ensemble des garanties d’assurance est régi par une Notice d’information (téléchargeable à cette 
      a(href="http://eloue.s3.amazonaws.com/media/assurances/Assurone.pdf" style="color:orange").link-success adresse 
      | et un Certificat de garantie (reçu avec votre contrat de location). 
      | Il est demandé aux utilisateurs d’en prendre connaissance et de s’assurer de les avoir bien comprises.
      br
      br

h1.text-uppercase.text-center
    | Assurance logement
  .row.indent-t-lg
    .col-sm-10.col-sm-offset-1
      h3.b
        | SYNTHÈSE
      ul.dash-item
        li En effectuant votre location sur e-loue, le logement loué est automatiquement assuré, sans coût supplémentaire.
        li L’assurance est incluse dans le montant réglé en ligne par le locataire.
        li Pour déclarer un sinistre, la procédure est simple et rapide.

      h3.b
      | CONDITIONS PORTANT SUR LE LOGEMENT LOUÉ 
      Pour être couvert par l’assurance E-loue / Europ Assistance, le logement loué doit : 
      ul.dash-item
        li être au nom d’un particulier
        li
          | être loué par le propriétaire ou copropriétaire du logement, ou par le locataire expressément autorisé, via son 
          | bail,à pratiquer de la sous-location
        li
          | se situer dans un pays qui n’est pas en guerre civile, qui n’est pas en situation d'instabilité politique notoire, qui | ne subit pas de représailles, de restrictions à  la libre circulation des personnes et des biens, d’actes de
          | terrorisme, ou de catastrophes naturelles ou désintégration du noyau atomique

      b 
      | L’assurance couvre uniquement les transactions effectuées et finalisées sur le site, aux dates enregistrées. En cas de 
      | modification de date ou d’allongement de durée, il est indispensable de refaire une demande de réservation sur le site 
      | afin d’être couvert par l’assurance.

      h3.b
        | CONDITIONS PORTANT SUR LE LOCATAIRE
      Pour être couvert par l’assurance E-loue / Europ Assistance, le locataire doit :
      ul.dash-item
        li être un particulier 
        li louer le logement pour une durée qui n’excède pas 90 jours
        li payer la location sur le site avec une carte bancaire à son nom
        li présenter tous les documents au propriétaire, au début de la location (contrat + carte bancaire, tous les 2 au même nom)

      h3.b
        | CONDITIONS PORTANT SUR LE PROPRIETAIRE DU LOGEMENT LOUÉ
      Pour être couvert par l’assurance e-loue / Europe Assistance, le propriétaire du logement loué doit être un particulier.

      h3.b
        | GARANTIES ACCORDÉES PAR L’ASSURANCE
      Pendant la durée de la location, l’assurance E-loue / Europ Assistance inclut les types de garanties et montants de garantie suivants :
      ul.dash-item
        li Responsabilité civile / Dommages corporels : illimité (franchise de 500 €)
        li Annulation du séjour : acompte + solde (dans la limite de 15 000 €)
          br
          em
            | Uniquement si l’annulation fait suite à une maladie, un accident, un décès, des dommages matériels au domicile ou 
            | locaux professionnels, un licenciement économique de l’assuré ou de son conjoint, annulation de l’accompagnant du 
            | bénéficiaire

        li Interruption de séjour : Loyer non couru (dans la limite de 15 000 €)

        li Interruption de séjour : Remboursement des frais de transports terrestres non utilisés (frais réels)
          br
          em Uniquement si l’interruption fait suite à un rapatriement médical ou à un retour anticipé
        li 
          | Responsabilité civile villégiature / Dommages corporels et matériels suite à incendie, explosion, dégâts des eaux : 
          | 1 525 000 € (franchise de 75 €)

        li 
          | Responsabilité civile villégiature / Dommages aux biens mobiliers et immobiliers appartenant au propriétaire du bien 
          | loué : 2 500 € (franchise de 75 €)
        li Location frauduleuse : Frais hôteliers à hauteur de 75€ / personne, dans la limite d’une nuit.

        li 
          | Refus d'occupation par le locataire suite à une non-conformité du bien loué : Frais hôteliers à hauteur de 75€ / 
          | personne, dans la limite d’une nuit.

      h3.b
        | QUE FAIRE POUR DÉCLARER UN INCIDENT ?
      h4
        | > En cas de casse : 
      | Le locataire doit :
      ul.dash-item
        li prévenir immédiatement le propriétaire du logement loué,  en lui expliquant le problème qu’il rencontre 
        li
          | déclarer le sinistre auprès d’E-loue sur le site, par mail (
          a(href="mailto:contact@e-loue.com").link-success contact@e-loue.com
          |) ou par téléphone (01.85.08.99.77) 
        li compléter et signer l'état des lieux de sortie en précisant les dommages constatés
        li
          | déclarer le sinistre auprès de l’assureur, dans les 5 jours, par courrier (ADAR PLUS C/O Cabinet ALBINET - 5, cité de 
          | Trévise 75009 Paris), en joignant les documents nécessaires (voir ci-dessous)
      br
      | Le propriétaire du bien loué doit : 
      ul.dash-item
        li signer l’état des lieux de sortie en précisant les dommages constatés
        li 
          | déclarer le sinistre auprès d’E-loue sur le site, par mail (
          a(href="mailto:contact@e-loue.com").link-success contact@e-loue.com
          |) ou par téléphone (01.85.08.99.77) 
        li 
          |faire établir un devis de réparation ou une facture de rachat du bien détérioré (si le bien n’est pas réparable), et le 
          |transmettre au locataire dans les 48h
        li
          |dans le cas d’un dégât des eaux, un incendie, une explosion : faire établir un constat amiable et le transmettre au |locataire dans les 48h
      br
      h4
        | > En cas de vol :
      | En cas de cambriolage constaté par le locataire durant la période de location, le locataire doit prévenir immédiatement le 
      | propriétaire qui se chargera de prendre contact avec son assureur. 
      br
      h4
        | > En cas de panne :
      | En cas de panne constatée par le locataire durant la période de location (chauffage, eaux, équipements), le locataire doit 
      | contacter immédiatement le propriétaire qui s'engage à mettre tout en œuvre pour assurer les réparations.

      h3.b
        | QUE FAIRE POUR ÊTRE INDEMNISÉ ?
      | Une fois l’incident déclaré auprès d’E-loue et de l’assurance, le propriétaire pourra alors être indemnisé : 
      ul.dash-item
        li
          | E-loue utilisera la caution en ligne laissée par le locataire (au moment de la réservation) pour prélever le montant 
          | correspondant à la franchise (plafonné au montant de la caution ou à 990€)
        li cette somme sera versée au propriétaire par E-loue

      | Le locataire devra ensuite envoyer un courrier à l’assureur (ADAR PLUS C/O Cabinet ALBINET - 5 Cité de Trévise - 75009 
      | Paris), dans un délai de 5 jours ouvrés suivant le constat de du dommage, avec les documents suivants :
      ul.dash-item
        li
          | informations générales : nom de l’agence de location : « E-loue », numéro de référence de location, dates de début et 
          | de fin de séjour
        li
        | la déclaration sur l’honneur décrivant très précisément la date, le lieu et les circonstances du dommage en précisant 
        | s’il y a eu l’intervention des pompiers et des blessés dans le cas de dégât des eaux, incendie et explosion
        li la copie du contrat de location liant le propriétaire et le locataire
        li l’état des lieux d’entrée et de sortie
        li 
          | dans le cas d’un bien détérioré : le devis de réparation du bien (à demander au propriétaire) ou (si le bien n’est pas 
          | réparable) une attestation d’irréparabilité établie par un SAV compétent et une facture de rachat du bien détérioré.
        li
          | dans le cas de dégât des eaux, un incendie ou une explosion : le constat amiable dûment, ainsi qu’un devis de 
          | réparation, s’il a été établi 

      | Une fois ces documents préparés et avant l’envoi aux assureurs, nous vous recommandons de contacter les services E-loue 
      | afin de vérifier que ce dossier est complet. 

      h3.b
        | CONTRAT D’ASSURANCE 
      | Un contrat d’assurance est associé pour chaque transaction effectuée sur le site www.e-loue.com.  Le contrat d’assurance 
      | est établi entre le locataire et notre partenaire Europ Assistance.

      h3.b
        | GARANTIES SUPPLEMENTAIRES POUR LA LOCATION SAISONNIERE
      br
      h4
        | > En cas d’annulation du séjour 
      | QUE FAIRE ?
      br
      | Le locataire doit impérativement procéder à l'annulation de son séjour via le site E-loue par mail (
      a(href="mailto:contact@e-loue.com").link-success contact@e-loue.com
      |) ou par téléphone (01.85.08.99.77). (voir politique annulation).
      br
      | En fonction de la politique annulation définie par le propriétaire et validée par le locataire, les services E-loue 
      | procéderont au paiement du solde de la transaction.
      | Le locataire doit ensuite procéder à une déclaration de sinistre directement auprès des services assurance dans un délai 
      | maximum de 5 jours ouvrés.
      br
      | LES DOCUMENTS A ENVOYER (ADAR PLUS C/O Cabinet ALBINET- 5, cité de Trévise 75009 Paris)
      | Informations générales : nom de l'agence de location : "E-loue", numéro de référence location, dates de début et de fin de 
      | séjour
      br
      | En cas de maladie ou d'accident : - Certificat médical et/ou bulletin d'hospitalisation sous pli fermé précisant l'origine, 
      | la nature, la gravité et les conséquences prévisibles de la maladie ou de l'accident - Copie de l'arrêt de travail - 
      | Photocopies des ordonnances comportant les vignettes des médicaments prescrits, analyses et examens pratiqués.
      br
      | En cas de licenciement économique : 
      ul
        li Copie de la lettre de licenciement 
        li Copie du contrat de travail
      | En cas de grossesse ou complication de grossesse : 
      ul
        li Certificat attestant de la date de début de grossesse 
        li Certificat médical ou bulletin d'hospitalisation 
        li Copie de la feuille d'examen prénatal 
        li Copie de l'arrêt de travail
      | En cas de décès :
      ul
        li Certificat de décès 
        li Fiche d'état civil
      | Tous les autres cas : 
      ul
        li Tout justificatif
      br
      h4
        | > En cas d’interruption de séjour
      | QUE FAIRE ?
      br
      | Le locataire doit impérativement prévenir le propriétaire afin de convenir des modalités de fin de séjour (état des lieux, 
      | dépôt de garantie, remise des clés,…).
      br
      | Le locataire doit ensuite prendre directement contacter avec le service assistance (numéro +33 (0)1 41 85 80 02 et fax +33 
      | (0)1 41 85 85 71) afin : 
      ul.dash-item
        li D'obtenir l'accord préalable avant de prendre toute initiative ou d'engager des dépenses 
        li Se conformer aux solutions que préconise l'assureur - Fournir tous les éléments relatifs au contrat 
        li Fournir tous les justificatifs originaux des dépenses dont le remboursement est demandé.
      br
      | A l'issue du rapatriement, le locataire doit procéder à la déclaration de sinistre directement auprès de l'assureur afin 
      | de demander le remboursement des prestations non utilisées du fait de l'interruption de séjour.
      br
      | LES DOCUMENTS A ENVOYER A L’ASSUREUR (ADAR PLUS C/O Cabinet ALBINET- 5, cité de Trévise 75009 Paris)
      br
      | Informations générales : nom de l'agence de location : "E-loue", numéro de référence location, dates de début et de fin de 
      | séjour.
      | Les documents demandés sont identiques à ceux demandés dans le cas de l'annulation de séjour. En tout état de cause, la 
      | prise de contact préalable avec l'assureur étant nécessaire, il sera à ce moment-là préciser toutes les pièces souhaitées 
      | en fonction de la raison de l'interruption.
      br
      h4
        | > En cas de non-conformité du bien
      | QUE FAIRE ?
      br
      | Le locataire doit impérativement aviser directement le propriétaire, les services E-loue, par mail (
      a(href="mailto:contact@e-loue.com").link-success contact@e-loue.com
      |) et par téléphone (01.85.08.99.77) et l'assureur verbalement et par écrit, par lettre recommandée avec accusé de 
      | réception, dans les 72 heures de son arrivée et de son refus de prendre possession des locaux loués et des raisons qui le 
      | motivent.
      | Par la suite, le locataire doit envoyer directement à l'assureur une déclaration de sinistre avec les documents suivants.
      br
      | LES DOCUMENTS A ENVOYER A L’ASSUREUR (ADAR PLUS C/O Cabinet ALBINET- 5, cité de Trévisse 75009 Paris)
      ul.dash-item
        li
          | Informations générales : nom de l'agence de location : "E-loue", numéro de référence location, dates de début et de 
          | fin de séjour.
        li 
          | L'original de la facture initiale acquittée, délivrée lors de la réservation de la location et faisant ressortir les 
          | dates de la location.
        li La copie de l'annonce parue sur le site E-loue et des photographies
        li 
          | Le compte-rendu d'état des lieux, photographies, témoignages et tout autre document permettant à l'assureur de 
          | supposer qu'il s'agit bien d'une non-conformité substantielle.
        li Les coordonnées courriel ou postale du propriétaire
      h4
        | > En cas de fraude
      | QUE FAIRE ?
      br
      | Le locataire doit impérativement aviser directement le propriétaire, les services E-loue (par mail à 
      a(href="mailto:contact@e-loue.com").link-success contact@e-loue.com 
      | ou par téléphone au 01.85.08.99.77) et l'assureur verbalement et par écrit dans les 72 heures de la découverte de la 
      | fraude ou de toute suspicion de fraude et prendre toutes mesures nécessaires pour interrompre les effets de l'infraction 
      | et limiter l'importance du sinistre.
      br
      | Le locataire doit impérativement déposer plainte au pénal auprès des autorités compétentes. A défaut de dépôt de plainte, 
      | il doit exécuter sans délai les formalités administratives et/ou judiciaires qui s'imposent auprès de celles-ci.
      br
      | Par la suite, le locataire doit envoyer directement à l'assureur une déclaration de sinistre avec les documents suivants.
      br
      br  
      | LES DOCUMENTS A ENVOYER A L’ASSUREUR (ADAR PLUS C/O Cabinet ALBINET- 5, cité de Trévise 75009 Paris)
      li
        | Le récépissé de plainte ou de tout autre acte analogue dans les meilleurs délais, et au plus tard dans les huit jours de 
        | son dépôt.
      li La copie de l'accord de location signé par le propriétaire.
      li Tout document prouvant les règlements effectués pour la réservation et leurs encaissements.
      li Les coordonnées courriel ou postale du propriétaire
      br
      h4
        | COORDONNEES DE L’ASSUREUR
      | ADAR PLUS C/O Cabinet ALBINET 5, cité de Trévisse 
      | 75009 Paris 
      br
      | mail : 
      a(href="mailto:claim@cabinetalbinet.fr ").link-success claim@cabinetalbinet.fr 
      br
      | Fax : 01 48 01 84 83

      h4
        | ASSISTANCE RAPATRIEMENT
      | Afin de compléter son offre de services, E-loue propose en complément du service assurance, un service d’assistance 
      | rapatriement dans le cadre de la location saisonnière. Le numéro du service d’assistance est le + 33 (0)1 41 85 80 02.
      
      h4
        | NOTICE D'INFORMATION
      | L’ensemble des garanties d’assurance sont régies par une Notice d’information (téléchargeable à cette 
      a(href="http://eloue.s3.amazonaws.com/media/assurances/europ_assistance.pdf" style="color:orange").link-success adresse
      |) et un Certificat de garantie (reçu avec votre contrat de location). 
      | Il est demandé aux utilisateurs d’en prendre connaissance et de s’assurer de les avoir bien comprises. 
