{% load i18n %}
-load staticfiles

style
  #content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    padding-bottom: 6%;
  }

  #tabs li{
    width: 25%;
  }


  #tabs li a{
    padding-top: 4%;
    border-top: 5px solid transparent;
    height: 110px;
    background-color: #eee;
    //- font-size: 22px;
  }

  #tabs li a:hover, #tabs li.active a, #tabs li.active a:hover{
    text-decoration: none;
    border-top: 5px solid #4976AB;
    background-color: white;
  }

  .tab-pane p a{
    text-decoration: none;
    color: #4976AB;
  }

  .tab-pane{
    margin: 40px 0 0;
  }

  #tabs li a img{
    height: 35px;
    margin-left: 40%;
  }

  #tabs li a:hover, #tabs li.active a, #tabs li.active a:hover{
    color: #4976AB;
  }

  #objet:hover img, #tabs li.active #objet img{
    content:url("{% static 'images/objet-bleu.png' %}");
  }

  #voiture:hover img, #tabs li.active #voiture img{
    content:url("{% static 'images/voiture-bleu.png' %}");
  }

  #logement:hover img, #tabs li.active #logement img{
    content:url("{% static 'images/logement-bleu.png' %}");
  }

.container(style="color: #666; text-align: justify;")
  ul.nav.nav-tabs(data-tabs="tabs")#tabs
    li.active
      a(href="#object", data-toggle="tab")#objet
        h4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assurance objet&nbsp;&nbsp;&nbsp;
        img(src="#{STATIC_URL}images/objet.png")
    li
      a(href="#seasonnal", data-toggle="tab")#logement
        h4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assurance logement&nbsp;&nbsp;&nbsp;
        img(src="#{STATIC_URL}images/logement.png")
    li
      a(href="#car", data-toggle="tab")#voiture
        h4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assurance véhicule&nbsp;&nbsp;&nbsp;
        img(src="#{STATIC_URL}images/voiture.png")
  //- div(style="height: 10px; border-top: 2px solid #ddd;")
  
  #content
    .container(style="width:90%;"): .tab-content
      .tab-pane.active#object
        h2 SYNTHÈSE 
        ul
          li.indent-v-sm En effectuant votre location sur e-loue, la caution prélevée en cas de dommages matériels accidentels causés à l’objet loué pendant la durée de la location est automatiquement assurée pour tous les dommages matériels accidentels causés au bien pendant la durée de location, sans coût supplémentaire.
          li.indent-v-sm L’assurance ne couvre pas la caution prélevée en cas de vol
          li.indent-v-sm Le montant de remboursement maximum est de 750 € (incluant une franchise de 15% portée à 30% pour les aéronefs drones et leurs accessoires embarqués).
          li.indent-v-sm Pour déclarer un sinistre, la procédure est simple et rapide.
        br
        h3 CONDITIONS PORTANT SUR LE BIEN LOUÉ
        p Pour être couvert par l’assurance e-loue / Allianz, le bien loué doit : 
        ul
          li être au nom d’un particulier
        p  L’assurance couvre uniquement les cautions prélevées suite à des transactions effectuées et finalisées sur le site, aux dates enregistrées. En cas de modification de date ou d’allongement de durée, il est indispensable de refaire une demande de réservation sur le site afin d’être couvert par l’assurance.
        br
        p L’assurance ne couvre pas  les catégories d’objets suivantes :
        ul
          li véhicules terrestres à moteur relevant d’une assurance obligatoire (auto, moto, scooter, camping-car, voiturette, tondeuse autoportée…)
          li biens immobiliers et locations saisonnières
          li matériels de levage, manutention, construction et terrassement
          li armes
          li téléphones portables les smartphones, les tablettes numériques, les liseuses
        br
        h3  CONDITIONS PORTANT SUR LE LOCATAIRE
        p Pour être couvert par l’assurance e-loue / Allianz, le locataire doit :
        ul
          li être un particulier 
          li s'engager à utiliser le bien en France métropolitaine uniquement
          li louer le bien pour une durée qui n’excède pas 90 jours
          li payer la location sur le site avec une carte bancaire à son nom
          li présenter tous les documents au propriétaire, au début de la location (contrat + carte bancaire, tous les 2 au même nom)
          li établir un état du bien à sa prise de possession et lors de son retour 

        br
        h3 CONDITIONS PORTANT SUR LE PROPRIETAIRE DU BIEN LOUÉ

        p Le propriétaire du bien loué doit : 
        ul
          li être un particulier
          li résider en France métropolitaine
        br
        h3 GARANTIES ACCORDÉES PAR L’ASSURANCE
        p Pendant la durée de la location, l’assurance e-loue / Allianz inclut la garantie suivante, prise en charge de caution versée au propriétaire du bien loué en cas :
        ul
          li dommages matériels accidentels causés au bien 
          li destruction du bien
          li détérioration totale ou partielle extérieurement visible du bien
        p Ces dommages doivent provenir d’un événement extérieur et soudain et doivent rendre le bien garanti impropre à toute utilisation. L’assurance ne couvre pas le vol.
         p Le montant de l’indemnisation : 
        ul 
          li correspondra au montant de la caution prélevée par e-loue
          li sera minoré d’une franchise de 15% sauf pour les drones et aéronef et leurs accessoires la franchise sera de 30 %
          li ne pourra pas dépasser 750€ avant déduction de la franchise

        br
        h3 QUE FAIRE POUR DÉCLARER UN INCIDENT ?
        p En cas de dommages matériels accidentels au bien loué, le locataire doit : 
        ul
          li prévenir le propriétaire de l’objet loué,  en lui expliquant le problème qu’il rencontre 
          li déclarer le sinistre auprès d’e-loue sur le site, par mail (contact@e-loue.com) ou par téléphone (01.85.08.99.77) 
          li restituer l’objet loué au propriétaire
          li compléter et signer l'état des lieux de sortie en précisant les dommages constaté saprès prélèvement de sa caution déclarer le sinistre auprès de l’assureur  par mail (richard.behague@agents.allianz.fr) ou par courrier (Agent Richard Béhague – Allianz – 45 Rue du Mont Valérien – 92210 Saint Cloud) et se conformer aux instructions figurant dans la notice d’assurance consultable sur le site e-loue

        br
        p  En cas de dommages matériels accidentels au bien loué, le propriétaire doit : 
          ul
            li récupérer le bien loué 
            li signer l’état des lieux de sortie en précisant les dommages constatés
            li déclarer le sinistre auprès d’e-loue sur le site, par mail (contact@e-loue.com) ou par téléphone (01.85.08.99.77) 
            li Transmettre à e-loue la facture de réparation ou (si le bien n’est pas réparable) une attestation d’irréparabilité à transmettre à e-loue dans les 48 heures à compter du dommage
        br

        h3 QUE FAIRE POUR ÊTRE INDEMNISÉ ?
        p Une fois l’incident déclaré auprès d’e-loue et de l’assurance et le dossier constitué de l’ensemble des pièces, le propriétaire pourra alors être indemnisé : 
        ul 
          li e-loue utilisera la caution en ligne laissée par le locataire (au moment de la réservation) pour prélever le montant correspondant à la franchise (plafonné au montant de la caution fixé au maximum à 750€)
          li cette somme sera versée au propriétaire par e-loue
        br
        p  E-loue communiquera par mail (richard.behague@agents.allianz.fr) ou par courrier (Agent Richard Béhague – Allianz – 45 Rue du Mont Valérien – 92210 Saint Cloud),l’ensemble des pièces ci-dessous :
        ul 
          li Le contrat de location
          li L’état contradictoire du bien loué signé du locataire et du propriétaire lors de la remise au locataire et lors de sa récupération par le propriétaire
          li La déclaration des dommages constatés accompagnée d’une photo de ce dommage
          li Si le bien a fait l’objet d’une réparation la facture de la réparation
          li Si le bien est irréparable la facture d’achat initiale du bien loué
          li Le justificatif du versement de l’indemnité versée au propriétaire
        br
        p  Pour pouvoir obtenir le remboursement selon les modalités du contrat d’assurance, le locataire devra ensuite envoyer un courrier à l’assureur par mail (richard.behague@agents.allianz.fr) ou par courrier (Agent Richard Béhague – Allianz – 45 Rue du Mont Valérien – 92210 Saint Cloud), dans un délai de 5 jours ouvrés suivant  le prélèvement du montant de la caution, avec les documents suivants :
        ul 
          li déclaration sur l’honneur décrivant très précisément la date, le lieu et les circonstances du dommage
          li le justificatif du prélèvement de sa caution
          li copie du contrat de location liant le propriétaire et le locataire
        br
        p Sous réserve de l’éligibilité du dossier, la prise en charge consistera à indemniser le locataire : 
          ul
            li en cas de réparation du bien : du montant de la caution prélevée par E-loue et versée au propriétaire en règlement de la facture de réparation et après déduction de la franchise
            li en cas de non réparation du bien : du montant de la caution prélevée par E-loue et versée au propriétaire sans excéder le plafond de la garantie, après  déduction de la franchise     
        
        br
        h3 CONTRAT D’ASSURANCE 
        p 
          | L’ensemble des garanties d’assurance est régi par une Notice d’information (téléchargeable à 
          a(href="http://eloue.s3.amazonaws.com/media/assurances/Allianz.pdf", target="_blank", style="color:#24bd77;") cette adresse). 
          | Il est demandé aux utilisateurs d’en prendre connaissance.

        br
        h3 CABINET D'ASSURANCE
        div(style="padding-top: 50px; font-height: 28px;")
            p(style="text-align: center") 
                | Cabinet d’assurances Richard BEHAGUE<br>
                |Spécialiste des risques d’Entreprises<br>
                | 92210 SAINT-CLOUD<br>
                |+(33)155390960<br>
                | <a href="mailto:richard.behague@agents.allianz.fr" style="color:#428bca">richard.behague@agents.allianz.fr</a> - <a href="http://www.allianz.fr/behague" style="color:#428bca">www.allianz.fr/behague</a><br>
                | ORIAS 09052400 - Siret 498819473 – RCS Nanterre<br>
        br
        br


      div.tab-pane#seasonnal
        h2 SYNTHÈSE
        ul
          li.indent-v-sm En effectuant votre location sur e-loue, le logement loué est automatiquement assuré, sans coût supplémentaire.
          li.indent-v-sm Pour déclarer un sinistre, la procédure est simple et rapide.

        br
        h3 CONDITIONS PORTANT SUR LE LOGEMENT LOUÉ 
        p Pour être couvert par l’assurance-assistance E-loue / Allianz IARD, le logement loué doit :
        ul
          li.indent-v-sm être au nom d’un particulier
          li.indent-v-sm
            | être loué par le propriétaire ou copropriétaire du logement, ou par le locataire expressément autorisé, via son bail, à pratiquer de la sous-location
          li.indent-v-sm
            | se situer dans un pays qui n’est pas en guerre civile, qui n’est pas en situation d'instabilité politique notoire, qui ne subit pas de représailles, de restrictions à  la libre circulation des personnes et des biens, d’actes de terrorisme, ou de catastrophes naturelles ou désintégration du noyau atomique.

        b 
          | L’assurance-assistance couvre uniquement les transactions effectuées et finalisées sur le site, aux dates enregistrées. En cas de modification de date ou d’allongement de durée, il est indispensable de refaire une demande de réservation sur le site afin d’être couvert par l’assurance-assistance.

        br
        br
        h3
          | CONDITIONS PORTANT SUR LE LOCATAIRE
        p Pour être couvert par l’assurance-assistance E-loue / Allianz IARD, le locataire doit :
        ul
          li.indent-v-sm être un particulier
          li.indent-v-sm louer le logement pour une durée qui n’excède pas 90 jours
          li.indent-v-sm payer la location sur le site avec une carte bancaire à son nom
          li.indent-v-sm présenter tous les documents au propriétaire, au début de la location (contrat + carte bancaire, tous les 2 au même nom)
          li.indent-v-sm établier un état des lieux d’entrée et de sortie du logement loué.

        br
        h3 CONDITIONS PORTANT SUR LE PROPRIETAIRE DU LOGEMENT LOUÉ
        p Pour être couvert par l’assurance-assistance e-loue / Allianz IARD, le propriétaire du logement loué doit être un particulier. La garantie pour le propriétaire porte exclusivement sur le solde dû en cas d’ annulation (consulter la Notice d’assurance).


        br
        h3
          | GARANTIES ACCORDÉES PAR L’ASSURANCE-ASSISTANCE

        p Pendant la durée de la location, l’assurance assistance E-loue / Allianz IARD inclut les types de garanties et montants de garantie suivants :

        table.table
            thead
              tr
                th Type de garantie
                th Montant de la garantie
                th Franchise
            tbody
              tr
                th Responsabilité civile villégiature / Dommages aux biens mobiliers et immobiliers appartenant au propriétaire du bien loué
                th 2 500 &euro;
                th 75 &euro;
              tr
                th Location frauduleuse
                th Frais hôteliers à hauteur de 80 € / personne, dans la limite d’une nuit
                th néant
              tr
                th Refus d'occupation par le locataire suite à une non-conformité du bien loué
                th Frais hôteliers à hauteur de 80 € / personne, dans la limite d’une nuit
                th néant
              tr
                th Assistance rapatriement
                th Frais réels
                th 
              tr
                th Autres prestations d’assistance
                th Consulter la notice d’assurance, 
                  a(href="http://eloue.s3.amazonaws.com/assurance/COM19561_V0116_v2.pdf", target="_blank", style="color:orange") cliquez ici pour la télécharger
                th


        br
        br
        h3
          | QUE FAIRE POUR DÉCLARER UN INCIDENT ?
        br
        p Vous devez nous aviser dans les 5 jours ouvrés suivant un événement pouvant entraîner notre garantie.
        p 
          u Pour toute demande d'assistance
          |,
          | vous devez nous contacter, 24 heures sur 24 – 7 jours sur 7 et obtenir notre accord préalable avant d’engager toute dépense, y compris les frais médicaux.
        br
        br
        table.table
          tr
            th(colspan=3) Garantie Annulation événements garantis : vous devez annuler votre location
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 1. Procédez à l’annulation de votre séjour via E-loue
            td(style="width: 33%; vertical-align: middle; text-align: center;") contact@e-loue.com ou 01 85 08 99 77
            td(style="width: 33%; vertical-align: middle; text-align: center;") En fonction du barème d’annulation fixé par le propriétaire et validé par le locataire, E-loue procède au paiement du solde de la transaction.
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 2. Déclarez votre sinistre à l’Assureur
            td(style="width: 33%; vertical-align: middle; text-align: center;") Agence Allianz Richard Behague, 45, rue du Mont Valérien, 92210 Saint Cloud - 01 55 39 09 60 - richard.behague@agents.allianz.fr
            td(style="width: 33%; vertical-align: middle; text-align: center;") Vous devez déclarer votre sinistre à l’Assureur en adressant l’ensemble des justificatifs détaillés à l’article « Quelles sont les obligations en cas de sinistre ? » de la garantie Annulation événements garantis.
          tr
            th(colspan=3) Garantie Frais d’interruption de séjour : vous devez interrompre votre location
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 1. Prévenez le propriétaire 
            td(style="width: 33%; vertical-align: middle; text-align: center;") Par téléphone indiqué sur le contrat de location
            td(style="width: 33%; vertical-align: middle; text-align: center;") Convenez avec le propriétaire des modalités de fin de séjour.
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 2. Déclarez votre sinistre à l’Assisteur
            td(style="width: 33%; vertical-align: middle; text-align: center;") 01 40 25 15 66 
              br Numéro de police assistance 540210
            td(style="width: 33%; vertical-align: middle; text-align: center;") Vous devez contacter l’Assisteur avant de prendre toute initiative out d’engager des dépenses.
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 3. Déclarez votre sinistre à l’Assureur
            td(style="width: 33%; vertical-align: middle; text-align: center;") Agence Allianz Richard Behague, 45, rue du Mont Valérien, 92210 Saint Cloud - 01 55 39 09 60 - richard.behague@agents.allianz.fr
            td(style="width: 33%; vertical-align: middle; text-align: center;") A l’issue du rapatriement, vous devez procéder à la déclaration du sinistre adressant l’ensemble des justificatifs détaillés à l’article « Quelles sont les obligations en cas de sinistre ? » de la garantie Frais d’interruption de séjour
          tr
            th(colspan=3) Garantie Responsabilité civile villégiature
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 1. Prévenez le propriétaire 
            td(style="width: 33%; vertical-align: middle; text-align: center;") Par téléphone indiqué sur le contrat de location
            td(style="width: 33%; vertical-align: middle; text-align: center;") Tout événement de dommages corporels, matériels, dégâts des eaux, incendie, explosion casse, vol ou panne survenant durant votre location assurée
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 2. Déclarez le sinistre casse à E-Loue
            td(style="width: 33%; vertical-align: middle; text-align: center;") contact@e-loue.com ou 01 85 08 99 77
            td(style="width: 33%; vertical-align: middle; text-align: center;") Tout événement de casse survenant durant votre location assurée
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 3. Déclarez le sinistre à l’Assureur
            td(style="width: 33%; vertical-align: middle; text-align: center;") Agence Allianz Richard Behague, 45, rue du Mont Valérien, 92210 Saint Cloud - 01 55 39 09 60 - richard.behague@agents.allianz.fr
            td(style="width: 33%; vertical-align: middle; text-align: center;") Tout événement de dommages corporels, matériels, dégâts des eaux, incendie, explosion casse, vol ou panne survenant durant votre location assurée. La procédure est décrite à l’article « Quelles sont les obligations en cas de sinistre ? » de la garantie Responsabilité civile villégiature
          tr
            th(colspan=3) Garantie Assistance rapatriement
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 1. Contactez l’Assisteur 7/7 et 24/24 
            td(style="width: 33%; vertical-align: middle; text-align: center;") 01 40 25 15 66
              br Numéro de police assistance 540210
            td(style="width: 33%; vertical-align: middle; text-align: center;") En aucun cas nous ne nous substituons aux organismes locaux de secours d’urgence. Nous mettons en œuvre les services décrits au chapitre Assistance rapatriement
          tr
            th(colspan=3) Garantie Non-conformité du bien loué
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 1. Prévenez le propriétaire 
            td(style="width: 33%; vertical-align: middle; text-align: center;") Par téléphone indiqué sur le contrat de location
            td(style="width: 33%; vertical-align: middle; text-align: center;") Dès lors que la location n’est pas conforme à la description ou si la transaction a été réalisée de manière frauduleuse
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 2. Déclarez le sinistre à E-Loue
            td(style="width: 33%; vertical-align: middle; text-align: center;") contact@e-loue.com ou 01 85 08 99 77
            td(style="width: 33%; vertical-align: middle; text-align: center;") Dès lors que la location n’est pas conforme à la description ou si la transaction a été réalisée de manière frauduleuse
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 3. Déclarez le sinistre à l’Assureur
            td(style="width: 33%; vertical-align: middle; text-align: center;") Agence Allianz Richard Behague, 45, rue du Mont Valérien, 92210 Saint Cloud - 01 55 39 09 60 - richard.behague@agents.allianz.fr
            td(style="width: 33%; vertical-align: middle; text-align: center;") Dès lors que la location n’est pas conforme à la description ou si la transaction a été réalisée de manière frauduleuse. La procédure est décrite à l’article « Quelles sont les obligations en cas de sinistre ? » de la garantie Non-conformité du bien loué.
          tr
            th(colspan=3) Garantie  des pertes pécuniaires résultant d’actes malhonnêtes ou frauduleux
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 1. Prévenez le propriétaire 
            td(style="width: 33%; vertical-align: middle; text-align: center;") Par téléphone indiqué sur le contrat de location
            td(style="width: 33%; vertical-align: middle; text-align: center;") Dès la découverte de la fraude ou de la suspicion de fraude.
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 2. Déclarez le sinistre à E-Loue
            td(style="width: 33%; vertical-align: middle; text-align: center;") contact@e-loue.com ou 01 85 08 99 77
            td(style="width: 33%; vertical-align: middle; text-align: center;") Dès la découverte de la fraude ou de la suspicion de fraude.
          tr
            td(style="width: 34%; vertical-align: middle; text-align: center;") 3. Déclarez le sinistre à l’Assureur
            td(style="width: 33%; vertical-align: middle; text-align: center;") Agence Allianz Richard Behague, 45, rue du Mont Valérien, 92210 Saint Cloud - 01 55 39 09 60 - richard.behague@agents.allianz.fr
            td(style="width: 33%; vertical-align: middle; text-align: center;") Dès la découverte de la fraude ou de la suspicion de fraude. La procédure est décrite à l’article « Quelles sont les obligations en cas de sinistre ? » de la garantie des Pertes pécuniaires résultant d’actes malhonnêtes ou frauduleux.


        br
        h4
          | NOTICE D'INFORMATION
        p
          | L’ensemble des garanties d’assurance sont régies par une Notice d’information (téléchargeable à cette 
          a(href="http://eloue.s3.amazonaws.com/assurance/COM19561_V0116_v2.pdf" style="color:orange").link-success adresse
          |) et un Certificat de garantie (reçu avec votre contrat de location). 
          | Il est demandé aux utilisateurs d’en prendre connaissance et de s’assurer de les avoir bien comprises.
          | Les garanties d’assurance et d’assistance sont portées par Allianz IARD  Entreprise régie par le Code des assurances. Société Anonyme au capital de 991 967 200 € – siège social : 1 cours Michelet - CS 30051 - 92076 PARIS LA DEFENSE CEDEX. 542 110 291 RCS Nanterre

        br
        h3 CABINET D'ASSURANCE
        div(style="padding-top: 50px; font-height: 28px;")
            p(style="text-align: center") 
                | Cabinet d’assurances Richard BEHAGUE<br>
                |Spécialiste des risques d’Entreprises<br>
                | 92210 SAINT-CLOUD<br>
                |+(33)155390960<br>
                | <a href="mailto:richard.behague@agents.allianz.fr" style="color:#428bca">richard.behague@agents.allianz.fr</a> - <a href="http://www.allianz.fr/behague" style="color:#428bca">www.allianz.fr/behague</a><br>
                | ORIAS 09052400 - Siret 498819473 – RCS Nanterre<br>





      .tab-pane#car
        h2 SYNTHÈSE
        ul
            li.indent-v-sm
                | En effectuant votre location sur e-loue, le véhicule loué est automatiquement assuré «tous risques»,
                | pendant toute la durée de la location, sans coût supplémentaire.
            li.indent-v-sm L’assurance est incluse dans le montant réglé en ligne par le locataire.
            li.indent-v-sm
                |Les véhicules assurés doivent être destinés uniquement à 
                span
                    b
                      u un usage privé des locataires.
            li.indent-v-sm En cas de sinistre durant la location, le bonus du propriétaire n’est pas impacté.
            li.indent-v-sm Pour déclarer un sinistre, la procédure est simple et rapide.
          
        br
        h3 CONDITIONS PORTANT SUR LE VÉHICULE LOUÉ
        p Pour être couvert par l’assurance e-loue / Allianz, le certificat d’immatriculation du véhicule loué doit : 
        ul
            li porter la mention VP sur la carte grise (dans la case J1) ou la mention VU à condition que le véhicule ne soit pas destiné à un usage professionnel
            li être au nom d’un particulier
            li être immatriculé en France métropolitaine
        p
            | L’assurance couvre seulement les véhicules dont le poids total en charge est inférieur ou égal à 3,5 Tonnes.
            | L’assurance couvre également les remorques dont le poids total en charges est inférieur à 750 kg.

        p L’assurance ne couvre pas les véhicules suivants : 
        ul
            li les véhicules de plus de 9 places destinés au transport de personnes à titre gratuit ou non
            li les véhicules à 2 et 3 roues
            li les véhicules de sport et de luxe d’une valeur supérieure à 50 000 euros
            li les véhicules ne bénéficiant pas d'un contrat d'assurance annuel
            li les véhicules utilitaires dont le poids total en charge est supérieur à 2,3 Tonnes
            
        p Sont exclues toutes utilisations en tant que :
        ul
            li auto-école
            li taxi
            li transport onéreux de voyageurs
            li sous-location
            li transport à titre onéreux de marchandises, y compris des usages de messagerie ou de distribution de marchandises à titre onéreux
            
        p
          | Le co-voiturage est garanti par l’assurance lorsqu’il répond à la définition suivante : 
          | utilisation conjointe et organisée d’un véhicule par un conducteur non professionnel 
          | et un ou plusieurs tiers passagers, dans le but d’effectuer un trajet commun non rémunéré, 
          | les tiers passagers pouvant toutefois participer aux frais du voyage.
          
        br
        h3 PROLONGATION DE LOCATION
        
        p L’assurance couvre uniquement les transactions effectuées et finalisées sur le site, aux dates enregistrées. 
        p En cas de modification de date ou d’allongement de durée, il est indispensable de refaire une demande de réservation sur le site afin d’être couvert par l’assurance. 

        p Un deuxième contrat de location est présumé être une prolongation du premier contrat de location si les deux conditions suivantes sont remplies :
          ul
            li les deux contrats de location sont conclus entre les mêmes parties (propriétaire et locataire)
            li la seconde location débute dès lors que la première location se termine
            
        p En cas de prolongation de contrat, les parties n’auront pas à refaire un état des lieux d’entrée de location pour la seconde location.
        
        br
        h3 CONDITIONS PORTANT SUR LE LOCATAIRE

        p Pour être couvert par l’assurance e-loue / Allianz, le conducteur doit : 
        ul
            li être âgé d’au moins
                ul
                    li 21 ans pour les véhicules d’une valeur inférieure à 18 000€
                    li 28 ans les véhicules d’une valeur comprise entre 18 000€ et 50 000€
            li être titulaire d’un permis de conduire français en cours de validité depuis :
                ul
                    li plus de 2 ans pour les véhicules d’une valeur inférieure à 18 000€
                    li plus de 5 ans pour les véhicules d’une valeur comprise entre 18 000 et 50 000€
            li s'engager à circuler en France métropolitaine ou/et dans les pays dans lesquels la Carte Internationale d’Assurance Automobile (Carte Verte) est valable (dont Saint-Marin, Monaco, Andorre, Liechtenstein)
            li s’engager à ne pas faire d'usage professionnel du véhicule
            li louer un même véhicule pour une durée qui n’excède pas trois mois sur une période totale de douze mois 
            li payer la location sur le site avec une carte bancaire à son nom
            li présenter tous les documents au propriétaire, au début de la location (contrat + carte bancaire + permis de conduire, tous les 3 au même nom)

        p Le propriétaire peut également exiger une facture sur laquelle figure le même nom que sur les trois documents précités.
        p 
            span
                b Attention : 
            | Il est possible d'avoir plusieurs conducteurs. 
            | Dans ce cas, chaque conducteur devra être mentionné sur le contrat de location
            | et répondre aux conditions d'âge et de permis de conduire.
        
        
        br
        h3 CONDITIONS PORTANT SUR LE PROPRIETAIRE DU VÉHICULE LOUÉ
        h4 Pour être couvert par l’assurance e-loue / Allianz, le propriétaire du véhicule loué doit : 
        ul
            li résider en France métropolitaine
            li être le titulaire de la carte grise du véhicule
            li posséder un contrat d’assurance annuel pour le véhicule

        br
        h3 GARANTIES ACCORDÉES PAR L’ASSURANCE
        h4 Pendant la durée de la location, l’assurance e-loue / Allianz inclut les garanties suivantes :
        table.table
            thead
                tr
                  th       
                  th Limite contractuelle d’indemnité
                  th Franchise    
            tbody
                tr
                  td 
                    b Responsabilité civile      
                  td       
                  td 
                tr
                  td Dommages corporels      
                  td illimité 
                  td 
                    p 5 % de l’indemnité due, minimum
                    p 2 000€ et maximum 50 000 €
                tr
                  td Dommages matériels et immatériels consécutifs       
                  td 100 000 000 €
                  td 
                    p 5 % de l’indemnité due, minimum
                    p 2 000€ et maximum 50 000 €
                tr
                  td dont dommages matériels résultant d’une atteinte à l’environnement
                  td 1 500 000 €
                  td
                    p 5 % de l’indemnité due, minimum
                    p 2 000€ et maximum 50 000 €
                tr
                  td dont dommages aux aéronefs – responsabilité civile sur aéroports ou aérodromes 
                  td 1 500 000 €
                  td 
                    p 5 % de l’indemnité due, minimum
                    p 2 000€ et maximum 50 000 €
                tr
                  td Faute intentionnelle, faute inexcusable
                  td 1 000 000 €
                  td 
                    p 5 % de l’indemnité due, minimum
                    p 2 000€ et maximum 50 000 €
                tr
                  td Dommages corporels
                  td 6 100 000 €
                  td 
                    p 5 % de l’indemnité due, minimum
                    p 2 000€ et maximum 50 000 €
                tr
                    td Dommages matériels et immatériels consécutifs
                    td 1 500 000 €
                    td 150 €
                tr
                  td
                    b Défense civile et insolvabilité
                  td Se référer aux dispositions générales
                  td Néant
                tr
                  td
                    b Défense pénale et recours
                  td Honoraires d’avocats et frais de procédure selon l’article 24 des dispositions générales
                  td Litige > 230 €
                tr
                  td
                    b Garantie corporelle du conducteur¹
                  td 250 000 €
                  td AIPP 10%  
                tr
                  td
                    b Dommages tous accidents
                  td 50 000 €
                  td
                    p 800€ pour les véhicules particuliers
                    p 3 000€ pour les véhicules utilitaires
                tr
                  td
                    b Vol, tentative de vol ou détournement
                  td 50 000 €
                  td
                    p 800€ pour les véhicules particuliers
                    p 3 000€ en cas de vol par détournement²
                    p 3 000€ pour les véhicules utilitaires
                tr
                  td
                    b Incendie, tempêtes ou forces de la nature
                  td 50 000 €
                  td 800 €
                tr
                  td
                    b Bris de glaces
                  td Valeur de remplacement
                  td 150 €
                  
                tr
                  td
                    b Catastrophes naturelles
                  td 50 000 €
                  td Franchise légale fixée par la règlementation en vigueur au jour du sinistre
                tr
                  td
                    b Dépannage, remorquage, levage, gardiennage
                  td 300 €
                  td Néant
                tr
                  td
                  td
                  td
        br
        div.text-center
          p ¹Si AIPP inférieur ou égal à 10%, aucune indemnité versée au titre du préjudice subi.
          p ²Le vol par détournement est la non-restitution du véhicule loué au propriétaire à la suite d’un abus de confiance.
        
        br
        br   
        h3 QUE FAIRE POUR DÉCLARER UN INCIDENT ?
        p En cas d’incident, veuillez contacter le service client par téléphone au 01 85 08 99 77 ou par mail à 
            a(href='mailto:contact@e-loue.com', style='color:#24bd77;') contact@e-loue.com.
        
        br
        h3 QUE FAIRE POUR ÊTRE INDEMNISÉ ?
        p
            | Pour connaitre la procédure d’indemnisation, veuillez contacter le service client
            | au 01 85 08 99 77 ou par mail à 
            a(href='mailto:contact@e-loue.com', style='color:#24bd77;') contact@e-loue.com.
          
        br
        h3 CONTRAT D’ASSURANCE 
        p
            | Un contrat d’assurance est associé pour chaque transaction effectuée sur le site www.e-loue.com. 
            | Le contrat d’assurance est établi entre le locataire et notre partenaire Allianz.
        
        br
        //- p
        //-   a(href='') Vous pouvez consulter ici les dispositions générales de l’assurance automobile.
          
        p En cas de contradiction entre les dispositions générales et les dispositions particulières (énoncées ci-dessus), ce sont les dispositions particulières qui prévalent.
        
        p /!\ Ce document n’a pas de valeur contractuelle. En cas de litige, se référer au dispositif Allianz.

        br
        h3 CABINET D'ASSURANCE
        div(style="padding-top: 50px; font-height: 28px;")
            p(style="text-align: center") 
                | Cabinet d’assurances Richard BEHAGUE<br>
                |Spécialiste des risques d’Entreprises<br>
                | 92210 SAINT-CLOUD<br>
                |+(33)155390960<br>
                | <a href="mailto:richard.behague@agents.allianz.fr" style="color:#428bca">richard.behague@agents.allianz.fr</a> - <a href="http://www.allianz.fr/behague" style="color:#428bca">www.allianz.fr/behague</a><br>
                | ORIAS 09052400 - Siret 498819473 – RCS Nanterre<br>
  br
  br
  .text-center
    a(href="#tabs", style="color: #24bd77") Retourner au haut de la page
