@media (max-width: $screen-xs-max)
  body
    font-size: 12px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
  body
    font-size: 13px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
  body
    font-size: 14px
@media (min-width: $screen-lg-min)
  body
    font-size: 15px

body
  background-color: $gray-lite
  overflow-x: hidden

h1
  text-transform: uppercase
  font-size: px(39)
  font-weight: $fw-light
  color: rgb(82,82,82)
  line-height: 1.5

a, a:hover, a:focus
  color: inherit
  outline: none

.form-control
  width: 100% !important

.form-control:focus
  +box-shadow( 0 0 6px $smoke-lite !important)
  z-index: 10 !important
  border-color: $gray-medium

.table-cell
  display: table-cell !important
  width: 1%
  vertical-align: middle
  &.main-cell
    width: 100% !important

.table-row
  display: table-row
  height: 1%
  vertical-align: middle
  &.main-row
    height: 100% !important
  
.table
  display: table
  margin: 0

.without-spaces
  text-align: justify
  margin-bottom: -1em
  line-height: 1em
  overflow: hidden
  &:after
    display: inline-block
    width: 100%
    content: ""
  > li
    display: inline-block

.divide
  position: relative
  &:after
    left: 50%
    content: ""
    bottom: -.5em
    position: absolute
    height: 1000px
    width: 1px
    background-color: $gray-lighter
  &:first-child
    display: none !important

.link-sprite
  font-size: 0
  color: transparent

.bg-success
  +make-bg($brand-success)

.bg-info
  +make-bg($brand-info)

.bg-danger
  +make-bg($brand-danger)

.bg-gray
  +make-bg($gray-strong)
.text-white
  color: white
.bd-b
  border-bottom: px(1) solid $gray-lighter

.framing
  border: px(1) solid $gray-lighter
  background-color: white
  border-width: px(1) 0

.link-success-color
  color: $brand-success
  font-weight: 700
  text-transform: uppercase
  font-size: 13px
  letter-spacing: .07em
  &:hover
    color: darken($brand-success, 10%)

.breadcrumb
  background-color: transparent
  margin: 0
  font-size: px(13)
  font-weight: $fw-semibold
  margin: 0
  padding: 0
  color: $brand-success
  > li
    color: inherit
    & + li:before
      font-family: "Flaticons Stroke"
      content: "\e5ab"
      font-size: 1.2em
      vertical-align: -10%
      cursor: pointer
    a
      padding: .8em 0
      display: inline-block
      color: inherit
      text-decoration: none
    &.active,
    &:hover
      color: $gray-strong
    &:hover ~ li
      color: lighten($gray-strong,20%)
      &:before
        color: inherit

.checkbox
  input
    margin-left: 0 !important
    opacity: 0
    cursor: pointer
    &:checked + span
      color: inherit
  label
    position: relative
    border: 1px solid $gray-medium
    color: $gray-light
    margin-right: .5em
    line-height: 1.4em
    width: 1.5em
    +border-left-radius(px(4))
    +border-right-radius(px(4))
    padding: 0
    &:hover
      background-color: $gray-lighter
    span
      color: transparent

.fog
  position: absolute
  width: 100%
  height: 100%
  background-color: white
  top: 0
  left: 0
  +opacity(.2)

.smoke
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: black
  +opacity(.5)

.rate
  font-size: px(18)
  display: inline-block
  color: $brand-gold
  cursor: default
  span
    display: inline-block
    padding-right: .25em
    &.current-rate ~ span
      color: $gray-lighter

  &.setting span
    cursor: pointer
    color: $brand-gold !important
    &:hover ~ span
      color: $gray-lighter !important

.text-success
  color: $brand-success !important
.text-blue
  color: $brand-info
.text-gray
  color: $gray-medium !important
.text-gray-strong
  color: $gray-strong

.va-m
  vertical-align: middle

.badge.price
  background-color: $brand-primary
  letter-spacing: .02em
  font-weight: $fw-bold
  $br: 1.5em
  +border-bottom-radius($br)
  +border-top-radius($br)
  padding: .6em 1em


.date-picker
  .table-cell
    padding: 0 .3em
    position: relative
  .form-control
    color: $gray-dark
    font-weight: $fw-semibold
    background-color: transparent
    border-width: 0
    box-shadow: none
    font-size: px(13, $section-fz)
  i
    position: absolute
    top: .4em
    right: 1.8em
    font-size: 1.1em
    color: $gray-medium
  span
    display: block
    min-width: 2em
    color: $gray-dark
    font-weight: $fw-semibold
  &.form-wrapper
    margin-bottom: 1em
    i
      top: .6em
      right: 1.2em
    input
      border-width: 1px
      &:focus
        box-shadow: none !important

.chosen-container
  display: block
  width: auto !important
  padding: 5px 0
  .chosen-single
    height: auto
    background: $gray-lighter
    background: linear-gradient(to bottom, white, $gray-lite 70%)
    border-width: 0 !important
    box-shadow: none
  .chosen-drop
    border-color: $gray-lighter
    border-width: px(1)
    background-color: white
  .chosen-search
    display: none
  .chosen-results li.highlighted,
  .chosen-results li.result-selected
    background: $brand-primary

.round-img
  display: inline-block
  line-height: 0
  overflow: hidden
  border-radius: 50%

.list-group
  li
    background-color: $gray-lite
    border: none
    padding: .8em .5em
    +clearfix()

@each $indent, $size in ($indent, ""), ($indent-md, "-md"), ($indent-lg, "-lg"), ($indent-sm, "-sm"), ($indent-xs, "-xs") 
  .indent#{$size}
    margin: $indent !important
  .indent-t#{$size}
    margin-top: $indent !important
  .indent-r#{$size}
    margin-right: $indent !important
  .indent-b#{$size}
    margin-bottom: $indent !important
  .indent-l#{$size}
    margin-left: $indent !important

ul.not-ordered
  padding-left: $indent-sm
  > li
    margin: $indent-sm 0
    padding-left: $indent-sm
    position: relative
    list-style-type: none
    &:before
      position: absolute
      content: "."
      left: 0
      line-height: 1
      top: 0
