.location-list
  padding: $homepage-section-pad 0
  h3
    font-size: px(26)
    font-weight: $fw-light
    color: $gray-dark
    margin: 0 0 1.5em
  .nav-justified
    overflow: hidden
  .item-city
    font-weight: $fw-bold
    color: $gray-medium
    font-size: px(13)
    margin-top: 1em
    +clearfix()
    &:first-child
      margin-top: 0