.simulator-list
  list-style-type: none

  li
    padding-bottom: $grid-gutter-width
    input
      position: absolute
      z-index: -10
    label
      display: block
      padding-top: 100%
      background-color: #ccc
      margin-bottom: 0
