/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$s-btn-play-hover-x: 0px
$s-btn-play-hover-y: 187px
$s-btn-play-hover-offset-x: 0px
$s-btn-play-hover-offset-y: -187px
$s-btn-play-hover-width: 138px
$s-btn-play-hover-height: 138px
$s-btn-play-hover-total-width: 1472px
$s-btn-play-hover-total-height: 325px
$s-btn-play-hover-image: '../../static/img/spritesheet.png'
$s-btn-play-hover: 0px 187px 0px -187px 138px 138px 1472px 325px '../../static/img/spritesheet.png'
$s-btn-play-x: 140px
$s-btn-play-y: 187px
$s-btn-play-offset-x: -140px
$s-btn-play-offset-y: -187px
$s-btn-play-width: 138px
$s-btn-play-height: 138px
$s-btn-play-total-width: 1472px
$s-btn-play-total-height: 325px
$s-btn-play-image: '../../static/img/spritesheet.png'
$s-btn-play: 140px 187px -140px -187px 138px 138px 1472px 325px '../../static/img/spritesheet.png'
$s-calendar-ok-x: 879px
$s-calendar-ok-y: 67px
$s-calendar-ok-offset-x: -879px
$s-calendar-ok-offset-y: -67px
$s-calendar-ok-width: 16px
$s-calendar-ok-height: 16px
$s-calendar-ok-total-width: 1472px
$s-calendar-ok-total-height: 325px
$s-calendar-ok-image: '../../static/img/spritesheet.png'
$s-calendar-ok: 879px 67px -879px -67px 16px 16px 1472px 325px '../../static/img/spritesheet.png'
$s-calendar-x: 843px
$s-calendar-y: 67px
$s-calendar-offset-x: -843px
$s-calendar-offset-y: -67px
$s-calendar-width: 16px
$s-calendar-height: 16px
$s-calendar-total-width: 1472px
$s-calendar-total-height: 325px
$s-calendar-image: '../../static/img/spritesheet.png'
$s-calendar: 843px 67px -843px -67px 16px 16px 1472px 325px '../../static/img/spritesheet.png'
$s-call-x: 861px
$s-call-y: 67px
$s-call-offset-x: -861px
$s-call-offset-y: -67px
$s-call-width: 16px
$s-call-height: 16px
$s-call-total-width: 1472px
$s-call-total-height: 325px
$s-call-image: '../../static/img/spritesheet.png'
$s-call: 861px 67px -861px -67px 16px 16px 1472px 325px '../../static/img/spritesheet.png'
$s-comment-x: 809px
$s-comment-y: 67px
$s-comment-offset-x: -809px
$s-comment-offset-y: -67px
$s-comment-width: 16px
$s-comment-height: 16px
$s-comment-total-width: 1472px
$s-comment-total-height: 325px
$s-comment-image: '../../static/img/spritesheet.png'
$s-comment: 809px 67px -809px -67px 16px 16px 1472px 325px '../../static/img/spritesheet.png'
$s-location-pin-x: 827px
$s-location-pin-y: 67px
$s-location-pin-offset-x: -827px
$s-location-pin-offset-y: -67px
$s-location-pin-width: 14px
$s-location-pin-height: 16px
$s-location-pin-total-width: 1472px
$s-location-pin-total-height: 325px
$s-location-pin-image: '../../static/img/spritesheet.png'
$s-location-pin: 827px 67px -827px -67px 14px 16px 1472px 325px '../../static/img/spritesheet.png'
$s-mail-x: 897px
$s-mail-y: 67px
$s-mail-offset-x: -897px
$s-mail-offset-y: -67px
$s-mail-width: 16px
$s-mail-height: 14px
$s-mail-total-width: 1472px
$s-mail-total-height: 325px
$s-mail-image: '../../static/img/spritesheet.png'
$s-mail: 897px 67px -897px -67px 16px 14px 1472px 325px '../../static/img/spritesheet.png'
$s-payment-x: 687px
$s-payment-y: 67px
$s-payment-offset-x: -687px
$s-payment-offset-y: -67px
$s-payment-width: 62px
$s-payment-height: 44px
$s-payment-total-width: 1472px
$s-payment-total-height: 325px
$s-payment-image: '../../static/img/spritesheet.png'
$s-payment: 687px 67px -687px -67px 62px 44px 1472px 325px '../../static/img/spritesheet.png'
$s-serenity-x: 751px
$s-serenity-y: 67px
$s-serenity-offset-x: -751px
$s-serenity-offset-y: -67px
$s-serenity-width: 56px
$s-serenity-height: 38px
$s-serenity-total-width: 1472px
$s-serenity-total-height: 325px
$s-serenity-image: '../../static/img/spritesheet.png'
$s-serenity: 751px 67px -751px -67px 56px 38px 1472px 325px '../../static/img/spritesheet.png'
$s-simplicity-x: 623px
$s-simplicity-y: 67px
$s-simplicity-offset-x: -623px
$s-simplicity-offset-y: -67px
$s-simplicity-width: 62px
$s-simplicity-height: 54px
$s-simplicity-total-width: 1472px
$s-simplicity-total-height: 325px
$s-simplicity-image: '../../static/img/spritesheet.png'
$s-simplicity: 623px 67px -623px -67px 62px 54px 1472px 325px '../../static/img/spritesheet.png'
$s-talk-about-us-x: 580px
$s-talk-about-us-y: 0px
$s-talk-about-us-offset-x: -580px
$s-talk-about-us-offset-y: 0px
$s-talk-about-us-width: 892px
$s-talk-about-us-height: 65px
$s-talk-about-us-total-width: 1472px
$s-talk-about-us-total-height: 325px
$s-talk-about-us-image: '../../static/img/spritesheet.png'
$s-talk-about-us: 580px 0px -580px 0px 892px 65px 1472px 325px '../../static/img/spritesheet.png'
$s-trust-x: 580px
$s-trust-y: 67px
$s-trust-offset-x: -580px
$s-trust-offset-y: -67px
$s-trust-width: 41px
$s-trust-height: 60px
$s-trust-total-width: 1472px
$s-trust-total-height: 325px
$s-trust-image: '../../static/img/spritesheet.png'
$s-trust: 580px 67px -580px -67px 41px 60px 1472px 325px '../../static/img/spritesheet.png'
$s-trusting-association-gray-x: 290px
$s-trusting-association-gray-y: 0px
$s-trusting-association-gray-offset-x: -290px
$s-trusting-association-gray-offset-y: 0px
$s-trusting-association-gray-width: 288px
$s-trusting-association-gray-height: 185px
$s-trusting-association-gray-total-width: 1472px
$s-trusting-association-gray-total-height: 325px
$s-trusting-association-gray-image: '../../static/img/spritesheet.png'
$s-trusting-association-gray: 290px 0px -290px 0px 288px 185px 1472px 325px '../../static/img/spritesheet.png'
$s-trusting-association-x: 0px
$s-trusting-association-y: 0px
$s-trusting-association-offset-x: 0px
$s-trusting-association-offset-y: 0px
$s-trusting-association-width: 288px
$s-trusting-association-height: 185px
$s-trusting-association-total-width: 1472px
$s-trusting-association-total-height: 325px
$s-trusting-association-image: '../../static/img/spritesheet.png'
$s-trusting-association: 0px 0px 0px 0px 288px 185px 1472px 325px '../../static/img/spritesheet.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
