@function px($size, $ratio: 14)
  @return (($size / $ratio) * 1em)

$font-family-base: 'Open Sans'

$brand-primary: rgb(242,126,54)
$brand-success: rgb(36,189,119)
$brand-danger: rgb(228,86,71)
$brand-info: rgb(57,89,168)
$brand-gold: rgb(255,200,83)

$gray-dark: rgb(44,44,44)
$gray-light: lighten(#000, 46.7%)
$gray-lighter: lighten(#000, 93.5%)

$gray-strong: lighten($gray-light, 15%)
$gray-medium: lighten($gray-light, 30%)
$gray-lite: lighten($gray-lighter, 5%)

$smoke-lite: rgba(black,.1)

$fog-lighter: rgba(white, .2)
$fog-light: rgba(white, .3)

//font-weight
$fw-light: 300
$fw-regular: 400
$fw-semibold: 600
$fw-bold: 700

$banner-height: px(425)
$comments-height: px(470)
$video-width: px(470)
$modal-width: px(520)

// aside section
$section-bd-rad: px(4)
$section-pad: px(20)
$section-fz: 13

$grid-gutter-width: 25px
$container-desktop: 960px + $grid-gutter-width
