.watch-video
	padding: $block-section-pad 0
	.video
		width: $video-width
		height: ($video-width * 9 / 16)
		overflow: hidden
		position: relative
		cursor: pointer
		img
			width: 100%
		span
			+sprite($s-btn-play)
			+centred-abs()
		&:hover
			span
				+sprite($s-btn-play-hover)

	.description
		padding-left: 4em
