// Core variables and mixins
@import bootstrap/variables
@import bootstrap/mixins
@import variables
@import sprites
@import mixins
@import src

@import header-site
@import nav-home
@import download-mobile-apps
@import watch-video
@import talk-about-us
@import footer-links
@import rss
@import modal
@import ../dashboard/sass/mixins
@import customs
@import atticle_header
@import spinner
@import product-details-article

article
  h3
    font-size: px(26)
    font-weight: $fw-light
    color: $gray-dark
    margin: 0 0 .5em

section
  p
    line-height: 2em
    text-align: justify
    &.little
      font-size: px(10)

.map-container
  width: 100%
  height: $product-list-aside-map-height
  background-color: $gray-lighter
  position: relative
  margin: $indent-sm 0 $indent-xs
  .whirly
    +centred-abs()
    z-index: 1
  .map
    +centred-abs()
    z-index: 2
#district,
#price
  display: none

.caption
  color: $gray-strong !important
  text-transform: uppercase
  font-size: px(10)
  font-weight: $fw-bold !important
  margin: $indent-xs 0

aside
  padding: $indent-xs 0 $indent-sm
  input[type="text"]
    color: $gray-dark
    font-weight: $fw-semibold

  .checkbox
    font-weight: $fw-semibold
    input
      width: 0
      height: 0
      overflow: hidden
      position: absolute
      top: 0
      left: -10000000px
    span
      margin-left: .2em

  .date-picker
    border: 1px solid $gray-medium
    border-radius: $bd-rad
    input
      &:hover,
      &:active,
      &:focus
        box-shadow: none !important

main
  ol
    li
      margin-bottom: $grid-gutter-width
      .thumbnail-img
        overflow: hidden
        position: relative
        width: $list-img-wrapper-width
        height: $list-img-wrapper-width/1.46
        height: 100%
        .price
          position: absolute
          top: 0
          right: 0
        a
          height: 100%
          width: 100%
          top: 0
          left: 0
          position: absolute
        img
          display: block
          width: 100%
          height: 100%
      .info
        padding: $indent-sm

      .grid-layout &
        +make-sm-column(6)
        +make-md-column(4)
        .thumbnail-img
          width: 100%
          height: px(100)
        .info
          p,
          h6
            +text-overflow()

      .list-layout &
        +make-sm-column(12)
        display: table
        .thumbnail-img,
        .info
          display: table-cell
          vertical-align: middle

