-load staticfiles

#homepage-carousel-banner.carousel.slide(data-ride="carousel")
  .carousel-inner
    .item.active(style="background-image: url({% static 'img/da/banner-1.jpg' %});")
    .item(style="background-image: url({% static 'img/da/banner-2.jpg' %});")
    .item(style="background-image: url({% static 'img/da/banner-3.jpg' %});")