-load staticfiles

.top-content
#homepage-carousel-banner.carousel.slide(data-ride="carousel")
	h1.banner-title Hos e-loue lejer vi alle, og det vinder vi ved
	.carousel-inner
		.item.active(style="background-image: url({% static 'img/ski-banner.jpg' %});")
		.item(style="background-image: url({% static 'img/banniere-hightech.jpg' %});")
		.item(style="background-image: url({% static 'img/reception-banner.jpg' %});")
		.item(style="background-image: url({% static 'img/car-banner.jpg' %});")

#    Future: Comment out some photos to test where this updates	