.container
  script(type="text/javascript")
    var google_conversion_id = 1027691277;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
  script(type="text/javascript", src="//www.googleadservices.com/pagead/conversion.js")
  noscript
    div(style="display:inline;")
      img(height="1", width="1", style="border-style:none;", alt="", src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1027691277/?value=0&amp;guid=ON&amp;script=0")
  .row
    .table-cell
    //-
      p Abonnez-vous à la newsletter e-loue pour être informé des bonnes affaires et de nos actualités. 
      a(href="#"): b Déjà 2 Millions d'inscrits !
    .table-cell.main-cell
    //-
      form(role = "").input-group
        input(type = "email", placeholder = "Saisissez votre email...").form-control
        .input-group-btn
          button(type = "submit").table-cell.btn.btn-default Validez
    .table-cell
      .social-btns
        a(href="https://www.facebook.com/E-loue-Danmark-863027967119000"): i.flaticon.social.facebook
        a(href="https://twitter.com/eloue_danmark"): i.flaticon.social.twitter
        a(href="https://instagram.com/eloue_dk/"): i.flaticon.social.instagram
