.flaticon.solid.plus
  top: -15px
span.section_header
  background-color: #fcfcfc
  border-bottom: 1px solid #eaeaea
.average-rate
  .star
    .disabled
      color: $gray-lighter
.authorized .booking-bage
  background-color: #e67e22
.rejected .booking-bage
  background-color: #e74c3c
.canceled .booking-bage
  background-color: #7f8c8d
.pending .booking-bage
  background-color: #2ecc71
.ongoing .booking-bage
  background-color: #3498db
.ended .booking-bage
  background-color: #7f8c8d
.incident .booking-bage
  background-color: #f1c40f
.refunded .booking-bage
  background-color: #7f8c8d
.closed .booking-bage
  background-color: #7f8c8d
input[type="number"]
  &.table-form
    background-color: transparent
    text-align: right
    border: none
    min-height: 0
    padding: 0
    margin-right: .5em
    width: 5em
    color: $gray-dark !important