///////////////////
// tabs vertical //
///////////////////
.tabs-vertical-static,
.tabs-vertical-active
  position: relative
  background-color: white
  &.sm
    width: $tabs-vertical-sm-width
  &.md
    width: $tabs-vertical-md-width
  &.lg
    width: $tabs-vertical-lg-width
  > ul
    height: 100%
    position: relative
  .tab-vertical
    border-bottom: $bd-lighter
    padding: $indent-sm*$indent-vertical $indent-sm
    display: block
    transition: border-color $trns-fast
    position: relative
    +clearfix()

.tabs-vertical-active .mCSB_scrollTools,
.scrollbar-left .mCSB_scrollTools
  right: auto
  left: 0

.tabs-vertical-active .tab-vertical > a
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0

.tabs-vertical-active .tab-vertical
  border-right: 4px solid transparent
  cursor: pointer
  .checkmark
    color: transparent
  &:hover,
  &.current
    background-color: $gray-lite
    border-right-color: $brand-success
  &:active
    border-color: transparent
  &.default
    .checkmark
      color: $brand-success


/////////////////////
// tabs horisontal //
/////////////////////
.tabs-horisontal-active
  height: 3em
  > ul
    position: relative
    height: 100%
    text-align: center

  .tab-horisontal
    cursor: pointer
    color: $brand-success
    // background-color: #ccc
    padding: 0 $indent-xs
    position: relative
    border-bottom: 4px solid transparent
    transition: border-color $trns-fast
    &:hover,
    &.current
      border-color: $brand-success
    a
      display: block

.messages-container
  padding-bottom: $form-message-area-height
