table
  &.calendar
    width: 100%
    font-size: $font-size-smaller
    thead tr
      background-color: $gray-lighter
    tbody
      background-color: darken($gray-lite, 2%)
      tr:nth-of-type(2n)
        background-color: $gray-lite
    td
      padding: $indent-xs
      vertical-align: middle
      border-left: 1px solid $gray-medium
      &:first-child
        border-left: none
      &.outages
        background-color: lighten($brand-danger, 35%)
      &.booking
        background-color: lighten($brand-success, 45%)
  &.bg-light
    tbody
      background-color: #fff
  &.bd-wrap
    tr
      position: relative
    td
      border: 1px solid $gray-medium !important
      & + td
        border-left: 0 !important

  .main-cell
    width: 100%
  .check-btn span
    margin-right: 0

.zebra
  display: table
  border-collapse: collapse
  width: 100%
  .zebra-row
    display: table-row
    border: 1px solid $gray-light
    &:nth-of-type(2n - 1)
      background-color: darken($gray-lite, 3%)
    &:nth-of-type(2n)
      background-color: $gray-lite

  .zebra-row-wrapper
    position: relative

  .zebra-col
    display: table-cell
    vertical-align: middle
    width: 1%
    padding: $indent-xs ($indent-xs / 2)
    &.main-cell
      width: 100%
  label
    cursor: pointer
  input
    position: absolute
    z-index: -100
    + .zebra-row-wrapper .checkbox-col
      span
        display: inline-block
        background-color: white
        margin: 0 $indent-xs
        width: 1.5em
        line-height: 1.5em
        text-align: center
        border: 1px solid $gray-light
        border-radius: .25em
        > i
          color: transparent

    &:checked + .zebra-row-wrapper
      background-color: darken($gray-lighter, 3%)
      .checkbox-col
        span > i
          color: $gray-strong