@import "../../sass/variables"

@function px($size, $ratio: $font-size-base)
  @return $size/$ratio*($ratio*0+1) * 1em

$fa-css-prefix: "icon"
$fa-li-width: (30em / 14)

$thumbnail-smx: 30px

$default-user-picture: "../../img/profile_img.png"
$default-product-picture: "../../img/product_img.png"

/////////////
// indents //
/////////////






/////////////////
// font-weight //
/////////////////





///////////
// font  //
///////////



$font-size-base: 14px


$font-size-little: $font-size-base - 4
$font-size-small: $font-size-base - 2
$font-size-smaller: $font-size-base - 1
// $font-size-big: $font-size-base + 2
$font-size-bigger: $font-size-base*1.5
$font-size-large: ($font-size-base*2 )-2

///////////
// color //
///////////








$gray-stronger: rgb(105,105,105)
$gray-strong: rgb(135,135,135)
$gray-medium: rgb(172,172,172)
$gray-light: rgb(211,211,211)
$gray-lighter: rgb(234,234,234)
$gray-lite: rgb(252,252,252)

$brand-blue: rgb(0,123,182)

$input-invalid-color: rgb(220, 140, 150)

$placeholder_color: rgb(157, 157, 157)

//////////
// grid //
//////////
$grid-gutter-width: $indent-sm
// $grid-columns:              12 !default;

///////////////////
// tabs vertical //
///////////////////
$tabs-vertical-sm-width: 230px
$tabs-vertical-md-width: 325px
$tabs-vertical-lg-width: 420px

//////////////
// sections //
//////////////
$section-content-max-width: 650px

////////////////
// trnastiton //
////////////////
$trns-fast: .2s
$trns-flash: .1s

///////////
// forms //
///////////
$form-height: 3em
$form-message-area-height: $form-height*4
$check-box-size: 1.2em
$date-picker-max-width: 280px
$date-picker-height: 2em

////////////
// border //
////////////
$bd-lite: 1px solid $gray-lite
$bd-light: 1px solid $gray-light
$bd-lighter: 1px solid $gray-lighter

$bdrs: 4px
