style
  .indent-v-lg {
    margin-top: 0px;}
  p{
  margin-bottom: 0px;}
  
.container.indent-v-lg
  -var select_items = [{'text': "Demande d'information", 'value': "request_information"},{'text': "Problème technique", 'value': "technical_problem"}, {'text': "Inscription / Connexion", 'value': "register_login"}, {'text': "Tableau de bord / Espace client", 'value': "dashboard_client_area"}, {'text': "Recherche", 'value': "research"}, {'text': "Réservations / Locations", 'value': "booking_rentals"}, {'text': "Paiement / Caution", 'value': "payment_deposit"}, {'text': "Assurance", 'value': "insurance"}, {'text': "Suggestions", 'value': "suggestions"}, {'text': "Félicitations", 'value': "congratulations"}, {'text': "Relation presse", 'value': "press_relations"}, {'text': "Proposition de partenariat", 'value': "partnership_proposal"}, {'text': "Autre", 'value': "other"}]
  form(action="send-message").form-wrapper
    .row.indent-v-sm
      .col-xs-4.text-right: label Nom, Prenom*&nbsp;:
      .col-xs-8.col-sm-6.col-md-4: input(type="name", required).form-control

    .row.indent-v-sm
      .col-xs-4.text-right: label Votre email*&nbsp;:
      .col-xs-8.col-sm-6.col-md-4: input(type="email", required).form-control

    .row.indent-v-sm
      .col-xs-4.text-right: label Votre numéro de téléphone*&nbsp;:
      .col-xs-8.col-sm-6.col-md-4: input(type="number", required).form-control


    .row
      .col-xs-4.col-sm-3.col-xs-offset-4
          p: em *&nbsp;champs obligatoires

    .row.indent-v-md
      .col-xs-8.col-sm-4.col-xs-offset-4
        input(type="submit", value="Envoyer solicitation", style="width: 100%;").btn.btn-lg.bg-success

  p.text-center.indent-v-xs
    | Vous pouvez également nous joindre, du lundi au vendredi de 9h à 18h,
    br
    | par chat ou par téléphone (01 85 08 99 77)
