
style
  .border{
    border: 1px solid #313226;
  }
  .gray-back{
    background-color: #f6f6f6;
  } 
  .pad-b-xs {
   padding-bottom: 20px;
  }
  .thicker {
      font-weight: 600;
  }

.container.indent-t-lg.indent-b-lg
  h3.text-center Vous êtes loueur professionnel&nbsp;? Nous aussi&nbsp;!

  .row.indent-t-md
    .col-md-6.indent-l-lg: .text-justify.text-gray-strong.text-width.indent-t-xs.pad-t-xs
      br
      p#first
        | e-loue est  le premier  site de  location dédié aux particuliers et
        | aux professionnels. Quel que soit votre domaine d’activité, quelle que
        | soit votre localité, nos membres seront intéressés par vos produits à
        | louer : bricolage, jardinage, photo/vidéo, sports, véhicules, mode,
        | réception, déguisements, … 
        //- | Et  nos  clients  se  connectant  sur  e-loue  depuis  5  ans  pour    
        //- | chercher – et trouver - des biens à louer, nous  vous garantissons     
        //- | des leads hyper qualifiés…   
      p.indent-t-sm: .thicker
        | Alors n’hésitez pas à souscrire un Pack e-loue PRO pour profiter
        | d’un canal de distribution complémentaire et augmenter
        | facilement vos revenus&nbsp;!
        
    .col-md-4.indent-l-lg.pad-l-lg: .border.gray-back
      p: .bg-gray.pad-v-xs.pad-h-xs.text-white
        | e-loue PRO, le partenaire qu’il vous faut :
      p.pad-sm
        | - Visibilité illimitée de vos annonces
        br
        | - Point mensuel avec vous
        br
        | - Service dédié
      p.pad-h-sm.pad-b-xs
        | Autant d’atouts que nous mettons
        | à votre disposition pour vous 
        | apporter de nouveaux clients !

