.container.indent-t-md.indent-b-lg
  h2.text-center.text-uppercase vous êtes loueur professionnel&nbsp;? nous aussi&nbsp;!

  .row.indent-t-md
    .col-md-8: .text-justify.text-gray-strong
      br
      br
      p
        | e-loue est  le premier  site de  location dédié aux particuliers et
        | aux professionnels. Quel que soit votre domaine d’activité, quelque
        | soit votre localité, nos membres seront intéressés par vos produits à
        | louer : bricolage, jardinage, photo/vidéo, sports, véhicules, mode,
        | réception, déguisements, … 
        //- | Et  nos  clients  se  connectant  sur  e-loue  depuis  5  ans  pour    
        //- | chercher – et trouver - des biens à louer, nous  vous garantissons     
        //- | des leads hyper qualifiés…   
      p.indent-t-sm: b 
        | Alors n’hésitez pas à souscrire un Pack e-loue PRO pour profiter
        | d’un canal de distribution complémentaire et augmenter
        | facilement vos revenus&nbsp;!
        
    .col-md-4: .bg-primary.pad-sm
      p
        | e-loue PRO, le partenaire qu’il vous faut :
      ul.reset_list
        li Visibilité illimitée de vos annonces
        li Point mensuel avec vous
        li Service dédié

      
      p
        | Autant d’atouts que nous mettons
        | à votre disposition pour vous 
        | apporter de nouveaux clients !