.container.indent-t-md.indent-b-lg
  h2.text-center.text-uppercase vous êtes loueur professionnel&nbsp;? nous aussi&nbsp;!

  .row.indent-t-md
    .col-md-8: .text-justify.text-gray-strong
      p
        | e-loue.com est  le premier  site de  location dédié aux particuliers et 
        | aux professionnels. Quelque soit votre domaine d’activité, quelque 
        | soit votre localité, nos membres seront intéressés par vos produits à 
        | louer : bricolage, jardinage, photo/vidéo, sports, véhicules, mode, 
        | réception, déguisements, … 
        br
        | Et  nos  clients  se  connectant  sur  e-loue.com  depuis  5  ans  pour 
        | chercher – et trouver - des biens à louer, nous  vous garantissons 
        | des leads hyper qualifiés…
      p.indent-t-sm: b
        | Alors n’hésitez pas à souscrire un Pack e-loue PRO pour profiter 
        | d’un canal de distribution complémentaire et augmenter 
        | facilement vos revenus&nbsp;!
    .col-md-4: .bg-primary.pad-sm
      p
        | e-loue Pro, 
        br
        | le partenaire qu’il vous faut :
      ul.reset_list
        li Plateforme en ligne depuis 5 ans 
        li + de 150 000 visiteurs mensuels 
        li + de 100 000 annonces en France 
        li + de 10 000demandes / mois 
      
      p
        | Autant d’atouts que nous meWons 
        | à votre disposition pour vous 
        | apporter de nouveaux clients!