style
  .princing-table {
    padding-top: 30px;
    padding-bottom: 20px;
  }
.container.text-center.indent-v-lg
  table.calendar.bd-full
    thead
      tr.text-white.text-uppercase
        td.empty
        td.bg-gray: b utilisateur classique
        td.bg-gray-dark: b pack e-loue Pro premium
    tbody.text-gray-strong
      -var table_data = [["Importation automatique de votre catalogue", "-"], ["Nombre d’annonces illimité", "+"], ["Annonces visibles 24h/24 par nos membres", "+"], ["Mise en place de votre boutique en 1 semaine", "-"], ["Affichage de votre numéro de téléphone,<br> de votre site web et de votre adresse postale", "-"], ["Assistance & Conseils via notre Service Client dédié Pro<br> (mise à jour de vos annonces, modification de vos prix, ...)", "-"], ["Réception de votre Bilan d’Activité Mensuel", "-"], ["Référencement Google optimisé", "-"], ["Affichage prioritaire sur nos résultats de recherche", "-"], ["Présence dans notre annuaire de loueurs Pro<br> & mises en avant sur notre page Facebook et nos newsletter", "-"]]
      each functionalities, classic in table_data
        tr
          td {{ functionalities|safe }}
          td
            if classic == "+"
              i.flaticon.solid.checkmark-2.text-success.icon-lg
            elif classic == "-"
              | &ndash;
            else
              | &ndash;
              != classic|safe
          td
            i.flaticon.solid.checkmark-2.text-success.icon-lg

  p.text-primary.indent-t-md
    | Vous n’avez rien d’autre à payer : pas de pourcentage sur vos locations, pas de frais de résiliation...
    br
    u: b Il n’y a  aucun frais caché&nbsp;!
