extends ../base
-load compressed staticfiles i18n

block append title
  {% trans "Offre Professionnel" %}

block append styles
    {% compressed_css "bootstrap" %}
    {% compressed_css "subscription_styles" %}

block append content-body
  //- Inherit HomePage controller to activate geolocation search
  .container-flex(data-ng-controller="HomePageCtrl")
    header.header-site:              include ../jade/_header_site

    article.insurance-pro
      section.text_content:          include _text_content
      section.introduction:          include _introduction
      section.pricing-table.framing: include _pricing_table
      section.process:               include _process
      section.contact-form:          include _contact_form.html

    footer
      section.footer-links.framing:  include ../jade/_footer_links
      section.rss:                   include ../jade/_rss


  //- Linkedin tag
  script(type='text/javascript').
      _linkedin_data_partner_id = "12373";
  script(type='text/javascript').
    (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})();
