{% extends "contest/contest_base.html" %}

{% block content %}
<div class="contest-col">
<div class="contest-terms">
	<div align="center">REGLEMENT DU JEU-CONCOURS<br>
 <br>
 <strong>Jeu concours e-loue 2014</strong><br>
</div>
<h1>Article 1 : Organisation</h1>
La SAS e-loue ci-après désignée sous le nom « L'organisatrice », dont le siège social est situé 19 rue de toul 75012 Paris, immatriculée sous le numéro SIRET 50967959300012, organise un jeu gratuit sans obligation d'achat du 19/02/2014 au 19/04/2014 minuit.

<br><br>e-loue organise un jeu concours permettant de gagner un voyage à New-York, un Ipad et 4 places pour le spectacle de Gad Elmaleh.
<h1>Article 2 : Participants</h1>
Ce jeu gratuit sans obligation d'achat est exclusivement ouvert aux personnes majeures, à la date du début du jeu, résidant en France métropolitaine et DOM-ROM, ou tout autre pays.<br><br>Sont exclues du jeu les personnes ne répondant pas aux conditions ci-dessus.<br><br>
« L'organisatrice » se réserve le droit de demander à tout participant de justifier des conditions ci-dessus exposées. Toute personne ne remplissant pas ces conditions ou refusant de les justifier sera exclue du jeu et ne pourra, en cas de gain, bénéficier de son lot.<br>
<br>
Il n'est autorisé qu'une seule participation par personne (même nom, même adresse). « L'organisatrice » se réserve le droit de procéder à toute vérification pour le respect de cette règle.<br>
<br>
La participation au jeu implique l'entière acceptation du présent règlement.
<h1>Article 3 : Modalités de participation</h1>
Le participant doit se rendre à l'adresse URL suivante :<br><ul><li>https://www.e-loue.com/jeu-concours</li></ul>Les participants doivent ajouter une annonce d'un objet qu'ils possèdent et qu'ils acceptent de mettre en location sur le site e-loue.com puis indiquer leurs coordonnées. L'ajout d'une annonce sur e-loue est bien entendu gratuit.<br>
<br>
Les participants doivent cliquer sur "J'aime" de la page Facebook e-loue s'ils souhaitent doubler leurs chances de gagner au tirage au sort.<br><br>Le participant doit remplir totalement et correctement le formulaire de renseignements pour que son inscription soit validée. Le joueur est informé et accepte que les informations saisies dans le formulaire d'inscription vaillent preuve de son identité.<br><br>
Toute participation effectuée contrairement aux dispositions du présent règlement rendra la participation invalide. Tout participant suspecté de fraude pourra être écarté du jeu-concours par « L'organisatrice » sans que celle-ci n'ait à en justifier. Toute identification ou participation incomplète, erronée ou illisible, volontairement ou non, ou réalisée sous une autre forme que celle prévue dans le présent règlement sera considérée comme nulle. La même sanction s'appliquera en cas de multi-participation.
<h1>Article 4 : Gains</h1>
Les dotations mises en jeu sont réparties comme suit :<ul><li>1er lot : Voyage à New York (1900 € TTC)<div class="detailsLots"><strong>Détails :</strong><br>Voyage d'une semaine pour 2 personnes.<br>
Comprenant:<br>
- transport : 2 billets d'avion.<br>
- hébergement : une chambre double.<br>
Le reste des dépenses n'est pas offert (restauration, loisirs ...).<br>
<br>
La période du voyage est hors vacances scolaires.<br>
Le voyage pourra être effectué jusqu'au 31 décembre 2014 maximum.<br>
Ville de départ : Paris - aéroport Charles de Gaulle<br>
Ville d'arrivée : New York - aéroport John F-Kennedy</div></li><li>2ème lot : Ipad (579 € TTC)<div class="detailsLots"><strong>Détails :</strong><br>Apple iPad Air 9,7" 32 Go WiFi Argent.</div></li><li>3ème lot : Places pour le spectacle Gad Elmaleh (240 € TTC)<div class="detailsLots" style="margin-bottom:0;"><strong>Détails :</strong><br>Lot de 4 places pour le spectacle.<br>
Le spectacle aura lieu au palais des sports de la porte de Versailles (Paris 15eme) entre le 25 novembre 2014 et le 20 décembre 2014.</div></li></ul>Valeur totale : 2719 € TTC.<br><br>

La valeur des prix est déterminée au moment de la rédaction du présent règlement et ne saurait faire l'objet d'une contestation quant à leur évaluation.<br>
<br>
Tous les frais exposés postérieurement au jeu notamment pour l'entretien et l'usage de ces lots sont entièrement à la charge du gagnant.
<h1>Article 5 : Désignation des gagnants</h1>
A la fin du jeu-concours, le tirage au sort sera réalisé le 22/04/2014.<br><br>Condition(s) de participation au tirage au sort :<br><br>Tous les participants, qui auront obligatoirement déposé un objet en location via le formulaire d'inscription au jeu, participeront au tirage au sort.<br>
Les participants qui auront cliqué sur le bouton "J'aime" de la page Facebook e-loue, via le jeu concours, doubleront leurs chances au tirage au sort.
<h1>Article 6 : Annonce des gagnants</h1>Un email et un courrier seront envoyés aux gagnants du jeu-concours.
 
 
 <h1>Article 7 : Remise des lots</h1><ul><li>Les lots seront envoyés aux coordonnées postales indiquées par les participants</li><li>Une remise en main propre au siège social de l'entreprise e-loue est possible si le gagnant le souhaite.</li></ul>En cas de retour non délivré, le lot restera à disposition du participant pendant 15 jours. Après ce délai, il ne pourra plus y prétendre.<br><br>

 Les gagnants s‘engagent à accepter les lots tels que proposés sans possibilité d'échange notamment contre des espèces, d'autres biens ou services de quelque nature que ce soit ni transfert du bénéfice à une tierce personne. De même, ces lots ne pourront faire l'objet de demandes de compensation.<br>
 <br>
 « L'organisatrice » se réserve le droit, en cas de survenance d'un événement indépendant de sa volonté, notamment lié à ses fournisseurs ou à des circonstances imprévisibles, de remplacer les lots annoncés, par des lots de valeur équivalente. Le gagnant sera tenu informé des éventuels changements.
 <h1>Article 8 : Utilisation des données personnelles des participants</h1>
 Les informations des participants sont enregistrées et utilisées par « L'organisatrice » pour mémoriser leur participation au jeu-concours et permettre l'attribution des lots.<br>
 <br>
 Les participants peuvent, pour des motifs légitimes, s'opposer à ce que leurs données personnelles communiquées dans le cadre de ce jeu fassent l'objet d'un traitement. Ils disposent également d'un droit d'opposition à ce qu'elles soient utilisées à des fins de prospection commerciale, en dehors de la participation à ce jeu-concours, qu'ils peuvent faire valoir dès l'enregistrement de leur participation en s'adressant par courrier à « L'organisatrice » dont l'adresse est mentionnée à l'article 1.<br>
 <br>
 Le/les gagnant(s) autorisent « L'organisatrice » à utiliser à titre publicitaire ou de relations publiques leurs coordonnées (nom, prénom), sur quelque support que ce soit, sans que cela ne leur confère une rémunération, un droit ou un avantage quelconque, autre que l'attribution de leur lot.<br>
 <br>
 Conformément à la Loi Informatique et Libertés du 6 janvier 1978, tout participant a le droit d'exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées, les informations le concernant qui seraient inexactes, incomplètes, équivoques ou périmées en s'adressant par courrier à « L'organisatrice » dont l'adresse est mentionnée à l'article 1.

 

 <h1>Article 9 : Remboursement des frais de connexion liés au jeu</h1>
 Il sera procédé au remboursement des frais dans les conditions décrites ci-dessous :<br>
 <br>
 Conformément aux dispositions de l'article L. 121-36 du Code de la consommation, l'accès au site et la participation aux jeux qui y sont proposés sont entièrement libres et gratuits, en sorte que les frais de connexion au site, exposés par le participant, lui seront remboursés selon les modalités ci-dessous. <br>
 <br>
 « L'organisatrice » conserve en mémoire, pour chaque participant, les dates et heures de connexion et de déconnexion au site, ainsi que la durée de connexion.<br>
 <br>
 Un seul remboursement par mois et par foyer (même nom, même adresse postale) est admis, à la condition que le participant soit résident en France et dans les conditions d'utilisation normales du site, étant précisé qu'il est expressément convenu qu'une utilisation normale du site ne peut excéder 15 minutes par jour.<br>
 <br>
 Etant observé qu'en l'état actuel des offres de service et de la technique, certains fournisseurs d'accès à Internet offrent une connexion gratuite ou forfaitaire aux internautes, il est expressément convenu que tout accès au site s'effectuant sur une base gratuite ou forfaitaire (tels que notamment connexion par câble, ADSL ou liaison spécialisée) ne pourra donner lieu à aucun remboursement, dans la mesure où l'abonnement aux services du fournisseur d'accès est dans ce cas contracté par l'internaute pour son usage de l'Internet en général et que le fait pour le participant de se connecter au site et de participer aux jeux ne lui occasionne aucun frais ou débours supplémentaire.<br>
 <br>
 En cas de connexion payante facturée au prorata de la durée de communication, les frais de connexion sur le site pour la participation aux jeux seront remboursés par chèque, sur demande du participant adressée dans le mois du débours de ces frais, le cachet de la poste faisant foi, dans les deux mois de la réception de la demande du participant.<br>
 <br>
 Dans l'hypothèse d'une connexion faisant l'objet d'un paiement forfaitaire pour une durée déterminée et, au-delà de cette durée, facturée au prorata de la durée de communication, les frais de connexion au site seront remboursés au participant dès lors qu'il est établi que le participant a excédé le forfait dont il disposait et que ce forfait a été dépassé du fait de la connexion au site. Pour obtenir le remboursement de ses frais de connexion, ainsi que des frais d'affranchissement de sa demande de remboursement, le participant doit adresser à « L'organisatrice » une demande écrite, établie sur papier libre, contenant les éléments suivants :<br>
 <br>
 - l'indication de ses noms, prénom et adresse postale personnelle<br>
 - l'indication des dates, des heures et des durées de ses connexions au site<br>
 - la copie de la facture détaillée de l'opérateur téléphonique et/ou du fournisseur d'accès auquel il est abonné, faisant apparaître les dates et heures de ses connexions au site.<br>
 <br>
 Les frais d'affranchissement nécessaires à la demande de remboursement des frais de connexion seront remboursés, sur demande, sur la base du tarif postal lent en vigueur.

 

 <h1>Article 10 : Règlement du jeu</h1>
 Le règlement du jeu est déposé à la SCP ACTA Etude de Maitres PIERSON Joseph – PIERSON Hervé et MEROT Alain société civile professionnelle titulaire d'un office d'huissier de justice domiciliée 15 rue de Sarre BP 15126 57074 METZ Cedex 3.<br>
 <br>
 Le règlement pourra être consulté sur le site suivant :<br><ul><li>https://www.e-loue.com/jeu-concours/reglement</li></ul>
 
 Il peut être adressé à titre gratuit (timbre remboursé sur simple demande), à toute personne qui en fait la demande auprès de « L'organisatrice ».<br>
 <br>
 « L'organisatrice » se réserve le droit de prolonger, écourter, modifier ou annuler le jeu à tout moment, notamment en cas de force majeure, sans qu'il puisse être prétendu à aucune indemnité par les participants. Le règlement modifié par avenant(s), sera déposé, le cas échéant à la SCP ACTA Etude de Maitres PIERSON Joseph – PIERSON Hervé et MEROT Alain société civile professionnelle titulaire d'un office d'huissier de justice domiciliée 15 rue de Sarre BP 15126 57074 METZ Cedex 3.
 <h1>Article 11 : Propriété industrielle et intellectuelle</h1>
 La reproduction, la représentation ou l'exploitation de tout ou partie des éléments composant le jeu, le présent règlement compris sont strictement interdites.<br>
 <br>
 Toutes les marques, logos, textes, images, vidéos et autres signes distinctifs reproduits sur le site ainsi que sur les sites auxquels celui-ci permet l'accès par l'intermédiaire de liens hypertextes, sont la propriété exclusive de leurs titulaires et sont protégés à ce titre par les dispositions du Code de la propriété intellectuelle et ce pour le monde entier. Leur reproduction non autorisée constitue une contrefaçon passible de sanctions pénales.<br>
 <br>
 Toute reproduction, totale ou partielle, non autorisée de ces marques, logos et signes constitue une contrefaçon passible de sanctions pénales.<br>
 <br>
 La participation à ce jeu implique l'acceptation pleine et entière du présent règlement par les participants.
 <h1>Article 12 : Responsabilité</h1>
 La responsabilité de « L'organisatrice » ne saurait être engagée en cas de force majeure ou de cas fortuit indépendant de sa volonté.<br>
 <br>
 « L'organisatrice » ne saurait être tenue pour responsable des retards, pertes, vols, avaries des courriers, manque de lisibilité des cachets du fait des services postaux. Elle ne saurait non plus être tenue pour responsable et aucun recours ne pourra être engagé contre elle en cas de survenance d'événements présentant les caractères de force majeure (grèves, intempéries...) privant partiellement ou totalement les participants de la possibilité de participer au jeu et/ou les gagnants du bénéfice de leurs gains.<br>
 <br>
 « L'organisatrice » ainsi que ses prestataires et partenaires ne pourront en aucun cas être tenus pour responsables des éventuels incidents pouvant intervenir dans l'utilisation des dotations par les bénéficiaires ou leurs invités dès lors que les gagnants en auront pris possession. <br>
 <br>
 De même « L'organisatrice », ainsi que ses prestataires et partenaires, ne pourront être tenus pour responsables de la perte ou du vol des dotations par les bénéficiaires dès lors que les gagnants en auront pris possession. Tout coût additionnel nécessaire à la prise en possession des dotations est à l'entière charge des gagnants sans que ceux-ci ne puissent demander une quelconque compensation à « L'organisatrice », ni aux sociétés prestataires ou partenaires.
  <h1>Article 13 : Litige &amp; Réclamation</h1>
 Le présent règlement est régi par la loi française.<br>
 <br>
 « L'organisatrice » se réserve le droit de trancher sans appel toute difficulté pouvant survenir quant à l'interprétation ou à l'application du présent règlement, étant entendu qu'aucune contestation ne sera admise notamment sur les modalités du jeu, sur les résultats, sur les gains ou leur réception, un mois après la fin du jeu. Sauf en cas d'erreurs manifestes, il est convenu que les informations résultant des systèmes de jeu de « L'organisatrice » ont force probante dans tout litige quant aux éléments de connexion et au traitement informatique des dites informations relatives au jeu.<br>
 <br>
 Toute réclamation doit être adressée dans le mois suivant la date de fin du jeu à « L'organisatrice ». Passée cette date, aucune réclamation ne sera acceptée. La participation au jeu entraîne l'entière acceptation du présent règlement.
 <h1>Article 14 : Convention de preuve</h1>
 De convention expresse entre le participant et « L'organisatrice », les systèmes et fichiers informatiques de « L'organisatrice » feront seuls foi.<br>
 <br>
 Les registres informatisés, conservés dans les systèmes informatiques de « L'organisatrice », dans des conditions raisonnables de sécurité et de fiabilité, sont considérés comme les preuves des relations et communications intervenues entre « L'organisatrice » et le participant.<br>
 <br>
 Il est en conséquence convenu que, sauf erreur manifeste, « L'organisatrice » pourra se prévaloir, notamment aux fins de preuve de tout acte, fait ou omission, des programmes, données, fichiers, enregistrements, opérations et autres éléments (tels que des rapports de suivi ou autres états) de nature ou sous format ou support informatiques ou électroniques, établis, reçus ou conservés directement ou indirectement par « L'organisatrice », notamment dans ses systèmes informatiques.<br>
 <br>
 Les éléments considérés constituent ainsi des preuves et s'ils sont produits comme moyens de preuve par « L'organisatrice » dans toute procédure contentieuse ou autre, ils seront recevables, valables et opposables entre les parties de la même manière, dans les mêmes conditions et avec la même force probante que tout document qui serait établi, reçu ou conservé par écrit.<br><br>
 Les opérations de toute nature réalisées à l'aide de l'identifiant et du code attribués à un participant, à la suite de l'inscription, sont présumées de manière irréfragable, avoir été réalisées sous la responsabilité du participant.<br>

 

 <br>
 <br>
 Le dépôt de ce règlement de jeu-concours a été effectué via le site internet : <a href="http://www.reglementdejeu.com/" target="_blank">Reglementdejeu.com</a>.


			</div>

</div>
{% endblock %}