{% load compressed %}
<!doctype html>
<html lang="fr">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}{% endblock %}</title>
  
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

  {% compressed_css 'contest' %}
 <head>
 <body>
 	<div class="contest">
 		<div class="contest-container">
	 		<div class="contest-header">
	 			<div class="contest-logo">
	 				<a href="{% url contest_publish_new_ad %}">
	 					<img src="{{ STATIC_URL }}images/contest/contest-logo{% block contest-step %}{% endblock %}.png">
	 				</a>
	 			</div>
	 			<div class="contest-logo-eloue">
	 				<img src="{{ STATIC_URL }}images/contest/contest-eloue-logo.png">
	 			</div>
	 		</div>
	 		<div class="contest-content">{% block content %}{% endblock %}</div>
	    </div>{# contest-container #}
	    {% block footer %}
	    <div class="contest-footer">
	    	<a href="{% url contest_terms %}" target="_blank">Règlement</a>
	 	</div>{# footer #}
	 	{% endblock %}
 	</div>{# contest #}
    {% block tail %}
    	{% compressed_js 'application' %}
    {% endblock %}
 </body>
</html>