h2.indent-lg-t Assurance du logement
ul.not-ordered.text-gray-strong
  li Annulation de séjour
  li Intéruption de séjour
  li Responsabilité civile villégiature
  li.last Non-conformité du bien loué

h2.indent-lg-t Conditions de location
ul.not-ordered.text-gray-strong
  li Le locataire doit être un particulier.
  li La durée de la location ne peut pas excéder 90 jours.