{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "La page demandée est introuvable" %}{% endblock %}

{% block content %}
<div id="content" class="xgrid">
     <div class="content-top">
         <h1>{% trans "La page est introuvable" %}</h1>
     </div>
     <div class="x12">
        {% url contact as contact_url %}
        {% blocktrans %}
         Si l'erreur persiste, merci de nous <a href="{{ contact_url }}">contacter</a>.
        {% endblocktrans %}
     </div>
 </div>
{% endblock content %}