-load compressed
doctype 5
html(lang="fr")
  head
    block variables
      include jade/variables

    block head
      title e-loue
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon", href="#{STATIC_URL}img/favicon.ico")

    block styles
      link(rel="stylesheet",    href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600")
      {% compressed_css "extrastyles" %}

    block scripts

  body
    block content-body
      #ngModals
          eloue-login-form
          eloue-registration-form
          eloue-reset-password-form
