{% load compressed i18n %}
<!doctype html>
<html lang="fr">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}e-loue{% endblock %}</title>
  <meta name="description" content="{% block description %}Plateforme pour louer ou mettre en location tout type d'objet : materiel, reception, mariage, sono, utilitaires, ski ...{% endblock %}">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="{{ MEDIA_URL }}favicon.ico">
  {% block head %}
   {% compressed_css 'master' %}
  {% endblock %}
  <script type="text/javascript">
   /*
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8258979-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
   */
  </script>
 </head>
 <body>
		<div id="wrapper" class="xgrid">
			<div id="header" class="clearfix">
				<div class="logo x2">
					<a href='{% url home %}'>
						<img src="{{ MEDIA_URL }}images/logo.png" alt="e-loue"/>
					</a>
				</div>
				<div class="x10 omega">
					<ul class="nav-bar">
						<li class="nav"><a href="{% url product_create %}" class="btn medium-green"  >{% trans "Mettre en location" %}</a></li>
						{% if not user.is_authenticated %}
							<li class="nav"><a href="{% url auth_login %}" class="nav-link" >{% trans "S'inscrire ou se connecter" %}</a></li>
						{% else %}
							<li class="nav"><a href="{% url auth_logout %}" class="nav-link">{% trans "Se déconnecter" %}</a></li>
						{% endif %}
						{% if request.user.is_anonymous %}
						 <li class="nav"><a href="#" class="nav-link">{% trans "Comment ça marche ?" %}</a></li>
						{% else %}
						 <li class="nav"><a href="{% url dashboard %}" class="nav-link">{% trans "Tableau de bord" %}</a></li>
						 <li class="nav welcome">{% blocktrans with request.user.first_name as first_name %} Bienvenue, {{ first_name }}!{% endblocktrans %}</li>    
						{% endif %}
					</ul>
				</div>
			</div>{# header #}
  {% block content %}
  {% endblock %}
  	</div>
		<div id="footer" class="xgrid">
			<div class="x3">
				<h4>{% trans "Lien utile" %}</h4>
				<ul>
					<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
					<li><a href="{% url dashboard %}">{% trans "Mon compte" %}</a></li>
					<li><a href="{% url product_create %}">{% trans "Mettre en location" %}</a></li>
				</ul>
			</div>
			<div class="x3">
				<h4>{% trans "Info" %}</h4>
				<ul>
					<li><a href="#">{% trans "Espace professionnel" %}</a></li>
					<li><a href="#">{% trans "Assurance tranquillité" %}</a></li>
					<li><a href="#">{% trans "Conditions générales" %}</a></li>
					<li><a href="#">{% trans "Respect de la vie privée" %}</a></li>
				</ul>
			</div>
			<div class="x3">
				<h4>{% trans "Support" %}</h4>
				<ul>
					<li><a href="#">{% trans "Aide" %}</a></li>
					<li><a href="#">{% trans "Contactez-nous" %}</a></li>
					<li><a href="#">{% trans "Espace presse" %}</a></li>
					<li><a href="#">{% trans "Qui sommes nous ?" %}</a></li>
				</ul>
			</div>
			<div class="x3">
				<h4>{% trans "Communauté" %}</h4>
				<ul>
					<li><a href="http://blog.e-loue.com">{% trans "Blog" %}</a></li>
					<li><a href="https://twitter.com/eloue">{% trans "Twitter" %}</a></li>
					<li><a href="https://www.facebook.com/pages/e-louecom/104685226447">{% trans "Facebook" %}</a></li>
					<li><a href="#">{% trans "Sites partenaires" %}</a></li>
				</ul>
			</div>
			<div class="x12 twitter-box">
				<p>L'objet insolite de la semaine : le stylo-espion ... que vous pouvez louer pour filmer tout ce que vous souhaitez... <a href="http://fb.me/NLUmubhE">http://fb.me/NLUmubhE</a></p>
				<div class="twitter-dialogue">
			</div>
		</div>
		<div class="x12 twitter-info">
			<p>
				<a href="">12 novembre à 18h</a> sur <a href="">Twitter</a>
			</p>
		</div>
	</div>
  {% block tail %}
   {% compressed_js 'application' %}
  {% endblock %}
 </body>
</html>