-load compressed staticfiles

doctype 5
html(lang="fr")
  head
    block variables
      include jade/variables

    block head
      title e-loue
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon", href="{% static 'img/favicon.ico' %}")

    block styles
      link(rel="stylesheet", href="http{% if request.is_secure %}s{% endif %}://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600")
      {% compressed_css "extrastyles" %}

    block scripts
      {% compressed_js "public_js" %}
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8258979-1']);
      _gaq.push(['_setDomainName', 'www.e-loue.com']);
      _gaq.push(['_trackPageview']);
  body
    block content-body
    script
        (function() {
             var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    #ngModals
        eloue-login-form
        eloue-registration-form
        eloue-reset-password-form
