{% extends "base.html" %}
{% load i18n compressed mptt_tags product cache %}

{% block title %}{% trans "Location entre particuliers ou professionnels de tout type d'objet" %}{% endblock %}

{% block head %}
 {{ block.super }}
 <link rel="canonical" href="{% if request.is_secure %}https{%else%}http{%endif%}://www.e-loue.com/">
{% endblock %}

{% block content %}
<div class="container-top">
    <div class="search-home">
        <h1 class="rent-anythings">{% trans "Rejoignez la communauté des e-loueurs !" %} <br> 
            <small>{% trans "Au lieu d'acheter, louez pour augmenter votre pouvoir d'usage." %}</small>
        </h1>
        <form action="" method="get">
            <p class="what">
                <input type="text" placeholder="Que voulez-vous louer ?" name="q" />
                <input type="submit" value="Rechercher" class="btn bt-big-orange" />
            </p>
        </form>
        <p class="city">
            <span class="city-to">à </span>
            <span class="city-name">Boulogne-sur-Mer</span>
            <button class="btn-other-town"><span>Changer de ville</span></button>
        </p>
        <p class="city-input">
            <input type="text" name="city" />
            <button class="btn-edit-town">Enregistrer</button> ou <button class="btn-cancel-edit-town">annuler</button>
        </p>
    </div><!-- search-home -->
    <div class="products-home">
        <div class="products-home-tabs">
            <ul>
                <li><a href="#near">Près d'ici</a></li>
                <li><a href="#moreRent">Les plus loué</a></li>
                <li><a href="#hotloc">Hot loc</a></li>
                <li><a href="#categories">Catégories</a><li>
            </ul>
            <div id="near">
                {% include "products/partials/product_list.html" %}
            </div>{# near #}
            <div id="moreRent"></div>{# moreRent #}
            <div id="hotloc"></div>{# hotloc #}
            <div id="categories"></div>{# categories #}
        </div>{# products-home-tabs #}
    </div>{# product-home #}
    <ul class="args">
        <li class="arg-how">
            <a href="#">
                <h4>{% trans "Témoignage" %}</h4>
            </a>
        </li>
        <li class="arg-iphoneApp">
            <a href="#">
                <img src="{{ MEDIA_URL }}images/e-loue_sur_iPhone.png" width="204" height="126" />
                <h4>{% trans "L'appli pour tout louer !" %}</h4>
            </a>
        </li>
        <li class="arg-garanties">
            <a href="">
                <img src="{{ MEDIA_URL }}images/garanties_e-loue.png" width="204" height="50" />
                <h4>{% trans "Location garantie" %}</h4>
            </a>
        </li><!-- arg-garanties -->
        <li class="arg-fb"></li>
    </ul>{# args #}
    <div class="new-profils">
        <div class="np-title">{% trans "Derniers<br/>inscrits" %}</div><!-- np-title -->
        {% include "accounts/partials/avatar_list.html" %}
    </div>{# new_profils #}
    <div class="press">
        <div class="press-title">Ils parlent de nous !</div>
        <img src="{{ MEDIA_URL }}images/e-loue_dans_la_press.png" width="778" height="49" />
    </div>{# press #}
</div>{# container-top #}
{% endblock %}
