{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - Plateforme pour louer ou mettre en location tout type d'objet : materiel, reception, mariage, sono, utilitaires, ski ...{% endblock %}

{% block content %}
	<div id="top-content" class="search clearfix">
		<div class="search-header x12">
			<h1>{% trans "Recherchez toutes vos locations sur e-loue" %}</h1>
		</div>
		<form class="form" action="{% url product_list %}">
		<div class="search-what x5">
			<label for="id_q">{% trans "Que voulez-vous louer ?" %}</label><br />
			{{ form.q }}<br />
			<span>{% trans "Exemple :" %} </span> <a href="location/?q=voiture">{% trans "Voiture" %}</a>, <a href="#">{% trans "Chèvre" %}</a>, <a href="#">{% trans "Ski" %}</a>, <a href="#">{% trans "Robe" %}</a>
		</div>
		<div class="search-where x5">
			<label>{% trans "Où ?" %}</label><br />
			{{ form.l }}<br />
		</div>
		<div class="search-find x2">
			<input type="submit" value="{% trans "Rechercher" %}" class="btn big-orange"/>
		</div>
		</form>
	</div>{# top-content #}
	<div id="content" class="clearfix">
		<div class="content-header x12">
			<h2>Les curiosités d'e-loue</h2>
		</div>
	</div>{# content #}
{% endblock %}