-load i18n
.container
  ul.nav.nav-justified
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap {% trans "Le concept GO Sport Location" %}
      ul.nav
        li.link-wrapper: a(href="/{% trans 'comment-ca-marche' %}/") {% trans "Comment ça marche ?" %}
        li.link-wrapper: a(href="/{% trans 'securite' %}/") {% trans "GO Sport Location et la sécurité" %}
        li.link-wrapper: a(href="/{% trans 'offre-professionnel' %}/") {% trans "L’offre GO Sport Location Pro" %}
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap {% trans "Pourquoi choisir GO Sport Location ?" %}
      ul.nav
        li.link-wrapper: a(href="/{% trans 'contrat-de-location' %}/") {% trans "Contrats de location" %}
        li.link-wrapper: a(href="/{% trans 'assurance-tranquillite' %}/") {% trans "Assurance tranquilité" %}
        li.link-wrapper: a(href="/{% trans 'conditions-generales-particuliers' %}/") {% trans "Conditions générales particuliers" %}
        li.link-wrapper: a(href="/{% trans 'conditions-generales-professionnels' %}/") {% trans "Conditions générales professionnels" %}
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap {% trans "L’entreprise e-loue" %}
      ul.nav
        li.link-wrapper: a(href="/nos-partenaires/") {% trans "Nos partenaires" %}

    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap {% trans "En savoir plus" %}
      ul.nav
        li.link-wrapper: a(href="https://eloue1.zendesk.com/hc/fr") {% trans "FAQ" %}
        li.link-wrapper: a(href="/{% trans 'contactez-nous' %}/") {% trans "Contactez-nous" %}
        li.link-wrapper: a(href="/{% trans 'mentions-legales' %}/") {% trans "Mentions légales" %}