-load staticfiles

#homepage-carousel-banner.carousel.slide(data-ride="carousel")
	.carousel-inner
		.item.active(style="background-image: url({% static 'img/gosport-banner-5.png' %});")
		.item(style="background-image: url({% static 'img/gosport-banner-1.jpg' %});")
		.item(style="background-image: url({% static 'img/gosport-banner-2.jpg' %});")
		.item(style="background-image: url({% static 'img/gosport-banner-3.jpg' %});")
		.item(style="background-image: url({% static 'img/gosport-banner-4.jpg' %});")
