-load staticfiles i18n

.top-content
#homepage-carousel-banner.carousel.slide(data-ride="carousel")
	h1.banner-title {% trans "Trouvez toutes les annonces de location près de chez vous" %}
	.carousel-inner
		.item.active(style="background-image: url({% static 'img/tennis-banner.jpg' %});")
		.item(style="background-image: url({% static 'img/velo-banner.jpg' %});")
		.item(style="background-image: url({% static 'img/golf-banner.jpg' %});")
		.item(style="background-image: url({% static 'img/voley-banner.jpg' %});")
		.item(style="background-image: url({% static 'img/yoga-banner.jpg' %});")
		.item(style="background-image: url({% static 'img/sumo-banner.jpg' %});")
