.container
  h3.text-center Choisissez une catégorie pour votre annonce

  ul.nav.space-between
  {% for item in publish_category_list%}
  li.spacer
  li: span: a(href="#/publish?category={{ item.1 }}", data-dismiss="modal")
    span.border-round
      i(class="eloue-{{ item.2 }}")
    span.title {{ item.0 }}
  {% endfor %}
