.container.indent-v-lg
    .row
        .col-sm-6
            .video
        .col-sm-6
            .description
                h3
                    | Go Sport Location c'est simple, efficace
                    br
                    | et sécurisé
                p.lg-ln-height
                    | Avec Go Sport Location, mettez en location vos biens que vous n'utilisez pas
                    | tous les jours : vélos, skis, boules de pétanques,
                    | club de golf, planche de surf, GoPro... Gagnez de l'argent et
                    | rentabiliez vos achats en toure simplicité, et sans risque.
                    | Nos locations sont assurées et sécurisées.
                a(href="#").link-success-color en savoir plus
