.container.text-gray-strong
  h2.text-uppercase.text-center
    | Mentions légales

  .row.indent-t-lg
    .col-sm-6.col-sm-offset-3
      p: em Le site E-LOUE est édité par la société E-LOUE SAS

      p: addres
        | E-loue SAS (société par actions simplifiées) au capital de 6 331,50 €
        br
        | dont le siège social se trouve au&nbsp;
        a(href="https://www.google.fr/maps/place/19+Rue+de+Toul,+75012+Paris/@48.8498074,2.3505089,13z/data=!4m2!3m1!1s0x47e672668aea09a9:0x2a27cdfe622466ab").link-success 19 Rue de Toul, 75012 Paris,
        br
        | immatriculée au RCS de Paris sous le numéro 509 679 593.

      p  
        | TVA Intracommunautaire : FR49509679593 
        br
        | Directeur de publication : Alexandre Woog 

      p
        em E-mail&nbsp;: 
        a(href="mailto:contact@e-loue.com").link-success
          | contact@e-loue.com
        br
        em Téléphone&nbsp;: 
        | +33 1 85 08 99 77

      p
        | Le site internet est hébergé par la société&nbsp;
        a(href="http://www.heroku.com/").link-success Heroku, Inc.
        br
        | dont le siège social se trouve au 650 7th Street, San Francisco, CA, 94103.
        br
        em Téléphone&nbsp;: 
        | +&nbsp;1&nbsp;(866)&nbsp;278-1349
      p
        | Le site internet a fait l'objet d'une déclaration auprès de la CNIL sous le numéro 1403691.
