section.pull-nothing(ng-hide="items && (items.length > 0 || !!selectedCategory)")
  .notification-empty
    .notification-container
      {% verbatim %}
      i(class="{{routeChangeInProgress ? 'loading' : ''}}").icon-5x.indent-sm-b.flaticon.solid.menu-list-4
      {% endverbatim %}
      h2(ng-show="!routeChangeInProgress") Pas encore d'annonce déposée
      p(ng-show="!routeChangeInProgress").indent-md-v.text-black
        | Vas objets peuvent vous rapporter de l'argent : karcher, appareil photo, caméra ...
      a(ng-show="!routeChangeInProgress", href="#").btn-inline.bg-success-hover.text-white Déposez votre premiére annonce