{% verbatim %}
#add-period.modal.fade
    .modal-dialog
        .modal-content(style="padding: 30px")
            .modal-body
                h3 Ajoutez une nouvelle disponibilité
                form(name="addPeriodForm", ng-submit="periodSubmitted = true").table-form
                    fieldset(data-ng-disabled="submitInProgress")
                        .row
                            .col-sm-12
                                input(type="number", name="quantity", ng-model="newUnavailabilityPeriod.quantity", required).form-control
                                span.text-danger(ng-show="addPeriodForm.quantity.$error.required && periodSubmitted", translate="required_field")
                        .row
                            .col-sm-12(style="z-index: 1050")
                                input(type="text", name="started_at", ng-model="newUnavailabilityPeriod.started_at", eloue-extended-datepicker, required).form-control
                                span.text-danger(ng-show="addPeriodForm.started_at.$error.required && periodSubmitted", translate="required_field")
                        .row
                            .col-sm-12(style="z-index: 1050")
                                input(type="text", name="ended_at", ng-model="newUnavailabilityPeriod.ended_at", eloue-extended-datepicker, required).form-control
                                span.text-danger(ng-show="addPeriodForm.ended_at.$error.required && periodSubmitted", translate="required_field")
                        .row
                            .col-xs-6
                                button(type="button", data-dismiss="modal", ng-click="saveUnavailabilityPeriod()").btn
                                    | Enregistrer
                            .col-xs-6
                                button(type="button", data-dismiss="modal", ng-disabled="submitInProgress || !addPeriodForm.$valid", class="{{submitInProgress ? 'loading' : ''}}").btn.bg-success
                                    | Annuler
{% endverbatim %}
