block details
  .section-content
    {% verbatim %}
    form(action="itmes")
      .row
        .col-xs-7
          h2 Sélectionner le mois
        .col-xs-5
          .form-control.without-search.select-gradient
            select(ng-model="selectedMonthAndYear", ng-change="updateCalendar()")
                option(ng-repeat="month in monthOptions", value="{{month.value}}") {{month.name}}
      .row
        .col-xs-12.indent-sm-b
          table.calendar.text-center
            thead
              tr
                td Lun
                td Mar
                td Mer
                td Jeu
                td Ven
                td Sam
                td Dim
            tbody
                  tr(ng-repeat="week in weeks")
                    td(ng-repeat="day in week.weekDays", class="{{day.isBooked && showBookings ? 'booking' : ''}}")
      .row
        .col-xs-4
          label.check-btn.form-control.text-danger-light
            input(type="checkbox", ng-model="showUnavailable", ng-change="onShowUnavailable()")
            span: i.flaticon.stroke.checkmark
            | Indisponiblités
        .col-xs-4
          label.check-btn.form-control.text-success-light
            input(type="checkbox", ng-model="showBookings", ng-change="onShowBookings()")
            span: i.flaticon.stroke.checkmark
            | Réservations
      .row.indent-xs-b
        .col-xs-12.indent-sm-b
          table.calendar.bg-light.text-center
            thead
              tr
                td Date de début
                td Date de fin
                td Motifs
                td Action 
            tbody
              tr(ng-repeat="booking in currentBookings", ng-show="showBookings")
                td {{booking.startDay | date:'dd/MM/yyyy'}}
                td {{booking.endDay | date:'dd/MM/yyyy'}}
                td.text-success-light Réservé
                td
      .row
        .col-xs-8.col-xs-offset-2
          button(type="submit").btn.bg-success-hover.text-white Ajoutez une nouvelle disponibilité
    {% endverbatim %}
