block details
  .section-content
    h2 La livraison avec la
      span.sprite-pickup-logo-full.indent-sm-l

    if True
        h2.small La navette pickup disponible partout en France
        p
            | Vous pouvez proposer  grâce à notre partenaire La Navette Pickup une 
            | option de livraison à votre objet.
            br
            | L’objet sera transporté via une pochette de relais pickup à relais pickup 
            | à travers toute la France. Il faut donc que votre objet rentre dans une 
            | pochette de ce type :

        .indent-md-v: img(src="#{STATIC_URL}img/pickup_instruction.jpg", alt="", width="100%")
        ul
          li.row.indent-md-v
            .col-xs-1.text-center: span.sprite-pickup-logo-short-black
            .col-xs-11: p
              | 7000 points relais partenaires partout en France : vous 
              | choisissez le relais le plus proche de chez vous.
          li.row.indent-md-v
            .col-xs-1.text-center: span.sprite-calendar
            .col-xs-11: p
              | La livraison sera en général de 24 ou 48h (non garanti).
          li.row.indent-md-v
            .col-xs-1.text-center: span.sprite-euro
            .col-xs-11: p
              | Les coûts de livraison sont à la charge du locataire.

        h2.small.indent-lg-t Comment se passeront les locations sur e-loue avec la Navette pickup&nbsp;?
        ol.ordered-list-big
          li.row.indent-md-v
            .col-xs-1.text-center: span.counter
            .col-xs-11: p
              | Si j’accepte une demande de réservation avec l’option 
              | livraison, je me rends dans un point relais La Navette Pickup 
              | pour envoyer l’objet.
          li.row.indent-md-v
            .col-xs-1.text-center: span.counter
            .col-xs-11: p
              | En fin de location vous êtes prévenu par email de la livraison 
              | de votre navette dans votre relais d’arrivée.

        .text-center: a(href="#").btn.btn-inline.bg-success-hover.text-white J’accepte les  livraisons

    if True
        form(action="choice_point")
          .pickup-input-wrapper
            input#nickname.form-control(type="text", name="address", placeholder="")
            span.sprite-pickup-logo-short-grey
          h3 Sélectionner un point relais ci-dessous&nbsp;:

          .zebra.indent-md-v
              label.zebra-row
                input(type="radio", name="pickup")
                .zebra-row-wrapper
                  .zebra-col
                    span.radio-indicator
                  .zebra-col
                    span.sprite-pickup-logo
                  .zebra-col.main-cell
                    | KAHLOUCHE PRESSE
                    br
                    | 79 BOULEVARD BEAUMARCHAIS
                    br
                    | 75003 PARIS

        .text-center: a(href="#").btn.btn-inline.bg-success-hover.text-white Enregistrer


    if True
        .block-with-thumbnail.notification.indent-md-v
          .col-thumbnail
            .thumbnail: .icon-action: span.sprite-pickup-logo-short-green
          .col-exposition.text-action
            h3: b.indent-xs-b Relais de départ
            ul.text-uppercase.indent-md-b
              li KAHLOUCHE PRESSE
              li 79 BOULEVARD BEAUMARCHAIS
              li 75003 PARIS

            table.calendar.bd-wrap
              -var data = [["Lundi", "08:15 - 14:00, 15:30 - 20:30"], ["Mardi", "08:15 - 14:00, 15:30 - 20:30"], ["Mercredi", "08:15 - 14:00, 15:30 - 20:30"], ["Jeudi", "08:15 - 14:00, 15:30 - 20:30"], ["Vendredi", "08:15 - 14:00, 15:30 - 20:30"], ["Samedi", "08:15 - 14:00, 15:30 - 20:30"], ["Dimanche", "Fermé"]]
              each title, info in data
                tr
                  td {{ title }}
                  td {{ info }}
            .indent-sm-t.clearfix
              .pull-left.indent-sm-t: a(href="#").text-gray-light.text-underline-hover Supprimer
              .pull-right: a(href="#").btn-inline.btn-default.text-success Modifier le point relais
