.tabs-horisontal-active
    ul.list-without-spaces.fixed.compress
        li.divider
        li#item-tab-info.tab-horisontal: h3.small
          a(ui-sref="items.info({id: selectedItemId})") Photos et infos
        li.divider
        li#item-tab-tariffs.tab-horisontal: h3.small
          a(ui-sref="items.tariffs({id: selectedItemId})") Tarifs
        li.divider
        //-
         li#item-tab-calendar.tab-horisontal: h3.small
          a(ui-sref="items.calendar({id: selectedItemId})") Calendrier
         li.divider
        li#item-tab-terms.tab-horisontal: h3.small
          a(ui-sref="items.terms({id: selectedItemId})") Conditions
        li.divider
        li#item-tab-profits.tab-horisontal: h3.small
          a(ui-sref="items.profits({id: selectedItemId})") Revenus
