.container.indent-v-lg
  h2.text-center.text-uppercase
    | s’ils nous font confiance 
    br
    | vous n’avez aucun doute a avoir...

  -var partners_list = [["historiques", ["partner-hec_paris", "partner-sfr", "partner-microsoft"]], ["techniques et logistiques", ["partner-amazon", "partner-google", "partner-societe_general", "partner-la_poste"]], ["stratégiques", ["partner-havas_worldwide"]], ["financiers", ["partner-clear_chanel", "partner-twenty_minutes", "partner-five_m_ventures"]], ["affiliés", ["partner-bitwiin", "partner-bons_plans", "partner-direct_etudiant", "partner-les_cles_du_bricolage", "partner-local_me", "partner-locanfrance", "partner-ma_colocation", "partner-meteojob", "partner-nomalys", "partner-smoov_up", "partner-youpijob"]]]
  each section, partners in partners_list
    h4.indent-t-md
      | Nos partenaires {{ section }}&nbsp;:
    ul.nav.nav-pills.partner-list.row.indent-l-md
      each partner in partners
        li: a: span(class="{{ partner }}")
