// PROFIL BLOCK
//-------------

.profil-block {
  @shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
  .box-shadow(@shadow);
  border-bottom: 1px solid #B2CED9;
  
  padding: 0 20px 10px 20px;
  margin-bottom: 20px;

  .add-avatar-link {
    position: absolute; 
    top: 80px; 
    left: 42px; 
    
    text-align: center; 
    color: #364C59;

    #font > .sans-serif('Ubuntu', normal, 14px);
    text-decoration: underline; 

    line-height: 18px;

    &.last {
      border-bottom: none;
      .box-shadow(none);
    }
  }
  
  h3 {
    #font > .sans-serif('Ubuntu', normal, 18px);
    font-style: italic;
    color: @blueDark;
    
    margin-bottom: 20px;
  }
  
  h4 {
    #font > .sans-serif('Ubuntu', bold, 14px);
    color: @blueDark;
    
    margin-bottom: 5px;
  }
  
  p {
     #font > .sans-serif('Ubuntu', normal, @basefont);
      color: @blueDark;

      margin-bottom: 10px;
  }
  
  table { width: 200px; }
  
  &.last {
    border-bottom: 0;
    @shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    .box-shadow(@shadow);
  }
}


//
// TIMETABLE
//-----------

.timetable {
  margin-bottom: 20px;

  td {
    #font > .sans-serif(Arial, 'normal', 13px);
    padding-bottom: 10px !important;
  }
}
.friends-list {
  height: 300px;
  overflow-y: auto;
  padding-top: 5px;

  li {
    margin-bottom: 5px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: #364C59;
    font-size: 13px;
    height: 35px;
    border-bottom: 1px solid #ddd;

    button {
      font-size: 11px;
      padding: 3px;
      float: right;
      margin-top: 5px;
    }
  }

  img {
    float: left;
    margin-right: 5px;
    display: table-cell;
  }

  .name {
    margin-top: 10px;
    float: left;
  }
}

#fb-connect-invite, .fb-connect-invite {
  margin: 0 70px;
}

#fb-connect-invite-text, .fb-connect-invite-text {
  font-size: 14px; 
  line-height: 20px; 
  margin-bottom: 20px;
}

#fb-connect-invite-link, .fb-connect-invite-link {
  text-align: center;
}

.fb-container-list {
  margin: 0 140px;

  input {
    width: 270px; 
    margin-bottom: 0px;
  }
}

.invite-your-friends {
  background: #F3F8FA;

  margin-bottom: 20px;
  padding: 10px;
  .clearfix();

  border: 1px solid @blueLight;
  .rounded(5px);

  text-align: center;

  img {
    float: left;
    margin-right: 20px;
  }

  p {
    margin-bottom: 21px;
    #font > .sans-serif(Arial, normal, 17px);
  }

  .btn { padding-top: 5px; padding-bottom: 5px;}
}


.opening {
  #font > .sans-serif(Arial, normal, 14px);
  color: @blueDark !important;

  th { text-align:center; }

  .slots {
    width: 348px;

    li {
      float: left;
    }
  }
   
  .control-group {
    margin-left: 10px;
    margin-bottom: 10px;

    .controls {
      margin-left: 60px;
    }

    label {
      width: 40px;
    }

  }

  select {
    width: 70px;
  }

  .opening-actions a {
    font-size: 12px;
    color: #364C59;
  }
}


//PLAN LIST
//-----------


.plan_list {
  #font > .sans-serif(Arial, normal, 14px);
  color: @blueDark;

  th {
    font-size: 12px;
  }

  td {
    vertical-align: middle;
    height: 31px;
  }

  .btn-contactme {
    margin-bottom: 0px;
  }
}

//BILLING
//--------

.table.billing {
  #font > .sans-serif(Arial, normal, 14px);
  color: @blueDark;

  margin-bottom: 40px;

  .billing-header {
    background-color: #e3f6fd;
  }

  .billing-detail {
    font-size: 11px;
  }

  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;

  border-collapse: separate;
  .rounded(4px);

  table {
    margin-bottom: 0px;

    thead {
      tr  { cursor: pointer ;}
    }

    tbody {
      display: none;
      #font > .sans-serif(Arial, normal, 12px);
    }

    td {
      border-top: 0px;
    }

    .billing-item {
      padding-left: 30px;
    }

    .amount {
      text-align: right;
      width: 80px;
    }
  }
}

//BILLING-HISTORY
//----------------
.billing-history {
  #font > .sans-serif(Arial, normal, 12px);
  color: @blueDark;

  .billing-error {
    color: @red;
  }
}


//HIGHLIGHT_LIST
//----------------
.highlight-list {
  #font > .sans-serif(Arial, normal, 12px);
  color: @blueDark;

  border: 1px solid #DDD;

  border-collapse: separate;
  .rounded(4px);

  .highlight-action {
    text-align: right;
    button { 
      color: @red;
      background: none;
    }
  }

  .no-highlight {
    #font > .sans-serif(Arial, normal, 14px);
    text-align: center;
    margin-top: 100px;
  } 
}

// BTN PRO CONTACT
//----------------

.btn-pro-contact.btn-group-vertical {
  .btn { 
    width: 148px;
    text-align: center;
  }
  .open.last-child {
    .rounded(0);
  }

  div {
    background-color: #fff;
    padding: 10px;
    border-left: 1px solid #93b1c2;
    border-right: 1px solid #93b1c2;
    display: none;

    h5 { 
      margin-bottom: 10px;
      #font > .sans-serif('Ubuntu', bold, 13px);
      color: @blueDark;
      text-align: center;
    }
    p { 
      text-align: center; 
      margin: 10px 0;
    }

    address {
      display: block !important;
      line-height: 20px !important;
      margin-bottom: 0px !important;
      text-align: center;
      #font > .sans-serif('Ubuntu', normal, 12px);
    }

    &:last-child {
      border-bottom: 1px solid #93b1c2;
      .border-radius(0, 4px, 4px, 0);
    }
  }
}

// PROFIL COMMENT
//----------------


#profil-comments {
  max-height: 400px;
  overflow: auto;
}

// PRO AGENCIES
//-------------

.pro-agencies {
  border: 1px solid #93b1c2;
  .rounded(3px);
  @shadow: inset 0 1px 0 rgba(255,255,255,.1);

  height: 300px;
  overflow-y: auto;
  background-color: #fff;

  li {
    padding: 10px;


    .name-agency {
      #font > .sans-serif('Ubuntu', normal, 14px);
      font-weight: bold;
      line-height: 18px;
      color: @blueDark;
    }

    address {
      #font > .sans-serif('Arial', normal, 13px);
      line-height: 16px;
    }

    .phone-agency { 
      display: none;
      #font > .sans-serif('Arial', normal, 13px);
      line-height: 16px;
    }

    .phone-agency-link {
      #font > .sans-serif('Arial', normal, 13px);
      line-height: 16px;
    }
  }
}

