{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Activation de votre compte" %}{% endblock %}


{% block content %}
<div class="container-main">
  <ul class="breadcrumb">
    <li><a href="{% url 'products.views.homepage' %}">{% trans "Acceuil" %}</a></li>
    <li>{% trans "Activation de votre compte" %}</li>
  </ul>
  <div class="one-content">
    <h1>{% trans "Activation" %}</h1>
    {% if is_actived %}
        <h2>{% trans "Merci d'avoir activé votre compte !" %}</h2>
        <p>{% trans "Vous pouvez vous y connecter dés à présent." %}</p>
        {% else %}
        <h2>{% trans "Votre compte n'a pu être activé" %}</h2>
        {% url 'feedback' as feedback  %}
        <p>{% blocktrans %}Ceci peut-arriver si le lien que nous vous avons envoyé par email a été coupé, assurez-vous que celui-ci est complet.{% endblocktrans %}</p>
        {% endif %}
  </div>
</div>{# container-main #}
{% endblock %}
