{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Identification" %}{% endblock %}

{% block html_properties %}
    xmlns:fb="http://ogp.me/ns/fb#"
{% endblock %}

{% block content %}
<div class="container-main">
	<ul class="breadcrumb">
		<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
		<li>{% trans "Se connecter ou s'inscrire" %}</li>
	</ul>
	<div class="one-content">
		<h1>{% trans "Identification" %}</h1>
		{% include "accounts/partials/login.html" %}
	</div>
</div>
{% endblock %}