{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Identification" %}{% endblock %}

{% block html_properties %}
    xmlns:fb="http://ogp.me/ns/fb#"
{% endblock %}

{% block content %}
<div class="container-main">
	<ul class="breadcrumb">
		<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
		<li><a href="{{ request.HTTP_REFERER }}">{{ wizard_title }}</a></li>
		<li>{% trans "Identification" %}</li>
	</ul>
	<div class="one-content">
		<h1>{% trans "Identification" %}</h1>
		{% include "accounts/partials/login.html" %}
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block gaq %}
{% if request.path == '/login/' %}
_gaq.push(['_trackPageview', '{{ request.path }}']);
{% else %}
_gaq.push(['_trackPageview', '{{ request.path }}auth/']);
{% endif %}
{% endblock %}