{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Identification" %}{% endblock %}

{% block html_properties %}
    xmlns:fb="http://ogp.me/ns/fb#"
{% endblock %}

{% block content %}
<div class="container-main">
	<ul class="breadcrumb">
		<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
		<li><a href="{{ request.HTTP_REFERER }}">{{ wizard_title }}</a></li>
		<li>{% trans "Identification" %}</li>
	</ul>
	<div class="one-content">
		<h1>{% trans "Identification" %}</h1>
		{% include "accounts/partials/login.html" %}
	</div>
</div>
{% endblock %}

{% block tail %} 	
{{ block.super }}	  	
	<script type="text/javascript" src="http://idn.test.laposte.france-sso.fr/anywhere/jsdk/anywhere-1.2.1.js"></script>	  	
	<script language="Javascript">idn.anywhere.setup({"client_id":"_ce85bad96eed75f0f7faa8f04a48feedd56b4dcb","redirect_uri":"http://staging.e-loue.com/login/?connected=true","scope":"null","display":"popin"});</script>	  	
{% endblock %}

{% block footer %}
{% endblock %}