{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Identifiction" %}{% endblock %}

{% block content %}
<div id="wizard-page" class="container-main">
	<ul class="breadcrumb">
		<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
        <li><a href="{{ request.HTTP_REFERER }}">{{ wizard_title }}</a></li>
		<li>{% trans "Informations complémentaires" %}</li>
	</ul>
	<div class="content-main">
		<h1>{% trans "Informations complémentaires" %}</h1>
        <p class="form-header">
            {% blocktrans %}
            Pour protéger votre confidentialité, nous cachons votre nom, numéro de téléphone et vos coordonnées tant que la location n'a pas été confirmée.
            {% endblocktrans%}
        </p>
		{% include "accounts/partials/missing.html" %}
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block tail %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {

        	var addNewAddress = $("a#addNewAddress");
        	var addNewPhone = $("a#addNewPhone");

            var cancelNewAddress = $("a#cancelNewAddress");
            var cancelNewPhone  = $("a#cancelNewPhone");

            var addresses = $("#id_1-addresses, #id_2-addresses")[0];
            var phones = $("#id_1-phones, #id_2-phones")[0];

            if(addresses == undefined || addresses.lenght ==  1) {
                cancelNewAddress.hide();
                $("div#newAddress").show();
            }

            if(phones == undefined || phones.lenght == 1) {
                cancelNewPhone.hide();
                $("div#newNumber").show();

            }

            addNewAddress.click(function (e) {
                e.preventDefault();
                $("div#newAddress").show();
                $("div.addresses").hide('slow');
                addresses.selectedIndex=0;
            });

            cancelNewAddress.click(function (e) {
                e.preventDefault();
                $("div.addresses").show();
                $("div#newAddress").hide('slow');
                addresses.selectedIndex=1;
            });

            addNewPhone.click(function (e) {
                e.preventDefault();
                $("div#newNumber").show();
                $("div.phones").hide('slow');
                phones.selectedIndex=0;
            });

            cancelNewPhone.click(function (e) {
                e.preventDefault();
                $("div.phones").show();
                $("div#newNumber").hide('slow');
                phones.selectedIndex=1;
            });
            /*
            var addresses = $("#id_1-addresses, #id_2-addresses")[0];
            var phones = $("#id_1-phones, #id_2-phones")[0];

        	if (!addresses||addresses.length == 1 ){
        		$(".new-address").show();
        	}

        	if (!phones||phones.length == 1 ){
        		$(".new-number").show();
        	}

            addNewAddress.click(function (event) { 
                event.preventDefault();
                $(".new-address").show();
                $(this).hide();
                addresses.selectedIndex=0;
            });

            addNewPhone.click(function (event) { 
                event.preventDefault();
                $(".new-number").show();
                $(this).hide();
                phones.hide();
                phones.selectedIndex=0;
            });*/
        })
    </script>

{% endblock %}