{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Identifiction" %}{% endblock %}

{% block content %}
<div id="wizard-page" class="container-main">
	<ul class="breadcrumb">
		<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
        <li><a href="{{ request.HTTP_REFERER }}">{{ wizard_title }}</a></li>
		<li>{% trans "Informations complémentaires" %}</li>
	</ul>
	<div class="content-main">
		<h1>{% trans "Informations complémentaires" %}</h1>
		{% include "accounts/partials/missing.html" %}
	</div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block tail %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function () {

        	var addNewAddress = $(".add-new-address");
        	var addNewPhone = $(".add-new-number");

            var addresses = $("#id_1-addresses, #id_2-addresses")[0];
            var phones = $("#id_1-phones, #id_2-phones")[0];

        	if (!addresses||addresses.length == 1 ){
        		$(".new-address").show();
        	}

        	if (!phones||phones.length == 1 ){
        		$(".new-number").show();
        	}

            addNewAddress.click(function (event) { 
                event.preventDefault();
                $(".new-address").show();
                $(this).hide();
                addresses.selectedIndex=0;
            });

            addNewPhone.click(function (event) { 
                event.preventDefault();
                $(".new-number").show();
                $(this).hide();
                phones.hide();
                phones.selectedIndex=0;
            });
        })
    </script>

{% endblock %}