{% extends "base.html" %}
{% load i18n product paginator%}
{% block title %}Historique de vos locations en tant que locataire{% endblock %}

{% block content %}
<div id="menu" class="clearfix">
	<ul class="x12">
		<li class='menu-tab first'><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
		<li class='menu-tab'><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</li>
		<li class='menu-tab selected'><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
		<li class='menu-tab'><a href="{% url patron_edit %}">{% trans "Mon compte" %}</a></li>
	</ul>
</div>
<div id="sub-menu" class="clearfix">
	<ul class="x12">
		<li class="sub-tab first"><a href="{% url borrower_booking %}">{% trans "Locations actives" %}</a></li>
		<li class="sub-tab selected"><a href="{% url borrower_history %}">{% trans "Historique des locations" %}</a></li>
	</ul>
</div>
<div id="content-dash" class="clearfix">
	<div class="content-header x12">
		<h1>{% trans "Historiques des locations" %}</h1>
	</div>
	<ul class="booking-list x12">
	 {% for booking in booking_list %}
	    {% include "rent/partials/booking.html" %}
	 {% endfor %}
	</ul>{# booking-list #}
	{% pagination %}
  {% if is_paginated %}
     <div class="pages x8 first">
      <ul class="pages-list">
     {% if page_obj.has_previous %}
    <li class="previous"><a href="{% url owner_product page_obj.previous_page_number %}">&#171; {% trans "Page précédente" %}</a></li>
     {% endif %}
     {% for page in page_range %}
    <li class="page-{{ page }} {% if page_obj.number == page %}select{% endif %}"><a href="{% url owner_product page %}">{{ page }}</a></li>
   {% endfor %}
     {% if page_obj.has_next %}
    <li class="next"><a href="{% url owner_product page_obj.next_page_number %}">{% trans "Page suivante" %} &#187;</a></li>
     {% endif %}
    </ul> 
     </div>{# pager #}
    {% endif %}
</div>
{% endblock %}