{% extends "base.html" %}
{% load i18n product paginator%}

{% block title %}{% trans "Vos locations en cours en tant que locataire" %}{% endblock %}

{% block content %}
<div id="content" class="xgrid">
    <div class="content-top">
        <ul id="menu" class="x12">
            <li class="menu-tab first"><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
			<li class="menu-tab selected"><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
			<li class="menu-tab">{% trans "Locataire" %}</li>
			<li class="menu-tab"><a href="{% url patron_edit %}">{% trans "Mon compte" %}</a></li>
			<li class="menu-tab"><a href="{% url messages_inbox %}">{% blocktrans %}Messages({{ messages_inbox_count }}){% endblocktrans %}</a></li>
		</ul>
	</div>
	<div id="sub-menu">
		<ul class="x12">
			<li class="sub-tab first selected"{% trans "Locations actives" %}</li>
			<li class="sub-tab"><a href="{% url borrower_history %}">{% trans "Historique des locations" %}</a></li>
        </ul>
    </div>
    <div class="content-header x12">
		<h1>{% trans "Locations en cours" %}</h1>
	</div>
	<ul id="booking-list" class="x12">
	{% for booking in booking_list %}
    	{% include "rent/partials/booking.html" %}
    {% endfor %}
	</ul>
	{% pagination %}
	{% if is_paginated %}
	<div class="pages x8 first">
	    <ul class="pages-list">
	        {% if page_obj.has_previous %}
	        <li class="previous"><a href="{% url owner_product page_obj.previous_page_number %}">&#171; {% trans "Page précédente" %}</a></li>
	        {% endif %}
	        {% for page in page_range %}
	        <li class="page-{{ page }} {% if page_obj.number == page %}select{% endif %}"><a href="{% url owner_product page %}">{{ page }}</a></li>
	        {% endfor %}
	        {% if page_obj.has_next %}
	        <li class="next"><a href="{% url owner_product page_obj.next_page_number %}">{% trans "Page suivante" %} &#187;</a></li>
	        {% endif %}
        </ul> 
    </div>{# pager #}
    {% endif %}
    </div>
</div>
{% endblock %}
