{% extends "accounts/dashboard.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Mes réservations" %} - {% trans title_page %}{% endblock %}
{% block head %}
	{{block.super}}
{% endblock %}

{% block content-aside-profil %}
{% url borrower_booking_authorized as borrower_booking_authorized %}
{% url borrower_booking_pending as borrower_booking_pending %}
{% url borrower_booking_history as borrower_booking_history %}
{% url borrower_booking_ongoing as borrower_booking_ongoing %}
<ul class="nav-sub-bar">
	<li><a href="{{ borrower_booking_authorized }}" class="{% active request borrower_booking_authorized %}">{% trans "Demandes de réservation" %}</a></li>
    <li><a href="{{ borrower_booking_pending }}"  class="{% active request borrower_booking_pending %}">{% trans "Réservations à venir" %}</a></li>
    <li><a href="{{ borrower_booking_ongoing }}" class="{% active request borrower_booking_ongoing %}">{% trans "Réservations en cours" %}</a></li>
    <li><a href="{{ borrower_booking_history }}" class="{% active request borrower_booking_history %}">{% trans "Réservations terminées" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}
	<h2>{% trans title_page %}</h2>
	{% include 'accounts/partials/booking_list_borrower.html' %}
{% endblock %}
