{% extends "accounts/dashboard.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Mes réservations - Réservation à venir" %}{% endblock %}
{% block head %}
	{{block.super}}
{% endblock %}

{% block content-aside-profil %}
{% url borrower_booking as borrower_booking %}
{% url borrower_history as borrower_history %}
<ul class="nav-sub-bar">
    <li><a href="{{ borrower_booking }}"  class="{% active request borrower_booking %}">{% trans "Réservation à venir" %}</a></li>
    <li><a href="#" class="">{% trans "Demande de réservation" %}</a></li>
    <li><a href="{{ borrower_history }}" class="{% active request borrower_history %}">{% trans "Historiques" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}
{% endblock %}