{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Contactez e-loue" %}{% endblock %}

{% block content %}
<div id="wizard-page" class="container-main">
	<ul class="breadcrumb" >
		<li><a href="{% url 'products.views.homepage' %}">{% trans "Accueil" %}</a></li>
		<li>{% trans "Contactez-nous" %}</li>
	</ul>
	<div class="content-main">
		<h1>{% trans "Contactez-nous" %}</h1>
        {% include "partials/alerts_message.html" %}
		<form class="form-horizontal" method="post" action="{% url 'accounts.views.contact' %}">
			{% csrf_token %}
			{% for formfield in form %}
			<div class="control-group {% if formfield.errors %} error {% endif %}">
		        <label class="control-label" for="{{ formfield.id_for_label }}">{{ formfield.label }} {% if formfield.field.required %}*{% endif %}</label>
		        <div class="controls">
		            {{ formfield }}
		            <p class="help-block">{{ formfield.help_text}}</p>
		            {% if formfield.errors %}
		            <span class="help-inline">
		                {% for error in formfield.errors %}
		                    {{ error|escape }}
		                {% endfor %}
		            </span>
		            {% endif %}
		        </div>
	    	</div>
			{% endfor %}
			<div class="form-actions">
		    	<button type="submit" class="btn btn-primary">{% trans "Continuer" %}</button>
		    </div>
		</form>
	</div>{# content-main #}
	<div class="aside-main">
	</div>{# aside-main #}
</div>{# container-main #}
{% endblock %}