{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Identifiction" %}{% endblock %}

{% block content %}
<div id="wizard-page" class="container-main">
	<ul class="breadcrumb">
		<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
		<li>{% trans "Identification" %}</li>
	</ul>
	<div class="content-main">
		<h1>{% trans "Payment informations" %}</h1>
		<form class="form-horizontal" method="post" action="">
			{% csrf_token %}
	        {{form}}
	      <div class="form-actions">
	        <button type="submit" class="btn btn-primary">Enregistrer</button>
	        <button type="reset" class="btn btn-cancel">Annuler</a>
	      </div>
	      <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	      {{ previous_fields|safe }}
	      Powered by Paybox™
	    </form>
	</div>
	<div class="content-aside">
	</div>
</div>
{% endblock %}
