{% extends "base.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Votre tableau de bord" %}{% endblock %}

{% block content %}
<div id="profil" class="container-main">
    <div class="top-bar">
        {% url dashboard as dashboard %}
        {% url inbox as inbox %}
        {% url borrower_booking_pending as borrower_booking %}
        {% url owner_product as owner_product %}
        {% url patron_edit as patron_edit %}
        <ul class="nav-bar">
            <li><a href="{{ dashboard }}" class="{% active request dashboard %}">{% trans "Tableau de bord" %}</a></li>
            <li><a href="{{ inbox }}" class="{% active request "^/dashboard/messages/" %}">{% trans "Messages" %} ({{unread_message_count}})</a></li>
            <li><a href="{{ borrower_booking }}" class="{% block borrower_booking %}{% endblock %}{% active request  "^/dashboard/borrower/" %}">{% trans "Mes réservations" %}</a></li>
            <li><a href="{{ owner_product }}" class="{% block owner_product %}{% endblock %}{% active request "^/dashboard/owner/" %}">{% trans "Mes annonces" %}</a></li>
            <li><a href="{{ patron_edit }}" class="{% active request patron_edit %}">{% trans "Paramètres de compte" %}</a></li>
        </ul>
    </div>{# top-bar #}
    <div class="content-aside-profil">
        {% block content-aside-profil %}
        <div class="profil-block">
            <div class="avatar-picture" style="margin-top: 0px;">
                {% if user.avatar %}
                <img src="{{ user.avatar.product_page.url }}" width="180" height="180">
                {% else %}
                <img src="{{ MEDIA_URL }}images/default_avatar.png" width="180" height="180">
                {% endif %}
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <address>{{ user.default_address.city }} - {{ user.default_address.zipcode}}</address>
            </div><!-- avatar-picture -->
            <div class="profil-intro-content">
                {% if patron.about %}
                    <p class="profil-description">{{ patron.about }}</p>
                {% endif %}
                <a href="{% url patron_edit %}" class="btn-contactme">Editer mon profil</a>
            </div><!-- profil-description -->
        </div><!-- profil-block -->
        {% endblock %}
    </div>{# content-aside-profil #}
    <div class="content-main-profil">
        {% block content-main-profil %}
        
        {% endblock %}
    </div>{# content-main-profil #}
</div>{# profil #}
{% endblock %}
