{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Votre tableau de bord" %}{% endblock %}

{% block content %}
<div id="content" class="xgrid">
    <div class="content-top">
        <ul id="menu" class="x12">
            <li class="menu-tab first selected">{% trans "Tableau de bord" %}</li>
			<li class="menu-tab"><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
			<li class="menu-tab"><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
			<li class="menu-tab"><a href="{% url patron_edit %}">{% trans "Mon compte" %}</a></li>
			<li class="menu-tab"><a href="{% url inbox %}">{% blocktrans %}Messages({{ unread_message_count }}){% endblocktrans %}</a></li>
        </ul>
    </div>
    <div class="x3" style="margin-top: 20px;">
        <div class="box-welcome" style="text-align: center;">
            <p>{{ user.username }}</p>
            <a href="{% url patron_edit %}" class="btn long-blue">{% trans "Modifier votre profil" %}</a>
        </div>
        <div class="box-links">
            <ul>
                <li><a href="{% url product_create %}">{% trans "Mettre un objet en location" %}</a></li>
                <li><a href="{% url product_list %}">{% trans "Rechercher une location" %}</a></li>
                <li><a href="{% url owner_product %}">{% trans "Accéder à mes objets" %}</a></li>
                <li><a href="{% trans "/comment-ca-marche/" %}">{% trans "Comment ça marche ?"%}</a></li>
            </ul>
        </div>
    </div>
    <div class="x9" style="margin-top: 20px;">
        <!--<div class="content-header x9 first">
            <h2>{% trans "Que pouvez-vous faire ensuite ?" %}</h2>
        </div>
        <ul class="x8">
			<li><a href="{% url patron_edit %}">{% trans "Editer votre profil" %}</a></li>
        </ul>-->
        <div class="content-header x9 first">
            <h2>{% trans "Locations en tant que <strong>propriétaire</strong>" %}</h2>
        </div>
        <div class="stat-number x2">
            {% with user.bookings.authorized|length as counter %}
				<a href="{% url owner_booking %}" class="highlight">{{ counter }}</a><br />
				{% blocktrans count counter as counter %}
                 <span>Location<br />en attente de validation</span>
                {% plural %}
			     <span>Locations<br />en attente de validation</span>
               {% endblocktrans %}
			 {% endwith %}
        </div>
        <div class="stat-number x2">
            {% with user.bookings.pending|length as counter %}
			  <a href="{% url owner_booking %}">{{ counter }}</a><br />
			  {% blocktrans count counter as counter %}
                <span>Location<br />en cours</span>
              {% plural %}
			    <span>Locations<br />en cours</span>
              {% endblocktrans %}
			 {% endwith %}
        </div>
        <div class="stat-number x2">
            {% with user.products.all|length as counter %}
			  <a href="{% url owner_product %}">{{ counter }}</a><br />
			  {% blocktrans count counter as counter %}
                <span>Objet<br />en location</span>
              {% plural %}
 			    <span>Objets<br />en location</span>
              {% endblocktrans %}
			 {% endwith %}
        </div>
        <div class="content-header x9 first">
            <h2>{% trans "Locations en tant que <strong>locataire</strong>" %}</h2>
        </div>
        <div class="stat-number x2">
            {% with user.rentals.authorized|length as counter %}
				<a href="{% url borrower_booking %}" class="highlight">{{ counter }}</a><br />
				{% blocktrans count counter as counter %}
                 <span>Location<br />en attente de validation</span>
                {% plural %}
			     <span>Locations<br />en attente de validation</span>
               {% endblocktrans %}
			 {% endwith %}
        </div>
        <div class="stat-number x2">
            {% with user.rentals.pending|length as counter %}
			  <a href="{% url borrower_booking %}">{{ counter }}</a><br />
			  {% blocktrans count counter as counter %}
                <span>Location<br />en cours</span>
              {% plural %}
			    <span>Locations<br />en cours</span>
              {% endblocktrans %}
			 {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
