{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="menu" class="clearfix">
	<ul class="x12">
		<li class="menu-tab first selected">{% trans "Tableau de bord" %}</li>
		<li class="menu-tab"><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
		<li class="menu-tab"><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
		<li class="menu-tab"><a href="#">{% trans "Messages" %}</a></li>
		<li class="menu-tab"><a href="{% url patron_edit %}">{% trans "Mon compte" %}</a></li>
	</ul>
</div>
<div id="content-dash" class="clearfix">
	<div class="x3">
		<div class="welcome-dash x3 first">
			<p class="pseudo">Princessedunsoir</p>
			<a href="#" class="btn btn-profil">Modifier votre profil</a>
		</div>
		<div class="box-info x3 first">
			<div class="box-info-header">
				<h5>Liens utiles</h5>
			</div>
			<div class="box-info-content">
				<ul>
					<li><a href="#">Comment ça marche ?</a></li>
					<li><a href="#">Mettre en location</a></li>
					<li><a href="#">Changer mon emplacement</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-header x9">
		<h1>Tableau de bord</h1>
	</div>
</div>
{% endblock %}

