{% extends "accounts/patron_edit.html" %}
{% load i18n navbar %}


{% block title %}{% trans "Envoyer une invitation à mes amis Facebook" %}{% endblock %}

{% block html_properties %} xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml"{% endblock %}

{% block tail %}
  {{ block.super }}
  <script>
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/fr_FR/all.js";
     d.getElementsByTagName('head')[0].appendChild(js);
   }(document));
  </script>


  <script>
      window.fbAsyncInit = function() {
        console.log("before init...")
        FB.init({
          appId      : '{{ FACEBOOK_APP_ID }}', // App ID
          channelUrl : '{{ MEDIA_URL }}channel.html', // Channel File
          status : true,
          cookie : true,
          oauth: true
        });
        console.log("init....");
        FB.getLoginStatus(function(response){
          console.log(response.status);
          if (response.status === 'connected') {
            console.log("fetching friends....");
            FB.api(
              'me/friends/?fields=picture,name', 
              function (response) {
                console.log(response.data);
                template = '<ul id="friends">{% templatetag openvariable %}#data{%templatetag closevariable %}<li id="{%templatetag openvariable%}id{% templatetag closevariable %}"><img src="{%templatetag openvariable%}picture{% templatetag closevariable %}"/> {%templatetag openvariable%}name{% templatetag closevariable %} <span id="{%templatetag openvariable%}id{% templatetag closevariable %}"><b>Invite</b></span></li>{%templatetag openvariable%}/data{%templatetag closevariable %}</ul>';

                $('#friends').html(Mustache.to_html(template, {data: response.data}));
                $('span', '#friends').click(
                  function a(i) {
                    FB.ui({
                      to: i.currentTarget.id,
                      method: 'send',
                      name: '!!!',
                      link: 'https://www.e-loue.com/',
                    });
                  }
                );
                // for (friend_index in response.data) {
                //   friend = response.data[friend_index];
                //   img_src = friend.picture;
                //   name = friend.name;
                //   $('#friends').append('<li id>'+'<img src="'+img_src+'"/>' +name+'</li>');
                // }
                console.log(response);
              }
            );
          } else {
            $('p#fb-connect-invite-link').html('<a id="fbfb" class="btn">{% trans "Trouvez  vos amis sur Facebook" %}</a>');
            $('#fbfb').click(function (event) {
              FB.login(function (response){
                console.log(response);
                window.location.reload();
              }, {scope: ''});
            })
          }
        });
      }

      function sendRequestToRecipients() {
        var user_ids = document.getElementsByName("user_ids")[0].value;
        FB.ui({method: 'apprequests',
          message: 'My Great Request',
          to: user_ids, 
        }, requestCallback);
      }

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'My Great Request'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
      }
    </script>
{% endblock %}

{% block invite-submenu %}
<ul>
  <li><a href="{{ facebook_invite }}" class="{% active request facebook_invite %}-sub">
    <img src="{{ MEDIA_URL }}images/facebook_12by12.png" alt="" />{% trans "Facebook" %}</a></li>
  <li><a href="{{ gmail_invite }}" class="{% active request gmail_invite %}-sub"><img src="{{ MEDIA_URL }}images/gmail_12by12.png" alt="" />{% trans "Gmail"%}</a><li>
</ul>
{% endblock %}

{% block content-main-profil %}
<div id="fb-root"></div>
<h1>{% trans "Invitez vos amis Facebook sur e-loue" %}</h1>

<div class="fb-connect-invite" style="margin: 0 70px;">
  <p style="font-size: 14px; line-height: 20px; margin-bottom: 20px;">
    Nous n'avons pas pu trouver vos amis sur Facebook parce que vous n'avez pas connecté Facebook à e-loue. Cliquez sur le bouton ci dessous pour créer la connexion.
  </p>
  <p id="fb-connect-invite-link" style="text-align: center;"></p>
</div>

<ul id="friends"></ul>
{% endblock %}