{% extends "base.html" %}
{% load i18n product paginator %}

{% block title %}{% trans "Votre profil" %}{% endblock %}

{% block content %}    
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
function poptastic(url) {
  var newWindow = window.open(url, '_blank', 'height=600,width=450');
  newWindow.opener = self;
  if (1) {
    newWindow.focus();
  }
}
  FB.init({
    appId  : '197983240245844',
    status : true,
    cookie : true,
    oauth: true
  });
  function sendRequestViaMultiFriendSelector() {
    FB.ui({method: 'apprequests',
      message: 'My Great Request'
    });
  }
  
</script>
<div id="content" class="xgrid">
       <div class="content-top">
         <ul id="menu" class="x12">
            <li class="menu-tab first"><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
			<li class="menu-tab"><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
			<li class="menu-tab"><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
			<li class="menu-tab">{% trans "Mon compte" %}</li>
			<li class="menu-tab"><a href="{% url inbox %}">{% blocktrans %}Messages({{ unread_message_count }}){% endblocktrans %}</a></li>
		 </ul>
	    </div>
	    <div id="sub-menu">
	        <ul class="x12">
	            <li class="sub-tab first"><a href="{% url patron_edit %}">{% trans "Votre profil" %}</a></li>
			    <li class="sub-tab"><a href="{% url patron_edit_password %}">{% trans "Modification du mot de passe" %}</a></li>
			    <li class="sub-tab">Invitations</li>
	        </ul>
	    </div>
	    {% if formset %} 
	    <form method="POST" action="">
		    {% csrf_token %}
		    {{ formset.management_form }}
		    Choisissez vos amis:
		    <div style="height:250px;width:500px;font:16px/26px Georgia, Garamond, Serif;overflow:scroll;">
			    <table>
				    {% for form in formset.forms %}
					    <tr>
					    	<td>{{ form.checked }}</td>
					    	<td>{{ form.email }} {{ form.name }}

					    	{% if form.email.data %} {{ form.email.data }}
					    	{% else %} {{ form.initial.email }}
					    	{% endif %}

					    	{% if form.name.data %} ({{ form.name.data }})
					    	{% else %}
					    		{% if form.initial.name %} ({{ form.initial.name }}) 
					    		{% endif %}
					    	{% endif %}

					    	</td>
					    </tr>
			        {% endfor %}
			    </table>
			</div>
		    <input type="submit" value="Envoie invitation"/>
		</form>
		{% else %}
	    <div class="x12 p4">
	    	<a href="javascript:poptastic('https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile+https://www.google.com/m8/feeds&state=/profile&redirect_uri=http://localhost:8000/oauth2callback&response_type=token&client_id=382908503214.apps.googleusercontent.com')">
	    		Invitez vos amis! <img src="https://www.google.com/mail/help/images/small_logo.gif"/>
	    	</a><p/>    <script src="http://connect.facebook.net/en_US/all.js"></script>

		    <input type="button"
		      onclick="sendRequestViaMultiFriendSelector(); return false;"
		      value="Send Request to Many Users with MFS"/>
	    </div>
	    <form action="" id="gmail_submit_token" method="GET">
		    <input type="hidden" name="0-facebook_access_token" id="id_0-facebook_access_token">
		    <input type="submit" value="" style="visibility:hidden"/>
	    </form>
		{% endif %}
</div>
{% endblock %}