
{% extends "accounts/facebook_invite.html" %}
{% load i18n navbar product %}


{% block title %}{% trans "Envoyer une invitation à mes contacts Gmail" %}{% endblock %}

{% block tail %}
{{ block.super }}
<script type="text/javascript">
	function poptastic(url) {
	  var newWindow = window.open(url, '_blank', 'height=600,width=450');
	  newWindow.opener = self;
	  if (1) {
	    newWindow.focus();
	  }
	}
</script>
<script type="text/javascript">
  $(function() {
    $( "#gmail-list button.btn" ).click(function() {
      answer = confirm('Etes-vous sur de vouloir envoyer une invitation ?');
      if (answer == true) {
        return true;
      } else {
        return false;
      }
    });
  });
</script>

{% endblock %}


{% block content-main-profil %}
<style type="text/css">
.friends-list {
  height: 300px;
  overflow-y: auto;
}

.friends-list li {
  margin-bottom: 5px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: #364C59;
  font-size: 13px;
  height: 35px;
  border-bottom: 1px solid #ddd
}

.friends-list {
  padding-top: 5px;
}

.friends-list img {
  float: left;
  margin-right: 5px;
  display: table-cell;
}

.friends-list li button {
  font-size: 11px;
  padding: 3px;
  float: right;
  margin-top: 5px;
}


.friends-list .name {
  margin-top: 10px;
  float: left;
}
</style>

<h1>{% trans "Gmail"%}</h1>

<div class="fb-connect-invite" style="margin: 0 70px;">
  {% if formset %} 
  <div style="margin: 0 140px;">
  	<h2>{% trans "Invitez vos contacts" %}</h2>
  	<input type="text" placeholder="Rechercher un contact" id="filter" style="width: 270px; margin-bottom: 0px;"/>
  	<ul id="gmail-list" class="friends-list filtered">
  		{% for data in initial_data %}
  		<li>
  			<img src="{{ MEDIA_URL }}images/default_avatar.png" width="30"/>
  			<div class="name">{{ data.name|truncate:28}}</div> 
  			<button type="button" class="btn btn-contactme">{% trans "Inviter"%}</button>	
  		</li>
  		{% endfor %}
  	</ul>
  </div>
	{% else %}
  <p style="font-size: 14px; line-height: 20px; margin-bottom: 20px;">
    Nous n'avons pas pu trouver vos contacts sur Gmail parce que vous n'avez pas connecté Gmail à e-loue. Cliquez sur le bouton ci dessous pour créer la connexion.
  </p>
	<p style="text-align: center;">
		<a href="javascript:poptastic('https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile+https://www.google.com/m8/feeds&state=/profile&redirect_uri=http://localhost:8000/oauth2callback&response_type=token&client_id=382908503214.apps.googleusercontent.com')" class="btn">
			Invitez vos contacts Gmail
		</a>
	</p>
	<form action="" id="gmail_submit_token" method="GET">
	    <input type="hidden" name="0-facebook_access_token" id="id_0-facebook_access_token">
	    <input type="submit" value="" style="visibility:hidden"/>
	</form>
	{% endif %}
</div>

{% endblock %}