{% extends "accounts/dashboard.html" %}
{% load i18n navbar product paginator %}

{% block title %}{% trans "Mes annonces" %}{% endblock %}
{% block head %}
	{{block.super}}
{% endblock %}

{% block content-aside-profil %}
{% url owner_product as owner_product %}
{% url owner_booking_authorized as owner_booking_authorized %}
{% url owner_booking_history as owner_booking_history %}
{% url owner_booking_pending as owner_booking_pending %}
{% url owner_booking_ongoing as owner_booking_ongoing %}

<ul class="nav-sub-bar">
    <li><a href="{{ owner_product }}"  class="{% active request owner_product %}">{% trans "Gérer mes annonces" %}</a></li>
    <li><a href="{{ owner_booking_authorized }}" class="{% active request owner_booking_authorized %}">{% trans "Demande de réservation" %}</a></li>
    <li><a href="{{ owner_booking_pending }}" class="{% active request owner_booking_pending %}">{% trans "Réservations à venir" %}</a></li>
    <li><a href="{{ owner_booking_ongoing }}" class="{% active request owner_booking_ongoing %}">{% trans "Réservations en cours" %}</a></li>
    <li><a href="{{ owner_booking_history }}" class="{% active request owner_booking_history %}">{% trans "Historiques" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}
	<h2>{% trans "Gérer mes annonces" %}</h2>
	<ul class="product-list">
	{% for product in product_list %}
	<li>
		<a href="{{ product.get_absolute_url }}" class="pl-img">
			{% with product.pictures.all|first as picture %}
           	{% if picture.thumbnail %}
            <img src="{{ picture.thumbnail.url }}" alt="product.summary" width="60" height="60" />
            {% endif %}
            {% endwith %}
        </a><!-- pl-img -->
        <div class="pl-content">
        	<h3>
        	<a href="{{ product.get_absolute_url }}">{{product.summary|capitalize|truncate:200 }}</a>
        	</h3>
        	<address>
        		{{ product.address.city|capfirst }}
        		{% if product.address.zipcode %}, {{ product.address.zipcode }} {% endif %}
        	</address>
        	{% with product.prices.day|first as price %}
        	<p class="pl-price">
        		{{ price }} <span>/{{price.unit|unit}}</span>
        	</p>
        	{% endwith %}
       	</div><!-- pl-content -->
       	<ul class="pl-bookings" style="float: left; padding: 10px; margin-left: 40px;">
       		<li style="height: auto; margin-bottom: 5px;">
       			<span class="label label-success">3 demandes de réservation</span>
       		</li>
 			<li style="height: auto; margin-bottom: 5px; border-bottom: 0px;">
 				<span class="label label-warning">3 réservations à venir</span>
 			</li>
       		<li style="height: auto;">
       			<span class="label">2 réservation en cours</span>
       		</li>
       	</ul>
       	<div style="float: right; padding-top: 23px;">
       		<a href="{% url owner_product_edit product.slug product.pk %}" class="btn btn-contactme">{% trans "Modifier l'annonce" %}</a>
       	</div>
	</li>
	{% endfor %}
	</ul>
	{% pagination %}
        {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="{% url owner_product page_obj.previous_page_number %}" class="prev">&#171; {% trans "Page précédente" %}</a>
            {% endif %}
            {% for page in page_range %}
            <a href="{% url owner_product page %}" {% if page_obj.number == page %}class="page-selected"{% endif %}>{{ page }}</a>
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="{% url owner_product page_obj.next_page_number %}" class="next">{% trans "Page suivante" %} &#187;</a>
            {% endif %}
        </div><!-- pagination -->
        {% endif %}
{% endblock %}