{% extends "accounts/owner_product.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Mes annonces" %} - {%trans content %}{% endblock %}
{% block head %}
	{{block.super}}
{% endblock %}


{% block content-main-profil %}
<h2>{% trans content %}</h2>
	{% include 'accounts/partials/booking_list.html' %}<ul class="messages">
	<li>
		<a href="#" class="m-img">
			<img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="#">Princess</a> 24 novembre 2011, 18:02
				</p>
				<div class="m-text">
					<table class="table table-bordered booking-resume">
						<tbody>
						<tr>
							<th class="b-state">Demande</th>
							<td><a href="#" class="b-title">Robe de  soirée</a> <a href="#" class="b-more">Voir le détail</a></td>
						</tr>
						<tr>
							<th>Début</th>
							<td>Lundi 15 novembre 2012</td>
						</tr> 
							<th>Fin</th>
							<td>Mercredi 18 novembre 2012</td>
						</tr>
						<tr>
							<th>Montant</th>
							<td>134 &euro;</td>
						</tr>
						<tr class="b-action">
							<td colspan="2"><a href="#">Accepter</a> - <a href="#">Refuser</a> - <a href="#">Envoyer un message au locataire</a></td>
						</tr>
						</tbody>
					</table>
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
	<li>
		<a href="#" class="m-img">
			<img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="#">Princess</a> 24 novembre 2011, 18:02
				</p>
				<div class="m-text">
					<table class="table table-bordered booking-resume">
						<tbody>
						<tr>
							<th class="b-state">Demande</th>
							<td><a href="#" class="b-title">Robe de  soirée</a> <a href="#" class="b-more">Voir le détail</a></td>
						</tr>
						<tr>
							<th>Début</th>
							<td>Lundi 15 novembre 2012</td>
						</tr> 
							<th>Fin</th>
							<td>Mercredi 18 novembre 2012</td>
						</tr>
						<tr>
							<th>Montant</th>
							<td>134 &euro;</td>
						</tr>
						<tr class="b-action">
							<td colspan="2"><a href="#">Accepter</a> - <a href="#">Refuser</a> - <a href="#">Envoyer un message au locataire</a></td>
						</tr>
						</tbody>
					</table>
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
	<li>
		<a href="#" class="m-img">
			<img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="#">Princess</a> 24 novembre 2011, 18:02
				</p>
				<div class="m-text">
					<table class="table table-bordered booking-resume">
						<tbody>
						<tr>
							<th class="b-state">Demande</th>
							<td><a href="#" class="b-title">Robe de  soirée</a> <a href="#" class="b-more">Voir le détail</a></td>
						</tr>
						<tr>
							<th>Début</th>
							<td>Lundi 15 novembre 2012</td>
						</tr> 
							<th>Fin</th>
							<td>Mercredi 18 novembre 2012</td>
						</tr>
						<tr>
							<th>Montant</th>
							<td>134 &euro;</td>
						</tr>
						<tr class="b-action">
							<td colspan="2"><a href="#">Accepter</a> - <a href="#">Refuser</a> - <a href="#">Envoyer un message au locataire</a></td>
						</tr>
						</tbody>
					</table>
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
</ul>
{% endblock %}