{% extends "accounts/owner_product.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Mes annonces - Historique des réservations" %}{% endblock %}
{% block head %}
	{{block.super}}
{% endblock %}


{% block content-main-profil %}
<ul class="messages">
	<li>
		<a href="#" class="m-img">
			<img src="{{ STATIC_URL }}images/default_avatar.png" width="60" height="60" alt="">
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="#">Princess</a>
				</p>
				<div class="m-text">
					<table class="table table-bordered booking-resume">
						<tbody>
						<tr>
							<th class="b-state">Clôturer</th>
							<td><a href="#" class="b-title">Robe de  soirée</a> <a href="#" class="b-more">Voir le détail</a></td>
						</tr>
						<tr>
							<th>Début</th>
							<td>Lundi 15 novembre 2012</td>
						</tr> 
							<th>Fin</th>
							<td>Mercredi 18 novembre 2012</td>
						</tr>
						<tr>
							<th>Montant</th>
							<td>134 &euro;</td>
						</tr>
						<tr class="b-action">
							<td colspan="2"><a href="#">Commenter</a> - <a href="#">Imprimer la facture</a> - <a href="#">Envoyer un message au locataire</a></td>
						</tr>
						</tbody>
					</table>
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
	<li>
		<a href="#" class="m-img">
			<img src="{{ STATIC_URL }}images/default_avatar.png" width="60" height="60" alt="">
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="#">Princess</a>
				</p>
				<div class="m-text">
					<table class="table table-bordered booking-resume">
						<tbody>
						<tr>
							<th class="b-state">Clôturer</th>
							<td><a href="#" class="b-title">Robe de  soirée</a> <a href="#" class="b-more">Voir le détail</a></td>
						</tr>
						<tr>
							<th>Début</th>
							<td>Lundi 15 novembre 2012</td>
						</tr> 
							<th>Fin</th>
							<td>Mercredi 18 novembre 2012</td>
						</tr>
						<tr>
							<th>Montant</th>
							<td>134 &euro;</td>
						</tr>
						<tr class="b-action">
							<td colspan="2"><a href="#">Commenter</a> - <a href="#">Imprimer la facture</a> - <a href="#">Envoyer un message au locataire</a></td>
						</tr>
						</tbody>
					</table>
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
</ul>
{% endblock %}