{% extends "accounts/dashboard.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Mes annonces" %}{% endblock %}
{% block head %}
	{{block.super}}
{% endblock %}

{% block content-aside-profil %}
{% url owner_product as owner_product %}
{% url owner_booking as owner_booking %}
{% url owner_history as owner_history %}
<ul class="nav-sub-bar">
    <li><a href="{{ owner_product }}"  class="{% active request owner_product %}">{% trans "Gérer mes annonces" %}</a></li>
    <li><a href="{{ owner_booking }}" class="{% active request owner_booking %}">{% trans "Demande de réservation" %}</a></li>
    <li><a href="{{ owner_history }}" class="{% active request owner_history %}">{% trans "Historiques" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}
{% endblock %}