{% load i18n %}
{% blocktrans with patron.username as username %}
<p>Bonjour {{ username }},</p>
 
<p>Nous venons de recevoir une notification d’oubli de mot de passe.</p>
<p>Il vous suffit de cliquer sur le lien ci-après pour en déterminer un nouveau :</p>
{% endblocktrans %}

<p><a href="{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid token=token %}">{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid token=token %}</a></p>

{% blocktrans %}
 <p>Vous n’aviez pas demandé ce changement ? Vous pensez qu’il s’agit d’une erreur ? Avant tout, rassurez-vous : vous êtes le/la seul(e) à recevoir ce message. Il vous suffit donc de vous connecter à votre compte avec le nouveau mot de passe puis d’aller dans votre profil pour en changer.</p>
{% endblocktrans %} 
<p>{% trans "L'équipe e-loue" %}</p>
