{% extends "accounts/password_reset_form.html" %}
{% load i18n %}


{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block password_reset_content %}
{% if validlink %}
<h1>{% trans "Enter new password" %}</h1>
<form class="form-horizontal" method="post" action="">
	<fieldset>
	{% csrf_token %}
	<div class="control-group">
		<p>
			{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
		 </p>
	</div>
	{% for formfield in form %}
	<div class="control-group {% if formfield.errors %} error {% endif %}">
		<label class="control-label" for="{{ formfield.id_for_label }}">{{ formfield.label }} {% if formfield.field.required %}*{% endif %}</label>
		<div class="controls">
			{{ formfield }}
			<p class="help-block">{{ formfield.help_text}}</p>
			{% if formfield.errors %}
				<span class="help-inline">
	                {% for error in formfield.errors %}
	                    {{ error|escape }}
	                {% endfor %}
	            </span>
	            {% endif %}
	        </div>
    	</div>
	{% endfor %}
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">{% trans 'Modifier' %}</button>
	</div>
</form>
{% else %}
	<h1>{% trans "Lien de mot de passe oublié invalide"%}</h1>
	<p style="margin-bottom: 20px;">
		{% trans "Votre lien n'est plus valide. Merci de recommencer la procédure de réinitialisation de mot de passe en cliquant sur ce lien"%} : <a href="{% url 'password_reset' %}" >{% trans "Mot de passe oublié" %}</a>
	</p>
{% endif %}
{% endblock %}

