extends ../base
-load compressed i18n

block append styles
  {% compressed_css "bootstrap" %}
  {% compressed_css "homepage_styles" %}

block append scripts
  script(src="#{STATIC_URL}bower_components/requirejs/require.js" data-main="#{STATIC_URL}js/widgets/main.js")

block append content-body
  .container-flex
    header.header-site
      include ../jade/_header_site
    article.container.list-layout

      if validlink
        h1 {% trans "Mise à jour du mot de passe effectuée" %}
      else
        h1 {% trans "Lien de mot de passe oublié invalide" %}
        p
          | {% trans "Votre lien n'est plus valide. Merci de recommencer la procédure de réinitialisation de mot de passe en cliquant sur ce lien" %} : 
          a(href="{% url 'password_reset' %}") {% trans "Mot de passe oublié" %}

    footer
      section.row-fluid.insurances.framing: include ../jade/_insurances
      section.row-fluid.footer-links: include ../jade/_footer_links
      section.row-fluid.rss: include ../jade/_rss
