{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="top-content container clearfix">
	<h1>{% trans "Password reset" %}</h1>
</div>{# top-container #}
<div class="content container clearfix">
	<p>
		{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
	</p>
	<form action="" method="post">{% csrf_token %}
 		{{ form.email.errors }}
 	<p>
		<label for="id_email" class="labb">{% trans 'E-mail address:' %}</label> 
		{{ form.email }} 
	</p>
	<p>
		<input type="submit" value="{% trans 'Reset my password' %}" class="grey medium button"/>
	</p>
	</form>
</div>
{% endblock %}
