{% extends "base.html" %}
{% load i18n product paginator%}

{% block content %}
<div id="menu" class="clearfix">
	<ul class="x12">
		<li class='menu-tab first'><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
		<li class='menu-tab'><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</li>
		<li class='menu-tab'><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
		<li class='menu-tab'><a href="#">{% trans "Messages" %}</a></li>
		<li class='menu-tab selected'><a href="{% url patron_edit %}">{% trans "Mon compte" %}</a></li>
	</ul>
</div>
<div id="sub-menu" class="clearfix">
	<ul class="x12">
		<li class="sub-tab first selected"><a href="{% url patron_edit %}">{% trans "Informations profil" %}</a></li>
		<li class="sub-tab"><a href="#">{% trans "Adresses et numéro de téléphone" %}</a></li>
		<li class="sub-tab"><a href="{% url patron_edit_password %}">{% trans "Modification du mot de passe" %}</a></li>
	</ul>
</div>
<div id="content-dash" class="clearfix">
	<div class="more-info x9">
		<form class="form" action="" method="POST">
			{% csrf_token %}
		<table>
			{% if form.is_professional %}
			<tr>
				<td colspan="2" {% if form.is_professional.errors %} class="error-field" {% endif %}>
					<label>Êtes-vous un professionnel ? :</label>
					{{ form.is_professional }} oui
					{% if form.is_professional.errors %}
					    {% for error in form.is_professional.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			<tr class="company-name">
				<th><label>Nom de la société * :</label></th>
				<td {% if form.company_name.errors %} class="error-field" {% endif %}>
					{{ form.company_name }}
					{% if form.company_name.errors %}
					    {% for error in form.company_name.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			{% endif %}
			{% if form.email %}
			<tr>
				<th><label>Email * :</label></th>
				<td {% if form.email.errors %} class="error-field" {% endif %}>
					{{ form.email }}
					{% if form.email.errors %}
					    {% for error in form.email.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			{% endif %}
			{% if form.username %}
			<tr>
				<th><label>Pseudo * :</label></th>
				<td {% if form.username.errors %} class="error-field" {% endif %}>
					{{ form.username }}
					{% if form.username.errors %}
					    {% for error in form.username.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			{% endif %}
			{% if form.civility %}
			<tr>
				<th><label>Civilité * :</label></th>
				<td {% if form.civility.errors %} class="error-field" {% endif %}>
					{{ form.civility }}
					{% if form.civility.errors %}
				 		{% for error in form.civility.errors %}
							<br />
					  	<span class="error">{{ error|escape }}</span>
						{% endfor %}
				{% endif %}
				</td>
			</tr>
			{% endif %}
			{% if form.first_name %}
			<tr>
				<th><label>Prénom * :</label></th>
				<td {% if form.first_name.errors %} class="error-field" {% endif %}>
					{{ form.first_name }}
					{% if form.first_name.errors %}
					    {% for error in form.first_name.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			{% endif %}
			{% if form.last_name %}
			<tr>
				<th><label>Nom * :</label></th>
				<td {% if form.last_name.errors %} class="error-field" {% endif %}>
					{{ form.last_name }}
					{% if form.last_name.errors %}
					    {% for error in form.last_name.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td colspan="2" {% if form.is_professional.errors %} class="error-field" {% endif %}>
					<label>Souhaitez-vous recevoir des informations sur e-loue ? :</label>
					{{ form.is_subscribed }} oui
					{% if form.is_professional.errors %}
					    {% for error in form.is_professional.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			{% endif%}
		</table>
	</div>
	<div class="submit-wizard x9">
		<a href="{% url patron_edit %}">Annuler</a> ou 
		<input type="submit" class="btn big-green" value="Sauvegarder" />
	</form>
	</div>
</div>
{% endblock %}