{% extends "accounts/patron_edit.html" %}
{% load i18n %}

{% block title %}{% trans "Notifications" %}{% endblock %}

{% block pro_opiton-submenu %}
<ul>
  <li><a href="{{ patron_edit_highlight }}">{% trans "Mise en avant" %}</a></li>
  <li><a href="{{ patron_edit_notification }}" class="selected-nav-bar-link-sub">{% trans "Notifications" %}</a></li>
  <li><a href="{{ patron_edit_top_position }}">{% trans "Top position" %}</a></li>
</ul>
{% endblock %}

{% block tail %}
<script type="text/javascript">
$(document).ready(function(){

	var dialogLink = function(linkId, dialogId) {
		$(linkId).click(function (e){
			e.preventDefault();
			$(dialogId).dialog(
				{ 
					resizable: false, 
					width: '350px'
				}
			);
		});
	};

	var deleteNotificationLink = function(id, messageAlert) {
		$(id).click(function (e){
			e.preventDefault();
			answer = confirm(messageAlert);
	        if (answer == true) {
	            return true;
	        } else {
	            return false;
	        }
		});
	};

	dialogLink('a.#add_new_email_notification', 'div#add_new_email_notification_form');
	deleteNotificationLink('.delete-email', 'Etes-vous sûr de vouloir retirer l\'email des notifications ?');

	dialogLink('a.#add_new_sms_notification', 'div#add_new_sms_notification_form');
	deleteNotificationLink('.delete-sms', 'Etes-vous sûr de vouloir retirer le numéro des notifications ?');

	dialogLink('a.#add_new_fax_notification', 'div#add_new_fax_notification_form');
	deleteNotificationLink('.delete-fax', 'Etes-vous sûr de vouloir retirer le numéro des notifications ?');

});
</script>
{% endblock %}


{% block content-main-profil %}
<h2 style="margin-bottom: 30px">
	{% trans "Notification par email"%}  <small style="padding-left: 50px;"><a href="#" id="add_new_email_notification"><i class="icon-plus-sign"></i> {% trans "Ajouter un email" %}</a></small>
</h2>
<table class="table highlight-list" style="margin-bottom: 40px;">
	<thead>
		<tr>
			<th>Email</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>benoit.woj@e-loue.com</td>
			<td class="highlight-action">
				<a href="#" class="delete-email"><i class="icon-remove"></i> {% trans "Retirer l'email"%}</a>
			</td>
		</tr>
		<tr>
			<td>Alexandre.woog@e-loue.com</td>
			<td class="highlight-action">
				<a href="#" class="delete-email"><i class="icon-remove"></i> {% trans "Retirer l'email"%}</a>
			</td>
		</tr>
		<tr>
			<td>balazs.kossovics@e-loue.com</td>
			<td class="highlight-action">
				<a href="#" class="delete-email"><i class="icon-remove"></i> {% trans "Retirer l'email"%}</a>
			</td>
		</tr>
	</tbody>
</table>

<h2 style="margin-bottom: 30px">
	{% trans "Notification par sms"%}  <small style="padding-left: 50px;"><a href="#" id="add_new_sms_notification"><i class="icon-plus-sign"></i> {% trans "Ajouter un numéro de portable" %}</a></small>
</h2>
<table class="table highlight-list" style="margin-bottom: 40px;">
	<thead>
		<tr>
			<th>Numéro de portable</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0678903456</td>
			<td class="highlight-action">
				<a href="#" class="delete-sms"><i class="icon-remove"></i> {% trans "Retirer le numéro"%}</a>
			</td>
		</tr>
		<tr>
			<td>0623456789</td>
			<td class="highlight-action">
				<a href="#" class="delete-sms"><i class="icon-remove"></i> {% trans "Retirer le numéro"%}</a>
			</td>
		</tr>
		<tr>
			<td>0689234567</td>
			<td class="highlight-action">
				<a href="#" class="delete-sms"><i class="icon-remove"></i> {% trans "Retirer le numéro"%}</a>
			</td>
		</tr>
	</tbody>
</table>

<h2 style="margin-bottom: 30px">
	{% trans "Notification par Fax"%}  <small style="padding-left: 50px;"><a href="#" id="add_new_fax_notification"><i class="icon-plus-sign"></i> {% trans "Ajouter un numéro de fax" %}</a></small>
</h2>
<table class="table highlight-list">
	<thead>
		<tr>
			<th>Numéro de fax</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0178903456</td>
			<td class="highlight-action">
				<a href="#" class="delete-fax"><i class="icon-remove"></i> {% trans "Retirer le numéro"%}</a>
			</td>
		</tr>
		<tr>
			<td>0123456789</td>
			<td class="highlight-action">
				<a href="#" class="delete-fax"><i class="icon-remove"></i> {% trans "Retirer le numéro"%}</a>
			</td>
		</tr>
		<tr>
			<td>0189234567</td>
			<td class="highlight-action">
				<a href="#" class="delete-fax"><i class="icon-remove"></i> {% trans "Retirer le numéro"%}</a>
			</td>
		</tr>
	</tbody>
</table>


<div id="add_new_email_notification_form" title="Ajouter un nouvel email de notification" style="display: none;">
	<form class="form" method="post" action="" style="margin-bottom: 0px; margin-top: 20px;">
		<div class="control-group">
			<label>Email</label>
			<div class="controls">
				<input type="text" name="email" value="">
			</div>
		</div>
		<div class="form-actions" style="padding-bottom: 0px; margin-bottom: 0px; padding-left: 205px;">
	    	<button type="submit" class="btn btn-primary">{% trans "Valider" %}</button>
	    </div>
	</form>
</div>

<div id="add_new_sms_notification_form" title="Ajouter un nouveau numéro de portable" style="display: none;">
	<form class="form" method="post" action="" style="margin-bottom: 0px; margin-top: 20px;">
		<div class="control-group">
			<label>Numéro de portable</label>
			<div class="controls">
				<input type="text" name="email" value="">
			</div>
		</div>
		<div class="form-actions" style="padding-bottom: 0px; margin-bottom: 0px; padding-left: 205px;">
	    	<button type="submit" class="btn btn-primary">{% trans "Valider" %}</button>
	    </div>
	</form>
</div>

<div id="add_new_fax_notification_form" title="Ajouter un nouveau numéro de fax" style="display: none;">
	<form class="form" method="post" action="" style="margin-bottom: 0px; margin-top: 20px;">
		<div class="control-group">
			<label>Numéro de fax</label>
			<div class="controls">
				<input type="text" name="email" value="">
			</div>
		</div>
		<div class="form-actions" style="padding-bottom: 0px; margin-bottom: 0px; padding-left: 205px;">
	    	<button type="submit" class="btn btn-primary">{% trans "Valider" %}</button>
	    </div>
	</form>
</div>
{% endblock %}