{% extends "accounts/patron_edit.html" %}
{% load i18n price booking product %}

{% block title %}{% trans "Facturation" %}{% endblock %}

{% block pro_account-submenu %}
  <ul>
     <li><a href="{{ billing }}" class="selected-nav-bar-link-sub">{% trans "Facturation" %}</a></li>
     <li><a href="{{ patron_edit_subscription }}">{% trans "Modifier votre plan" %}</a></li>
  </ul>
{% endblock %}


{% block tail %}
{{ block.super }}
<script type="text/javascript">
	$(document).ready(function (){
		var thead = $('table.billing table thead tr');

		thead.click(function (){
			var tbody = $(this).parent().parent().children('tbody');
			if(tbody.length == 1){
				if(tbody.is(":visible") == false ){
					tbody.show();
					$(this).children().children('i').attr('class', 'icon-minus-sign');
				} else {
					tbody.hide();
					$(this).children().children('i').attr('class', 'icon-plus-sign');
				}
			}		
		});
	});
</script>
{% endblock %}

{% block content-main-profil %}
<h2>{% trans "Relevé actuel du mois" %}</h2>
	{% include 'accounts/partials/billing_table.html' %}
<h2>{% trans "Historique des factures"%}</h2>
<table class="table billing-history">
	<thead>
		<tr>
			<th>{% trans "Date" %}</th>
			<th>{% trans "Carte de crédit" %}</th>
			<th>{% trans "Facture" %}</th>
			<th>{% trans "Montant" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for billing in billings %}
			<tr {% if not billing.state %}class="biling-error"{%endif%}>
				<td>{{ billing.date }}</td>
				<td>{% firstof billing.payment.creditcard "Ajoutez votre carte de credit"%}</td>
				<td><a href="{{ billing.get_absolute_url }}">Télécharger la facture</a></td>
				<td>{{ billing.total_amount|quantize|currency }}</td>
			</tr>
		{% endfor %}
		<tr>
			<td>04/08/2012</td>
			<td>4***********5383</td>
			<td><a href="#">Télécharger la facture</a></td>
			<td>63,03 &euro;</td>
		</tr>
		<tr>
			<td>04/07/2012</td>
			<td>4***********5383</td>
			<td><a href="#">Télécharger la facture</a></td>
			<td>63,03 &euro;</td>
		</tr>
		<tr class="billing-error">
			<td>04/06/2012</td>
			<td>4***********5383</td>
			<td></td>
			<td>Echoué</td>
		</tr>
		<tr>
			<td>04/05/2012</td>
			<td>4***********5383</td>
			<td><a href="#">Télécharger la facture</a></td>
			<td>63,03 &euro;</td>
		</tr>
	</tbody>
</table>
{% endblock %}
