{% extends "base.html" %}
{% load i18n product cache paginator %}

{% block title %}{{ patron.username }}{% endblock %}

{% block description %}
 {% blocktrans with patron.username as username %}Toutes les locations de {{ username }}{% endblocktrans %}
{% endblock %}

{% block content %}
<div id="profil" class="container-main">
    <div class="content-aside-profil">
        <div class="profil-block">
            <div class="avatar-picture">
                {% if patron.avatar %}
                <img src="{{ patron.avatar.product_page.url }}" alt="{% trans "loueur"%}{{ patron.username }}" width="180" height="180">
                {% else %}
                <img src="{{ MEDIA_URL }}images/default_avatar.png" alt="{% trans "loueur"%}{{ patron.username }}" width="180" height="180">
                {% endif %}
                <h1>{{ patron.username }}</h1>
                <address>{{ patron.default_address.city }} - {{ patron.default_address.zipcode }}</address>
            </div>{# avatar-picture #}
            <div class="profil-intro-content">
                <p class="profil-description">“Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissi pellentesque”</p>
                <button class="btn-contactme">{% trans "Contactez-moi" %}</button>
            </div>{# profil-description #}
        </div>{# profil-block #}
        <div class="profil-block">
            <ul class="profil-verification">
                <li class="fb-verification">Compte Facebook vérifié</li>
                <li class="pp-account-verification">Compte PayPal vérifié</li>
                <li class="pp-email-verification">Email PayPal vérifié</li>
            </ul>
        </div>{# profil-block #}
        <div class="profil-block">
            <h3>Plus d'info</h3>
            <h4>Travail</h4>
            <p>Directrice Resources Humaines, Société Générale</p>
            <h4>Etudes</h4>
            <p>Ecole de commerce</p>
            <h4>Languages Parlées</h4>
            <p>Français, Anglais</p>
        </div>{# profil-block #}
        <div class="profil-block last">
            <table class="answer-stats">
                <tr>
                    <td class="answer-rate">Taux de réponse</td><td>100%</td>
                </tr>
                <tr>
                    <td class="answer-time">Temps de réponse moyen</td><td>1 j</td>
                </tr>
            </table>
        </div>{# profil-block #}
    </div>{# content-aside-profil #}
    <div class="content-main-profil">
        <h2>{% trans "Commentaires" %} <small>(6 {% trans "avis" %})</small></h2>
        <ul class="comments">
            <li>
                <a href="#" class="comment-img">
                    <img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" alt=""/>
                </a>
                <div class="comment-content">
                    <div>
                        <p class="comment-writter">
                            <a href="/loueur/benoit/">qto870</a> Jeudi 12 janvier 2012
                            <span class="stars empty"><span class="stars filled_1"></span></span>
                        </p>
                        <p class="comment-text">
                            Great place - great city! To put it in a nutshell it was a very nice trip and the apartment is perfect for everybody who wants a nice place in edinburgh for a few days. Thank you, Samira!
                        </p><!-- comment-content -->
                        <span class="comment-dial"></span>
                    </div>
                </div><!-- comment-content -->
            </li>
            <li>
                <a href="#" class="comment-img">
                    <img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" alt=""/>
                </a>
                <div class="comment-content">
                    <div>
                        <p class="comment-writter">
                            <a href="/loueur/benoit/">qto870</a> Jeudi 12 janvier 2012
                            <span class="stars empty"><span class="stars filled_3"></span></span>
                        </p>
                        <p class="comment-text">
                            Great place - great city! To put it in a nutshell it was a very nice trip and the apartment is perfect for everybody who wants a nice place in edinburgh for a few days. Thank you, Samira!
                        </p><!-- comment-content -->
                        <span class="comment-dial"></span>
                    </div>
                </div><!-- comment-content -->
            </li>
        </ul>
        <p class="more-comment"><a href="#">Voir tous les commentaires</a></p>
        {% if patron.products %}
        {% blocktrans with patron.products.count as count and patron.products.count|pluralize as pluralize %}
	      <h2>{{ count }} location{{ pluralize }}</h2>
	     {% endblocktrans %}
        <ul class="product-vignettes">
            {% for product in product_list %}
            {% cache 900 product:patron:row product.id site %}
            <li>
                <a href="{{ product.get_absolute_url }}">
                    {% with product.pictures.all|first as picture %}
                    {% if picture.thumbnail %}
                        <img src="{{ picture.thumbnail.url }}" width="200" height="170" />
                    {% endif %}
                    {% endwith %}
                    <h3>{{ product.summary|truncate:22 }}</h3>
                    {% with product.prices.day|first as price %}
                        <p class="pv-price">{{ price }} <span>/{{ price.unit|unit }}</span></p>
                    {% endwith %}
                </a>
            </li>
            {% endcache %}
            {% endfor %}
        </ul>{# product-vignettes #}
        {% endif %}
    </div>{# content-main-profil #}
</div>{# profil #}
{% endblock %}