{% extends "accounts/patron_edit.html" %}
{% load i18n %}

{% block title %}{% trans "Modification de mes adresses" %}{% endblock %}

{% block content-main-profil %}

<form method="POST" action="">
  <legend>{% trans "Horaires d'ouverture"%}</legend>
  {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
  <table class="table">
    <thead>
      <tr>  
        <th>{% trans "Jour"%}</th>
        <th>{% trans "Tranches horaires"%}</th>
        <th>{% trans "Action" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for fieldset in form.fieldsets %}
      <tr>
        <td>{{ fieldset.legend }}</td>
        <td class="slots">
          <ul>
            {% for field in fieldset %}
              {% if field.is_hidden %}
                {{ field }}
              {% else %}
                <li {% if not field.value %}style="display: none;"{% endif %}>
                  {{ field.errors }}
                  {{ field.label_tag }}
                  {{ field }}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </td>
        <td>
          <a href="#" class="open_slot">{% trans "Ajouter une tranche d'horaire" %}</a><br>
          <a href="#" class="close_slot">{% trans "Supprimer une tranche d'horaire" %}</a><br>
          {% if not forloop.first %}
          <a href="#" class="copy_previous_slot">{% trans "Copier la tranche précédente" %}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="form-actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-cancel">Annuler</button>
    </div>  
</form>


<form class="form-horizontal" action="" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <legend>{% trans "Vos ouvertures" %}</legend>

    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

    {% for fieldset in form.fieldsets %}
      <fieldset class="{{ fieldset.classes }}" id="{{fieldset.name}}">
        {% if 'collapse' not in fieldset.classes %} <span id="{{fieldset.name}}" class="adder"> NEXT</span> {% endif %}
      {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
      {% endif %}
      {% if fieldset.description %}
        <p class="description">{{ fieldset.description }}</p>
      {% endif %}
      <ul>
      {% for field in fieldset %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          <li{{ field.row_attrs }}>
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
          </li>
        {% endif %}
      {% endfor %}
      </ul>
      </fieldset>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-cancel">Annuler</button>
    </div>
</form>
{% endblock %}

