{% extends "accounts/patron_edit.html" %}
{% load i18n %}

{% block title %}{% trans "Modification de mon RIB" %}{% endblock %}

{% block content-main-profil %}
{% if form.is_multipart %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
{% else %}
<form class="form-horizontal" method="post" action="">
{% endif %}
{% csrf_token %}
    <fieldset>
      <legend>{% trans "Modification de mon rib" %}</legend>
       {% for formfield in form %}
       <div class="control-group {% if formfield.errors %} error {% endif %}">
             <label class="control-label" for="{{ formfield.id_for_label }}">
             	{{ formfield.label }} {% if formfield.field.required %}*{% endif %}
             </label>
             <div class="controls">
                 {{ formfield }}
                 <p class="help-block">{{ formfield.help_text }}</p>
                 {% if formfield.errors %}
                 <span class="help-inline">
                     {% for error in formfield.errors %}
                           {{ error|escape }} 
                     {% endfor %}
                 </span>
                 {% endif %}
           </div>
         </div>
       {% endfor %}           
       {{form.non_field_errors}}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-cancel">Annuler</a>
      </div>
    </fieldset>
  </form>
{% endblock %}