{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="menu" class="clearfix">
	<ul class="x12">
		<li class='menu-tab first'><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
		<li class='menu-tab selected'>{% trans "Propriétaire" %}</li>
		<li class='menu-tab'><a href="#">{% trans "Locataire" %}</a></li>
		<li class='menu-tab'><a href="#">{% trans "Messages" %}</a></li>
		<li class='menu-tab'><a href="#">{% trans "Mon compte" %}</a></li>
	</ul>
</div>
<div id="sub-menu" class="clearfix">
	<ul class="x12">
		<li class="sub-tab first selected">{% trans "Locations actives" %}</li>
		<li class="sub-tab"><a href="#">{% trans "Historiques des locations" %}</a></li>
		<li class="sub-tab"><a href="#">{% trans "Mes objets" %}</a></li>
		<li class="sub-tab"><a href="#">{% trans "Ajouter un objet" %}</a></li>
	</ul>
</div>
<div id="content-dash" class="clearfix">
	<div class="content-header x12">
		<h1>Locations actives</h1>
	</div>
	<ul class="sort x12">
		<li class="label-sort">
			{% trans "Trier par :" %}
		</li>
		<li>
			<a href="#">{% trans "Date de début" %}</a>
		</li>
		<li><a href="#">{% trans "Date de fin" %}</a></li>
		<li>
			<a href="#">{% trans "Durée" %}</a>
		</li>
    <li class="last-sort">
			<a href="#">{% trans "Somme totale" %}</a>
		</li>
	</ul>
	<ul class="booking-list x12">
		<li class="x12 first">
			<div class="bk">
				<div class="bk-dates">
					18/12/2010<br>
					<span>&darr;</span><br />
					25/12/2010
				</div>
				<div class="bk-desc">
					<a class="bk-product-img">
						<img src="{{ MEDIA_URL }}images/bk_product_img.png">
					</a>
					<h5>Robe de Soirée Précieuse T 36/38</h5>
					<div class="bk-borrower">
						<img src="{{ MEDIA_URL }}images/bk_borrower_img.png">
						<h5><a href="#">Julie Dupont</a></h5>
						<a href="#" class="message">{% trans "Envoyer un message" %}</a>
					</div>
					<div class="bk-price">
						5 jours <span class="bk-sign">x</span> 45&euro; <span class="bk-sign">=</span> 225&euro;
					</div>
					<div class="bk-details">
						<a href="#" class="btn medium-blue">{% trans "Voir le détails" %}</a>
					</div>
				</div>
			</div>{# bk #}
			<div class="bk-status">
				<img src="{{MEDIA_URL}}images/status_wait.png" alt="En attente" class="wait" />
				<a href="#" class="bk-accept btn small-green">Accepter</a>
				<a href="#" class="bk-refuse btn small-orange">Refuser</a>
			</div>
		</li>
		<li class="x12 first">
			<div class="bk">
				<div class="bk-dates">
					18/12/2010<br>
					<span>&darr;</span><br />
					25/12/2010
				</div>
				<div class="bk-desc">
					<a class="bk-product-img">
						<img src="{{ MEDIA_URL }}images/bk_product_img.png" />
					</a>
					<h5>Robe de Soirée Précieuse T 36/38</h5>
					<div class="bk-borrower">
						<img src="{{ MEDIA_URL }}images/bk_borrower_img.png" />
						<h5><a href="#">Julie Dupont</a></h5>
						<a href="#" class="message">{% trans "Envoyer un message" %}</a>
					</div>
					<div class="bk-price">
						5 jours <span class="bk-sign">x</span> 45&euro; <span class="bk-sign">=</span> 225&euro;
					</div>
					<div class="bk-details">
						<a href="#" class="btn medium-blue">{% trans "Voir le détails" %}</a>
					</div>
				</div>
			</div>{# bk #}
			<div class="bk-status">
				<img src="{{MEDIA_URL}}images/status_rejected.png" alt="Rejetée" class="rejected">
			</div>
		</li>
		<li class="x12 first">
			<div class="bk">
				<div class="bk-dates">
					18/12/2010<br>
					<span>&darr;</span><br />
					25/12/2010
				</div>
				<div class="bk-desc">
					<a class="bk-product-img">
						<img src="{{ MEDIA_URL }}images/bk_product_img.png" />
					</a>
					<h5>Robe de Soirée Précieuse T 36/38</h5>
					<div class="bk-borrower">
						<img src="{{ MEDIA_URL }}images/bk_borrower_img.png" />
						<h5><a href="#">Julie Dupont</a></h5>
						<a href="#" class="message">{% trans "Envoyer un message" %}</a>
					</div>
					<div class="bk-price">
						5 jours <span class="bk-sign">x</span> 45&euro; <span class="bk-sign">=</span> 225&euro;
					</div>
					<div class="bk-details">
						<a href="#" class="btn medium-blue">{% trans "Voir le détails" %}</a>
					</div>
				</div>
			</div>{# bk #}
			<div class="bk-status">
				<img src="{{MEDIA_URL}}images/status_booking.png" alt="Réservée" class="booking">
				<a href="#" class="bk-cancel btn bk-orange">Annuler</a>
			</div>
		</li>
		<li class="x12 first">
			<div class="bk">
				<div class="bk-dates">
					18/12/2010<br>
					<span>&darr;</span><br />
					25/12/2010
				</div>
				<div class="bk-desc">
					<a class="bk-product-img">
						<img src="{{ MEDIA_URL }}images/bk_product_img.png" />
					</a>
					<h5>Robe de Soirée Précieuse T 36/38</h5>
					<div class="bk-borrower">
						<img src="{{ MEDIA_URL }}images/bk_borrower_img.png" />
						<h5><a href="#">Julie Dupont</a></h5>
						<a href="#" class="message">{% trans "Envoyer un message" %}</a>
					</div>
					<div class="bk-price">
						5 jours <span class="bk-sign">x</span> 45&euro; <span class="bk-sign">=</span> 225&euro;
					</div>
					<div class="bk-details">
						<a href="#" class="btn medium-blue">{% trans "Voir le détails" %}</a>
					</div>
				</div>
			</div>{# bk #}
			<div class="bk-status">
				<img src="{{MEDIA_URL}}images/status_renting.png" alt="En cour" class="renting">
				<a href="#" class="bk-warning">Signaler un incident</a>
			</div>
		</li>
		<li class="x12 first">
			<div class="bk">
				<div class="bk-dates">
					18/12/2010<br>
					<span>&darr;</span><br />
					25/12/2010
				</div>
				<div class="bk-desc">
					<a class="bk-product-img">
						<img src="{{ MEDIA_URL }}images/bk_product_img.png" />
					</a>
					<h5>Robe de Soirée Précieuse T 36/38</h5>
					<div class="bk-borrower">
						<img src="{{ MEDIA_URL }}images/bk_borrower_img.png" />
						<h5><a href="#">Julie Dupont</a></h5>
						<a href="#" class="message">{% trans "Envoyer un message" %}</a>
					</div>
					<div class="bk-price">
						5 jours <span class="bk-sign">x</span> 45&euro; <span class="bk-sign">=</span> 225&euro;
					</div>
					<div class="bk-details">
						<a href="#" class="btn medium-blue">{% trans "Voir le détails" %}</a>
					</div>
				</div>
			</div>{# bk #}
			<div class="bk-status">
				<img src="{{MEDIA_URL}}images/status_finish.png" alt="Réservée" class="finish">
				<a href="#" class="bk-cancel btn bk-green">Clôturer</a>
			</div>
		</li>
		<li class="x12 first">
			<div class="bk">
				<div class="bk-dates">
					18/12/2010<br>
					<span>&darr;</span><br />
					25/12/2010
				</div>
				<div class="bk-desc">
					<a class="bk-product-img">
						<img src="{{ MEDIA_URL }}images/bk_product_img.png" />
					</a>
					<h5>Robe de Soirée Précieuse T 36/38</h5>
					<div class="bk-borrower">
						<img src="{{ MEDIA_URL }}images/bk_borrower_img.png" />
						<h5><a href="#">Julie Dupont</a></h5>
						<a href="#" class="message">{% trans "Envoyer un message" %}</a>
					</div>
					<div class="bk-price">
						5 jours <span class="bk-sign">x</span> 45&euro; <span class="bk-sign">=</span> 225&euro;
					</div>
					<div class="bk-details">
						<a href="#" class="btn medium-blue">{% trans "Voir le détails" %}</a>
					</div>
				</div>
			</div>{# bk #}
			<div class="bk-status">
				<img src="{{MEDIA_URL}}images/status_ended.png" alt="Terminée" class="ended">
				<a href="#" class="bk-warning">Signaler un incident</a>
			</div>
		</li>
	</ul>{# booking-list #}
</div>
{% endblock %}