{% extends "accounts/patron_edit.html" %}
{% load i18n %}

{% block title %}{% trans "Modification de mes cordonnées bancaires" %}{% endblock %}

{% block content-main-profil %}

{% include "partials/alerts_message.html" %}

{% if form.is_multipart %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
{% else %}
<form class="form-horizontal" method="post" action="">
{% endif %}
{% csrf_token %}
<fieldset id="credit-card-form">
  <legend>Modifier votre carte bancaire</legend>
  <div class="control-group {% if form.card_number.errors %} error {% endif %}">
    <label class="control-label" for="{{ form.card_number.id_for_label }}">{{ form.card_number.label }}</label>
    <div class="controls">
      {{ form.card_number }}
      <p class="help-block">{{ form.card_number.help_text}}</p>
      {% if form.card_number.errors %}
      <span class="help-inline">
      {% for error in form.card_number.errors %}
        {{ error|escape }}
      {% endfor %}
      </span>
      {% endif %}
    </div>{# controls #}
  </div>{# control-group #}
  <div class="control-group {% if form.expires.errors %} error {% endif %}">
    <label class="control-label" for="{{ form.expires.id_for_label }}">
      {{ form.expires.label }}
    </label>
    <div class="controls">
      {{ form.expires }}
      <p class="help-block">{{ form.expires.help_text}}</p>
      {% if form.expires.errors %}
      <span class="help-inline">
      {% for error in form.expires.errors %}
        {{ error|escape }}
      {% endfor %}
      </span>
      {% endif %}
    </div>{# controls #}
  </div>{# control-group #}
  <div class="control-group {% if form.holder_name.errors %} error {% endif %}">
    <label class="control-label" for="{{ form.holder_name.id_for_label }}">{{ form.holder_name.label }}</label>
    <div class="controls">
      {{ form.holder_name }}
      <p class="help-block">{{ form.holder_name.help_text}}</p>
      {% if form.holder_name.errors %}
      <span class="help-inline">
      {% for error in form.holder_name.errors %}
        {{ error|escape }}
      {% endfor %}
      </span>
      {% endif %}
    </div>{# controls #}
  </div>{# control-group #}
  <div class="control-group {% if form.cvv.errors %} error {% endif %}">
    <label class="control-label" for="{{ form.cvv.id_for_label }}">{{ form.cvv.label }}</label>
    <div class="controls">
      {{ form.cvv }}
      <p class="help-block">{{ form.cvv.help_text}}</p>
      {% if form.cvv.errors %}
      <span class="help-inline">
      {% for error in form.cvv.errors %}
        {{ error|escape }}
      {% endfor %}
      </span>
      {% endif %}
    </div>{# controls #}
  </div>{# control-group #}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="reset" class="btn btn-cancel">Annuler</button>
  </div>
</fieldset>
</form>
{% endblock %}