{% extends "accounts/patron_edit.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Votre profil" %}{% endblock %}

{% block content-main-profil %}
{% if form.is_multipart %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
{% else %}
<form class="form-horizontal" method="post" action="">
{% endif %}
{% csrf_token %}    
{{form}}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-cancel">Annuler</button>
      </div>
  </form>
Your subscription history:</br>
<ul>
{% for subscription in request.user.subscription_set.all %}
<li>Between: {{subscription.subscription_started}} and {% firstof subscription.subscription_ended "now" %}, package: {{subscription.propackage}}, price: {{ subscription.price }} Euro </li>
{% empty %}
-.-
{% endfor %}
</ul>
{% endblock %}