{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="menu" class="clearfix">
	<ul class="x12">
		<li class='menu-tab first'><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
		<li class='menu-tab selected'>{% trans "Propriétaire" %}</li>
		<li class='menu-tab'><a href="#">{% trans "Locataire" %}</a></li>
		<li class='menu-tab'><a href="#">{% trans "Messages" %}</a></li>
		<li class='menu-tab'><a href="#">{% trans "Mon compte" %}</a></li>
	</ul>
</div>
<div id="sub-menu" class="clearfix">
	<ul class="x12">
		<li class="sub-tab first selected"><a href="#">{% trans "Locations en attentes" %}</a></li>
		<li class="sub-tab"><a href="#">{% trans "Locations acceptées" %}</a></li>
		<li class="sub-tab"><a href="#">{% trans "Historique" %}</a></li>
		<li class="sub-tab"><a href="#">{% trans "Mes objets" %}</a></li>
		<li class="sub-tab"><a href="#">{% trans "Ajouter un objet" %}</a></li>
	</ul>
</div>
<div id="content-dash" class="clearfix">
	<div class="content-header x12">
		<h1>Tableau de board</h1>
	</div>
</div>
{% endblock %}