{% extends "accounts/dashboard.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Votre profil" %}{% endblock %}
{% block head %}
	{{block.super}}

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block content-aside-profil %}

{% url patron_edit as patron_edit %}
{% url facebook_invite as facebook_invite %}
{% url gmail_invite as gmail_invite %}
{% url comments as comments %}
{% url patron_edit_addresses as patron_edit_addresses %}
{% url patron_edit_phonenumber as patron_edit_phonenumber %}
{% url patron_edit_password as patron_edit_password %}
{% url patron_edit_credit_card as patron_edit_credit_card %}
{% url patron_edit_rib as patron_edit_rib %}
{% url patron_edit_subscription as patron_edit_subscription %}
{% url patron_edit_highlight as patron_edit_highlight %}
{% url billing as billing %}
{% url patron_edit_notification as patron_edit_notification %}
{% url patron_edit_top_position as patron_edit_top_position %}
{% url patron_edit_idn_connect as patron_edit_idn_connect %}


<ul class="nav-sub-bar">
    <li><a href="{{ patron_edit }}"  class="{% active request "^/dashboard/account/$" %}">{% trans "Mon Profil" %}</a></li>
    <li><a href="{{ patron_edit_idn_connect }}" class="{% active request "^/dashboard/account/idn/$" %}">{% trans "Identité Numérique" %}</a></li>
    {% if request.user.is_professional %}
    <li><a href="{% url patron_edit_opening_times %}" class="{% active request "^/dashboard/account/openings/"%}">{% trans "Horaires d'ouverture" %}</a></li>
    <li>
        {% if request.user.current_subscription %}
          <a href="{{ billing }}" class="{% active request "^/dashboard/account/pro_account/" %}">{% trans "Compte pro" %}</a>
        {% else %}
          <a href="{{ patron_edit_subscription }}" class="{% active request "^/dashboard/account/pro_account/subscription/" %}">{% trans "Compte pro" %}</a>
        {% endif %} 
        {% block pro_account-submenu %}{% endblock %}
    </li>
    <li>
      <a href="{{ patron_edit_highlight }}" class="{% active request "^/dashboard/account/pro_option/"%}">{% trans "Options pro" %}</a>
      {% block pro_opiton-submenu %}{% endblock %}
    </li>
    {% endif %}
    {% if request.user.is_staff %}
    <li>
      <a href="{{ facebook_invite }}" class="{% active request "^/dashboard/account/invite/" %}">{% trans "Invitez vos amis" %}</a>
      {% block invite-submenu %}{% endblock %}
    </li>
    {% endif %}
    <li><a href="{{ comments }}" class="{% active request comments %}">{% trans "Commentaires" %}</a></li>
    <li><a href="{{ patron_edit_addresses }}" class="{% active request patron_edit_addresses %}">{% trans "Adresses" %}</a></li>
    <li><a href="{{ patron_edit_phonenumber }}" class="{% active request patron_edit_phonenumber %}">{% trans "Téléphone" %}</a></li>
    <li><a href="{{ patron_edit_password }}" class="{% active request patron_edit_password %}">{% trans "Mot de passe" %}</a></li>
    <li><a href="{{ patron_edit_credit_card }}" class="{% active request patron_edit_credit_card %}">{% trans "Carte bancaire" %}</a></li>
    <li><a href="{{ patron_edit_rib }}" class="{% active request patron_edit_rib %}">{% trans "RIB "%}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}

{% if form.is_multipart %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
{% else %}
<form class="form-horizontal" method="post" action="">
{% endif %}
{% csrf_token %}    
{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
    {% for fieldset in form.fieldsets %}
      <fieldset class="{{ fieldset.classes }}" {% if fieldset.name == 'extra_info' %}id="extraInfo"{% endif %}>
      {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
      {% endif %}
      {% if fieldset.description %}
        <p class="description">{{ fieldset.description }}</p>
      {% endif %}
    {% for field in fieldset %}
    <div class="control-group {% if field.errors %} error {% endif %}">
      <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
      <div class="controls">
        {% if field.name == "avatar" %}
          {% if request.user.avatar %}
            <img src="{{ request.user.thumbnail.url }}" alt="{% trans "loueur"%}{{ request.user.username }}" style="float: left; margin-right: 10px; border: 1px solid #9EB0BA;">
          {% else %}
            <img src="{{ STATIC_URL }}images/default_avatar.png" alt="{% trans "loueur"%}{{ request.user.username }}" style="float: left; margin-right: 10px; border: 1px solid #9EB0BA;">
          {% endif %}
        {% endif %}
        {{ field }}
        <p class="help-block">{{ field.help_text }}</p>
        {% if field.name == "default_address" %}<p class="help-block"><a href="{% url patron_edit_addresses %}#newAddress">{% trans "Ajouter une nouvelle adresse"%}</a></p>{% endif %}
        {% if field.name == "default_number" %}<p class="help-block"><a href="{% url patron_edit_phonenumber %}#newPhone">{% trans "Ajouter un nouveau téléphone"%}</a></p>{% endif %}
        {% if field.errors %}
          <span class="help-inline">
          {% for error in field.errors %}
            {{ error|escape }} 
          {% endfor %}
          </span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
    </fieldset>
    {% endfor %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-cancel">Annuler</button>
      </div>
  </form>
{% endblock %}