{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Espace professionnel" %}{% endblock %}

{% block content %}
<div class="container-main">
	<ul class="breadcrumb">
    	<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
    	<li>{% trans "Espace professionnel" %}</li>
    </ul>
    <div class="one-content">
        {% include "partials/alerts_message.html" %}
    	<h1 style="margin-bottom: 30px; font-size: 30px;">{% trans "Bienvenue sur l'espace e-loue PRO" %} <small class="pro-contact">0826 800 200 (0,15 &euro;/min)</small></h1>
    	<div class="pro-introduction">
    		<div class="pro-welcome">
    			<p style="margin-bottom: 15px;">
	    			{% blocktrans %}
                    Vous êtes loueur professionnel ? Nous aussi !
                    {% endblocktrans %}
	    		</p>
	    		<p style="font-size: 14px; font-weight: normal; text-align: justify;">
                    e-loue.com est le premier site de location dédié aux particuliers et aux professionnels. Quelque soit votre domaine d’activité, quelque soit votre localité, nos membres seront intéressés par vos produits à louer (outils, voitures, immobilier, matériel photo/vidéo, déguisements, …).  Alors n’hésitez pas à souscrire un Pack e-loue PRO pour découvrir un canal de distribution complémentaire et augmenter vos revenus !
	    		</p>
    		</div>
    		<div class="pro-intro-desc">
	    		<p style="margin-bottom: 10px;">e-loue, le partenaire qu’il vous faut :</p>
                <ul>
                    <li>Plateforme de location en ligne depuis 5 ans</li>
                    <li>100 000 visiteurs mensuels</li>
                    <li>50 000 produits à louer en France</li>
                    <li>+ de 10 000 mises en relation mensuelles</li>
                </ul>
                <p style="font-size: 14px; font-weight: bold;">
                    Autant d’atouts que nous mettons à  votre disposition pour vous apporter de nouveaux clients!
                </p>
	    	</div>
    	</div>
        <!--<div class="product-args">
            <div class="arg-details">
                <h4>Efficace</h4>
                <p>Nous vous aportons de nouveau clients, vous augmentez vos revenus !</p>
            </div>
            <div class="arg-details">
                <h4>Rapide</h4>
                <p>Nous ouvrons votre boutique et intégrons vos produits en moins de 2 semaines</p>
            </div>
            <div class="arg-details">
                <h4>Transparent</h4>
                <p> Nous vous donnons accès à toutes les statistiques  Google de votre boutique !</p>
            </div>
            <div class="arg-details">
                <h4>Adaptable</h4>
                <p>Vous pouvez modifier ou compléter votre boutique en toute simplicité !</p>
            </div>
        </div>-->
        <div id="step-by-step-pro">
            <div id="arguments">
                <ul>
                    <li class="step-pro"><a href="#" id="arg1">Choisissez votre Pack<br>e-loue Pro</a></li>
                    <li class="arrow-pro"></li>
                    <li class="step-pro"><a href="#" id="arg2">Bénéficiez des avantages<br>e-loue Pro</a></li>
                    <li class="arrow-pro"></li>
                    <li class="step-pro"><a href="#" id="arg3">Augmentez vos revenus en boostant vos transactions</a></li>
                </ul>
            </div>
            <div id="arguments-container">
                <div id="arguments-content">
                    <div id='arg1-content'>
                        <div id="arguments-container-dialogue"></div>
                        <ul>
                            <li>Au choix <strong>parmi nos trois nouveaux Pack</strong> : SILVER, GOLD ou PLATINE</li>
                            <li>Pack à partir de <stong>seulement 10€ HT / mois</strong></li>
                            <li>Nouveau, dans tous les Packs e-loue PRO : <strong>nombre d’annonce illimité !</strong></li>
                        </ul>
                    </div>
                    <div id='arg2-content'>
                        <div id="arguments-container-dialogue"></div>
                        <ul>
                            <li>Importez  votre catalogue en toute simplicité</li>
                            <li>Publiez  un nombre illimité d’annonces sur notre site</li>
                            <li>Bénéficiez  d’un référencement  Google optimisé</li>
                        </ul>
                    </div>
                    <div id='arg3-content'>
                        <div id="arguments-container-dialogue"></div>
                        <ul>
                            <li>Nos 100 000 visiteurs mensuels voient <strong>vos annonces sur e-loue.com</strong></li>
                            <li>Les clients vous contactent directement <strong>par téléphone,  mail ou via votre site</strong></li>
                            <li><strong>Vos volumes de location augmentent</strong>, grâce à votre présence sur  e-loue PRO</li>
                        </ul>
                    </div>
                </div>{# arguments-content #}
            </div>
        </div>{# step-by-step-pro #}
        <div class="plans">
            <table>
                <tr class="plans-title">
                    <td></td>
                    <td>
                        <h4>Pack Silver</h4>
                        <span>Accès à e-loue PRO<br>pendant
                        1 MOIS</span>
                    </td>
                    <td>
                        <h4>Pack Gold</h4>
                        <span>Accès à e-loue PRO<br>pendant
                        6 MOIS</span>
                    </td>
                    <td>
                        <h4>Pack Platine</h4>
                        <span>Accès à e-loue PRO<br>pendant
                        12 MOIS</span>
                    </td>
                </tr>
                <tr class="access-fees">
                    <th>Frais d'accès à e-loue pro</th>
                    <td>60&euro; HT<br>
                    </td>
                    <td>
                        <del>60&euro; HT</del><br>
                        <span class="offer">OFFERT !</span>
                    </td>
                    <td>
                        <del>60&euro; HT</del><br>
                        <span class="offer">OFFERT !</span>
                </tr>
                <tr class="plans-prices">
                    <th>Abonnement mensuel</th>
                    <td>40&euro; HT /MOIS</td>
                    <td>20&euro; HT /MOIS</td>
                    <td>12&euro; HT /MOIS</td>
                </tr>
            </table>
        </div>
    </div> {# one-content #}
</div>{# container-main #}
<div id="products-dialog" style="display:none" title="4 bonnes raisons de choisir e-loue">
    <ul style='width: 600px;'>
        <li>
            <h2>EFFICACE : Nous vous apportons de nouveaux clients, vous augmentez vos revenus !</h2>
            <p>Une boutique en ligne est utile lorsqu‘elle est visitée. Grace à notre savoir faire en e-marketing (référencement naturel, référencement payant, trafic et notoriété, buzz et retombées médiatiques…), nous faisons le nécessaire pour que votre boutique soit visitée, et - c’est encore mieux - uniquement par des internautes intéressés par les objets que vous loués. Ainsi, grâce à e-loue, vous avez l’opportunité de toucher de nouveaux clients…</p>
        </li>
        <li>
            <h2>RAPIDE : Nous ouvrons votre boutique et intégrons tous vos produits en moins de 2 semaines ! </h2>
            <p>Grâce à notre expertise et notre savoir-faire, nous sommes en mesure de vous proposer nos services sous 14 jours. Nous savons que vous êtes pressés d'avoir de nouveaux clients, alors nos équipes font le maximum pour vous satisfaire…</p>
        </li>
        <li>
            <h2>TRANSPARENT : Nous vous donnons accès à toutes les au statistiques  Google  de votre boutique !</h2>
            <p>Vous avez du mal à mesurer les retours de vos campagnes de publicité ?  E-loue vous donne les moyens de voir ce que vous rapporte chaque euro investi chez nous. Dans votre espace réservé, vous avez accès à toutes vos statistiques et aux leads générés grâce à nos services : visites de votre site, appels, messages… Et aucun doute sur l’interprétation de ces données, elles sont issues de Google Analytics…</p>
        </li>
        <li>
            <h2>ADAPTABLE : Vous pouvez modifier ou compléter votre boutique en toute simplicité !</h2>
            <p>Votre activité évolue, votre boutique e-loue doit évoluer aussi ! Vous pouvez rajouter/supprimer des annonces, changer vos prix  en toute simplicité depuis votre espace client. Mais si vous préférez, vous pouvez nous demander de le faire pour vous : le responsable de votre compte e-loue sera ravi de vous aider.. Dans tous les cas ça ne vous coûte rien, et c'est fait dans la journée…</p>
        </li>
    </ul>
</div>
{% endblock %}

{% block tail %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function (){
     jQuery('div#arguments-content').cycle({ 
        delay:  10, 
        speed:  800,
    });
    $('#arg1').hover(function(event) {
        $('#arguments-content').cycle(0);
        $('#arguments-content').cycle('pause');
    }); 
 
    $('#arg2').hover(function(event) {  
        $('#arguments-content').cycle(1);
        $('#arguments-content').cycle('pause');
    });
    $('#arg3').hover(function(event) {
        $('#arguments-content').cycle(2);
        $('#arguments-content').cycle('pause'); 
    });
     $("#products-dialog").dialog({
        autoOpen: false,
        width: 'auto',
        resizable: false,
     });
     $("#products").click(function (e){
        e.preventDefault();
        $("#products-dialog").dialog("open");
    });
});
</script>
{% endblock %}