{% extends "base.html" %}
{% load i18n product paginator%}

{% block title %}{% trans "Changez votre mot de passe" %}{% endblock %}

{% block content %}
<div id="content" class="xgrid">
    <div class="content-top">
        <ul id="menu" class="x12">
            <li class="menu-tab first"><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
			<li class="menu-tab"><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
			<li class="menu-tab"><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
			<li class="menu-tab">{% trans "Mon compte" %}</li>
        </ul>
    </div>
    <div id="sub-menu">
        <ul class="x12">
            <li class="sub-tab first"><a href="{% url patron_edit %}">{% trans "Votre profil" %}</a></li>
			<li class="sub-tab">{% trans "Modification du mot de passe" %}</li>
        </ul>
    </div>
    <div class="x8 p2">
        <form class="form" action="" method="POST">
        <table class="more-info">
			<tr>
				<th><label>{% trans "Mot de passe actuel" %} {% if form.old_password.field.required %}*{% endif%} :</label></th>
				<td {% if form.old_password.errors %} class="error-field" {% endif %}>
					{{ form.old_password }}
					{% if form.old_password.errors %}
					    {% for error in form.old_password.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<th>
					<label>{% trans "Nouveau mot de passe" %} {% if form.new_password1.field.required %}*{% endif %} :</label></th>
				<td {% if form.new_password1.errors %} class="error-field" {% endif %}>
					{{ form.new_password1 }}
					{% if form.new_password1.errors %}
					    {% for error in form.new_password1.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
			<tr>
				<th><label>{% trans "A nouveau" %} {% if form.new_password2.field.required %}*{% endif %} :</label></th>
				<td {% if form.new_password2.errors %} class="error-field" {% endif %}>
					{{ form.new_password2 }}
					{% if form.new_password2.errors %}
					    {% for error in form.new_password2.errors %}
									<br />
					        <span class="error">{{ error|escape }}</span>
					    {% endfor %}
					{% endif %}
				</td>
			</tr>
		</table>
		<p class="required-field">{% trans "* = champ obligatoire" %}</p>
    </div>
    <div id="submit-wizard" class="x12">
         <p>
    		<a href="{% url home %}">Annuler</a> ou
    		<input type="submit" class="btn big-green" value="Sauvegarder" />
    	</p>
    </div>
</div>
{% endblock %}