{% extends "accounts/patron_edit.html" %}
{% load i18n product %}

{% block title %}{% trans "Top position" %}{% endblock %}

{% block pro_opiton-submenu %}
<ul>
  <li><a href="{{ patron_edit_highlight }}">{% trans "Mise en avant" %}</a></li>
  <li><a href="{{ patron_edit_notification }}">{% trans "Notifications" %}</a></li>
  <li><a href="{{ patron_edit_top_position }}" class="selected-nav-bar-link-sub">{% trans "Top position" %}</a></li>
</ul>
{% endblock %}

{% block tail %}
<script type="text/javascript">
$(document).ready(function (){
	$("a#add_new_top_position").click(function (e){
		e.preventDefault();
		$( "div#add_new_top_position_form" ).dialog(
			{ 
				resizable: false, 
				width: '350px'
			}
		);
	});

	$('td.highlight-action a').click(function (e){
		e.preventDefault();
		answer = confirm('Etes-vous sûr de vouloir retirer l\'annonce en top position ?');
        if (answer == true) {
            return true;
        } else {
            return false;
        }
	});
});
</script>
{% endblock%}


{% block content-main-profil %}
{% if request.user.current_subscription %}
<h2 style="margin-bottom: 30px">
	{% trans "Liste des annonces en top position"%}  <small style="padding-left: 50px;"><a href="#" id="add_new_top_position"><i class="icon-plus-sign"></i> {% trans "Ajouter une annonce" %}</a></small>
</h2>
<table class="table highlight-list">
	<thead>
		<tr>
			<th>Annonce</th>
			<th>Durée de mise en avant</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for product in in_topposition %}
			<tr>
				<td><a href="{{ product.get_absolute_url }}">{{ product.summary|truncate:38 }}</a></td>
				<td>{{ product.since|timesince }}</td>
				<td class="highlight-action">
					<form action="" method="post" style="margin-bottom: 0px;">
						{% csrf_token %}
						<input type="hidden" name="product" value="{{ product.pk }}" />
						<button><i class="icon-remove"></i> {% trans "Retirer de top position"%}</button>
					</form>
				</td>
			</tr>
		{% empty %}
			<tr>
				<td colspan="3" class="no-highlight">
					{% trans "Pas d'annonce en top position. Pensez-y pour ameliorer votre visibilité." %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<div id="add_new_top_position_form" title="{% trans "Ajouter une annonce en top position"%}" style="display: none;">
	<form class="form" method="post" action="" style="margin-bottom: 0px; margin-top: 20px;">
		{% csrf_token %}
		<div class="control-group">
			<div class="controls">
				<select name="product" id="product">
					<option value="" selected="selected">Choisissez une annonce</option>
					{% for product in not_in_topposition %}
						<option value="{{ product.pk }}">{{ product.summary }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-actions" style="padding-bottom: 0px; margin-bottom: 0px; padding-left: 205px;">
	    	<button type="submit" class="btn btn-primary">{% trans "Valider" %}</button>
	    </div>
	</form>
</div>
{% else %}
<div style="text-align: center">
	<h2>{% trans "Top position" %}</h2>
	<img src="{{ MEDIA_URL }}images/options_pro/top_position.png" alt="Mise en avant" width="180" height="180" style="margin-bottom: 10px;">
	<p style="font-size: 14px; margin-bottom: 10px;">{% trans "Votre annonce est mise en première position des résultats de recherches sur le site." %}</p>
	<p style="font-size: 14px; margin-bottom: 10px;">
	  {% trans "Pour bénéficier de cet avantage, accédez à l'espace pro pour en savoir plus :"%}
	</p>
	<p style="text-align: center;">
	  <a href="{% url patron_subscription %}" class="btn-pro-access">{% trans "Professionnel ? Accédez à notre espace pro"%}</a>
	<p>
</div>
{% endif %}
{% endblock %}