{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Espace professionnel" %}{% endblock %}

{% block content %}
<div class="container-main">
	<ul class="breadcrumb">
    	<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
    	<li>{% trans "Espace professionnel" %}</li>
    </ul>
    <div class="one-content">
    	<h1 style="margin-bottom: 30px; font-size: 30px;">{% trans "Bienvenue sur notre espace professionnel" %} <small class="pro-contact">0826 800 200 (0,15 &euro;/min)</small></h1>
    	<div class="pro-introduction">
    		<div class="pro-welcome">
    			<p style="margin-bottom: 15px;">
	    			{% blocktrans %}
                    e-loue.com est une place de marché<br> de la location.
                    {% endblocktrans %}
	    		</p>
	    		<p style="font-size: 18px;">
                    {% trans "Quelque soit votre domaine d’activité dans la location, nos membres seront intéréssés par vos annonces." %}
	    		</p>
    		</div>
    		<div class="pro-intro-desc">
	    		<ul>
	    			<li>
	    				<i class="pro-check"></i> {% trans "Gérer plus de locations" %}
	    			</li>
	    			<li>
	    				<i class="pro-check"></i> {% trans "Canal de distribution complémentaire" %}
	    			</li>
	    			<li>
	    				<i class="pro-check"></i> {% trans "Visibilité sur un site très connu" %}
	    			</li>
	    			<li>
	    				<i class="pro-check"></i> {% trans "Augmenter vos locations" %}
	    			</li>
	    			<li>
	    				<i class="pro-check"></i> {% trans "Toucher tous les membres de e-loue" %}
	    			</li>
	    		</ul>
	    	</div>
    	</div>
        <div class="step-by-step-pro">
            <ul>
                <li class="step-pro">
                    <a href="#profile_pro" id="profile-pro">
                        <img src="{{ STATIC_URL }}images/profile_pro.png" alt="exemple profile pro">
                    </a>
                    <i class="icon-search"></i>
                    <p>
                        {% blocktrans %}
                        Choisissez un abonnement et importez simplement votre<br>catalogue avec notre aide
                        {% endblocktrans %}
                    </p>
                </li>
                <li class="arrow-pro"></li>
                <li class="step-pro">
                    <a href="#search_page_pro" id="search-page-pro">
                        <img src="{{ STATIC_URL }}images/search_page_pro.png" alt="exemple profile pro">
                    </a>
                    <i class="icon-search"></i>
                    <p>
                        {% blocktrans %}
                        Les clients voient vos annonces<br>sur e-loue.com
                        {% endblocktrans %}
                    </p>
                </li>
                <li class="arrow-pro"></li>
                <li class="step-pro">
                    <a href="#product_page_pro" id="product-page-pro">
                        <img src="{{ STATIC_URL }}images/product_page_pro.png" alt="exemple profile pro">
                    </a>
                    <i class="icon-search"></i>
                    <p>
                        {% blocktrans %}
                        Les clients vous contactent directement par téléphone ou<br>par mail pour une réservation
                        {% endblocktrans %}
                    </p>
                </li>
            </ul>
        </div>
    	<h2 style="margin-bottom: 40px;">{% trans "Choisissez un abonnement adapté à votre besoin" %} :</h2>
    	<div class="plans">
    		{% for plan in plans %}
	    		{% if forloop.last %}
	    		<div class="info-block infini-plan">
	    			<p class="infini-items">{% trans "Annonces illimitées" %}</p>
	    			<div class="plan-description">
		    			<h2>{{ plan.name }}</h2>
		    			<p class="plan_price">
			            		{{ plan.price|floatformat:0 }}&euro;<span>/mois</span>
			            </p>
			        </div>
	        	{% else %}
	    		<div class="info-block plan {% if forloop.first %}first{% endif %}">
		            <h2>
		            	{{ plan.name }} 
		            	<div class="plan_price">
		            		{{ plan.price|floatformat:0 }}&euro;<span>/{% trans "mois" %}</span>
		            	</div>
		            </h2>
		            <p class="max-items">{{ plan.maximum_items }} {% trans "annonces maximum" %}</p>
	        	{% endif %}
                {% if plan.pk != request.user.current_subscription.propackage.pk %}
                        <form action="{% if request.user.is_authenticated %}{% url patron_edit_subscription %}{% else %} {% endif %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="{% if request.user.is_authenticated %}{% else %}0-{% endif %}subscription" value="{{ plan.pk }}" />
                            <input type="submit" value="{% trans "Choisir cet abonnement" %}" class="btn-select-plan"/>
                        </form>
                {% else %}
                    <div class="selected-plan">{% trans "Votre abonnement actuel" %}</div>
                {% endif %}
                </div>
        	{% endfor %}
        </div>
        <h2 style="margin-bottom: 40px;">{% trans "Des options vous sont proposées pour augmenter votre visibilité et votre réactivité" %} :</h2>
        <div class="pro-options">
        	<ul class="first">
        		<li>
        			<i class="notification"></i>
        			<span class="title-option">{% trans "Notifications par email" %}</span>
        			<span class="price-option">0,01&euro;/{% trans "envoi" %}</span><br>
        			{% trans "Recevez les demandes de devis sur plusieurs adresses emails." %}
        		</li>
        		<li>
        			<i class="highlight"></i>
        			<span class="title-option">{% trans "Mise en avant" %}</span>
        			<span class="price-option">7,50&euro;/{% trans "mois" %}/{% trans "annonce" %}</span><br>
        			{% trans "Votre annonce est mise en avant dans les listes (page d’accueil, résultats de recherche, annonces similaires)." %}
        		</li>
        	</ul>
        	<ul>
        		<li>
        			<i class="sms"></i>
        			<span class="title-option">{% trans "Notifications par SMS" %}</span>
        			<span class="price-option">0,08&euro;/{% trans "envoi" %}</span><br>
        			{% trans "Pour répondre rapidement aux devis, recevez les demandes de réservation sur votre mobile." %}
        		</li>
        		<li>
        			<i class="top-position"></i>
        			<span class="title-option">{% trans "Top position" %}</span>
        			<span class="price-option">5,50&euro;/{% trans "mois" %}/{% trans "annonce" %}</span><br>
        			{% trans "Votre annonce est mise en première position des résultats de recherches sur le site." %}
        		</li>
        	</ul>
        </div>
	</div>        
</div>
<div id="profile-pro-dialog" style="display:none" title="Page profile d'un professionnel">
    <img src="{{ STATIC_URL }}images/profile_pro_large.png" width="600" />
</div>
<div id="search-pro-dialog" style="display:none" title="Résultat de recherche">
    <img src="{{ STATIC_URL }}images/search_page_pro_large.png" width="600" />
</div>
<div id="product-pro-dialog" style="display:none" title="Annonce d'un professionnel">
    <img src="{{ STATIC_URL }}images/product_page_pro_large.png" width="600" />
</div>
{% endblock %}

{% block tail %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function (){
     $("#profile-pro-dialog").dialog({
        autoOpen: false,
        width: 'auto',
        resizable: false,
     });
     $("#search-pro-dialog").dialog({
        autoOpen: false,
        width: 'auto',
        resizable: false,
     });
     $("#product-pro-dialog").dialog({
        autoOpen: false,
        width: 'auto',
        resizable: false,
     });
    $("#profile-pro").click(function (e){
        e.preventDefault();
        $("#profile-pro-dialog").dialog("open");
        $("#profile-pro-dialog").css('padding', '0');
        $("#profile-pro-dialog img").css('margin-bottom', '-2px');
    });
    $("#search-page-pro").click(function (e){
        e.preventDefault();
        console.log("click");
        $("#search-pro-dialog").dialog("open");
        $("#search-pro-dialog").css('padding', '0');
        $("#search-pro-dialog img").css('margin-bottom', '-2px');
    });
    $("#product-page-pro").click(function (e){
        e.preventDefault();
        console.log("click");
        $("#product-pro-dialog").dialog("open");
        $("#product-pro-dialog").css('padding', '0');
        $("#product-pro-dialog img").css('margin-bottom', '-2px');
    });
});
</script>
{% endblock %}