{% extends "base.html" %}
{% load i18n product %}

{% block content %}
<div id="menu" class="clearfix">
	<ul class="x12">
		<li class='menu-tab first'><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
		<li class='menu-tab selected'><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</li>
		<li class='menu-tab'><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
		<li class='menu-tab'><a href="#">{% trans "Messages" %}</a></li>
		<li class='menu-tab'><a href="{% url patron_edit %}">{% trans "Mon compte" %}</a></li>
	</ul>
</div>
<div id="sub-menu" class="clearfix">
	<ul class="x12">
		<li class="sub-tab first selected"><a href="{% url owner_booking %}">{% trans "Locations actives" %}</a></li>
		<li class="sub-tab"><a href="{% url owner_history %}">{% trans "Historique des locations" %}</a></li>
		<li class="sub-tab"><a href="{% url owner_product %}">{% trans "Mes objets" %}</a></li>
		<li class="sub-tab"><a href="{% url product_create %}">{% trans "Ajouter un objet" %}</a></li>
	</ul>
</div>
<div id="content-dash" class="clearfix">
	<div class="content-header x12">
		<h1>{% trans "Validation de votre compte PayPal" %}</h1>
	</div>
	<div class="x6">
		Sinon nous allons en créer un pour vous :
 		<form action="" method="post">
  		{% csrf_token %}
  		{{ form.paypal_email.as_hidden }}
  		<input type="hidden" name="next" value="{{ next }}" />
  		<input type="submit" value="Créer mon compte" />
 		</form>
	</div>
	<div class="x6">
		Si vous avez un compte paypal :
 		<form action="" method="post">
  		{% csrf_token %}
  		{{ form.as_p }}
  		<input type="hidden" name="next" value="{{ next }}" />
  		<input type="submit" value="Utiliser mon compte" />
 		</form>
	</div>
{% endblock %}