{% extends "base.html" %}
{% load i18n product %}

{% block title %}{% trans "Votre compte PayPal" %}{% endblock %}

{% block content %}
<div id="menu" class="clearfix">
	<ul class="x12">
		<li class='menu-tab first'><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
		<li class='menu-tab selected'><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
		<li class='menu-tab'><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
		<li class='menu-tab'><a href="{% url patron_edit %}">{% trans "Mon compte" %}</a></li>
	</ul>
</div>
<div id="sub-menu" class="clearfix">
	<ul class="x12">
		<li class="sub-tab first selected"><a href="{% url owner_booking %}">{% trans "Locations actives" %}</a></li>
		<li class="sub-tab"><a href="{% url owner_history %}">{% trans "Historique des locations" %}</a></li>
		<li class="sub-tab"><a href="{% url owner_product %}">{% trans "Mes objets" %}</a></li>
		<li class="sub-tab"><a href="{% url product_create %}">{% trans "Ajouter un objet" %}</a></li>
	</ul>
</div>
<div id="content-dash" class="clearfix">
	<div class="content-header x12">
		<h1>{% trans "Vérification de votre compte PayPal"%}</h1>
	</div>
	<div class="x9">
		<div class="signup x9 first">
		    {{ form.non_field_errors }}
			<form class="form" action="" method="POST">
				{% csrf_token %}
				<p class="question">{% trans "Avez-vous un compte e-loue ?" %}</p>
				{{ form.paypal_exists }}
				<p class="password {% if form.paypal_email.errors %} error-field {% endif %}">
				 {{ form.paypal_email }}
				 {% if form.paypal_email.errors %}
			      {% for error in form.paypal_email.errors %}
			       <span class="error">{{ paypal_email|escape }}</span>
			      {% endfor %}
				 {% endif %}
				</p>
			</div>
			<div class="submit-wizard x9 first">
				<a href="{% url owner_booking %}">{% trans "Annuler" %}</a> {% trans "ou" %} 
				<input type="submit" class="btn big-green" value="{% trans "Continuer &rarr;" %}" />
			</form>
		</div>
	</div>
	<div class="x3 paypal-verified">
		<img src="{{ MEDIA_URL }}/images/PayPal_verified.png" alt="{% trans "e-loue PayPal verified" %}" />
	</div>
</div>
{% endblock %}