{% extends "base.html" %}
{% load i18n product cache paginator %}

{% block title %}{{ patron.username }}{% endblock %}

{% block description %}
 {% blocktrans with patron.username as username %}Toutes les locations de {{ username }}{% endblocktrans %}
{% endblock %}

{% block content %}
<div id="profil" class="container-main">
    <div class="content-aside-profil">
        <div class="profil-block">
            <div class="avatar-picture">
                {% if patron.avatar %}
                <img src="{{ patron.avatar.product_page.url }}" alt="{% trans "loueur"%}{{ patron.username }}" width="180" height="180">
                {% else %}
                <img src="{{ MEDIA_URL }}images/default_avatar.png" alt="{% trans "loueur"%}{{ patron.username }}" width="180" height="180">
                {% endif %}
                <h1>{{ patron.username }}</h1>
                {% if patron.default_address %}
                    <address>{{ patron.default_address.city }} - {{ patron.default_address.zipcode }}</address>
                {% else %}
                    {% if patron.addresses.all|first %}
                        {% with patron.addresses.all|first as address %}
                             <address>{{ address.city }} - {{ address.zipcode }}</address>
                        {% endwith %}
                    {% endif %}
                {% endif %}
            </div>{# avatar-picture #}
            <div class="profil-intro-content">
                {% if patron.about %}
                    <p class="profil-description">{{ patron.about }}</p>
                {% endif %}
                <a class="btn-contactme" href={% url patron_message_create recipient_username=patron.slug %}>{% trans "Contactez-moi" %}</a>
            </div>{# profil-description #}
        </div>{# profil-block #}
        {% if patron.facebooksession or patron.is_verified == 'VERIFIED' or patron.is_confirmed %}
        <div class="profil-block">
            <ul class="profil-verification">
                {% if patron.facebooksession %}
                    <li class="fb-verification">Compte Facebook vérifié</li>
                {% endif %}
                {% if patron.is_verified == 'VERIFIED' %}
                    <li class="pp-account-verification">Compte PayPal vérifié</li>
                {% endif %}
                {% if patron.is_confirmed %}
                    <li class="pp-email-verification">Email PayPal vérifié</li>
                {% endif %}
            </ul>
        </div>{# profil-block #}
        {% endif %}
        {% if patron.work or patron.school or patron.languages.count %}
        <div class="profil-block">
            <h3>Plus d'info</h3>
            {% if patron.work %}
                <h4>{% trans "Travail" %}</h4>
                <p>{{ patron.work }}</p>
            {% endif %}
            {% if patron.school %}
                <h4>{% trans "Etudes" %}</h4>
                <p>{{patron.school}}</p>
            {% endif %}
            {% if patron.languages.count %}
                <h4>{% trans "Languages Parlées" %}</h4>
                <p>{{ patron.languages.all|join:", "}}</p>
            {% endif %}
        </div>{# profil-block #}
        {% endif %}
        <div class="profil-block last">
            {% include "accounts/partials/response_stats.html" %}
        </div>{# profil-block #}
    </div>{# content-aside-profil #}
    <div class="content-main-profil">
        {% if borrowercomments %}
        <h2>{% trans "Commentaires" %} <small>({{ borrowercomments.count }} {% trans "avis" %})</small></h2>
        <ul class="comments">
            {% for comment in borrowercomments %}
                <li>{% include 'rent/partials/comment.html' %}</li>
            {% endfor %}
        </ul>
        <p class="more-comment"><a href="{% url comments %}">Voir tous les commentaires</a></p>
        {% endif %}
        {% if patron.products %}
        {% blocktrans with patron.products.count as count and patron.products.count|pluralize as pluralize %}
	      <h2>{{ count }} location{{ pluralize }}</h2>
	     {% endblocktrans %}
        <ul class="product-vignettes">
            {% for product in product_list %}
            {% cache 900 product:patron:row product.id site %}
            <li>
                <a href="{{ product.get_absolute_url }}">
                    {% with product.pictures.all|first as picture %}
                    {% if picture.thumbnail %}
                        <img src="{{ picture.thumbnail.url }}" width="200" height="170" />
                    {% endif %}
                    {% endwith %}
                    <h3>{{ product.summary|truncate:22 }}</h3>
                    {% with product.prices.day|first as price %}
                        <p class="pv-price">{{ price }} <span>/{{ price.unit|unit }}</span></p>
                    {% endwith %}
                </a>
            </li>
            {% endcache %}
            {% endfor %}
        </ul>{# product-vignettes #}
        {% pagination %}
        {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                {% if page_obj.previous_page_number == 1 %}
                    <a href=" {{ patron.get_absolute_url }}" class="prev">&#171; {% trans "Page précédente" %}</a>
                {% else %}
                    <a href="{% url patron_detail patron.slug page_obj.previous_page_number %}" class="prev">&#171; {% trans "Page précédente" %}</a>
                {% endif %}   
            {% endif %}
            {% for page in page_range %}
                {% if page == 1 %}
                    <a href="{{ patron.get_absolute_url }}" {% if page_obj.number == page %}class="page-selected"{% endif %}>{{ page }}</a>
                {% else %}
                    <a href="{% url patron_detail patron.slug page %}" {% if page_obj.number == page %}class="page-selected"{% endif %}>{{ page }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="{% url patron_detail patron.slug page_obj.next_page_number %}" class="next">{% trans "Page suivante" %} &#187;</a>
            {% endif %}
        </div><!-- pagination -->
        {% endif %}
        {% endif %}
    </div>{# content-main-profil #}
</div>{# profil #}
{% endblock %}