{% extends "accounts/patron_edit.html" %}
{% load i18n %}

{% block title %}{% trans "Modification de mes adresses" %}{% endblock %}

{% block content-main-profil %}


{% if request.user.current_subscription %}
<form method="POST" action="" class="form-horizontal">
  {% csrf_token %}
  {{ formset.management_form }}
  <legend>{% trans "Horaires d'ouverture"%}</legend>
  {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}
  <table class="table opening">
    <thead>
      <tr>  
        <th>{% trans "Jour"%}</th>
        <th>{% trans "Tranches horaires"%}</th>
        <th>{% trans "Actions" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for fieldset in form.fieldsets %}
      <tr>
        <td>{{ fieldset.legend }}</td>
        <td class="slots">
          <ul>
            {% for field in fieldset %}
              {% if field.is_hidden %}
                {{ field }}
              {% else %}
                <li {% if not field.value %}style="display: none;"{% endif %}>
                  <div class="control-group">
                    <label class="control-label" for="select01">{{ field.label }}</label>
                    <div class="controls">
                      {{ field }}
                      {% if field.errors %}
                        <span class="help-inline">
                        {{ field.errors }}
                        </span>
                      {% endif %}
                    </div>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </td>
        <td class="opening-actions">
          <a href="#" class="open_slot"><i class="icon-plus-sign"></i> {% trans "Ajouter une tranche d'horaire" %}</a><br>
          <a href="#" class="close_slot"><i class="icon-minus-sign"></i> {% trans "Supprimer une tranche d'horaire" %}</a><br>
          {% if not forloop.first %}
          <a href="#" class="copy_previous_slot"><i class="icon-time"></i> {% trans "Copier la tranche précédente" %}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="form-actions">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-cancel">Annuler</button>
    </div>  
</form>
{% else %}
<div style="text-align:center;">
  <h2>{% trans "Horaires d'ouverture"%}</h2>
  <img src="{{ STATIC_URL }}images/options_pro/clock.png" alt="Mise en avant" width="180" height="180" style="margin-bottom: 10px;">
  <p style="font-size: 14px; margin-bottom: 10px; line-height: 18px;">
    {% trans "En tant que professionnel de la location, sur votre page entreprise<br> vous avez la possibilité d'afficher l'adresse, le numéro de téléphone<br> et les horaires d'ouverture de votre boutique."%}
  </p>
  <p style="font-size: 14px; margin-bottom: 10px;">
    {% trans "Pour bénéficier de ces avantages, accédez à l'espace pro pour en savoir plus :"%}
  </p>
  <p style="text-align: center;">
    <a href="{% url 'accounts.views.patron_subscription' %}" class="btn-pro-access">{% trans "Professionnel ? Accédez à notre espace pro"%}</a>
  <p>
</div>
{% endif %}
{% endblock %}

{% block tail %}
{{ block.super }}

<script type="text/javascript">

$(document).ready(function() {
  //openings store
  showSlot = function(slots){
      if (slots.first().is(":visible") == false) {
          slots.first().next().andSelf().show();
      } else {
          slots.last().prev().andSelf().show();
      }
  };

  hideSlot = function(slots){
      if (slots.last().is(":visible") == false) {
          slots = slots.first().next().andSelf();
          slots.hide();
      } else {
          slots = slots.last().prev().andSelf();
          slots = slots.hide();
      }

      slots.each(function (index){
          $(this).children().children('div').children('select').val("");
      });
  };

  resetSlot = function(slot){
      $(slot.children()).each(function (){
          $(this).attr('selected', false);
      })
  };

  selectedHour = function(slot, value){
      $(slot.children()).filter(function(){
          return $(this).val() == value;
      }).attr('selected', 'selected');
  };

  $('a.open_slot').click(function (e) { 
      e.preventDefault();
      var slots = $(this).parent().parent().children(".slots").children().children();
      showSlot(slots);
  });

  $('a.close_slot').click(function (e) {
      e.preventDefault();
      var slots = $(this).parent().parent().children(".slots").children().children();
      hideSlot(slots);
  });

  $('a.copy_previous_slot').click(function (e) {
      e.preventDefault();
      var prevSlots = $(this).parent().parent().prev().children(".slots").children().children();
      var slots = $(this).parent().parent().children(".slots").children().children();

      prevSlots.each(function (index) {
          var value = $(this).children().children('div').children('select').val();
          var slot = $(slots[index]).children().children('div').children('select');
          
          resetSlot(slot);
          selectedHour(slot, value);

          if( $(this).is(":visible") ){
              $(slot).parent().parent().parent().show();
          } else {
              $(slot).parent().parent().parent().hide();
          }
      });
  })
});

</script>

{% endblock %}

