{% extends "base.html" %}
{% load i18n product paginator %}

{% block title %}{% trans "Votre profil" %}{% endblock %}

{% block content %}
<div id="content" class="xgrid">
       <div class="content-top">
         <ul id="menu" class="x12">
            <li class="menu-tab first"><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
			<li class="menu-tab"><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
			<li class="menu-tab"><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
			<li class="menu-tab">{% trans "Mon compte" %}</li>
			<li class="menu-tab"><a href="{% url inbox %}">{% blocktrans %}Messages({{ unread_message_count }}){% endblocktrans %}</a></li>
		 </ul>
	    </div>
	    <div id="sub-menu">
	        <ul class="x12">
	            <li class="sub-tab first">{% trans "Votre profil" %}</li>
		    <li class="sub-tab"><a href="{% url patron_edit_password %}">{% trans "Modification du mot de passe" %}</a></li>
	        </ul>
	    </div>
	    <div class="x8 p2">
	    {% if form.is_multipart %}
	    <form enctype="multipart/form-data" method="post" action="">
		{% else %}
	    <form method="post" action="">
		{% endif %}
	    		{% csrf_token %}
	    		<table class="more-info">
	    			
	    		</table>
	    		<p class="required-field">{% trans "* champ obligatoire" %}</p>
	    </div>
	    {{formset}}
	    {{formset.errors}}
	    {{formset.non_form_errors}}
	    <div id="submit-wizard" class="x12">
	         <p>
	    		<a href="{% url home %}">{% trans "Annuler" %}</a> {% trans "ou" %}
	    		<input type="submit" class="btn big-green" value={% trans "Sauvegarder" %} />
	    	</p>
	    </div>
</div>
{% endblock %}