{% extends "base.html" %}
{% load i18n product paginator %}

{% block title %}{% trans "Votre profil" %}{% endblock %}

{% block content %}
<div id="content" class="xgrid">
    <div class="content-top">
        <ul id="menu" class="x12">
            <li class="menu-tab first"><a href="{% url dashboard %}">{% trans "Tableau de bord" %}</a></li>
            <li class="menu-tab"><a href="{% url owner_booking %}">{% trans "Propriétaire" %}</a></li>
            <li class="menu-tab"><a href="{% url borrower_booking %}">{% trans "Locataire" %}</a></li>
            <li class="menu-tab">{% trans "Mon compte" %}</li>
            <li class="menu-tab"><a href="{% url inbox %}">{% blocktrans %}Messages({{ unread_message_count }}){% endblocktrans %}</a></li>
         </ul>
    </div>
    <div id="sub-menu">
        <ul class="x12">
            <li class="sub-tab first"><a href="{% url patron_edit %}">{% trans "Votre profil" %}</a></li>
            <li class="sub-tab"><a href="{% url patron_edit_password %}">{% trans "Modification du mot de passe" %}</a></li>
            <li class="sub-tab">{% trans "Modification des numéros de téléphone" %}</li>
            <li class="sub-tab"><a href="{% url patron_edit_addresses%}">{% trans "Modification des adresses" %}<a/></li>
        </ul>
    </div>
    <div class="x8 p2">
        <form method="post" action="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            {{ formset.non_form_errors }}
            <table class="more-info">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Supprimer</td>
                    </tr>
                </thead>
                <tbody>
                {% for form in formset.forms %}
                {{form.id}}
                {% if forloop.last %}
                <tr>
                    <td colspan="3" style="padding-top: 50px;">
                        Ajouter un nouveau numéro :
                    </td>
                </tr>
                <tr class = "add_new_phone">
                    <th>
                        <label>{% trans "Nouveau téléphone" %} {% if form.number.field.required %}*{% endif %} :</label>
                    </th>
                    <td {% if form.email.errors %} class="error-field" {% endif %}>
                        {{ form.number }}
                        {% if form.number.errors %}
                        {% for error in form.number.errors %}
                        <br />
                        <span class="error">{{ error|escape }}</span>
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <th><label>{{ form.number.label }} {% if form.number.field.required %}*{% endif %} :</label></th>
                    <td {% if form.email.errors %} class="error-field" {% endif %}>
                        {{ form.number }}
                        {% if form.number.errors %}
                        {% for error in form.number.errors %}
                        <br />
                        <span class="error">{{ error|escape }}</span>
                        {% endfor %}
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if not forloop.last %}
                            {{form.DELETE}}
                        {% endif %}
                    </td>
                </tr>
                {% endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="submit-wizard" class="x12">
        <p>
            <a href="{% url patron_edit_phonenumber %}">{% trans "Annuler" %}</a> {% trans "ou" %}
            <input type="submit" class="btn big-green" value={% trans "Sauvegarder" %} />
            </form>
        </p>
    </div>
</div>
{% endblock %}