{% load i18n %}
{% blocktrans with patron.first_name as first_name and patron.last_name as last_name and site.domain as domain and site.name as site_name %}
 <p>Bonjour {{ first_name }} {{ last_name }},</p>
 <p>Nous vous remercions de vous être enregistré(e) sur <a href="{{ protocol }}://{{ domain }}">{{ domain }}</a>.</p>
{% endblocktrans %}

{% blocktrans with clear_password as clear_password and site.domain as domain and site.name as site_name %}
<p>Votre mot de passe temporaire est : {{ clear_password }}</p>

<p>Vous pouvez vous connecter sur e-loue en cliquant sur cette adresse : <a href="{{ protocol }}://{{ domain }}">{{ domain }}/login/</a>

{% endblocktrans %}

<p><a href="{{ protocol }}://{{ domain }}{% url propw uidb36=uid token=token %}">{{ protocol }}://{{ domain }}{% url propw uidb36=uid token=token %}</a></p>

<p>{% trans "L'équipe" %} {{ site.name }}.</p>

