{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
<div class="nav-header">
	<ul class="nav">
		<li id="welcome" class="selected"><a href="{% url home %}">{% trans "Bienvenue" %}</a></li>
		<li id="you"><a href="{% url search %}">{% trans "Rechercher" %}</li>
	</ul>
	<div class="clear"></div>
</div>
<div id="content">
	<div class="container">
		<h1>{{ flatpage.title }}</h1>
		{{ flatpage.content|markdown }}
	</div>
</div>
{% endblock %}