<div id="registrationModal" class="modal fade registration-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Registration
            </div>
            <div class="modal-body">
                <h4>Inscrivez-vous en 30 secondes</h4>

                <form name="registrationForm" class="form-inline" role="form" ng-submit="register()" novalidate>
                    <input name="lastName" class="form-control" type="text" placeholder="Nom*"
                           data-ng-model="account.lastName" required>
                    <span data-ng-show="registrationForm.lastName.$error.required && registrationForm.lastName.$dirty"
                          class="errorMsg">
            Last name is required</span>


                    <input name="firstName" class="form-control" type="text" placeholder="Prénom*"
                           data-ng-model="account.firstName" required>
                    <span data-ng-show="registrationForm.firstName.$error.required && registrationForm.firstName.$dirty"
                          class="errorMsg">
            First name is required</span>

                    <input name="postalCode" class="form-control" type="text" placeholder="Code postal*"
                           data-ng-model="account.postalCode" required>
                    <span data-ng-show="registrationForm.postalCode.$error.required && registrationForm.postalCode.$dirty"
                          class="errorMsg">
            Postal code is required</span>

                    <input name="email" class="form-control" type="text" placeholder="E-mail*"
                           data-ng-model="account.email" required>
                    <span data-ng-show="registrationForm.email.$error.required && registrationForm.email.$dirty"
                          class="errorMsg">
            Email is required</span>

                    <input name="password" class="form-control" type="password" placeholder="Mot de passe*"
                           data-ng-model="account.password" required>
                    <span data-ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty"
                          class="errorMsg">
            Password is required</span>

                    <input name="confirmPassword" class="form-control" type="password" placeholder="Confirmation*"
                           data-ng-model="account.confirmPassword" required  eloue-password-match="password">
                    <span data-ng-show="registrationForm.confirmPassword.$error.required && registrationForm.confirmPassword.$dirty"
                          class="errorMsg">
            Confirm password is required</span>
                    <span
                            data-ng-show="!registrationForm.confirmPassword.$error.required && registrationForm.confirmPassword.$error.noMatch && registrationForm.password.$dirty"
                            class="errorMsg">Passwords do not match.</span>

                    <button class="btn btn-success" type="submit"
                            data-ng-disabled="registrationForm.$invalid || !registrationForm.$dirty">Inscription
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <p>Vous êtes déjà membre e-toue ?</p>
                <a href="#">Connexion</a>
            </div>
        </div>
    </div>
</div>