extends ../base
-load compressed
-load compressed staticfiles i18n

block append title
  {% trans "Mentions Légales" %}
.container.text-gray-strong
  h2.text-uppercase.text-center
    | Mentions légales

  .row.indent-t-lg
    .col-sm-6.col-sm-offset-3
      p: em Le site AutoVoisin est édité par la société AUTOVOISIN SAS.

      p: addres
        | AUTOVOISIN SAS (société par actions simplifiées) au capital de 20 000,00 € dont le siège social 
        | se trouve au 
        a(target='_blank' href='https://www.google.fr/maps/place/53+Rue+du+Chemin+Vert,+92100+Boulogne-Billancourt/@48.8441856,2.2841411,13z/data=!4m2!3m1!1s0x47e67aea9555e4ed:0x84e2958e4197e165') 53 rue du Chemin Vert, 92 100 Boulogne Billancourt,
        | immatriculée au RCS de Paris sous le numéro 809 651 599.

      p
        u.em E-mail
        | : 
        a(href="mailto:contact@e-loue.com").link-success
          | contact@e-loue.com
        br
        u.em Téléphone
        |: +33 1 85 09 07 44

      p  
        u TVA Intracommunautaire
        | : FR 22 809651599
        br
        u Directeur de publication
        | : Gilles BOUCHIER

      p
        | Le site internet est hébergé par la société&nbsp;
        a(href="http://www.heroku.com/").link-success Heroku, Inc.
        br
        | dont le siège social se trouve au 650 7th Street, San Francisco, CA, 94103.
      p
        em
          u Téléphone&nbsp;: 
        | +&nbsp;1&nbsp;(866)&nbsp;278-1349
