.container.text-gray-strong
  h2.text-uppercase.text-center
    | Omtale

  .row.indent-t-lg
    .col-sm-6.col-sm-offset-3
      p: em E-loue’s hjemmeside er redigeret af virksomheden E-LOUE Aps, hvis hovedkvarter ligger på følgende 

      p: addres
        | E-loue’s hjemmeside er redigeret af virksomheden E-LOUE Aps.
        br
        | hvis hovedkvarter ligger på følgende adresse&nbsp;
        a(href="https://www.google.fr/maps/place/Korskildevej+6,+4040+Jyllinge,+Denmark/@55.759578,12.1074669,17z/data=!3m1!4b1!4m2!3m1!1s0x4652678c5169cbab:0x93135996a4e8cdf1?hl=en").link-success Korskildevej 6 4040 Jyllinge Danmark

      p  
        | CVR-nummer: 36942339
        br
        | Ansvarlig for indholdet af hjemmesiden: Valery Lepinette 

      p
        em E-mail&nbsp;: 
        a(href="mailto:contact@e-loue.com").link-success
          | contact@e-loue.com

      p
        | Hjemmesiden er hostet af selskabet&nbsp;
        a(href="http://www.heroku.com/").link-success Heroku, Inc.
        br
        | hvis hovedkvarter ligger på adressen 650 7th Street, San Francisco, CA, 94103.
        br
        em telephon&nbsp;: 
        | +&nbsp;1&nbsp;(866)&nbsp;278-1349
      p
        | Hjemmesiden er certificeret af CNIL http://www.cnil.fr/ under følgende nummer: 1403691
