{% extends "accounts/dashboard.html" %}
{% load i18n product %}

{% block title %}{% trans "Déclarez un incident" %}{% endblock %}


{% block owner_product %}
    {% if request.user == booking.owner %}selected-nav-bar-link{% endif %}
{% endblock %}
{% block borrower_booking %}
    {% if request.user == booking.borrower %}selected-nav-bar-link{% endif %}
{% endblock %}

{% block content-aside-profil %}
    <div class="previous-sub-bar">
        &larr;  <a href="{{ booking.get_absolute_url }}">{% trans "Retour à la réservation" %}</a>
    </div>
{% endblock %}


{% block content-main-profil %}
    <h2 style="margin-bottom: 30px;">{% trans "Signalez un incident" %}</h2>
    <h3 style="margin-bottom: 10px;">{% trans "Résumé de la réservation" %}</h3>
    <table class="table table-bordered booking-resume">
        <tbody>
            <tr>
                <th class="b-state">{{ booking.get_state_display }}</th>
                <td><a href="{{booking.product.get_absolute_url}}" class="b-title">{{booking.product.summary|capfirst}}</a></td>
            </tr>
            <tr>
                <th>{% trans "Début" %}</th>
                <td class="align-center">{{booking.started_at|date:"l d F Y H:i"|capfirst}}</td>
            </tr>
            <tr>
                <th>{% trans "Fin" %}</th>
                <td class="align-center">{{booking.ended_at|date:"l d F Y H:i"|capfirst}}</td>
            </tr>
            <tr>
                <th>{% trans "Montant" %}</th>
                <td class="align-center"><b>{{booking.total_amount}} &euro;</b></td>
            </tr>
        </tbody>
    </table>
    <h3 style="margin-bottom: 10px;">{% trans "Déclaration de votre incident" %}</h3>
    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
        {% for field in form %}
        <div class="control-group {% if field.errors %} error {% endif %}">
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
            <div class="controls">
                {{ field }}
                <p class="help-block">{{ field.help_text }}</p>
                {% if field.errors %}
                <span class="help-inline">
                {% for error in field.errors %}
                    {{ error|escape }} 
                {% endfor %}
                </span>
            {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Envoyer   </button>
            <a href="{{ booking.get_absolute_url }}" type="reset" class="btn btn-cancel">Annuler</a>
        </div>
    </form>
{% endblock %}