{% extends "base.html" %}
{% load i18n product %}

{% block title %}Confirmez votre réservation{% endblock %}

{% block content %}
<div id="content" class="clearfix">
	<div class="sbs x12">
		<div class="sbs-header">
			<h1>{% trans "Réservation" %}</h1>
		</div>
		<ol class="sbs-steps">
			{% if not user.is_authenticated %}
				<li class="off">{% trans "1.Identifiez-vous" %}</li>
				<li class="on">{% trans "2.Confirmez votre réservation" %}</li>
			{% else %}
				<li class="off">{% trans "1.Information de contact" %}</li>
				<li class="on">{% trans "2.Confirmez votre réservation" %}</li>
			{% endif %}
		</ol>
		<a href="{% url faq-topic-list %}" class="btn big-blue">{% trans "Obtenir de l'aide" %}</a>
	</div>
	<div class="booking x8">
		<div class="content-header x8 first">
		 <h2>{% trans "Objet réservé" %}</h2>
		</div>
		<div class="booking-product x8 first">
		 <form class="form" action="" method="POST">
			{% csrf_token %}
			<a class="pl-img" href="{{ object.get_absolute_url }}">
				{% with product.pictures.all|first as picture %}
          {% if picture.thumbnail %}
           <img src="{{ picture.thumbnail.url }}" alt="product.summary" />
          {% endif %}
         {% endwith %}
			</a>
			<div class="pl-header">
				<h2><a href="{{ product.get_absolute_url }}">{{ product.summary|capfirst|truncate:50 }}</a></h2>
			</div>
			<div class="pl-content">
				<div class="pl-desc">{{ product.description|truncate:100 }}</div>
				<div class="pl-distance">
					
				</div>
				<div class="pl-price">
				    {% with product.prices.day|first as price %}
					 <span class="price">{{ price }}</span><br />
					 <span class="unit">par {{ price.unit|unit }}</span>
					{% endwith %}
				</div>
			</div>
			<div class="pl-footer">
				Par <a href="{{ product.owner.get_absolute_url }}" class="owner">{{ product.owner.username }}</a> | {{ product.address.city|capfirst }}, {{ product.address.zipcode }}
			</div>
		</div>
		<div class="content-header x8 first">
			<h2>Dates et total</h2>
		</div>
		<div class="booking-resume x8 first">
			<table>
				<tr>
					<th>Début :</th>
					<td>
						{{ preview.started_at|date:"l j F Y"|capfirst }}
					</td>
				</tr>
				<tr>
					<th>Fin :</th>
					<td>
                        {{ preview.ended_at|date:"l j F Y"|capfirst }}
					</td>
				</tr>
				<tr>
					<th>Prix par jour :</th>
					<td class="number">{{ product.prices.day|first }}</td>
				</tr>
				<tr>
					<th>Durée de la location :</th>
					<td class="number">{{ preview.started_at|timesince:preview.ended_at }}</td>
				</tr>
				<tr class="total">
					<th>Total :</th>
					<td class="number">{{ preview.total_amount }} €</td>
				</tr>
			</table>
		</div>
		<div class="content-header x8 first">
		 <h2>{% trans "Paiement" %}</h2>
		</div>
		<div class="booking-paiement x8 first">
		 Sur la prochaine page veuillez fournir vos informations de paiement.<br />
		 Vous ne serez <strong>débité</strong> que <strong>si le propriétaire accepte</strong> votre demande (dans les 32 heures).<br /> 
		 Si le propriétaire refuse ou ne répond pas, vous ne serez pas prélevé.<br />
		</div>
		<div class="booking-submit x8 first">
		    <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	        {{ previous_fields|safe }}
			<a href="{{ product.get_absolute_url }}">Annuler</a> ou
		    <input type="submit" class="btn big-green" value="Payez" />
		</div>
	  </form>
	</div>{# col1 #}
	<div class="sidebar-box x4">
		<h3>Louez en toute sécurité !</h3>
		<ul class="guarantee-list">
			<li class="guarantee-list-pp">
				Grâce à <strong>PayPal</strong>, bénéficiez du paiement le plus sécurisé au monde.
			</li>
			<li class="guarantee-list-tw">
				Notre <strong>partenaire assureur</strong> garantit l'objets en cas de casse.
			</li>
		</ul>
	</div>
	<div class="partner-gurantees-list x4">
		<p>Notre partenaire</p>
		<img src="{{ MEDIA_URL }}images/paypal2.png" />
	</div>
</div>{# content #}
{% endblock %}