{% extends "base.html" %}

{% block content %}
<div id="content" class="clearfix">
	<div class="sbs x12">
		<div class="sbs-header">
			<h1>Réservation</h1>
		</div>
		<ol class="sbs-steps">
				<li class="on">1.Identifiez-vous</li>
				<li class="off">2.Confirmez votre réservation</li>
		</ol>
		<a href="#" class="btn big-blue">obtenir de l'aide</a>
	</div>
	<div class="content-header x12">
		<h2>Identification</h2>
	</div>
	<div class="more-info x9">
		{{ form.errors }}
		<form class="form" action="" method="POST">
			{% csrf_token %}
		<table>
			{% if form.username %}
			<tr>
				<th><label>Pseudo * :</label></th>
				<td>{{ form.username }}</td>
			</tr>
			{% endif %}
			{% if form.password1 %}
			<tr>
				<th><label>Mot de passe * :</label></th>
				<td>{{ form.password1 }}</td>
			</tr>
			{% endif %}
			{% if form.password2 %}
			<tr>
				<th><label>A nouveau * :</label></th>
				<td>{{ form.password2 }}</td>
			</tr>
			{% endif %}
			{% if form.first_name %}
			<tr>
				<th><label>Prénom * :</label></th>
				<td>{{ form.first_name }}</td>
			</tr>
			{% endif %}
			{% if form.last_name %}
			<tr>
				<th><label>Nom * :</label></th>
				<td>{{ form.last_name }}</td>
			</tr>
			{% endif%}
			{% if form.phones %}
			<tr>
				<th><label>Téléphone * :</label></th>
				<td>{{ form.phones }}</td>
			</tr>
			{% endif %}
			{% if form.phones__phone %}
			<tr>
				<th>
					<label>
							{% if form.phones %}
								Nouveau Numéro :
							{% else %}
								Téléphone * :
							{% endif %}
					</label>
				</th>
				<td>{{ form.phones__phone }}</td>
			</tr>
			{% endif %}
			{% if form.addresses %}
			<tr>
				<th><label>Adresse * :</label></th>
				<td>{{ form.addresses }}</td>
			</tr>
			{% endif %}
			{% if form.addresses__address1 %}
			<tr>
				<th rowspan="3">
					<label>
						{% if form.addresses %}
							Nouvelle adresse :
						{% else %}
							Adresse * :
						{% endif %}
					</label>
				</th>
				<td>
					{{ form.addresses__address1 }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form.addresses__zipcode }}
					{{ form.addresses__city }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form.addresses__country }}
				</td>
			</tr>
			{% endif %}
		</table>
	</div>
	<div class="submit-wizard x9">
		<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
  	{{ previous_fields|safe }}
		<a href="#">Annuler</a> ou 
		<input type="submit" class="btn big-green" value="Continuer &rarr;" />
	</form>
	</div>
</div>{# content #}

{% endblock %}