{% extends "base.html" %}

{% block content %}
<div id="content" class="clearfix">
	<div class="sbs x12">
		<div class="sbs-header">
			<h1>Réservation</h1>
		</div>
		<ol class="sbs-steps">
				<li class="on">1.Identifiez-vous</li>
				<li class="off">2.Confirmez votre réservation</li>
		</ol>
		<a href="#" class="btn big-blue">Obtenir de l'aide</a>
	</div>
	<div class="content-header x12">
		<h2>Identification</h2>
	</div>
	<div class="x9">
		<div class="signup x9 first">
			{{ form.non_field_errors }}
			<form class="form" enctype="multipart/form-data" action="" method="POST">
			{% csrf_token %}
			<p class="email">
				<label >Votre adresse email est :</label> {{ form.email }}
				{% if form.email.errors %}
				    {% for error in form.email.errors %}
				        <span class="error">{{ error|escape }}</span>
				    {% endfor %}
				{% endif %}
			</p>
			<p class="question">Avez-vous un compte e-loue ?</p>
			{{ form.exists }}
			{% if form.exists.errors %}
			    {% for error in form.exists.errors %}
			        <span class="error">{{ error|escape }}</span>
			    {% endfor %}
			{% endif %}
			<p class="password">
				{{ form.password }}
				<a href="{% url password_reset %}" class="pd-forget">Mot de passe oublié</a>
				{% if form.password.errors %}
				    {% for error in form.password.errors %}
				        <span class="error">{{ error|escape }}</span>
				    {% endfor %}
				{% endif %}
			</p>
		</div>
		<div class="submit-wizard x9 first">
			<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	  	    {{ previous_fields|safe }}
			<a href="{{ product.get_absolute_url }}">Annuler</a> ou 
			<input type="submit" class="btn big-green" value="Continuer &rarr;" />
		</form>
		</div>
	</div>
</div>{# content #}
{% endblock %}