{% extends "base.html" %}

{% block content %}
<div class="top-content container first">
	<div class="grid3 first">
		<h1>Réservez</h1>
	</div>
	<div class="grid7">
		<ol class="sbs">
			<li class="sbsFirst sbsDo">1.Identifiez-vous</li>
			<li class="sbsDone">2.Enregistrez votre paiement</li>
		</ol>
	</div>
</div>{# top-content #}
<div class="content container first">
	<div class="grid7 first">
		<h3>Identification e-loue :</h3>
		<div class="data pam">
			{{ form.errors }}
			<form class="sign" action="" method="POST">
				{% csrf_token %}
				<table>
					<tr>
						<td class="txtR"><label class="labb">Mon adresse email est :</label></td>
						<td>{{ form.email }}</td>
					</tr>
					<tr class="cSign">
						<td class="txtR txtT"><input  name="create" value="0" type="radio" /></td>
						<td><label class="labb">Je n'ai pas encore de compte<br /> e-loue</label></td>
					</tr>
					<tr>
						<td class="txtR txtT"><input name="create" value="1" type="radio" /></td>
						<td><label class="labb">J'ai déjà un compte e-loue et<br /> mon mot de passe est :</label></td>
					</tr>
					<tr>
						<td></td>
						<td>{{ form.password }}</td>
					</tr>
					<tr>
						<td class="submit" colspan="2">
							<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
						  {{ previous_fields|safe }}
							<input type="submit" value="Prochaine étape" class="button middle grey" />
						</td>
					</tr>
					<tr>
						<td class="forgot" colspan="2">
							<a href="{% url password_reset %}">Mot de passe oublié</a>
						</td>
					</tr>
				</table>
			</form>{# sign #}
		</div>{# data #}
	</div>
</div>{# content #}
{% endblock %}