{% extends "base.html" %}
{% load i18n product %}
{% block title %}Identification - {{ block.super }}{% endblock %}
{% block content %}
<div id="content" class="clearfix">
	<div class="sbs x12">
		<div class="sbs-header">
			<h1>Réservation</h1>
		</div>
		<ol class="sbs-steps">
				<li class="on">1.Identifiez-vous</li>
				<li class="off">2.Confirmez votre réservation</li>
		</ol>
		<a href="#" class="btn big-blue">Obtenir de l'aide</a>
	</div>
	<div class="content-header x12">
		<h2>Identification</h2>
	</div>
	<div class="x9">
		{% include "accounts/partials/login.html" %}
	</div>
</div>{# content #}
{% endblock %}