{% extends "base.html" %}

{% block content %}
<div class="top-content container clearfix">
	<div class="grid3 first">
		<h1>Réservez</h1>
	</div>
	<div class="grid7">
		<ol class="sbs">
			<li class="sbsFirst sbsDo">1.Identifiez-vous</li>
			<li class="sbsDone">2.Enregistrez votre paiement</li>
		</ol>
	</div>
</div>{# top-content #}
<div class="content container clearfix">
	<div class="grid7 first">
		<h3>Nouveau sur e-loue ? Enregistrez votre profil :</h3>
		{{ form.errors }}
		<div class="data pam">
			<form class="new" action="" method="POST">
			  {% csrf_token %}
				<table class="grid7 first">
				  {% if form.username %}
					 <tr>
					 	<th class="txtT"><label class="labb">Pseudo * :</label></th>
						<td>{{ form.username }}</td>
					 </tr>
					{% endif %}
					{% if form.password1 %}
					 <tr>
					 	<th class="txtT"><label class="labb">Mot de passe * :</label></th>
						<td>{{ form.password1 }}</td>
					 </tr>
					{% endif %}
					{% if form.password2 %}
					 <tr>
					 	<th class="txtT"><label class="labb">A nouveau * :</label></th>
						<td>{{ form.password2 }}</td>
					 </tr>
					{% endif %}
					{% if form.first_name %}
					 <tr>
						<th class="txtT"><label class="labb">Prénom * :</label></th>
						<td>{{ form.first_name }}</td>
					 </tr>
					{% endif %}
					{% if form.last_name %}
					 <tr>
						<th class="txtT"><label class="labb">Nom * :</label></th>
						<td>{{ form.last_name }}</td>
					 </tr>
					{% endif %}
					{% if form.phones %}
					<tr>
						<th class="txtT"><label class="labb">Téléphone * :</label></th>
						<td>{{ form.phones }}</td>
					</tr>
					{% endif %}
					{% if form.phones__phone %}
					<tr>
						<th class="txtT">
							<label class="labb">
									{% if form.phones %}
										Nouveau Numéro :
									{% else %}
										Téléphone * :
									{% endif %}
							</label>
						</th>
						<td>{{ form.phones__phone }}</td>
					</tr>
					{% endif %}
					{% if form.addresses %}
					<tr>
						<th class="txtT"><label class="labb">Adresse * :</label></th>
						<td>{{ form.addresses }}</td>
					</tr>
					{% endif %}
					{% if form.addresses__address1 %}
					<tr>
						<th class="txtT address" rowspan="3">
							<label class="labb">
								{% if form.addresses %}
									Nouvelle adresse :
								{% else %}
									Adresse *:
								{% endif %}
							</label>
						</th>{# form.addresses__address1.field.required #}
						<td>{{ form.addresses__address1 }}</td>
					</tr>
					<tr>
						<td>
							{{ form.addresses__zipcode }}
							{{ form.addresses__city }}
						</td>
					</tr>
					<tr>
						<td>
							{{ form.addresses__country }}
						</td>
					</tr>
					{% endif %}
					<tr>
						<td class="submit" colspan="2">
							<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
						  {{ previous_fields|safe }}
							<input type="submit" value="Prochaine étape" class="button grey medium"/>
						</td>
					</tr>
				</table>
			</form>
		</div>{# data #}
	</div>
</div>{# content #}
{% endblock %}