{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Réservation annulé" %}{% endblock %}

{% block content %}
<div id="wizard-page" class="container-main">
	<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">{% trans "Accueil" %}</a></li>
    <li><a href="{{ request.HTTP_REFERER }}">{% trans "Réservation"%}</a></li>
    <li>{% trans "Echec de la réservation" %}</li>
  </ul>
  <div class="content-main">
  	<h2>{% trans "Echec de la réservation" %}</h2>
  	<p style="margin-bottom: 20px;">
  	{% blocktrans %}
  		Votre réservation a échoué. Vous pouvez nous contacter si le problème persiste.
  	{% endblocktrans %}
  	</p>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}