{% extends "base.html" %}
{% load i18n product %}

{% block title %}{% trans "Réservation enregistrée avec succès" %}{% endblock %}

{% block content %}
<div id="wizard-page" class="container-main">
	<ul class="breadcrumb">
    	<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
    	<li><a href="{{ booking.product.get_absolute_url }}">{% trans "Réservation" %}</a></li>
    	<li>{% trans "Réservation effectuée avec succès" %}</li>
  	</ul>
  	<div class="content-main">
      {% if booking.owner.current_subscription %}
      <h2>{% trans "Demande de réservation effectuée avec succès !" %}</h2>
      {% else %}
      <h2>{% trans "Réservation effectuée avec succès !" %}</h2>
      <p style="margin-bottom: 40px;">
        {% blocktrans %}
        Nous avons bien pris en comtpe votre réservation. Le propriétaire a été informé, il va vous répondre le plus rapidement possible (24h maximum).
        {% endblocktrans %}
      </p>
      <h2>{% trans "Résumé de la réservation" %}</h2>
      <p style="margin-bottom: 40px;">
        {% blocktrans %}
        Votre demande de réservation a bien été envoyé au loueur. Il va prendre contact avec vous rapidement.
        {% endblocktrans %}
      </p>
      {% endif %}
      <table class="table table-bordered booking-resume">
          <tbody>
              <tr>
                  <th class="b-state">{{ booking.get_state_display }}</th>
                  <td><a href="{{booking.product.get_absolute_url}}" class="b-title">{{booking.product.summary|capfirst}}</a></td>
              </tr>
              <tr>
                {% if booking.owner.current_subscription %}
                <th>{% trans "Loueur"%}</th>
                <td style="text-align: center;">
                  <a href="{{booking.owner.get_absolute_url }}">{{ booking.owner.company_name }}</a>
                </td>
                {% else %}
                <th>{% trans "Propriétaire"%}</th>
                <td style="text-align: center;">
                  <a href="{{booking.owner.get_absolute_url }}">{{ booking.owner.username }}</a>
                </td>
                {% endif %}
              </tr>
              <tr>
                  <th>{% trans "Début" %}</th>
                  <td class="align-center">{{booking.started_at|date:"l d F Y H:i"|capfirst}}</td>
              </tr> 
              <th>{% trans "Fin" %}</th>
                  <td class="align-center">{{booking.ended_at|date:"l d F Y H:i"|capfirst}}</td>
              </tr>
              {% if booking.quantity > 1 %}
              <tr>
                  <th>{% trans "Quantité" %}</th>
                  <td class="align-center"><b>{{booking.quantity}}</b></td>
              </tr>
              {% endif %}
              <tr>
                  <th>{% trans "Montant" %}</th>
                  <td class="align-center"><b>{{booking.total_amount|currency}}</b></td>
              </tr>
          </tbody>
      </table>
      <p style="text-align: center; margin-bottom: 20px;">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Flocation.eloue&amp;width=224&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;border_color=%23F3F8FA&amp;stream=false&amp;header=false&amp;appId=255056637886187" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:224px; height:62px;" allowTransparency="true"></iframe>
      </p>
  	</div>
</div>
{% endblock %}

{% block tail %}
  {{ block.super }}
  <!-- Google Code for Location Https Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1027691277;
  var google_conversion_language = "en";
  var google_conversion_format = "3";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "-XHsCMvspQMQjaaF6gM";
  var google_conversion_value = 0;
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1027691277/?value=0&amp;label=-XHsCMvspQMQjaaF6gM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>
  <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
  <script type="text/javascript">
  window.criteo_q = window.criteo_q || [];
  window.criteo_q.push( 
          { event: "setAccount", account: 13977 },
          { event: "setCustomerId", id: "#Customer ID#" },
          { event: "setSiteType", type: "#m for mobile or t for tablet or d for desktop#" },
          { event: "trackTransaction" , id: "{{ booking.uiid }}", item: [ 
                { id: "booking.product.pk", price: {{ booking.total_amount }}, quantity: {{ booking.quantity }) },
  ]});
</script>
{% endblock %}
{% block gaq %}
  {% if not request.user.is_active %}
    _gaq.push(['_trackEvent', 'Membre', 'Inscription', 'Réservation']);
  {% endif %}
  {% if booking.product.carproduct %}
    _gaq.push(['_trackEvent', 'Réservation', 'Demande de réservation', 'Voiture - {{ booking.product.category.name }}']);
  {% endif %}
  {% if booking.product.realestateproduct %}
    _gaq.push(['_trackEvent', 'Réservation', 'Demande de réservation', 'Logement - {{ booking.product.category.name }}']);
  {% endif %}
  {% if not booking.product.carproduct and not booking.product.realestateproduct %}
    _gaq.push(['_trackEvent', 'Réservation', 'Demande de réservation', 'Objet - {% for category in booking.product.category.get_ancestors %}{{ category.name }} - {% endfor %}{{ booking.product.category.name }}']);
  {% endif %}
{% endblock %}
{% block footer %}
{% endblock %}