{% extends "accounts/dashboard.html" %}
{% load i18n bookingaction %}


{% block owner_product %}
    {% if request.user == booking.owner %}selected-nav-bar-link{% endif %}
{% endblock %}
{% block borrower_booking %}
    {% if request.user == booking.borrower %}selected-nav-bar-link{% endif %}
{% endblock %}

{% block content-aside-profil %}
    {% if request.user == booking.borrower %}
        {% if booking.state == "authorized"%}{% url borrower_booking_authorized as return_url %}{% endif %}
        {% if booking.state == "pending"%}{% url borrower_booking_pending as return_url %}{% endif %}
        {% if booking.state == "ongoing"%}{% url borrower_booking_ongoing as return_url %}{% endif %}
        {% if booking.state != "authorized" and booking.state != "pending" and booking.state != "ongoing" %}
            {% url borrower_booking_history as return_url %}
        {% endif %}
    {% endif %}
    {% if request.user == booking.owner %}
        {% if booking.state == "authorized"%}{% url owner_booking_authorized as return_url %}{% endif %}
        {% if booking.state == "pending"%}{% url owner_booking_pending as return_url %}{% endif %}
        {% if booking.state == "ongoing"%}{% url owner_booking_ongoing as return_url %}{% endif %}
        {% if booking.state == "ended" or booking.state == "closed" %}
            {% url owner_booking_history as return_url %}
        {% endif %}
        {% if booking.state == "rejected" %}{% url owner_booking_history as return_url %}{% endif %}
    {% endif %}
    {% if return_url %}
        <div class="previous-sub-bar">
          &larr;  <a href="{{ return_url }}">{% trans "Retour aux réservations" %}</a>
        </div>
    {% endif %}
{% endblock %}

{% block content-main-profil %}
<h2>{% trans "La réservation" %}</h2>
<table class="table table-bordered booking-resume">
    <tbody>
        <tr>
            <th class="b-state">{{ booking.get_state_display }}</th>
            <td><a href="{{booking.product.get_absolute_url}}" class="b-title">{{booking.product.summary|capfirst}}</a></td>
        </tr>
        <tr>
            <th>{% trans "Début" %}</th>
            <td class="align-center">{{booking.started_at|date:"l d F Y H:i"|capfirst}}</td>
        </tr> 
        <th>{% trans "Fin" %}</th>
            <td class="align-center">{{booking.ended_at|date:"l d F Y H:i"|capfirst}}</td>
        </tr>
        <tr>
            <th>{% trans "Montant" %}</th>
            <td class="align-center"><b>{{booking.total_amount}} &euro;</b></td>
        </tr>
        <tr class="b-action">
            <td colspan="2">{% bookingaction request booking %}</td>
        </tr>
    </tbody>
</table>

{% if request.user == booking.borrower %}
    <h2>{% trans "Le propriétaire" %}</h2>
    <table class="table table-bordered booking-resume">
    <tr>
        <td class="b-profil-avatar" style="width: 60px;" rowspan="3">
            {% if booking.owner.avatar %}
                <img src="{{ booking.owner.avatar.thumbnail.url }}" width="60" height="60" alt="">
            {% else %}
                <img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
            {% endif %}
        </td>
        <td style="text-align: center;">
            {% if booking.state == booking.STATE.AUTHORIZED or booking.state == booking.STATE.REJECTED %}
                {{ booking.owner.username|capfirst }}
            {% else %}
                {{ booking.owner.first_name|capfirst }} {{ booking.last_name|capfirst }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            {% if booking.state == booking.STATE.AUTHORIZED or booking.state == booking.STATE.REJECTED %}
                {{ booking.owner.default_address.city }} - {{ booking.owner.default_address.zipcode }}
            {% else %}
                {{ booking.owner.default_address.address1 }}<br />
                {{ booking.owner.default_address.city }} - {{ booking.owner.default_address.zipcode }}
            {% endif %}
        </td>
    </tr>
    </table>
{% endif %}
{% if request.user == booking.owner %}
    <h2>{%  trans "Informations sur le locataire" %}</h2>
    <table class="table table-bordered booking-resume">
    <tr>
        <td class="b-profil-avatar" style="width: 60px;" rowspan="3">
            {% if booking.borrower.avatar %}
                <img src="{{ booking.borrower.avatar.thumbnail.url }}" width="60" height="60" alt="">
            {% else %}
                <img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
            {% endif %}
        </td>
        <td style="text-align: center;">
            {% if booking.state == booking.STATE.AUTHORIZED or booking.state == booking.STATE.REJECTED %}
                {{ booking.borrower.username|capfirst }}
            {% else %}
                {{ booking.borrower.first_name|capfirst }} {{ booking.borrower.last_name|capfirst }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            {% if booking.state == booking.STATE.AUTHORIZED or booking.state == booking.STATE.REJECTED %}
                {{ booking.borrower.default_address.city }} - {{ booking.borrower.default_address.zipcode }}
            {% else %}
                {{ booking.borrower.default_address.address1 }}<br />
                {{ booking.borrower.default_address.city }} - {{ booking.borrower.default_address.zipcode }}
            {% endif %}
        </td>
    </tr>
    </table>
{% endif %}
{% endblock %}