{% extends "accounts/dashboard.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Votre profil" %}{% endblock %}
{% block head %}
  {{block.super}}

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
{% endblock %}

{% block content-aside-profil %}
{% url patron_edit as patron_edit %}
{% url comments as comments %}
{% url patron_edit_addresses as patron_edit_addresses %}
{% url patron_edit_phonenumber as patron_edit_phonenumber %}
{% url patron_edit_password as patron_edit_password %}
<ul class="nav-sub-bar">
    <li><a href="{{ patron_edit }}"  class="{% active request "^/dashboard/account/$" %}">{% trans "Mon Profil" %}</a></li>
    <li><a href="{{ comments }}" class="{% active request comments %}">{% trans "Commentaires" %}</a></li>
    <li><a href="{{ patron_edit_addresses }}" class="{% active request patron_edit_addresses %}">{% trans "Adresses" %}</a></li>
    <li><a href="{{ patron_edit_phonenumber }}" class="{% active request patron_edit_phonenumber %}">{% trans "Téléphone" %}</a></li>
    <li><a href="{{ patron_edit_password }}" class="{% active request patron_edit_password %}">{% trans "Mot de passe" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}
  {% trans "Vos commentaires" %}
  <div class="product-comment">
    <ul>
    {% for booking in commented_bookings %}
      {% if request.user == booking.owner %}
        {% with booking.ownercomment as comment %}
          <li>{% include 'rent/partials/comment.html' %}</li>
        {% endwith %}
      {% else %}
        {% with booking.borrowercomment as comment %}
          <li>{% include 'rent/partials/comment.html' %}</li>
        {% endwith %}
      {% endif %}
    {% endfor %}
    </ul>
  </div>

  {% trans "Commentaires a ecrire" %}

  {% for form in forms %}
    <form method="post" action="">
      <legend>
        <a href="{{ form.instance.booking.get_absolute_url }}">booking</a>
      </legend>
        {% csrf_token %}

      {% for formfield in form %}
        <div class="control-group {% if formfield.errors %} error {% endif %}">
          <label class="control-label" for="{{ formfield.id_for_label }}">{{ formfield.label }} {% if formfield.field.required %}*{% endif %}</label>
          <div class="controls">
            {{ formfield }}
            <p class="help-block">{{ formfield.help_text }}</p>
            {% if formfield.errors %}
              <span class="help-inline">
              {% for error in formfield.errors %}
                {{ error|escape }} 
              {% endfor %}
              </span>
            {% endif %}
          </div>
        </div>
      {% endfor %}

      <div class="form-actions">
        <input type="submit" name="{{form.instance.booking.pk.hex}}" class="btn big-green" value="Enregistrer">
      </div>
    </form>
  {% endfor %}

{% endblock %}

