{% load i18n %}
{% blocktrans with booking.borrower.username as username and booking.product.category.name as category and booking.product.summary as summary  and booking.started_at|date:"DATETIME_FORMAT" as starting_at and booking.started_at|timesince:booking.ended_at as duration %}
<p>Bonjour {{ username }},</p>

<p>Vous avez manifesté votre souhait d'annuler la location suivante :</p>

 <ul>
  <li><strong>Type :</strong> {{ category }}</li>
  <li><strong>Objet :</strong> {{ summary }}</li>
  <li><strong>Début de la location :</strong> {{ starting_at }}</li> 
  <li><strong>Durée de la location :</strong> {{ duration }}</li>
 </ul>

<p>Conformément à votre demande, nous vous confirmons que cette location a bien été annulée et donc qu'aucun débit n'aura lieu.</p>
 
<p>L'équipe e-loue</p>
{% endblocktrans %}