{% load i18n %}
{% blocktrans with booking.owner.username as owner and booking.borrower.username as borrower and booking.product.category.name as category and booking.product.summary as summary and booking.started_at|date:"DATETIME_FORMAT" as starting_at and booking.started_at|timesince:booking.ended_at as duration and site.name as site_name %}
 <p>Bonjour {{ borrower }},</p>

 <p>Nous avons bien pris en compte votre demande de location et venons d’informer {{ owner }} de votre proposition.</p>
  
 <p>Voici donc les différents éléments qui lui ont été transmis :</p> 
 <ul>
  <li><strong>Type :</strong> {{ category }}</li>
  <li><strong>Objet :</strong> {{ summary }}</li>
  <li><strong>Début de la location :</strong> {{ starting_at }}</li> 
  <li><strong>Durée de la location :</strong> {{ duration }}</li>
 </ul>
 
 <p>Vous serez prochainement informé(e) de sa réponse. Pour rappel : votre compte ne sera débité que si le propriétaire accepte la location.</p>

<p>L'équipe {{ site_name }}</p>
{% endblocktrans %}
