{% extends "base_email.html" %}

{% load i18n %}

{% block title_email %}{% trans "Annulation de votre location"%}{% endblock %}

{% block content_email %}
<tr>
	<td valign="top" width="100%" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="510">
            <tbody>
                <tr>
                    <td valign="top" style="padding-top: 20px;border-collapse: collapse;">
                        <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 200%;text-align: left;">
                        	{% blocktrans with booking.borrower.get_full_name as borrower_name and booking.owner.username as owner %}

                            Bonjour {{ borrower_name }}<br><br>

                            Vous avez manifesté votre souhait d'annuler la location suivante :<br>
                           	{% endblocktrans %}

                            {% include "rent/emails/partials/booking_details_email.html" %}

                            {% blocktrans with site.name as site_name %}

                           	Conformément à votre demande, nous vous confirmons que cette location a bien été annulée et donc qu'aucun débit n'aura lieu.<br><br>
                            

                            L'équipe {{ site_name }}<br>
                            {% endblocktrans %}
                        </div>                                                                    
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}