{% load i18n %}
{% blocktrans with booking.borrower.username as username and booking.owner.username as owner and booking.get_absolute_url as booking_url and site.domain as domain %}
<p>Bonjour {{ username }},</p>

<p>Votre location a été clôturée. De plus {{ owner }} a bien reçu votre virement.</p>
 
<p>Si vous rencontrez un quelconque problème, nous vous invitons à nous <a href="{{ protocol }}://{{ domain }}{{ booking_url }}">signaler l'incident</a>.</p>
 
<p>L'équipe e-loue</p>
{% endblocktrans %}