{% extends "base_email.html" %}
{% load i18n %}

{% block title_email %}{% trans "Fin de votre réservation" %}{% endblock %}

{% block content_email %}
{% url comments as comment_link %}
<tr>
	<td valign="top" width="100%" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="510">
            <tbody>
                <tr>
                    <td valign="top" style="padding-top: 20px;border-collapse: collapse;">
                        <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 200%;text-align: left;">
                        	{% blocktrans with booking.borrower.get_full_name as borrower_name and booking.owner.username as owner and comment_link as comment_link %}

                            Bonjour {{ borrower_name }}<br><br>

                            La réservation suiviante vient de se terminer :<br>
                           	{% endblocktrans %}

                            {% include "rent/emails/partials/booking_details_email.html" %}

                            {% blocktrans with site.name as site_name and protocol as protocol and site.domain as domain and booking.get_absolute_url as booking_url %}

                            Nous espérons que tout s’est bien déroulé selon votre convenance, et que vous êtes satisfaite(e) de votre location.<br>


                            <p style="margin-top: 15px; text-align: center;">
                                <a href="{{ protocol }}://{{ domain }}{{ comment_link }}" style="text-decoration: none; cursor: pointer; display: inline-block; background-color: #f36100; padding: 10px; font-family: Arial, sans-serif; line-height: 18px; font-size: 14px; color: #fff; border: 1px solid #c85007; vertical-align: 7%;">
                                    Commenter la réservation
                                </a>
                            </p>

                           	Si vous rencontrez un quelconque problème, nous vous invitons à nous <a href="{{ protocol }}://{{ domain }}{{ booking_url }}">signaler l'incident</a><br><br>
                            A très vite,<br>

                            L'équipe {{ site_name }}<br><br>
                            {% endblocktrans %}
                        </div>                                                                    
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}