{% load i18n %}
{% blocktrans with booking.owner.username as owner and booking.borrower.username as borrower and booking.product.category.name as category and booking.product.summary as summary and booking.started_at|date:"DATETIME_FORMAT" as starting_at and booking.started_at|timesince:booking.ended_at as duration and booking.get_absolute_url as booking_url and site.domain as domain %}
<p>Bonjour {{ owner }},</p>

<p>{{ borrower }} souhaite louer l’un de vos objets. Voici les détails de sa proposition :</p>

<ul>
 <li><strong>Type :</strong> {{ category }}</li>
 <li><strong>Objet :</strong> {{ summary }}</li>
 <li><strong>Début de la location :</strong> {{ starting_at }}</li>
 <li><strong>Durée de la location :</strong> {{ duration }}</li>
</ul>

<p>Pour lui répondre et/ou accepter cette location, il vous suffit d’aller dans <a href="{{ protocol }}://{{ domain }}{{ booking_url }}">l’onglet propositions</a> de votre compte e-loue.com.<p>
{% endblocktrans %}
<p>{% trans "L'équipe e-loue" %}</p>
