{% load i18n %}{% blocktrans with booking.owner.get_full_name as owner_name and booking.borrower.get_full_name as borrower_name and booking.product.summary as summary and booking.product.category.name as category and booking.product.summary as summary and booking.borrower.phones.all|first as borrower_phone and booking.started_at|date:"DATETIME_FORMAT" as starting_at and booking.started_at|timesince:booking.ended_at as duration and booking.borrower.email as borrower_email and site.name as site_name %}
<p>Bonjour {{ owner_name }},</p>

<p>Vous venez d'accepter la proposition de location suivante :</p>

<ul>
 <li><strong>Type :</strong> {{ category }}</li>
 <li><strong>Objet :</strong> {{ summary }}</li>
 <li><strong>Début de la location :</strong> {{ starting_at }}</li>
 <li><strong>Durée de la location :</strong> {{ duration }}</li>
</ul>

<p>Vous trouverez en pièce jointe votre contrat de location. Il ne vous reste donc plus qu'à contacter {{ borrower_name }} pour le faire profiter de votre {{ summary }}.</p>
 
<ul>
 <li><strong>Numéro de téléphone :</strong> {{ borrower_phone }}</li>
 <li><strong>Adresse électronique :</strong> {{ borrower_email }}</li>
</ul>
 
<p>Bonne location !</p>

<p>L'équipe {{ site_name }}</p>
{% endblocktrans %}
