{% extends "base_email.html" %}
{% load i18n %}

{% block title_email %}{% trans "Annulation de votre location"%}{% endblock %}

{% block content_email %}
<tr>
	<td valign="top" width="100%" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="510">
            <tbody>
                <tr>
                    <td valign="top" style="padding-top: 20px;border-collapse: collapse;">
                        <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 200%;text-align: left;">
                        	{% blocktrans with booking.borrower.get_full_name as borrower_name and booking.owner.username as owner %}

                            Bonjour {{ borrower_name }}<br><br>

                            Malgré son précédent accord, le propriétaire a décidé d'annuler la location suivante :<br>
                           	{% endblocktrans %}

                            {% include "rent/emails/partials/booking_details_email.html" %}

                            Nous vous confirmons que vous allez être intégralement remboursé de la réservation.<br>

                           	{% with booking.product.more_like_this as related_products %}
							{% if related_products %}

                            Cependant, d’autres objets similaires peuvent peut-être vous intéresser :<br>

                            {% include "rent/emails/partials/product_list_email.html" %}

                            {% endif %}
                            {% endwith %}

                            {% blocktrans with site.name as site_name and protocol as protocol and site.domain as domain and booking.product.category.get_absolute_url as category_url %}

                            Retrouvez tous les objets de cette catégorie sur <a href="{{ protocol }}://{{ domain }}{{ category_url }}">{{ domain }}</a>.<br>

                            Aussi n'hésitez pas à nous appeler au 0826 800 200 (0,15&euro;/min) pour qu'un conseiller e-loue vous aide.<br>

                            A très vite,<br>

                            L'équipe {{ site_name }}<br>
                            {% endblocktrans %}
                        </div>                                                                    
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}



{% blocktrans with booking.borrower.username as username and booking.owner.username as owner and booking.product.category.name as category and booking.product.summary as summary  and booking.started_at|date:"DATETIME_FORMAT" as starting_at and booking.started_at|timesince:booking.ended_at as duration %}
<p>Bonjour {{ username }},</p>

<p>Malgré son précédent accord, {{ owner }} a décidé d'annuler la location suivante :</p>

<ul>
 <li><strong>Type :</strong> {{ category }}</li>
 <li><strong>Objet :</strong> {{ summary }}</li>
 <li><strong>Début de la location :</strong> {{ starting_at }}</li>
 <li><strong>Durée de la location :</strong> {{ duration }}</li>
</ul>
 
<p>Nous vous confirmons qu'aucun débit n'aura lieu.</p>
{% endblocktrans %}
{% with booking.product.more_like_this as related_products %}
{% if related_products %}
 <p>{% trans "Cependant, d’autres objets similaires peuvent peut-être vous intéresser :" %}</p>
 <ul>
 {% for result in booking.more_like_this %}
  {% with result.object as product %}
   <li><a href="{{ protocol }}://{{ site.domain }}{{ product.get_absolute_url }}">{{ product.summary }}</a> ({{ product.address.zipcode }})</li>
  {% endwith %}
 {% endfor %}
 </ul>
{% endif %}
{% endwith %}
{% blocktrans with booking.product.category.get_absolute_url as category_url and site.domain as domain and site.name as site_name %}
<p>Retrouvez tous les objets de cette catégorie sur {{ domain }} :

{{ protocol }}://{{ domain }}{{ category_url }}
 
<p>L'équipe {{ site_name }}</p>
{% endblocktrans %}
