{% extends "base_email.html" %}

{% load i18n %}

{% block title_email %}{% trans "Clôture de votre réservation"%}{% endblock %}

{% block content_email %}
<tr>
	<td valign="top" width="100%" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="510">
            <tbody>
                <tr>
                    <td valign="top" style="padding-top: 20px;border-collapse: collapse;">
                        <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 200%;text-align: left;">
                        	{% blocktrans with booking.owner.get_full_name as owner_name and booking.owner.username as owner %}

                            Bonjour {{ owner_name }}<br><br>

                            La réservation suivante a bien été cloturée :<br>
                           	{% endblocktrans %}

                            {% include "rent/emails/partials/booking_details_email.html" %}

                            {% blocktrans with site.name as site_name and protocol as protocol and site.domain as domain and booking.get_absolute_url as booking_url %}

                            L'équipe {{ site_name }}<br><br>
                            {% endblocktrans %}
                        </div>                                                                    
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}

{% load i18n product %}
{% blocktrans with booking.owner.username as username and booking.product.summary as summary and booking.total_amount|currency as total_amount and booking.started_at|date:"DATETIME_FORMAT" as starting_at and booking.started_at|timesince:booking.ended_at as duration and booking.get_absolute_url as booking_url and site.domain as domain and site.name as site_name %}
<p>Bonjour {{ username }},</p>

<p>Vous venez de clôturer la location de l’objet {{ summary }}, qui a débutée le {{ starting_at }} pour une durée de {{ duration }} jour(s).  
Le paiement de {{ total_amount }} est donc en cours et devrait être visible dans les prochaines minutes.</p>
 
<p>Si vous le souhaitez, vous pouvez éditer une facture en cliquant sur le lien ci-après : {{ protocol }}://{{ domain }}{{ booking_url }}.</p>

<p>Naturellement, si vous rencontrez une quelconque difficulté, n'hésitez pas à nous contacter.</p>
 
<p>L'équipe {{ site_name }}</p>
{% endblocktrans %}