extends ../base
-load compressed staticfiles i18n

block append title
  {% trans "Qui sommes nous ?" %}
  
.container.indent-v-lg
  h2.text-center.text-uppercase
    | « IL ÉTAIT UNE FOIS...
    br
    | UNE COMMUNAUTÉ QUI GRANDIT »
  
  .text-justify.indent-t-lg
    p 
      | AutoVoisin est une marketplace permettant aux particuliers et aux professionnel de
      | la location de louer et/ou de mettre en location tout type de voiture : citadine, 
      | compacte, berline, cabriolet, etc.
    p 
      | Les propriétaires gagnent de l’argent et rentabilisent leurs voitures en les mettant à 
      | louer sur AutoVoisin.
    p
      | Les locataires économisent de l’argent en louant des voitures près de chez eux, au 
      | lieu de les acheter.
    p Bref, avec AutoVoisin, ils louent, et ça leur rapporte...
    p
      b 
        | C’est simple, pratique, responsable, économique, écologique, et
        | convivial... et surtout 100% sécurisé.

    h3 L’HISTOIRE D’AUTOVOISIN
    p 
      |Au début, il y avait Alexandre, Benoit... et un meuble à monter. Aucun des deux 
      | n’avait de perceuse, et ne souhaitait en acheter une pour l’utiliser seulement 
      | 10 minutes. Mais ils étaient persuadés que leurs voisins en possédaient  ... Et l’idée 
      | était née !
    p
      | Le site e‐loue a été pensé il y a plus de 5 ans, comme une plateforme internet 
      | permettant aux particuliers de louer tous types d’objets près de chez eux. Depuis ce  
      | jour, vous avez toujours été plus nombreux à croire en notre idée, et à nous aider à 
      | la développer. Aujourd’hui, nous avons plus de 100 000 annonces et plus de 50 000 
      | membres ... et c’est grâce à vous !
    p
      | Fort de ce succès, Alexandre et Benoit ont souhaité développer un site dédié à la 
      | location automobile, ce qui a donné naissance à AutoVoisin. Pour cela ils sont 
      | associés au Groupe Entreprendre et au fonds Talleyrand Investissement qui sont 
      | entrés au capital de la filiale AutoVoisin.

    h3 L’ÉQUIPE AUTOVOISIN
    p
        | Il y a 5 ans, nous étions deux. Puis trois, quarte, cinq... Aujourd'hui, nous avons une 
        | équipe jeune et dynamique de plus de 20 personnes, qui travaillent tous les jours 
        | pour vous offrir la meilleure expérience possible. Votre satisfaction a toujours été 
        | notre priorité. Léa, Thibaud, Marion, Mickaël - et tous les autres ‐ font leur possible 
        | pour que vous soyez satisfaits de nos services, et, on l’avoue, que vous les 
        | recommandiez à votre entourage ☺ . Mais nous nous battons aussi pour évoluer 
        | les mentalités et faire comprendre à tous les autres qu’il existe une alternative à 
        | l’achat. Avant, on payait pour posséder. Demain, on paiera pour utiliser...
    p
        b Avec AutoVoisin, vous êtes déjà demain...

    h3 LES VALEURS D’AUTOVOISIN
    p
      | Depuis toujours, nous avons axé les développements d’AutoVoisin autour de 6 
      | valeurs fortes, que nous nous tachons de prendre en compte dans toutes nos 
      | évolutions et toutes nos décisions : Nous pensons en effet que notre rôle, en tant 
      | que pionnier de la consommation collaborative, est d’utiliser les évolutions 
      | technologiques pour rapprocher les gens, leur apporter de la convivialité, du 
      | pouvoir d’achat, et de la confiance. Ces valeurs qui nous animent au quotidien sont 
      b Proximité, Simplicité, Qualité, Ecoute, Honnêteté et Performance