h2 Vos bank-information
.row
  .col-sm-9.card
    input(type="text", placeholder="Numéro de carte *", required).form-control
    i.card
  .col-sm-3
    input(type="text", placeholder="MM/AA *", required).form-control
    i.calendar
.row
  .col-sm-5
    input(type="text", placeholder="Code de sécurité *", required).form-control
    i.block
  .col-sm-7
    input(type="text", placeholder="Nom et prénom du titulaire *", required).form-control
    i.user
p.info
  | Vous devez payer avec votre propre carte bancaire, que vous devrez présenter au propriétaire pour vérification.
  br
  | Si vous payez avec une carte bleue qui n'est pas à votre nom (ou une carte virtuelle, e-carte bleue), le propriétaire devra refuser la location.
.col-sm-8.col-sm-offset-2: button(type="submit").btn.bg-success Réservez

