.dialog-scroll-container
    .dialog-container
        {% verbatim %}
        .message.from-declarer(ng-repeat="message in $parent.productRelatedMessages | orderBy:'sent_at'", class="{{(product.owner.id === message.sender.id ? 'from-declarer' : 'from-customer')}}")
            div(ng-show="product.owner.id === message.sender.id").thumbnail-img
                a(href="{{message.sender.url}}"): img(ng-src="{{getAvatar(message.sender.avatar.thumbnail)}}", alt="")
            .thumbnail-content
                .thumbnail-frame
                    h4 {{message.sender.first_name}} {{message.sender.last_name}}
                    p(ng-bind="message.body")
                p(ng-bind="message.sent_at | date : 'Le dd.MM.yyyy à HH:mm'").time
            div(ng-show="!product.owner.id === message.sender.id").thumbnail-img
                a(href="{{message.sender.url}}"): img(ng-src="{{getAvatar(message.sender.avatar.thumbnail)}}", alt="")
        {% endverbatim %}