.thumbnail-img
	a(href="#")
		img(src="#{STATIC_URL}img/home-products/audi.jpg", alt="")
.thumbnail-content
	h3 BMW 520 Touring Luxe
	p.location
		i.sprite-location
		| Nice, 02200
	p.stats
		include ../_rate
		span.rate-count 32
		span.comments-count
			i.sprite-comment
			| 12
	.declarer
		.thumbnail-img
			a(href="#")
				img(src="#{STATIC_URL}img/home-products/declarer.png", alt="")
		.thumbnail-content
			p Julien Dupré