h2 Vos informations personnelles
form(action="").input-group
  .row
    .col-sm-2
      select.form-control
        option(value="male") M.
        option(value="female") F.
    .col-sm-5
      input(type="text", placeholder="Prénom *").form-control
    .col-sm-5
      input(type="text", placeholder="Nom *").form-control
  .row
    .col-sm-12
      input(type="text", placeholder="Adresse *").form-control
  .row
    .col-sm-6
      input(type="text", placeholder="Code postal *").form-control
    .col-sm-6
      input(type="text", placeholder="Ville *").form-control
  .row
    .col-sm-6
      input(type="text", placeholder="Date de naissance *").form-control
    .col-sm-6
      input(type="text", placeholder="Lieu de naissance *").form-control
  .row
    .col-sm-12
      input(type="text", placeholder="Numéro de permis *").form-control
  .row
    .col-sm-6
      input(type="text", placeholder="Date d’obtention du permis").form-control
    .col-sm-6
      label(for="photo").table-cell.btn.bg-gray Photo scan de votre permis
        input(type="file")#photo.form-control
p.info Ces informations seront reproduites sur le contrat de location. Le propriétaire les vérifiera au début de la location. Si elles sont incorrectes, il ne pourra pas vous remettre les clés. Les champs marqués d'une étoile (*) sont obligatoires.
