h2 Vos informations personnelles
form(action="").input-group
  .table-row
    input(type="text", placeholder="Adresse *").form-contro.table-cell.main-cell
  .table-row
    input(type="text", placeholder="Code postal *").form-contro.table-cell
    input(type="text", placeholder="Ville *").form-contro.table-cell
