#header {
  background: #9D0B30 url(../images/header_bg.png) repeat-x 0 0;
  height: 96px;
  margin: 0 auto;
  position: relative;
}

  #header h1 {
    width: 189px;
    height: 30px;
    overflow: hidden;
    color: white;
    font-size: 32px;
    position: absolute;
    top: 40px;
    left: 10px;
  }
    #header h1 a { color: #FFF; }
    
  #header #info {
    width: 215px;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    text-align: right;
    position: absolute;
    right: 20px;
    top: 12px;
    padding-right: 85px;
  }
    #info h4 {
      font-size: 16px;
      color: #FFF;
      margin-bottom: .6em;
    }
    #info a {
      color: #F90;
    }
    
    #info img {
      width: 60px;
      border: 3px solid white;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      position: absolute;
      top: 0;
      right: 0;
    }

#nav {
  background: #9D0B30;
  height: 47px;
  margin: 0 auto 20px;
  position: relative;
  z-index: 100;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -o-border-bottom-left-radius: 8px;
  -ms-border-bottom-left-radius: 8px;
  -khtml-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -o-border-bottom-right-radius: 8px;
  -ms-border-bottom-right-radius: 8px;
  -khtml-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

/* Menu tab styling */
/* line 5, ../sass/_mega.scss */
.mega-container {
  text-align: left;
  list-style-type: none !important;
  padding: 0;
  margin: 0;
}

/* List item styling */
/* line 13, ../sass/_mega.scss */
.mega-container li {
  list-style-type: none;
}

/* line 16, ../sass/_mega.scss */
.mega {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: .99;
  *display: inline;
  position: relative;
  z-index: 10;
  padding-left: 10px;
  margin: 8px 0 10px 0;
  list-style-type: none !important;
}

/* line 28, ../sass/_mega.scss */
.mega:first-child {
  background: none !important;
}

/* line 30, ../sass/_mega.scss */
.mega:hover {
  z-index: 10000 !important;
}

/* line 31, ../sass/_mega.scss */
*:first-child + html .mega:hover {
  zoom: 1 !important;
}


/* line 40, ../sass/_mega.scss */
.mega .mega-tab,
.mega .mega-link,
.mega-current .mega-tab,
.mega-current .mega-link {
  background: url(../images/button-gradient.png) repeat-x right -200px;
  font-weight: bold;
  color: #222;
  font-size: 12px;
  text-decoration: none;
  line-height: 0;
  display: block;
  padding: 15px 35px 15px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border: 1px solid transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

/* line 60, ../sass/_mega.scss */
.mega-current .mega-tab {
  background-position: right -100px !important;
}

/* line 62, ../sass/_mega.scss */
.mega-link {
  background-position: right -2000px !important;
  color: #fff !important;
  padding-right: 10px !important;
  padding-bottom: 10px;
}

/* line 66, ../sass/_mega.scss */
.mega-link:hover,
.mega-current .mega-link {
  background-position: right -100px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  /* line 76, ../sass/_mega.scss */
  .mega .mega-tab,
  .mega .mega-link {
    padding-bottom: 10px !important;
  }
}
/* line 80, ../sass/_mega.scss */
.mega:hover .mega-tab {
  background-position: right -100px;
  background-color: #ad0a35;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Content container styling */
/* line 95, ../sass/_mega.scss */
.mega-content {
  width: 175px;
  display: none;
  -webkit-border-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 4px;
  -moz-border-radius-topleft: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  padding: 10px;
  position: absolute;
  top: 98%;
  left: 10px;
  border: 4px solid #aaa;
  text-align: left;
  color: #222;
  font-size: 11px;
  z-index: 6;
  background: #FFF;
}

/* line 116, ../sass/_mega.scss */
.mega .mega-content li {
  background-image: none;
}

/* line 117, ../sass/_mega.scss */
.mega:hover .mega-content {
  display: block;
  border-color: #aaa;
}

/* line 119, ../sass/_mega.scss */
* + html .mega-content {
  padding-bottom: 5px !important;
}

/* Fix padding in IE7 */
/* line 120, ../sass/_mega.scss */
* + html .mega-menu li > ul {
  padding-top: 5px !important;
  padding-bottom: 10px !important;
}

/* Drop Menu Styling */
/* line 126, ../sass/_mega.scss */
.mega-menu {
  background: #ad0a35;
  filter: none !important;
  padding: 5px 5px 0 !important;
  z-index: 10000 !important;
}

/* line 128, ../sass/_mega.scss */
.mega-menu ul {
  list-style-type: none;
  margin: 0;
}

/* line 130, ../sass/_mega.scss */
.mega-menu li {
  margin-bottom: .5em;
}

/* line 133, ../sass/_mega.scss */
.mega-menu li a {
  background-color: #ad0a35;
  display: block;
  padding: 5px 10px 5px 10px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 145, ../sass/_mega.scss */
.mega-menu li a.hasSub {
  background-image: url(../images/link-menu-arrow.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

/* line 148, ../sass/_mega.scss */
.mega-menu li a:hover {
  background-color: #DDD;
}

/* line 150, ../sass/_mega.scss */
.mega-menu li {
  position: relative;
}

/* line 151, ../sass/_mega.scss */
.mega-menu li:hover > ul {
  display: block !important;
}

/* line 153, ../sass/_mega.scss */
.mega-menu li > ul {
  background: #ad0a35;
  width: 175px;
  padding: 10px 10px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  z-index: 1000;
  position: absolute;
  left: 100%;
  top: 0;
}

/* Utility Classes */
/* line 158, ../sass/_mega.scss */
.mega-left {
  left: 0;
}

/* line 159, ../sass/_mega.scss */
.mega-right {
  left: auto;
  right: 0;
}

/* line 162, ../sass/_mega.scss */
.mega-right {
  -webkit-border-radius: 4px;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius: 4px;
  -moz-border-radius-topright: 0;
  border-radius: 4px;
  border-top-right-radius: 0;
}

/* Color styling */
/* line 175, ../sass/_mega.scss */
.mega-container .mega-tab {
  background-color: transparent;
  color: #fff !important;
  background-position: right top;
  border: 1px solid transparent;
}

/* line 180, ../sass/_mega.scss */
.mega-container .mega:hover .mega-tab,
.mega-container .mega:hover .mega-link,
.mega-container .mega-current .mega-tab,
.mega-container .mega-current .mega-link {
  background-color: #ad0a35;
  color: #fff !important;
  border-color: #ad0a35;
}

/* line 182, ../sass/_mega.scss */
.mega-container .mega:hover .mega-content {
  border-color: #ad0a35;
}

/* line 183, ../sass/_mega.scss */
.mega-container .mega-menu {
  background: #ad0a35 !important;
}

/* line 184, ../sass/_mega.scss */
.mega-container li > ul {
  background-color: #ad0a35 !important;
}
