-load i18n
.block-tab.ng-hide#tabs-insurance
	{% if is_pro %}
	h3.indent-t-sm {% trans "Assurance de l'objet" %}
	p {% trans "Prendre contact avec le professionnel pour connaître les garanties." %}
	{% endif %}
