section.pull-nothing
  .notification-empty
    .notification-container
      i.icon-5x.indent-sm-b.flaticon.stroke.calendar-5
      h2 Pas encore de réservation
      p.indent-md-v.text-black
        | A tour moment vous pouvez faire une demande de réservation auprès d'un propriétaire si son objet vous intéresse
      a(href="#").btn-inline.bg-success-hover.text-white Commencer à rechercher un objet