extends ../jade/_base_dashboard

block append variables
  -var booking_is_empty = false
  -var booking_is_not_selected = false

block content-view
  if booking_is_empty
    include ./_notification_empty_booking
  else
    include ./_bookings_list

    if booking_is_not_selected
      include ./_notification_not_selected_booking
    else
      include ./_bookings_detaild
