<div id="messageModal" class="modal fade message-form" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Message
            </div>
            <div class="modal-body">

                <eloue-product-details-booking in-modal="true"></eloue-product-details-booking>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>