<div id="phoneModal" class="modal fade phone-form" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Appel
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <eloue-product-details-booking in-modal="true"></eloue-product-details-booking>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <button type="button" class="btn-danger">{{ownerCallDetails.number}}
                            ({{ownerCallDetails.tariff}}€/min)
                        </button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>