<div id="bookingModal" class="modal fade booking-form" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Réservation
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <eloue-product-details-small></eloue-product-details-small>
                        <eloue-product-details-booking in-modal="true"></eloue-product-details-booking>
                    </div>
                    <div class="col-lg-6 col-md-6">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>