.modal
  .chosen-container
    .chosen-drop
      z-index: 1051
    .chosen-single
      height: 3em
  .date-picker.form-wrapper
    .table-cell.main-cell
      .table-cell.main-cell
        z-index: 1050