extends ../base
-load compressed

block append styles
	{% compressed_css "bootstrap" %}
	{% compressed_css "publish_item_styles" %}

block append scripts
	script(type="text/javascript", src="https://www.googleadservices.com/pagead/conversion_async.js", charset="utf-8")

block append content-body
	.container-flex(data-ng-controller="PublishAdCtrl")
		header.header-site
			include ../jade/_header_site
			nav.nav-home.container
				include ../jade/_nav_home
			article
				section.publish-items-categories
					.container
						.text-grey
							p(style="margin-left: 3cm; margin-top: 2cm; width: 500px; float: left;")
								| Vous aussi faites comme Emma ...
								| et gagnez de l’argent en déposant vos annonces sur e-loue !
						img(src="#{STATIC_URL}images/Emma_1.jpg", style="width:300px; margin-left: 50px;")
					br
					include ../jade/_publish_items_categories
			footer
				section.insurances.framing
					include ../jade/_insurances
				section.footer-links
					include ../jade/_footer_links
				section.rss
					include ../jade/_rss
			include ../jade/_pop_up_publish_item