-load i18n

.section-header
  h4 {% trans "Contacter" %} {{ patron.company_name }}
.section-body: .part
  {% if patron.slug != "loxam" %}
  {% if patron.slug != "carrefourlocation" %}
  {% if patron.slug != "zipcar" %}
  {% if patron.slug != "ucar" %}
  {% if patron.slug != "intersport" %}
  a(href="#/message", data-toggle="modal", data-target="#pro-popin-message").btn.bg-success
    i.flaticon.stroke.mail-2
    {% trans "Demandez un devis" %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  {% if patron.default_number %}
  a(href="#/phone", data-toggle="modal", data-target="#pro-popin-phone").btn.bg-success
    i.flaticon.stroke.phone-3
    {% trans "Appelez" %}
  {% endif %}
  {% endif %}
  {% if patron.default_address %}
  a(href="#/shop", data-toggle="modal", data-target="#pro-popin-shop").btn.bg-success
    i.flaticon.stroke.shop-1
    {% trans "Venez en magasin" %}
  {% endif %}
  {% if patron.url %}
  include ../jade/pop_up_sections/_website_link
  {% endif %}