h3.indent-b-xs Les 3 commentaires de

ul.list-group
  each comment in profile_public.comments
    li.list-group-item.thumbnail
      .thumbnail-img
        a(href="#")
          img(src="http://lorempixel.com/80/80/technics", alt="")
      .thumbnail-content
        p
          a(href="#").text-success: b #{comment.product} 
          small loué par 
          a(href="#").text-success: b #{comment.username}
        .rate.indent-t-xs.indent-b-xs
          -var stars = [1,2,3,4,5]
          each s in stars
            if s == 3
              span.flaticon.solid.star-2.current-rate
            else
              span.flaticon.solid.star-2
        p #{comment.content}
        small #{comment.date}