.section-header
  h4 Contactez le membre
.section-body: .part
  a(href = "#inscrivez-vous", data-toggle="modal", data-target="#pro-popin-message").btn.bg-success
    i.flaticon.stroke.mail-2
    | Envoyez un message
  a(href = "#inscrivez-vous", data-toggle="modal", data-target="#pro-popin-phone").btn.bg-success
    i.flaticon.stroke.phone-3
    | Appelez
  a(href = "#inscrivez-vous", data-toggle="modal", data-target="#pro-popin-shop").btn.bg-success
    i.flaticon.stroke.shop-1
    | Venez en magasin
  a(href = "#inscrivez-vous", data-toggle="modal", data-target="#pro-popin-website-link").btn.bg-success
    i.flaticon.stroke.imac-1
    | Visitez notre sitesin