.section-header
  if is_pro
    span.badge-pro.pull-right pro
    h4 Informations sur membre
  else
    h4 Informations sur le membre
.section-body
  {% if is_pro %}
  .part
    if patron.about
      p: i {{ patron.about }}
  {% else %}
  .part
    p: b Membre depuis le {{ patron.date_joined|date:"d F Y" }}
    if patron.about
      p.indent-b-sm: i {{ patron.about }}
    a(href="#/message", data-dismiss="modal").btn.bg-success.send-message
      i.flaticon.stroke.mail-2
      | Envoyez un message
    a(href="#/phone", data-dismiss="modal").btn.bg-success.call
      i.flaticon.stroke.phone-3
      | Appelez
    ul.nav.stats
      {% with patron.stats as stats %}
      include ../jade/_patron_stats
      {% endwith %}
  {% endif %}
//-
  //- move 2 lines above to be inside the else part (for non-pro members)
  .part.connection.clearfix
    .col-sm-4
      a(href="#").friend-photo-wrapper
        img(src=STATIC_URL+"img/home-products/friend1.png", alt="")
      a(href="#").friend-photo-wrapper
        img(src=STATIC_URL+"img/home-products/friend2.png", alt="")
    .col-sm-8
      p: small
        a(href="#") Philippe Dupré 
        | et 
        a(href="#") Tony Finn 
        | sont amis avec le propriétaire.
