.section-header
  h4 Informations sur le membre
.section-body
  .part
    p: b Membre depuis le {{ patron.date_joined|date:"d F Y" }}
    if patron.about
      p.indent-b-sm: i {{ patron.about }}
    a(href="#/message", data-dismiss="modal").btn.bg-success.send-message
      i.flaticon.stroke.mail-2
      | Envoyez un message
    a(href="#/phone", data-dismiss="modal").btn.bg-success.call
      i.flaticon.stroke.phone-3
      | Appelez
    ul.nav.stats
      {% with patron.stats as stats %}
      li
        span
          big.text-success {{stats.products_count}}
        span &nbsp;annonces publiées
      li
        span
            big.text-success {{stats.bookings_count}}
        span &nbsp;locations effectués
      li
        span
            big.text-success {{stats.ratings_count}}
        span &nbsp;évalutations
      li
        span
            big.text-success {{stats.response_rate|floatformat:"0"}}%
        span &nbsp;de taux de réponse
      li
        span
            big.text-success {{stats.response_time}}
        span &nbsp;de temps de réponse en moyenne
      {% endwith %}
//-
  .part.connection.clearfix
    .col-sm-4
      a(href="#").friend-photo-wrapper
        img(src=STATIC_URL+"img/home-products/friend1.png", alt="")
      a(href="#").friend-photo-wrapper
        img(src=STATIC_URL+"img/home-products/friend2.png", alt="")
    .col-sm-8
      p: small
        a(href="#") Philippe Dupré 
        | et 
        a(href="#") Tony Finn 
        | sont amis avec le propriétaire.
