.container.text-center.indent-t-lg
  .round-img: img(src="http://lorempixel.com/120/120/people", alt="")
  h3.indent-b-xs #{patron.first_name}&nbsp;#{patron.last_name}
  include ../jade/_rate
  p.text-gray-strong.indent-t-xs #{patron.default_address.city}&nbsp;#{patron.default_address.zipcode}
