.container.text-center.indent-t-lg
  .round-img: img(style="{% if patron.profil.url %}background-image: url({{ patron.profil.url }}){% endif %}").bg-image
  h3.indent-b-xs {% if is_pro %}{{ patron.company_name }}{% else %}{{ patron.username }}{% endif %}
  if not is_pro
    {% with patron.average_note as rate %}
    include ../jade/_rate
    {% endwith %}
    {% with patron.default_address as address %}
    p.text-gray-strong.indent-t-xs {{ address.city|title }}{% if address.zipcode %}, {{ address.zipcode }}{% endif %}
    {% endwith %}
