{% with comments|length as comment_count %}
{% if comment_count %}
h3.indent-b-xs Les {{ comment_count }} commentaires de {{ patron.username }}

ul.list-group
  each comment in comments
    li.list-group-item.thumbnail
      .thumbnail-img
        a(href="{{ product.url }}").img-wrapper
          img(style="background-image: url({{ product.thumbnail_medium }})").bg-image
      .thumbnail-content
        p
          a(href="{{ product.url }}").text-success: b {{ comment.summary }} 
          small loué par 
          a(href="{{ comment.author.username.get_absolute_url }}").text-success: b {{ comment.author.username }}
        .indent-t-xs.indent-b-xs
          {% with comment.note as rate %}
          include ../jade/_rate
          {% endwith %}
        p {{ comment.comment|truncatechars:145 }}
        small Le {{ comment.created_at|date:"d F Y" }}
{% endif %}
{% endwith %}
