{% with products|length as product_count %}
{% if product_count %}
h3.indent-b-xs Les {{ product_count }} annonces de {{ patron.username }}

ol.row
  each product in products
    li
      .section-body
        .thumbnail-img
          a(href="{{ product.get_absolute_url }}").img-wrapper
            img(style="background-image: url({{ product.pictures.all.0.profile.url }})").bg-image
            span.badge.price {{ product.daily_price }}&euro; /jour
        .info
          h6
            a(href="{{ product.get_absolute_url }}") {{ product.summary }}
            if patron.is_professional
              span.badge-pro pro
          p: {{ product.address.city|title }}{% if product.address.city and product.address.zipcode %}, {{ product.address.zipcode }}{% endif %}
          //- TODO: need a better solution here to hit SQL DB only once for all products in the list
          {% with product.borrowercomments.count as comments_num %}
          if comments_num
            {% with product.average_note as rate %}
            include ../jade/_rate
            {% endwith %}
            span.sprite-comment
              i.flaticon.stroke.writing-comment
              | {{ comments_num }}
          {% endwith %}
          p.full_description {{ product.description|truncatechars:145 }}
{% endif %}
{% endwith %}
