extends ../base
-load compressed l10n
-load i18n

{% block title %}
{% if patron.current_subscription %}
{% trans "Loueur professionnel :" %} {{ patron.company_name }}
{% else %}
{% trans "Loueur particulier :" %} {{ patron.username }}
{% endif %}
{% endblock %}

{% block description %}{% blocktrans with patron.username as username %}Toutes les locations de {{ username }}{% endblocktrans %}{% endblock %}

block append styles
  {% compressed_css "bootstrap" %}
  {% compressed_css "profile_public_styles" %}

block append content-body
  -var is_pro = patron.current_subscription is not None 
  #fb-root
  if is_pro
    include ../jade/_pro_popin_message
    include ../jade/_pro_popin_phone
    //include ../jade/_pro_popin_website_link
    include ../jade/_pro_popin_shop
  else
    include ../jade/_pop_up_send_message
    include ../jade/_pop_up_call
    include ../jade/_pop_up_reserve
    //- Inherit HomePage controller to activate geolocation search
  .container-flex
    header.header-site
      include ../jade/_header_site
    section.owner-headline
      include ./_profile_public-owner_headline
    article.container: .row
      main.col-sm-8
        section
          .section-body
            if is_pro
              .part.grid-layout
                include ./_profile_public-products_of_the_owner
            else
              .part.comments
                include ./_profile_public-comments
              .part.list-layout
                include ./_profile_public-products_of_the_owner
      aside.col-sm-4
        section.owner-information
          include ./_profile_public-owner_information
        if is_pro
          section.contact-member
            include ./_profile_public-contact_member
        else
          section.verify-status
          //-
            include ./_profile_public-verify_status
    footer
      section.row-fluid.insurances.framing
        include ../jade/_insurances
      section.row-fluid.footer-links
        include ../jade/_footer_links
      section.row-fluid.rss
        include ../jade/_rss
