extends ../base
-load compressed

block append styles
  {% compressed_css "bootstrap" %}
  {% compressed_css "product_detail_styles" %}

block scripts
  script(src="#{STATIC_URL}bower_components/requirejs/require.js" data-main="#{STATIC_URL}js/widgets/main.js")

block append content-body
  #fb-root
  .container-flex(data-ng-controller="ProductDetailsCtrl")
    header.header-site
      include ../jade/_header_site
    nav.bd-b
      include ../jade/_breadcrumbs
    article.container.indent-t-lg.indent-b-lg
      .row
        .col-sm-8.product-details-title
          include ../jade/_porduct_details_title
        .col-sm-4.share-btns
          include ../jade/_share-btns
      .row
        main.col-sm-8
          section
            .section-body
              .part.picture-tab#tabs
                ul.nav.nav-justified
                  -var tabs = [["Photos", "#tabs-photos"], ["Tarifs", "#tabs-tarifs"]]
                  each title, href in tabs
                    li.spacer
                    li: a(href="{{ href }}", ng-click="selectTab('#{href}')").pad-v-2 {{ title }}
                  if insurance_available
                    li.spacer
                    li: a(href="#tabs-insurance", ng-click="selectTab('#tabs-insurance')").pad-v-2 Assurance
                include ./product_detail
                include ./tab_tarifs
                //-
                 include ./tab_available
                if insurance_available
                  include ./tab_terms
              .part.description
                include ../jade/product_details/main/_description
              if product_comments
                .part.comments.comments-ad
                  h3 Commentaires liés à cette annonce
                  {% with product_comments as comment_list %}
                  include ../jade/product_details/main/_comments
                  {% endwith %}
              if owner_comments
                .part.comments.comments-owner
                  h3 Commentaire liés au propriétaire
                  {% with owner_comments as comment_list %}
                  include ../jade/product_details/main/_comments
                  {% endwith %}
        aside.col-sm-4
          section.booking-form.ng-hide(ng-show="true")
            include  ../jade/product_details/aside/_booking_form.jade
          //-section.add-to-wishlist
          //-  include ../jade/product_details/aside/_add_to_wishlist
          section.owner-information
            include ../jade/product_details/aside/_owner_information
          section.similar-listing
            include ../jade/product_details/aside/_similar_listing
          //-section.connected-with-owner
          //-  include ../jade/product_details/aside/_connected_with_owner
          include ../jade/_pop_up_reserve.jade
          include ../jade/_pop_up_send_message.jade
          include ../jade/_pop_up_call.jade
    footer
      section.row-fluid.insurances.framing: include ../jade/_insurances
      section.row-fluid.footer-links: include ../jade/_footer_links
      section.row-fluid.rss: include ../jade/_rss

    script(type="text/ng-template")#modalContainer
    div(ng-view)
