{% extends "accounts/dashboard.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Mes messages reçus" %}{% endblock %}
{% block head %}
    {{block.super}}
{% endblock %}

{% block content-aside-profil %}
{% url inbox as inbox %}
{% url archived as archived %}
<ul class="nav-sub-bar">
    <li><a href="{{ inbox }}"  class="{% active request inbox %}">{% trans "Massages reçus" %}</a></li>
    <li><a href="{{ archived }}" class="{% active request archived %}">{% trans "Messages supprimés" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}
{% if thread_list %}
<ul class="messages">
	{% for thread in thread_list %}
	<li>
		<a href="{% url thread_details thread_id=thread.id%}" class="m-img">
			{% if thread.sender.avatar %}
				<img src="{{thread.sender.avatar.thumbnail.url}}" width="60" height="60" alt=""/>
			{% else %}
				<img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
			{% endif %}
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="{% url thread_details thread_id=thread.id%}">{{thread.sender.username }}</a> {{ thread.last_message.sent_at|date:_("DATETIME_FORMAT") }}
					<span class="m-action"><a href="{% url thread_details thread_id=thread.id %}">{% trans "Lire" %}</a></span> -
					<span class="m-action"><a href="{% url archive_thread thread_id=thread.id %}">{% trans "Archiver" %}</a></span>
				</p>
				<p class="m-subject">{{ thread.subject }}</p>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>{# message_list #}
{% endif %}
{% endblock %}