{% extends "products/inbox.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Mes messages" %}{% endblock %}
{% block head %}
    {{block.super}}
{% endblock %}

{% block content-aside-profil %}
{% url inbox as inbox %}
{% url archived as archived %}
<ul class="nav-sub-bar">
    <li><a href="{{ inbox }}"  class="{% if request.user == thread.sender and not thread.sender_archived or request.user == thread.recipient and not thread.recipient_archived %}{% active request '' %}{% endif %}">{% trans "Massages reçus" %}</a></li>
    <li><a href="{{ archived }}" class="{% if request.user == thread.sender and  thread.sender_archived or request.user == thread.recipient and thread.recipient_archived %}{% active request '' %}{% endif %}">{% trans "Messages archivés" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}

<ul class="messages">
	{% if request.user == message.recipient %}
		<h2>Conversation avec {{ message.sender }}</h2>
	{% else %}
		<h2>Conversation avec {{ message.recipient }}</h2>
	{% endif %}
{% for message in message_list %}
	<li>
		<a href="{{message.sender.patron.get_absolute_url}}" class="m-img">
			{% if message.sender.avatar %}
				<img src="{{message.sender.thumbnail.url}}" width="60" height="60" />
			{% else %}
				<img src="{{ STATIC_URL }}images/default_avatar.png" width="60" height="60" alt="">
			{% endif %}
		</a>
		<div class="m-content">
			<div class="m-body">
				<p class="m-sender">
					<a href="{{message.sender.patron.get_absolute_url}}">{{message.sender.username}}</a> {{message.sent_at|date:_("DATETIME_FORMAT")}}
				</p>
				<div class="m-message">
					{{ message.body|linebreaks }}
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
{% endfor %}
	<li>
		<a href="{{message.sender.patron.get_absolute_url}}" class="m-img">
			{% if user.avatar %}
				<img src="{{ user.thumbnail.url }}" width="60" height="60">
			{% else %}
                <img src="{{ STATIC_URL }}images/default_avatar.png" width="60" height="60">
			{% endif %}
		</a>
		<div class="m-content">
			<div class="m-body">
				<p class="m-sender">
					<a href="{{user.get_absolute_url}}">{{ user.username }}</a>
				</p>
				<div class="m-message">
					<form method="post" action="">
						{% csrf_token %}
						{{ editForm.body }}
						<div class="form-actions">
        					<button type="submit" class="btn btn-primary">Envoyer</button>
      					</div>
					</form>
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
</ul>
{% endblock %}