{% extends "products/inbox.html" %}
{% load i18n navbar %}

{% block title %}{% trans "Mes messages" %}{% endblock %}
{% block head %}
    {{block.super}}
{% endblock %}

{% block content-aside-profil %}
{% url inbox as inbox %}
{% url archived as archived %}
<ul class="nav-sub-bar">
    <li><a href="{{ inbox }}"  class="{% active request "^/dashboard/messages/" %}">{% trans "Massages reçus" %}</a></li>
    <li><a href="{{ archived }}" class="{% active request archived %}">{% trans "Messages supprimés" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}

<ul class="messages">
{% for message in message_list %}
{% if forloop.first %}
	{% if request.user == message.recipient %}
		<h2>Conversation avec {{ message.sender }}</h2>
	{% else %}
		<h2>Conversation avec {{ message.recipient }}</h2>
	{% endif %}
<ul class="messages">
	<li>
		<a href="{{message.sender.get_absolute_url}}" class="m-img">
			{% if message.sender.avatar %}
				<img src="{{message.sender.avatar.thumbnail.url}}" width="60" height="60" />
			{% else %}
				<img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
			{% endif %}
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="{{message.sender.get_absolute_url}}">{{message.sender.username}}</a> {{message.sent_at|date:_("DATETIME_FORMAT")}}
				</p>
				<p class="m-content">
					{{ message.body|linebreaks }}
				</p>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
{% if forloop.last %}
	<li>
		<a href="{{message.sender.get_absolute_url}}" class="m-img">
			{% if user.avatar %}
				<img src="{{ user.avatar.thumbnail.url }}" width="60" height="60">
			{% else %}
                <img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60">
			{% endif %}
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="{{user.get_absolute_url}}">{{ user.username }}</a>
					<p class="m-content">
						<form method="post" action="">
						{% csrf_token %}
						{{ editForm.body }}
						<div class="form-actions">
        					<button type="submit" class="btn btn-primary">Envoyer</button>
      					</div>
						</form>
					</p>
				</p>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
{% endif %}
{% else %}
	<li>
		<a href="{{message.sender.get_absolute_url}}" class="m-img">
			{% if message.sender.avatar %}
				<img src="{{message.sender.avatar.thumbnail.url}}" width="60" height="60" />
			{% else %}
				<img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
			{% endif %}
		</a>
		<div class="m-content">
			<div>
				<p class="m-sender">
					<a href="{{message.sender.get_absolute_url}}">{{message.sender.username}}</a> {{message.sent_at|date:_("DATETIME_FORMAT")}}
				</p>
				<p class="m-content">
					{{ message.body|linebreaks }}
				</p>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
{% endif%}
{% endfor %}
</ul>
{% endblock %}