{% extends "products/inbox.html" %}
{% load i18n navbar product l10n %}

{% block title %}{% trans "Mes messages" %}{% endblock %}
{% block head %}
    {{block.super}}
{% endblock %}


{% block content-aside-profil %}
{% url inbox as inbox %}
{% url archived as archived %}
<ul class="nav-sub-bar">
    <li><a href="{{ inbox }}"  class="{% if request.user == thread.sender and not thread.sender_archived or request.user == thread.recipient and not thread.recipient_archived %}{% active request '' %}{% endif %}">{% trans "Messages reçus" %}</a></li>
    <li><a href="{{ archived }}" class="{% if request.user == thread.sender and  thread.sender_archived or request.user == thread.recipient and thread.recipient_archived %}{% active request '' %}{% endif %}">{% trans "Messages archivés" %}</a></li>
</ul>
{% endblock %}

{% block content-main-profil %}
<div class="messages-content">
{% if request.user == thread.recipient %}
	<h2>Conversation avec {{ thread.sender }}</h2>
{% else %}
	<h2>Conversation avec {{ thread.recipient }}</h2>
{% endif %}
<ul class="messages">
{% for message in message_list %}
	<li>
		<a href="{{message.sender.patron.get_absolute_url}}" class="m-img">
			{% if message.sender.patron.avatar %}
				<img src="{{message.sender.patron.profil.url}}" width="60" height="60" />
			{% else %}
				<img src="{{ STATIC_URL }}images/default_avatar.png" width="60" height="60" alt="">
			{% endif %}
		</a>
		<div class="m-content">
			<div class="m-body">
				<p class="m-sender">
					<a href="{{message.sender.patron.get_absolute_url}}">{{message.sender.username}}</a> {{message.sent_at|date:_("DATETIME_FORMAT")}}
				</p>
				<div class="m-message">
					{{ message.body|linebreaks }}
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
{% endfor %}
	<li>
		<a href="{{message.sender.patron.get_absolute_url}}" class="m-img">
			{% if user.avatar %}
				<img src="{{ user.thumbnail.url }}" width="60" height="60">
			{% else %}
                <img src="{{ STATIC_URL }}images/default_avatar.png" width="60" height="60">
			{% endif %}
		</a>
		<div class="m-content">
			<div class="m-body">
				<p class="m-sender">
					<a href="{{user.get_absolute_url}}">{{ user.username }}</a>
				</p>
				<div class="m-message">
					<form method="post" action="">
						{% csrf_token %}
						{{ editForm.body }}
						<p style="text-align: left;">
        					<button type="submit" class="btn btn-primary">Envoyer</button>
        				</p>
					</form>
				</div>
				<span class="message-dial"></span>
			</div>
		</div>
	</li>
</ul>
</div>{# messages-content #}
{% if thread.product %}
<div class="product-related-content">
	<h5>{% trans "Annonce associée" %}</h5>
	<ul class="product-vignettes">
		<li>
			<a href="{{ thread.product.get_absolute_url }}">
				{% with thread.product.pictures.all|first as picture %}
					{% if picture %}
                    	<img src="{{ picture.display.url }}" alt="{{ product.summary }}" width="160">
               		{% endif %}
				{% endwith %}
				<h3>{{ thread.product.summary|truncate:22 }}</h3>
				{% with thread.product.prices.all|first as price %}
				<p class="pv-price">{{ price|unlocalize }} <span>/{{ 1|unit }}</span></p>
				{% endwith %}
			</a>
		</li>
	</ul>{# product-vignettes #}
	{% if request.user != thread.product.owner %}
		<a href="{{ thread.product.get_absolute_url }}" title="Réservez" class="btn-search">{% trans "Effectuez la réservation"%}</a>
	{% endif %}
</div>{# product-related-content #}
{% endif %}
{% endblock %}

{% block tail %}
{{ block.super }}
{% if messages %}
	{% for message in messages %}
    	{% if message.tags == "success" %}
		<!-- Google Code for Contact Https Conversion Page -->
		<script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 1027691277;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "SfnGCMvgrgMQjaaF6gM";
		var google_conversion_value = 0;
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1027691277/?value=0&amp;label=SfnGCMvgrgMQjaaF6gM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>
			{% block gaq %}
				{% if thread.product.carproduct %}
					_gaq.push(['_trackEvent', 'Réservation', 'Message', 'Voiture - {{ thread.product.category.name }}']);
				{% endif %}
				{% if thread.product.realestateproduct %}
					_gaq.push(['_trackEvent', 'Réservation', 'Message', 'Logement - {{ thread.product.category.name }}']);
				{% endif %}
				{% if not thread.product.carproduct and not thread.product.realestateproduct %}
					_gaq.push(['_trackEvent', 'Réservation', 'Message', 'Objet - {{ thread.product.category.get_root }}']);
				{% endif %}
			{% endblock %}
    	{% endif %}
    {% endfor %}
{% endif %}
{% endblock %}