{% load facets i18n %}
{% spaceless %}
 {% if is_paginated %}
  <div class="pages x8 first">
   <ul class="pages-list">
	  {% if page_obj.has_previous %}
		<li class="previous"><a href="{% facet_url breadcrumbs "page" page_obj.previous_page_number %}">&#171; {% trans "Page précédente" %}</a></li>
	  {% endif %}
	  {% for page in page_range %}
		<li class="page-{{ page }} {% if page_obj.number == page %}select{% endif %}"><a href="{% facet_url breadcrumbs "page" page %}">{{ page }}</a></li>
		{% endfor %}
	  {% if page_obj.has_next %}
		<li class="next"><a href="{% facet_url breadcrumbs "page" page_obj.next_page_number %}">{% trans "Page suivante" %} &#187;</a></li>
	  {% endif %}
	 </ul> 
  </div><!-- pager -->
 {% endif %}
{% endspaceless %}