{% load facets i18n %}
{% spaceless %}
 {% if is_paginated %}
  <div class="pager grid9 first">
   <ul class="grid9 first">
	  {% if page_obj.has_previous %}
		 <li class="previous"><a href="{% facet_url breadcrumbs "page" page_obj.previous_page_number %}">{% trans "Précédent" %}</a></li>
	  {% endif %}
	  {% for page in page_range %}
	   <li class="page-{{ page }} {% if page_obj.number == page %}on{% endif %}"><a href="{% facet_url breadcrumbs "page" page %}">{{ page }}</a></li>
		{% endfor %}
	  {% if page_obj.has_next %}
		 <li class="next"><a href="{% facet_url breadcrumbs "page" page_obj.next_page_number %}">{% trans "Suivant" %}</a></li>
	  {% endif %}
	 </ul> 
  </div><!-- pager -->
 {% endif %}
{% endspaceless %}