{% extends "products/product_edit.html" %}
{% load i18n navbar product %}

{% block title %}{% trans "Suppression de" %} {{ product.summary }}{% endblock %}

{% block content-main-profil %}
<h2>{% trans "Etes-vous sûr de vouloir l'annonce ?"%}</h2>
<ul class="product-list">
	<li>
		<a href="{{ product.get_absolute_url }}" class="pl-img">
			{% with product.pictures.all|first as picture %}
	           	{% if picture.thumbnail %}
	           	<img src="{{ picture.thumbnail.url }}" alt="product.summary" width="60" height="60" />
	        	{% endif %}
			{% endwith %}
		</a><!-- pl-img -->
		<div class="pl-content">
			<h3>
				<a href="{% url 'products.views.product_edit' product.slug product.pk %}">{{product.summary|capitalize|truncate:200 }}</a>
			</h3>
			<address>
				{{ product.address.city|capfirst }}
				{% if product.address.zipcode %}, {{ product.address.zipcode }} {% endif %}
			</address>
			{% with product.prices.day|first as price %}
		        <p class="pl-price">{{ price }} <span>/{{price.unit|unit}}</span></p>
		    {% endwith %}
	    </div><!-- pl-content -->
	</li>
</ul>

<form enctype="multipart/form-data" action="" method="POST">
	{% csrf_token %}
	<div class="form-actions">
      	<button type="submit" class="btn btn-primary">Supprimer</button>
    	<a href="{% url 'products.views.product_edit' product.slug product.pk %}" type="reset" class="btn btn-cancel">Annuler</a>
  	</div>
</form>
{% endblock %}