.carousel-conteiner.ng-hide#tabs-photos
    .col-md-7
      {% with product_object.pictures.all as pictures %}
      {% if pictures.count %}
      #carousel-product.carousel.slide(data-ride="carousel")
        .carousel-inner
          {% for picture in pictures %}
          .item(style="background-image: url({{ picture.display.url }})", class="{% if forloop.first %}active{% endif %}")
          {% endfor %}
        a(href="#carousel-product", role="button", data-slide="prev").left.carousel-control
          i.flaticon.solid.left-2
        a(href="#carousel-product", role="button", data-slide="next").right.carousel-control
          i.flaticon.solid.right-2
      .items-thumbnail-inner
        {% for picture in pictures %}
        div: a.items-thumbnail(href="#")(style="background-image: url({{ picture.thumbnail.url }})")
        {% endfor %}
      {% endif %}
      {% endwith %}
    .col-md-5
      .map-container
        .map-inner
          span.whirly
          .map#map-canvas-small(locationY="{{ product.location.y|stringformat:'f' }}", locationX="{{ product.location.x|stringformat:'f' }}")
      .location-title-inner
        .location-title
          i.flaticon.solid.loca.location-pin-3.icon-li.icon-lg
          h4 {{ product_object.address.address1 }}
          small {{ product.city|title }}{% if product.zipcode %}, {{ product.zipcode }}{% endif %}
