{% extends "base.html" %}
{% load i18n mptt_tags  %}
{% block title %}Mettre en location - {{ block.super }}{% endblock %}

{% block title %}Mettre en location - {{ block.super }}{% endblock %}

{% block content %}
<div id="content" class="clearfix">
	<div class="sbs x12">
		<div class="sbs-header">
			<h1>Mettre en location</h1>
		</div>
		<ol class="sbs-steps">
			<li class="on">1.Remplissez la fiche</li>
			<li class="off">2.Identifiez-vous</li>
		</ol>
		<a href="#" class="btn big-blue">Obtenir de l'aide</a>
	</div>
	<div class="content-header x12">
		<h2>Remplissez le formulaire de location</h2>
	</div>
	<div class="new x9">
		
		<form class="form" enctype="multipart/form-data" action="" method="POST">
		  {% csrf_token %}
			
			<table>
				<tr>
					<td colspan="2" {% if form.category.errors %} class="error-field" {% endif %}>
						{% full_tree_for_model products.Category as categories %}
						<select id="id_0-category" class="selm" name="0-category">
							{% if not form.category.data %}
								<option value="" selected="selected">Choisissez une catégorie</option>
							{% endif %}
						    {% for node,structure in categories|tree_info:"ancestors" %}
						        {% if node.is_leaf_node %}
						            <option value="{{ node.pk }}" {% if form.category.data == node.id %}selected="selected"{% endif %}>
						                {{ structure.ancestors|tree_path }} :: {{ node }}
						            </option>
						        {% endif %}
						    {% endfor %}
						</select>
						
						{% if form.category.errors %}
					 		{% for error in form.category.errors %}
								<br />
						  	<span class="error">{{ error|escape }}</span>
							{% endfor %}
					{% endif %}
					</td>
				</tr>
				<tr>
					<th><label>Photo * :</label></th>
					<td {% if form.picture.errors %} class="error-field" {% endif %}>
					{{ form.picture }}
					{% if form.picture.errors %}
					{% for error in form.picture.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th><label>Titre * :</label></th>
					<td {% if form.summary.errors %} class="error-field" {% endif %}>
						{{ form.summary }}
						{% if form.summary.errors %}
						    {% for error in form.summary.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th><label>Prix location * :</label></th>
					<td {% if form.price.errors %} class="error-field" {% endif %}>
						{{ form.price }} <span class="unit">&euro;</span> par jour
						{% if form.price.errors %}
						    {% for error in form.price.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th><label>Caution :</label></th>
					<td {% if form.deposit_amount.errors %} class="error-field" {% endif %}>
						{{  form.deposit_amount }} <span class="unit">&euro;</span>
						{% if form.deposit_amount.errors %}
						    {% for error in form.deposit_amount.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th><label>Quantité * :</label></th>
					<td {% if form.quantity.errors %} class="error-field" {% endif %}>
						{{  form.quantity }}
						{% if form.quantity.errors %}
						    {% for error in form.quantity.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th><label>Description * :</label></th>
					<td {% if form.description.errors %} class="error-field" {% endif %}>
						{{ form.description}}
						{% if form.description.errors %}
						    {% for error in form.description.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
		<div class="submit-wizard x9">
			<a href="{% url home %}">Annuler</a> ou 
			<input type="submit" class="btn big-green" value="Continuer &rarr;" />
		</form>
		</div>
</div>{# content #}	
{% endblock %}