{% extends "base.html" %}

{% block content %}
	<div id="content" class="clearfix">
		<div class="sbs x12">
			<div class="sbs-header">
				<h1>Mettre en location</h1>
			</div>
			<ol class="sbs-steps">
				<li class="off">1.Remplissez la fiche</li>
				<li class="on">2.Identifiez-vous</li>
			</ol>
			<a href="#" class="btn big-blue">obtenir de l'aide</a>
		</div>
		<div class="content-header x12">
			{% if form.addresses %}
				<h2>Choisissez une adresse pour l'objet :</h2>
			{% else %}
				<h2>Complétez votre profil et choisissez une adresse pour la l'objet :</h2>
			{% endif %}
		</div>
		<div class="more-info x9">
			<form class="form" action="" method="POST">
				{% csrf_token %}
			<table>
				{% if form.username %}
				<tr>
					<th><label>Pseudo * :</label></th>
					<td {% if form.username.errors %} class="error-field" {% endif %}>
						{{ form.username }}
						{% if form.username.errors %}
						    {% for error in form.username.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% if form.password1 %}
				<tr>
					<th><label>Mot de passe * :</label></th>
					<td {% if form.password1.errors %} class="error-field" {% endif %}>
						{{ form.password1 }}
						{% if form.password1.errors %}
						    {% for error in form.password1.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% if form.password2 %}
				<tr>
					<th><label>A nouveau * :</label></th>
					<td {% if form.password2.errors %} class="error-field" {% endif %}>
						{{ form.password2 }}
						{% if form.password2.errors %}
						    {% for error in form.password2.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% if form.is_professional %}
				 <tr>
	 			  <td colspan="2">{{ form.is_professional }} <label>Vous êtes un professionnel</label></td>
				 </tr>
				 <tr>
				   <th><label>Le nom de votre société :</label></td>
				   <td {% if form.company_name.errors %} class="error-field" {% endif %}>
						{{ form.company_name }}
						{% if form.company_name.errors %}
						    {% for error in form.company_name.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				 </tr>
				{% endif %}
				{% if form.first_name %}
				<tr>
					<th><label>Prénom * :</label></th>
					<td {% if form.first_name.errors %} class="error-field" {% endif %}>
						{{ form.first_name }}
						{% if form.first_name.errors %}
						    {% for error in form.first_name.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% if form.last_name %}
				<tr>
					<th><label>Nom * :</label></th>
					<td {% if form.last_name.errors %} class="error-field" {% endif %}>
						{{ form.last_name }}
						{% if form.last_name.errors %}
						    {% for error in form.last_name.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif%}
				{% if form.phones %}
				<tr>
					<th><label>Téléphone * :</label></th>
					<td {% if form.phones.errors %} class="error-field" {% endif %}>
						{{ form.phones }}
						{% if form.phones.errors %}
						    {% for error in form.phones.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% if form.phones__phone %}
				<tr>
					<th>
						<label>
								{% if form.phones %}
									Nouveau Numéro :
								{% else %}
									Téléphone * :
								{% endif %}
						</label>
					</th>
					<td {% if form.phones__phone.errors %} class="error-field" {% endif %}>
						{{ form.phones__phone }}
						{% if form.phones__phone.errors %}
						    {% for error in form.phones__phone.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% if form.addresses %}
				<tr>
					<th><label>Adresse * :</label></th>
					<td {% if form.addresses.errors %} class="error-field" {% endif %}>
						{{ form.addresses }}
						{% if form.addresses.errors %}
						    {% for error in form.addresses.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% if form.addresses__address1 %}
				<tr>
					<th rowspan="3">
						<label>
							{% if form.addresses %}
								Nouvelle adresse :
							{% else %}
								Adresse * :
							{% endif %}
						</label>
					</th>
					<td {% if form.addresses__address1.errors %} class="error-field" {% endif %}>
						{{ form.addresses__address1 }}
						{% if form.addresses__address1.errors %}
						    {% for error in form.addresses__address1.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<span {% if form.addresses__zipcode.errors %} class="error-field" {% endif %}>
							{{ form.addresses__zipcode }}
						</span>
						<span {% if form.addresses__city.errors %} class="error-field" {% endif %}>
							{{ form.addresses__city }}
						</span>
						{% if form.addresses__zipcode.errors%}
						    {% for error in form.addresses__zipcode.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
						{% if form.addresses__city.errors %}
						    {% for error in form.addresses__city.errors %}									
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				<tr>
					<td {% if form.addresses__country.errors %} class="error-field" {% endif %}>
						{{ form.addresses__country }}
						{% if form.addresses__country.errors %}
						    {% for error in form.addresses__country.errors %}
										<br />
						        <span class="error">{{ error|escape }}</span>
						    {% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
			</table>
		</div>
		<div class="submit-wizard x9">
			<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	  	{{ previous_fields|safe }}
			<a href="{% url home %}">Annuler</a> ou 
			<input type="submit" class="btn big-green" value="Continuer &rarr;" />
		</form>
		</div>
	</div>{# content #}
{% endblock %}