extends ../base
-load compressed paginator i18n facets

{% block title %}
{% if breadcrumbs.categorie.object.title %}
{{ breadcrumbs.categorie.object.title }}
{% else %}
{% trans "Location" %} {% if not form.cleaned_data.q %}{% for crumb in breadcrumbs|facets %} {{ crumb.pretty_value|capfirst }}{% endfor %}{% endif %}{% if form.cleaned_data.q %} {{ form.cleaned_data.q }}{% endif %}{% if form.cleaned_data.l %} {{ form.cleaned_data.l|capfirst }}{% endif %}
{% endif %}
{% endblock %}

{% block description %}
{% if breadcrumbs.categorie.object.description %}
{{ breadcrumbs.categorie.object.description }}
{% else %}
{% trans "Location" %}
{% for crumb in breadcrumbs|facets %}
&rsaquo; {{ crumb.pretty_value|capfirst }}
{% endfor %}
{% if form.cleaned_data.l %}
&rsaquo; {{ form.cleaned_data.l|capfirst }}
{% endif %}
{% if form.cleaned_data.q %}
&rsaquo; &quot;{{ form.cleaned_data.q }}&quot;
{% endif %}
{% endif %}
{% endblock %}

block append styles
  {% compressed_css "bootstrap" %}
  {% compressed_css "product_list_styles" %}

block append content-body
  .container-flex(data-ng-controller="AlgoliaProductListCtrl")
    header.header-site
      include ../jade/_header_site_list
     //-nav.bd-b
      //-include ../jade/_breadcrumbs
    article.container.list-layout.indent-b-lg
      //- we shall calculate pagination for both the article head and the list below
      {% pagination %}
      form#detail-search(action="{% facet_url breadcrumbs -'page' %}")
        .row.indent-t-md.product-list-header
          include ../jade/_product_list_article_head
        .row
          aside.col-xs-3
            include ../jade/_product_list_aside
          main.col-xs-9
            //-include ../jade/_product_list_main_algolia
            include ../jade/_product_list_main
    footer
      //-section.download-mobile-apps.framing: include ../jade/_download_mobile_apps
      section.footer-links: include ../jade/_footer_links
      section.rss: include ../jade/_rss
