{% extends "base.html" %}
{% block title %}Complétez votre profil - {{ block.super }}{% endblock %}

{% block content %}
	<div id="content" class="clearfix">
		<div class="sbs x12">
			<div class="sbs-header">
				<h1>Mettre en location</h1>
			</div>
			<ol class="sbs-steps">
				<li class="off">1.Remplissez la fiche</li>
				<li class="on">2.Identifiez-vous</li>
			</ol>
			<a href="{% url faq-topic-list %}" class="btn big-blue">Obtenir de l'aide</a>
		</div>
		<div class="content-header x12">
			{% if form.addresses %}
				<h2>Choisissez une adresse pour l'objet :</h2>
			{% else %}
				<h2>Complétez votre profil et choisissez une adresse pour la l'objet :</h2>
			{% endif %}
		</div>
		{% include "accounts/partials/missing.html" %}
	</div>{# content #}
{% endblock %}