{% extends "base.html" %}
{% load i18n product booking cache %}

{% block title %}{% trans "Location"%} {{ product.summary }}{% endblock %}

{% block description %}{{ product.summary }} {{ product.description }}{% endblock %}


{% block  head %}
 {{ block.super }}
    <meta property="og:title" content="{{product.summary}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{request.build_absolute_uri}}"/>

    {% with product.pictures.all|first as picture %}
      {% if picture %}
        <meta property="og:image" content="{{picture.thumbnail.url }}"/>
      {% endif %}
     {% endwith %}
    <meta property="og:site_name" content="e-loue"/>
    <meta property="fb:app_id" content="{{FACEBOOK_APP_ID}}"/>
    <meta property="og:description" content="{{ product.summary }}/>

 <link rel="canonical" href="{{ product.get_absolute_url }}" />
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId={{FACEBOOK_APP_ID}}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="search" class="xgrid">
	<form class="form" action="{% url product_list %}">
	<div class="x5">
		<p>
			<label for="id_q">{% trans "Que voulez-vous louer ?" %}</label><br />
			{{ search_form.q }}<br />
			<span>{% trans "Exemple :" %} </span> <a href="{% url product_list %}?q={% trans "voiture" %}">{% trans "Voiture" %}</a>, <a href="{% url product_list %}?q={% trans "chèvre" %}">{% trans "Chèvre" %}</a>, <a href="{% url product_list %}?q={% trans "ski" %}">{% trans "Ski" %}</a>, <a href="{% url product_list %}?q={% trans "robe" %}">{% trans "Robe" %}</a>
		</p>
	</div>
	<div class="x5">
		<p>
			<label>{% trans "Où ?" %}</label><br />
			{{ search_form.l }}<br />
			<span>{% trans "Exemple :" %} </span> <a href="{% url product_list %}?l={% trans "Paris, 75012" %}">{% trans "Paris, 75012" %}</a>
		</p>
	</div>
	<div class="x2">
		<p>
			<input type="submit" value="{% trans "Rechercher" %}" class="btn big-orange"/>
		</p>
	</div>
	</form>
</div>
<div id="content" class="xgrid">
    <div class="breadcrumb">
        <ul class="x12 breadcrumbs">
            <li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
			{% for category in product.category.get_ancestors %}
			 <li><a href="{{ category.get_absolute_url }}">{{ category.name|capfirst }}</a></li>
			{% endfor %}
			<li><a href="{{ product.category.get_absolute_url }}">{% trans "Location" %} {{ product.category|capfirst }}</a></li>
			<li class="lastb">{{ product.summary|capitalize }}</li>
        </ul>
    </div>
    <div class="x12 content-header">
        <h1>{{ product.summary|capitalize }}</h1><fb:like href="
{{request.build_absolute_uri}}" send="false" layout="box_count" width="450" show_faces="false" font="tahoma"></fb:like>

    </div>
    <div class="x8">
        <div class="product-pic">
            {% with product.pictures.all|first as picture %}
    		  {% if picture %}
    		   <img src="{{ picture.display.url }}" alt="{{ product.summary }}" />
    		  {% endif %}
    		 {% endwith %}
        </div>
        <div class="product-thumbs">
            {% for picture in product.pictures.all %}
			 {% if picture.thumbnail %}
       		  <a href="#"><img src="{{ picture.thumbnail.url }}" /></a>
             {% endif %}
			{% endfor %}
        </div>
        <div class="product-desc">
            <p class="product-properties">
                {% trans "Lieu" %} : <span class="p-value">{{ product.address.city|capfirst }}, {{ product.address.zipcode }}</span>
                {% if product.deposit_amount %}
                &#149;
                {% trans "Caution" %} : <span class="p-value">{{ product.deposit_amount|quantize|currency }}</span>
                {% endif %}
            </p>
            {{ product.description|linebreaksp }}
        </div>
    </div>
    <div class="x4">
        <div class="box-tools">
            <div class="box-tools-top">
                <div id="product_price" class="product-price">
                    {% with product.prices.day|first as price %}
            		  <span class="price">{{ price }}</span>
            		  <span class="unit">{% blocktrans with price.unit|unit as unit %} / par {{ unit }}{% endblocktrans %}</span>
            		 {% endwith %}
                </div>
                <form id="booking_create" action="" method="post" class="form">
                <div id="booking-dates" class="clearfix">
                    <p class="started-date">
                        <label class="labm">{% trans "Début" %} :</label><br />
        				{{ form.started_at }}
                    </p>
                    <p class="ended-date">
                        <label class="labm">{% trans "Fin" %} :</label><br />
        				{{ form.ended_at }}
                    </p>
                </div>
                {% if product.quantity > 1 %}
                <div class="quantity">
                    <p>
                        <label class="labm">{% trans "Quantité" %} :</label>
                {% endif %}
                        {{ form.quantity }}
                {% if product.quantity > 1 %}
                    </p>
                </div>
                {% endif %}
            </div>
            <div id="booking-total" class="box-tools-bottom">
                {% blocktrans with product.product.day|first as day_price %}
        		  <p>Total : <span class="day">1 jour,</span> soit <span class="total-price">{{ day_price }}</span></p>
        		 {% endblocktrans %}
            </div>
            <div class="box-tools-footer">
                {% csrf_token %}
        		<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        	    {{ previous_fields|safe }}
        		<p>
        			<input type="submit" value="{% trans "Louer &rarr;" %}" class="btn big-green" />
        		</p>
        		</form>
            </div>
        </div>
        <div id="owner-info" class="box-welcome">
            <h3>{% trans "Propriétaire" %}</h3>
            {% if product.owner.avatar %}
            <img src="{{ product.owner.avatar.product_page.url }}" alt="{% trans "loueur"%}{{ product.owner.username }}">
            {% else %}
            <img src="{{ MEDIA_URL }}images/default_avatar.png" alt="{% trans "loueur"%}{{ product.owner.username }}">
            {% endif %}
            <p class="pseudo">
                <a href="{{ product.owner.get_absolute_url }}">{{ product.owner.username }}</a>
            </p>
            <a href="{% url message_create product.pk product.owner.pk %}" class="btn long-blue">{% trans "Contactez-moi" %}</a>
        </div>
        <div id="payment-info" class="box-info">
              <h3>{% trans "Paiement en ligne" %}</h3>
              {% blocktrans %}
			  <ol>
					<li> Paiement sur payal</li>
					<li> Le propriétaire est averti de votre demande</li>
					<li> Nous vous informons par mail de sa réponse :<br />
					    <ul>
    						<li>S’il accepte vous serez débité le premier jour de la location</li>
    						<li>S’il refuse vous ne serez pas débité</li>
    					</ul>
    				</li>
	      	 </ol>
			 {% endblocktrans %}
        </div>
    </div>
</div>
{% endblock %}
