{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="top-content container clearfix">
	<search class="grid12 first">
		<form action="{% url product_list %}">
			<div class="grid4 first">
				<label for="id_q" class="labb">{% trans "Que voulez vous louer ?" %}</label><br/>
				{{ search_form.q }}<br />
			</div>
			<div class="grid4">
				<label for="id_where" class="labb">{% trans "Où ?" %}</label><br />
				{{ search_form.where }}<br />
			</div>
			<div class="grid4">
				<input type="submit" value="{% trans "Rechercher" %}" class="button big orange"/>
			</div>
		</form>{# form #}
	</search>
</div>{# top-content #}
<div class="content container clearfix">
	<div class="col1 grid8 first">
		<h1>{{ product.summary }}</h1>
		<div class="detailsP">
		<div class="picB">
			{% with product.pictures.all|first as picture %}
				<img src="{{ picture.display.url }}" alt="{{ product.summary }}" />
			{% endwith %}
		</div>{# picB #}
		</div>{# details #}
		<div class="thumbs">
			{% for picture in product.pictures.all %}
				{% if picture.thumbnail %}
       		<a href="#" title="#"><img src="{{ picture.thumbnail.url }}" /></a>
        {% endif %}
			{% endfor %}
		</div>{# thumbs #}
		<div class="descP grid8 first">
			{{ product.description }}
		</div>
	</div>{# col1 #}
	<div class="col2 grid4">
	<div class="bookingP grid4 first">
		<div class="piP grid 4 first">
			<span class="pP">{{ product.prices.day|first }}</span>
			<span class="unitP">&euro;/J</span>
		</div>
		<form action="{% url booking_create product.slug,product.id %}" method="post">
			<div class="grid2 first started_at">
				<label class="labm">{% trans "Début" %}</label><br/>
				{{ booking_form.started_at }}
			</div>{# started_at #}
			<div class="grid2 ended_at">
				<label class="labm">{% trans "Fin" %}</label><br/>
				{{ booking_form.ended_at }}
			</div>{# ended_at #}
			<div class="grid4 first">
			  {{ booking_form.basket }}
			  {% csrf_token %}<input type="hidden" name="wizard_step" value="0" />
				<input type="submit" value="Réserver" class="grey big button" />
			</div>
		</form>
	</div>{# bookingP #}
	<div class="propP grid4 first">
		<ul>
			{% if product.deposit_amount %}
				<li><strong>{% trans "Caution" %} :</strong> {{ product.deposit_amount }} &euro;</li>
			{% endif %}
			<li><strong>{% trans "Lieu" %} :</strong> {{ product.address.zipcode }} {{ product.address.city|capfirst }}</li>
			<li><strong>{% trans "Catégorie" %} :</strong> {{ product.category }}</li>
			<li><strong>{% trans "Propriétaire" %} :</strong> <a href="{{ product.owner.get_absolute_url }}">{{ product.owner.username }}</a></li>
		</ul>
	</div><!-- detailsP -->
	<div class="questionP grid4 first">
		<a href="#">Poser une question au propriétaire</a>
	</div><!-- questionP -->
	</div><!-- col2 -->
</div><!-- content -->
{% endblock %}