{% extends "products/product_edit.html" %}
{% load i18n navbar product %}

{% block title %}{% trans "Mes annonces" %}{% endblock %}
{% block head %}
  {{block.super}}
{% endblock %}

{% block content-main-profil %}
<h2>{% trans "Modification de "%} {{ product.summary }} <small><a href="{{ product.get_absolute_url }}">({% trans "Voir l'annonce" %}) </a></small></h2>
{% if form.is_multipart %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
{% else %}
<form class="form-horizontal price-form" method="post" action="">
{% endif %}
{% csrf_token %}
{% for form in forms %}
  <fieldset>
    <legend>{{ form.legend }}</legend>
    {% for formfield in form %}
    <div class="control-group {% if formfield.errors %} error {% endif %}">
      <label class="control-label" for="{{ formfield.id_for_label }}">{{ formfield.label }} {% if formfield.field.required %}*{% endif %}</label>
      <div class="controls">
        {% if formfield.name == "picture" %}
          {% for picture in product.pictures.all %}
              {% if picture.thumbnail %}
                    <a href="#"><img src="{{ picture.thumbnail.url }}" /></a>
                  {% endif %}
            {% endfor %}
        {% endif %}
        {{ formfield }}
        <p class="help-block">{{ formfield.help_text }}</p>
        {% if formfield.errors %}
          <span class="help-inline">
          {% for error in formfield.errors %}
            {{ error|escape }} 
          {% endfor %}
          </span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </fieldset>
  {% endfor %}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <button type="reset" class="btn btn-cancel">Annuler</a>
  </div>
</form>
{% endblock %}