{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Mettre en location" %}{% endblock %}


{% block content %}
<div id="publish-new-ad" class="container-main">
    <ul class="breadcrumb">
    	<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
    	<li>{% trans "Déposer une annonce" %}</li>
    </ul>
    <div class="one-content"> 
        <h1>{% trans "Déposer une annonce"%}
            {% if not request.user.current_subscription %}
            <a href="{% url patron_subscription %}" class="btn-pro-access">{% trans "Professionnel ? Accédez à notre espace pro"%}</a>
            {% endif %}
        </h1>
        {% if not request.user.current_subscription %}
        <p class="publish-intro">
            {% blocktrans %}
                Grâce à la location, vous allez gagner de l’argent tout<br>en rendant service aux loueurs et à la planète.
            {% endblocktrans %}
        </p>
        {% endif %}
        <div class="publish-ads">
            <div class="publish-ad first">
                <a href="{% url car_product_create %}" class="btn-publish-ad">
                    <i class="add-car"></i><br>
                    {% trans "Déposer une voiture"%}
                </a>
                {% if not request.user.is_professional %}
                <p style="margin-bottom: 13px;">{% trans "Assurance comprise"%}<p>
                <img src="{{ STATIC_URL }}images/logo_mma.png" alt="location de voiture assuré par MMA" width="116" style="margin-bottom: 5px;"><br>
                <a href="/assurance-tranquillite/#car">({% trans "En savoir plus" %})</a>
                {% endif %}
            </div>
            <div class="publish-ad">
                <a href="{% url real_estate_product_create %}" class="btn-publish-ad">
                    <i class="add-home"></i><br>
                    {% trans "Déposer un logement"%}
                </a>
                {% if not request.user.is_professional %}
                <p style="margin-bottom: 5px;">{% trans "Assurance comprise"%}<p>
                <img src="{{ STATIC_URL }}images/e-loue_europ_assistance.png" alt="location de logement assuré par Europ assistance" width="72"><br>
                <a href="/assurance-tranquillite/#real-estate">({% trans "En savoir plus" %})</a>
                {% endif %}
            </div>
            <div class="publish-ad">
                <a href="{% url product_create %}" class="btn-publish-ad">
                    <i class="add-items"></i><br>
                    {% trans "Déposer un objet"%}
                </a>
                {% if not request.user.is_professional %}
                <p>{% trans "Assurance comprise"%}<p>
                 <img src="{{ STATIC_URL }}images/assurone.png" alt="location d'un objet assuré par Assurone" width="73" style="margin-bottom: 3px;"><br>
                <a href="/assurance-tranquillite/#goods">({% trans "En savoir plus" %})</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if request.user.current_subscription %}
    <div class="one-content" style="width: 760px; margin-left: 120px; margin-right: 120px;">
        <div class="pro-options" style="width: 730px;">
            <ul class="first" style="width: 345px;">
                <li style="text-align: justify;">
                    <span class="title-option">Publiez vos annnonces</span><br>
                    Vous publiez vos annonces directement sur le site. Si vous avez un volume très important d'annonces contactez-nous pour qu'on intègre directement votre catalogue.
                </li>
            </ul>
            <ul style="width: 345px;">
                <li style="text-align: justify;">
                    <span class="title-option">Mise en relation</span><br>
                    Les membres de e-loue peuvent voir vos annonces et vous contactent directement s'il sont intéressés. La réservation et le paiement se feront directement dans votre magasin ou sur votre site internet.
                </li>
            </ul>
        </div>
    </div>
    {% else %}    
    <div class="advantage ht-fonction">
        <ul class="ht-f-col">
            <li>
                <div class="ht-icon lock"></div>
                <div class="ht-f-desc">
                    <span>Sécurité</span><br>
                    Paiement garanti par la Société Générale<br>
                    Blocage de la caution pendant la location<br>
                    Contrat de location pré-rempli<br>
                </div>
            </li>
            <li>
                <div class="ht-icon money"></div>
                <div class="ht-f-desc"><span>Tarif</span><br>
                    Pas de frais d'inscription<br>
                    Mise en location GRATUITE<br>
                    Frais de 20% sur la location (seulement si vous louez)<br>
                </div>
            </li>
        </ul>
        <ul class="ht-f-col">
            <li>
                <div class="ht-icon assurancy"></div>
                <div class="ht-f-desc">
                    <span>Fléxibilité</span><br>
                    Possibilité de refuser une location<br>
                    Gestion de votre calendrier de disponibilités<br>
                    Communiquez avec les locataires par messagerie<br>
                </div>
            </li>
            <li>
                <div class="ht-icon people"></div>
                <div class="ht-f-desc">
                    <span>Forte visibilité</span><br>
                    Annonce visible sur les moteurs de recherche.<br>
                    Parutions dans la presse<br>
                    Annonce sera visible sur les réseaux sociaux<br>
                </div>
            </li>
        </ul>
    </div>
    {% endif %}
</div>{# container-main #}
{% endblock %}

{% block tail %}
    {{ block.super }}
    <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
    <script type="text/javascript">
    window.criteo_q = window.criteo_q || [];
    window.criteo_q.push(
            { event: "setAccount", account: 13977 },
            { event: "setCustomerId", id: "{{ request.user.pk }}" },
            { event: "setSiteType", type: "d" },
            { event: "viewHome", user_segment: "2" }
    );
    </script>
{% endblock %}