{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Mettre en location" %}{% endblock %}


{% block content %}
<div class="container-main">
    <ul class="breadcrumb">
    	<li><a href="{% url home %}">{% trans "Accueil" %}</a></li>
    	<li>{% trans "Déposer une annonce" %}</li>
    </ul>
    <div id="publish-new-ad">
        <h1 class="publish-intro">
        	{% blocktrans %}
                Grâce à la location, vous allez gagnez de l'argent<br>tout en rendant service au e-loueurs et à la planète !
            {% endblocktrans %}
        </h1>
        <div class="advantage ht-fonction">
            <ul class="ht-f-col">
                <li>
                    <div class="ht-icon lock"></div>
                    <div class="ht-f-desc">
                        <span>{% trans "Sécurité"%}</span><br>
                        {% trans "Paiement garanti par la Société Générale"%}<br>
                        {% trans "Blocage de la caution pendant la location"%}<br>
                        {% trans "Contrat de location pré-rempli"%}<br>
                    </div>
                </li>
                <li>
                    <div class="ht-icon money"></div>
                    <div class="ht-f-desc">
                        <span>{% trans "Tarif"%}</span><br>
                        {% trans "Pas de frais d'inscription"%}<br>
                        {% trans "Mise en location GRATUITE"%}<br>
                        {% trans "Frais de 20% sur la location (seulement si vous louez)"%}<br>
                    </div>
                </li>
            </ul>
            <ul class="ht-f-col">
                <li>
                    <div class="ht-icon assurancy"></div>
                    <div class="ht-f-desc">
                        <span>{% trans "Fléxibilité"%}</span><br>
                        {% trans "Possibilité de refuser une location"%}<br>
                        {% trans "Gestion de votre calendrier de disponibilités"%}<br>
                        {% trans "Communiquez avec les locataires par messagerie"%}<br>
                    </div>
                </li>
                <li>
                    <div class="ht-icon people"></div>
                    <div class="ht-f-desc">
                        <span>Forte visibilité</span><br>
                        {% trans "Annonce visible sur les moteurs de recherche."%}<br>
                        {% trans "Parutions dans la presse"%}<br>
                        {% trans "Annonce sera visible sur les réseaux sociaux"%}<br>
                    </div>
                </li>
            </ul>
        </div>{# advantage #}
        <div class="product-type">
            <ul>
                <li style="height: 54px;">{% trans "Assurance comprise avec MMA : Casse, Vol, responsabilité civile, dépannage 24h/24h"%} <br><a href="/assurance-tranquillite/">({% trans "en savoir plus"%})</a></li>
                <li>{% trans "Rejoignez la communauté de plus de 40 000 e-loueurs"%}</li>
                <li>{% trans "Les e-loueurs de voitures gagnent en moyennent 300&euro; par mois."%}</li>
            </ul>
            <a href="{% url car_product_create %}" class="btn">Ajouter une voiture</a>
        </div>{# car-product-create #}
        <div class="product-type">
            <ul>
                <li style="height: 54px;">{% trans "Assurance comprise avec Europe Assistance"%}<br><a href="/assurance-tranquillite/">({% trans "en savoir plus"%})</a></li>
                <li>{% trans "Rejoignez une communauté de plus de 40 000 e-loueurs"%}</li>
                <li>{% trans "Les e-loueurs d'appartements gagnent en moyennent 350&euro; par mois."%}</li>
            </ul>
            <a href="{% url real_estate_product_create %}" class="btn">Ajouter un logement</a>
        </div>{# real-estate-product-create #}
        <div class="product-type">
            <ul>
                <li style="height: 54px;">{% trans "Assurance casse comprise avec AssurOne"%}<br><a href="/assurance-tranquillite/">({% trans "en savoir plus"%})</a></li>
                <li>{% trans "Rejoignez une communauté de plus de 40 000 e-loueurs"%}</li>
                <li>{% trans "Les e-loueurs d'objets gagnent en moyennent 200&euro; par mois."%}</li>
            </ul>
            <a href="{% url product_create %}" class="btn">Ajouter un autre objet</a>
        </div>{# product-create #}
    </div>
</div>{# container-main #}
{% endblock %}