-load humanize facets product prefixed_cache
-load category

.container
  {% cache 43200 'products_on_category_homepage' category.id  %}
  h3.text-center.indent-v-lg 1{{ products_on_category.count|intcomma }} annonces de location {{ category }} dans toute la France
  {% endcache %}

  {% cache 43200 'category_homepage' category.slug  %}
  ul.product-list.row
    {% arrange_categories categories_map category.id as categories %}

    each subcategory in categories|slice:":8"
      li.col-sm-3: .product-item
        .product-image
          a(href="{{ subcategory.get_absolute_url }}").img-wrapper: img(style="{% if subcategory.thumbnail %}background-image: url({{ subcategory.thumbnail.url }}){% else %}{% if subcategory.product %}background-image: url({{ subcategory.product.pictures.first.profile.url }}){% endif %}{% endif %}")
        .product-info
          .product-description
            h6
                |Location
            h6: a(href="{{ subcategory.get_absolute_url }}")
              b {{ subcategory.name }}
          .product-owner

  .subcategory
    ul.subcategory__list.row
      each subcategory in categories|slice:"8:"
        li.subcategory__item.col-xs-3
          a(href="{{ subcategory.get_absolute_url }}").subcategory__link Location<br>{{ subcategory.name }}
  {% endcache %}

  .row.text-center.indent-v-lg
    button(type="button", onclick="location.href='{{ category.get_absolute_url }}';").btn.bg-success.btn-explore.btn-lg
      i.flaticon.stroke.zoom-2.indent-r-xs
      | Explorez toutes les annonces de location
