.block-tab.ng-hide#tabs-shipping
    h3.indent-t-sm.text-center La livraison avec la 
      span.sprite-pickup-logo-full.indent-l-xs
    ul.nav
      li.row.indent-v-sm
        .col-xs-3.text-right: span.sprite-pickup-logo-short-black
        .col-xs-7 1500 point relais partenaires partout en France, et rapidement cela montera à 6000.
      li.row.indent-v-sm
        .col-xs-3.text-right: span.sprite-calendar
        .col-xs-7 La livraison sera en général de 24 ou 48h (non garanti).
      li.row.indent-v-sm
        .col-xs-3.text-right: span.sprite-euro
        .col-xs-7 Les coûts de livraison seront très faibles et à votre charge.
