.block-tab.ng-hide#tabs-shipping
    h3.indent-t-sm La livraison avec la 
      span.sprite-pickup-logo-full.indent-l-xs
    p.indent-l-md
        | La livraison de cet objet est possible grâce à notre partenaire La navette pickup. L’objet
        | sera transporté via une pochette de relais pickup à relais pickup à travers toute la France.
    ul.nav.indent-l-md
        li.indent-t-sm.row
            .col-xs-1.text-center:  span.sprite-pickup-logo-short-black
            .col-xs-8: p
                | 4200 points relais partenaires partout en France :
                | vous choisissez le relais le plus proche de chez vous.
        li.indent-t-sm.row
            .col-xs-1.text-center:  span.sprite-calendar
            .col-xs-8: p
                | Délai de livraison de 48h (délai constaté) : vous êtes prévenu
                | par email de la livraison de votre navette dans votre relais d’arrivée.
        li.indent-t-sm.row
            .col-xs-1.text-center:  span.sprite-euro
            .col-xs-8: p
                | Tarif entre 2,90 et 6,90 € TTC : le tarif dépend uniquement de la
                | distance d’envoi et non du poids du colis.
