-load product

.block-tab.ng-hide#tabs-tarifs
  h3.indent-t-md.indent-b-xs {% if product_type == 'carproduct' %}Tarif{% else %}Grille tarifaire{% endif %}
  .row
    .col-xs-6
      {% if product_type == 'carproduct' %}
      table.calendar.text-center
        thead: tr
          td Durée
          td Prix
        tbody
          tr
            td 1 jours*
            td {{ product.price|currency }} &euro;
      {% if product_object.km_included %}
      .indent-b-md
      table.calendar.text-center
        tbody: tr
          td Kilomêtres inclus par jour
          td {{ product_object.km_included }} Km
      {% endif %}
      {% else %}
      table.calendar.text-center
        thead: tr
          td Durée
          td Prix
        tbody: each price in product_object.prices.all
          tr
            td {{ price.get_prefixed_unit_display }}{% if price.unit == 1 %}*{% endif %}
            td {{ price.amount }} &euro;
      {% endif %}
      .indent-b-md
      table.calendar.text-center
        tbody: tr
          td Caution
          td {{ product_object.deposit_amount }} &euro;
    .col-sm-6
      p.indent-sm-b Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo tempore, facere reprehenderit commodi fugit quas, delectus laudantium temporibus nam vel voluptatem sit repellat velit. Modi commodi maiores ex adipisci quam aspernatur dolor, molestiae, ipsa nostrum pariatur, necessitatibus quis illum enim.
      p.indent-sm-b Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo tempore, facere reprehenderit commodi fugit quas, delectus laudantium temporibus nam vel voluptatem sit repellat velit. Modi commodi maiores ex adipisci quam aspernatur dolor, molestiae, ipsa nostrum pariatur, necessitatibus quis illum enim.
