-load product
-load i18n

.block-tab.ng-hide#tabs-tarifs
  h3.indent-t-md.indent-b-xs {% if product_type == 'carproduct' %}{% trans "Tarif" %}{% else %}{% trans "Grille tarifaire" %}{% endif %}
  .row
    .col-xs-6
      {% if product_type == 'carproduct' %}
      table.calendar.text-center
        thead: tr
          td {% trans "Durée" %}
          td {% trans "Prix" %}
        tbody
          tr
            td {% trans "1 jours*" %}
            td {{ product.price|price:"&euro;" }}
      {% if product_object.km_included %}
      .indent-b-md
      table.calendar.text-center
        tbody
          tr
            td {% trans "Kilomètres inclus par jour" %}
            td {{ product_object.km_included }} Km
          tr
            td {% trans "Coût du kilomètre supplémentaire" %}
            td {{ product_object.costs_per_km|price:"&euro;" }}
      {% endif %}
      {% else %}
      table.calendar.text-center
        thead: tr
          td {% trans "Durée" %}
          td {% trans "Prix" %}
        tbody: each price in product_object.prices.all
          tr
            td {{ price.get_prefixed_unit_display }}{% if price.unit == 1 %}*{% endif %}
            td {{ price.local_currency_amount|currency }}
      {% endif %}
      .indent-b-md
      table.calendar.text-center
        tbody: tr
          td {% trans "Caution" %}
          td {{ product_object.local_currency_deposit_amount|currency }} ;
    .col-sm-6
      {% if is_pro %}
      {% else %}
      p.indent-sm-b {% trans "Certains propriétaires proposent des prix degressifs pour les locations de plusieurs jours. Si vous effectuez une demande de location pour plusieurs jours, e-loue vous propose automatiquement le prix le plus avantageux." %}
      p.indent-sm-b {% trans "Lorsque vous effectuez une réservation sur e-loue, seul le prix de la location est débité de votre carte bancaire." %}
      p.indent-sm-b {% trans "Si le propriétaire demande une caution, e-loue procédera à une empreinte bancaire au moment du paiement. Cette empreinte ne sera pas débitée, sauf  si vous constatez un sinistre à la fin de la location." %}
      {% endif %}
