ul.list-group
  each comment in comment_list
    li.list-group-item.thumbnail
      .thumbnail-img
        a(href="{{ comment.author.get_absolute_url }}"): img(src="{{ comment.author.product_page.url }}", alt="avatar")
      .thumbnail-content
        h5 
          a(href="#").indent-r-xs {{ comment.author.username }}
          {% with comment.note as rate %}
          include ../../_rate
          {% endwith %}
        p {{ comment.comment }}
        small {{ comment.created_at|date:"l d F Y" }}
