-load product i18n

h3 Déscription
.row
  {% if product_type != 'product' or rating.id__count or properties %}
  .col-sm-6.text {{ product.description|linebreaksp }}
  .col-sm-6.properties
    table.calendar.bd-clear: tbody
      {% if rating.id__count %}
      tr
        td {% trans 'Notation' %}
        td: b {{ rating.id__count }}&nbsp;&nbsp;
          {% with rating.note__avg as rate %}
          include ../../_rate
          {% endwith %}
      {% endif %}
      {% if product_type == 'carproduct' %}
      tr
        td {% trans 'marque' %}
        td: b {{ product_object.brand }}&nbsp;&nbsp;
      tr
        td {% trans 'modèle' %}
        td: b {{ product_object.model }}&nbsp;&nbsp;
      tr
        td {% trans 'nombre de place' %}
        td: b {{ product_object.seat_number }}&nbsp;{% trans 'places' %}&nbsp;&nbsp;
      tr
        td {% trans 'nombre de porte' %}
        td: b {{ product_object.door_number }}&nbsp;{% trans 'portes' %}&nbsp;&nbsp;
      tr
        td {% trans 'énergie' %}
        td: b {{ product_object.get_fuel_display }}&nbsp;&nbsp;
      tr
        td {% trans 'boite de vitesse' %}
        td: b {{ product_object.get_transmission_display }}&nbsp;&nbsp;
      tr
        td {% trans 'kilométrage' %}
        td: b {{ product_object.get_mileage_display }}&nbsp;&nbsp;
      tr
        td {% trans 'consommation' %}
        td: b {{ product_object.get_consumption_display }}&nbsp;{% trans 'litres/100km' %}&nbsp;&nbsp;
      {% endif %}
      {% if product_type == 'realestateproduct' %}
      tr
        td {% trans 'capacity' %}
        td: b {{ product_object.capacity }}&nbsp;{% trans 'personnes' %}&nbsp;&nbsp;
      tr
        td {% trans 'private_life' %}
        td: b {{ product_object.private_life }}&nbsp;&nbsp;
      tr
        td {% trans 'chamber_number' %}
        td: b {{ product_object.chamber_number }}&nbsp;{% trans 'chambres' %}&nbsp;&nbsp;
      {% endif %}
      //- boolean options
      {% for option in product_object.options %}
      tr
        td {{ option }}
        td: b oui&nbsp;&nbsp;
      {% endfor %}
      //- generic properties from products.models.ProperyValue model
      {% for property in properties %}
      tr
        td {{ property.proeprty.name }}
        td: b {{ property.value }}&nbsp;&nbsp;
      {% endfor %}
  {% else %}
  .col-sm-6.text {{ product.description|linebreaksp }}
  {% endif %}
