-load product

h3 Déscription
.row
	{% if properties %}
	.col-sm-6.text {{ product.description|linebreaksp }}
	.col-sm-6.properties
		table.calendar.bd-clear: tbody
			each property in properties
				tr
					td {{ property.property.name }}
					td: b {{ property.value }}&nbsp;&nbsp;
	{% else %}
	.col.text {{ product.description|linebreaksp }}
	{% endif %}
