extends ../../base
-load compressed staticfiles i18n

block append styles
  {% compressed_css "dashboard_styles" %}

block scripts
  {% compressed_js "dashboard_js" %}
script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ANALYTICS_GOOGLE_ID}}']);
    _gaq.push(['_setDomainName', '{{ ANALYTICS_SITE }}']);
    _gaq.push(['_trackPageview']);
    {% spaceless %}
    {% if request.user.is_authenticated %}
    _gaq.push(['_setVar', 'authenticated']);
    {% else %}
    _gaq.push(['_setVar', 'anonymous']);
    {% endif %}
    {% endspaceless %}
block append content-body
  div(style="width: 300px;height:300px;margin-left: auto;margin-right: auto;", ng-show="false").loading
  .container-full-screen(data-ng-controller="DashboardRootCtrl", style="display: none;")
    header.header-site
      include ../../jade/_header_site
    article.dashboard
      nav(ng-show="!!currentUser")
        ul
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[0].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[0].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[0].badge", ng-bind="dashboardTabs[0].badge")
              | {% trans "Tableau de board"%}
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[1].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[1].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[1].badge", ng-bind="dashboardTabs[1].badge")
              | {% trans "Messages" %}
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[2].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[2].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[2].badge", ng-bind="dashboardTabs[2].badge")
              | {% trans "Réservations" %}
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[3].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[3].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[3].badge", ng-bind="dashboardTabs[3].badge")
              | {% trans "Annonces" %}
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[4].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[4].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[4].badge", ng-bind="dashboardTabs[4].badge")
              | {% trans "Compte" %}
      .content-view(ui-view)
