img(src = "#{STATIC_URL}img/banner.jpg")
.banner-text.table-cell
	h2
		| louez un objet, une voiture...
		br
		| près de chez vous, en tout sécurité !
	a( href = "#" ) une communauté de confiance
