.container
	.row
		.col-sm-6
			ul.nav
				li.comment.col-sm-10
					a(href="").clearfix
						img(src=STATIC_URL+"img/home-products/declarer.png", alt="").autor-img
						p.text
							| Merci pour ton offre Jules, grâce à toi j’ai pu partir en week-end tranquille... :-)
						p.info
							| Par 
							b.autor-name Philipe 
							| il y a 
							span.time 23 min
						h6
							b
								| Audi 13 - Vileneuve le Roi (94)
				li.comment.col-sm-10.test2
					a(href="").clearfix
						img(src=STATIC_URL+"img/home-products/declarer.png", alt="").autor-img
						p.text
							| Merci pour ton offre Jules, grâce à toi j’ai pu partir en week-end tranquille... :-)
						p.info
							| Par 
							b.autor-name Philipe 
							| il y a 
							span.time 23 min
						h6
							b
								| Audi 13 - Vileneuve le Roi (94)
		.col-sm-6
			ul.nav
				li.comment.col-sm-10.test
					a(href="").clearfix
						img(src=STATIC_URL+"img/home-products/declarer.png", alt="").autor-img
						p.text
							| Merci pour ton offre Jules, grâce à toi j’ai pu partir en week-end tranquille... :-)
						p.info
							| Par 
							b.autor-name Philipe 
							| il y a 
							span.time 23 min
						h6
							b
								| Audi 13 - Vileneuve le Roi (94)
.decorated-houses