.row.date-picker
    .table-cell.main-cell
        .table-cell
            span Du
        .table-cell.main-cell
            input(type="text", placeholder="", name="fromDate", date-format="dd/MM/yyyy", ng-model="bookingDetails.fromDate", ng-change="updatePrice()", eloue-datepicker).form-control
            i.flaticon.stroke.calendar-3
    .table-cell
        select(name="fromHour", ng-model="bookingDetails.fromHour", ng-options="h.value as h.label for h in hours", ng-change="updatePrice()").form-control
    .span(ng-show="productDetailsBookingForm.fromDate.$dirty && productDetailsBookingForm.fromDate.$error.required").text-danger From date is required.
    .span(ng-show="productDetailsBookingForm.fromDate.$dirty && productDetailsBookingForm.fromDate.$error.pattern").text-danger Invalid date.
.row.date-picker
    .table-cell.main-cell
        .table-cell
            span Au
        .table-cell.main-cell
            input(type="text", placeholder="", name="toDate", date-format="dd/MM/yyyy", ng-model="bookingDetails.toDate", ng-change="updatePrice()", eloue-datepicker).form-control
            i.flaticon.stroke.calendar-3
    .table-cell
        select(name="toHour", ng-model="bookingDetails.toHour", ng-options="h.value as h.label for h in hours", ng-change="updatePrice()").form-control
    .span(ng-show="productDetailsBookingForm.toDate.$dirty && productDetailsBookingForm.toDate.$error.required").text-danger To date is required.
    .span(ng-show="productDetailsBookingForm.toDate.$dirty && productDetailsBookingForm.toDate.$error.pattern").text-danger Invalid date.