.container
	.col-sm-9.mrg-v-8.row
		h3
			| Les bonnes affaires e-loue, c'est (aussi) dans la poche
		p
			| Retrouvez toutes les fonctionnalités que vous aimez sur iPhone, iPad et Android.
		.row.mrg-v-1
			.col-sm-6
				a(href = "#")
					img(src = "#{STATIC_URL}img/btn-google-play.png")
				a(href = "#")
					img(src = "#{STATIC_URL}img/btn-app-store.png")
