.header-site
	.container.signs-links.pad-v-2
		ul(role = "tablist").nav.without-spaces
			li.divide
			li: span
				| Bonjour, 
				a( href = "#inscrivez-vous" data-toggle="modal" data-target="#sign-in") inscrivez-vous 
				| ou 
				a( href = "#connectez-vous" data-toggle="modal" data-target="#log-in") connectez-vous
			li.divide
			li: span
				| Vous êtes un loueur professionnel, découvrez les 
				a( href ="#") offers e-loue Pro
			li.divide
			li: span
				| Appelez-nous au 
				b 0826.800.200 
				| (0,15&euro; / min)

	.framing-h.pad-v-3
		.container.search-form
			.row
				.col-sm-2.logo-wrapper
					a(href = "/templates")
						img(src = "#{STATIC_URL}img/logo.png", alt = "logo")
				.col-sm-7
					.input-group
						input(type = "text" placeholder = "Que voulez-vous louer ?" title = "Que voulez-vous louer ?").form-control.what-field
						.input-group.where-field-wrapper
							span.sprite-location
							input(type = "text" placeholder = "Où ça ?" title = "Où ça ?").form-control.where-field#geolocate
						.input-group-btn
							button(type = "button").btn.btn-default.btn-search
								span.icon-search
				.col-sm-3
					button(type = "button").btn.btn-success Déposez une annonce