section.container.signs-links
	ul(role = "tablist").nav.without-spaces
		li.divide
		li: span
			| Bonjour, 
			a( href = "#inscrivez-vous" data-toggle="modal" data-target="#sign-in") inscrivez-vous 
			| ou 
			a( href = "#connectez-vous" data-toggle="modal" data-target="#log-in") connectez-vous
		li.divide
		li: span
			| Vous êtes un loueur professionnel, découvrez les 
			a( href ="#") offers e-loue Pro
		li.divide
		li: span
			| Appelez-nous au 
			b 0826.800.200 
			| (0,15&euro; / min)

.framing
	section.container.search-form
		.table-cell
			a(href = "/templates"): img(src = "#{STATIC_URL}img/logo.png", alt = "logo")
		.table-cell.main-cell
			form(action="").input-group
				input(type = "text" placeholder = "Que voulez-vous louer ?" title = "Que voulez-vous louer ?").table-cell.main-cell.form-control.what-field
				.table-cell.input-group.where-field
					span.sprite-location
					input(type = "text" placeholder = "Où ça ?" title = "Où ça ?").form-control#geolocate
				.table-cell.input-group-btn
					button(type = "button").btn.btn-default.btn-search: span.icon-search
		.table-cell
			button(type = "button").btn.bg-success.advertise Déposez une annonce