.modal.fade#log-in(tabindex="-1", role="dialog", aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				button(type="button", data-dismiss="modal").close
					span(aria-hidden="true")&times;
					span.sr-only Close
				h4.modal-title Connexion
			.modal-body
				h3 Connectez-vous à votre compte
				.form-group: a(href="#").btn.bg-info
					i.icon-facebook
					| Connexion via Facebook
				.form-group: a(href="#").btn.bg-danger
					i.icon-google-plus
					| Connexion via Google
				p.info
					| Nous ne publierons jamais rien sur votre profil (sauf si vous le demandez) 
					br
					| Vos données personnelles ne seront jamais cédées ou vendues.
				span.or
				form
					.form-group: input(type="email", placeholder="E-mail", required).form-control
					.form-group: input(type="password", placeholder="Mot de passe", required).form-control
					.form-group.clearfix
						.checkbox.pull-left
							label(for="remember-me")
								input(type="checkbox", checked)#remember-me
								i.icon-ok
							| Se souvenir de moi
						.forgot-password.pull-right
							a(href="#") Mot de passe oublié
					.form-group
						button(type="submit").btn.bg-success Connexion
				span.or
				h4 Vous êtes déjà membre e-loue ?
				a(href="#", data-toggle="modal", data-target="#sign-in", data-dismiss="modal").modal-fotter-link.connexion Inscription
