.nav-home.container
	ul.nav.without-spaces.row
		-var items = [ "Logement", "Jardinage", "Automobile", "Image et son", "Bricolage", "Mode et accessoire", "Réceprion", "Santé et Bien être", "Autres" ]
		-each item in items
			li
				a( href = "#" + item ).pad-v-2 #{item}