.modal.fade#messageModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.large
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title Message
            .modal-body.table-cell
                .static-part.table-cell
                    section.product-info
                        eloue-product-details-small
                    section.terms
                        eloue-product-details-booking(in-modal="true", in-message="true")
                .change-part.table-cell
                    section.dialogs
                        include ./pop_up_sections/_dialogs
                    section.input-message
                        include ./pop_up_sections/_input_message