.modal.fade#phoneModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.large
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title Appel
            .modal-body.table-cell
                .static-part.table-cell
                    section.product-info
                        eloue-product-details-small
                    section.terms
                        include ./pop_up_sections/_terms
                .change-part.table-cell
                    section.table.variant-call
                        include ./pop_up_sections/_variants_call
