.row
  h3.col-xs-8 603 annonces correspondant à vos critères
  .col-xs-3.clear-selector.text-success
    select.form-control
      option(value="male") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
  .col-xs-1
    i.sprite-grid
    i.sprite-list