-load i18n humanize

h3.col-md-7
  if form.cleaned_data.q
    {% blocktrans with count=paginator.count|intcomma count counter=paginator.count %}
    | 1 annonce correspondant à vos critères
    {% plural %}
    | {{ count }} annonces correspondant à vos critères
    {% endblocktrans%}
.col-xs-5.col-md-3.clear-selector
  select.form-control
    option(value="male") Du - cher au + cher
    option(value="female") Du - cher au + cher
    option(value="female") Du - cher au + cher
    option(value="female") Du - cher au + cher
.col-xs-2.col-md-2.layout-switcher
  i.flaticon.stroke.menu-list-4.list
  i.flaticon.stroke.window-1.grid
