h3.col-md-7 603 annonces correspondant à vos critères
//- .col-xs-5.col-md-3.clear-selector
.col-xs-5.layout-switcher
  i.flaticon.stroke.menu-list-4.list
  i.flaticon.stroke.window-1.grid
  .clear-selector: select.form-control
    option(value="male") Du - cher au + cher
    option(value="female") Du - cher au + cher
    option(value="female") Du - cher au + cher
    option(value="female") Du - cher au + cher
