.container
  h3.text-center Choisissez une catégorie pour votre annonce
  -var publish_items_categories = [[{"title": "Bricolage", "id": 35, "classname": "do-it-yourself"}, {"title": "Jardinage", "id": 390, "classname": "gardening"}, {"title": "High-tech", "id": 253, "classname": "high-tech"}, {"title": "Réception", "id": 418, "classname": "reception"}], [{"title": "Véhicule", "id": 495, "classname": "vehicle"}, {"title": "Node et accessoires", "id": 126, "classname": "fashion-and-accessories"}, {"title": "Santé et bien-etre", "id": 323, "classname": "health-and-wellness"}, {"title": "Autres", "id": "", "classname": "other"}]]
  each group in publish_items_categories
    ul.nav.space-between.text-nowrap
      each item in group
        li.spacer
        li(class="{{ item.classname }}"): span: a(href="#/publish?category={{ item.id }}", data-dismiss="modal")
          span.border-round
            i.sprite
          span.title {{ item.title }}
