.modal.fade#sign-in(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal").close
          span(aria-hidden="true")&times;
          span.sr-only Close
        h4.modal-title Inscription
      .modal-body
        h3 Inscrivez-vous en 2 secondes
        .form-group: a(href="#").btn.bg-info
          i.flaticon.social.facebook
          | Inscription via Facebook
        .form-group: a(href="#").btn.bg-danger
          i.flaticon.social.google-plus
          | Inscription via Google
        p.info
          | Nous ne publierons jamais rien sur votre mur sans votre accord
        span.or
        h3 Inscrivez-vous en 30 secondes
        form(action="")
          .form-group: a( href = "#classic-form", data-toggle="modal", data-target="#classic-form", data-dismiss="modal").btn.bg-success Inscription via Email
        span.or
        h4 Vous êtes déjà membre e-loue ?
        a( href = "#connectez-vous", data-toggle="modal", data-target="#log-in", data-dismiss="modal").modal-fotter-link.connexion Connexion
