-var nav_home_items = [ "Logement", "Jardinage", "Automobile", "Image et son", "Bricolage", "Mode et accessoire", "Réceprion", "Santé et Bien être", "Autres" ]

-var insurances = []
-insurances[0] = ["payment", "Louez en toute sécurité", "Transactions en ligne sécurisées.", "Aucun échange d'argent."]
-insurances[1] = ["serenity", "Louez en toute sérénité", "Assurance incluse et automatique.", "Caution en ligne."]
-insurances[2] = ["simplicity", "Louez en toute simplicité", "Service client dédié 7j/7.", "Dépot d'annonce gratuite."]
-insurances[3] = ["trust", "Louez en toute confiance", "Notes et commentaires en ligne.", "Messagerie en ligne."]

-var products = []
-products[0] = {"img_link": "img/home-products/bike.jpg", "title": "Bike Bike Bike Bike Bike Bike Bike Bike Bike Bike ", "description": "Aubervillies", "price": "56", "declarer_img_link": "img/home-products/declarer.png"}
-products[1] = {"img_link": "img/home-products/audi.jpg", "title": "Audi - A3", "description": "Paris Paris Paris Paris Paris Paris Paris Paris Paris Paris ", "price": "100", "declarer_img_link": "img/home-products/declarer.png"}
-products[2] = {"img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/declarer.png"}
-products[3] = {"img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/declarer.png"}
-products[4] = {"img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/declarer.png"}
-products[5] = {"img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/declarer.png"}
-products[6] = {"img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/declarer.png"}
-products[7] = {"img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/declarer.png"}

-var cities = []
-cities[0] = { "name": "paris", "actives": "123 254" }
-cities[1] = { "name": "lyon", "actives": "98 453" }
-cities[2] = { "name": "toulouse", "actives": "90 657" }
-cities[3] = { "name": "nantes", "actives": "123 254" }
-cities[4] = { "name": "rennes", "actives": "98 453" }
-cities[5] = { "name": "bordeaux", "actives": "90 657" }
-cities[6] = { "name": "lille", "actives": "123 254" }
-cities[7] = { "name": "montpelier", "actives": "98 453" }
-cities[8] = { "name": "rouen", "actives": "90 657" }

-var footer_links = []
-footer_links[0] = { "header": "Le concept eloue", "links": ["Comment ça marche ?", "Simulez vos revenus", "Questions fréquentes", "Conseils pour les propriétaires", "Conseils pour les locataires", "Témoignages"] }
-footer_links[1] = { "header": "Pourquoi choisir eloue", "links": ["Assurance sérénité", "Paiement et caution sécurisés", "Contrats de location", "Parrainez vos proches", "L’offre e-loue Pro"] }
-footer_links[2] = { "header": "L’entreprise e-loue", "links": ["Qui sommes-nous ?", "Nos partenaires", "Respect de la vie privée", "Conditions générales", "Mentions légales"] }
-footer_links[3] = { "header": "En savoir plus", "links": ["Espace presse", "Espace job", "Contactez-nous", "E-loue en mobilité", "Blog e-loue"] }

//- _product_detail.jade
-var specifications = ["Année 2010", "Moteur Diesel", "Boite Automatique", "10 000 à 30 000 km"]
-var tabs = [ "Photos", "Tarifs", "Localisation", "Disponibilité", "Assurance" ]

-var properties = [["Notation", "32"], ["Date d’achat", "2008"], ["Marque", "BMW"], ["Modèle", "520 Touring"], ["Consommation", "4,5 l/100km"], ["Prix neuf", "38 000€"], ["Puissance", "130 CV"]]

-var comments = []
-comments[0] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}
-comments[1] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}
-comments[2] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}
-comments[3] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}
-comments[4] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}

-var stats = [["7", "annonces publiées"], ["12", "locations effectués"], ["16", "évalutations"], ["98%", "de taux de réponse"], ["6h", "de temps de réponse en moyenne"]]

-var similar_ads = []
-similar_ads[0] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
-similar_ads[1] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
-similar_ads[2] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
-similar_ads[3] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
-similar_ads[4] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
-similar_ads[5] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
-similar_ads[6] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}

-var pop_up = {}
-pop_up.product_info = {"header": "BMW 520 Touring Luxe", "thumbnail_product":"img/home-products/audi.jpg", "location": "Nice", "index":"02200", "rate_count":"32", "comments_count":"12", "thumbnail_declarer":"img/home-products/declarer.png","name_declarer":"Julien Dupré"}

-var terms = [["Durée","4 jours et 3 heures"],["Prix","350€"],["Caution","400€"]]

-var timing = ["01.00", "02.00", "03.00", "04.00", "05.00", "06.00", "07.00", "08.00", "09.00", "10.00", "11.00", "12.00", "13.00", "14.00", "15.00", "16.00", "17.00", "18.00", "19.00", "20.00", "21.00", "22.00", "23.00"]

-var information = []
-information.push({"name": "Notation", "value": "32"})
-information.push({"name": "Date d’achat", "value": "2008"})
-information.push({"name": "Marque", "value": "BMW"})
-information.push({"name": "Modèle", "value": "520 Touring"})
-information.push({"name": "Consommation", "value": "4,5 l/100km"})
-information.push({"name": "Prix neuf", "value": "38 000€"})
-information.push({"name": "Puissance", "value": "130 CV"})