-var nav_home_items = [ "Logement", "Jardinage", "Automobile", "Image et son", "Bricolage", "Mode et accessoire", "Réceprion", "Santé et Bien être", "Autres" ]

-var insurances = [["payment", "Louez en toute sécurité", "Transactions en ligne sécurisées.", "Aucun échange d'argent."], ["serenity", "Louez en toute sérénité", "Assurance incluse et automatique.", "Caution en ligne."], ["simplicity", "Louez en toute simplicité", "Service client dédié 7j/7.", "Dépot d'annonce gratuite."], ["trust", "Louez en toute confiance", "Notes et commentaires en ligne.", "Messagerie en ligne."]]
//-insurances[0] = ["payment", "Louez en toute sécurité", "Transactions en ligne sécurisées.", "Aucun échange d'argent."]
//-insurances[1] = ["serenity", "Louez en toute sérénité", "Assurance incluse et automatique.", "Caution en ligne."]
//-insurances[2] = ["simplicity", "Louez en toute simplicité", "Service client dédié 7j/7.", "Dépot d'annonce gratuite."]
//-insurances[3] = ["trust", "Louez en toute confiance", "Notes et commentaires en ligne.", "Messagerie en ligne."]

-var products = []
//-products[0] = {comments: 3, order: 1, zip_code: "12432", rate: 2, full_description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque consequatur, nihil odit natus, dolores tempore.","img_link": "img/home-products/bike.jpg", "title": "Bike Bike Bike Bike Bike Bike Bike Bike Bike Bike ", "description": "Aubervillies", "price": "56", "declarer_img_link": "img/home-products/tenant_small.png"}
//-products[1] = {comments: 1, order: 2, zip_code: "12432", rate: 3, full_description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima debitis labore, ad sequi nostrum officiis!","img_link": "img/home-products/audi.jpg", "title": "Audi - A3", "description": "Paris Paris Paris Paris Paris Paris Paris Paris Paris Paris ", "price": "100", "declarer_img_link": "img/home-products/tenant_small.png", ispro: true}
//-products[2] = {comments: 0, order: 3, zip_code: "12432", rate: 1, full_description: "Lorem ipsum dolor sit amet, o ea adipisci?","img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/tenant_small.png"}
//-products[3] = {comments: 6, order: 4, zip_code: "12432", rate: 5, full_description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea impedit vero natus quos praesentium eaque!","img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/tenant_small.png"}
//-products[4] = {comments: 31, order: 5, zip_code: "12432", rate: 4, full_description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores officiis eos similique nihil velit laudantium.","img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/tenant_small.png"}
//-products[5] = {comments: 312, order: 6, zip_code: "12432", rate: 2, full_description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi laborum vitae, maxime dicta modi eligendi.","img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/tenant_small.png"}
//-products[6] = {comments: 3, order: 7, zip_code: "12432", rate: 2, full_description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, ipsam sed tempora, optio labore ullam.","img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/tenant_small.png"}
//-products[7] = {comments: 3, order: 8, zip_code: "12432", rate: 3, full_description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio possimus obcaecati eligendi maxime, debitis numquam?","img_link": "img/home-products/tent.jpg", "title": "Tante tip indien", "description": "Nantes", "price": "56", "declarer_img_link": "img/home-products/tenant_small.png"}

//-var cities = [{ "name": "paris", "actives": "123 254" }, { "name": "lyon", "actives": "98 453" }, { "name": "toulouse", "actives": "90 657" }, { "name": "nantes", "actives": "123 254" }, { "name": "rennes", "actives": "98 453" }, { "name": "bordeaux", "actives": "90 657" }, { "name": "lille", "actives": "123 254" }, { "name": "montpelier", "actives": "98 453" }, { "name": "rouen", "actives": "90 657" }]
//-cities[0] = { "name": "paris", "actives": "123 254" }
//-cities[1] = { "name": "lyon", "actives": "98 453" }
//-cities[2] = { "name": "toulouse", "actives": "90 657" }
//-cities[3] = { "name": "nantes", "actives": "123 254" }
//-cities[4] = { "name": "rennes", "actives": "98 453" }
//-cities[5] = { "name": "bordeaux", "actives": "90 657" }
//-cities[6] = { "name": "lille", "actives": "123 254" }
//-cities[7] = { "name": "montpelier", "actives": "98 453" }
//-cities[8] = { "name": "rouen", "actives": "90 657" }

-var footer_links = [{ "header": "Le concept eloue", "links": ["Comment ça marche ?", "Simulez vos revenus", "Questions fréquentes", "Conseils pour les propriétaires", "Conseils pour les locataires", "Témoignages"] }, { "header": "Pourquoi choisir eloue", "links": ["Assurance sérénité", "Paiement et caution sécurisés", "Contrats de location", "Parrainez vos proches", "L’offre e-loue Pro"] }, { "header": "L’entreprise e-loue", "links": ["Qui sommes-nous ?", "Nos partenaires", "Respect de la vie privée", "Conditions générales", "Mentions légales"] }, { "header": "En savoir plus", "links": ["Espace presse", "Espace job", "Contactez-nous", "E-loue en mobilité", "Blog e-loue"] }]
//-footer_links[0] = { "header": "Le concept eloue", "links": ["Comment ça marche ?", "Simulez vos revenus", "Questions fréquentes", "Conseils pour les propriétaires", "Conseils pour les locataires", "Témoignages"] }
//-footer_links[1] = { "header": "Pourquoi choisir eloue", "links": ["Assurance sérénité", "Paiement et caution sécurisés", "Contrats de location", "Parrainez vos proches", "L’offre e-loue Pro"] }
//-footer_links[2] = { "header": "L’entreprise e-loue", "links": ["Qui sommes-nous ?", "Nos partenaires", "Respect de la vie privée", "Conditions générales", "Mentions légales"] }
//-footer_links[3] = { "header": "En savoir plus", "links": ["Espace presse", "Espace job", "Contactez-nous", "E-loue en mobilité", "Blog e-loue"] }

//- _product_detail.jade
-var specifications = ["Année 2010", "Moteur Diesel", "Boite Automatique", "10 000 à 30 000 km"]

-var tabs = [{'title': "Photos", 'href' : "./product_detail.html"}, {'title': "Tarifs", 'href' : "./tab_tarifs.html"}, {'title': "Localisation", 'href' : "#"}, {'title': "Disponibilité", 'href' : "./tab_available.html"}, {'title': "Assurance", 'href' : "./tab_terms.html"}]

-var properties = [["Notation", "32"], ["Date d’achat", "2008"], ["Marque", "BMW"], ["Modèle", "520 Touring"], ["Consommation", "4,5 l/100km"], ["Prix neuf", "38 000€"], ["Puissance", "130 CV"]]

-var comments = []
//-comments[0] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}
//-comments[1] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}
//-comments[2] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}
//-comments[3] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}
//-comments[4] = {"name": "Jonathan Moreira", "time": "Le 12 Mai 2014", "thumbnail": "img/home-products/comentator.png", "message":"Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo luctus, nisi erat porttitor ligula, eget."}

-var stats = [["7", "annonces publiées"], ["12", "locations effectués"], ["16", "évalutations"], ["98%", "de taux de réponse"], ["6h", "de temps de réponse en moyenne"]]

-var similar_ads = []
//-similar_ads[0] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
//-similar_ads[1] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
//-similar_ads[2] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
//-similar_ads[3] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
//-similar_ads[4] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
//-similar_ads[5] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}
//-similar_ads[6] = {"header": "Audi - A3", "price": "100", "thumbnail": "img/home-products/audi2.jpg", "place": "Paris"}

-var pop_up = {"product_info": {"header": "BMW 520 Touring Luxe", "thumbnail_product":"img/home-products/audi.jpg", "location": "Nice", "index":"02200", "rate_count":"32", "comments_count":"12", "thumbnail_declarer":"img/home-products/declarer.png","name_declarer":"Julien Dupré"}}
//-pop_up.product_info = {"header": "BMW 520 Touring Luxe", "thumbnail_product":"img/home-products/audi.jpg", "location": "Nice", "index":"02200", "rate_count":"32", "comments_count":"12", "thumbnail_declarer":"img/home-products/declarer.png","name_declarer":"Julien Dupré"}

-var terms = [["Durée","4 jours et 3 heures"],["Prix","350€"],["Caution","400€"]]

-var timing = ["01.00", "02.00", "03.00", "04.00", "05.00", "06.00", "07.00", "08.00", "09.00", "10.00", "11.00", "12.00", "13.00", "14.00", "15.00", "16.00", "17.00", "18.00", "19.00", "20.00", "21.00", "22.00", "23.00"]

-var information = []
//-information[0] = ({"name": "Notation", "value": "32"})
//-information[1] = ({"name": "Date d’achat", "value": "2008"})
//-information[2] = ({"name": "Marque", "value": "BMW"})
//-information[3] = ({"name": "Modèle", "value": "520 Touring"})
//-information[4] = ({"name": "Consommation", "value": "4,5 l/100km"})
//-information[5] = ({"name": "Prix neuf", "value": "38 000€"})
//-information[6] = ({"name": "Puissance", "value": "130 CV"})

-var publish_items_categories = []
//-var publish_items_categories = [[{title: "Bricolage", href: "#bricolage", classname: "do-it-yourself"}, {title: "Jardinage", href: "#jardinage", classname: "gardening"}, {title: "High-tech", href: "#high-tech", classname: "high-tech"}, {title: "Réception", href: "#reception", classname: "reception"}], [{title: "Véhicule", href: "#véhicule", classname: "vehicle"}, {title: "Node et accessoires", href: "#mode_et_accessoires", classname: "fashion-and-accessories"}, {title: "Santé et bien-etre", href: "#santé_et_bien-etre", classname: "health-and-wellness"}, {title: "Autres", href: "#autres", classname: "other"}]]

-var days = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30"]
-var days_of_week = ["Lun", "Mar", "Mer", "Jeu", "ven", "Sam", "Dim"]
-var months = ["Janvier", "Février", "Mars", "Avril", "Mai", "juin", "juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"]

-var product_detail_tarifs = []
//-var product_detail_tarifs = [{duration: "1 heure", price: "1.00"}, {duration: "1 jours*", price: "2.00"}, {duration: "3 jours", price: "5.00"}, {duration: "7 jours", price: "8.00"}, {duration: "15 jours", price: "17.00"}]



-var profile_public = {}
//-profile_public.owner_headline = {first_name: "Gaspard", last_name: "Kroutchev", city: "Villeneuve-le-Roi", zipcode: "(94290)"}
//-profile_public.comments = []
//-profile_public.comments[0] = {product: "BMW Série 7", username: "Philippe Dupré", content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, ut officia cupiditate eum. Maiores accusamus in eius similique quas ex!", date: "12 Mai 2014"}
//-profile_public.comments[1] = profile_public.comments[0]
//-profile_public.comments[2] = profile_public.comments[0]
//-profile_public.verification = ["facebook", "email", "phone", "google", "linkedin"]

