form {
	margin-right: 20px;
	margin-bottom: 20px;
}

fieldset {
	margin-bottom: 25px;
}

legend {
	color: #364c59;
	border-color: #b2ced9;
	font-size: 16px;
	margin-bottom: 10px;
}

label {
	color: #364c59;
	font-size: 13px;
	line-height: 14px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	border-color: #b2ced9;
	color: #364c59;
	font-size: 13px;
	padding-top: 3px;
	padding-bottom: 3px;
}

select {
	height: 26px;
	line-height: 26px;
	border-color: #b2ced9;
	color: #364c59;
	font-size: 13px;
}

.form-horizontal .control-group {
	margin-bottom: 10px;
}

.input-append .add-on, .input-prepend .add-on {
	min-width: 14px;
	height: 14px;
	line-height: 14px;
	padding: 6px 5px;
	background-color: #ebf2f5;
    border: 1px solid #b2ced9;
}