.list-side-content {
	float: left;
	width: 280px;
	border-right: 1px solid #b2ced9;
	overflow-y: auto;
	height: 100%;
}

.items-list {
	margin: 0px;
	list-style-type: none;


	li {
		position: relative;
		margin: 0;

		&:hover {
			background-color: #ebf2f5;
			cursor: pointer;
		}

		a { 
			color: #364c59; 
			text-decoration: none;
			display: block;
			padding: 7px 15px 7px 20px;
			border-bottom: 1px solid #b2ced9;
		}

		&.active {
			background-color: #5DB5D4;
			a, small { color: #fff; }
		}

		&:last-child {
			border-bottom: none;
		}

		.item-status {
			position: absolute;
			top: 33px;
			left: 4px;
			height: 10px;
			width: 10px;
			.border-radius(50px);
		}

		.unread {
			background: #9dcc09;
		}

		.item-img {
			display: block;
			margin-right: 10px;
		}

		.item-body {
			h5 {
				margin-top: -3px;
				margin-bottom: 5px;
				font-size: 13px;
				small { float: right; margin-top: 4px; }
			}
		}

		.item-resume {
			margin-bottom: 0px; font-size: 12px;
		}
	}
}