.tabs-left {
	.nav-tabs {
		padding: 20px 0 10px 10px;
		margin-bottom: 0px;
		margin-right: 0px;
		border: none;

		.active > a, .active > a:hover {
			border-color: #b2ced9 transparent #b2ced9 #b2ced9;
			color: #364c59;
			background-color: #fff;
			margin-right: -1px;
		}
		
		li > a:hover { 
			background-color: #ebf2f5;
			border-color: #ebf2f5 #b2ced9 #ebf2f5 #ebf2f5;
			
		}
		

		a {
			line-height: 14px;
			padding-top: 11px;
			padding-bottom: 11px;
			color: #364c59;
		}
	}

	.tab-content {
		padding-left: 20px;
		border-left: 1px solid #b2ced9;
		min-height: 400px;
	}

	.section {
		margin-right: 20px;
		margin-bottom: 20px;
	}
}

h3 {
	color: #364c59; 
	margin-bottom: 30px;
}

.loading { position: aboslute; top: 150px;}

.img-polaroid {
	border: 1px solid #b2ced9;
}

h4 {
	color: #364c59; 	
}

.content {
	margin-right: 20px;
}