
html, body {
	height: 100%;
}

#pro-app {
	height: 100%;
}

a {
   outline: 0 !important;
}

.loading-app {
	text-align: center; 
	margin-top: 150px;
}

.no-selected-item {
	text-align: center;
	padding-top: 150px;
}

.top-contact { margin-bottom: 0px; }


.f-col {
	ul { margin-left: 0px; }
}