
html, body {
	height: 100%;
}

#pro-app {
	height: 100%;
}

a {
   outline: 0 !important;
}

.table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
	background-color: #ebf2f5;
}