.range-date {
	float: right;
	margin-right: 15px;
	margin-top: 4px;

	input { 
		border-color: #b2ced9;
		color: #364c59;
	}

	.span3 {
		text-align: center;
		cursor: text;
	}

	input[disabled] { background-color: #fff; }

	.dropdown-menu {
		form { margin: 0 10px; }
		border-color: #b2ced9;
	}

	.input-small { text-align: center; }

	.form-inline {
		.input-small, button { .border-radius(3px); }

		button { 
			vertical-align: middle;
			height: 30px;
		}

		.btn-small:last-child {
			.border-radius(3px) !important;
			margin-left: 5px;
		}


	}

	.btn-group.open .btn.dropdown-toggle {
		background-color: #dbeaf7;
	}
}