.top-bar {
  #gradient > .vertical(#eff4f8, #e2e9ef);
  border-bottom: 1px solid #abc9d5;
  .box-shadow(0 1px 3px rgba(0,0,0,0.15));
  
  height: 65px;
  margin-bottom: 40px;
  
  .container {
    width: 980px;
    padding: 0;
  }
  
  .logo {
    float: left;
    margin-top: 10px;
  }
  
  .top-content {
    float: right;
  }
  
  .top-contact {
    display: block;
    float: right;
    
    background-color: #d5dde5;
    .box-shadow(0 1px 0 rgba(255,255,255,0.7));
    .border-radius('0, 5px, 5px, 0');
    padding: 0;
    
    #font > .sans-serif('Ubuntu', normal, 13px);
    

    > li {
      display: block;
      float: left;
      padding: 5px;
      color: @blue;
      font-weight: bold;
      text-shadow: 0 1px rgba(255,255,255,1);
    }

    .top-address {
      background: transparent url("../images/picto_marker.png") no-repeat 5px 5px;
      border-right: 1px solid #c0c7cf;
      .box-shadow(1px 0 0 rgba(255,255,255,0.7));
      
      padding-left: 20px;
    }

    .top-number {
      background: transparent url("../images/picto_phone.png") no-repeat 5px 7px;
      padding-left: 25px;

      span {
        font-weight: normal;
      }
    }
  }
  
  nav {
    display: block;
    margin-top: 37px;
    
    text-align: right;

    a {
      #font > .sans-serif();
      font-weight: bold;
      text-shadow: 0 1px #fff;
      color: @blue;
      
      padding-left: 30px;
    }

    .fb-connect-small {
      padding-left: 5px;
      
      img {
        margin-bottom: -2px;
      }
    }

    .add-product-link {
      color: @green;
    }
    
    .profil-link {
      img { 
        margin-right: 3px;
        vertical-align: -20%;
      }
    }
  }
  
  .nav-bar {
    padding-top: 13px;
    
    .clearfix();
    
    > li {
      float: left;
      
      #font > .sans-serif('Ubuntu', bold, 16px);
      color: @blueDark;
      text-shadow: 0 1px rgba(255,255,255,0.5);
    }
    
    a {
      display: block;
      margin: 0 15px;
      padding: 10px 15px;
      
      #font > .sans-serif('Ubuntu', bold, 15px);
      color: @blueDark;
      text-shadow: 0 1px rgba(255,255,255,0.5);
      
      &:hover {
        text-decoration: none;
        
        background-color: #dce3e8;
        .border-radius(20px);
      }
    }
    
    .selected-nav-bar-link {
      #gradient > .vertical(#dce3e8, #ced7de );
      @shadow: 0 1px 0 rgba(255,255,255,0.7), inset 0 1px 3px rgba(0,0,0,0.2);
      .box-shadow(@shadow);
      .border-radius(20px);
    }
  }
}