.container
  -var security_items = [["Identité des membres vérifiée", "details", "Nous validons systématiquement les coordonnées de nos membres (n° téléphone et e-mail). Nous leur proposons également de s’identifier en se connectant à leurs réseaux sociaux (Facebook, Twitter, LinkedIn) et/ou en numérisant leurs pièces d’identité officielles. <b>Avec tout ça, on perd un peu d’anonymat... mais on gagne beaucoup de confiance&nbsp;!</b>"], ["Notes et commentaires", "star", "Vous avez accès en permanence aux notes et commentaires disponibles sur nos annonces. Ces commentaires sont laissés  par les propriétaires et les locataires ayant déjà effectué une transaction ensemble. Ils permettent à la communauté AutoVoisin de louer en toute confiance. <b>Alors après votre prochaine location, n’hésitez pas à laisser vos impressions...</b>"], ["Appels et messagerie en ligne", "phone", "Avant une location, pas de place aux doutes. Que vous ayez 1 ou 20 questions à poser, nous vous offrons la possibilité d’échanger sans limite, par message et/ou par téléphone, afin que votre interlocuteur puisse  répondre à toutes vos interrogations. <b>Pas besoin de stresser avant de louer... il parait que vos proches vous préfèrent quand vous êtes zen.</b>"], ["Paiement en ligne sécurisé", "lock", "Afin d’éviter l’échange d’argent de main à main (et les risques associés), chez AutoVoisin, les paiements se font en ligne. Notre système de paiement (Société Générale) est sécurisé, fiable et pratique. <b>Ne vous préoccupez pas des problèmes d’argent, on gère ça à votre place...</b>"], ["Dépôt de garantie en ligne", "credit", "Afin d’éviter les éventuels litiges, nous prenons, lors de chaque transaction, un dépôt de garantie en ligne (une empreinte bancaire) sur la carte bancaire du locataire. Ainsi, en cas de détérioration du bien loué, ce dépôt de garantie est versé au propriétaire afin qu’il puisse le remettre à neuf. <b>Quand on loue, une caution, c’est bien. Mais une caution sans risque de chèque impayé, c’est encore mieux...</b>"], ["Contrat de location pré-rempli", "file", "Pour votre sécurité et pour vous faciliter les choses, nous vous envoyons un contrat de location pré-rempli. Il ne vous restera plus qu'à le compléter (état du bien avant et après la location) et à le signer. <b>Pas besoin de vous prendre la tête, on gère l’administratif pour vous...</b>"], ["Vos biens sont automatiquement assurés", "umbrella", "Des accidents,  même en faisant attention, ça peut toujours arriver. C’est pour cela que toutes* les locations effectuées sur AutoVoisin sont assurées contre la casse, la perte et le vol. <b>Avec nous, vous pouvez louer les yeux fermés, il ne pourra rien vous arriver...</b>"], ["Service Client dédié 7j/7‐24h/24", "group", "Nous avons essayé de répondre à toutes vos questions sur notre site. Si malgré cela, vous avez encore des interrogations ou des doutes, notre Service Client se fera un plaisir de vous aider. Nous sommes disponibles du lundi au vendredi de 9h à 18h par téléphone ou chat. <b>Les soirs et les WE, nous ne travaillons pas encore... mais envoyez-nous un mail et nous y répondrons dans les 48h.</b>"]]

  h2.text-center.text-uppercase
    b chez AutoVoisin, la sécurité est notre priorité&nbsp;!
    br
    | nous faisons tout ce qu’il faut pour vous rassurer
    br
    | avant, pendant et après votre location...

  .press-release.indent-v-md
    {% autoescape off %}
    each title, style, text in security_items
      .table
        .logo-wripper
          i(class="eloue-{{ style }}")
        ul.timeline-steps.tenant-column.list-history: li
          h5.text-primary {{ title }}
          p.content.indent-t-sm.text-overflow
            != text
          span.toggle-content &#149;&nbsp;&#149;&nbsp;&#149;
          .addons
            b
            i
    {% endautoescape %}

  .row.indent-v-md
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      a(href="{% url 'product_list' %}", style="width: 100%;").btn.btn-lg.bg-success Cherchez des biens à louer
  .row
    .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
      a(href="{% url 'publish_item' %}", style="width: 100%;").btn.btn-lg.bg-success Déposez vos annonces

//-
  .text-center.indent-t-xs: a(href="#").link-success Simulez vos revenus
