.professional-renter-content
	padding: $block-section-pad 0
	text-align: right
	.img-wrapper
		text-align: right
		margin-top: 2em
		h3
			text-align: right
		a
			display: inline-block
			+sprite($s-trusting-association-gray)
			&:hover
				+sprite($s-trusting-association)

