extends ../../base
-load compressed

block append styles
  {% compressed_css "bootstrap" %}
  {% compressed_css "homepage_styles" %}
  {% compressed_css "dashboard_styles" %}

block append scripts
  script(src="#{STATIC_URL}bower_components/requirejs/require.js" data-main="#{STATIC_URL}js/dashboard/main.js")

block append content-body
  .container-full-screen(data-ng-controller="DashboardRootCtrl")
    //- include ./_src
    header.header-site
      include ../../jade/_header_site
    article.dashboard
      nav(ng-show="!!currentUser")
        ul
          li(ng-repeat="tab in dashboardTabs")
            {% verbatim %}
            a(ui-sref="{{tab.sref}}").text-success-dark
              i.fa(class="fa-{{tab.icon}}")
                span.badge-count-action(ng-show="tab.badge") {{tab.badge}}
              | {{tab.title}}
            {% endverbatim %}
      .content-view(ui-view)

#ngModals
    eloue-login-form
    eloue-registration-form
