extends ../../base
-load compressed

block append styles
  {% compressed_css "dashboard_styles" %}

block append scripts
  script(src="#{STATIC_URL}bower_components/requirejs/require.js" data-main="#{STATIC_URL}js/dashboard/main.js")

block append content-body
  .container-full-screen(data-ng-controller="DashboardRootCtrl")
    //- include ./_src
    header.header-site
      include ../../jade/_header_site
    article.dashboard
      nav
        ul(ng-init="dashboard_tabs=[{'title': 'Dashboard', 'icon': 'home', 'sref': 'dashboard'}, {'title': 'Messages', 'icon': 'envelope-o', 'sref': 'messages'}, {'title': 'Booking', 'icon': 'table', 'sref': 'bookings'}, {'title': 'Items', 'icon': 'th-list', 'sref': 'items'}, {'title': 'Account', 'icon': 'user', 'sref': 'account'}]")
          li(ng-repeat="tab in dashboard_tabs")
            {% verbatim %}
            a(ui-sref="{{tab.sref}}").text-success-dark
              i.fa(class="fa-{{tab.icon}}")
                span.badge-count-action(ng-if="$index === 1" ng-bind="1")
              | {{tab.title}}
            {% endverbatim %}
      .content-view(ui-view)
