extends ../../base
-load compressed

block append styles
  {% compressed_css "dashboard_styles" %}

block append scripts
  script(src="#{STATIC_URL}bower_components/requirejs/require.js" data-main="#{STATIC_URL}js/dashboard/main.js")

block append content-body
  .container-full-screen(data-ng-controller="DashboardRootCtrl")
    //- include ./_src
    header.header-site
      include ../../jade/_header_site
    article.dashboard
      nav
        ul(ng-init="dashboard_tabs=[{title: 'Dashboard', icon: 'home', sref: 'dashboard', badge: 0}, {title: 'Messages', icon: 'envelope-o', sref: 'messages', badge: unreadMessageThreadsCount}, {title: 'Booking', icon: 'table', sref: 'bookings', badge: newBookingRequestsCount}, {title: 'Items', icon: 'th-list', sref: 'items', badge: 0}, {title: 'Account', icon: 'user', sref: 'account', badge: 0}]")
          li(ng-repeat="tab in dashboard_tabs")
            {% verbatim %}
            a(ui-sref="{{tab.sref}}").text-success-dark
              i.fa(class="fa-{{tab.icon}}")
                span.badge-count-action(ng-show="!!{{tab.badge}}", ng-bind="{{tab.badge}}")
              | {{tab.title}}
            {% endverbatim %}
      .content-view(ui-view)
