-var dashboard_nav_links = []
-dashboard_nav_links[0] = {title: "Dashboard", icon: "home",       href: "dashboard"}
-dashboard_nav_links[1] = {title: "Messages",  icon: "envelope-o", href: "messages"}
-dashboard_nav_links[2] = {title: "Booking",   icon: "shield",     href: "booking"}
-dashboard_nav_links[3] = {title: "Items",     icon: "th-list",    href: "items"}
-dashboard_nav_links[4] = {title: "Account",   icon: "user",       href: "account"}

-var account_tabs = []
-account_tabs[0] = {title: "Profil",       href: "profil"}
-account_tabs[1] = {title: "Vérification", href: "verification"}
-account_tabs[2] = {title: "Adresses",     href: "address"}
-account_tabs[3] = {title: "Téléphones",   href: "telephones"}
-account_tabs[4] = {title: "Paiements",    href: "payments"}
-account_tabs[5] = {title: "Mot de passe", href: "password"}
-account_tabs[6] = {title: "Parainage",    href: "broker"}

-var tenant = {}
-tenant.name = "Gaspard Kroutchev"
-tenant.rate = 4
-tenant.thumbnail = "img/home-products/tenant.png"