{% extends "base.html" %}
{% load i18n compressed %}

{% block title %}{% trans "Stocker Entre Particuliers" %}{% endblock %}

{% block content %}
<div id="header" class="xgrid">
    <div class="x12">
        <img src="{{ MEDIA_URL }}images/sep/logo_big.png" />
    </div>
</div>
<div id="top-content" class="xgrid">
    <div class="x12">
        <h1>
            <strong>Stocker Entre Particuliers</strong> est la plateforme internet <br /> communautaire qui va révolutionner le self-stockage.
        </h1>
    </div>
</div>
<div id="content" class="xgrid">
    <div class="x12">
        <p>Pour obtenir plus d'information ou être informé du lancement, remplissez le formulaire ci-dessous :</p>
    </div>
    <div class="x5 p4">
    <form class="form" action="{% url contact %}" method="POST">
        {% csrf_token %}
        <p>
            <label>{{ form.sender.label }} {% if form.sender.field.required %}*{% endif %} :</label>
            {{ form.sender }}
            {% if form.sender.errors %}
				{% for error in form.sender.errors %}
					<br />
				  <span class="error">{{ error|escape }}</span>
				{% endfor %}
			{% endif %}
        </p>
        <p>
            <label>{{ form.subject.label }} {% if form.subject.field.required %}*{% endif %} :</label>
            {{ form.subject }}
            {% if form.subject.errors %}
				{% for error in form.subject.errors %}
					<br />
				  <span class="error">{{ error|escape }}</span>
				{% endfor %}
			{% endif %}
        </p>
        <p>
            <label>{{ form.message.label }} {% if form.subject.field.required %}*{% endif %} :</label>
            {{ form.message }}
            {% if form.subject.errors %}
				{% for error in form.message.errors %}
					<br />
				  <span class="error">{{ error|escape }}</span>
				{% endfor %}
			{% endif %}
        </p>
        <p class="checkbox-input">{{ form.cc_myself}} <label for="id_cc_myself">{{ form.cc_myself.label }}</label></p>
        <p class="submit">
            <input class="button white" type="submit"  value="{% trans "Envoyer" %}" />
        </p> 
    </form>
</div>
{% endblock %}