style
    #anchors a, #summary{color: #24bd77;}

    .footer-links a:hover{
        text-decoration: none;
    }

    h2 a:hover{
      text-decoration: none;
    }

.container(style="color:#777;")
    h2.text-uppercase.text-center CONDITIONS GÉNÉRALES PROFESSIONNELS
    p.text-right: em Version 15 avril 2015
    br


.container(style="color:#777; text-align: justify;")
    br
    h2 Indledning 
    p De generelle betingelser for Kontrakt for Erhvervsudlejere præciserer betingelserne, som erhvervsudlejere kan tilslutte sig af services via e-loue. Følgende betingelser accepteres dermed af alle e-loue’s erhvervsudlejere ved indregistrering. Således har alle erhvervsudlejere hos e-loue accepteret de generelle betingelser for anvendelse.

    h2 Genstande
    p Samtlige annoncer på www.e-loue.dk administreres af firmaet e-loue og tillader erhvervsudlejere at have en online-butik på platformen. Følgende generelle betingelser af anvendelse for erhvervsudlejeres kontrakt pålægger e-loue at fremvise og synliggøre erhvervsudlejeres produkter samt detaljer til dets Medlemmer. E-loue’s services er forbeholdt personer med juridisk myndighed eller autorisation til at underskrive kontrakter og udelukker derfor i særdeleshed mindreårige.

    h2 Begrebsbestemmelser
    em Samtlige nedenstående beskrevne termer i de generelle betingelser for brugen ef e-loue’s services har følgende betydning:
    h4 Eventuel Lejer:
    p Medlemmer, som søger en Genstand via e-loue uden endnu at have konkretiseret et lejemål.
    ul
        li Medlemmer, som søger en Genstand via e-loue uden endnu at have konkretiseret et lejemål.
        li Erhvervsudlejer eller Erhvervsejer: Medlem af platformen e-loue under titlen Erhvervsudlejer, der online udbyder et produkt til udlejning på hjemmesiden.
    h4 Medlem:
    p Samtlige Ejere og Lejere, som har accepteret De Generelle betingelser for brugen af internet-platformen e-loue. Hvert medlem indvilliger i at opgive nøjagtige kontaktoplysninger, som efterlyses ved indskrivningen, og sørger samtidig for at holde disse opdateret. ( -i tilfælde af ændringer; evt. flytning, nyt telefonnummer, etc.)
    h4 Genstande:
    p Genstande, hvormed platformen e-loue har som formål at skabe kontakter, der fører til lejemål.
    h4 Internet-platformen e-loue:
    p E-loue’s strukturelle opbygning skaber kontakt mellem Ejere og Lejere. (hjemmeside, app – samtlige supports som tillader adgang til e-loue’s services.). Transaktionsprisen: Den totale pris for udlejning af en Genstand, der betales af Lejer. Hvis en transaktion eventuelt skal gøres over lange distancer, hvor en fragtomkostninger kan blive aktuelt, skal disse være inkluderet i lejeprisen per dag.
    h4 Bruger:
    p Alle fysiske personer, som går ind på hjemmesiden uden nødvendigvis at være indskrevet.

    h2 Tilmeldingsprocedure
    p Tilmeldingen for erhvervsudlejere til e-loue’s services vil blive udført gennem fjernsalg via en agerende mellemmand (salgsrepræsentant) fra e-loue. Salgsrepræsentanten vil anmode om alle nødvendige detaljer vedrørende tilmelding såsom mobiltelefonnummer og bankoplysninger såsom IBAN-nummer og SWIFT-adresse. En kode vil blive sendt per SMS til erhvervsudlejeren som en bekræftelse på kontrakten. Erhvervsudlejeren vil da videregive koden til den salgsansvarlige for den endelige godkendelse. Efterfølgende vil en manager fra e-loue kontakte erhvervsudlejeren for at opsætte den online-butik på platformen.

    h2 Takster og Betalingsmetoder
    p For platformens erhvervsudlejere trækker e-loue ikke kommission på udlejningsprodukter. Erhvervsudlejere bliver kun faktureret for et månedligt abonnement, hvis varighed og omkostninger er aftalt forinden. For nærmere oplysninger omkring omkostninger, kontaktes e-loue for et estimat. Kontrakten vil have en varighed på 6 eller 12 måneder
    p Abonnementet vil blive fornyet automatisk. Abonnementsbetaling kan kun ske via månedlig automatisk overførsel via IBAN-nummer og SWIFT-adressse.

    h2 Opsigelse af Abonnement
    p Kontrakten har en varighed af 6 eller 12 måneder (med undtagelse af private individer som foreskrevet af salgsafdelingen), som automatisk fornyes med samme varighed som forrige bindingsperiode. For kontrakter med en vedtaget varighed af eksempelvis 6 måneder, men hvor erhvervsudlejeren ønsker at opsige abonnementsperioden før dets afslutning, betales da 50% af summen på den resterende abonnementsperiode fra opsigelsestidspunktet til abonnements fastsatte afslutningsdato. Derudover fornyes kontrakten automatisk mellem parterne. Erhvervsudlejeren kan til enhver tid opsige sit abonnement med én måneds opsigelsesvarsel. I alle tilfælde skal erhvervsudlejer informere e-loue om sin opsigelse enten via anbefalet brev (også kaldt rekommanderet brev) med modtagerbekræftelse/sporbarhedsstyring, via anbefalet e-mail eller via almindelig e-mail (hvor du modtager en bekræftelse per mail fra e-loue vedrørende modtagelsen af din e-mail). Opsigelsesperioden påbegynder fra den dato, hvormed e-loue modtager selve opsigelsen.

    h2 Ophævelse af Abonnement
    p I tilfælde af at erhvervsudlejeren er ude af stand til at opfylde sine forpligtigelser, har e-loue retten til at ophæve kontrakten. Det vil være i e-loue’s fulde ret til at ophæve abonnementet uden nogen former for advarsel eller formalia. E-loue vil også kunne afslutte kontrakten i det tilfælde, at erhvervsudlejeren forsømmer sine forpligtigelser i forhold til betaling af abonnement som beskrevet i kontrakten.

    h2 Udlejningsmetode
    p Bestilling af lejeprodukt foregår ikke online for erhvervsudlejere. Et medlem, som ønsker at leje et produkt fra en erhvervsudlejer, vil kunne kontakte udlejeren gemme e-loue’s platform. Det private individ modtager følgelig detaljer og kontaktoplysninger omkring udlejeren og kan derefter selv vælge hvorvidt udlejningen effektueres eller ej.
    p Under hver butik online og hver produktbeskrivelse for en erhvervsudlejer vil følgende oplysninger fremgå:
    ul
        li Butikkens fysiske adresse
        li Hjemmeside
        li Telefonnummer
        li Kontaktformular

    h2 Den Professionelle Udlejers Forpligtigelser
    p E-loue’s services er forbeholdt erhvervsudlejere med juridisk myndighed eller autorisation til at underskrive kontrakter. Den pågældende erhvervsudlejer skal kunne bekræfte dette over for e-loue ved sin registrering. E-loue forbeholder sig retten til ikke at indgå en kontrakt med en erhvervsudlejer. Som Medlem skal man sikre sig på forhånd, at man har de nødvendige rettigheder i forhold til de billeder, den tekst og andre elementer som lægges ud på platformen, da de ellers kan være underlagt patentering/ophavsrettigheder. Medlemmet forpligter sig derfor til at opkræve autorisationen eller samtykket for alle elementer eller data, som beskrevet ovenover, som opgives på hjemmesiden. Ejer forpligtiger sig til at beskrive produkterne ud fra e-loue’s indikerede kriterier og retningsregler, så beskrivelsen korresponderer med reelle karakteristika. Hvis det alligevel ikke er tilfældet, kan kun erhvervsudlejeren holdes ansvarlig for indholdet, og e-loue kan ikke holdes ansvarlig.
    p Erhvervsudlejeren forpligter sig til at svare alle personer, som er interesserede i annoncen.
    p Erhvervsudlejeren forpligter sig til at slette eventuelle annoncer på platformen, når de ikke længere er tilgængelige som lejemål.
    p Ejeren er den eneste ansvarlige for at angive korrekte oplysninger og karakteristika til Lejeren vedrørende Genstanden. Ejeren er den eneste ansvarlige for beskrivelsen af produktet til udlejning. Ejeren garanterer e-loue fraskrivelsen af enhver form for reklamation vedrørende indholdet og formen i produktbeskrivelsen. Udlejeren lover at opfylde alle punkter i beskrivelsen og de forskellige elementer vedrørende produktet, så de er sandfærdige og ikke opgiver informationer med fejl. Hvis der er fejl i beskrivelsen eller andre punkter vedrørende produktet, er det udelukkende udlejer som påtager sig ansvaret og eventuelle de ekstraudgifter, som måtte opstå i den forbindelse, og hverken lejer eller e-loue kan blive holdt ansvarlige. Udlejeren forpligter sig til at holde produktbeskrivelsen opdateret. Erhvervsudlejere har ingen forpligtelse til at leje ud og kan heller ikke holdes til ansvar for, hvis Genstanden ikke er disponibelt. Hvis et Medlem kontakter en Udlejer med hensigt om at leje en Genstand, har Medlemmet muligheden for at acceptere eller takke nej til et eventuelt lejemål uden yderligere begrundelse. E-loue gør erhvervsudlejere opmærksomme på, at de skal overholde nationalt vedtagne love og reglementer vedrørende (online) udlejning i deres udvalgte sektor. Erhvervsudlejere skal især være opmærksomme på sine eventuelle forpligtelser omkring oplysninger opkrævet af retslige myndigheder. Udlejeren forpligter sig til at udfærdige en fyldestgørende faktura til Lejer i overensstemmelse med dansk lovgivning, herunder beskrivelse af Genstand, udlejningsprisen samt oplysninger om fortrydelsesret.

    h2 Forsikring
    p E-loue tilbyder ingen form for forsikring erhvervsudlejere. Erhvervsudlejere skal have deres egen forsikring. Det er deres eget ansvar at verificere, at forsikringen dækker udlejning af de pågældende Genstande.

    h2 E-loue’s forpligtelse 
    p E-loue forpligtiger sig til at holde hjemmesiden opdateret og funktionel for dets erhvervsudlejere. Denne forpligtigelse er udelukkende i form af bistand som mellemled, og drager derfor intet ansvar for udfaldet. E-loue forpligtiger sig til at videregive samtlige modtagne e-mails og telefonopkald fra interesserede lejere til udlejer, og binder sig ligeledes til at holde alle informationer opdateret, som omhandler en given annonce. Hvad angår internettets begrænsninger, står e-loue på ingen måde ansvarlig for hastighedsopkobling på hjemmesiden. E-loue forbeholder sig retten til midlertidig afbrydelse af opkobling til hjemmesiden i forbindelse med forbedringer og vedligeholdelse. I sådanne tilfælde, gør vi alt for at minimisere forekomne gener. E-loue stiller ingen garanti for kontinuiteten af hjemmesiden. E-loue’s it-administratorer kan ikke stilles til økonomisk ansvar i tilfælde af tekniske uheld. E-loue kan ikke stilles ansvarlig for spørgsmål om kontraktbrud eller andre former for forretningsmæssige tab i forhold til:
    ul
        li Medlemmers brug af vores services, eller mangel på samme;
        li Eventuelle forsinkelser eller forstyrrelser af vores services;
        li Virus og/eller alle former for logistiske problemer i forbindelse med vores services;
        li Dysfunktioner, bugs, fejl eller manglende præcision i forbindelse med vores services;
        li Alle former for materielle it-beskadigelser i forbindelse med brug af vores internet-platform.

    h2 E-loue’s Ansvar
    p E-loue er på ingen måde et udlejningsselskab, men udelukkende en internetplatform, som udbyder online lejeannoncer. E-loue kan ikke verificere hver enkelt medlems identitet. E-loue opfordrer alle dets medlemmer til at gennemføre transaktioner med forsigtighed. For at forsikre sig mod problemer, opfordrer e-loue dets erhvervsudlejere til at efterspørge lejerens officielle identifikation.

    h2 Generelle Foranstaltninger
    p Vedrørende modifikationer for Generelle Betingelser:
    p E-loue har ret til at ændre de Generelle Betingelser i forbindelse med salgsudvikling. Al form for tillempning træder i kraft, så snart ændringer står online. Disse justeringer vil ikke gælde for transaktioner, som allerede er påbegyndt. Medlemmer bedes derfor med jævne mellemrum læse de Generelle Betingelser, især inden en forretning foretages.
    p Forbehold og Ansvarsskrivelse

    h2 Force Majeure
    p I tilfælde af force majeure, kan e-loue ikke holdes til ansvar for sine forpligtelser, navnlig i tilfælde af:
    ul
        li Handling eller indblanding fra overordnede myndigheder eller statsapparater
        li Nedbrydning eller blokering af teleselskabers netværk
        li Revolte, borgerkrig, krig, militære operationer, nationale eller lokale undtagelsestilstande, brand, lynnedslag, eksplosioner, strejke, oversvømmelse, storm eller udfald forårsaget af tredjepart.

    h2 Diverse betingelser
    p Ugyldigheden af en eller flere bestemmelser i de generelle bestemmelser i brug af platformen E-husleje ikke resulterer i ugyldighed af sidstnævnte.
    p De forskellige titler i de Generelle Betingelser er rent vejledende og bestemmer ikke nødvendigvis det præcise indhold af de forskellige sektioner, som de henviser til. Mangel på umiddelbar reaktion fra vores side ved overtrædelse af de Generelle Betingelser af Medlemmer eller anden tredjepart, frasiger os ikke retten til at reagere efterfølgende på sådanne overtrædelser.

    h2 Tvistbilæggelsessystemer
    p Denne kontrakt er omfattet af dansk lovgivning. Enhver tvist med en erhvervsudlejer og eventuelle fortolkningen og/eller dens udøvelse deraf påhviler de kompetente domstole. Ved en tvist mellem et Medlem og e-loue, opfordrer vi dog altid til at kontakte os først at finde en løsning.
    p Med mindre andet udtrykkeligt er angivet, er disse Generelle Betingelser for brug underlagt dansk lovgivning.
    p Brug af eksterne programmer, der bruges af e-leje forårsager implicit accept af vilkårene og betingelserne i disse applikationer.


    h2 Cookies 
    p E-loue gør brug af cookies på hjemmesiden. En cookie er en lille fil, som registrerer en computers informationer omkring navigation på hjemmesiden UDEN at identificerer bruger. De indsamlede oplysninger sigter altså udelukkende efter hyppighedsmålinger omkring brugen af vores side. 
    p Bruger kan konfigurere sin computer således, at der nægtes installation af cookies: 
    p 1/ Med Internet Explorer browser:
    ul
        li Under Internet Explorer, klik på « Redskaber », herefter ”Internetindstillinger”
        li Under ”Generelt” vælg ”Søge historik”, klik på ”Parametre” 
        li Klik på « Vis filer »
        li Klik øverst i kolonnen « Navn » for at udfolde samtlige filer i alfabetiske rækkefølge. Følg herefter listen indtil du finder præfikset-”Cookie”. (samtlige cookies er i besiddelse af dette præfiks, og indeholder normalvis desuden navnet på den hjemmeside, som står på den givne cookie)
        li Vælg den /eller de omtalte cookie og slet den/disse.
        li Luk vinduet som indeholder fil-listen, klik herefter to gange på OK for at vende tilbage til Internet Explorer
    p 2/ Med Firefox browser:
    ul
        li Klik på « Redskaber » og vælg menuen « Indstillinger »
        li Vælg « Privatliv » og klik på « Vis cookies »
        li Find de omtalte filer, vælg dem og slet dem

    h2 Hyperlinks
    p Hjemmesiden kan indeholde hypertekst og/eller hyperlinks, der direkte henviser til sider, som er enten redigerede eller hostede af tredjepart, i særdeleshed i forhold til reklamebannere. Administration deraf er derfor på ingen måde relateret til e-loue, som ikke har nogen kontrol over, hvad der bliver udøvet på disse hjemmesider. E-loue frasiger sig alt ansvar for de juridiske konsekvenser relateret til adgang til disse hjemmesider fra tredjepart.

    h2 Immaterialret
    p E-loue har alle de intellektuelle ejendomsrettigheder(?) eller forbeholder sig ejerrettighederne til alle elementer på hjemmesiden såsom tekst, billeder, grafik, logo, ikoner, lyd og softwareprogram. Alle former for reproduktioner, repræsentationer, modifikationer, publikationer, tilpasninger af midler/ressourcer eller metoden brugt, er strengt forbudt uden forudgående skriftlig autorisation fra e-loue. Al uautoriseret udnyttelse af hjemmesiden eller et af dens elementer kan blive anset som overtrædelse og der vil blive lagt sag an i forhold til artikel L.335-2 og de følgende love omkring immaterialret.
    p Medlemmet giver e-loue rettighederne ikkeekslutivt, men gratis, for alle sprog og for hele verden og for den pågældende periode (også gældende eventuelle forlængelser, der kan forekomme)
    p Disse rettigheder inkluderer retten til at genskabe, videreformidle, tilpasse, ændre, oversætte, give underlicens samt viderekommunikere hele eller dele af det indhold
    p E-loue kan drage nytte delvist eller helt af tredjeparters rettigheder under den nuværende licens.
    p Medlemmet garanterer e-loue, at annonceindholdet overholder gældende lov, og at Medlemmet har de immaterielle rettigheder til dets indhold uden at krænke tredjeparts rettigheder eller krænke nogen anden. Medlemmet garanterer e-loue mod nogen former for økonomiske konsekvenser for eventuelle handlinger, krav eller indsigelser fra personer, som mener at indholdet krænker immaterielretten, konkurrenceloven og/eller ved misbrug af presseloven.