style
    #anchors a, #summary{color: #24bd77;}

    .footer-links a:hover{
        text-decoration: none;
    }

    h2 a:hover{
      text-decoration: none;
    }

.container(style="color:#777;")
    h2.text-uppercase.text-center GENERELLE FORRETNINGSBETINGELSER FOR ERHVERVSUDLEJERE
    p.text-right: em 18/02/2016
    br


.container(style="color:#777; text-align: justify;")
    br
    h2 1. Indledning 
    p 1.1 Hjemmesiden www.e-loue.dk (”Hjemmesiden”) drives af E-loue ApS, CVR-nr. 36942339, Korskildevej 6, 4040 Jyllinge (”e-loue”).
    p 1.2 Hjemmesiden giver erhvervsudlejere (”Erhvervsudlejer”) mulighed for at udbyde et produkt til udlejning på Hjemmesiden (”Tjenesteydelsen”).
    p 1.3 Hjemmesiden giver erhvervsudlejere (”Erhvervsudlejer”) mulighed for at udbyde et produkt til udlejning på Hjemmesiden (”Tjenesteydelsen”).

    h2 2. Sagens genstand
    p 2.1 Samtlige annoncer på www.e-loue.dk administreres af firmaet e-loue, og giver Er-hvervsudlejere mulighed for at drive e-handel via platformen.
    p 2.2 Ved accept af nærværende generelle forretningsbetingelser for Erhvervsudlejere, påtager e-loue sig at fremvise og synliggøre Erhvervsudlejerens produkter og pro-duktdetaljer for e-loues Medlemmer.
    p 2.3 E-loues tjenesteydelser er forbeholdt myndige personer, der gyldigt kan, eller har autorisation til, at underskrive juridiske kontrakter. Mindreåriges brug af e-loues tje-nesteydelser er derfor udelukket.

    h2 3. Definitioner
    p 3.1 Hver af de nedenfor anførte begreber har følgende betydning i nærværende generel-le forretningsbetingelser for brug af e-loue:
    p 3.2 "Potentiel lejer" : Et Medlem, som søger en Genstand via e-loue uden af have konkretiseret et lejemål.
    p 3.2.1 "leje" : Et Medlem, som søger en Genstand via e-loue uden af have konkretiseret et lejemål.
    p 3.2.2 "Erhvervsudlejer" : Medlem af platformen e-loue under titlen Erhvervsudlejer, som udbyder en Genstand til udlejning på Hjemmesiden.
    p 3.3 "Medlem" : En eller flere ejere eller Lejere, som har accepteret de ge-nerelle betingelser for brug af Internetplatformen e-loue, og derfor har adgang til platformen. Medlemmer forpligter sig til at angive korrekte identitets- og kontaktoplysninger for at få adgang til e-loue, ligesom Med-lemmer forpligter sig til at holde disse oplysninger opdate-rede, eksempelvis som følge af flytning, nyt telefonnummer el.lign.  
    p 3.4 "Genstande" : Genstande, hvormed Internetplatformen e-loue har til for-mål at skabe kontakter, der fører til lejemål.
    p 3.5 "Internetplatformen e-loue" : E-loues strukturelle opbygning der skaber kontakt mellem ejere og Lejere, herunder hjemmesiden www.e-loue.dk, app’s samt al support der giver adgang til e-loues tjeneste-ydelser.
    p 3.5.1 "Transaktionsprisen" : Den totale pris for leje af en Genstand, der betales af Lejer. Såfremt en transaktion udføres over så store afstande, at fragtomkostninger bliver aktuelle, skal disse være inkluderet i lejeprisen per dag.
    p 3.6 "Brugere" : Alle fysiske personer, som går ind på Hjemmesiden uden nødvendigvis at være et registreret Medlem.

    h2 4. Tilmeldingsprocedure
    p 4.1 En Erhvervsudlejers tilmelding til e-loue gennemføres som fjernsalg via en salgsre-præsentant fra e-loue. Salgsrepræsentanten vil anmode om alle nødvendige detaljer vedrørende tilmelding, såsom mobiltelefonnummer og bankoplysninger, IBAN-nummer og SWIFT-adresse.
    p 4.2 Som bekræftelse på indgåelse af kontrakten, fremsender e-loue en kode per SMS til Erhvervsudlejeren.
    p 4.3 Som validering videregiver Erhvervsudlejeren herefter SMS-koden til salgsrepræ-sentanten.
    p 4.4 En manager fra e-loue kontakter Erhvervsudlejeren, med henblik på at opsætte net-butikken på e-loue.

    h2 5. Takster og betalingsbetingelser
    p 5.1 E-loue tager ikke kommission af Erhvervsudlejeres udlejning. Erhvervsudlejere fak-tureres kun for et månedligt abonnement, hvis varighed og pris aftales forud.
    p 5.2 For nærmere oplysninger omkring omkostninger kan e-loue kontaktes for et estimat.
    p 5.3 Abonnementsbetaling kan kun ske som månedlig automatisk overførsel via IBAN-nummer og SWIFT-adresse.

    h2 6. Opsigelse af abonnement
    p 6.1 Medmindre andet er aftalt, udgør kontraktens varighed 12 måneder.
    p 6.2 Kontrakten fornyes automatisk med samme varighed som forrige bindingsperiode.
    p 6.3 For kontrakter med en fastsat varighed på eksempelvis 6 eller 12 måneder, og hvor Erhvervsudlejeren ønsker at opsige abonnementsperioden før dets afslutning, beta-les 50% af summen af den resterende abonnementsperiode, fra opsigelsestidspunk-tet til abonnementets fastsatte afslutningsdato. 
    p 6.4 Erhvervsudlejeren kan til enhver tid opsige sit abonnement med én måneds varsel.
    p 6.5 I alle tilfælde skal Erhvervsudlejeren informere e-loue om sin opsigelse, enten via anbefalet brev (også kalder rekommanderet brev) med modtagerbekræftel-se/sporbarhed, via anbefalet e-mail eller via almindelig e-mail (hvor Erhvervsudlejer modtager en bekræftelse fra e-loue vedrørende modtagelsen af din e-mail).
    p 6.6 Opsigelses regnes fra den dato, hvor e-loue modtager opsigelsen.

    h2 7. Ophævelse af abonnement
    p 7.1 E-loue forbeholder sig retten til at ophæve kontrakten, såfremt Erhvervsudlejeren er ude af stand til at opfylde sine forpligtelser.
    p 7.2 E-loue har ret til at ophæve abonnementet uden nogen former for advarsel eller for-malia.
    p 7.3 E-loue har ligeledes ret til at ophæve kontakten i tilfælde, hvor Erhvervsudlejer for-sømmer sine betalingsforpligtelser.

    h2 8. Udlejningsmetode
    p 8.1 Et medlem, som ønsker at leje et produkt fra en Erhvervsudlejer, skal kontakte udle-jeren gennem e-loue’s platform. Erhvervsudlejeren modtager herefter kontaktoplys-ningerne på den potentielle lejer, og kan herefter vælge hvorvidt udlejningen effektu-eres eller ej. 
    p 8.2 På hver produktside, eller side for Erhvervsudlejer, vises:
    ul
        li Butikkens fysiske adresse
        li Hjemmeside
        li Telefonnummer
        li Kontaktformular

    h2 9. Erhvervsudlejers forpligtelser
    p 9.1 E-loues tjenesteydelser er forbeholdt Erhvervsudlejere med juridisk myndighed eller autorisation til at underskrive kontrakter. Den pågældende Erhvervsudlejer skal be-kræfte dette over for e-loue ved sin registrering.
    p 9.2 E-loue forbeholder sig retten til ikke at indgå kontrakt med en Erhvervsudlejer.
    p 9.3 Erhvervsudlejer forpligter sig til på forhånd at sikre sig, at han besidder de nødven-dige rettigheder i forhold til de billeder, den tekst og de øvrige elementer som med-lemmet lægger ud på platformen, samt at disse ikke er underlagt tredjeparts ophavs-rettigheder.
    p 9.4 Ejer forpligter sig til at beskrive Genstanden ud fra e-loues anviste kriterier og ret-ningslinjer, således at beskrivelsen afspejler Genstandens reelle karakteristika. Er dette alligevel ikke tilfældet, kan kun Erhvervsudlejeren, og ikke e-loue, holdes an-svarlig herfor.
    p 9.5 Erhvervsudlejeren forpligter sig til at svare alle personer, som er interesserede i an-noncen.
    p 9.6 Erhvervsudlejeren forpligter sig til at slette eventuelle annoncer på platformen, når de ikke længere er tilgængelige som lejemål.
    p 9.7 Erhvervsudlejer er eneansvarlig for at angive korrekte oplysninger om Genstanden til Lejeren. Erhvervsudlejer er eneansvarlig for beskrivelsen af udlejningsgenstanden. Erhvervsudlejer garanterer at e-loue fraskrives enhver form for reklamation vedrø-rende indholdet og formen i genstandsbeskrivelsen. 
    p 9.8 Såfremt Genstandsbeskrivelsen, eller anden information vedrørende Genstanden er fejlbehæftet, påtager udlejer sig det fulde ansvar herfor. Erhvervsudlejer påtager sig ligeledes eventuelle ekstraudgifter som måtte opstå i denne forbindelse, således at hverken lejer eller e-loue kan blive holdt ansvarlige.
    p 9.9 Udlejer forpligter sig til at holde Genstandsbeskrivelsen opdateret.
    p 9.10 Erhvervsudlejer har ingen forpligtelse til at leje en Genstand ud, og kan ikke holdes ansvarlig, hvis Genstanden ikke er disponibel.
    p 9.11 Såfremt et Medlem kontakter en Erhvervsudlejer med henblik på at leje en Gen-stand, kan Medlemmet acceptere eller afslå et eventuelt lejemål uden yderligere begrundelse.
    p 9.12 E-loue gør Erhvervsudlejere opmærksomme på, at de skal overholde nationalt ved-tagne love (herunder Markedsføringsloven) og regler vedrørende online udlejning i deres respektive sektor.
    p 9.13 Erhvervsudlejer forpligter sig til at udfærdige en fyldestgørende faktura til lejer i overensstemmelse med dansk lovgivning, herunder eksempelvis beskrivelse af gen-standen, udlejningsprisen samt oplysninger om fortrydelsesretten.

    h2 10. Forsikring
    p 10.1 E-loue tilbyder ingen form for forsikring til Erhvervsudlejere. Erhvervsudlejere skal have deres egen forsikring. Det er Erhvervsudlejerens eget ansvar at sikre sig, at forsikringen dækker udlejning af de pågældende Genstande.

    h2 11. E-loues forpligtelser
    p 11.1 E-loue forpligter sig til at holde hjemmesiden opdateret og funktionel for dets Er-hvervsudlejere. Denne forpligtelse er gælder udelukkende i form af bistand som mellemled, og e-loue påtager sig derfor intet ansvar for udfaldet.
    p 11.2 E-loue forpligter sig til at videregive samtlige modtagne e-mails og telefonopkald fra interesserede Lejere til Erhvervsudlejer, og binder sig ligeledes til at holde al infor-mation opdateret, som omhandler en given annonce.
    p 11.3 Hvad angår internettets begrænsninger, påtager e-loue sig på ingen måde ansvar for hastighedsopkobling på hjemmesiden.
    p 11.4 E-loue forbeholder sig retten til midlertidigt at afbryde opkoblingen til hjemmesiden i forbindelse med forbedringer og vedligeholdelse. I sådanne tilfælde gør vi alt for at minimere forekomne gener.
    p 11.5 E-loue stiller ingen garanti for driften af hjemmesiden. E-loues IT-administratorer kan ikke stilles økonomisk til ansvar i tilfælde af teknisk uheld.
    p 11.6 E-loue er ikke ansvarlig for spørgsmål om kontraktsbrud eller andre former for for-retningsmæssige tab ved:
    ul
        li 1. Medlemmers brug af vores tjenesteydelser;
        li 2. Eventuelle forsinkelser eller forstyrrelser af vores tjenesteydelser;
        li 3. Virus og/eller alle former for logistiske problemer i forbindelse med vores tje-nesteydelser;
        li 4. Virus og/eller alle former for logistiske problemer i forbindelse med vores tje-nesteydelser;
        li 5. Alle former for materielle it-beskadigelser i forbindelse med brug af vores in-ternetplatform;

    h2 12 E-loues ansvar
    p 12.1 E-loue er på ingen måde et udlejningsselskab, men udelukkende en internetplatform der tilbyder online lejeannoncer. E-loue er derfor ikke part i aftalen mellem medlem-met og Erhvervsudlejer, og fraskriver sig ethvert ansvar for tab eller skade, herunder personskade, der måtte opstå for medlemmet eller Erhvervsudlejer.
    p 12.2 E-loue kan ikke verificere hver enkelt Medlems identitet.
    p 12.3 E-loue opfordrer alle dets Medlemmer og Erhvervsudlejere til at gennemføre trans-aktioner med forsigtighed.
    p 12.4 Med henblik på at sikre sig mod problemer, opfordrer e-loue dets Erhvervsudlejere til at efterspørge Lejerens officielle identifikation.

    h2 13 Generelle foranstaltninger
    p 13.1
        u Undtagelser for de generelle forretningsbetingelser
    p 13.1.1 E-loue har ret til at ændre de generelle forretningsbetingelser i forbindelse med salgsudvikling. Al form for tilretning træder i kraft, så snart ændringerne står online. Disse justeringer vil ikke gælde for transaktioner, som allerede er påbegyndt. Med-lemmer bedes derfor med jævne mellemrum læse de generelle forretningsbetingel-ser, særligt inden en transaktion foretages.
    p 13.2
        u Forbehold og ansvarsfraskrivelse
    p 13.2.1 I tilfælde af at e-loue ikke håndhæver en bestemt bestemmelse, er dette ikke udtryk for at e-loue giver afkald på sin ret til på et senere tidspunkt at gøre dette.
    p 13.3 
        u Force majeure
    p 13.3.1 I tilfælde af force majeure kan e-loue ikke gøres ansvarlig for sine forpligtelser, navnlig i tilfælde af:
    ul
        li Handling eller indblanding fra overordnede instanser eller myndigheder.
        li Nedbrud eller blokade af teleselskabers netværk
        li Revolte, borgerkrig, krig, militære operationer, nationale eller lokale undtagelsestilstande, brand, lynnedslag, eksplosioner, strejke, oversvømmelse, storm eller udfald forårsaget af tredjepart.
    p 14.4
        u Diverse betingelser
    p 14.4.1 Ugyldighed af en eller flere bestemmelser i de generelle forretningsbetingelser for brug af Internetplatformen e-loue medfører ikke ugyldighed af de samlede generelle forretnings-betingelser.
    p 14.4.2 Overskrifterne i nærværende generelle forretningsbetingelser er udelukkende vejle-dende, og er ikke nødvendigvis retvisende for det præcise indhold af de respektive afsnit der henvises til. 
    p 14.4.3 Mangel på umiddelbart reaktion fra e-loues side ved medlemmers eller tredjeparts overtrædelse af de generelle forretningsbetingelser, fratager ikke e-loue retten til at reagere efterfølgende på sådanne overtrædelser.
    p 13.5
        u Bilæggelse af tvister
    p 13.5.1 Denne kontrakt er omfattet af dansk lovgivning
    p 13.5.2 Enhver tvist med en Erhvervsudlejer om eventuelle erstatningssøgsmål i forbindelse med fortolkning eller forståelse af aftalen, påhviler de kompetente domstole.
    p 13.5.3 Ved en tvist mellem et Medlem og e-loue, opfordres Medlemmet dog altid til at kon-takte e-loue først, med henblik på at finde en løsning i fællesskab.
    p 13.5.4 Med mindre andet udtrykkeligt er angivet, er disse generelle forretningsbetingelser underlagt dansk lovgivning.
    p 13.5.5 Brug af eksterne programmer der anvender e-loue, medfører implicit accept af vilkå-rene og betingelserne i disse applikationer.
    p 13.6
        u Cookies
    p 13.6.1 E-loue gør brug af cookies på hjemmesiden.
    p 13.6.2 En cookie er en lille fil, som registrerer en computers information omkring navigation på hjemmesiden uden at identificere brugeren.
    p 13.6.3 De indsamlede oplysninger sigter udelukkende efter hyppighedsmålinger omkring brugen af vores hjemmeside.
    p 13.6.4 Brugeren kan konfigurere sin computer således, at der nægtes installation af cooki-es:
    p / Med Internet Explorer browser
    ul
        li Under Internet Explorer, klik på ”Redskaber” og herefter ”Internetindstillin-ger”
        li Under ”Generelt” vælg ”Søge historik” og klik på ”Indstillinger”
        li Klik på ”Vis filer”
        li Klik øverst i kolonnen ”Navn” for at udfolde samtlige filer i alfabetisk række-følge. Følg herefter listen indtil du finder præfikset ”Cookie”. (Samtlige coo-kies er i besiddelse af dette præfiks, og indeholder normalvis desuden nav-net på den hjemmeside, som står på den givne cookie.
        li Vælg den/de omtalte cookies og slet den/dem.
        li Luk vinduet som indeholder fillisten, klik herefter to gange på OK for at ven-de tilbage til Internet Explorer.
    p / Med Firefox browser
    ul
        li Klik på ”Redskaber” og vælg menuen ”Indstillinger”
        li Vælg ”Privatliv” og klik på ”Vis cookies”
        li Find de omtalte filer, vælg dem, og slet dem.
    p 13.7
        u Hyperlinks
    p 13.7.1 Hjemmesiden kan indeholde hypertekst og/eller hyperlinks, der direkte henviser til sider, som enten er redigerede eller hostede af tredjemand, i særdeleshed i forhold til reklamebannere. Administration heraf kan derfor på ingen måde relateres til e-loue, som ikke har kontrol over, hvad der foregår på disse hjemmesider. E-loue fra-siger sig ethvert ansvar for de juridiske konsekvenser som følge af adgang til disse tredjepartshjemmesider.
    p 13.8
        u Immaterialret
    p 13.8.1 E-loue har samtlige intellektuelle ejendomsrettigheder eller forbeholder sig ejerrettighederne til alle elementer på hjemmesiden såsom tekst, billeder, grafik, logo, ikoner, lyd og softwareprogram.
    p 13.8.2 Alle former for reproduktioner, repræsentationer, modifikationer, publikationer, tilpasninger af midler/ressourcer eller metoden brugt, er strengt forbudt uden forudgående skriftlig autorisation fra e-loue.
    p 13.8.3 Al uautoriseret brug af hjemmesiden eller et af dens elementer kan blive anset som overtrædelse, og der vil blive lagt sag an i forhold til gældende dansk ret vedrørende immaterielle rettigheder.
    p 13.8.4 Erhvervsudlejer giver e-loue ikke eksklusiv rettighederne, for alle sprog og for hele verden for abonnementsperioden (også gældende eventuelle forlængelser). Disse rettigheder inkluderer retten til at genskabe, videreformidle, tilpasse, ændre, oversætte, give underlicens samt viderekommunikere hele eller dele af indholdet.
    p 13.8.5 E-loue kan helt eller delvist drage nytte af tredjeparters rettigheder under den nuværende licens.
    p 13.8.6 Medlemmet garanterer e-loue, at annonceindholdet overholder gældende lov, og at Medlemmet har de immaterielle rettigheder til dets indhold, uden at krænke tredjeparts rettigheder eller krænke nogen anden.
    p 13.8.7 Medlemmet garanterer e-loue mod nogen former for økonomiske konsekvenser for eventuelle handlinger, krav eller indsigelser fra personer, som mener at indholdet krænker immaterialretten, konkurrenceloven og/eller ved misbrug af medieansvarsloven.


















