extends ../jade/_base_dashboard

block variables
  -var STATIC_URL = "../../../static/"
  -var src_img = "dashboard/account_profil"

block content
  section.tabs-vertical-active.sm.scrollbar-custom
    ul
      -each tab in account_tabs
        li
          a(href="#{tab.href}.html")
          h3 #{tab.title}
  block sections