extends ./_base_account
block sections
  aside.address-detail.pull-nothing.scrollbar-custom.scrollbar-left
    .section-content
      form(action="change-password").indent-md-b
        h2.indent-md-b Modifaication de votre mot de passe
        .row
          .col-md-9.col-md-offset-3
            input#old-password.form-control(type="password", name="old-password", placeholder="Ancien mot de passe *", required, autofocus)
        .row
          .col-md-9.col-md-offset-3
            input#new-password.form-control(type="password", name="new-password", placeholder="Nouveau mot de passe *", required)
        .row
          .col-md-9.col-md-offset-3
            input#confirm.form-control(type="password", name="confirm", placeholder="Confirmation du nouveau mot de passe *", required)
        .row
          .col-xs-12.text-right
            button(type="reset").text.text-danger.text-underline-hover.indent-sm-h Annuler
            button(type="submit").btn-inline.bg-success-hover.text-white Enregistrer