block sections
  aside.address-detail.pull-nothing.scrollbar-custom.scrollbar-left
    .section-content
      form#reset-password-form(data-ng-submit="resetPassword()").indent-md-b
        h2.indent-md-b Modifaication de votre mot de passe
        -var password_reset_form_fields = [["current_password", "Ancien mot de passe"], ["password", "Nouveau mot de passe"], ["confirm_password", "Nouveau mot de passe"]]
        each name, placeholder in password_reset_form_fields
          .row: .col-md-9.col-md-offset-3
            input.form-control(type="password", name="#{name}", placeholder="#{placeholder} *", required, autofocus)
        .row
          .col-xs-12.text-right
            button(type="reset").text.text-danger.text-underline-hover.indent-sm-h Annuler
            button(type="submit").btn-inline.bg-success-hover.text-white Enregistrer
