extends ./_base_account
block sections
  aside.address-detail.pull-nothing.scrollbar-custom
    .section-content.full-width
      h2 1 vérufucation sur 6
      .block-with-thumbnail.indent-lg-b
        .col-thumbnail
          .thumbnail.text-success.indent-sm-r: i.icon-fw.icon-6x.flaticon.stroke.checkmark-2
        .col-exposition
          p.text-gray.indent-sm-b Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.

      h2 Vérifications actuelles
      .block-with-thumbnail.indent-lg-b
        .col-thumbnail
          .thumbnail.text-info.indent-sm-r: i.icon-fw.icon-6x.flaticon.social.facebook
        .col-exposition
          p.text-gray.indent-sm-b Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          a(href="#").btn.bg-info-hover.text-white Connectez-vous avec Facebook

      h2 Ajouter d’autres vérifications
      .block-with-thumbnail.indent-lg-b
        .col-thumbnail
          .thumbnail.text-gray.indent-sm-r: i.icon-fw.icon-6x.flaticon.stroke.email
        .col-exposition
          p.text-gray.indent-sm-b Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          a(href="#").btn.bg-gray-hover.text-white Connectez-vous avec Email


      .block-with-thumbnail.indent-lg-b
        .col-thumbnail
          .thumbnail.text-gray.indent-sm-r: i.icon-fw.icon-6x.flaticon.stroke.phone
        .col-exposition
          p.text-gray.indent-sm-b Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          a(href="#").btn.bg-gray-hover.text-white Connectez-vous avec Phone


      .block-with-thumbnail.indent-lg-b
        .col-thumbnail
          .thumbnail.text-danger.indent-sm-r: i.icon-fw.icon-6x.flaticon.social.google-plus
        .col-exposition
          p.text-gray.indent-sm-b Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          a(href="#").btn.bg-danger-hover.text-white Connectez-vous avec Google


      .block-with-thumbnail.indent-lg-b
        .col-thumbnail
          .thumbnail.text-blue.indent-sm-r: i.icon-fw.icon-6x.flaticon.social.linkedin-2
        .col-exposition
          p.text-gray.indent-sm-b Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
          a(href="#").btn.bg-blue-hover.text-white Connectez-vous avec Linkedin
