/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$partner-amazon-x: 147px
$partner-amazon-y: 0px
$partner-amazon-offset-x: -147px
$partner-amazon-offset-y: 0px
$partner-amazon-width: 209px
$partner-amazon-height: 80px
$partner-amazon-total-width: 806px
$partner-amazon-total-height: 654px
$partner-amazon-image: '../../static/img/partners_spritesheet.png'
$partner-amazon: 147px 0px -147px 0px 209px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-bitwiin-x: 378px
$partner-bitwiin-y: 246px
$partner-bitwiin-offset-x: -378px
$partner-bitwiin-offset-y: -246px
$partner-bitwiin-width: 308px
$partner-bitwiin-height: 80px
$partner-bitwiin-total-width: 806px
$partner-bitwiin-total-height: 654px
$partner-bitwiin-image: '../../static/img/partners_spritesheet.png'
$partner-bitwiin: 378px 246px -378px -246px 308px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-bons_plans-x: 0px
$partner-bons_plans-y: 82px
$partner-bons_plans-offset-x: 0px
$partner-bons_plans-offset-y: -82px
$partner-bons_plans-width: 153px
$partner-bons_plans-height: 80px
$partner-bons_plans-total-width: 806px
$partner-bons_plans-total-height: 654px
$partner-bons_plans-image: '../../static/img/partners_spritesheet.png'
$partner-bons_plans: 0px 82px 0px -82px 153px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-clear_chanel-x: 358px
$partner-clear_chanel-y: 0px
$partner-clear_chanel-offset-x: -358px
$partner-clear_chanel-offset-y: 0px
$partner-clear_chanel-width: 448px
$partner-clear_chanel-height: 80px
$partner-clear_chanel-total-width: 806px
$partner-clear_chanel-total-height: 654px
$partner-clear_chanel-image: '../../static/img/partners_spritesheet.png'
$partner-clear_chanel: 358px 0px -358px 0px 448px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-direct_etudiant-x: 358px
$partner-direct_etudiant-y: 82px
$partner-direct_etudiant-offset-x: -358px
$partner-direct_etudiant-offset-y: -82px
$partner-direct_etudiant-width: 204px
$partner-direct_etudiant-height: 80px
$partner-direct_etudiant-total-width: 806px
$partner-direct_etudiant-total-height: 654px
$partner-direct_etudiant-image: '../../static/img/partners_spritesheet.png'
$partner-direct_etudiant: 358px 82px -358px -82px 204px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-europ_assistance-x: 564px
$partner-europ_assistance-y: 82px
$partner-europ_assistance-offset-x: -564px
$partner-europ_assistance-offset-y: -82px
$partner-europ_assistance-width: 153px
$partner-europ_assistance-height: 80px
$partner-europ_assistance-total-width: 806px
$partner-europ_assistance-total-height: 654px
$partner-europ_assistance-image: '../../static/img/partners_spritesheet.png'
$partner-europ_assistance: 564px 82px -564px -82px 153px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-five_m_ventures-x: 0px
$partner-five_m_ventures-y: 164px
$partner-five_m_ventures-offset-x: 0px
$partner-five_m_ventures-offset-y: -164px
$partner-five_m_ventures-width: 270px
$partner-five_m_ventures-height: 80px
$partner-five_m_ventures-total-width: 806px
$partner-five_m_ventures-total-height: 654px
$partner-five_m_ventures-image: '../../static/img/partners_spritesheet.png'
$partner-five_m_ventures: 0px 164px 0px -164px 270px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-go_sport-x: 719px
$partner-go_sport-y: 82px
$partner-go_sport-offset-x: -719px
$partner-go_sport-offset-y: -82px
$partner-go_sport-width: 80px
$partner-go_sport-height: 80px
$partner-go_sport-total-width: 806px
$partner-go_sport-total-height: 654px
$partner-go_sport-image: '../../static/img/partners_spritesheet.png'
$partner-go_sport: 719px 82px -719px -82px 80px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-google-x: 272px
$partner-google-y: 164px
$partner-google-offset-x: -272px
$partner-google-offset-y: -164px
$partner-google-width: 237px
$partner-google-height: 80px
$partner-google-total-width: 806px
$partner-google-total-height: 654px
$partner-google-image: '../../static/img/partners_spritesheet.png'
$partner-google: 272px 164px -272px -164px 237px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-havas_worldwide-x: 511px
$partner-havas_worldwide-y: 164px
$partner-havas_worldwide-offset-x: -511px
$partner-havas_worldwide-offset-y: -164px
$partner-havas_worldwide-width: 210px
$partner-havas_worldwide-height: 80px
$partner-havas_worldwide-total-width: 806px
$partner-havas_worldwide-total-height: 654px
$partner-havas_worldwide-image: '../../static/img/partners_spritesheet.png'
$partner-havas_worldwide: 511px 164px -511px -164px 210px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-hec_paris-x: 155px
$partner-hec_paris-y: 82px
$partner-hec_paris-offset-x: -155px
$partner-hec_paris-offset-y: -82px
$partner-hec_paris-width: 143px
$partner-hec_paris-height: 80px
$partner-hec_paris-total-width: 806px
$partner-hec_paris-total-height: 654px
$partner-hec_paris-image: '../../static/img/partners_spritesheet.png'
$partner-hec_paris: 155px 82px -155px -82px 143px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-inter_sport-x: 0px
$partner-inter_sport-y: 246px
$partner-inter_sport-offset-x: 0px
$partner-inter_sport-offset-y: -246px
$partner-inter_sport-width: 108px
$partner-inter_sport-height: 80px
$partner-inter_sport-total-width: 806px
$partner-inter_sport-total-height: 654px
$partner-inter_sport-image: '../../static/img/partners_spritesheet.png'
$partner-inter_sport: 0px 246px 0px -246px 108px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-la_poste-x: 110px
$partner-la_poste-y: 246px
$partner-la_poste-offset-x: -110px
$partner-la_poste-offset-y: -246px
$partner-la_poste-width: 138px
$partner-la_poste-height: 80px
$partner-la_poste-total-width: 806px
$partner-la_poste-total-height: 654px
$partner-la_poste-image: '../../static/img/partners_spritesheet.png'
$partner-la_poste: 110px 246px -110px -246px 138px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-leroy_merlin-x: 250px
$partner-leroy_merlin-y: 246px
$partner-leroy_merlin-offset-x: -250px
$partner-leroy_merlin-offset-y: -246px
$partner-leroy_merlin-width: 126px
$partner-leroy_merlin-height: 80px
$partner-leroy_merlin-total-width: 806px
$partner-leroy_merlin-total-height: 654px
$partner-leroy_merlin-image: '../../static/img/partners_spritesheet.png'
$partner-leroy_merlin: 250px 246px -250px -246px 126px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-les_cles_du_bricolage-x: 0px
$partner-les_cles_du_bricolage-y: 0px
$partner-les_cles_du_bricolage-offset-x: 0px
$partner-les_cles_du_bricolage-offset-y: 0px
$partner-les_cles_du_bricolage-width: 145px
$partner-les_cles_du_bricolage-height: 80px
$partner-les_cles_du_bricolage-total-width: 806px
$partner-les_cles_du_bricolage-total-height: 654px
$partner-les_cles_du_bricolage-image: '../../static/img/partners_spritesheet.png'
$partner-les_cles_du_bricolage: 0px 0px 0px 0px 145px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-local_me-x: 0px
$partner-local_me-y: 328px
$partner-local_me-offset-x: 0px
$partner-local_me-offset-y: -328px
$partner-local_me-width: 173px
$partner-local_me-height: 80px
$partner-local_me-total-width: 806px
$partner-local_me-total-height: 654px
$partner-local_me-image: '../../static/img/partners_spritesheet.png'
$partner-local_me: 0px 328px 0px -328px 173px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-locanfrance-x: 175px
$partner-locanfrance-y: 328px
$partner-locanfrance-offset-x: -175px
$partner-locanfrance-offset-y: -328px
$partner-locanfrance-width: 257px
$partner-locanfrance-height: 80px
$partner-locanfrance-total-width: 806px
$partner-locanfrance-total-height: 654px
$partner-locanfrance-image: '../../static/img/partners_spritesheet.png'
$partner-locanfrance: 175px 328px -175px -328px 257px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-loxam-x: 434px
$partner-loxam-y: 328px
$partner-loxam-offset-x: -434px
$partner-loxam-offset-y: -328px
$partner-loxam-width: 198px
$partner-loxam-height: 80px
$partner-loxam-total-width: 806px
$partner-loxam-total-height: 654px
$partner-loxam-image: '../../static/img/partners_spritesheet.png'
$partner-loxam: 434px 328px -434px -328px 198px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-ma_colocation-x: 0px
$partner-ma_colocation-y: 410px
$partner-ma_colocation-offset-x: 0px
$partner-ma_colocation-offset-y: -410px
$partner-ma_colocation-width: 272px
$partner-ma_colocation-height: 80px
$partner-ma_colocation-total-width: 806px
$partner-ma_colocation-total-height: 654px
$partner-ma_colocation-image: '../../static/img/partners_spritesheet.png'
$partner-ma_colocation: 0px 410px 0px -410px 272px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-meteojob-x: 688px
$partner-meteojob-y: 246px
$partner-meteojob-offset-x: -688px
$partner-meteojob-offset-y: -246px
$partner-meteojob-width: 104px
$partner-meteojob-height: 80px
$partner-meteojob-total-width: 806px
$partner-meteojob-total-height: 654px
$partner-meteojob-image: '../../static/img/partners_spritesheet.png'
$partner-meteojob: 688px 246px -688px -246px 104px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-microsoft-x: 274px
$partner-microsoft-y: 410px
$partner-microsoft-offset-x: -274px
$partner-microsoft-offset-y: -410px
$partner-microsoft-width: 342px
$partner-microsoft-height: 80px
$partner-microsoft-total-width: 806px
$partner-microsoft-total-height: 654px
$partner-microsoft-image: '../../static/img/partners_spritesheet.png'
$partner-microsoft: 274px 410px -274px -410px 342px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-mma-x: 0px
$partner-mma-y: 492px
$partner-mma-offset-x: 0px
$partner-mma-offset-y: -492px
$partner-mma-width: 245px
$partner-mma-height: 80px
$partner-mma-total-width: 806px
$partner-mma-total-height: 654px
$partner-mma-image: '../../static/img/partners_spritesheet.png'
$partner-mma: 0px 492px 0px -492px 245px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-mr_bricolage-x: 247px
$partner-mr_bricolage-y: 492px
$partner-mr_bricolage-offset-x: -247px
$partner-mr_bricolage-offset-y: -492px
$partner-mr_bricolage-width: 251px
$partner-mr_bricolage-height: 80px
$partner-mr_bricolage-total-width: 806px
$partner-mr_bricolage-total-height: 654px
$partner-mr_bricolage-image: '../../static/img/partners_spritesheet.png'
$partner-mr_bricolage: 247px 492px -247px -492px 251px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-nomalys-x: 634px
$partner-nomalys-y: 328px
$partner-nomalys-offset-x: -634px
$partner-nomalys-offset-y: -328px
$partner-nomalys-width: 142px
$partner-nomalys-height: 80px
$partner-nomalys-total-width: 806px
$partner-nomalys-total-height: 654px
$partner-nomalys-image: '../../static/img/partners_spritesheet.png'
$partner-nomalys: 634px 328px -634px -328px 142px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-sfr-x: 723px
$partner-sfr-y: 164px
$partner-sfr-offset-x: -723px
$partner-sfr-offset-y: -164px
$partner-sfr-width: 80px
$partner-sfr-height: 80px
$partner-sfr-total-width: 806px
$partner-sfr-total-height: 654px
$partner-sfr-image: '../../static/img/partners_spritesheet.png'
$partner-sfr: 723px 164px -723px -164px 80px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-smoov_up-x: 618px
$partner-smoov_up-y: 410px
$partner-smoov_up-offset-x: -618px
$partner-smoov_up-offset-y: -410px
$partner-smoov_up-width: 159px
$partner-smoov_up-height: 80px
$partner-smoov_up-total-width: 806px
$partner-smoov_up-total-height: 654px
$partner-smoov_up-image: '../../static/img/partners_spritesheet.png'
$partner-smoov_up: 618px 410px -618px -410px 159px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-societe_general-x: 500px
$partner-societe_general-y: 492px
$partner-societe_general-offset-x: -500px
$partner-societe_general-offset-y: -492px
$partner-societe_general-width: 272px
$partner-societe_general-height: 80px
$partner-societe_general-total-width: 806px
$partner-societe_general-total-height: 654px
$partner-societe_general-image: '../../static/img/partners_spritesheet.png'
$partner-societe_general: 500px 492px -500px -492px 272px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-twenty_minutes-x: 0px
$partner-twenty_minutes-y: 574px
$partner-twenty_minutes-offset-x: 0px
$partner-twenty_minutes-offset-y: -574px
$partner-twenty_minutes-width: 81px
$partner-twenty_minutes-height: 80px
$partner-twenty_minutes-total-width: 806px
$partner-twenty_minutes-total-height: 654px
$partner-twenty_minutes-image: '../../static/img/partners_spritesheet.png'
$partner-twenty_minutes: 0px 574px 0px -574px 81px 80px 806px 654px '../../static/img/partners_spritesheet.png'
$partner-youpijob-x: 83px
$partner-youpijob-y: 574px
$partner-youpijob-offset-x: -83px
$partner-youpijob-offset-y: -574px
$partner-youpijob-width: 200px
$partner-youpijob-height: 80px
$partner-youpijob-total-width: 806px
$partner-youpijob-total-height: 654px
$partner-youpijob-image: '../../static/img/partners_spritesheet.png'
$partner-youpijob: 83px 574px -83px -574px 200px 80px 806px 654px '../../static/img/partners_spritesheet.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
