.container.text-gray-strong
  h2.text-uppercase.text-center
    | Politique d'annulation
  .indent-t-lg
    p
      | 3 cas possibles d’annulation sont prévus :
      | - l’annulation avant le début de la location par le locataire
      | - l’annulation après le début (dans les 24 heures) de la location par le locataire
      | - l’annulation par le propriétaire
    
    h3
      | 1 – l’annulation avant le début de la location par le locataire :
   
    h4
      | Les conditions financières associées :
    p
      | Les remboursements au locataire sont calculés sur la base du montant total de la réservation à l’exclusion des frais de services e-loue.
    p
      | Ainsi  e-loue déduira du montant remboursé ses frais de services d’un montant de 5% TTC du montant total de la réservation.
    p
      | Le remboursement se fera par virement bancaire. Le RIB du locataire sera donc nécessaire.

    h4
      | Les modalités d’annulation par le locataire :
    p
      | Toute annulation souhaitée par le locataire doit s’effectuer par l’intermédiaire de la plateforme e-loue.
    p
      | Une fonction annulation est accessible depuis le tableau de bord. Aucune autre action n’est nécessaire.
    p
      | Lors de la demande d’annulation faîte par le locataire, un mail d’information est automatiquement envoyé au locataire et au propriétaire et rappelant les conditions financières de l’annulation fonction de la politique annulation choisie par le propriétaire et acceptée par le locataire lors de sa demande de réservation.
    p
      | Toute demande d’annulation faîte par le locataire en dehors de la plateforme e-loue ne sera pas traitée

    h4
      | Cas d’annulation des locations saisonnières par le locataire :
    p
      | Dans la cadre des locations saisonnières, il est prévu au contrat d’assurance une garantie annulation (et interruption de séjour) qui permet au locataire et sous certaines conditions de bénéficier du remboursement du montant de la location. 
    p
      | Dans ce cas, le locataire sera soumis aux conditions d’annulation décrites dans les conditions générales de ADAR, visibles sur le document ASSURANCE TRANQUILITE et pourra par la suite effectuer auprès de l’assureur une demande de remboursement.

    h3
      | 2 – l’annulation de la location après le début de la période de location par le locataire :

    h4
      | Cas de non-conformité du bien réservé :
    p
      | Si le locataire à des plaintes sérieuses au moment de la récupération du bien réservé, il peut immédiatement faire une demande d’annulation auprès des services clients soit par mail à l’adresse suivante : contact@e-loue.com , soit par téléphone au numéro : 0826 800 200.
    p
      | Il s’agit alors d’une demande d’annulation pour non-conformité du bien, et qui fera l’objet de l’ouverture d’un dossier de contentieux par les services e-loue.
    p
      | Dans ce cas, le locataire doit impérativement prévenir les services clients e-loue sous 24 heures après le début de la location.
    p
      | Il est important de noter qu’aucune demande de remboursement ne pourra être acceptée au-delà du délai de 24 heures.
    p
      | Les services e-loue contacterons le propriétaire afin de gérer le contentieux et procéderons au remboursement intégral du locataire, frais de services inclus après règlement du contentieux.

    h4
      | Cas de non-conformité des locations saisonnières :
    p
      | Dans la cadre des locations saisonnières, il est prévu au contrat d’assurance une garantie pour non-conformité ou transaction frauduleuse qui permet au locataire et sous certaines conditions de bénéficier du remboursement du montant de la location, ainsi que des frais  d’hébergement engendrés.

    h3
      | 3 - annulation de la location par le propriétaire :
    p
      | Il n’est pas possible pour le propriétaire de procéder à l’annulation de la location via la plateforme. En effet en acceptant la demande le propriétaire s’est engagé pour la location. Toutefois en cas de force majeure, le propriétaire pourra nous informer par mail contact@e-loue.com ou téléphone  0826 800 200.
    p
      | e-loue ne pourra être tenu pour responsable de cette annulation. Toutefois, et  dans ce cas, le locataire sera remboursé de l’intégralité des sommes dues au titre de la location, frais de service inclus, les services clients e-loue aideront le locataire à trouver sous réserve de disponibilité un bien équivalent dans les mêmes conditions et les meilleurs délais.