-load i18n
include ../jade/_mixins

block section-content
  if True
    .section-content
      .text-danger(eloue-form-message) {% verbatim %}{{!!description?description:message}}{% endverbatim %}
      form#address_detail_form(name="addressDetailForm", data-ng-submit="addressSubmitted=true; addressDetailForm.$valid && submitAddress()", ng-class="{'submitted':addressSubmitted }", novalidate, eloue-form-field-error-manager).indent-md-b
       fieldset(data-ng-disabled="submitInProgress")
        .row
          .col-sm-12
            input#street.form-control(type="text", name="street", ng-model="address.street", placeholder="{% trans 'Rue' %} *", required, autofocus)
            .text-danger(data-ng-show="addressDetailForm.street.$error.required && !!addressSubmitted", translate="required_field")
            .text-danger(eloue-form-field-message field-name="address1") {% verbatim %}{{value}}{% endverbatim %}
        .row
          .col-sm-6
            input#zipcode.form-control(type="text", name="zipcode", ng-model="address.zipcode", placeholder="{% trans 'Code postal' %} *", required, autofocus, eloue-zipcode)
            .text-danger(data-ng-show="addressDetailForm.zipcode.$error.required && !!addressSubmitted", translate="required_field")
            .text-danger(data-ng-show="addressDetailForm.zipcode.$error.badFormat && !!addressSubmitted", translate="zipcode_invalid")
          .col-sm-6
            input#city.form-control(type="text", name="city", ng-model="address.city", placeholder="{% trans 'Ville' %} *", required, autofocus)
            .text-danger(data-ng-show="addressDetailForm.city.$error.required && !!addressSubmitted", translate="required_field")
        .row
          .col-xs-12
            label.check-btn.form-control
              input(type="checkbox", ng-model="isDefaultAddress")
              span: i(class="{% verbatim %}{{isDefaultAddress ? 'checkmark' : ''}}{% endverbatim %}").icon-lg.pull-right.flaticon.stroke
              | {% trans "Addresse par défaut" %}
        .row
          .col-xs-12.text-right
            button(type="reset", data-ng-click="deleteAddress()", onclick="return false;", ng-hide="productList.length > 0 || isDefaultAddress", class="{% verbatim %}{{submitInProgress ? 'loading' : ''}}{% endverbatim %}").text.text-danger.text-underline-hover.indent-sm-h {% trans "Supprimer" %}
            button(type="submit", class="{% verbatim %}{{submitInProgress ? 'loading' : ''}}{% endverbatim %}").btn-inline.bg-success-hover.text-white {% trans "Enregistrer" %}
        input(type="hidden", name="country", value="{% verbatim %}{{address.country}}{% endverbatim %}")
        input(type="hidden", name="_method", value="PUT")
      h3 {% trans "Annonces associées à cette adresse" %}
    section.tabs-vertical-active
      ul.block-with-thumbnail
        li.tab-vertical.block-with-thumbnail(data-ng-repeat="product in productList track by product.id", ui-sref="items.info({id: product.id})")
            .col-thumbnail
              .thumbnail
                  a(href="").lg-p: img(style="background-image: url({% verbatim %}{{product.picture}}{% endverbatim %});")
            .col-exposition
              h3.small
                | {% trans "Location" %}{% verbatim %}{{product.summary}}{% endverbatim %}
              p.normal.text-gray
                big.text-primary {% verbatim %}{{product.pricePerDay}}{% endverbatim %}{% trans "€" %} / {% trans "jour" %}
                br
                span(ng-hide="product.stats.booking_comments_count == 0 && product.stats.bookings_count == 0")
                  +average-rate("product.stats.average_rating")
                  +number-of-comments("product.stats.booking_comments_count")
                  +number-of-bookings("product.stats.bookings_count")
