-load i18n
block content-view
  section.tabs-vertical-active.sm.scrollbar-custom
    ul(ng-init="account_tabs=[{title: '{% trans 'Profil'%}', sref: 'account.profile'}, {title: '{% trans 'Adresses'%}', sref: 'account.addresses'}, {title: '{% trans 'Mot de passe'%}', sref: 'account.password'}]")
      li(ng-repeat="tab in account_tabs", id="account-part-{% verbatim %}{{tab.sref}}{% endverbatim %}"): a.tab-vertical(ui-sref="{% verbatim %}{{tab.sref}}{% endverbatim %}", class="{% verbatim %}{{tab.sref == 'account.profile' ? 'current' : ''}}{% endverbatim %}")
        h3(ng-bind="tab.title")
  .content-view(ui-view)
