-load i18n
section.pull-nothing(ng-hide="addressList && addressList.length === 0").content-view
  .notification-empty
    .notification-container
      i.fa.fa-table.fa-5x.indent-sm-b
      h2 {% trans "Aucune adresse sélectionnée" %}