block sections
  section.tabs-vertical-active.md.scrollbar-custom(ng-show="addressList && addressList.length > 0")
    ul.block-with-thumbnail
      if True
        li.block-with-thumbnail(data-ng-repeat="address in addressList track by address.id", id="account-address-{% verbatim %}{{address.id}}{% endverbatim %}")
          a(ui-sref="account.addresses.detail({id: address.id})").tab-vertical(class="{% verbatim %}{{address.id === defaultAddressId ? 'default' : ''}}{% endverbatim %}")
            .col-thumbnail
              .thumbnail
                img(data-ng-src="https://maps.googleapis.com/maps/api/staticmap?center={% verbatim %}{{address.position.coordinates[0]}}{% endverbatim %},{% verbatim %}{{address.position.coordinates[1]}}{% endverbatim %}&zoom=14&size=70x70&language=fr", width="70")
            .col-exposition
              h3.indent-xs-b
                | {% verbatim %}{{address.street}}{% endverbatim %}
                i.icon-lg.pull-right.flaticon.stroke.checkmark
              p.normal.text-gray {% verbatim %}{{address.zip_code}}{% endverbatim %} {% verbatim %}{{address.city}}{% endverbatim %}
  aside.address-detail.pull-nothing.scrollbar-custom.scrollbar-left(ui-view)
    include _notification_not_selected_address
    include _notification_empty_adresses
