.container
  ol.breadcrumb
    -var breadcrumbs = [{'text': "Accueil"}, {'text': "En savoir plus"}, {'text': "Contactez‐nous", 'is_active': true}]
    {% for item in breadcrumbs %}
    {% if item.is_active %}
    li.active: a(href="#")
        != item.text
    {% else %}
    li: a(href="#")
        != item.text
    {% endif %}
    {%endfor%}
