.container.indent-v-lg.text-center
  h2.text-uppercase nous avons essaye de tout vous dire.
    br
    | mais si ce n’est pas suffisant,
    br
    | n’hésitez pas, nous sommes là pour vous aider...

  p.indent-v-md
    | Vous ne trouvez pas de answer dans nos FAQ&nbsp;? Vous avez besoin d’aide&nbsp;?
    br
    | Vous avez une question, une remarque, un commentaire à faire passer à nos équipes&nbsp;?

  p.indent-v-md
    | Vous pouvez nous laisser votre message 24h/24 via le formulaire de contact ci-dessous.
    br
    | Nous nous engageons à vous répondre dans les 24 heures (ou dans les 48h les WE).
    br
    | Si vous souhaitez que nous vous rappelons, n’hésitez pas à le préciser&nbsp;...
