extends ../base
-load compressed staticfiles i18n

block append title
  {% trans "Contactez nous" %}
  
block append styles
  {% compressed_css "bootstrap" %}
  {% compressed_css "contact_us_styles" %}

block append content-body
  //- Inherit HomePage controller to activate geolocation search
  .container-flex(data-ng-controller="HomePageCtrl")
    header.header-site:              include ../jade/_header_site
    nav.bd-b:                        include _breadcrumbs

    article.text-gray-strong
      section.introduction:          include _head_content
      section.insurances.framing:    include _new_contact_form.html

    footer
      section.footer-links.framing:  include ../jade/_footer_links
      section.rss:                   include ../jade/_rss
