extends ../../base
-load compressed staticfiles i18n

block append styles
  {% compressed_css "dashboard_styles" %}

block scripts

  //- Load progress bar
  script(type="text/javascript", src="{% static 'bower_components/nprogress/nprogress.js' %}")      
  script(type="text/javascript")
      
    document.covered = true;
    
    document.removeCover = function() {
      document.covered = false;
      document.body.className = "";
      document.getElementById("overlay").style.display = "none";
    };
    
    function startPageLoadProgress(){
      NProgress && NProgress.show && NProgress.begin();
    };
    
    NProgress.work = 0;
    NProgress.totalWork = 0;
    NProgress.working = false;
    
    NProgress.completeLoad = function(){
      NProgress.done();
      NProgress.working = false;
      if (document.covered){
        document.removeCover();
        document.covered = false;
      }
    };
      
    NProgress.begin = function(){
      // TODO add timeout
      if (NProgress.working){
        return;
      }
      NProgress.working = true;
      NProgress.work = 0;
      NProgress.start();
    };
    
    NProgress.register = function(work){
      NProgress.totalWork += work ? work : 1;
    };
    
    NProgress.move = function(p){
      if (NProgress.working){
        NProgress.inc(p); 
      }
    };
    
    NProgress.advance = function (job, work, dontInc){
      try {
          if (job){
            job(); 
          }
      } finally {
          NProgress.work += work;
          if (NProgress.work<NProgress.totalWork){
            if (!dontInc){
              NProgress.move(NProgress.work/NProgress.totalWork); 
            }
          } else {
            NProgress.completeLoad();
          }
      }
    };
    
    NProgress.show = true;

  //- Load everything else
  {% compressed_js "dashboard_js" %}
  script
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ANALYTICS_GOOGLE_ID}}']);
    _gaq.push(['_setDomainName', '{{ ANALYTICS_SITE }}']);
    _gaq.push(['_trackPageview']);
    {% spaceless %}
    {% if request.user.is_authenticated %}
    _gaq.push(['_setVar', 'authenticated']);
    {% else %}
    _gaq.push(['_setVar', 'anonymous']);
    {% endif %}
    {% endspaceless %}    

block append content-body
  include ../../jade/_cover
  .container-full-screen(data-ng-controller="DashboardRootCtrl", style="display: none;")
    header.header-site
      include ../../jade/_header_site
    article.dashboard
      nav(ng-show="!!currentUser")
        ul
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[0].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[0].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[0].badge", ng-bind="dashboardTabs[0].badge")
              | {% trans "Tableau de board"%}
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[1].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[1].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[1].badge", ng-bind="dashboardTabs[1].badge")
              | {% trans "Messages" %}
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[2].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[2].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[2].badge", ng-bind="dashboardTabs[2].badge")
              | {% trans "Réservations" %}
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[3].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[3].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[3].badge", ng-bind="dashboardTabs[3].badge")
              | {% trans "Annonces" %}
          li
            a(ui-sref="{% verbatim %}{{dashboardTabs[4].sref}}{% endverbatim %}").text-success-dark
              i.flaticon(class="{% verbatim %}{{dashboardTabs[4].icon}}{% endverbatim %}")
                span.badge-count-action(ng-show="dashboardTabs[4].badge", ng-bind="dashboardTabs[4].badge")
              | {% trans "Compte" %}
      .content-view(ui-view)
