.container.text-gray-strong
  h2.text-uppercase.text-center
    | Mentions légales

  .row.indent-t-lg
    .col-sm-6.col-sm-offset-3
      p: em Le site Go Sport Location est édité par la société E-LOUE SAS

      p: addres
        | E-LOUE SAS société par actions simplifiée au capita
        | l de 6.391,10 Euros, dont le siège social
        | se trouve 19 rue de Toul 75012 Paris, immatriculée
        | au RCS de Paris sous le numéro B 509
        | 679 593

      p
        | Le site internet est hébergé par la société&nbsp;: 
        a(href="http://www.heroku.com/").link-success Heroku

      p Le site internet a fait l’objet d’une déclaration auprès de la CNIL.

      p
        em E-mail&nbsp;: 
        a(href="mailto:contact@e-loue.com").link-success
          | contact@e-loue.com
        br
        em Téléphone&nbsp;: 
        | +&nbsp;33&nbsp;1&nbsp;85&nbsp;08&nbsp;52&nbsp;75
