{% load i18n %}
<ul class="avatars-list">
    {% for patron in patron_list %}
        <li>
            <a href="{{ patron.get_absolute_url }}"><img src="{{ patron.avatar.thumbnail.url }}" width="60" height="60" />
            {% if patron.first_name and patron.last_name %}
            <p>{{patron.first_name|capfirst}} {{patron.last_name|cut:" "|capfirst|first}}.</p>
            {% else %}
            <p>{{ patron.username|capfirst }}<p>
            {% endif %}</a>
    </li>
    {% endfor %}
</ul>{# avatars-list #}