{% load i18n %}
<ul class="avatars-list">
    <li>
        <a href="#"><img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" /></a>
        <p>Patrick L.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_597194fa4e4c427283c7a425cfcf31e8.jpeg" width="60" height="60" /></a>
        <p>Alain R.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" /></a>
        <p>Sandra O.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_597194fa4e4c427283c7a425cfcf31e8.jpeg" width="60" height="60" /></a>
        <p>Julie P.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" /></a>
        <p>Patrick L.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_597194fa4e4c427283c7a425cfcf31e8.jpeg" width="60" height="60" /></a>
        <p>Alain R.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" /></a>
        <p>Sandra O.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_597194fa4e4c427283c7a425cfcf31e8.jpeg" width="60" height="60" /></a>
        <p>Julie P.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" /></a>
        <p>Patrick L.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_597194fa4e4c427283c7a425cfcf31e8.jpeg" width="60" height="60" /></a>
        <p>Alain R.</p>
    </li>
    <li>
        <a href="#"><img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" /></a>
        <p>Sandra O.</p>
    </li>
</ul>{# avatars-list #}