{% load bookingaction i18n product paginator %}
{% if object_list %}
<ul class="booking-list">
	{% for booking in object_list %}
		<li>
			<table class="table table-bordered booking-resume">
				<tbody>
				<tr>
					<th class="b-state">{{ booking.get_state_display }}</th>
					<td><a href="{{booking.get_absolute_url}}" class="b-title">{{booking.product.summary|capfirst}}</a> <a href="{{booking.get_absolute_url}}" class="b-more"> ({% trans "Voir le détail" %})</a></td>
				</tr>
				<tr>
					<th>{% trans "Début" %}</th>
					<td class="align-center">{{booking.started_at|date:"l d F Y H:i"|capfirst}}</td>
				</tr> 
					<th>{% trans "Fin" %}</th>
					<td class="align-center">{{booking.ended_at|date:"l d F Y H:i"|capfirst}}</td>
				</tr>
				<tr>
					<th>{% trans "Montant" %}</th>
					<td class="align-center"><b>{{booking.total_amount|currency}}</b></td>
				</tr>
				<tr class="b-action">
					<td colspan="2">{% bookingaction request booking %}</td>
				</tr>
				</tbody>
			</table>
		</li>
	{% endfor %}
</ul>
{% pagination %}
{% if is_paginated %}
<div class="pages">
    <ul class="pages-list">
        {% if page_obj.has_previous %}
	        <li class="previous"><a href="?page={{page_obj.previous_page_number}}">&#171; {% trans "Page précédente" %}</a></li>
        {% endif %}
        {% for page in page_range %}
	        <li class="page-{{ page }} {% if page_obj.number == page %}select{% endif %}">
	        	<a href="?page={{page}}">{{ page }}</a>
	        </li>
        {% endfor %}
        {% if page_obj.has_next %}
        	<li class="next"><a href="?page={{page_obj.next_page_number}}">{% trans "Page suivante" %} &#187;</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% else %}
<p style="text-align: center; margin-top: 60px;">{% trans "Pas de réservation" %}</p>
{% endif %}