<ul class="booking-list">
	{% for booking in object_list %}
		<li>
			<table class="table table-bordered booking-resume">
			<tbody>
				<tr>
					<th class="b-state">{{ booking.get_state_display }}</th>
					<td><a href="{{booking.product.get_absolute_url}}" class="b-title">{{booking.product.summary}}</a> <a href="#" class="b-more">Voir le détail</a></td>
				</tr>
				<tr>
					<th>Début</th>
					<td>{{booking.started_at|time:"Y:M:d"}}Lundi 15 novembre 2012</td>
				</tr> 
					<th>Fin</th>
					<td>Mercredi 18 novembre 2012</td>
				</tr>
				<tr>
					<th>Montant</th>
					<td>27 &euro;</td>
				</tr>
				<tr class="b-action">
					<td colspan="2"><a href="#">Annuler</a> - <a href="#">Envoyer un message au propriétaire</a></td>
				</tr>
			</tbody>
			</table>
		</li>	
	{% endfor %}
	<li>
		<table class="table table-bordered booking-resume">
		<tbody>
			<tr>
				<th class="b-state">A venir</th>
				<td><a href="#" class="b-title">Robe de  soirée</a> <a href="#" class="b-more">Voir le détail</a></td>
			</tr>
			<tr>
				<th>Début</th>
				<td>Lundi 15 novembre 2012</td>
			</tr> 
				<th>Fin</th>
				<td>Mercredi 18 novembre 2012</td>
			</tr>
			<tr>
				<th>Montant</th>
				<td>27 &euro;</td>
			</tr>
			<tr class="b-action">
				<td colspan="2"><a href="#">Annuler</a> - <a href="#">Envoyer un message au propriétaire</a></td>
			</tr>
		</tbody>
		</table>
	</li>
	<li>
		<table class="table table-bordered booking-resume">
		<tbody>
			<tr>
				<th class="b-state">En cours</th>
				<td><a href="#" class="b-title">Robe de  soirée</a> <a href="#" class="b-more">Voir le détail</a></td>
			</tr>
			<tr>
				<th>Début</th>
				<td>Lundi 15 novembre 2012</td>
			</tr> 
				<th>Fin</th>
				<td>Mercredi 18 novembre 2012</td>
			</tr>
			<tr>
				<th>Montant</th>
				<td>34 &euro;</td>
			</tr>
			<tr class="b-action">
				<td colspan="2"><a href="#">Déclarer un incident</a> - <a href="#">Envoyer un message au propriétaire</a></td>
			</tr>
		</tbody>
		</table>
	</li>
	<li>
		<table class="table table-bordered booking-resume">
		<tbody>
			<tr>
				<th class="b-state">Demande</th>
				<td><a href="#" class="b-title">Robe de  soirée</a> <a href="#" class="b-more">Voir le détail</a></td>
			</tr>
			<tr>
				<th>Début</th>
				<td>Lundi 15 novembre 2012</td>
			</tr> 
				<th>Fin</th>
				<td>Mercredi 18 novembre 2012</td>
			</tr>
			<tr>
				<th>Montant</th>
				<td>134 &euro;</td>
			</tr>
			<tr class="b-action">
				<td colspan="2"><a href="#">Commenter</a> - <a href="#">Envoyer un message au propriétaire</a></td>
			</tr>
		</tbody>
		</table>
	</li>
</ul>