{% load bookingaction %}
<ul class="messages">
	{% for booking in object_list %}
		<li>
			{% if request.user == booking.borrower %}
				<a href="{{booking.owner.get_absolute_url}}" class="m-img">
					{% if booking.owner.avatar %}
						<img src="{{booking.owner.avatar.thumbnail.url}}" width="60" height="60" alt="">
					{% else %}
						<img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
					{% endif %}
				</a>
			{% else %}
				<a href="{{booking.borrower.get_absolute_url}}" class="m-img">
					{% if booking.borrower.avatar %}
						<img src="{{booking.borrower.avatar.thumbnail.url}}" width="60" height="60" alt="">
					{% else %}
						<img src="{{ MEDIA_URL }}images/default_avatar.png" width="60" height="60" alt="">
					{% endif %}
				</a>
			{% endif %}
			<div class="m-content">
				<div>
					<p class="m-sender">
						{% if request.user == booking.borrower %}
						<a href="{{booking.owner.get_absolute_url}}">{{booking.owner.username}}</a>
						{% else %}
						<a href="{{booking.borrower.get_absolute_url}}">{{booking.borrower.username}}</a>
						{% endif %}{{booking.created_at|date:"d F Y, H:i"}}
					</p>
					<div class="m-text">
						<table class="table table-bordered booking-resume">
							<tbody>
							<tr>
								<th class="b-state">{{ booking.get_state_display }}</th>
								<td><a href="{{booking.product.get_absolute_url}}" class="b-title">{{booking.product.summary}}</a> <a href="{{booking.get_absolute_url}}" class="b-more">Voir le détail</a></td>
							</tr>
							<tr>
								<th>Début</th>
								<td>{{booking.started_at|date:"l d F Y, H:i"}}</td>
							</tr> 
								<th>Fin</th>
								<td>{{booking.ended_at|date:"l d F Y H:i"}}</td>
							</tr>
							<tr>
								<th>Montant</th>
								<td>{{booking.total_amount}} &euro;</td>
							</tr>
							<tr class="b-action">
								{% bookingaction request booking %}
							</tr>
							</tbody>
						</table>
					</div>
					<span class="message-dial"></span>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
