{% load bookingaction i18n %}
{% if object_list %}
<ul class="booking-list">
	{% for booking in object_list %}
		<li>
			<table class="table table-bordered booking-resume">
				<tbody>
				<tr>
					<th class="b-state">{{ booking.get_state_display }}</th>
					<td><a href="{{booking.get_absolute_url}}" class="b-title">{{booking.product.summary|capfirst}}</a> <a href="{{booking.get_absolute_url}}" class="b-more"> ({% trans "Voir le détail" %})</a></td>
				</tr>
				<tr>
					<th>{% trans "Début" %}</th>
					<td class="align-center">{{booking.started_at|date:"l d F Y H:i"|capfirst}}</td>
				</tr> 
					<th>{% trans "Fin" %}</th>
					<td class="align-center">{{booking.ended_at|date:"l d F Y H:i"|capfirst}}</td>
				</tr>
				<tr>
					<th>{% trans "Montant" %}</th>
					<td class="align-center"><b>{{booking.total_amount}} &euro;</b></td>
				</tr>
				<tr class="b-action">
					<td colspan="2">{% bookingaction request booking %}</td>
				</tr>
				</tbody>
			</table>
		</li>
	{% endfor %}
</ul>
{% else %}
<p style="text-align: center; margin-top: 60px;">{% trans "Pas de réservation" %}</p>
{% endif %}