{% load i18n %}


{% if is_multipart %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
{% else %}
<form class="form-horizontal" method="post" action="">
{% endif %}
{% csrf_token %}
    {% for formfield in form %}
    <div class="control-group {% if formfield.errors %} error {% endif %}">
        <label class="control-label" for="{{ formfield.id_for_label }}">{{ formfield.label }} {% if formfield.field.required %}*{% endif %}</label>
        <div class="controls">
            {{ formfield }}
            <p class="help-block">{{ formfield.help_text }}</p>
            {% if formfield.errors %}
            <span class="help-inline">
                {% for error in formfield.errors %}
                    {{ error|escape }}
                {% endfor %}
            </span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="control-group">
        <label class="control-label">{% trans "Conditions générales" %}</label>
        <div class="controls">
            {% include "accounts/partials/terms.html" %}
            <p>
                {% blocktrans %}
                    En cliquant sur <strong>"Continuer"</strong> en dessous, vous acceptez <a href="/conditions-generales/" target="_blank">les conditions générales</a>.
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="form-actions">
        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
        {% if product %}
        {% else %}
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans "Continuer" %}</button>
    </div>
</form>