{% load i18n %}
{% if form.is_multipart %}
<form enctype="multipart/form-data" class="form-horizontal" method="post" action="">
{% else %}
<form class="form-horizontal" method="post" action="">
{% endif %}
{% csrf_token %}
    {% for fieldset in form.fieldsets %}
    {% if fieldset.boundfields|length > 0 %}
    <fieldset class="{{ fieldset.classes }}">
        {% if fieldset.legend %}
        <legend>{{ fieldset.legend }}</legend>
        {% endif %}
        {% for formfield in fieldset %}
        {% if formfield.name == "addresses__address1"%}<div id="newAddress">{% endif %}
        {% if formfield.name == "phones__phone"%}<div id="newNumber">{% endif %}
        <div class="control-group {% if formfield.errors %} error {% endif %} {% if formfield.name == 'addresses'%}addresses{% endif %}{% if formfield.name == 'phones'%}phones{% endif %}"%}>
            <label class="control-label" for="{{ formfield.id_for_label }}">{{ formfield.label }} {% if formfield.field.required %}*{% endif %}</label>
            <div class="controls">
                {% if formfield.name == 'avatar' %}<img src="{{ fb_image }}"/>{% endif %}
                {{ formfield }}
                {% if formfield.name == "addresses__address1"%}
                <span class="help-inline"><a href="#" id="cancelNewAddress" style="font-family: 'ubuntu'; color: red;">- {% trans "Annuler la nouvelle adresse"%}</a></span>
                {% endif %}
                {% if formfield.name == "phones__phone"%}
                <span class="help-inline"><a href="#" id="cancelNewPhone" style="font-family: 'ubuntu'; color: red;">- {% trans "Annuler le nouveau numéro"%}</a></span>
                {% endif %}
                {% if formfield.name == "addresses"%}
                <span class="help-inline"><a href="#" id="addNewAddress" style="font-family: 'ubuntu';">+ {% trans "Ajoutez une adresse"%}</a></span>
                {% endif %}
                {% if formfield.name == "phones"%}
                <span class="help-inline"><a href="#" id="addNewPhone" style="font-family: 'ubuntu';">+ {% trans "Ajoutez un numéro"%}</a></span>
                {% endif %}
                <p class="help-block">{{ formfield.help_text }}</p>
                {% if formfield.errors %}
                    <span class="help-inline">
                    {% for error in formfield.errors %}
                        {{ error|escape }}
                    {% endfor %}
                    </span>
                {% endif %}
            </div>
        </div>
        {% if formfield.name == "addresses__country" or formfield.name == "phones__phone"%}</div>{% endif %}
        {% endfor %}
    </fieldset>
    {% endif %}
    {% endfor %}
    <fieldset>
        <legend>Conditions générales</legend>
        <div class="control-group terms-group">
            {% include "accounts/partials/terms.html" %}
            <p>
            {% blocktrans %}
                En cliquant sur <strong>"Continuer"</strong> en dessous, vous acceptez <a href="/conditions-generales/" target="_blank">les conditions générales</a>.
            {% endblocktrans %}
            </p>
        </div>
    </fieldset>
    <div class="form-actions">
        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
        {% if product %}
        {% else %}
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans "Continuer" %}</button>
    </div>