{% load i18n cache %}
{% cache 900 patron_details_info patron.pk %}
{% with patron.languages as languages %}
    {% with languages.count as languages_count %}
    {% if patron.work or patron.school or languages_count or patron.idn_session %}
    <div class="profil-block">
        <h3>Plus d'info</h3>
        {% if patron.idnsession %}
            <idn:badge rel="{{ patron.idn_session.idn_id}}" style="margin-bottom: 10px; margin-left:-18px;"></idn:badge>
        {% endif %}
        {% if patron.work %}
            <h4>{% trans "Travail" %}</h4>
            <p>{{ patron.work }}</p>
        {% endif %}
        {% if patron.school %}
            <h4>{% trans "Etudes" %}</h4>
            <p>{{patron.school}}</p>
        {% endif %}
        {% if languages_count %}
            <h4>{% trans "Languages Parlées" %}</h4>
            <p>{{ languages.all|join:", "}}</p>
        {% endif %}
    </div>{# profil-block #}
    {% endif %}
    {% endwith %}
{% endwith %}
{% endcache %}