{% load i18n %}
<table class="answer-stats">
    <tr>
        <th class="answer-rate">{% trans "Taux de réponse" %}</th>
        <td>
        {% if patron.response_rate != None %}
        	{{patron.response_rate|floatformat:"0"}}%
        {% else %}
	        {% trans "Personne ne le pas encore contacté, soyez le premier!" %}
        {% endif %}
</td>
    </tr>
    <tr>
        <th class="answer-time">{% trans "Temps de réponse moyen" %}</th><td>{{patron.response_time|default_if_none:"Ce membre n'a jamais repondu"}}</td>
    </tr>
</table>