include ../jade/_mixins

aside.tabs-vertical-static.pull-right.lg(ng-show="messageThread && messageThread.product")
  .section-header: h4.text-center Réservation associé à :
  ul.scrollbar-custom
    li.tab-vertical
      .section-content
        {% verbatim %}
        img(data-ng-src="{{messageThread.product.picture}}, alt="", width="100%")
        h3.indent-xs-v: a(href="#").text-underline-hover: b(ng-bind="messageThread.product.summary")
        p.text-gray
          i.icon-lg.flaticon.stroke.location-pin-3 &nbsp;
          | {{messageThread.product.address.city}},&nbsp;
          | {{messageThread.product.address.zipcode}}
        p.text-gray.indent-sm-v
          {% endverbatim %}
          +average-rate("messageThread.product.stats.average_rating")
          +rate-counter("messageThread.product.stats.ratings_count")
          +number-of-comments("messageThread.product.stats.bookings_count")
        {% verbatim %}
        .block-with-thumbnail
          .col-thumbnail
            .thumbnail.round: a(href="#")
              img(data-ng-src="{{messageThread.product.owner.avatar.thumbnail}}", alt="{{messageThread.product.owner.username}}", width="40", height="40")
          .col-exposition
            a(href="#").text-underline-hover.text-gray
              h4.indent-xs-h {{messageThread.product.owner.first_name}} {{messageThread.product.owner.last_name}}
        {% endverbatim %}

    li.tab-vertical: .section-content
        include ./_details_reservation
        include ./_form_reservation
