form(action="")
  each type in ["DU", "AU"]
    .indent-sm-v.select-gradient.without-search.date-picker
      .form-group
        .input-group
          span.input-group-addon #{type}
          input(type="text", placeholder = "dd/mm/yyyy")
          span.input-group-addon
            i.fa.fa-calendar.fa-lg.text-gray
      .form-group
        select
          each time in timing
            option(value="#{time}") #{time}

  ul.zebra-list
    li
      .col-xs-4 Durée
      .col-xs-8 4 jours et 3 heures
    li
      .col-xs-4 Prix
      .col-xs-8.text-success 350€
    li
      .col-xs-4 Caution
      .col-xs-8 400€
  .row
    p.text-gray.indent-sm-v.text-center Assurance incluse
    button(type="submit").btn.text-white.bg-success-hover.col-xs-8.col-xs-offset-2 Procédez à la réservation