form(action="")
  -var items = ["Du", "Au"]
  each item in items
    .row.date-picker
      .table-cell
        .table-cell: span #{item}
        .table-cell
          input(type="text", placeholder="").date
          i.flaticon.stroke.calendar-3
      .table-cell.without-search
        select
          each time in timing
            option(value="#{time}") #{time}

  table.calendar.bd-wrap.indent-md-t: tbody
    tr
      td Durée
      td 4 jours et 3 heures
    tr
      td Prix
      td.text-success 350€
    tr
      td Caution
      td 400€
  .row
    p.text-gray.indent-sm-v.text-center Assurance incluse
    button(type="submit").btn.text-white.bg-success-hover.col-xs-8.col-xs-offset-2 Procédez à la réservation