section.pull-nothing(ng-hide="messageThreadList && messageThreadList.length > 0")
  .notification-empty
    .notification-container
      i.icon-5x.indent-sm-b.flaticon.stroke.mail
      h2 Pas encore de conversation
      p.indent-md-v.text-black
        | Avant de faire une demande réservation, il est possible d'envoyer un message au propriétaire
      a(href="#").btn-inline.bg-success-hover.text-white Commencer a rechercher une ànnonce