<!DOCTYPE html>
<html lang="fr"></html>
<head>
  <title>e-loue</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="../../../static/css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../../static/css/chosen.min.css">
  <link rel="stylesheet" href="../../../static/css/styles.css">
  <link rel="shortcut icon" href="../../../static/img/favicon.ico">
  <!-- jQuery-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <!-- for IE < 9 -->
  <!-- html5 tags supported-->
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <!-- palceholder supported-->
  <script src="http://jamesallardice.github.io/Placeholders.js/assets/js/placeholders.min.js"></script>
  <!-- selectivizr-->
  <script src="../../../static/js/selectivizr.js"></script>
  <!-- custom scrollbar -->
  <!-- http://manos.malihu.gr/jquery-custom-content-scroller/-->
  <script src="../../../static/js/jquery.mCustomScrollbar.js"></script>
  <!-- textarea autoresize -->
  <!-- http://www.jacklmoore.com/autosize/-->
  <script src="../../../static/js/jquery.autosize.js"></script>
  <!-- custom select -->
  <!-- http://harvesthq.github.io/chosen/-->
  <script src="../../../static/js/chosen.jquery.min.js"></script>
  <!-- my script-->
  <script src="../../../static/js/dashboard_scripts.js"></script>
</head>
<body>
  <div class="container-full-screen">
    <header>header</header>
    <article class="dashboard">
      <nav class="bg-success">
        <ul>
          <li><a href="../dashboard" class="text-success-dark"><i class="fa fa-home"></i>Dashboard</a></li>
          <li><a href="../messages" class="text-success-dark"><i class="fa fa-envelope-o"></i>Messages</a></li>
          <li><a href="../booking" class="text-success-dark"><i class="fa fa-shield"></i>Booking</a></li>
          <li><a href="../items" class="text-success-dark"><i class="fa fa-th-list"></i>Items</a></li>
          <li><a href="../account/profil.html" class="text-success-dark"><i class="fa fa-user"></i>Account</a></li>
        </ul>
      </nav>
      <section class="tabs-vertical-active sm scrollbar-custom">
        <ul>
          <li class="block_with_thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-gray text-overflow small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="block_with_thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-gray text-overflow small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="block_with_thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-gray text-overflow small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="block_with_thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-gray text-overflow small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="block_with_thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-gray text-overflow small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="block_with_thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-gray text-overflow small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
        </ul>
      </section>
      <section class="tabs-vertical-static md">
        <ul class="scrollbar-custom">
          <li class="block_with_thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover">
                <h3>Gaspard</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="block_with_thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#julien_dupré_homepage"><img src="../../../static/img/home-products/owner_small.png" alt="Dupré photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#julien_dupré_homepage" class="text-underline-hover">
                <h3>Julien</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
        </ul>
        <form action="send-message" class="send-dialog-message clearfix">
          <textarea id="message-text" name="message-text" tabindex="1" placeholder="Rédigez votre message ici..."></textarea>
          <button type="submit" class="btn bg-success-hover text-white pull-right">Envoyez</button>
        </form>
      </section>
    </article>
  </div>
</body>