<!DOCTYPE html>
<html lang="fr"></html>
<head>
  <title>e-loue</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <link rel="stylesheet" href="../../../static/css/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="../../../static/css/chosen.min.css">
  <link rel="stylesheet" href="../../../static/css/styles.css">
  <link rel="shortcut icon" href="../../../static/img/favicon.ico">
  <!-- jQuery-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <!-- for IE < 9 -->
  <!-- html5 tags supported-->
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <!-- palceholder supported-->
  <script src="http://jamesallardice.github.io/Placeholders.js/assets/js/placeholders.min.js"></script>
  <!-- selectivizr-->
  <script src="../../../static/js/selectivizr.js"></script>
  <!-- custom scrollbar -->
  <!-- http://manos.malihu.gr/jquery-custom-content-scroller/-->
  <script src="../../../static/js/jquery.mCustomScrollbar.js"></script>
  <!-- textarea autoresize -->
  <!-- http://www.jacklmoore.com/autosize/-->
  <script src="../../../static/js/jquery.autosize.js"></script>
  <!-- custom select -->
  <!-- http://harvesthq.github.io/chosen/-->
  <script src="../../../static/js/chosen.jquery.min.js"></script>
  <!-- my script-->
  <script src="../../../static/js/dashboard_scripts.js"></script>
</head>
<body>
  <div class="container-full-screen">
    <header>header</header>
    <article class="dashboard">
      <nav class="bg-success">
        <ul>
          <li><a href="../dashboard" class="text-success-dark"><i class="fa fa-home"></i>Dashboard</a></li>
          <li><a href="../messages" class="text-success-dark"><i class="fa fa-envelope-o"></i>Messages</a></li>
          <li><a href="../booking" class="text-success-dark"><i class="fa fa-shield"></i>Booking</a></li>
          <li><a href="../items" class="text-success-dark"><i class="fa fa-th-list"></i>Items</a></li>
          <li><a href="../account/profil.html" class="text-success-dark"><i class="fa fa-user"></i>Account</a></li>
        </ul>
      </nav>
      <section class="tabs-vertical-active sm scrollbar-custom">
        <ul>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-overflow text-gray small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-overflow text-gray small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-overflow text-gray small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-overflow text-gray small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-overflow text-gray small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-overflow text-gray small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo" width="20" height="20"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover pull-left">
                <h3 class="small">Gaspard</h3></a><span class="time-badge pull-right">15h42</span>
              <h5 class="text-overflow small text-gray-stronger clear-both">Location BMW - 520 Touring</h5>
              <p class="text-overflow text-gray small">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
        </ul>
      </section>
      <section class="tabs-vertical-static md">
        <ul class="scrollbar-custom messages-container">
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover">
                <h3>Gaspard</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#julien_dupré_homepage"><img src="../../../static/img/home-products/owner_small.png" alt="Dupré photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#julien_dupré_homepage" class="text-underline-hover">
                <h3>Julien</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover">
                <h3>Gaspard</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#julien_dupré_homepage"><img src="../../../static/img/home-products/owner_small.png" alt="Dupré photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#julien_dupré_homepage" class="text-underline-hover">
                <h3>Julien</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover">
                <h3>Gaspard</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#julien_dupré_homepage"><img src="../../../static/img/home-products/owner_small.png" alt="Dupré photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#julien_dupré_homepage" class="text-underline-hover">
                <h3>Julien</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover">
                <h3>Gaspard</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#julien_dupré_homepage"><img src="../../../static/img/home-products/owner_small.png" alt="Dupré photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#julien_dupré_homepage" class="text-underline-hover">
                <h3>Julien</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#gaspard_kroutchev_homepage"><img src="../../../static/img/home-products/tenant_small.png" alt="Kroutchev photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#gaspard_kroutchev_homepage" class="text-underline-hover">
                <h3>Gaspard</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
          <li class="tab-vertical block-with-thumbnail">
            <div class="col-thumbnail">
              <div class="thumbnail round"><a href="#julien_dupré_homepage"><img src="../../../static/img/home-products/owner_small.png" alt="Dupré photo"></a></div>
            </div>
            <div class="col-exposition"><a href="#julien_dupré_homepage" class="text-underline-hover">
                <h3>Julien</h3></a>
              <p class="small text-gray-light">28.05.2014 15h42</p>
              <p class="normal text-gray text-justify">Bonjour, je voulais savoir si la voiture possède un toit ouvrant car nous pensions partir au soleil pour les vacances et si on ne peut pas profiter du soleil c’est pas top... Merci d’avance</p>
            </div>
          </li>
        </ul>
        <form action="send-message" class="send-dialog-message clearfix">
          <div class="textarea-wrapper">
            <textarea id="message-text" name="message-text" tabindex="1" placeholder="Rédigez votre message ici..." class="expand"></textarea>
          </div>
          <button type="submit" class="btn bg-success-hover text-white">Envoyez</button>
        </form>
      </section>
      <aside class="tabs-vertical-static">
        <div class="section-header">
          <h4 class="text-center indent-xs-v">Réservation associé à :</h4>
        </div>
        <ul class="scrollbar-custom">
          <li class="tab-vertical">
            <div class="section-content"><img src="../../../static/img/carousel-product/2.jpg" alt="" width="300">
              <h3 class="indent-xs-v"><a href="#" class="text-underline-hover"><b>BMW 520 Touring Luxe</b></a></h3>
              <p class="text-gray"><i class="fa fa-map-marker fa-lg">&nbsp;</i>Nice,&nbsp;
                02200
              </p>
              <p class="text-gray indent-sm-v"><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span><span class="rate-counter">32</span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span>
              </p>
              <div class="block-with-thumbnail">
                <div class="col-thumbnail">
                  <div class="thumbnail round"><a href="#julien_dupré_homepage"><img src="../../../static/img/home-products/owner_small.png" alt="Dupré photo" width="40" height="40"></a></div>
                </div>
                <div class="col-exposition"><a href="#julien_dupré_homepage" class="text-underline-hover text-gray">
                    <h4 class="indent-xs-h">Julien Dupré</h4></a></div>
              </div>
            </div>
          </li>
          <li class="tab-vertical">
            <div class="section-content">
              <form action="">
                <div class="indent-sm-v select-gradient without-search date-picker">
                  <div class="form-group">
                    <div class="input-group"><span class="input-group-addon">DU</span>
                      <input type="text" placeholder="dd/mm/yyyy"><span class="input-group-addon"><i class="fa fa-calendar fa-lg text-gray"></i></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <select>
                      <option value="01.00">01.00</option>
                      <option value="02.00">02.00</option>
                      <option value="03.00">03.00</option>
                      <option value="04.00">04.00</option>
                      <option value="05.00">05.00</option>
                      <option value="06.00">06.00</option>
                      <option value="07.00">07.00</option>
                      <option value="08.00">08.00</option>
                      <option value="09.00">09.00</option>
                      <option value="10.00">10.00</option>
                      <option value="11.00">11.00</option>
                      <option value="12.00">12.00</option>
                      <option value="13.00">13.00</option>
                      <option value="14.00">14.00</option>
                      <option value="15.00">15.00</option>
                      <option value="16.00">16.00</option>
                      <option value="17.00">17.00</option>
                      <option value="18.00">18.00</option>
                      <option value="19.00">19.00</option>
                      <option value="20.00">20.00</option>
                      <option value="21.00">21.00</option>
                      <option value="22.00">22.00</option>
                      <option value="23.00">23.00</option>
                    </select>
                  </div>
                </div>
                <div class="indent-sm-v select-gradient without-search date-picker">
                  <div class="form-group">
                    <div class="input-group"><span class="input-group-addon">AU</span>
                      <input type="text" placeholder="dd/mm/yyyy"><span class="input-group-addon"><i class="fa fa-calendar fa-lg text-gray"></i></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <select>
                      <option value="01.00">01.00</option>
                      <option value="02.00">02.00</option>
                      <option value="03.00">03.00</option>
                      <option value="04.00">04.00</option>
                      <option value="05.00">05.00</option>
                      <option value="06.00">06.00</option>
                      <option value="07.00">07.00</option>
                      <option value="08.00">08.00</option>
                      <option value="09.00">09.00</option>
                      <option value="10.00">10.00</option>
                      <option value="11.00">11.00</option>
                      <option value="12.00">12.00</option>
                      <option value="13.00">13.00</option>
                      <option value="14.00">14.00</option>
                      <option value="15.00">15.00</option>
                      <option value="16.00">16.00</option>
                      <option value="17.00">17.00</option>
                      <option value="18.00">18.00</option>
                      <option value="19.00">19.00</option>
                      <option value="20.00">20.00</option>
                      <option value="21.00">21.00</option>
                      <option value="22.00">22.00</option>
                      <option value="23.00">23.00</option>
                    </select>
                  </div>
                </div>
                <ul class="zebra-list">
                  <li>
                    <div class="col-xs-4">Durée</div>
                    <div class="col-xs-8">4 jours et 3 heures</div>
                  </li>
                  <li>
                    <div class="col-xs-4">Prix</div>
                    <div class="col-xs-8 text-success">350€</div>
                  </li>
                  <li>
                    <div class="col-xs-4">Caution</div>
                    <div class="col-xs-8">400€</div>
                  </li>
                </ul>
                <div class="row">
                  <p class="text-gray indent-sm-v text-center">Assurance incluse</p>
                  <button type="submit" class="btn text-white bg-success-hover col-md-12 col-lg-6 col-lg-offset-3">Procédez à la réservation</button>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </aside>
    </article>
  </div>
</body>