extends ../jade/_base_dashboard

block variables
  -var STATIC_URL = "../../../static/"
  -var src_img = "dashboard/messages"
  -var messages_is_empty = false
  -var conversations_is_selected = false
  -var is_reservation = true

block content
  if messages_is_empty
    include ./_notification_empty_messages
  else
    include ./_section_dialogs

    if conversations_is_selected
      include ./_notification_no_selected_dialog
    else
      include ./_aside_product_detail
      include ./_section_communication
