extends ../jade/_base_dashboard

block append variables
  -STATIC_URL = "../../../static/"
  -var messages_is_empty = false
  -var conversations_is_selected = false
  -var is_reservation = true

block content-view
  if messages_is_empty
    include ./_notification_empty_messages
  else
    include ./_section_dialogs

    .content-view
      if conversations_is_selected
        include ./_notification_no_selected_dialog
      else
        include ./_aside_product_detail
        include ./_section_communication
