.container.indent-v-lg
  h2.text-center.text-uppercase
    | « IL ÉTAIT UNE FOIS...
    br
    | UNE COMMUNAUTÉ QUI GRANDIT »
  
  .text-justify.indent-t-lg
    p
      | Pourquoi dépenser une fortune dans votre robe de mariée alors que vous ne la porterez qu’une fois dans votre vie&nbsp;?
      br
      | Comment éviter de courir les magasins à la dernière minute pour se trouver une tenue en vue d’une cérémonie&nbsp;?
      br
      | Pourquoi investir dans un costume pour votre enfant, alors qu’il ne lui ira déjà plus l’an prochain&nbsp;?
      br
      | Comment rentabiliser les tenues que vous avez dans votre placard et que vous ne portez pas tous les jours&nbsp;?
      br
      | Autant de questions et une seule et même réponse&nbsp;: 
      b la location&nbsp;!

    p
      | Dressbooking est une marketplace permettant aux particuliers et aux professionnels de la location de louer et/ou de
      | mettre en location des tenues et des accessoires de cérémonies : robes de prêt-à-porter et de luxe, chaussures, smokings, jaquette, chapeaux, bijoux...

    p
      | Les propriétaires gagnent de l’argent et rentabilisent leurs biens en les mettant à louer sur Dressbooking.
      br
      | Les locataires économisent de l’argent en louant des tenues près de chez eux, au lieu de les acheter.

  h4: b
    | C’est simple, pratique, responsable, économique, écologique, convivial... et surtout 100% sécurisé&nbsp;!

  h3.text-uppercase.indent-t-md
    | L’histoire de Dressbooking
  p
    | Dressbooking est né d'une belle rencontre entre Alexandre, Isaure et Aurélie au mois de juin 2014!
    | Isaure et Aurélie avaient l’habitude de collaborer régulièrement sur des projets mode. Alors que la saison des mariages battait son plein, Isaure spécialisée dans la location de robes à Paris depuis 6 ans, a remarqué que la demande de location était grandissante dans toutes la France.
    br
    | Ensemble, elles ont constaté que cette tendance se confirmait sur Internet, où de plus en plus de filles
    | cherchaient à se louer des tenues sur les réseaux sociaux. Pourtant, aucun site n’était dédié à ce mode 
    | d’échange. Isaure et Aurélie ont donc pensé à créer une plateforme collaborative spécialisée dans la location
    | de tenues et d’accessoires de cérémonie entre particuliers. Pour pouvoir faire aboutir ce projet, il ne manquait
    | que la technologie, la force de frappe et un maillon fort masculin. Alexandre, PDG d’e-loue et précurseur sur 
    | le domaine de la location d’objets entre particuliers sur Internet depuis 2007, a donc rejoint naturellement le　
    | projet : Dressbooking était né !
  h3.text-uppercase.indent-t-md
    | l’équipe Dressbooking
  p
    | L’équipe Dressbooking c’est bien entendu ses trois fondateurs : Isaure, Aurélie et Alexandre mais c’est
    | aussi une équipe qui fait tout son possible pour que vous soyez satisfaits de nos services et que vous 
    | recommandiez Dressbooking à votre entourage ☺. Nous nous battons tous les jours pour faire évoluer les 
    | mentalités et démontrer au plus grand nombre qu’il existe une alternative à l’achat. Avant, on payait pour 
    | posséder, demain, on paiera pour utiliser.

  h4: b
    | Avec Dressbooking, vous êtes déjà demain !

  h3.text-uppercase.indent-t-md
    | les valeurs de Dressbooking
  p
    | Depuis toujours, nous avons axé les développements Dressbooking autour de 6 valeurs fortes, que nous tâchons de prendre en compte dans toutes nos évolutions et toutes nos 
    | décisions&nbsp;: Nous pensons en effet que notre rôle, en tant que pionnier de la consommation collaborative, est d’utiliser les évolutions technologiques pour rapprocher
    | les gens, leur apporter de la convivialité, du pouvoir d’achat, et de la confiance. Ces valeurs qui nous animent au quotidien sont 
    b Proximité, Simplicité, Qualité, Ecoute, Honnêteté et Performance.
