{% load i18n %}
<div class="bk-status">
    {% if booking.state == booking.STATE.AUTHORIZING %}
      {% if booking.borrower == user %}
       <p>
        <img src="{{ MEDIA_URL }}images/waiting.gif" alt="{% trans "en cours" %}" /><br />
    	<span>{% trans "En cours de validation" %}...</span>
       </p>
      {% endif %}
     {% endif %}
     {% if booking.state == booking.STATE.AUTHORIZED %}
     <p>
      <img src="{{ MEDIA_URL }}images/dcns/status_wait.png" alt="{% trans "En attente" %}" class="wait" />
      {% if booking.owner == user %}
       <form action="{% url booking_accept booking.pk.hex %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="state" value="{{ booking.STATE.PENDING }}"/>
        <button class="bk-accept btn small-green">{% trans "Accepter" %}</button>
       </form>
       <form class="bk-refuse" action="{% url booking_reject booking.pk.hex %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="state" value="{{ booking.STATE.REJECTED }}"/>
        <button class="bk-refuse btn small-orange">{% trans "Refuser" %}</button>
       </form>
      </p>
      {% endif %}
      {% if booking.borrower == user %}
       <form class="bk-refuse" action="{% url booking_cancel booking.pk.hex %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="state" value="{{ booking.STATE.CANCELED }}"/>
        <button class="bk-cancel btn bk-orange">{% trans "Annuler" %}</button>
       </form>
      </p>
      {%endif %}
     {% endif %}
     {% if booking.state == booking.STATE.REJECTED %}
     <p>
      <img src="{{ MEDIA_URL }}images/dcns/status_rejected.png" alt="{% trans "Rejetée" %}" class="rejected">
     </p>
     {% endif %}
     {% if booking.state == booking.STATE.PENDING %}
     <p>
      <img src="{{ MEDIA_URL }}images/dcns/status_booking.png" alt="{% trans "Réservée" %}" class="booking">
      <form class="bk-cancel" action="{% url booking_cancel booking.pk.hex %}" method="post">
       {% csrf_token %}
       <input type="hidden" name="state" value="{{ booking.STATE.CANCELED }}"/>
       <button class="bk-cancel btn bk-orange">{% trans "Annuler" %}</button>
      </form>
     </p>
     {% endif %}
     {% if booking.state == booking.STATE.ONGOING %}
     <p>
      <img src="{{ MEDIA_URL }}images/dcns/status_renting.png" alt="{% trans "En cours" %}" class="renting">
      <a href="{% url booking_incident booking.pk.hex %}" class="bk-warning">{% trans "Signaler un incident" %}</a>
     </p>
     {% endif %}
     {% if booking.state == booking.STATE.ENDED %}
     <p>
      <img src="{{ MEDIA_URL }}images/dcns/status_finish.png" alt="{% trans "Terminée" %}" class="finish">
      {% if booking.owner == user %}
       <form class="bk-cancel" action="{% url booking_close booking.pk.hex %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="state" value="{{ booking.STATE.CLOSED }}"/>
        <button class="bk-close btn long-green">{% trans "Clôturer" %}</button>
       </form>
      </p>
      {% endif %}
     {% endif %}
     {% if booking.state == booking.STATE.CLOSING %}
      <p>
       <img src="{{ MEDIA_URL }}images/waiting.gif" alt="{% trans "en cours" %}" /><br />
       <span>{% trans "En cours de clôture" %}...</span>
      </p>
     {% endif %}
     {% if booking.state == booking.STATE.CLOSED %}
     <p>
      <img src="{{ MEDIA_URL }}images/dcns/status_ended.png" alt="{% trans "Clôturée" %}" class="ended">
      <a href="{% url booking_incident booking.pk.hex %}" class="bk-warning">{% trans "Signaler un incident" %}</a>
     </p>
     {% endif %}
</div>