<a href="{{ comment.writer.get_absolute_url }}" class="comment-img">
    <img src="images/avatars/product_page_a1fc68d292034f45b9ce559bb88d9bec.jpeg" width="60" height="60" alt=""/>
</a>
<div class="comment-content">
    <div>
        <p class="comment-writter">
            <a href="/loueur/benoit/">qto870</a> Jeudi 12 janvier 2012
            <span class="stars empty"><span class="stars filled_1"></span></span>
        </p>
        <p class="comment-text">
            Great place - great city! To put it in a nutshell it was a very nice trip and the apartment is perfect for everybody who wants a nice place in edinburgh for a few days. Thank you, Samira!
        </p><!-- comment-content -->
        <span class="comment-dial"></span>
    </div>
</div>