{% load i18n %}
<div class="comment-content">
    <div class="comment-title">
        <p class="comment-meta">{% trans "Le" %} {{ comment.created_at|date:"d F Y" }} (<a href="{{ comment.booking.get_absolute_url }}">location {{ comment.booking.product.summary }}</a>) :</p>
        <p class="comment-writter">
            <span class="stars empty">
                <span class="stars filled_{{ comment.note }}"></span>
            </span>
        </p>
        <p class="clear"></p>
    </div>
    <div class="comment-comment">
        {{ comment.comment }}
    </div>
</div>