<section class="tabs-vertical-active sm scrollbar-custom">
    <ul>
        <li class="tab-vertical block-with-thumbnail" data-ng-repeat="thread in messageThreadList track by thread.id">
            <div class="col-thumbnail">
                <div class="thumbnail round">
                    <a ui-sref="messages.detail({id: thread.id})">
                        <img data-ng-src="{{thread.sender.avatar.thumbnail}}" alt="{{thread.sender.username}}" width="20" height="20">
                    </a>
                </div>
            </div>
            <div class="col-exposition"><a ui-sref="messages.detail({id: thread.id})" class="text-underline-hover pull-left">
                <h3 class="small">{{thread.sender.username}}</h3></a><span class="time-badge pull-right">{{thread.last_message.sent_at}}</span>
                <h5 class="text-overflow small text-gray-stronger clear-both">{{thread.subject}}</h5>
                <p class="text-overflow text-gray small">{{thread.last_message.body}}</p>
            </div>
        </li>
    </ul>
</section>

<div ui-view class="content-view"></div>