.breadcrumb > li {
	background: transparent url("../../images/b-sign.png") no-repeat right 7px !important;
}


.nav-bar li a { font-size: 14px !important; }

.new-profils .np-title { margin: 0 15px !important;}



