<!DOCTYPE html>
<!--[if IE 6]><![endif]-->
<html lang="fr" class="no-js">
  <head>
    <meta charset="iso-8859-1" />
    <title>{% block title %}20minutes.fr{% endblock%}</title>
    <link rel="shortcut icon" href="http://www.20minutes.fr/favicon.ico" />
    
    <script type="text/javascript">
              var pageid=89679;
        var sas_target='';
          </script>

    <link rel="stylesheet" type="text/css" href="http://cache.20minutes.fr/minified/common-prepend-1291996081.css" />
<script type="text/javascript" src="http://cache.20minutes.fr/minified/common-prepend-1274962777.js"></script>
{% load compressed %}{% block head %}{% compressed_css 'twenty' %}{% endblock %}<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3222681-1']);
  _gaq.push(['_setDomainName', '.20minutes.fr']);
  //GA_VARS//
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    <!--[if lte IE 7]>
    	<link rel="stylesheet" type="text/css" href="http://cache.20minutes.fr/reboot/css/ie/ie-6-7-min.css" media="screen" />
    <![endif]-->
		<!--[if lte IE 6]>
    	<link rel="stylesheet" type="text/css" href="http://cache.20minutes.fr/reboot/css/ie/ie-6-min.css" media="screen" />		
		<![endif]-->
  </head>

<body >

<ul id="mn-shorcuts" class="hidden">
	<li><a href="#editions-locales"a>Sauter aux &eacute;ditions locales</a></li>
	<li><a href="#navigation">Sauter &agrave; la navigation</a></li>
	<li><a href="#mn-layout">Sauter au contenu</a></li>
</ul>	
	
<div class="mn-hat">
	<div class="mn-hat-inner mn-line">
		<div class="mn-container">
			<ul class="mn-tabs">
				<li id="mn-hat-login" class="mn-tab first">
				 <div class="mn-tab-inner first" id="logins">
				 <a href="/inscription.php">Créer un compte</a>
				 <a href="/login/login" class="mn-login">S'identifier</a>
				 </div>
				</li>
				<script type="text/javascript">
				YUI().use('*', function(Y) {
          var my20mn = Y.Cookie.get('my20minutes');

          if (my20mn) {
            var data = unescape(my20mn).split('|');
            var username = data[1];
        		var node = Y.one("#logins");
        		node.setContent('Connecté : ' + username + '<br /><a href="/login/logout">Se déconnecter</a>');
          }
        });
				</script>
				<li id="mn-hat-newsletter" class="mn-tab">
				 <div class="mn-tab-inner">
					<div class="mn-label">Newsletter :</div>				
					<form action="/profile/multisubscription" method="post" class="mn-form">
						<input id="mn-newsletter-subscription" class="mn-input" type="text"  value="" placeholder="Email" />
						<button>Ok</button>
					</form>
				 </div>
				</li>
				<li id="mn-hat-date" class="mn-tab">
				 <div class="mn-tab-inner">
				   mercredi 22 décembre 2010 13:18				 </div>
				</li>
				<li id="mn-hat-reporter" class="mn-tab">
				 <div class="mn-tab-inner">
					<a href="http://www.20minutes-vosimages.fr" id="reporter-mobile">Reporter mobile</a>
				 </div>
				</li>
				<li id="mn-hat-search" class="mn-tab last">
				 <div class="mn-tab-inner last">
					<form action="/search" method="GET" id="cse-search-box" class="mn-form">
            <input type="hidden" name="cx" id="cx"           value="partner-pub-8677751285688866:k5q9x1fegyc" />
            <input type="hidden" name="cof" id="cof"         value="FORID:9" />
            <input type="hidden" name="ie" id="ie"           value="ISO-8859-1" />
            <input type="hidden" name="oe" id="oe"           value="ISO-8859-1" />
            <input type="hidden" name="hl" id="hl"           value="fr" />
            <input type="hidden" name="_client" id="client"  value="" />
            <input type="hidden" name="_forid" id="forid"    value="" />
            <input type="hidden" name="_channel" id="channel" value="" />
            <input type="hidden" name="engine" id="engine" value="20minutes" />
            <input id="mn-search-input" class="mn-input" name="q" type="text" placeholder="ex: Israël" />
						<button>Ok</button>
					</form>
				 </div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="mn-doc">

  <div class="mn-hd mn-line">

	<div class="mn-logo">
		<a href="http://www.20minutes.fr/" class="mn-logo-inner">20minutes</a>
	</div>

	<div id="mn-cities" class="mn-line">
		<strong class="mn-label">Editions locales : </strong>
		<ul id="editions-locales" class="mn-tabs">
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition bordelaise de 20minutes.fr" href="http://www.20minutes.fr/ville/Bordeaux" xtclib="header_bordeaux">Bordeaux</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition grenobloise de 20minutes.fr" href="http://www.20minutes.fr/ville/Grenoble" xtclib="header_grenoble">Grenoble</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition lilloise de 20minutes.fr" href="http://www.20minutes.fr/ville/Lille" xtclib="header_lille">Lille</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition lyonnaise de 20minutes.fr" href="http://www.20minutes.fr/ville/Lyon" xtclib="header_lyon">Lyon</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition marseillaise de 20minutes.fr" href="http://www.20minutes.fr/ville/Marseille" xtclib="header_marseille">Marseille</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition montpellierenne de 20minutes.fr" href="http://www.20minutes.fr/ville/Montpellier" xtclib="header_marseille">Montpellier</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition nantaise de 20minutes.fr" href="http://www.20minutes.fr/ville/Nantes" xtclib="header_nantes">Nantes</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition niçoise 20minutes.fr" href="http://www.20minutes.fr/ville/Nice" xtclib="header_nice">Nice</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition parisienne de 20minutes.fr" href="http://www.20minutes.fr/ville/Paris" xtclib="header_paris">Paris</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition rennaise 20minutes.fr" href="http://www.20minutes.fr/ville/Rennes" xtclib="header_nice">Rennes</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition strasbougeoise de 20minutes.fr" href="http://www.20minutes.fr/ville/Strasbourg" xtclib="header_strasbourg">Strasbourg</a></li>
      <li class="mn-tab"><a class="mn-tab-inner" title="Edition toulousaine de 20minutes.fr" href="http://www.20minutes.fr/ville/Toulouse" xtclib="header_toulouse">Toulouse</a></li>
		</ul>
	</div>

      <div id="mn-nav">
      <ul class="mn-tabs" id="navigation">
        <li class="mn-tab"><a href="http://www.20minutes.fr/actus" class="mn-tab-inner mn-bleu" xtclib="header_actualite">actualité</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/societe" class="mn-tab-inner mn-bleu" xtclib="header_societe">société</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/cinema" class="mn-tab-inner mn-rouge" xtclib="header_cinema">cinéma</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/people" class="mn-tab-inner mn-rouge" xtclib="header_people">people</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/sport" class="mn-tab-inner mn-ciel" xtclib="header_sport">sport</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/economie" class="mn-tab-inner mn-anthracite" xtclib="header_economie">économie</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/services.php" class="mn-tab-inner mn-orange" xtclib="header_services">pratique</a></li>
        <!-- -->
        <li class="mn-tab"><a href="http://www.20minutes.fr/internationale" class="mn-tab-inner mn-bleu" xtclib="header_monde">monde</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/politique" class="mn-tab-inner mn-bleu" xtclib="header_poloitique">politique</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/medias" class="mn-tab-inner mn-rouge" xtclib="header_medias">médias</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/insolite" class="mn-tab-inner mn-rouge" xtclib="header_insolite">insolite</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/sport/football" id="mn-nav-tab-football" class="mn-tab-inner mn-ciel" xtclib="header_football">foot</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/diaporamas/" class="mn-tab-inner mn-noir" xtclib="header_enimages">en images</a></li>
        <li class="mn-tab"><a href="http://lerewind.20minutes-blogs.fr" class="mn-tab-inner mn-noir" xtclib="header_lerewind">le rewind</a></li>
        <!-- -->
        <li class="mn-tab"><a href="http://www.20minutes.fr/hightech" class="mn-tab-inner mn-gris" xtclib="header_hightech">tech/web</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/sciences" class="mn-tab-inner mn-gris" xtclib="header_sciences">sciences</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/poker" class="mn-tab-inner mn-rouge" xtclib="header_poker">poker</a></li>
        <li class="mn-tab"><a href="http://www.20minutes.fr/planete" class="mn-tab-inner mn-vert-fonce" xtclib="header_planete">planète</a></li>			
        <li class="mn-tab"><a href="http://www.20minutes.fr/auto" class="mn-tab-inner mn-ciel" xtclib="header_auto">auto</a></li>
        <li class="mn-tab double"><a href="http://www.20minutes.fr/lecteurs.php" class="mn-tab-inner mn-fushia">la une des lecteurs</a></li>
      </ul>
    </div>

    <div class="mn-hd-services">
      <ul>
        <li><a class="mn-button" class="mn-button" href="http://www.20minutes.fr/pdf.php" xtclib="header_pdf">Editions PDF</a></li>
        <li><a class="mn-button" href="http://www.20minutes.fr/meteo" xtclib="header_meteo">Météo</a></li>
        <li><a class="mn-button" href="http://horoscope.20minutes.fr" xtclib="header_horoscope">Horoscope</a></li>
        <li><a class="mn-button" href="http://www.20minutes.fr/ext/privateoutlet.html" xtclib="header_privateoutlet">Vente privée</a></li>
        <li><a class="mn-button" href="http://www.20minutes.fr/assurance" xtclib="header_assurance">Assurances</a></li>
      </ul>
    </div>

    <div class="mn-ad-button">
      <div class="mn-pub-container" id="mn-pub-5668-container">
<div class="mn-pub-content"   id="mn-pub-5668-content">

<script type="text/javascript">

pubSm = 0;sas_pageid   = '3313/' + pageid;
sas_formatid = 5668;
sas_target   = '';
SmartAdServer(sas_pageid,sas_formatid,sas_target);
</script>

</div>
</div>
<script type="text/javascript">
<!--
if (!pubSm){
  document.getElementById('mn-pub-5668-container').style.display = 'none';
}
// -->
</script>
    </div>
  
</div>
<div class="mn-pub-container" id="mn-pub-1056-container">
<div class="mn-pub-content"   id="mn-pub-1056-content">

<script type="text/javascript">

pubSm = 0;sas_pageid   = '3313/' + pageid;
sas_formatid = 1056;
sas_target   = '';
SmartAdServer(sas_pageid,sas_formatid,sas_target);
</script>

</div>
</div>
<script type="text/javascript">
<!--
if (!pubSm){
  document.getElementById('mn-pub-1056-container').style.display = 'none';
}
// -->
</script>


