style
    #anchors a, #summary{color: #24bd77;}

    .footer-links a:hover{
        text-decoration: none;
    }

    h2 a:hover{
      text-decoration: none;
    }

.container(style="color:#777;")
    h2.text-uppercase.text-center תנאים כללים עבור שימוש האתר על ידי אנשים העוסקים באופן מקצועי בהשכרות
    p.text-right: em 05/10/2015
    br


.container(style="color:#777; text-align: justify;")
    br
    h2 מבוא 
    p התנאים הכלליים של חוזים מתואם עבור אנשים העוסקים באופן מקצועי בתחום ההשכרות  ת  מפרטים את התנאים שבהם יכולים להירשם לשירותים המוצעים על ידי " אי-לו השכרות ". התנאים הכלליים האלה כפופים לקבלתם על ידי הלקוחות של  "אי-לו השכרות " בשעת רישומם. לפיכך מוסכם שכל אנשי המקצוע שרשומים ב  "אי-לו השכרות " מסכימים עם תנאי השימוש הכלליים .

    h2 1.נושא התנאים הכלליים לשימוש
    p שירותי המודעות באינטרנט של www.e-loue.co.il m מנוהלים על ידי החברה  "אי-לו השכרות בע''מ "  ומאפשרים לאנשי מקצוע להשכיר חנות מקוונת על פלטפורמת החברה. קבלת תנאי השימוש הכלליים עבור החוזים המקצועיים של פלטפורמת " אי-לו השכרות " על ידי חבריה כמוה כמנדט שניתן ל" אי-לו השכרות " להציג את מוצרי החברים באתר " אי-לו השכרות " וכן גם את פרטי ההתקשרות של אנשי מקצוע . שירותיה של " אי-לו השכרות " שמורים לאנשים שמסוגלים או שמותרים באופן חוקי לחתום על חוזה חכירה, למעט קטינים.

    h2 2.הגדרות
    em כל התנאים המפורטים להלן יקבלו את המשמעות הבאה בתנאי השירות הכלליים של אי-לו השכרות משכיר אפשרי: חבר המבקש לשכור פריט ב אי-לו השכרות, לפני שמימש את חוזה ההשכרה. 
    h4 משכיר:
    p חבר שביקש  להזמין פריט והזמנתו התקבלה על ידי בעל העסק בעל הפריט.
    ul
        li משכיר בעל עסק או בעל עסק שמעמיד פריטים להשכרה : חברים בפלטפומה  אי-לו השכרות   הפועלים כבעלי 
        li מקצוע, שמעלים באינטרנט הצעות להשכרת פריטים על פלטפורמת אי-לו השכרות
    h4 חבר:
    p ביחיד או ברבים, בעל  עסק עם פריטים להשכרה או משכיר שיכול לעשות שימוש בחברת  " אי-לו השכרות   " לאחר הסכמתו לתנאים הכלליים שלה. כל חבר מתחייב לספק מידע מדויק באשר לזהותו, כתובתו ונתונים אחרים הדרושים כדי לאפשר גישה לפלטפורמת " אי-לו השכרות   " ולאפשר עדכון שינויים למידע הזה.
    h4 פריט:
    p פריטים העשויים להיות בקשר להשכרה בין המשכיר לשוכר וזאת על ידי פלטפורמת  אי-לו השכרות
    h4 פלטפורמת אי-לו השכרות
    p מבנה פונקציונלי וארגוני שהוקם על ידי  אי-לו השכרות המפגיש  בין השוכרים פריטים למשכירים  ו/או אנשי המקצוע בעלי אותם פריטים ( אתר, יישומים, ובאופן כללי יותר כל תמיכה המאפשרת את שירותיי השגת החברה אי-לו השכרות
    מחיר  מחיר כולל של ההשכרה שישלם הדייר.  במידה וקיים מרחק גדול בין הבעלים לדייר תתכן תוספת דמי משלוח. תוספת דמי המשלוח צריכה להיות מצוינת באופן ברור בתוכן המודעה.

    h4 משתמש:
    p כל אדם אשר ניגש לאתר גם אם הוא לא נרשם לאתר.

    h2 3.תהליך ההרשמה
    p הרישום לשירות אי-לו השכרות  עבור איש מקצוע "המשכיר" מתבצע בהתקשרות של נציג בעל העסק ובין נציג מכירות של אי-לו השכרות , או פיזית או טלפונית .  נציג מכירות מטעם אי-לו השכרותת  יבקש לדעת את כל הפרטים הדרושים לרישום וכן את מספר הטלפון הנייד ויגדיר תנאים תשלום עבור השירות שהוא הזמין  . לאחר מכן נציג המכירות של אי-לו השכרות יצור קשר עם איש המקצוע "המשכיר" על מנת לבנות לשביעות רצונו את החנות הווירטואלית שלו על. הפלטפורמה  של אי-לו השכרות 

    h2 4.מחירים ותנאי תשלום
    p עבור עסקאות עם אנשי המקצוע שבפלטפורמה , אי-לו השכרות  איננה מקבלת עמלה על השכרת הפריטים. אלא המשכיר המקצועי יחויב בתשלום מנוי. כדי לקבל את פרטי העלות של המנוי, יש צורך לבקש הצעת מחיר באינטרנט או בטלפון . לאחר סגירת החוזה החוזה יהיה תקף לתקופה של 12 חודשים.
    p מחויבות זאת תתחדש באופן אוטומטי אם לא הובהר אחרת לפני סיום החוזה , תשלום המנוי יעשה בהתאם למקובל אם סגירת החוזה המקורי ( כרטיס אשראי , צ'ק ,  הוראת קבע ..) . תשלום מלא בעבור המנוי נדרש בעת חתימת החוזה ולפני תחילתו.


    h2 5.סיום חוזה
    p החוזים חתומים לתקופה של 12 חודשים (למעט במקרים מיוחדים שנקבעו עם מחלקת המכירות) ומתחדשים באופן אוטומטי בסוף תקופת ההתחייבות.מעבר לתקופת ההתחייבות, החוזה מתחדש באופן אוטומטי בין הצדדים. איש המקצוע "המשכיר" רשאי לבטל את המנוי שלו לפחות חודש לפני מועד פירעון החוזה באמצעות הודעה לחברה  (תאריך קבלת המכתב על יד אי-לו השכות ישמש כתאריך בקשת סיום החוזה). בכל המקרים, איש המקצוע "המשכיר" חייב להודיע לאי-לו השכות על כל סיום התקשרות בכתב במכתב רשום עם אישור קבלה או בדואר אלקטרוני עם אישור קבלתו.


    h2 6.ביטול החוזה
    p במקרה של הפרת ההתחייבויות של איש המקצוע "המשכיר  אי-לו השכות רשאי לסיים את החוזה. החלטה זו תתקבל בזכות מלאה, תהיה אוטומטית, ומיידית וללא התראה מוקדמת ,  אי-לו יכול לסיים את החוזה בשל הפרת חובתו של איש המקצוע "המשכיר" לשלם את דמי החוזה שלו .


    h2 7.תהליך ההשכרה
    p .ההזמנה אינה מתבצעת באינטרנט  און ליין עבור אנשי המקצוע "המשכירים".  חבר המבקש לשכור נכס מאיש מקצוע "משכיר" רשאי לפנות אליו דרך הפלטפורמה של אי-לו השכות "המשכיר"  יקבל את הפרטים של הלקוח הפוטנציאלי והוא יחליט האם  כן או לא ימשיך בתהליך ההשכרה.
    p לכל חנות באינטרנט או על כל פריט להשכרה יצוינו הפרטים הבאים:
    ul
        li הכתובת הפיזית של החנות
        li כתובת אתר האינטרנט
        li מספר טלפון   
        li טופס ליצירת קשר

    h2 8.התחייבויות של המפעילים המקצועיים
    p שירות  אי-לו השכרות  שמורים לאנשי מקצוע שמסוגלים או מורשים על פי חוק לחתום על חוזים. הבעלים בפועל  של חפצים/נכסים העוסקים בהשכרות באופן מקצועי (בית עסק ) ,חייב להזדהות שכזה בפנ אי-לו השכרות  במהלך ההרשמה.אי-לו השכות   שומרת לעצמה את הזכות שלא להתקשר עם איש מקצוע "משכיר" . החבר באתר, יבטיח  לפני עליתה של החנות שלו באינטרנט, שהוא מחזיק במלוא הזכויות להצגת תמונות, טקסטים ואלמנטים נוספים שעשויים להיות מוגנים על ידי זכות קניין רוחנית.איש המקצוע "המשכיר" מתחייב ליצור מודעה שתוכנה אינו צפוי לפגוע באיש או להפר חוקים ותקנות.  ואם זה היה המקרה, הוא יחשב כאחראי הבלעדי כמוציא לאור של התכנים המועלים לאתר, . " אי לו השכרות " לא תוכל להיחשב כבעלת אחריות בעניין.הוא מסכים לקבל הודעות דואר אלקטרוני ושיחות טלפון מכל מי שמתעניין במודעה שפרסם. הוא מתחייב לענות לכל אדם שמעוניין במודעה שפרסם.  הוא מתחייב לבקש להסיר את מודעתו ברגע שהפריט לא יהיה זמין יותר להשכרה.
    p הבעלים הוא האחראי הבלעדי לביצוע תקין של חובת ההודעה למנויים על המאפיינים המהותיים של הפריט.
    p הוא האחראי בלעדי לתיאור הפריטים אותם הוא משכיר. הוא מתחייב בפני  אי-לו השכרות   שהוא אחראי על כל תביעה הקשורה בתוכן ובצורה של התיאור האמור.
    p במקרה של שגיאות בתיאורים, באלמנטים של ההצעה, הבעלים יהיה מודע שהוא לוקח על עצמו לבד את כל עלויות הנוספות הכרוכות בעניין,  כל טענה מצדו לא תתקבל לצורך זה, לא מצד המנוי ולא מצד  אי-לו השכרות . בעלים מסכימים לעדכן את המידע שקשור לעניין זה.לאנשי המקצוע "המשכירים"  אין שום מחויבות בנושא מיקום פריטים להשכרה וזמינותם .כאשר מנוי פונה בבקשה להשכרת פריט מהחנות הווירטואלית, יש באפשרותם  או להסכים או לסרב ללא מתן הצדקה כלשהי.אי-לו השכרות  מזכירה שהבעלים הפועלים  באופן המקצועית בזירה אי-לו השכרות  (ומחוץ לה ) יש את חובה לכבד את החוקים והתקנות הנוגעות לעיסוק המסחרי בתחום השכרת פריטים מקצועיים באמצעי של זירה עסקית מרחוק. כמו כן לבעלים חובת הדיווח למוסדות המס וחובה השמת הרגולציות  הקיימים בישראל לפי חוק .הבעלים מתחייבים  להנפיק לטובת המנוי אישור על אופי ותנאי השכרת הפריט וכן גם חשבונית המציינת  את עלות ההשכרה ואת מחיר העסקה בהתאם לדרישות החוק . אישור זה חייב  לכלול אזכור של התנאים למימוש קיומו של החוק  בנושא ביטול עסקה על ידי  המנוי לפי חוקי ישראל 


    h2 9.ביטוח
    p אי-לו השכרות  אינה מציעה כל ביטוח לאנשי המקצוע "המשכירים" עבור הפריטים המושכרים. אנשי המקצוע "המשכירים" חייבים לדאוג לביטוח משלהם. מחובתם לבדוק שפוליסת הביטוח שלהם מכסה סעיפים של השכרת פריטים וציוד.


    h2 10 מחוייבות אי-לו השכרות :
    p אי-לו השכרות מתחייבת להפעיל את האתר במיטבו אל מנת לאפשר שימוש תקין של האתר . עם זאת, זה מחויבות  של לעשות הכל כדי  להפעיל  את האתר מבלי להתחייב על התוצאה.או-לו השכרות מתחייב  לשלוח למפרסם בדואר אלקטרוני כל ההודעות שנכתבו על ידי אנשים המעוניינים במודעה שלו ויעדכן אותו טלפונית  עבור כל פניה שבעל פה   שיקבל בהקשר למודעה שלו כמו כן אי-לו  השכרות ישים לרשותו   של המפרסם כל אינפורציה שישי לו בהקשר למודעה שלו,(כל עוד הוא ימסור טלפון וכתובת אי-מייל פעיל ומעודכן ).בשל המאפיינים והמגבלות  הברורות של האינטרנט, הלקוח מצהיר  בזאת שהוא מודע לבעייתיות זו ולא  ירא בשום אופן את אי-לו השכרות כאחראי למהירויות , להאטה , או לקושי להכנס לאתר. אי-לו השכרות שומרת לעצמה את  זכות להפסיק  זמנית הגישה לאתר  מסיבות של תחזוקה ו / או שיפור  יחד עם זאת אי-לו השכרות מחויבת לעשות כל מאמץ כדי למזער הפסקות מסוג זה. אי-לו השכרות לא  ערובה להבטחה רציפות השירות שהיא נותנת דרך הפלטפורמה שלה , ובשכזה, אין לראות את אי-לו השכרות או את  במנהליה של האתר אי-לו השכרות כאחראים לכל  נזק שיגרם בשל הפסקה או סגירת הפלטפורמה .לא ניתן יהיה להחשיב את  אי-לו השכרות  כאחראית חוזית לנזק כל שהוא  ,  (גם במקרה של רשלנות)   בכל הנוגע במקרים של  אובדן מסחרי שחברים יכולים לסבול מהם  (אובדן של נתונים, רווחים, הכנסות, עסקים, הזדמנויות, ערך ללקוח, הפרעה מוניטין או  הפסקת פעילות עיסקית ) או כל הפסד אחר שנובע, במישרין או בעקיפין משימוש הפלטפורמה של  אי-לו השכרות  על ידי   :
    ul
        li שימוש בשירותים שלנו על ידי חברים, ו/או , חוסר היכולת או חוסר הידע הדרוש כדי להפעיל את הפלטפורמה  כהלכה ;
        li כל עיכובים או שיבושים בשירותים שלנו;
        li החדרת וירוסים או תוכנות זדוניות אחרות תוך כדי גלישה, או בהקשר של  השירותים שלנו;
        li תקלות, באגים, שגיאות או אי דיוקים  שיכול להות  בכל אחד מהשירותים שלנו;
        li כל נזק לציוד המחשב שנגרם  במהלך השימוש בפלטפורמה של אי-לו השכרות, בצורה ישירה או בעקיפין 

    h2 11. אחריות
    h3 11.1  תפקיד המאכסן  של אי-לו השכרה .
    p אי-לו השכרות בשום אופן  היא לא חברה העוסקת בהשכרה אלא פלטפורמה  אינטרנטי של  מודעות השכרה .          e-loue.co.il     רק מארח את התוכן של המודעות שפורסמו על ידי הבעלים (טקסטים, תמונות, וכו ') ולכן היא אתר פלטפורמה אלקטרונית שמספק למשתמשים שלה, שירות גישור בין  בעלי נכם  ודיירים (שוכר) של חפצים. כחלק מחוייבותיה כמארח, יכול להיות מצב שאי-לו השכרות  מקבלת הודעה של צד שלישי שחבר מפרסם מידע או אלמנטים בלתי חוקיים / ראוים או חודרניים על זכויות של צד שלישיים. במקרה שכזה עם קבלת התלונה אם יתברר שאכן מדובר בפירסום כוזב ו/או שיקרי, ו/או פוגעני  אי-לו השכרות שומרת לעצמה את הזכות להסיר את האלמנט שבדף או להשעות נגישות באינטרנט אליה מבלי שזה יתפרש כי אי-לו השכרות אחראית לתוכן .כמארח, אי-לו השכרות  תישא באחריות רק במקרה שקיבלה דייוח על פירסום תוכן בלתי חוקי בעליל  ולא פעלה במהירות כדי לחסום את גישתו או להסיר את התוכנו  .אי-לו השכרות אינה מחויבת לפקח על תוכן שמפורסם על ידי חברים בפלטפורמה שלה , ושכזאת  החברים  הינם האחראים הבלעדים על התוכן  המודעות שלהם ולכן מסירים  מכל אחריות את אי-לו השכרות   מכל תביעה או דרישה פיצוים  נגדה או לכל הנזק שהיא עלולה להיות מורשעת, ועבור כל הנזק שייגרם לה, ן/או שנגרם לצד שלישי ו/או לחבר אחר. לחבר, בשל חובת  קבלת התנאי הכללים המחייבים אותו בעת  שימוש האתר , יש את ההכח בלשאת בכל הניזקים והוצאות שאי-לו השכרות תהיה מחוייבת לשלם  עקב פסקי דין לחובתה הנובעים או הקשורים  בפירסום שהוא עשה בפלטפורמה.   לרבות הוצאות משפט והגנה  משפטי  כגון עורך  דין  .

    h3 12.2 אין ויתור
    p העובדה שאי-לו השכרות , לא יכולה  ליישום, או  לא מחייבת את היישום או לא מדגישה חשיבות סעיפי מסווימים  של תנאים  הכללים שלה  לא  תתפרשנה כויתור להפעלתם .
    
    h3 12.3 חיבור לפלטפורמה אי-לו השכרות
    p החבר יתחבר לפלטפורמה אי-לו השכרות  באמצעות ציוד הקצה ותקשורת שלו. אי-לו השכרות לא שם לרשות החבר שום אמצעים לכך כגון  מערכת טלפון, או ציוד קצה אחר או תוכנה או מנוי אינטרנט .אי-לו השכרות עשויה לעתים לשנות את הקוד , מספר טלפון, לבצע מספור מחדש, להפסיק את השירות מסיבות מבצעיות, לתחזוקה או במקרי חירום.


    h3 12.4 אחריות וכוח עליו
    p במקרה של כוח עליון, חובותיו תושעה, במיוחד במקרה של: 
    ul
        li מעשה או מחדל של ממשלה או רשויות המוסמכות גבוהות יותר
        li חסימה או כישלון של רשתות תקשורת
        li התקוממויות, מלחמת אזרחים, מלחמה, פעולות צבאיות, לאומי או מקומי של חירום, אש, ברק, התפוצצות, שביתה, הצפה, סערה, או מעשה ידו של צד  שליש.

    h3 12.4 שונות
    p פג תוקפו  של ההוראה אחד או יותר מתנאים הכללים של פלטפורמת אי-לו השכרות אינו מביא לבטלות האחרות.הכותרות של המאמרים השונים המצויים בתנאי השימוש של התנאים הכללים  הן אך ורק אינפורמטיביות  ולא בהכרח קבועות  את התוכן המדויק של המאמרים שבה הם מתייחסים. החוסר תגובה או העיקוב שלנו בתגובה במקרה של  הפרת תנאי כללים  על ידך או צת שלישי אינו פוגעת בזכותנו להגיב להפרה מאוחר יותר או להפרה נוספת או דומה.


    h3 12.5  פיתרון סכסוכים
    p חוזה זה כפוף לחוקי ישראלי . כל מחלוקת עם חבר שנולד בהקשר עם פרשנותו ו / או עם ביצוע של החוזה היא באחריותו של בית המשפט ישראלי  המוסמך.במקרה של מחלוקת בין כל חבר ו-אי-לו השכרות  או בין חבריהם, אנו ממליצים לך לפנות אלינו ראשון למציאת פתרון.אם לא נאמר אחרת , תנאי השימוש אלה נשלטים על ידי החוק ישראלי .שימוש ביישומים חיצוניים של אי-לו השכרות (אתר , אפליקציה ..)  , מותנא בצורה מפורשת ומחייבת בהסכמה לתנאים  הכללים של פלטפורמת  אי-לו השכרות .

    h2 13. עוגיות 
    p גלישה באתרי הפלטפורמה של  אי-לו השכרות עלולה לגרום להתקנה של עוגייה (ים) במחשב של המשתמש. קובץ Cookie הוא קובץ קטן, שאינו מאפשר זיהוי של המשתמש, אך אשר מתעד מידע על הגלישה של מחשב באתר. הנתונים שהתקבלו נועדו להקל על הגלישה הבאה באתר וגם לאפשר אמצעים שונים של מדידה . 
    p משתמשים יכולים להגדיר את המחשבים שלהם כדלקמן לסרב להתקנת עוגייה: 
    p 1 / עם Internet Explorer
    p ב- Internet Explorer, לחץ על "כלים" ואז "אפשרויות אינטרנט".בכרטיסייה הכללית, תחת "היסטוריית גלישה", לחץ על "הגדרות" לחץ על "הצג הקבצים".לחץ על "שם" עמודת הכותרת כדי למיין את כל הקבצים בסדר אלפביתי, ולאחר מכן לגלול למטה עד שתראה את הקבצים שמתחילים בקידומת "קוקי". (יש לי כל עוגיות קידומת זו ובדרך כלל מכילות את שמו של אתר האינטרנט שיצר את העוגייה).אתר את העוגיות הרלוונטיות ולמחוק אותם.סגור את החלון המכיל את הרשימה של קבצים ולחץ על אישור פעמיים כדי לחזור אל Internet Explorer
    p 2 / עם דפדפן פיירפוקס
    p עבור ל" כלים "בתפריט הדפדפן ובחר בכרטיסייה" אפשרויות ".בחלון שיופיע, בחר באפשרות "פרטיות" ולחץ על "עוגיות הצג".אתר את הקבצים המושפעים, בחר אותם ולמחוק אותם.
    p 3 / עם דפדפן ספארי
    p בדפדפן שלך, לבחור בתפריט "Edit> Preferences".לחץ על "אבטחה".לחץ על "עוגיות הצג".בחר את העוגיות הרלוונטיות ולחץ על "מחק" או "נקה".לאחר מחיקת עוגיות, לחץ על "סיום".
    p 4 / עם דפדפן Google Chrome
    p לחץ על הסמל בתפריט "כלים". • בחר "אפשרויות".לחץ על כרטיסיית "אפשרויות מתקדמות" ועברת לסעיף "הפרטיות".לחץ על "עוגיות הצג".אתר את הקבצים המושפעים, בחר אותם ולמחוק אותם.לחץ על "סגור" כדי לחזור לדפדפן שלך.

    h2 14.ניהול נתונים אישיים
    p כדי לנהל את קשרי הלקוחות שלהם עם אי-לו השכרות ,, החברים מאשרים לה  להשתמש בנתונים האישיים שהם מעברים לה . הטיפול בנתונים אלו  מנוהל לפי נורמות  המוגדים בCNIL תחת המספר 1,403,691.יש לך זכות לגשת, לשנות, לתקן ולמחוק את הנתונים הנוגעים לך (החוק "וחירויות" של 6 ינואר 1978). מבקרים שנרשמים והופכים  לחברים באופן מפורש מסכימים לקבל הודעות דואר אלקטרוני מאי-לו השכרות . לא הסכמתך מידע זה  לא מועבר לאף גורם  שלישי  ומשמשים רק להפעלתו של האתר. הנתונים אישיים הנוגעים לחברים נאספים, נרשמו ונשמרו בהתאם להוראות החוק הנוגע לנתונים, קבצים וחירויות 6 בינואר 1978. לחברים יש זכות הגישה והתיקון הנתונים בפלטפורמת  אי-לו השכרות . לקבלת מידע נוסף, אנא צור קשר ישירות ל-contact@e-loue.co.il שם המשתמש והסיסמה שנבחרה על ידי החבר הם בסודיות מוחלטת, ואי-לו השכרות מתחייבת שלא למסור אותם .  החברים  הם האחראים הבלעדים במקרים שמשתמשים אחרים עושים שימוש בהם ללא ידיעתם.  כל פעולה שנעשתה מהחשבון של המשתמש נחשבת כאילו התבצע על ידו.. חילופי מסרים בין המשתמשים הם חסויים. אי-לו השכרות  תוכל לראות אותם רק בעת צורך.


    h2 15.מסים ומיסוי
    p שלא כמו אי-לו השכרות  שאינה צד להשכרת הנכס,  על אחריות של  המשתמשים, החברים, הדיירים והבעלים  לבדוק חובת הדוווח המסוי והמסים החלים עלהם מפעילותם בפלטפורמה אי-לו השכרות .לרבות  בהקשר לכסף שעבר דרך אי-לו השכרות ולכן  אי-לו השכרות אינה אחראית ולא יכולה להיות אחראית למסים על עסקות שבוצעו דרך ו/או באמצעות האתר האינטרנט שלה. זו חל האחריות של חבר להיות מעודכן ומתואם עם רשויות  המס הישראלי .הינכם מוזמנים לפנות לרשויות המס  לבירור העניין .

    h2 16.היפר-קישורים
    p האתר עשוי להכיל קישורים ו / או קישורים  המפנים לאתרים אחרים, במיוחד הבאנרים עם אופי פירסומי . בשום אופן אין לראות את אי-לו השכרות  כאחראית להשלכות המשפטיות הנוגעות לגישה לאתרים אלה מהאתר שלה .

    h2 17.קניין רוחני
    p אי-לו השכרות הינה  בעלת זכויות הקניין הרוחני ו/או בעלת  זכאיות לשימוש  בכל הפריטים זמינים באתר, כוללים טקסט, תמונות, גרפיקה, לוגו, סמלים, צלילים ותוכנה. כל העתקה, שינוי, פרסום, הסתגלות או אינטרפרטציה  של חלק  או בכל האלמנטים שבאתר , ולא משנה באיזה אמצעי או תהליך, השימוש בהם  אסורה ללא אישור מראש ובכתב של אי-לו השכרות ,  כל שימוש בלתי מורשה באתר או בכל החומרים שלה ייחשב ומהווה הפרה זכויות יוצר של אי-לו השכרות  וכל אדם או גוף עסקי שיהפר את זכויותיה יועמד לדין כמפר חוקי זכויות יוצר .
    p חבר מעניק  לאי-לו השכרות בדרך שאינם בלעדי, חינם ,לכל השפות, לכל עולם ולפרק זמן התואם את תוקף המודעה, כל זכויות הקניין הרוחני  על  האלמנטים המשמשים להרכבת המודעות שלו (כולל טקסטים, תמונות, תמונות, לוגו, איורים, סימני מסחר, מדגמים, כותרות, נתונים), לרבות כל נתונים ותוכן , מלא או חלקי  הנגזרים  מפירסומם מרגע הכנסתם לאתר.
    p זכויות אלה כוללות את הזכות לשכפל, להפיץ, להתאים, לשנות, לתרגם, להעניק רישיון משנה, ולהפנות  לציבורים שונים , בצורה חלקית  או שלמה , כל בכל אמצעי, בכל הפורמטים  (הדיגיטליים, הדפסה ...) הידועים היום  וכל הפורמטים העשויים להיות בעתיד. הזכויות המפורטות לעיל מוענקות לכל האתרים מקבוצת אי-לו בעולם ,לרבות חברות בת שלה ,  כמו כן גם לאתרי צד ג 'המאושרים על ידי אי-לו השכרות .אי-לו השכרות  יכולה לשתף בזכויות יוצר שלה  (המפורטים מעלה ) באופן  חלקי או מלא לכל צד שלישי  במסגרת שיתופי פעולה עיסקי .החבר מבטיח שתוכן מודעת באי-לו השכרות הוא תואם את החוק, שהוא מחזיק בזכויות הקניין הרוחני של התוכן, שהמוצר  לא יפגע בזכויותיו של צד שלישי , והמוצר מקורי ולא זיוף העלול לפגוע בזכויות יוצר . חבר  אי-לו השכרות ערב לכל ההשלכות הפיננסיות של כל פעולה :  תביעה, טענה, בקשה לפיצוי , או התנגדויות  מכל סוג של אדם  אחר שיטען שיש לו זכויות יוצר או  זכויות כל שהן  על התוכן, מעשה של תחרות בלתי הוגנת ו / או פוגעניים ו / או הפרה של חוק העיתונות.
