-load i18n
.container
  ul.nav.nav-justified.text-nowrap
    li.divide
      li
        .insurances-img(class="text-success")
          i(class="eloue-map-dressbooking")
        h5 {% trans "Entrez votre ville<br>de recherche" %}
        p
          {% trans "Localisez-vous et lancez votre<br>recherche" %}
    li.divide
      li
        .insurances-img(class="text-black")
          i(class="eloue-details",  style="color: #1b94d1")
        h5 {% trans "Découvrez les annonces<br>dans votre quartier" %}
        p
          {% trans "Parcourez des milliers d'annonces<br>de location" %}
    li.divide
      li
        .insurances-img(class="text-gray-strong")
          i(class="eloue-lock", style="color: #1b94d1")
        h5 {% trans "Louez votre tenue<br>en toute sécurité" %}
        p
          {% trans "Assurance incluse automatiquement<br>et paiement en ligne sécurisé" %}
    li.divide
      li
        .insurances-img(class="text-primary")
          i(class="eloue-star-dressbooking")
        h5 {% trans "Notez la qualité<br>du service rendu" %}
        p
          {% trans "Aidez la communauté Dressbooking<br>en notant les membres" %}
