.container
	.row
		.col-sm-8
			h3
				| Vous êtes loueur professionnel ?
				br
				| Nous aussi !
			p
				| Dressbooking est le premier site de location de tenues de cérémonies et d’accessoires 100% adapté aux particuliers mais aussi aux professionnels.
			a(href="{% url 'subscription' %}").link-success-color en savoir plus
		.col-sm-4
			.img-wrapper
				a(href="{% url 'subscription' %}").link-sprite