.container
	.row
		.col-sm-8
			h3
				| Vous êtes loueur professionnel ?
				br
				| Nous aussi !
			p
				| Dressbooking est le premier site de location de tenues de cérémonies et d’accessoires 100% adapté aux professionnels. Nos membres viennent chercher leurs tenues de prêt à porter et de luxe sur Dressbooking, car ils sont certains d’y trouver le plus vaste choix. Les plus grands loueurs nous font déjà confiance alors pourquoi pas vous ?
			a(href="{% url 'subscription' %}").link-success-color en savoir plus
		.col-sm-4
			.img-wrapper
				a(href="{% url 'subscription' %}").link-sprite