.container
  h3.text-center Choisissez une catégorie pour votre annonce

  {% for item_row in publish_category_list %}
  ul.nav.space-between
    {% for item in item_row %}
    li.spacer
    li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '{{ item.1 }}')")
      span.border-round
        i(class="eloue-{{ item.2 }}")
      span.title {{ item.0 }}
    {% endfor %}
  {% endfor %}
