include ../jade/_mixins

aside.tabs-vertical-static.pull-right.lg(ng-show="messageThread && messageThread.product")
  .section-header: h4.text-center Réservation associé à :
  ul.scrollbar-custom
    li.tab-vertical
      .section-content
        {% verbatim %}
        .block-with-thumbnail
            .col-thumbnail
                .thumbnail
                    a(ui-sref="items.info({id: messageThread.product.id})", ng-if="currentUser.id == messageThread.product.owner.id").lg-p
                    a(href="{{productUrl}}", ng-if="currentUser.id != messageThread.product.owner.id").lg-p
                        img(style="background-image: url({{getProductPicture(messageThread.product)}});")
        h3.indent-xs-v
            a(ui-sref="items.info({id: messageThread.product.id})", ng-if="currentUser.id == messageThread.product.owner.id").text-underline-hover: b(ng-bind="messageThread.product.summary")
            a(href="{{productUrl}}", ng-if="currentUser.id != messageThread.product.owner.id").text-underline-hover: b(ng-bind="messageThread.product.summary")
        p.text-gray
          i.icon-lg.flaticon.stroke.location-pin-3 &nbsp;
          | {{messageThread.product.address.city}},&nbsp;
          | {{messageThread.product.address.zipcode}}
        p.text-gray.indent-sm-v
          {% endverbatim %}
          +average-rate("messageThread.product.stats.average_rating")
          +rate-counter("messageThread.product.stats.ratings_count")
          +number-of-comments("messageThread.product.stats.bookings_count")
        {% verbatim %}
        .block-with-thumbnail
          .col-thumbnail
            .thumbnail.round: a(href="/loueur/{{messageThread.product.owner.slug}}").sm
              img(style="background-image: url({{messageThread.product.owner.avatar.thumbnail}});")
          .col-exposition
            a(href="/loueur/{{messageThread.product.owner.slug}}").text-underline-hover.text-gray
              h4.indent-xs-h {{messageThread.product.owner.username}}
        {% endverbatim %}

    li.tab-vertical(ng-if="booking === null || !!booking"): .section-content
        include ./_details_reservation
        include ./_form_reservation
