-load i18n
ul.zebra-list.indent-md-b(ng-if="!!booking")
    li.clearfix
        .col-xs-3 {% trans "Statut" %}
        .col-xs-9: span(class="{% verbatim %}{{booking.state}}{% endverbatim %}")
            span(translate="{% verbatim %}{{booking.state}}{% endverbatim %}").booking-bage
    li.clearfix
      .col-xs-3 {% trans "Début" %}
      .col-xs-9.text
        span(translate="{% verbatim %}{{booking.start_date.week_day}}{% endverbatim %}")
        |  {% verbatim %}{{booking.start_date.day}}{% endverbatim %} 
        span(translate="{% verbatim %}{{booking.start_date.month}}{% endverbatim %}")
        |  {% verbatim %}{{booking.start_date.year}}{% endverbatim %} 
        span(translate="at")
        |  {% verbatim %}{{booking.start_time}}{% endverbatim %}
    li.clearfix
      .col-xs-3 {% trans "Fin" %}
      .col-xs-9.text
        span(translate="{% verbatim %}{{booking.end_date.week_day}}{% endverbatim %}")
        |  {% verbatim %}{{booking.end_date.day}}{% endverbatim %} 
        span(translate="{% verbatim %}{{booking.end_date.month}}{% endverbatim %}")
        |  {% verbatim %}{{booking.end_date.year}}{% endverbatim %} 
        span(translate="at")
        |  {% verbatim %}{{booking.end_time}}{% endverbatim %}
    li.clearfix
      .col-xs-3 {% trans "Période" %}
      .col-xs-9.text {% verbatim %}{{booking.period_days}}{% endverbatim %} {% trans "jours et" %} {% verbatim %}{{booking.period_hours}}{% endverbatim %} {% trans "heures" %}
    li.clearfix
      .col-xs-3 {% trans "Prix" %}
      .col-xs-9.text-primary {% verbatim %}{{booking.total_amount}}{% endverbatim %}{% trans "€" %}
    li.clearfix
      .col-xs-3 {% trans "Caution" %}
      .col-xs-9.text {% verbatim %}{{booking.deposit_amount}}{% endverbatim %}€
    li.clearfix(ng-show="allowDownloadContract")
        .col-xs-3 {% trans "Contrat" %}
        .col-xs-9
            a(href="{% verbatim %}{{contractLink}}{% endverbatim %}", target="_blank").text-success.text-underline-hover {% trans "Télécharger le contrat" %}
.text-right(ng-if="!!booking")
  a(ui-sref="bookings.detail({uuid: booking.uuid})").btn-inline.bg-success-hover.text-white {% trans "Détails de la réservation" %}
