-load i18n
form.form-inline.section-body.text-center(ng-submit="requestBooking()", ng-if="booking === null")
    .part
        .row.date-picker.datepicker-center
          .table-cell
            .table-cell {% trans "Du" %}
            .table-cell
              input(type="text", name="fromDate", placeholder="dd/mm/yyyy", ng-model="newBooking.start_date", ng-change="updateNewBookingInfo()", data-ng-disabled="bookingSubmitInProgress", eloue-datepicker).date
              i.flaticon.stroke.calendar-3
          .table-cell.without-search
            select#fromHour(name="start_time", ng-model="newBooking.start_time", ng-change="updateNewBookingInfo()", ng-options="hour as hour.label for hour in availableHours", eloue-chosen, data-ng-disabled="bookingSubmitInProgress")
        .row.date-picker.datepicker-center
            .table-cell
                .table-cell {% trans "Au" %}
                .table-cell
                    input(type="text", name="toDate", placeholder="dd/mm/yyyy", ng-model="newBooking.end_date", ng-change="updateNewBookingInfo()", data-ng-disabled="bookingSubmitInProgress", eloue-datepicker).date
                    i.flaticon.stroke.calendar-3
            .table-cell.without-search
                select#toHour(name="end_time", ng-model="newBooking.end_time", ng-change="updateNewBookingInfo()", ng-options="hour as hour.label for hour in availableHours", eloue-chosen, data-ng-disabled="bookingSubmitInProgress")

        p(ng-show="available").ng-cloak.available {% trans "Cet article est disponible à ces dates" %}
        p(ng-show="!available").ng-cloak.available.unavailable {% trans "Cet article n'est pas disponible à ces dates" %}

    .part
        p.text-gray
            | {% trans "Durée de la location" %}&nbsp;:&nbsp;
            b.period-days.ng-cloak {% verbatim %}{{duration}}{% endverbatim %}
        p.price
            | {% trans "Prix de la location" %} &nbsp;:
            big(ng-show="!!pricePerDay").text-primary.ng-cloak &nbsp;{% verbatim %}{{ 'MONEY' | translate:{value:bookingPrice} }}{% endverbatim %}
        p.text-gray.text-center {% trans "Assurance incluse" %}

    .part
        a(type="submit", ng-click="requestBooking()", ng-disabled="bookingSubmitInProgress", class="{% verbatim %}{{bookingSubmitInProgress ? 'loading' : ''}}{% endverbatim %}", style="width: 1%;").btn.bg-success.calendar-ok.text-white
            i.flaticon.stroke.calendar-2
            | {% trans "Réservez" %}
