form(ng-submit="requestBooking()", ng-if="booking === null")
    .row.date-picker
      .table-cell
        .table-cell Du
        .table-cell
          input(type="text", placeholder="dd/mm/yyyy", ng-model="newBooking.start_date", ng-change="updateNewBookingInfo()", eloue-datepicker).date
          i.flaticon.stroke.calendar-3
      .table-cell.without-search
        select(name="start_time", ng-model="newBooking.start_time", ng-change="updateNewBookingInfo()", ng-options="hour as hour.label for hour in availableHours", eloue-chosen)
    .row.date-picker
        .table-cell
            .table-cell Au
            .table-cell
                input(type="text", placeholder="dd/mm/yyyy", ng-model="newBooking.end_date", ng-change="updateNewBookingInfo()", eloue-datepicker).date
                i.flaticon.stroke.calendar-3
        .table-cell.without-search
            select(name="end_time", ng-model="newBooking.end_time", ng-change="updateNewBookingInfo()", ng-options="hour as hour.label for hour in availableHours", eloue-chosen)

  table(ng-if="booking === null").calendar.bd-wrap.indent-md-t: tbody
    {% verbatim %}
    tr
      td Durée
      td {{newBooking.period_days}} jours et {{newBooking.period_hours}} heures
    tr
      td Prix
      td.text-success {{newBooking.total_amount}}€
    tr
      td Caution
      td {{newBooking.total_amount}}€
    {% endverbatim %}

  .row(ng-if="booking === null")
    p.text-gray.indent-sm-v.text-center Assurance incluse
    button(type="submit").btn.text-white.bg-success-hover.col-xs-8.col-xs-offset-2 Procédez à la réservation
