section.pull-nothing
  .notification-empty
    .notification-container
      {% verbatim %}
      i(class="{{routeChangeInProgress ? 'loading' : ''}}").icon-5x.indent-sm-b.flaticon.stroke.mail
      {% endverbatim %}
      h2(ng-show="!routeChangeInProgress") Aucune conversation sélectionnée