{% verbatim %}
section.tabs-vertical-active.sm.scrollbar-custom(ng-show="messageThreadList && messageThreadList.length > 0")
  ul(eloue-lazy-load, lazy-data="messageThreadList", lazy-data-provider="MessageThreadsLoadService", lazy-load-method="getMessageThreadList")
    li.tab-vertical.block-with-thumbnail(ng-repeat="thread in messageThreadList track by thread.id", id="thread-{{thread.id}}")
      .col-thumbnail
        .thumbnail.round: a(ui-sref="messages.detail({id: thread.id}))
          img(data-ng-src="{{thread.sender.avatar.thumbnail}}", alt="{{thread.sender.username}}", width="20", height="20")
      .col-exposition
          a(ui-sref="messages.detail({id: thread.id})").text-underline-hover.pull-left
            h3.small {{thread.sender.username}}
          span.time-badge.pull-right {{thread.last_message.sent_at}}
          h5.text-overflow.small.text-gray-stronger.clear-both {{thread.subject}}
          p.text-overflow.text-gray.small {{thread.last_message.body}}
{% endverbatim %}
