include ../jade/_mixins

block section-content
  if True
    .section-content
      .text-danger(eloue-form-message) {% verbatim %}{{!!description?description:message}}{% endverbatim %}
      form#address_detail_form(name="addressDetailForm", data-ng-submit="addressSubmitted=true; addressDetailForm.$valid && submitAddress()", ng-class="{'submitted':addressSubmitted }", novalidate, eloue-form-field-error-manager).indent-md-b
       fieldset(data-ng-disabled="submitInProgress")
        {% verbatim %}
        .row
          .col-sm-12
            input#street.form-control(type="text", name="street", ng-model="address.street", placeholder="Rue *", required, autofocus)
            .text-danger(data-ng-show="addressDetailForm.street.$error.required && !!addressSubmitted", translate="required_field")
            .text-danger(eloue-form-field-message field-name="address1") {{value}}
        .row
          .col-sm-6
            input#zipcode.form-control(type="text", name="zipcode", ng-model="address.zipcode", placeholder="Code postal *", required, autofocus, eloue-zipcode)
            .text-danger(data-ng-show="addressDetailForm.zipcode.$error.required && !!addressSubmitted", translate="required_field")
            .text-danger(data-ng-show="addressDetailForm.zipcode.$error.badFormat && !!addressSubmitted", translate="zipcode_invalid")
          .col-sm-6
            input#city.form-control(type="text", name="city", ng-model="address.city", placeholder="Ville *", required, autofocus)
            .text-danger(data-ng-show="addressDetailForm.city.$error.required && !!addressSubmitted", translate="required_field")
        .row
          .col-xs-12
            label.check-btn.form-control
              input(type="checkbox", ng-model="isDefaultAddress")
              span: i(class="{{isDefaultAddress ? 'checkmark' : ''}}").icon-lg.pull-right.flaticon.stroke
              | Addresse par défaut
        .row
          .col-xs-12.text-right
            button(type="reset", data-ng-click="deleteAddress()", onclick="return false;", ng-hide="productList.length > 0 || isDefaultAddress", class="{{submitInProgress ? 'loading' : ''}}").text.text-danger.text-underline-hover.indent-sm-h Supprimer
            button(type="submit", class="{{submitInProgress ? 'loading' : ''}}").btn-inline.bg-success-hover.text-white Enregistrer
        input(type="hidden", name="country", value="{{address.country}}")
        input(type="hidden", name="_method", value="PUT")
        {% endverbatim %}
      h3 Annonces associées à cette adresse
    section.tabs-vertical-active
      ul.block-with-thumbnail
        li.tab-vertical.block-with-thumbnail(data-ng-repeat="product in productList track by product.id", ui-sref="items.info({id: product.id})")
            {% verbatim %}
            .col-thumbnail
              .thumbnail
                  a(href="").lg-p: img(style="background-image: url({{product.picture}});")
            .col-exposition
              h3.small
                | Location {{product.summary}}
              p.normal.text-gray
                big.text-primary {{product.deposit_amount}}€ / jour
                br
                {% endverbatim %}
                span(ng-hide="product.stats.booking_comments_count == 0 && product.stats.bookings_count == 0")
                  +average-rate("product.stats.average_rating")
                  +number-of-comments("product.stats.booking_comments_count")
                  +number-of-bookings("product.stats.bookings_count")
