include ../jade/_mixins

block section-content
  if True
    .section-content
      form#address_detail_form(data-ng-submit="submitAddress()").indent-md-b
       fieldset(data-ng-disabled="submitInProgress")
        {% verbatim %}
        .row
          .col-sm-12
            input#street.form-control(type="text", name="street", placeholder="Rue *", required, autofocus, value="{{address.street}}")
        .row
          .col-sm-6
            input#zipcode.form-control(type="text", name="zipcode", placeholder="Code postal *", required, autofocus, value="{{address.zipcode}}")
          .col-sm-6
            input#city.form-control(type="text", name="city", placeholder="Ville *", required, autofocus, value="{{address.city}}")
        .row
          .col-xs-12
            label.check-btn.form-control
              input(type="checkbox", checked, disabled)
              span: i(class="{{isDefaultAddress ? 'checkmark' : ''}}").icon-lg.pull-right.flaticon.stroke
              | Addresse par défaut
        .row
          .col-xs-12.text-right
            button(type="reset", data-ng-click="deleteAddress()", onclick="return false;", ng-hide="productList.length > 0 || isDefaultAddress", class="{{submitInProgress ? 'loading' : ''}}").text.text-danger.text-underline-hover.indent-sm-h Supprimer
            button(type="submit", class="{{submitInProgress ? 'loading' : ''}}").btn-inline.bg-success-hover.text-white Enregistrer
        input(type="hidden", name="country", value="{{address.country}}")
        input(type="hidden", name="_method", value="PUT")
        {% endverbatim %}
      h3 Annonces associées à cette adresse
    section.tabs-vertical-active
      ul.block-with-thumbnail
        li.block-with-thumbnail(data-ng-repeat="product in productList track by product.id", ui-sref="items.info({id: product.id})")
          a(href="").tab-vertical
            {% verbatim %}
            .col-thumbnail
              .thumbnail
                img(src="{{getProductImg(product.picture)}}", alt="", width="130").lg-p
            .col-exposition
              h3.small
                | Location {{product.summary}}
              p.normal.text-gray
                big.text-primary {{product.deposit_amount}}€ / jour
                br
                {% endverbatim %}
                span(ng-hide="product.stats.booking_comments_count == 0 && product.stats.bookings_count == 0")
                  +average-rate("product.stats.average_rating")
                  +number-of-comments("product.stats.booking_comments_count")
                  +number-of-bookings("product.stats.bookings_count")
