block content-view
  section.tabs-vertical-active.sm.scrollbar-custom
    ul(ng-init="account_tabs=[{title: 'Profil', sref: 'account.profile'}, {title: 'Adresses', sref: 'account.addresses'}, {title: 'Mot de passe', sref: 'account.password'}]")
      {% verbatim %}
      li(ng-repeat="tab in account_tabs", id="account-part-{{tab.sref}}"): a.tab-vertical(ui-sref="{{tab.sref}}")
        h3(ng-bind="tab.title")
      {% endverbatim %}
  .content-view(ui-view)
