block sections
  aside.address-detail.pull-nothing.scrollbar-custom.scrollbar-left
    .section-content
      form#reset-password-form.indent-md-b(data-ng-submit="resetPassword()", ng-init="password_reset_form_fields=[{field: 'current_password', placeholder: 'Ancien mot de passe'}, {field: 'password', placeholder: 'Nouveau mot de passe'}, {field: 'confirm_password', placeholder: 'Nouveau mot de passe'}]")
        h2.indent-md-b Modifaication de votre mot de passe
        .row(ng-repeat="field in password_reset_form_fields")
          .col-md-9.col-md-offset-3
            {% verbatim %}
            input.form-control(type="password", name="{{field.name}}", placeholder="{{field.placeholder}} *", required, autofocus)
            {% endverbatim %}
        .row
          .col-xs-12.text-right
            button(type="reset").text.text-danger.text-underline-hover.indent-sm-h Annuler
            button(type="submit").btn-inline.bg-success-hover.text-white Enregistrer
