-load i18n
block sections
  aside.address-detail.pull-nothing.scrollbar-custom.scrollbar-left
    .section-content
      form#reset-password-form.indent-md-b(data-ng-submit="resetPasswordSubmitted=true; resetPassword()", ng-class="{'submitted':resetPasswordSubmitted}", name="resetPasswordForm", ng-init="password_reset_form_fields=[{name: 'current_password', placeholder: '{% trans 'Ancien mot de passe' %}'}, {name: 'password', placeholder: '{% trans 'Nouveau mot de passe' %}'}, {name: 'confirm_password', placeholder: '{% trans 'Confirmer le mot de passe' %}' }]", eloue-form-field-error-manager)
       fieldset(data-ng-disabled="submitInProgress")
        h2.indent-md-b {% trans "Modification de votre mot de passe" %}

        .row(ng-repeat="field in password_reset_form_fields")
          .col-md-9.col-md-offset-3.form-control
            input.wide(type="password", name="{% verbatim %}{{field.name}}{% endverbatim %}", placeholder="{% verbatim %}{{field.placeholder}}{% endverbatim %} *", required, autofocus)
        .row
          .col-xs-12.text-right
            button(type="reset").text.text-danger.text-underline-hover.indent-sm-h {% trans "Annuler" %}
            button(type="submit", class="{% verbatim %}{{submitInProgress ? 'loading' : ''}}{% endverbatim %}").btn-inline.bg-success-hover.text-white {% trans "Enregistrer" %}