include ../jade/_global_variables

block sections
  aside.profil-info.scrollbar-custom
    .section-content.text-gray
      {% verbatim %}
      form#change-photo
        h2.text-black Informations personnelles
        .row
          //- change photo
          .block-with-thumbnail.form-control.col-sm-12
            .col-thumbnail
              .thumbnail.round.indent-sm-r: span.lg: img(style="background-image: url({{currentUser.avatar.profil}});")
            .col-exposition
              label(for="change-img").file-input-btn.btn.bg-gray-hover.text-white Modifier mon image
                input(type="file", name="avatar", file-chooser, on-change="onFileChanged()")#change-img
                input(type="hidden", name="_method", value="PUT")
      form(id="profile-information", name="profile-information", data-ng-submit="dataFormSubmit()", novalidate)
       fieldset(data-ng-disabled="submitInProgress")
        //- proffessional radio btns
        .row
          .col-sm-5
            h3.text-black Je suis un professionnel ?
            span.text-danger(ng-show="!!errors.is_professional", ng-bind="errors.is_professional")
          .col-sm-2
            label.rad-btn.form-control Oui
              input#is_professional(type="radio", name="is_professional", ng-checked="currentUser.is_professional", value="true")
              i
          .col-sm-2
            label.rad-btn.form-control Non
              input#is_professional(type="radio", name="is_professional", ng-checked="!currentUser.is_professional", value="false")
              i
        //- nackname & email
        .row
          .col-md-12.col-lg-6
            input#username.form-control(type="text", name="username", placeholder="Pseudo *", required, autofocus, ng-model="currentUser.username")
            span.text-danger(ng-show="!!errors.username", ng-bind="errors.username")
          .col-md-12.col-lg-6
            input#email.form-control(type="email", name="email", placeholder="Email *", required, ng-model="currentUser.email")
            span.text-danger(ng-show="!!errors.email", ng-bind="errors.email")
        //- gender, first-name, name
        .row
          .col-sm-2.without-search
            .form-control
              select(eloue-chosen, data-placeholder="Civilité", data-ng-disabled="submitInProgress", ng-model="currentUser.civility")
                option(ng-repeat="item in civilityOptions", value="{{item.id}}") {{item.name}}
          .col-sm-5
            input#first_name.form-control(type="text", name="first_name", placeholder="Prénom *", required, ng-model="currentUser.first_name")
            span.text-danger(ng-show="!!errors.first_name", ng-bind="errors.first_name")
          .col-sm-5
            input#last_name.form-control(type="text", name="last_name", placeholder="Nom *", required, ng-model="currentUser.last_name")
            span.text-danger(ng-show="!!errors.last_name", ng-bind="errors.last_name")
        //- address
        .row
          .col-sm-12.without-search.form-control
            p.text-uppercase: b: small adresse par défaut
            select#defaultAddressSelect(name="default_address", ng-model="defaultAddress", data-ng-disabled="submitInProgress", data-placeholder="Adresse par défaut *", style="width:100%;", required)
                option(ng-repeat="address in addressList", value="{{addressesBaseUrl}}{{address.id}}/", ng-selected="defaultAddress == (addressesBaseUrl + address.id + '/')")
                  | {{address.street}}, {{address.zipcode}} {{address.city}}
              //-option(value="#{tenant.address}") #{tenant.address}
            span.text-danger(ng-show="!!errors.default_address", ng-bind="errors.default_address")
            h4.indent-sm-v.text-right.text-success-hover: a(ui-sref="account.addresses") Ajouter ou modifier une adresse
        //- telephone
        .row
          .col-sm-12
            p.text-uppercase: b: small téléphone par défaut
            input#phone.form-control(type="text", name="phoneNumber", placeholder="Téléphone par défaut", ng-model="phoneNumber")
            input#default_number(type="hidden", name="default_number", ng-model="currentUser.default_number")
            span.text-danger(ng-show="!!errors.default_number", ng-bind="errors.default_number")
        //- about myself
        .row
          .col-sm-12
            textarea#about-myself.expand.form-control(name="about", tabindex="1", rows="6", placeholder="A propos de vous...", ng-model="currentUser.about")
            span.text-danger(ng-show="!!errors.about", ng-bind="errors.about")
        //- languages
         .row
          .col-sm-12.without-search.form-control
            select(multiple, data-placeholder="Langues parlées", eloue-chosen, data-ng-disabled="submitInProgress")
                option(value="fr_FR") Français
                option(value="en_US") Anglais
                option(value="es_ES") Espagnol
        //- newsletter
        .row
          .col-sm-8
            h3.text-black J’accepte de recevoir la newsletter e-loue
            span.text-danger(ng-show="!!errors.is_subscribed", ng-bind="errors.is_subscribed")
          .col-sm-2
            label.rad-btn.form-control Oui
              input(type="radio", name="is_subscribed", ng-checked="currentUser.is_subscribed", value="true")
              i
          .col-sm-2
            label.rad-btn.form-control Non
              input(type="radio", name="is_subscribed", ng-checked="!currentUser.is_subscribed", value="false")
              i
              //input#is_subscribed(type="hidden", name="is_subscribed", ng-model="currentUser.is_subscribed")
        h2.text-black Informations sur le permis
        //- date birthday
        .row.form-control
          .col-sm-2
            select#select-day(name="select-day", data-placeholder="Jour", ng-model="licenceDay", eloue-chosen, data-ng-disabled="submitInProgress")
                option(ng-repeat="item in dayOptions", value="{{item}}", ng-selected="item == licenceDay") {{item}}
          .col-sm-4
            select#select-month(name="select-month", data-placeholder="Mois", ng-model="licenceMonth", eloue-chosen, data-ng-disabled="submitInProgress")
                option(ng-repeat="item in monthOptions", value="{{item.id}}", ng-selected="item.id == licenceMonth") {{item.value | translate}}
          .col-sm-3
            select#select-year(name="select-year", data-placeholder="Année", ng-model="licenceYear", eloue-chosen, data-ng-disabled="submitInProgress")
                option(ng-repeat="item in yearOptions", value="{{item}}", ng-selected="item == licenceYear") {{item}}
           input#drivers_license_date(type="hidden", name="drivers_license_date", ng-model="currentUser.drivers_license_date")
        //- license-number
        .row
          .col-sm-12
            input#drivers_license_number.form-control(type="text", name="drivers_license_number", placeholder="Numéro de permis", ng-model="currentUser.drivers_license_number")
        //- drag photo
         .row
          .col-sm-12.form-control
            label(for="change-img").file-input-drag
              i.icon-4x.flaticon.stroke.plus
              br
              | Ajouter une photo de votre permis
              input(type="file")#change-img
            h4.indent-sm-v.text-right.text-success-hover: a(href="#") Modifier la photo du permis
        //- btn submit
        .row
          .col-sm-6.col-sm-offset-3
            button(type="submit", class="{{submitInProgress ? 'loading' : ''}}", ng-disabled="profile-information.$invalid").btn.bg-success-hover.text-white Enregistrez les informations
        {% endverbatim %}
