*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.42857;
  background-color: #fcfcfc;
  color: #2c2c2c;
  font-weight: 600;
}

a {
  color: inherit;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.text-success {
  color: #24bd77;
}

.text-success-hover {
  color: #24bd77;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-success-hover:hover {
  color: #1c925c;
}

.text-success-dark {
  color: #146741;
}

.text-success-light {
  color: #65e2a9;
}

.bg-success {
  background: #24bd77;
}

.bg-success-hover, header .btn-advertise {
  background: #24bd77;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-success-hover:hover, header .btn-advertise:hover {
  background: #1c925c;
}

.bg-success-dark {
  background-color: #03120b;
}

.bg-success-light {
  background-color: #bbf2d9;
}

.text-danger {
  color: #e45647;
}

.text-danger-hover {
  color: #e45647;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-danger-hover:hover {
  color: #d83120;
}

.text-danger-dark {
  color: #ac2719;
}

.text-danger-light {
  color: #f1a8a0;
}

.bg-danger {
  background: #e45647;
}

.bg-danger-hover {
  background: #e45647;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-danger-hover:hover {
  background: #d83120;
}

.bg-danger-dark {
  background-color: #53130c;
}

.bg-danger-light {
  background-color: #fef9f9;
}

.text-primary {
  color: #f27e36;
}

.text-primary-hover {
  color: #f27e36;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-primary-hover:hover {
  color: #e6610f;
}

.text-primary-dark {
  color: #b64d0c;
}

.text-primary-light {
  color: #f8bb96;
}

.bg-primary {
  background: #f27e36;
}

.bg-primary-hover {
  background: #f27e36;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-primary-hover:hover {
  background: #e6610f;
}

.bg-primary-dark {
  background-color: #562506;
}

.bg-primary-light {
  background-color: #fef9f6;
}

.text-info {
  color: #3959a8;
}

.text-info-hover {
  color: #3959a8;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-info-hover:hover {
  color: #2c4582;
}

.text-info-dark {
  color: #1f315c;
}

.text-info-light {
  color: #7690d1;
}

.bg-info {
  background: #3959a8;
}

.bg-info-hover {
  background: #3959a8;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-info-hover:hover {
  background: #2c4582;
}

.bg-info-dark {
  background-color: #050810;
}

.bg-info-light {
  background-color: #c3ceea;
}

.text-gray {
  color: #acacac;
}

.text-gray-hover {
  color: #acacac;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-gray-hover:hover {
  color: #939393;
}

.text-gray-dark {
  color: #797979;
}

.text-gray-light {
  color: #dfdfdf;
}

.bg-gray {
  background: #acacac;
}

.bg-gray-hover {
  background: #acacac;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-gray-hover:hover {
  background: #939393;
}

.bg-gray-dark {
  background-color: #464646;
}

.bg-gray-light {
  background-color: white;
}

.text-white {
  color: white;
}

.text-white-hover {
  color: white;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-white-hover:hover {
  color: #e6e6e6;
}

.text-white-dark {
  color: #cccccc;
}

.text-white-light {
  color: white;
}

.bg-white {
  background: white;
}

.bg-white-hover {
  background: white;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-white-hover:hover {
  background: #e6e6e6;
}

.bg-white-dark {
  background-color: #999999;
}

.bg-white-light {
  background-color: white;
}

.text-gray-strong {
  color: #878787;
}

.text-gray-strong-hover {
  color: #878787;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-gray-strong-hover:hover {
  color: #6e6e6e;
}

.text-gray-strong-dark {
  color: #545454;
}

.text-gray-strong-light {
  color: #bababa;
}

.bg-gray-strong {
  background: #878787;
}

.bg-gray-strong-hover {
  background: #878787;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-gray-strong-hover:hover {
  background: #6e6e6e;
}

.bg-gray-strong-dark {
  background-color: #212121;
}

.bg-gray-strong-light {
  background-color: #ededed;
}

.text-gray-stronger {
  color: dimgray;
}

.text-gray-stronger-hover {
  color: dimgray;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-gray-stronger-hover:hover {
  color: #4f4f4f;
}

.text-gray-stronger-dark {
  color: #363636;
}

.text-gray-stronger-light {
  color: #9c9c9c;
}

.bg-gray-stronger {
  background: dimgray;
}

.bg-gray-stronger-hover {
  background: dimgray;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-gray-stronger-hover:hover {
  background: #4f4f4f;
}

.bg-gray-stronger-dark {
  background-color: #030303;
}

.bg-gray-stronger-light {
  background-color: #cfcfcf;
}

.text-gray-light {
  color: lightgray;
}

.text-gray-light-hover {
  color: lightgray;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-gray-light-hover:hover {
  color: #b9b9b9;
}

.text-gray-light-dark {
  color: #a0a0a0;
}

.text-gray-light-light {
  color: white;
}

.bg-gray-light {
  background: lightgray;
}

.bg-gray-light-hover {
  background: lightgray;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-gray-light-hover:hover {
  background: #b9b9b9;
}

.bg-gray-light-dark {
  background-color: #6d6d6d;
}

.bg-gray-light-light {
  background-color: white;
}

.text-black {
  color: #2c2c2c;
}

.text-black-hover {
  color: #2c2c2c;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-black-hover:hover {
  color: #121212;
}

.text-black-dark {
  color: black;
}

.text-black-light {
  color: #5f5f5f;
}

.bg-black {
  background: #2c2c2c;
}

.bg-black-hover {
  background: #2c2c2c;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-black-hover:hover {
  background: #121212;
}

.bg-black-dark {
  background-color: black;
}

.bg-black-light {
  background-color: #929292;
}

.text-lite {
  color: #fcfcfc;
}

.text-lite-hover {
  color: #fcfcfc;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-lite-hover:hover {
  color: #e3e3e3;
}

.text-lite-dark {
  color: #c9c9c9;
}

.text-lite-light {
  color: white;
}

.bg-lite {
  background: #fcfcfc;
}

.bg-lite-hover {
  background: #fcfcfc;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-lite-hover:hover {
  background: #e3e3e3;
}

.bg-lite-dark {
  background-color: #969696;
}

.bg-lite-light {
  background-color: white;
}

.text-blue {
  color: #007bb6;
}

.text-blue-hover {
  color: #007bb6;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.text-blue-hover:hover {
  color: #005983;
}

.text-blue-dark {
  color: #003650;
}

.text-blue-light {
  color: #1db6ff;
}

.bg-blue {
  background: #007bb6;
}

.bg-blue-hover {
  background: #007bb6;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.bg-blue-hover:hover {
  background: #005983;
}

.bg-blue-dark {
  background-color: black;
}

.bg-blue-light {
  background-color: #83d7ff;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.indent-md-h {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.indent-md-v {
  margin-bottom: 22.5px !important;
  margin-top: 22.5px !important;
}

.indent-md-t {
  margin-top: 22.5px !important;
}

.indent-md-r {
  margin-right: 30px !important;
}

.indent-md-b {
  margin-bottom: 22.5px !important;
}

.indent-md-l {
  margin-left: 30px !important;
}

.indent-md {
  margin: 30px !important;
}

.indent-sm-h {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.indent-sm-v {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}

.indent-sm-t {
  margin-top: 15px !important;
}

.indent-sm-r {
  margin-right: 20px !important;
}

.indent-sm-b {
  margin-bottom: 15px !important;
}

.indent-sm-l {
  margin-left: 20px !important;
}

.indent-sm {
  margin: 20px !important;
}

.indent-xs-h {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.indent-xs-v {
  margin-bottom: 7.5px !important;
  margin-top: 7.5px !important;
}

.indent-xs-t {
  margin-top: 7.5px !important;
}

.indent-xs-r {
  margin-right: 10px !important;
}

.indent-xs-b {
  margin-bottom: 7.5px !important;
}

.indent-xs-l {
  margin-left: 10px !important;
}

.indent-xs {
  margin: 10px !important;
}

.indent-lg-h {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

.indent-lg-v {
  margin-bottom: 45px !important;
  margin-top: 45px !important;
}

.indent-lg-t {
  margin-top: 45px !important;
}

.indent-lg-r {
  margin-right: 60px !important;
}

.indent-lg-b {
  margin-bottom: 45px !important;
}

.indent-lg-l {
  margin-left: 60px !important;
}

.indent-lg {
  margin: 60px !important;
}

.text-justify-force {
  text-align: justify;
  width: 100%;
  margin-bottom: 1.42857;
}
.text-justify-force:after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 0;
  overflow: hidden;
}
.text-justify-force > * {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.text-nowrap {
  white-space: nowrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.container-full-screen {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  cursor: pointer;
  font-weight: 600;
  border: none;
  background-color: transparent;
  font-size: 14px;
}

.text-underline, .text-underline-hover:hover {
  text-decoration: underline;
}

.centred-abs {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.pull-nothing {
  float: none !important;
}

.clear-both {
  clear: both !important;
}

.mCSB_outside + .mCSB_scrollTools {
  right: -20px;
}

.mCSB_container {
  min-height: 100%;
  margin-right: 0 !important;
}

.time-badge {
  font-size: 11px;
  font-weight: 600;
  color: lightgray;
}

.bd-rad {
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
}

.v-align:before {
  display: inline-block;
  padding: 5em 0;
  content: "`";
  width: 0;
  color: transparent;
}

.notification-empty {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #acacac;
}
.notification-empty .notification-container {
  display: table-cell;
  vertical-align: middle;
}
.notification-empty i {
  font-size: 10em;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}
h2.small {
  font-size: 18px;
}

h3 {
  font-size: 14px;
  font-weight: 600;
}
h3.small {
  font-size: 13px;
}

h4 {
  font-size: 13px;
  font-weight: 700;
}
h4.small {
  font-size: 11px;
}

h5 {
  font-size: 13px;
  font-weight: 600;
}
h5.small {
  font-size: 11px;
}

p {
  margin-bottom: 0.5em;
  position: relative;
}
p.normal {
  font-size: 12px;
}
p.norm {
  font-size: 13px;
}
p.small {
  font-size: 11px;
}

small {
  font-size: 10px;
}

big {
  font-size: 21px;
}
big.large {
  font-size: 26px;
}

article.dashboard {
  position: relative;
}
article.dashboard:before, article.dashboard:after {
  content: " ";
  display: table;
}
article.dashboard:after {
  clear: both;
}
article.dashboard nav {
  overflow: hidden;
}
article.dashboard nav ul {
  font-weight: 700;
  text-align: center;
  padding: 1em;
  font-size: 12px;
}
article.dashboard nav i {
  display: block;
  font-size: 3em;
  margin-bottom: 0.2em;
}
article.dashboard nav a {
  display: block;
  padding: 1em 1em;
  margin: 1em 0;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0.1em 0.05em 0 rgba(255, 255, 255, 0.3);
}
article.dashboard nav a:hover, article.dashboard nav a.current {
  color: white;
  text-shadow: none;
}
article.dashboard nav a:active {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0.1em 0.05em 0 rgba(255, 255, 255, 0.3);
}
article.dashboard > nav {
  background-color: #24bd77;
  float: left;
  height: 100%;
}
article.dashboard > nav a {
  text-decoration: none;
  position: relative;
}
article.dashboard > nav a i {
  position: relative;
}
article.dashboard .content-view {
  overflow: hidden;
  height: 100%;
}
article.dashboard .content-view:before, article.dashboard .content-view:after {
  content: " ";
  display: table;
}
article.dashboard .content-view:after {
  clear: both;
}
article.dashboard .content-view section.scrollbar-custom {
  height: 100%;
}
article.dashboard .content-view > section {
  float: left;
}
article.dashboard .content-view > aside {
  float: none;
  position: relative;
  background-color: white;
}
article.dashboard .content-view > * {
  height: 100%;
  overflow: auto;
}
article.dashboard .content-view > section,
article.dashboard .content-view > aside {
  border-top: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
}
article.dashboard .content-view section {
  border-top: 1px solid #eaeaea;
}

.section-content {
  position: relative;
  max-width: 100%;
  min-width: 60%;
  width: 650px;
  padding: 22.5px 30px;
}
.section-content:before, .section-content:after {
  content: " ";
  display: table;
}
.section-content:after {
  clear: both;
}
.section-content.full-width {
  max-width: none;
}
.tab-vertical .section-content {
  padding: 0;
}

.section-header {
  background-color: #fcfcfc;
  border-bottom: 1px solid #eaeaea;
  height: 3em;
  padding: 0 20px;
  width: 100%;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.section-header + * {
  padding-top: 3em !important;
}

.booking-activity-feed {
  background: url(../img/feed-line.png) repeat-y 4em;
  -webkit-background-size: 3px 1px;
  background-size: 3px 1px;
}
.booking-activity-feed.line-fix {
  margin-top: 22.5px;
  padding-top: 0;
  padding-bottom: 0;
}

.tabs-vertical-static,
.tabs-vertical-active {
  position: relative;
  background-color: white;
}
.tabs-vertical-static.sm,
.tabs-vertical-active.sm {
  width: 230px;
}
.tabs-vertical-static.md,
.tabs-vertical-active.md {
  width: 325px;
}
.tabs-vertical-static.lg,
.tabs-vertical-active.lg {
  width: 420px;
}
.tabs-vertical-static > ul,
.tabs-vertical-active > ul {
  height: 100%;
  position: relative;
}
.tabs-vertical-static .tab-vertical,
.tabs-vertical-active .tab-vertical {
  border-bottom: 1px solid #eaeaea;
  padding: 15px 20px;
  display: block;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  position: relative;
}
.tabs-vertical-static .tab-vertical:before, .tabs-vertical-static .tab-vertical:after,
.tabs-vertical-active .tab-vertical:before,
.tabs-vertical-active .tab-vertical:after {
  content: " ";
  display: table;
}
.tabs-vertical-static .tab-vertical:after,
.tabs-vertical-active .tab-vertical:after {
  clear: both;
}

.tabs-vertical-active .mCSB_scrollTools,
.scrollbar-left .mCSB_scrollTools {
  right: auto;
  left: 0;
}

.tabs-vertical-active .tab-vertical > a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.tabs-vertical-active .tab-vertical {
  border-right: 4px solid transparent;
  cursor: pointer;
}
.tabs-vertical-active .tab-vertical .fa-check {
  color: transparent;
}
.tabs-vertical-active .tab-vertical:hover, .tabs-vertical-active .tab-vertical.current {
  background-color: #fcfcfc;
  border-right-color: #24bd77;
}
.tabs-vertical-active .tab-vertical:hover h1, .tabs-vertical-active .tab-vertical:hover h2, .tabs-vertical-active .tab-vertical:hover h3, .tabs-vertical-active .tab-vertical:hover h4, .tabs-vertical-active .tab-vertical:hover h5, .tabs-vertical-active .tab-vertical:hover h6, .tabs-vertical-active .tab-vertical.current h1, .tabs-vertical-active .tab-vertical.current h2, .tabs-vertical-active .tab-vertical.current h3, .tabs-vertical-active .tab-vertical.current h4, .tabs-vertical-active .tab-vertical.current h5, .tabs-vertical-active .tab-vertical.current h6 {
  font-weight: bolder;
}
.tabs-vertical-active .tab-vertical:active {
  border-color: transparent;
}
.tabs-vertical-active .tab-vertical.default .fa-check {
  color: #24bd77;
}

.tabs-horisontal-active {
  position: relative;
  padding-top: 0.8em;
  margin-bottom: -1.5em;
}
.tabs-horisontal-active > ul {
  position: relative;
  height: 100%;
}

.tabs-horisontal-active .tab-horisontal {
  cursor: pointer;
  color: #24bd77;
  padding: 0.25em 0.5em 0.75em;
  position: relative;
  border-bottom: 4px solid transparent;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}
.tabs-horisontal-active .tab-horisontal:hover, .tabs-horisontal-active .tab-horisontal.current {
  border-color: #24bd77;
}

.messages-container {
  padding-bottom: 12em;
}

.block-with-thumbnail {
  display: table;
  width: 100%;
}
.block-with-thumbnail .col-thumbnail {
  display: table-cell;
  width: auto;
}
.block-with-thumbnail .thumbnail {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.block-with-thumbnail .thumbnail.round {
  border-radius: 50%;
}
.block-with-thumbnail .thumbnail img {
  display: block;
}
.block-with-thumbnail .col-exposition {
  display: table-cell;
  overflow: hidden;
  padding-left: inherit;
  vertical-align: middle;
  max-width: 0;
  width: 100%;
  position: relative;
}
.block-with-thumbnail.notification > .col-thumbnail .thumbnail {
  margin-right: 30px;
  overflow: visible;
  width: 4em;
  height: 4em;
}
.block-with-thumbnail.notification .icon-action {
  color: #24bd77;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: relative;
}
.block-with-thumbnail.notification .icon-action i {
  width: 1em;
  height: 1em;
  vertical-align: 0;
  line-height: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}
.block-with-thumbnail.notification .col-exposition {
  border: none;
  overflow: visible;
}
.block-with-thumbnail.notification .text-action {
  border-radius: 4px;
  padding: 20px;
  overflow: visible;
}
.block-with-thumbnail.notification .text-action:before, .block-with-thumbnail.notification .text-action:after {
  position: absolute;
  content: "";
  border-width: 0.8em 1em;
  border-style: solid;
  border-color: transparent;
  left: -2em;
  top: 1em;
}
.block-with-thumbnail.notification .text-action:before {
  border-right-color: #eaeaea;
}
.block-with-thumbnail.notification .text-action:after {
  border-right-color: white;
  margin-left: 1.5px;
}
.block-with-thumbnail.notification .icon-action,
.block-with-thumbnail.notification .text-action {
  background-color: white;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0 1px lightgray;
  box-shadow: 0 1px lightgray;
}
.block-with-thumbnail.notification p.action {
  line-height: 3em;
  color: #acacac;
}

.container-with-square-thumbnail {
  margin: -2%;
}
.container-with-square-thumbnail:before, .container-with-square-thumbnail:after {
  content: " ";
  display: table;
}
.container-with-square-thumbnail:after {
  clear: both;
}
.container-with-square-thumbnail > li {
  width: 21%;
  padding-top: 21%;
  margin: 2%;
  overflow: hidden;
  position: relative;
  float: left;
}
.container-with-square-thumbnail > li > .file-input-drag {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}
.container-with-square-thumbnail > li > .file-input-drag > i {
  width: 1em;
  height: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}
.container-with-square-thumbnail > li > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

header {
  background-color: white;
}
header i {
  display: inline-block;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
header .nav.without-spaces {
  font-weight: 600;
  font-size: 12px;
  color: dimgray;
  margin: 15px 0 5px;
  overflow: hidden;
}
header .nav.without-spaces a {
  color: #f27e36;
}
header .nav.without-spaces a:hover {
  text-decoration: underline;
}
header .btn-advertise {
  color: white;
}
header .framing {
  border-top: 1px solid #eaeaea;
}
header .search-form {
  padding-top: 20px;
  padding-bottom: 20px;
  display: table;
}
header .search-form img {
  top: 5px;
  position: relative;
}
header .search-form form {
  padding: 0 2em;
  width: 100%;
}
header .table-cell {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
}
header .table-cell.main-cell {
  width: 100%;
}
header .form-control {
  height: 3em;
  margin: 0;
}
header .what-field {
  color: #24bd77 !important;
  position: relative;
  right: -1px;
  border-color: lightgray !important;
  font-weight: 700 !important;
  border-radius: 4px 0 0 4px !important;
}
header .what-field::-moz-placeholder {
  color: #24bd77 !important;
  opacity: 1;
}
header .what-field:-ms-input-placeholder {
  color: #24bd77 !important;
}
header .what-field::-webkit-input-placeholder {
  color: #24bd77 !important;
}
header .what-field:hover {
  border-color: #acacac !important;
}
header .where-field {
  position: relative;
  width: 40%;
  z-index: 3;
}
header .where-field input {
  width: 100%;
  padding-left: 2.5em;
  font-weight: 600;
  border-radius: 0;
  border-color: lightgray #eaeaea !important;
}
header .where-field input:hover {
  border-color: #acacac !important;
}
header .where-field i {
  font-size: 1.4em;
  color: #acacac;
}
header .where-field i:before {
  content: "\f041";
  width: 1em;
  height: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  right: auto;
  left: 0.75em;
}
header .btn-search {
  position: relative;
  left: -1px;
  background-color: white;
  border-color: lightgray;
  border-radius: 0 4px 4px 0 !important;
  width: 0;
  padding: 0 3em 0 0;
}
header .btn-search i {
  font-size: 1.4em;
  color: #acacac;
}
header .btn-search i:before {
  content: "\f002";
  width: 1em;
  height: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  top: 1em \9;
}
header .btn-search:hover {
  background-color: #eaeaea;
}

.average-rate {
  margin-right: 1.5em;
}
.average-rate .star {
  white-space: nowrap;
  display: inline-block;
}
.average-rate .star:before, .average-rate .star:after {
  content: " ";
  display: table;
}
.average-rate .star:after {
  clear: both;
}
.average-rate .star:hover > i {
  color: #ffc853 !important;
}
.average-rate .star > i {
  color: #ffc853;
  float: left;
  padding-right: 0.25em;
  cursor: pointer;
  line-height: 0.5em;
}
.average-rate .star > i.current ~ i {
  color: #eaeaea;
}
.average-rate .star > i:hover ~ i {
  color: #eaeaea !important;
}
.average-rate .rate-counter {
  color: inherit;
  margin-left: 0.5em;
}

.number-of-comments i,
.number-of-bookings i {
  line-height: 0.5em;
  margin-right: 0.5em;
}
.number-of-comments span,
.number-of-bookings span {
  margin-right: 1.5em;
}

.zebra-list li {
  background-color: #f4f4f4;
  padding: 10px 5px;
}
.zebra-list li:before, .zebra-list li:after {
  content: " ";
  display: table;
}
.zebra-list li:after {
  clear: both;
}
.zebra-list li:nth-of-type(2n) {
  background-color: #fcfcfc;
}

.booking-bage {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5em;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  display: inline-block;
  padding: 0.25em 0.5em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.soon .booking-bage {
  background: #24bd77;
}

.in-progress .booking-bage {
  background-color: #f27e36;
}

.completed .booking-bage {
  background-color: #acacac;
}

.feed-date-bage {
  width: 4em;
  clear: both;
}
.feed-date-bage span {
  padding: 0.25em 0;
  background-color: white;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0 1px lightgray;
  box-shadow: 0 1px lightgray;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 11px;
}

.reply-to-message {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 11.25px 30px;
}

.list-without-spaces,
.without-spaces {
  text-align: justify;
  width: 100%;
  line-height: 1;
  margin-bottom: -1em;
  overflow: hidden;
}
.list-without-spaces:after,
.without-spaces:after {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
  content: "";
}
.list-without-spaces li,
.without-spaces li {
  white-space: nowrap;
  display: inline-block;
}
.list-without-spaces li.divide, .list-without-spaces li.divider,
.without-spaces li.divide,
.without-spaces li.divider {
  position: relative;
}
.list-without-spaces li.divide:before, .list-without-spaces li.divider:before,
.without-spaces li.divide:before,
.without-spaces li.divider:before {
  background-color: #cccccc;
  position: absolute;
  width: 1px;
  height: 10000px;
  bottom: -0.42857em;
  left: 0;
  content: "";
  background-color: #eaeaea;
}
.list-without-spaces li.divide:first-child, .list-without-spaces li.divider:first-child,
.without-spaces li.divide:first-child,
.without-spaces li.divider:first-child {
  display: none;
}
.list-without-spaces.fixed,
.without-spaces.fixed {
  overflow: visible;
}
.list-without-spaces.fixed .divide:before,
.list-without-spaces.fixed .divider:before,
.without-spaces.fixed .divide:before,
.without-spaces.fixed .divider:before {
  bottom: 0;
  height: 1em;
}

.input-group {
  display: table;
  border-collapse: separate;
  position: relative;
  width: 100%;
}
.input-group > * {
  display: table-cell;
  vertical-align: middle;
}
.input-group .input-group-addon {
  padding-left: 10px;
  padding-right: 10px;
}

.form-control {
  margin-bottom: 20px;
  width: 100%;
  display: block;
}
.form-control:before, .form-control:after {
  content: " ";
  display: table;
}
.form-control:after {
  clear: both;
}

.btn,
.btn-inline {
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  border: 1px solid transparent;
}

.btn {
  font-size: 14px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 2em;
  height: 3em;
}

.btn-inline {
  font-size: 13px;
  display: inline-block;
  line-height: 1;
  padding: 0.75em 1em;
}

label.file-input-btn,
label.file-input-drag {
  cursor: pointer;
}
label.file-input-btn input,
label.file-input-drag input {
  display: table-column;
  display: inline\9;
  height: 0;
  overflow: hidden;
  font-size: 0;
  width: 0;
  padding: 0;
}

label.file-input-drag {
  width: 100%;
  border-radius: 4px;
  border: 3px dashed lightgray;
  display: block;
  text-align: center;
  padding: 30px;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
label.file-input-drag:hover {
  border-color: #acacac;
  color: #878787;
}

label.rad-btn {
  cursor: pointer;
}
label.rad-btn input {
  display: none;
  display: inline\9;
  height: 0;
  overflow: hidden;
  font-size: 0;
  width: 0;
  padding: 0;
}
label.rad-btn input:checked + i:before {
  width: 40%;
  height: 40%;
}
label.rad-btn i {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0 0.5em -0.2em;
  border: 1px solid #eaeaea;
  position: relative;
  background-color: white;
  border-radius: 50%;
}
label.rad-btn i:before {
  background-color: #878787;
  width: 0;
  height: 0;
  -webkit-transition-property: width, height;
  transition-property: width, height;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  border-radius: 50%;
}
label.rad-btn:hover i {
  border-color: #acacac;
}

label.check-btn {
  cursor: pointer;
}
label.check-btn input {
  display: none;
  display: inline\9;
  height: 0;
  overflow: hidden;
  font-size: 0;
  width: 0;
  padding: 0;
}
label.check-btn input:checked + span > i {
  color: #878787;
}
label.check-btn span {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #eaeaea;
  width: 1.4em;
  height: 1.4em;
  vertical-align: -0.4em;
  position: relative;
  border-radius: 4px;
}
label.check-btn span i {
  color: transparent;
  width: 1em;
  height: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

.chosen-container {
  font-weight: inherit;
  font-size: inherit;
  height: 3em;
  text-align: center;
  width: 100% !important;
  display: block;
  font-weight: 600;
}
.chosen-container.chosen-with-drop .chosen-choices,
.chosen-container.chosen-with-drop .chosen-single {
  background: white;
  border-color: #acacac;
  border-radius: 4px 4px 0 0 !important;
}
.chosen-container.chosen-with-drop .chosen-single span:after {
  content: "\f0d8";
}
.chosen-container .chosen-single {
  display: table;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  padding: 0 !important;
}
.chosen-container .chosen-single div {
  display: none;
}
.chosen-container .chosen-single span {
  vertical-align: middle;
  display: table-cell;
  margin: 0;
  padding-right: 1em;
}
.chosen-container .chosen-single span:after {
  content: "\f0d7";
  position: absolute;
  right: 1em;
  font-family: "FontAwesome";
}
.chosen-container.chosen-container-multi {
  height: auto;
}
.chosen-container.chosen-container-multi .chosen-choices {
  padding: 0;
  min-height: 0 !important;
  height: auto !important;
  padding: 0.5em;
}
.chosen-container.chosen-container-multi .chosen-choices:before, .chosen-container.chosen-container-multi .chosen-choices:after {
  content: " ";
  display: table;
}
.chosen-container.chosen-container-multi .chosen-choices:after {
  clear: both;
}
.chosen-container.chosen-container-multi .chosen-choices .search-choice {
  padding: 0.5em;
  margin: 0.5em;
  background: none;
  color: #acacac;
}
.chosen-container.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
  background: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.chosen-container.chosen-container-multi .chosen-choices .search-field input {
  color: #acacac !important;
  margin: 0 !important;
  padding: 0 0 0 0.5em !important;
  height: 0.5em !important;
}
.chosen-container .chosen-drop {
  background-color: white;
  border-color: #acacac;
  border-width: 0.07143em;
  border-top-width: 0;
  max-height: 240px;
  margin-top: 0;
}
.chosen-container .chosen-search {
  padding: 0;
  margin: 0;
}
.chosen-container .chosen-search input {
  border-width: 0 0 1px !important;
  font-weight: 400;
}
.chosen-container .chosen-results {
  padding: 0;
  margin: 0;
  overflow: hidden;
  max-height: none !important;
}
.chosen-container .chosen-results li {
  color: #acacac;
}
.chosen-container .chosen-results li.highlighted {
  background: #eaeaea;
}
.chosen-container .chosen-results li.highlighted:hover {
  color: #acacac;
}
.chosen-container .chosen-results li.result-selected {
  background: lightgray;
}
.chosen-container .chosen-results li.result-selected:hover {
  color: white;
}

.select-gradient .chosen-container .chosen-choices,
.select-gradient .chosen-container .chosen-single {
  border: none;
  border-bottom: 1px solid #eaeaea;
  background-color: #eaeaea !important;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f7f7f7));
  background: -webkit-linear-gradient(top, white, #f7f7f7);
  background: linear-gradient(to bottom, white, #f7f7f7);
}
.select-gradient .chosen-container .chosen-drop {
  border-color: #eaeaea;
}

.without-search .chosen-search {
  display: none;
}

textarea,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
.chosen-container .chosen-choices,
.chosen-container .chosen-single {
  font-size: inherit;
  background: white;
  font-family: inherit !important;
  font-weight: 600;
  color: #acacac;
  min-height: 3em;
  padding: 0 1em;
  padding-top: 0.8em \9;
  border: 1px solid lightgray;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
  overflow: visible;
  border-radius: 4px;
}
textarea::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
.chosen-container .chosen-choices::-moz-placeholder,
.chosen-container .chosen-single::-moz-placeholder {
  color: #acacac;
  opacity: 1;
}
textarea:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
.chosen-container .chosen-choices:-ms-input-placeholder,
.chosen-container .chosen-single:-ms-input-placeholder {
  color: #acacac;
}
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
.chosen-container .chosen-choices::-webkit-input-placeholder,
.chosen-container .chosen-single::-webkit-input-placeholder {
  color: #acacac;
}
textarea:hover, textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
.chosen-container .chosen-choices:hover,
.chosen-container .chosen-choices:focus,
.chosen-container .chosen-single:hover,
.chosen-container .chosen-single:focus {
  border-color: #acacac;
  z-index: 5;
}
textarea:invalid,
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
.chosen-container .chosen-choices:invalid,
.chosen-container .chosen-single:invalid {
  border-color: #f1a8a0;
}
textarea:invalid:focus, textarea:invalid:hover,
input[type="text"]:invalid:focus,
input[type="text"]:invalid:hover,
input[type="password"]:invalid:focus,
input[type="password"]:invalid:hover,
input[type="email"]:invalid:focus,
input[type="email"]:invalid:hover,
.chosen-container .chosen-choices:invalid:focus,
.chosen-container .chosen-choices:invalid:hover,
.chosen-container .chosen-single:invalid:focus,
.chosen-container .chosen-single:invalid:hover {
  border-color: #e45647;
}
textarea.table-form,
input[type="text"].table-form,
input[type="password"].table-form,
input[type="email"].table-form,
.chosen-container .chosen-choices.table-form,
.chosen-container .chosen-single.table-form {
  background-color: transparent;
  text-align: right;
  border: none;
  min-height: 0;
  padding: 0;
  margin-right: 0.5em;
  width: 5em;
  color: #2c2c2c !important;
}

textarea {
  resize: none;
  height: auto;
  padding: 1em 1em 0;
  width: 100%;
  font-family: inherit;
}
textarea .autosizejs {
  line-height: 20px;
}

.send-dialog-message {
  background: white;
  width: 100%;
  position: absolute;
  z-index: 1000;
  min-height: 12em;
  border-top: 1px solid #eaeaea;
  bottom: 0;
  padding: 15px 20px;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.05);
}
.send-dialog-message .textarea-wrapper {
  padding-bottom: 4em;
  min-height: 100%;
}
.send-dialog-message button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px 20px;
}
.send-dialog-message textarea {
  border: none;
  padding: 0;
}

.date-picker {
  display: table;
  width: 100%;
}
.date-picker > * {
  display: table-cell;
  width: auto !important;
  height: 2em;
  vertical-align: middle;
}
.date-picker .input-group {
  height: 100%;
}
.date-picker input {
  font-family: inherit !important;
  color: inherit;
  font-weight: 600 !important;
  height: 2em;
  padding: 0 0.5em;
  width: 100%;
  border: none;
}
.date-picker input::-moz-placeholder {
  color: #acacac;
  opacity: 1;
}
.date-picker input:-ms-input-placeholder {
  color: #acacac;
}
.date-picker input::-webkit-input-placeholder {
  color: #acacac;
}
.date-picker .chosen-container {
  margin-left: 10px;
  height: 2em;
}
.date-picker .chosen-single {
  min-height: 0 !important;
  height: 100%;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

ul.not-ordered {
  padding-left: 20px;
}
ul.not-ordered li {
  margin: 20px 0;
  padding-left: 20px;
  position: relative;
}
ul.not-ordered li:before {
  position: absolute;
  content: ".";
  left: 0;
  line-height: 1;
  top: 0;
}

article.dashboard table {
  width: 100%;
  border-collapse: collapse;
}
article.dashboard table.calendar {
  font-size: 13px;
}
article.dashboard table.calendar thead tr {
  background-color: #eaeaea;
}
article.dashboard table.calendar tbody {
  background-color: #f7f7f7;
}
article.dashboard table.calendar tr:nth-of-type(2n) {
  background-color: #fcfcfc;
}
article.dashboard table.calendar td {
  padding: 10px;
  vertical-align: middle;
  border-left: 1px solid #acacac;
}
article.dashboard table.calendar td:first-child {
  border-left: none;
}
article.dashboard table.calendar td.outages {
  background-color: #fbe5e3;
}
article.dashboard table.calendar td.booking {
  background-color: #d0f6e5;
}
article.dashboard table.bg-light tbody {
  background-color: white;
}

.badge-count-action {
  position: absolute;
  top: -0.5em;
  right: 0;
  padding: 0 0.75em;
  line-height: 1.8em;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 12px;
  background-color: #f27e36;
  text-align: center;
}
.fa-lg .badge-count-action {
  font-size: 10px;
  top: -1em;
  right: -1em;
}
