<aside class="tabs-vertical-static pull-right lg">
    <div class="section-header">
        <h4 class="text-center indent-xs-v">Réservation associé à :</h4>
    </div>
    <ul class="scrollbar-custom">
        <li class="tab-vertical">
            <div class="section-content"><img data-ng-src="{{messageThread.product.picture}}" alt="" width="100%">

                <h3 class="indent-xs-v"><a href="#" class="text-underline-hover"><b>{{messageThread.product.summary}}</b></a></h3>

                <p class="text-gray"><i class="fa fa-map-marker fa-lg">&nbsp;</i>{{messageThread.product.address.city}},&nbsp;
                    {{messageThread.product.address.zipcode}}
                </p>

                <p class="text-gray indent-sm-v"><span class="average-rate"><span class="star"><i
                        class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i
                        class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span><span
                        class="rate-counter">32</span></span><span class="number-of-comments"><i
                        class="fa fa-lg fa-comments-o"></i><span>12</span></span>
                </p>

                <div class="block-with-thumbnail">
                    <div class="col-thumbnail">
                        <div class="thumbnail round">
                            <a href="#julien_dupré_homepage">
                                <img data-ng-src="{{messageThread.product.owner.avatar.thumbnail}}"
                                     alt="{{messageThread.product.owner.username}}" width="40" height="40">
                            </a>
                        </div>
                    </div>
                    <div class="col-exposition"><a href="#julien_dupré_homepage" class="text-underline-hover text-gray">
                        <h4 class="indent-xs-h">{{messageThread.product.owner.username}}</h4></a></div>
                </div>
            </div>
        </li>
        <li class="tab-vertical">
            <div class="section-content">
                <ul data-ng-if="!!booking" class="zebra-list indent-md-b">
                    <li class="clearfix">
                        <div class="col-xs-3">Début</div>
                        <div class="col-xs-9">
                            <span translate="{{booking.start_date.week_day}}"></span>
                            <span> {{booking.start_date.day}} </span>
                            <span translate="{{booking.start_date.month}}"></span>
                            <span> {{booking.start_date.year}} </span>
                            <span translate="at"></span>
                            <span> {{booking.start_time}}</span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-xs-3">Fin</div>
                        <div class="col-xs-9">
                            <span translate="{{booking.end_date.week_day}}"></span>
                            <span> {{booking.end_date.day}} </span>
                            <span translate="{{booking.end_date.month}}"></span>
                            <span> {{booking.end_date.year}} </span>
                            <span translate="at"></span>
                            <span> {{booking.end_time}}</span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-xs-3">Période</div>
                        <div class="col-xs-9">
                            {{booking.period_days}} jours et {{booking.period_hours}} heures
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="col-xs-3">Prix</div>
                        <div class="col-xs-9 text-success">{{booking.total_amount}}€</div>
                    </li>
                    <li class="clearfix">
                        <div class="col-xs-3">Caution</div>
                        <div class="col-xs-9">{{booking.deposit_amount}}€</div>
                    </li>
                </ul>
                <div data-ng-if="!!booking" class="text-right"><a href="#" class="text-success text-underline-hover indent-sm-h">Annulation</a><a
                        href="#" class="btn-inline bg-success-hover text-white">Télécharger le contrat</a></div>

                <form data-ng-if="!booking">
                    <div class="indent-sm-v select-gradient without-search date-picker">
                        <div class="form-group">
                            <div class="input-group"><span class="input-group-addon">DU</span>
                                <input type="text" placeholder="dd/mm/yyyy" data-ng-model="newBooking.start_date" data-date-format="dd/mm/yyyy" eloue-datepicker>
                                <span class="input-group-addon"><i class="fa fa-calendar fa-lg text-gray"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select>
                                <option value="01.00">01.00</option>
                                <option value="02.00">02.00</option>
                                <option value="03.00">03.00</option>
                                <option value="04.00">04.00</option>
                                <option value="05.00">05.00</option>
                                <option value="06.00">06.00</option>
                                <option value="07.00">07.00</option>
                                <option value="08.00">08.00</option>
                                <option value="09.00">09.00</option>
                                <option value="10.00">10.00</option>
                                <option value="11.00">11.00</option>
                                <option value="12.00">12.00</option>
                                <option value="13.00">13.00</option>
                                <option value="14.00">14.00</option>
                                <option value="15.00">15.00</option>
                                <option value="16.00">16.00</option>
                                <option value="17.00">17.00</option>
                                <option value="18.00">18.00</option>
                                <option value="19.00">19.00</option>
                                <option value="20.00">20.00</option>
                                <option value="21.00">21.00</option>
                                <option value="22.00">22.00</option>
                                <option value="23.00">23.00</option>
                            </select>
                        </div>
                    </div>
                    <div class="indent-sm-v select-gradient without-search date-picker">
                        <div class="form-group">
                            <div class="input-group"><span class="input-group-addon">AU</span>
                                <input type="text" placeholder="dd/mm/yyyy" data-ng-model="newBooking.end_date" data-date-format="dd/mm/yyyy" eloue-datepicker>
                                <span class="input-group-addon"><i class="fa fa-calendar fa-lg text-gray"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <select>
                                <option value="01.00">01.00</option>
                                <option value="02.00">02.00</option>
                                <option value="03.00">03.00</option>
                                <option value="04.00">04.00</option>
                                <option value="05.00">05.00</option>
                                <option value="06.00">06.00</option>
                                <option value="07.00">07.00</option>
                                <option value="08.00">08.00</option>
                                <option value="09.00">09.00</option>
                                <option value="10.00">10.00</option>
                                <option value="11.00">11.00</option>
                                <option value="12.00">12.00</option>
                                <option value="13.00">13.00</option>
                                <option value="14.00">14.00</option>
                                <option value="15.00">15.00</option>
                                <option value="16.00">16.00</option>
                                <option value="17.00">17.00</option>
                                <option value="18.00">18.00</option>
                                <option value="19.00">19.00</option>
                                <option value="20.00">20.00</option>
                                <option value="21.00">21.00</option>
                                <option value="22.00">22.00</option>
                                <option value="23.00">23.00</option>
                            </select>
                        </div>
                    </div>
                    <ul class="zebra-list">
                        <li>
                            <div class="col-xs-4">Durée</div>
                            <div class="col-xs-8">4 jours et 3 heures</div>
                        </li>
                        <li>
                            <div class="col-xs-4">Prix</div>
                            <div class="col-xs-8 text-success">350€</div>
                        </li>
                        <li>
                            <div class="col-xs-4">Caution</div>
                            <div class="col-xs-8">400€</div>
                        </li>
                    </ul>
                    <div class="row">
                        <p class="text-gray indent-sm-v text-center">Assurance incluse</p>
                        <button type="submit" class="btn text-white bg-success-hover col-xs-8 col-xs-offset-2">Procédez à la réservation</button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</aside>
<section class="tabs-vertical-static pull-nothing">
    <ul class="scrollbar-custom messages-container">
        <li class="tab-vertical block-with-thumbnail" data-ng-repeat="message in messageThread.messages track by message.id">
            <div class="col-thumbnail">
                <div class="thumbnail round"><a><img
                        data-ng-src="{{message.sender.avatar.thumbnail}}" alt="{{message.sender.username}}"></a></div>
            </div>
            <div class="col-exposition">
                <h3><a class="text-underline-hover">{{message.sender.username}}</a></h3>

                <p class="small text-gray-light">{{message.sent_at}}</p>

                <p class="normal text-gray text-justify">{{message.body}}</p>
            </div>
        </li>
    </ul>
    <form class="send-dialog-message clearfix" data-ng-submit="postNewMessage()">
        <div class="textarea-wrapper">
            <textarea
                    id="message-text"
                    name="message-text"
                    data-ng-model="message"
                    tabindex="1"
                    placeholder="Rédigez votre message ici..."
                    class="expand">
            </textarea>
        </div>
        <button type="submit" class="btn bg-success-hover text-white">Envoyez</button>
    </form>
</section>