.container.indent-t-md.indent-b-lg
  h2.text-center.text-uppercase Er du professionnel udlejer? Det er vi også!

  .row.indent-t-md
    .col-md-8: .text-justify.text-gray-strong
      br
      br
      p
        | e-loue er Frankrigs største online udlejningsvirksomhed, der er dedikeret til både privat og erhvervsudlejning.  Nu er e-loue kommet til Danmark! Uanset hvilken branche, som du er indenfor, og hvor i landet du udbyder din erhvervsudlejning, er vores medlemmer interesserede i dine udlejningsgenstande. Det kan være inden for Gør-Det-Selv, have, foto/video, sport, køretøjer, mode,  udklædning, lokaler,  udstyr til at afholde selskaber og meget meget andet...
      p.indent-t-sm: b 
        | Så tøv ikke med at abonnere på vores erhvervspakke e-loue PRO og nyd godt af en ekstraordinær distributionskanal, som øger din indkomst på en nem og hurtig måde. 
        
    .col-md-4: .bg-primary.pad-sm
      p
        | e-loue PRO, det perfekte partnerskab
      ul.reset_list
        li Dine annoncer får ubegrænset visibilitet på nettet
        li En månedlig status som udføres sammen med dig
        li En service i top

      
      p
        | Alle de aktiver, som vi udbyder, er med det ene formål at bringe dig nye kunder!