.container.text-center.indent-v-lg
  table.calendar.bd-full
    thead
      tr.text-white.text-uppercase
        td.bg-gray-dark: b 12 mdrs. abonnement
    tbody.text-gray-strong
      tr
        td Automatisk uploading af dine udlejningsprodukter
      tr
        td Ubegrænset antal produktuploads til hjemmesiden
      tr
        td Synlighed på hjemmesiden døgnet rundt
      tr
        td Opsætning af din online-shop inden for en uge
      tr
        td Dit telefonnummer, din hjemmeside og din erhvervsadresse vil fremgå tydeligt 
      tr
        td Særlig god kundeservice med blandt andet assistance og råd ifht. opsætning, opdatering og prissætning af udlejningsprodukterne 
      tr
        td Månedlige analytiske og statistiske rapporter 
      tr
        td Google SEO (søgemaskineoptimering)
      tr
        td PRO-forrang i søgeresultater 
      tr
        td Fuld synlighed af PRO-kunder i oversigten på hjemmesiden samt promovering af brand på e-loue’s danske sociale medier som Facebook, Instagram, Twitter og i nyhedsbrevet

  p.text-primary.indent-t-md
    | Du har ingen ekstra omkostninger: ingen procentafgift på dine udlejninger hos os, intet opsigelsesgebyr...
    br
    u: b Her er ingen skjulte omkostninger!
