.container.indent-v-lg.text-gray-strong
  -var process_items = [["Choisissez", "votre Pack <br>e-loue Pro"], ["Bénéficiez", "des avantages <br>e-loue Pro"], ["Augmentez",  "vos revenus <br>en boostant vos transactions"]]
  ul.process-list
    li.arrow-container: .arrow
      b.text-primary Vælg 
      span din e-loue PRO Pakke
    li.arrow-container: .arrow
      b.text-primary Nydt 
      span godt af alle fordelene hos<br>e-loue PRO
    li.arrow-container: .arrow
      b.text-primary Forøg 
      span din indtjening ved at<br>booste dine transaktioner
  p.indent-t-md: em e-loues PRO pakke er med udgangspunkt i en bindingsperiode på 6 eller 12 måneder. Ved afslutningen af din bindingsperiode kan du opsige dit abonnement, såfremt du ikke er tilfreds med den service, vi udbyder. Dette gør du ved blot at henvende dig til e-loue (per mail eller brev). Du kan selv vælge, hvilken dato dine annoncer skal publiceres. Den første måned vil blive debiteret en måned efter publikationen af dine annoncer.
