.container.indent-t-md.indent-b-md
  .row
    .col-sm-6: .mark-wrapper.indent-r-sm
      h3.text-white
        b Jeg er 
        b.text-success ejer, 
        br
        b Jeg har ting at udleje.
        b JJeg kan tjene penge!
    .col-sm-6: .mark-wrapper.indent-l-sm
      h3.text-white
        b Jeg er
        b.text-primary lejer,
        br
        b Jeg ønsker at leje ting.
        b Jeg kan spare penge!
