-load i18n
section.pull-nothing(ng-hide="items && (items.length > 0 || !!selectedCategory)")
  .notification-empty
    .notification-container
      i(class="{% verbatim %}{{routeChangeInProgress ? 'loading' : ''}}{% endverbatim %}").icon-5x.indent-sm-b.flaticon.solid.menu-list-4
      h2(ng-show="!routeChangeInProgress") {% trans "Pas encore d'annonce déposée" %}
      p(ng-show="!routeChangeInProgress").indent-md-v.text-black
        | {% trans "Vos objets peuvent vous rapporter de l'argent : karcher, appareil photo, caméra ..." %}
      a(ng-show="!routeChangeInProgress", href="/location/ajouter/").btn-inline.bg-success-hover.text-white {% trans "Déposez votre première annonce" %}