-load i18n
section.pull-nothing
  .notification-empty
    .notification-containers
      i(class="{% verbatim %}{{routeChangeInProgress ? 'loading' : ''}}{% endverbatim %}").icon-5x.indent-sm-b.flaticon.solid.menu-list-4
      h2(ng-show="!routeChangeInProgress") {% trans "Aucune annonce sélectionnée" %}