<style>
  .indent-v-lg {
    margin-top: 0px;}
  p{
  margin-bottom: 0px;}
  label{
  margin-bottom: 0px;
  margin-top: 5px;}
    .text-red{
  color: #a94442;
  }
</style>

 <script>
    setTimeout(function() {
    $('#toast-container').fadeOut('slow');
    }, 3000);
</script>

<div class="container indent-v-lg">

      <p class="indent-b-md">
        Renseignez les champs de ce formulaire si vous êtes professionnel de la location 
        et que vous souhaitez avoir des informations sur l'offre Dressbooking.
        Notre équipe commerciale vous recontactera sous 24h pour vous présenter les détails de nos partenariats et répondre à toutes vos questions.
      </p>

      <form action="/offre-professionnel/" method="POST" class="form-wrapper ng-pristine ng-valid">
      {% csrf_token %}
      {% if messages %}
      {% for message in messages %}
      <div id="toast-container" class="toast-top-full-width" aria-live="polite"><div class="toast toast-{{ tag }}"><div class="toast-message">{{ message|safe }}</div></div></div>
      {% endfor %}
      {% endif %}

    

            <div class="row indent-v-xs">
                  <div class="col-xs-4 text-right">
                  <label>Nom, Prénom*&nbsp;:</label>
                  </div>
                  <div class="col-xs-8 col-sm-6 col-md-4">
                  <input required class="form-control" name="{{ form.name.html_name }}" value="{{ form.name.value }}">

                  {% if form.name.errors %}
                  {% for error in form.name.errors %}
                  <p class="text-red">{{ error|escape }}</p>
                  {% endfor %}
                  {% endif %}
          
                  </div>
            </div>
             <div class="row indent-v-xs">
                  <div class="col-xs-4 text-right">
                  <label>Domaine d'activité*&nbsp;:</label>
                  </div>
                  <div class="col-xs-8 col-sm-6 col-md-4">
                  <input required class="form-control" name="{{ form.activity_field.html_name }}" value="{{ form.activity_field.value }}">

                  {% if form.activity_field.errors %}
                  {% for error in form.activity_field.errors %}
                  <p class="text-red">{{ error|escape }}</p>
                  {% endfor %}
                  {% endif %}
          
                  </div>
            </div>
            <div class="row indent-v-xs">
                  <div class="col-xs-4 text-right">
                  <label>Votre email*&nbsp;:</label>
                  </div>
                  <div class="col-xs-8 col-sm-6 col-md-4">
                  <input type= "email" required class="form-control" name="{{ form.sender.html_name }}" value="{{ form.sender.value }}">

                  {% if form.sender.errors %}
                  {% for error in form.sender.errors %}
                  <p class="text-red">{{ error|escape }}</p>
                  {% endfor %}
                  {% endif %}
          
                  </div>
            </div>
             <div class="row indent-v-xs">
                  <div class="col-xs-4 text-right">
                  <label>Votre numéro de téléphone&nbsp;:</label>
                  </div>
                  <div class="col-xs-8 col-sm-6 col-md-4">
                  <input class="form-control" name="{{ form.phone_number.html_name }}" value="{{ form.phone_number.value }}">

                  {% if form.phone_number.errors %}
                  {% for error in form.phone_number.errors %}
                  <p class="text-red">{{ error|escape }}</p>
                  {% endfor %}
                  {% endif %}
          
                  </div>
            </div>
         

            <div class="row">
                  <div class="col-xs-4 col-sm-3 col-xs-offset-5 text-right">
                        <p><em>*&nbsp;champs obligatoires</em></p>
                  </div>
            </div>
       

        <div class="row indent-v-sm">
            <div class="col-xs-8 col-sm-4 col-xs-offset-4">
                  <input type="submit" value="Envoyer le message" style="width: 100%;" class="btn btn-lg bg-primary">
            </div>
        </div>

        <div class="row"><hr class="col-xs-6 col-sm-4 col-xs-offset-3 col-sm-offset-4">
        </div>
    </form>
      <p class="text-center"> 
            Vous pouvez également nous joindre à l'adresse suivante contact@dressbooking.com
            </p>
</div>