.container.indent-t-md.indent-b-lg
  h2.text-center.text-uppercase vous êtes loueur professionnel&nbsp;? nous aussi&nbsp;!

  .row.indent-t-md
    .col-md-8: .text-justify.text-gray-strong
      p
        | Dressbooking est le premier site de location de tenue et accessoires de cérémonies 
        | dédié aux particuliers et aux professionnels de la mode. Que vous soyez spécialisé dans 
        | l’habillement ou les accessoires, quelle que soit votre localité, nos membres seront intéressés 
        | par vos produits à louer : robes, bijoux de créateurs, nœuds papillons, chapeaux, jaquettes, 
        | costumes pour enfants...
      br
      p.indent-t-sm: b
        | Alors n’hésitez pas à souscrire un Pack Dressbooking PRO pour profiter 
        | d’un canal de distribution complémentaire et augmenter facilement vos revenus&nbsp;!
    .col-md-4: .bg-primary.pad-sm
      p
        | Dressbooking PRO, le partenaire qu’il vous faut :
      ul.reset_list
        li Visibilité illimitée de vos annonces
        li Point mensuel avec vous
        li Service dédié
      
      p
        | Autant d’atouts que nous mettons
        | à votre disposition pour vous 
        | apporter de nouveaux clients !
