{% load i18n product %}
<li class="x12 first">
    <div class="bk">
        <div class="bk-dates">
            <p>
                {{ booking.started_at|date:"d/m/Y" }}<br/>
                <span>&darr;</span><br />
                {{ booking.ended_at|date:"d/m/Y" }}
            </p>
        </div>
        <div class="bk-desc">
            {% with booking.product as product %}
                <a class="bk-product-img" href="{{ product.get_absolute_url }}">
             	 {% with product.pictures.all|first as picture %}
            	  <img width="70" src="{{ picture.thumbnail.url }}" />
            	 {% endwith %}
            	</a>
            	<h5>{{ product.summary|capfirst }}</h5>
            	{% if user == booking.owner %}
            	<div class="bk-borrower">
            		<img src="{{ STATIC_URL }}images/bk_borrower_img.png">
            		<h5><a href="{{ booking.borrower.get_absolute_url }}">{{ booking.borrower.get_full_name }}</a></h5>
            	</div>
            	{% else %}
             	<div class="bk-borrower">
            		<img src="{{ STATIC_URL }}images/bk_borrower_img.png">
            		<h5><a href="{{ booking.owner.get_absolute_url }}">{{ booking.owner.get_full_name }}</a></h5>
            	</div>
            	{% endif %}
            	<div class="bk-price">
                    <p>{{ booking.total_amount|currency }}</p>
            	</div>
            	<div class="bk-details">
            	 <a href="{{ booking.get_absolute_url }}" class="btn medium-blue">{% trans "Voir les détails" %}</a>
            	</div>
               </div>
            {% endwith %}
    </div>
    {% include "rent/partials/booking_status.html" %}
</li>