-load compressed staticfiles eloue_url

doctype 5
html(lang="fr")
  head
    style [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide { display: none !important; }
    block variables
      include jade/variables

    block head
      title AutoVoisin Location
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="shortcut icon", href="{% static 'img/favicon.ico' %}")

    block styles
      link(rel="stylesheet", href="http{% if request.is_secure %}s{% endif %}://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600")
      {% compressed_css "extrastyles" %}

    block scripts
      {% compressed_js "public_js" %}
    script
      var _gaq = _gaq || [];
      //_gaq.push(['_setAccount', 'UA-58724631-1']);
      _gaq.push(['_setDomainName', 'autovoisin.com']);
      _gaq.push(['_trackPageview']);
      {% spaceless %}
      {% if request.user.is_authenticated %}
      _gaq.push(['_setVar', 'authenticated']);
      {% else %}
      _gaq.push(['_setVar', 'anonymous']);
      {% endif %}
      {% endspaceless %}
  body
    input(id="eloue_url_redirect", value="{% eloue_url 'redirect' %}", type="hidden")
    block content-body
      include jade/_pop_up_redirect
    script
        (function() {
             var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
    {% if not debug %}
    script
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
        d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
        $.src='//v2.zopim.com/?WgwK6edNrVndm09BEcS9eHH77YcyszBK';z.t=+new Date;$.
        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    {% endif %}
    #ngModals
        eloue-login-form
        eloue-registration-form
        eloue-reset-password-form
