extends ./base
-load compressed prefixed_cache i18n

{% block title %}{% trans "Location entre particuliers ou professionnels de tout type d'objet" %}{% endblock %}

block append styles
  {% compressed_css "bootstrap" %}
  {% compressed_css "homepage_styles" %}

block append content-body
  .container-flex(data-ng-controller="HomePageCtrl")
    header.header-site
      include ./jade/_header_site
      nav.nav-home.container
        include ./jade/_nav_home

    article
      {% cache 43200 'homepage_banner_static' %}
      section.banner
        include ./jade/_homepage_carousel_banner
      {% endcache %}
      {% cache 43200 'homepage_insurance_static' %}
      section.insurances.framing
        include ./jade/_insurances
      {% endcache %}
      section.product-list
        include ./jade/_product_list
      section.float-comments.framing
        include ./jade/_comments
      {% cache 43200 'homepage_city_list_static' %}
      section.location-list
        -var cities_list = [["PARIS", "MARSEILLE", "LYON"], ['TOULOUSE', 'BORDEAUX', 'MONTPELLIER'], ['LILLE', 'NICE', 'NANTES']]
        include ./jade/_location_list
      {% endcache %}

    main
      {% cache 43200 'homepage_main_static' %}
      section.warranty.framing: include ./jade/_warranty
      section.professional-renter-content: include ./jade/_professional_renter_content
      section.talk-about-us.framing: include ./jade/_talk_about_us
      {% endcache %}

    footer
      {% cache 43200 'homepage_footer_static' %}
      section.footer-links: include ./jade/_footer_links
      section.rss.framing.framing: include ./jade/_rss
      {% endcache %}
