{% extends "base_email.html" %}

{% load i18n %}

{% block title_email %}{% trans "Vous avez reçu une demande de devis" %}{% endblock %}

{% block content_email %}
<tr>
    <td valign="top" width="100%" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="510" class="leftColumnContent">
            <tbody>
                <tr>
                    <td valign="top" style="padding-top: 20px;border-collapse: collapse;">
                        <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 200%;text-align: left;">
                        	{% blocktrans with patron.first_name as first_name and patron.last_name as last_name %}
                                <p>Bonjour {{ first_name }} {{ last_name }},<br><br></p>

                                <p>Vous avez reçu une demande de devis.</p>

                            {% endblocktrans %}

                            {% blocktrans with email as email and phone as phone %}
                                <p>Coordonnées du client :</p>
                                <p>Numéro de téléphone  : {{ phone }}</p>
                                <p>Adresse email : {{ email }}</p>
                            {% endblocktrans %}
                            
                            <p>{% trans "Damande du client :"%}</p>
                            
                            <p>{{ message }}</p>

                            
                            <p>{% trans "L'équipe" %} {{ site.name }}.</p>
                        </div>                                                                    
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}
