{% extends "base_email.html" %}

{% load i18n %}

{% block title_email %}{% trans "Félicitations, vous êtes inscrits sur e-loue PRO" %}{% endblock %}

{% block content_email %}
<tr>
    <td valign="top" width="100%" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="510" class="leftColumnContent">
            <tbody>
                <tr>
                    <td valign="top" style="padding-top: 20px;border-collapse: collapse;">
                        <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 200%;text-align: left;">
                        	{% blocktrans with patron.first_name as first_name and patron.last_name as last_name and domain as domain and protocol as protocol and patron.current_subscription.propackage.name as propackage %}
                                Bonjour {{ first_name }} {{ last_name }},<br><br>

                                 <p>Nous avons le plaisir de vous confirmer votre inscription sur e-loue, le premier site qui référence toutes les offres de location en France. Nous vous rappelons que vous avez choisi le Pack e-loue {{ propackage }}, qui vous permet de publier un nombre illimité d’annonces sur notre site.</p>

                                 <p>Pour finaliser votre inscription, nous vous invitons à activer votre compte et personnaliser dès à présent votre mot de passe e-loue. Gardez le précieusement, car pour vos connecter sur notre site, vous aurez besoin de votre adresse e-mail et de ce mot de passe.</p>

                            {% endblocktrans %}
                            
                            <p style="margin-top: 0px; text-align: center;">
                            	<a href="{{ protocol }}://{{ domain }}{% url propw uidb36=uid token=token %}?utm_source=e-loue&utm_medium=email_transaction&utm_campaign=professional_activation" style="text-decoration: none; cursor: pointer; display: inline-block; background-color: #f36100; padding: 10px; font-family: Arial, sans-serif; line-height: 18px; font-size: 14px; color: #fff; border: 1px solid #c85007; vertical-align: 7%;">
                                	{% trans "Activer votre compte" %}
                            	</a>
                            </p>
                            <p>
                                Notre Service Client PRO vous contactera dans les 48h pour vous expliquer la procédure qui nous permettra de récupérer votre catalogue d’objets à louer, et de publier l’intégralité de vos annonces, en moins de 2 semaines.
                            </p>
                            <p>
                                Si vous avez des questions, n’hésitez pas à contacter notre Service Client PRO au 01.85.08.33.20 (du lundi au vendredi de 9h à 18h). Nous vous remercions pour votre confiance, et sommes heureux de vous compter parmi nos nouveaux clients e-loue PRO.
                            </p>
                            <p>
                                Cordialement,<br><br>
                                Mélanie<br>
                                Service Client e-loue PRO<br>
                                01.85.08.33.20<br>
                                <a href="https://www.e-loue.com/?utm_source=e-loue&utm_medium=email_transaction&utm_campaign=professional_activation">www.e-loue.com</a><br>
                                <a href="https://www.e-loue.com/espace_pro/?utm_source=e-loue&utm_medium=email_transaction&utm_campaign=professional_activation">www.e-loue.com/espace_pro/</a>
                            </p>
                        </div>                                                                    
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}