{% extends "base_email.html" %}

{% load i18n %}

{% block title_email %}{% trans "Validation de votre inscription pro" %}{% endblock %}

{% block content_email %}
<tr>
    <td valign="top" width="100%" style="border-collapse: collapse;">
        <table border="0" cellpadding="0" cellspacing="0" width="510" class="leftColumnContent">
            <tbody>
                <tr>
                    <td valign="top" style="padding-top: 20px;border-collapse: collapse;">
                        <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 200%;text-align: left;">
                        	{% blocktrans with patron.username as username and patron.current_subscription.propackage as propackage %}
                                Bonjour {{ username }},<br><br>

                                Nous vous confirmons la souscription à l'abonnement suivant :<br><br>
                                {{ propackage }}

                                Nous vous invitons à prendre connaissance des conditions générales : <a href="https://www.e-loue.com/conditions-generales/">Conditions générales e-loue</a>
                                
                            {% endblocktrans %}
                            {% trans "L'équipe" %} {{ site.name }}.
                        </div>                                                                    
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
{% endblock %}