-load i18n

.container
  ol.breadcrumb
    li: a(href="{% url 'home' %}") {% trans 'Accueil' %}
    li {% trans "L’entreprise e-loue" %}
    li.active {% trans "Conditions générales professionnels" %}