<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a href="#" data-toggle="modal" data-target="#loginModal">Connectez-vous</a></li>
    <li><a ng-href="#">Inscrivez-vous</a></li>
  </ul>
    <a href="/"><img src="//eloue.s3.amazonaws.com/static/images/logo_new.png" alt="e-loue" width="155" height="47"></a>
</div>

<div class="jumbotron">
<img src="../images/homepage_background.png">
</div>

<div class="row marketing">

</div>

<div class="footer">
  <p>Tout se loue entre particuliers et professionnels : location perceuse, location échelle, location remorque avec ou
      sans bâche, location voiture citadine ou espace ou utilitaire camion, location moto, location scooter. Vous allez
      ainsi pouvoir gagner de l’argent avec une location de Gopro Glidecam, location appareil photo canon numérique
      (zoom, bras, etc.) et caméra ou une location de motoculteur. E-loue est en effet le premier site pour tout louer
      entre particuliers et professionnels. Vous pouvez même louer une tronconneuse, machine à coudre, table de massage,
      motobineuse, poussette double. 100 000 annonces de location partout en France, Paris, ile de France, Marseille,
      Toulouse, Lyon, Lille, Nantes. Pour une réception, soirée, en plus de louer une robe de soirée ou louer robe de
      mariage, pensez à la location de tente, Playstation ou de décoration. Aussi ce qui se loue bien est la location
      de décolleuse, bétonnière, vidéoprojecteur, siège auto, location e-one épilateur définitif. Louer un GPS pour
      partir en vacances avec votre auto moto, une ponceuse, un coffre de toit, un camping car ou mobile home voire
      une location de shampouineuse, drône ou friteuse. Soyez malin en louant tout. Toutes les locations de particulier
      à particulier et de particuliers à professionnel, même les appartements et maisons de vacances, se font en toute
      sécurité grâce à nos assurances.</p>
</div>

<div id="loginModal" class="modal fade login-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" ng-controller="LoginCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Connexion
            </div>
            <div class="modal-body">
                <h4>Connectez-vous à votre compte</h4>
                <form name="loginForm" class="form-inline" role="form" ng-submit="login()" novalidate>
                    <input name="username" class="form-control" type="text" placeholder="Email" data-ng-model="credentials.username">
                    <span
                            data-ng-show="loginForm.username.$error.required && loginForm.username.$dirty" class="errorMsg">
            Email is required</span>
                    <input name="password" class="form-control" type="password" placeholder="Mot de passe" data-ng-model="credentials.password">
                    <span
                            data-ng-show="loginForm.password.$error.required && loginForm.password.$dirty" class="errorMsg">
            Password is required</span>
                    <label class="checkbox">
                        <input type="checkbox">Se souvenir de moi
                    </label>
                    <button class="btn btn-success" type="submit" data-ng-disabled="loginForm.$invalid || !loginForm.$dirty">Connexion</button>
                </form>
            </div>
            <div class="modal-footer">
                <p>Vous êtes déjà membre e-toue ?</p>
                <a href="#">Inscription</a>
            </div>
        </div>
    </div>
</div>
