-load i18n
.container
  ul.nav.nav-justified
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap  	How Does Rental-Search Work?								//-{% trans "Le concept e-loue" %}
      ul.nav
        li.link-wrapper: a(href="/{% trans 'comment-ca-marche' %}/") {% trans "Comment ça marche ?" %}
//-        li.link-wrapper: a(href="/{% trans 'securite' %}/") {% trans "e-loue et la sécurité" %}
//-        li.link-wrapper: a(href="/{% trans 'offre-professionnel' %}/") {% trans "L'offre e-loue Pro" %}
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap 	Terms of Use												//-{% trans "Pourquoi choisir e-loue ?" %}
      ul.nav
//-        li.link-wrapper: a(href="/{% trans 'conditions-generales-particuliers' %}/") {% trans "Conditions générales particuliers" %}
        li.link-wrapper: a(href="/{% trans 'conditions-generales-professionnels' %}/") {% trans "Conditions générales professionnels" %}
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap    Find Out More             									//-{% trans "En savoir plus" %}
      ul.nav
        li.link-wrapper: a(href="/{% trans 'contactez-nous' %}/") {% trans "Contactez-nous" %}
//-        li.link-wrapper: a(href="/{% trans 'mentions-legales' %}/") {% trans "Mentions légales" %}