<!DOCTYPE html>
<html lang="fr">
<head>
    <title>e-loue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="../static/css/chosen.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
</head>
<body>
<div class="container-full-screen" data-ng-controller="DashboardRootCtrl">
    <header>header</header>
    <article class="dashboard">
        <nav class="bg-success">
            <ul>
                <li><a ui-sref="dashboard" class="text-success-dark"><i class="fa fa-home"></i>Dashboard</a></li>
                <li><a ui-sref="messages" class="text-success-dark"><i class="fa fa-envelope-o"></i>Messages</a></li>
                <li><a ui-sref="bookings" class="text-success-dark"><i class="fa fa-shield"></i>Booking</a></li>
                <li><a ui-sref="items" class="text-success-dark"><i class="fa fa-th-list"></i>Items</a></li>
                <li><a ui-sref="account" class="text-success-dark"><i class="fa fa-user"></i>Account</a></li>
            </ul>
        </nav>
        <div ui-view></div>
    </article>
</div>
<script src="../static/bower_components/requirejs/require.js" data-main="../static/js/dashboard/main.js"></script>
</body>
</html>