<!DOCTYPE html>
<html lang="en">
<head>
    <title>e-loue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
    <link href="../static/css/chosen.min.css" rel="stylesheet">
    <link href="../static/img/favicon.ico" rel="shortcut icon">
</head>
<body>
<div ng-controller="DashboardRootCtrl">
    <!-- TODO remove temporary menu -->
    <a ui-sref="dashboard">Dashboard</a><br />
    <a ui-sref="messages">Messages</a><br />
    <a ui-sref="bookings">Bookings</a><br />
    <a ui-sref="items">Items</a><br />
    <a ui-sref="account">Account</a><br />
    <!-- end of temporary menu -->
    <div ui-view></div>
</div>
<script src="../static/bower_components/requirejs/require.js" data-main="../static/js/dashboard/main.js"></script>
</body>
</html>