<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/chosen.min.css">
    <link rel="stylesheet" href="../static/css/product_detail_styles.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <title>e-loue</title>
</head>
<body>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.___gcfg = {lang: 'fr'};
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();

    !function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');

</script>
<div class="container-flex">
<div id="ngModals">
    <eloue-login-form></eloue-login-form>
    <eloue-registration-form></eloue-registration-form>
</div>
<header class="header-site">
    <section class="container signs-links">
        <ul role="tablist" class="nav without-spaces">
            <li class="divide"></li>
            <li><span>Bonjour, <a href="#inscrivez-vous" data-toggle="modal" data-target="#registrationModal">inscrivez-vous </a>ou <a
                    href="#connectez-vous" data-toggle="modal" data-target="#loginModal">connectez-vous</a></span></li>
            <li class="divide"></li>
            <li><span>Vous êtes un loueur professionnel, découvrez les <a href="#">offers e-loue Pro</a></span></li>
            <li class="divide"></li>
            <li><span>Appelez-nous au <b>0826.800.200 </b>(0,15&euro; / min)</span></li>
        </ul>
    </section>
    <div class="framing">
        <section class="container search-form">
            <div class="table-cell"><a href="/templates"><img src="../static/img/logo.png" alt="logo"></a></div>
            <div class="table-cell main-cell">
                <form action="" class="input-group">
                    <input type="text" placeholder="Que voulez-vous louer ?" title="Que voulez-vous louer ?"
                           class="table-cell main-cell form-control what-field">

                    <div class="table-cell input-group where-field"><i class="sprite-location"></i>
                        <input type="text" placeholder="Où ça ?" title="Où ça ?" id="geolocate" class="form-control">
                    </div>
                    <div class="table-cell input-group-btn">
                        <button type="button" class="btn btn-default btn-search"><i class="icon-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="table-cell">
                <button type="button" class="btn bg-success btn-advertise">Déposez une annonce</button>
            </div>
        </section>
    </div>
</header>
<nav>
    <div class="row-fluid bd-b">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Location Voiture</a></li>
                <li><a href="#">Nice</a></li>
                <li><a href="#">BMW - 520 Touring luxe</a></li>
            </ol>
        </div>
    </div>
</nav>
<article class="container">
<div class="row">
    <div class="col-sm-8 product-details-title">
        <h3>Location Bmw - 520 touring luxe - NICE</h3>
        <ul class="breadcrumb">
            <li>Année 2010</li>
            <li>Moteur Diesel</li>
            <li>Boite Automatique</li>
            <li>10 000 à 30 000 km</li>
        </ul>
    </div>
    <div class="col-sm-4 share-btns">
        <ul class="nav without-spaces">
            <li><a href="https://twitter.com/share" data-text="Tweeter" data-lang="fr" data-count="none"
                   class="twitter-share-button">Tweeter</a></li>
            <li>
                <div data-href="https://www.e-loue.com" data-layout="button" data-action="like" data-show-faces="false"
                     data-share="false" class="fb-like"></div>
            </li>
            <li>
                <div data-href="https://www.e-loue.com" data-layout="button_count" data-action="recommend"
                     data-show-faces="false" data-share="false" class="fb-like"></div>
            </li>
            <li>
                <div data-size="medium" data-annotation="none" class="g-plusone"></div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
<main class="col-sm-8">
    <section>
        <div class="section-body">
            <div class="part picture-tab">
                <ul class="nav without-spaces">
                    <li><a href="#Photos" class="pad-v-2">Photos</a></li>
                    <li><a href="#Tarifs" class="pad-v-2">Tarifs</a></li>
                    <li><a href="#Localisation" class="pad-v-2">Localisation</a></li>
                    <li><a href="#Disponibilité" class="pad-v-2">Disponibilité</a></li>
                    <li><a href="#Assurance" class="pad-v-2">Assurance</a></li>
                </ul>
                <div class="carousel-wrapper">
                    <div class="thumbnail-inner">
                        <div class="thumbnail-img"><img src="../static/img/carousel-product/1.jpg" alt=""></div>
                        <div class="thumbnail-img"><img src="../static/img/carousel-product/2.jpg" alt=""></div>
                        <div class="thumbnail-img"><img src="../static/img/carousel-product/3.jpg" alt=""></div>
                    </div>
                    <div id="carousel-product" data-ride="carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="item active"><img src="../static/img/carousel-product/1.jpg" alt=""></div>
                            <div class="item"><img src="../static/img/carousel-product/2.jpg" alt=""></div>
                            <div class="item"><img src="../static/img/carousel-product/3.jpg" alt=""></div>
                        </div>
                        <a href="#carousel-product" role="button" data-slide="prev" class="left carousel-control"><i
                                class="icon-chevron-left"></i></a><a href="#carousel-product" role="button"
                                                                     data-slide="next" class="right carousel-control"><i
                            class="icon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="part description">
                <h3>Déscription</h3>

                <div class="row">
                    <div class="col-sm-6 text">
                        <p>Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet
                            rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Vivamus
                            sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>

                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Maecenas
                            faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                            ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                            condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    </div>
                    <div class="col-sm-6 properties">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="col-sm-5">Notation</span><b class="col-sm-7">32&nbsp;&nbsp;
                                <div class="rate"><span class="icon-star"></span><span
                                        class="icon-star current-rate"></span><span class="icon-star"></span><span
                                        class="icon-star"></span><span class="icon-star"></span>
                                </div>
                            </b></li>
                            <li class="list-group-item"><span class="col-sm-5">Date d’achat</span><b class="col-sm-7">2008&nbsp;&nbsp;</b>
                            </li>
                            <li class="list-group-item"><span class="col-sm-5">Marque</span><b class="col-sm-7">BMW&nbsp;&nbsp;</b>
                            </li>
                            <li class="list-group-item"><span class="col-sm-5">Modèle</span><b class="col-sm-7">520
                                Touring&nbsp;&nbsp;</b></li>
                            <li class="list-group-item"><span class="col-sm-5">Consommation</span><b class="col-sm-7">4,5
                                l/100km&nbsp;&nbsp;</b></li>
                            <li class="list-group-item"><span class="col-sm-5">Prix neuf</span><b class="col-sm-7">38
                                000€&nbsp;&nbsp;</b></li>
                            <li class="list-group-item"><span class="col-sm-5">Puissance</span><b class="col-sm-7">130
                                CV&nbsp;&nbsp;</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="part comments comments-ad">
                <h3>Commentaires liés à cette annonce</h3>
                <ul class="list-group">
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="part comments comments-owner">
                <h3>Commentaire liés au propriétaire</h3>
                <ul class="list-group">
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                    <li class="list-group-item thumbnail">
                        <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/comentator.png"
                                                                    alt=""></a></div>
                        <div class="thumbnail-content">
                            <h5><a href="#">Jonathan Moreira</a></h5>

                            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. est non commodo
                                luctus, nisi erat porttitor ligula, eget.</p>
                            <small>Le 12 Mai 2014</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
<aside class="col-sm-4">
    <eloue-product-details-booking in-modal="false"></eloue-product-details-booking>
<section class="add-to-wishlist">
    <div class="section-body">
        <div class="part"><a href="#" class="btn bg-gray"><span class="icon-heart-empty"></span>Ajoutez à votre liste
            d’envies</a></div>
    </div>
</section>
<section class="owner-information">
    <div class="section-header">
        <h4>Contactez-moi</h4>
    </div>
    <div class="section-body">
        <div class="part">
            <div class="block-thumbnail">
                <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/declare2r.png"
                                                            alt=""></a></div>
                <div class="thumbnail-content">
                    <h5><a href="#">Gaspard Kroutchev</a></h5>

                    <div class="rate"><span class="icon-star"></span><span class="icon-star current-rate"></span><span
                            class="icon-star"></span><span class="icon-star"></span><span class="icon-star"></span>
                    </div>
                    <p>Membre depuis le<br><span>12 Juillet 2013</span></p>
                </div>
            </div>
        </div>
        <div class="part"><a href="#" class="btn bg-success send-message" data-toggle="modal" data-target="#messageModal" data-dismiss="modal"><span>

        </span>Envoyez un message</a>
            <a href="#" class="btn bg-success call" data-toggle="modal" data-target="#phoneModal" data-dismiss="modal"><span></span>Appelez</a>
            <ul class="nav stats">
                <li><span>
                      <big class="text-success">7 </big></span><span>annonces publiées</span></li>
                <li><span>
                      <big class="text-success">12 </big></span><span>locations effectués</span></li>
                <li><span>
                      <big class="text-success">16 </big></span><span>évalutations</span></li>
                <li><span>
                      <big class="text-success">98% </big></span><span>de taux de réponse</span></li>
                <li><span>
                      <big class="text-success">6h </big></span><span>de temps de réponse en moyenne</span></li>
            </ul>
        </div>
        <div class="part connection clearfix">
            <div class="col-sm-4"><a href="#" class="friend-photo-wrapper"><img
                    src="../static/img/home-products/friend1.png" alt=""></a><a href="#"
                                                                                   class="friend-photo-wrapper"><img
                    src="../static/img/home-products/friend2.png" alt=""></a></div>
            <div class="col-sm-8">
                <p>
                    <small><a href="#">Philippe Dupré </a>et <a href="#">Tony Finn </a>sont amis avec le propriétaire.
                    </small>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="similar-listing">
    <div class="section-header">
        <h4>Annonces similaires</h4>
    </div>
    <div class="section-body">
        <div class="part">
            <ul class="nav">
                <li>
                    <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/audi2.jpg"
                                                                alt=""></a></div>
                    <div class="thumbnail-content">
                        <h6><a href="#">Audi - A3</a></h6>

                        <p>
                            <small>Paris</small>
                        </p>
                        <span class="badge price">100€ /jour</span>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/audi2.jpg"
                                                                alt=""></a></div>
                    <div class="thumbnail-content">
                        <h6><a href="#">Audi - A3</a></h6>

                        <p>
                            <small>Paris</small>
                        </p>
                        <span class="badge price">100€ /jour</span>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/audi2.jpg"
                                                                alt=""></a></div>
                    <div class="thumbnail-content">
                        <h6><a href="#">Audi - A3</a></h6>

                        <p>
                            <small>Paris</small>
                        </p>
                        <span class="badge price">100€ /jour</span>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/audi2.jpg"
                                                                alt=""></a></div>
                    <div class="thumbnail-content">
                        <h6><a href="#">Audi - A3</a></h6>

                        <p>
                            <small>Paris</small>
                        </p>
                        <span class="badge price">100€ /jour</span>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/audi2.jpg"
                                                                alt=""></a></div>
                    <div class="thumbnail-content">
                        <h6><a href="#">Audi - A3</a></h6>

                        <p>
                            <small>Paris</small>
                        </p>
                        <span class="badge price">100€ /jour</span>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/audi2.jpg"
                                                                alt=""></a></div>
                    <div class="thumbnail-content">
                        <h6><a href="#">Audi - A3</a></h6>

                        <p>
                            <small>Paris</small>
                        </p>
                        <span class="badge price">100€ /jour</span>
                    </div>
                </li>
                <li>
                    <div class="thumbnail-img"><a href="#"><img src="../static/img/home-products/audi2.jpg"
                                                                alt=""></a></div>
                    <div class="thumbnail-content">
                        <h6><a href="#">Audi - A3</a></h6>

                        <p>
                            <small>Paris</small>
                        </p>
                        <span class="badge price">100€ /jour</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="connected-with-owner">
    <div class="section-body">
        <div class="part text-center">
            <div class="facebook-box"><span class="icon-facebook"></span></div>
            <a href="#" class="btn bg-info">Connectez-vous avec Facebook</a>

            <p>Vérifiez si un de vos amis connait ce propriétaire ?</p>
        </div>
    </div>
</section>
    <eloue-booking-modal></eloue-booking-modal>
    <eloue-message-modal></eloue-message-modal>
    <eloue-phone-modal></eloue-phone-modal>
</aside>
</div>
</article>
<footer>
    <section class="row-fluid insurances framing">
        <div class="container">
            <ul class="nav nav-justified">
                <li class="divide"></li>
                <li>
                    <div class="insurances-img"><span class="payment"></span></div>
                    <h5>Louez en toute sécurité</h5>

                    <p>Transactions en ligne sécurisées.<br>Aucun échange d'argent.</p>
                </li>
                <li class="divide"></li>
                <li>
                    <div class="insurances-img"><span class="serenity"></span></div>
                    <h5>Louez en toute sérénité</h5>

                    <p>Assurance incluse et automatique.<br>Caution en ligne.</p>
                </li>
                <li class="divide"></li>
                <li>
                    <div class="insurances-img"><span class="simplicity"></span></div>
                    <h5>Louez en toute simplicité</h5>

                    <p>Service client dédié 7j/7.<br>Dépot d'annonce gratuite.</p>
                </li>
                <li class="divide"></li>
                <li>
                    <div class="insurances-img"><span class="trust"></span></div>
                    <h5>Louez en toute confiance</h5>

                    <p>Notes et commentaires en ligne.<br>Messagerie en ligne.</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="row-fluid footer-links">
        <div class="container">
            <ul class="nav nav-justified">
                <li class="divide"></li>
                <li class="ul-wrapper">
                    <div class="centering">
                        <h4 class="text-nowrap">Le concept eloue</h4>
                        <ul class="nav">
                            <li class="link-wrapper"><a href="#">Comment ça marche ?</a></li>
                            <li class="link-wrapper"><a href="#">Simulez vos revenus</a></li>
                            <li class="link-wrapper"><a href="#">Questions fréquentes</a></li>
                            <li class="link-wrapper"><a href="#">Conseils pour les propriétaires</a></li>
                            <li class="link-wrapper"><a href="#">Conseils pour les locataires</a></li>
                            <li class="link-wrapper"><a href="#">Témoignages</a></li>
                        </ul>
                    </div>
                </li>
                <li class="divide"></li>
                <li class="ul-wrapper">
                    <div class="centering">
                        <h4 class="text-nowrap">Pourquoi choisir eloue</h4>
                        <ul class="nav">
                            <li class="link-wrapper"><a href="#">Assurance sérénité</a></li>
                            <li class="link-wrapper"><a href="#">Paiement et caution sécurisés</a></li>
                            <li class="link-wrapper"><a href="#">Contrats de location</a></li>
                            <li class="link-wrapper"><a href="#">Parrainez vos proches</a></li>
                            <li class="link-wrapper"><a href="#">L’offre e-loue Pro</a></li>
                        </ul>
                    </div>
                </li>
                <li class="divide"></li>
                <li class="ul-wrapper">
                    <div class="centering">
                        <h4 class="text-nowrap">L’entreprise e-loue</h4>
                        <ul class="nav">
                            <li class="link-wrapper"><a href="#">Qui sommes-nous ?</a></li>
                            <li class="link-wrapper"><a href="#">Nos partenaires</a></li>
                            <li class="link-wrapper"><a href="#">Respect de la vie privée</a></li>
                            <li class="link-wrapper"><a href="#">Conditions générales</a></li>
                            <li class="link-wrapper"><a href="#">Mentions légales</a></li>
                        </ul>
                    </div>
                </li>
                <li class="divide"></li>
                <li class="ul-wrapper">
                    <div class="centering">
                        <h4 class="text-nowrap">En savoir plus</h4>
                        <ul class="nav">
                            <li class="link-wrapper"><a href="#">Espace presse</a></li>
                            <li class="link-wrapper"><a href="#">Espace job</a></li>
                            <li class="link-wrapper"><a href="#">Contactez-nous</a></li>
                            <li class="link-wrapper"><a href="#">E-loue en mobilité</a></li>
                            <li class="link-wrapper"><a href="#">Blog e-loue</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="row-fluid rss">
        <div class="container">
            <div class="row">
                <div class="table-cell">
                    <p>Abonnez-vous à la newsletter e-loue pour être informé des bonnes affaires et de nos
                        actualités. </p><a href="#"><b>Déjà 2 Millions d'inscrits !</b></a>
                </div>
                <div class="table-cell main-cell">
                    <form role="" class="input-group">
                        <input type="email" placeholder="Saisissez votre email..." class="form-control">

                        <div class="input-group-btn">
                            <button type="submit" class="table-cell btn btn-default">Validez</button>
                        </div>
                    </form>
                </div>
                <div class="table-cell">
                    <div class="social-btns"><a href="#"><i class="icon-facebook"></i></a><a href="#"><i
                            class="icon-twitter"></i></a><a href="#"><i class="icon-google-plus"></i></a></div>
                </div>
            </div>
        </div>
    </section>
</footer>
</div>
<script src="../static/bower_components/requirejs/require.js" data-main="../static/js/widgets/main.js"></script>
</body>
</html>