<div id="messageModal" class="modal fade message-form" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Message
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <eloue-product-details-small></eloue-product-details-small>
                        <eloue-product-details-booking in-modal="true"></eloue-product-details-booking>
                        <button class="btn btn-default" type="button" ng-click="openPhoneModal()">Appelez</button>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <section class="chat-list panel-body">
                            <article ng-repeat="message in productRelatedMessages | orderBy:'sent_at'" class="chat-item" ng-class="{'left': !shouldIndent(message, productRelatedMessages, $first), 'right': shouldIndent(message, chatFeed, $first)}">
                                <section ng-if="!shouldIndent(message, productRelatedMessages, $first)">
                                    <a href="" class="thumb-sm avatar pull-left"><img ng-src="{{getAvatar(message.sender.avatar)}}" class="img-circle"></a>
                                    <section class="chat-body">
                                        <div class="panel text-sm m-b-none bg bg-light lt">
                                            <div class="panel-body">
                                                <span class="arrow left"></span>
                                                <p ng-bind="message.sender.slug"></p>
                                                <p class="m-b-none" ng-bind="message.body"></p>
                                            </div>
                                        </div>
                                        <p ng-bind="message.sent_at" class="text-muted"></p>
                                    </section>
                                </section>
                                <section ng-if="shouldIndent(message, productRelatedMessages, $first)">
                                    <a href="" class="thumb-sm avatar pull-right"><img ng-src="{{getAvatar(message.sender.avatar)}}" class="img-circle"></a>
                                    <section class="chat-body">
                                        <div class="panel text-sm m-b-none bg bg-light dk lter font-semibold">
                                            <div class="panel-body">
                                                <span class="arrow right"></span>
                                                <p ng-bind="message.sender.slug"></p>
                                                <p class="m-b-none" ng-bind="message.body" style="width: 100%; height: 100%"></p>
                                            </div>
                                        </div>
                                        <p ng-bind="message.sent_at" class="text-muted"></p>
                                    </section>
                                </section>
                            </article>

                        </section>
                        <footer class="panel-footer">
                            <!-- chat form -->
                            <article class="chat-item" id="chat-form">
                                <section class="chat-body">

                                    <form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
                                        <textarea ng-model="newMessage.body" placeholder="Rédigez votre message ici..." class="form-control"
                                                  data-watu-on-enter="postChatMessage(newChatMessage)" required></textarea>
                                        <button class="btn btn-success" data-ng-disabled="sendMessageForm.$invalid || !sendMessageForm.$dirty" type="submit">Envoyez</button>
                                    </form>
                                </section>
                            </article>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>