style
  .nav-tabs.nav-justified li a{
    border-bottom: 0px solid #ddd;
  }

  .nav-justified li a:hover{
    text-decoration: none;
    color: #f27e36;
  }

  .nav-justified li.active a{
    text-decoration: none;
  }

  .tab-pane p a{
    text-decoration: none;
    color: #f27e36;
  }


  .tab-pane{
    margin-top: 20px;
  }

  #text{
    color: #666;
  }

.container#text
  .container
    h2.text-uppercase.text-center
      | Chez e-loue nous pensons qu’être PRUDENT, c’est bien
      | Mais qu’être TRES PRUDENT, c’est encore mieux&nbsp;!
    .indent-t-lg
      p
        | Lors de chaque location, un contrat de location dûment rempli par les deux parties est obligatoire. 
        | Il permet simplement aux deux parties de pouvoir bénéficier des assurances proposées par e-loue. 
        | Pour vous faciliter les choses, nous vous envoyons, dès la validation de la transaction, 
        | un contrat pré-rempli contenant les informations qui ont été communiquées par le propriétaire et le locataire&nbsp;: 
        | noms, prénoms, description du bien loué, état du bien, prix de la location, montant de la caution, 
        | conditions de la location, ...  Si vous préférez un autre modèle de contrat , il n’y a pas de problème, 
        | mais vous devrez le rédiger.
      p
        | Lors de la rencontre propriétaire-locataire, il ne vous restera plus qu’à vérifier que les informations 
        | précisées sur le contrat sont exactes. Alors, vous êtes prêts à louer avec e-loue&nbsp;?
      br
      br

  .container(style="height: 180px;")
    ul.nav.nav-tabs.nav-justified(data-tabs="tabs")
      li.active
        a(href="#seasonnal", data-toggle="tab") &nbsp;&nbsp;&nbsp;Contrat de location saisonnière&nbsp;&nbsp;&nbsp;
      li
        a(href="#object", data-toggle="tab") &nbsp;&nbsp;&nbsp;Contrat objet&nbsp;&nbsp;&nbsp;
      li
        a(href="#no-insurance", data-toggle="tab") &nbsp;&nbsp;&nbsp;Contrat sans assurance&nbsp;&nbsp;&nbsp;
      li
        a(href="#car", data-toggle="tab") &nbsp;&nbsp;&nbsp;Contrat voiture&nbsp;&nbsp;&nbsp;

    .container(style="width:90%;"): .tab-content
      .tab-pane.active#seasonnal
        p Notre assurance couvre la location de logements. 
        p Voici le contrat de location type que nous proposons pour la location de logements. Lorsque vous effectuez une location, ce contrat vous est envoyé pré-rempli avec les informations que vous avez renseignées.
        p: a(href="https://s3.amazonaws.com/prod_object_assets/assets/38447953320601/contrat_location_saisonniere.pdf?AWSAccessKeyId=AKIAI7NUHQYARXR2GGCQ&Expires=1434963038&Signature=RGighddB4auEqsrNuwOZN9kv7gA%3D#_=_", target="_blank") En voici un specimen
      .tab-pane#object
        p Notre assurance couvre la location des objets. Voici le contrat de location standard que nous proposons pour ce type de location. Lorsque vous effectuez une location, ce contrat vous est envoyé pré-rempli avec les informations que vous avez renseignées.
        p Cependant, notre assurance ne couvre pas certains objets (matériels de levage, manutention, construction et terrassement, armes, téléphones portables, etc). Se référer à la page Assurance tranquillité pour plus d’informations.
        p: a(href="https://s3.amazonaws.com/prod_object_assets/assets/38447953320601/contrat_location_saisonniere.pdf?AWSAccessKeyId=AKIAI7NUHQYARXR2GGCQ&Expires=1434963038&Signature=RGighddB4auEqsrNuwOZN9kv7gA%3D#_=_", target="_blank") En voici un specimen
      .tab-pane#no-insurance
        p Certains objets et véhicules ne sont pas couverts par notre assurance (véhicules à 2 et 3 roues, armes, téléphones portables, etc). 
        p C’est pourquoi nous proposons un contrat de location type pour les objets et véhicules ne bénéficiant pas d’une assurance sur notre site. Lorsque vous effectuez une location, ce contrat vous est envoyé pré-rempli avec les informations que vous avez renseignées. 
        p: a(href="https://s3.amazonaws.com/prod_object_assets/assets/38447953320605/contrat_sans_assurance.pdf?AWSAccessKeyId=AKIAI7NUHQYARXR2GGCQ&Expires=1434964246&Signature=iYIUk1X9mSSDlcHGOBmChx8%2FTk4%3D#_=_", target="_blank") En voici un specimen
      .tab-pane#car
        p Notre assurance couvre la location de véhicules. Voici le contrat de location standard que nous proposons pour ce type de location. 
        p Lorsque vous effectuez une location, ce contrat vous est envoyé pré-rempli avec les informations que vous avez renseignées. 
        p Cependant, notre assurance ne couvre pas certains véhicules (les véhicules à 2 et 3 roues, les véhicules d’une valeur supérieure à 50 000 euros, les véhicules ne bénéficiant pas d'un contrat d'assurance annuel, les véhicules utilitaires dont le poids total en charge est supérieur à 2,3 Tonnes, etc). Se référer à la page Assurance tranquillité pour plus d’informations.
        p: a(href="https://s3.amazonaws.com/prod_object_assets/assets/38447953320603/contrat_objet.pdf?AWSAccessKeyId=AKIAI7NUHQYARXR2GGCQ&Expires=1434964159&Signature=EPUUq6ECXAMPC60TFMJ9QIYue4Y%3D#_=_", target="_blank") En voici un specimen

  .container
    br
    br
    br
    p 
      | Se référer à la 
      a(href="assurance-tranquillite/", target="_blank", style="color: #24bd77") page Assurance tranquillité 
      | pour plus d’informations.