-load staticfiles

style
  #tabs li a{
    border-top: 5px solid transparent;
    height: 110px;
    background-color: #eee;
  }

  #tabs li a:hover, #tabs li.active a, #tabs li.active a:hover{
    text-decoration: none;
    color: #24bd77;
    border-top: 5px solid #24bd77;
    background-color: white;
  }

  .tab-pane p a{
    text-decoration: none;
    color: #24bd77;
  }


  .tab-pane{
    margin: 40px 0 0;
  }

  #text{
    color: #666;
    text-align: justify;
  }

  #tabs li a img{
    height: 35px;
  }

  #objet:hover img, #tabs li.active #objet img{
    content:url("{% static 'images/objet-vert.png' %}");
  }

  #voiture:hover img, #tabs li.active #voiture img{
    content:url("{% static 'images/voiture-vert.png' %}");
  }

  #logement:hover img, #tabs li.active #logement img{
    content:url("{% static 'images/logement-vert.png' %}");
  }

  #sans_assurance:hover img, #tabs li.active #sans_assurance img{
    content:url("{% static 'images/sans_assurance-vert.png' %}");
  }

  #content{
    background-color: white;
    height: 250px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

.container#text
  .container
    h2.text-uppercase.text-center
      | Chez e-loue nous pensons qu’être PRUDENT, c’est bien
      | Mais qu’être TRES PRUDENT, c’est encore mieux&nbsp;!
    .indent-t-lg
      p
        | Lors de chaque location, un contrat de location dûment rempli par les deux parties est obligatoire. 
        | Il permet simplement aux deux parties de pouvoir bénéficier des assurances proposées par e-loue. 
        | Pour vous faciliter les choses, nous vous envoyons, dès la validation de la transaction, 
        | un contrat pré-rempli contenant les informations qui ont été communiquées par le propriétaire et le locataire&nbsp;: 
        | noms, prénoms, description du bien loué, état du bien, prix de la location, montant de la caution, 
        | conditions de la location, ...  Si vous préférez un autre modèle de contrat , il n’y a pas de problème, 
        | mais vous devrez le rédiger.
      p
        | Lors de la rencontre propriétaire-locataire, il ne vous restera plus qu’à vérifier que les informations 
        | précisées sur le contrat sont exactes. Alors, vous êtes prêts à louer avec e-loue&nbsp;?
      br
      br

  .container
    ul.nav.nav-tabs.nav-justified(data-tabs="tabs")#tabs
      li.active
        a(href="#object", data-toggle="tab")#objet
          h4 &nbsp;&nbsp;&nbsp;Contrat objet&nbsp;&nbsp;&nbsp;
          img(src="#{STATIC_URL}images/objet.png")
      li
        a(href="#car", data-toggle="tab")#voiture
          h4 &nbsp;&nbsp;&nbsp;Contrat voiture&nbsp;&nbsp;&nbsp;
          img(src="#{STATIC_URL}images/voiture.png")
      li
        a(href="#seasonnal", data-toggle="tab")#logement
          h4 &nbsp;&nbsp;&nbsp;Contrat logement&nbsp;&nbsp;&nbsp;
          img(src="#{STATIC_URL}images/logement.png")
      li
        a(href="#no-insurance", data-toggle="tab")#sans_assurance
          h4 &nbsp;&nbsp;&nbsp;Contrat sans assurance&nbsp;&nbsp;&nbsp;
          img(src="#{STATIC_URL}images/sans_assurance.png")

    #content
      .container(style="width:90%;"): .tab-content
        .tab-pane#seasonnal
          p Notre assurance couvre la location de logements. 
          p Voici le contrat de location type que nous proposons pour la location de logements. Lorsque vous effectuez une location, ce contrat vous est envoyé pré-rempli avec les informations que vous avez renseignées.
          p: a(href="{% static 'contracts/real_estate.pdf' %}", target="_blank") Télécharger un exemplaire
        .tab-pane.active#object
          p Notre assurance couvre la location des objets. Voici le contrat de location standard que nous proposons pour ce type de location. Lorsque vous effectuez une location, ce contrat vous est envoyé pré-rempli avec les informations que vous avez renseignées.
          p Cependant, notre assurance ne couvre pas certains objets (matériels de levage, manutention, construction et terrassement, armes, téléphones portables, etc). Se référer à la page Assurance tranquillité pour plus d’informations.
          p: a(href="{% static 'contracts/normal2.pdf' %}", target="_blank") Télécharger un exemplaire
        .tab-pane#no-insurance
          p Certains objets et véhicules ne sont pas couverts par notre assurance (véhicules à 2 et 3 roues, armes, téléphones portables, etc). 
          p C’est pourquoi nous proposons un contrat de location type pour les objets et véhicules ne bénéficiant pas d’une assurance sur notre site. Lorsque vous effectuez une location, ce contrat vous est envoyé pré-rempli avec les informations que vous avez renseignées. 
          p: a(href="{% static 'contracts/noinsurance.pdf' %}", target="_blank") Télécharger un exemplaire
        .tab-pane#car
          p Notre assurance couvre la location de véhicules. Voici le contrat de location standard que nous proposons pour ce type de location. 
          p Lorsque vous effectuez une location, ce contrat vous est envoyé pré-rempli avec les informations que vous avez renseignées. 
          p Cependant, notre assurance ne couvre pas certains véhicules (les véhicules à 2 et 3 roues, les véhicules d’une valeur supérieure à 50 000 euros, les véhicules ne bénéficiant pas d'un contrat d'assurance annuel, les véhicules utilitaires dont le poids total en charge est supérieur à 2,3 Tonnes, etc). Se référer à la page Assurance tranquillité pour plus d’informations.
          p: a(href="{% static 'contracts/car.pdf' %}", target="_blank") Télécharger un exemplaire

  .container
    br
    br
    br
    p 
      | Se référer à la 
      a(href="/assurance-tranquillite/", target="_blank", style="color: #4976AB") page Assurance tranquillité 
      | pour plus d’informations.