extends ../base
-load compressed

block append styles
    {% compressed_css "bootstrap" %}
    {% compressed_css "security_styles" %}

block append content-body
  .container-flex
    header.header-site
      include ../jade/_header_site
    nav.bd-b
      include _breadcrumbs
    article.indent-v-lg
      section: include _text_content

    footer
      section.row-fluid.footer-links.framing
        include ../jade/_footer_links
      section.row-fluid.rss
        include ../jade/_rss
