{% load i18n %}
#flatpages.container
    .one-content
        h1.text-uppercase.text-center Assurance véhicule
        h2 1 - Rappel
        h3 SYNTHÈSE
        ul.dash-item
            li
                | En effectuant votre location sur AutoVoisin, le véhicule loué est automatiquement assuré «tous risques»,
                | pendant toute la durée de la location, sans coût supplémentaire.
            li L’assurance est incluse dans le montant réglé en ligne par le locataire.
            li
                |Les véhicules assurés doivent être destinés uniquement 
                span
                    b à un usage privé des locataires
            li En cas de sinistre durant la location, le bonus du propriétaire n’est pas impacté.
            li Pour déclarer un sinistre, la procédure est simple et rapide.
        br

        h3 CONDITIONS PORTANT SUR LE VÉHICULE LOUÉ
        h4 Pour être couvert par l’assurance e-loue / Allianz, le certificat d’immatriculation du véhicule loué doit : 
        ul
            li porter la mention VP sur la carte grise (dans la case J1) ou la mention VU à condition que le véhicule ne soit pas destiné à un usage professionnel
            li être au nom d’un particulier
            li être immatriculé en France métropolitaine
        p
            | L’assurance couvre uniquement les transactions effectuées et finalisées sur le site, aux dates enregistrées.
            | En cas de modification de date ou d’allongement de durée,
            | il est indispensable de refaire une demande de réservation sur le site afin d’être couvert par l’assurance.
        br

        h4 L’assurance ne couvre pas les véhicules suivants : 
        ul.dash-item
            li les véhicules destinés au transport public de marchandises ou de voyageurs  y compris messagerie ou distribution de marchandise, usage de transport public de personnes et autres usages non privés : auto-école, taxis
            li les véhicules de plus de 9 places destinés au transport de personnes
            li les véhicules à 2 ou 3 roues
            li les véhicules de sport et de luxe d’une valeur supérieure à 50 000 euros
            li les véhicules dont la puissance fiscale dépasse les 16 CV
            li les véhicules ne bénéficiant pas d'un contrat d'assurance annuel 
            li les véhicules faisant eux-mêmes l’objet d’une location
            li les véhicules utilitaires dont le poids total en charges est supérieur à 2,3 Tonnes
        br

        h3 CONDITIONS PORTANT SUR LE LOCATAIRE
        h4 Pour être couvert par l’assurance e-loue / Allianz, le conducteur doit : 
        ul.dash-item
            li être âgé d’au moins
                ul
                    li 21 ans pour les véhicules d’une valeur inférieure à 18 000€
                    li 28 ans les véhicules d’une valeur comprise entre 18 000€ et 50 000€
            li être titulaire d’un permis de conduire français en cours de validité depuis :
                ul
                    li plus de 2 ans pour les véhicules d’une valeur inférieure à 18 000€
                    li plus de 5 ans pour les véhicules d’une valeur comprise entre 18 000 et 50 000€
            li s'engager à circuler en France métropolitaine ou/et dans les pays limitrophes (Angleterre compris)
            li s’engager à ne pas faire d'usage professionnel du véhicule
            li louer le véhicule pour une durée qui n’excède pas 90 jours 
            li louer un même véhicule pour une durée qui n’excède pas trois mois sur une période de douze mois
            li payer la location sur le site avec une carte bancaire à son nom
            li présenter tous les documents au propriétaire, au début de la location (contrat + carte bancaire + permis de conduire, tous les 3 au même nom)

        p Le propriétaire peut également exiger une facture portant le même nom que sur les trois documents précités
        p 
            span
                b Attention : 
            | Il est possible d'avoir plusieurs conducteurs. 
            | Dans ce cas, chaque conducteur devra être mentionné sur le contrat de location
            | et répondre aux conditions d'âge et de permis de conduire.
        br

        h3 CONDITIONS PORTANT SUR LE PROPRIETAIRE DU VÉHICULE LOUÉ
        h4 Pour être couvert par l’assurance e-loue / Allianz, le propriétaire du véhicule loué doit : 
        ul
            li résider en France métropolitaine
            li être le titulaire de la carte grise du véhicule
            li posséder un contrat d’assurance annuel pour le véhicule
        br
        
        h3 GARANTIES ACCORDÉES PAR L’ASSURANCE
        h4 Pendant la durée de la location, l’assurance e-loue / Allianz inclut les garanties suivantes :
        table.table
            thead
                tr
                  th       
                  th Limite contractuelle d’indemnité
                  th Franchise    
            tbody
                tr
                  td Responsabilité civile      
                  td illimité      
                  td non
                tr
                  td Défense civile et insolvabilité      
                  td illimité 
                  td non
                tr
                  td Dommages conducteur : cas d’atteinte à l’intégrité physique ou psychique et décès*       
                  td 250 000€
                  td non
                tr
                  td Dommages tous accidents
                  td 50 000€
                  td
                    p 800€ pour les véhicules particuliers
                    p 3 000€ pour les véhicules utilitaires
                tr
                  td Vol ou tentative de vol
                  td 50 000€
                  td 
                    p 800€ pour les véhicules particuliers
                    p 3 000€ en cas de détournement
                    p 3 000€ pour les véhicules utilitaires
                tr
                  td Incendie, tempête ou force de la nature
                  td 50 000€
                  td 800€
                tr
                  td Bris de glaces
                  td
                  td 150€
                tr
                    td Catastrophes naturelles
                    td 50 000€
                    td Franchise légale fixée par la règlementation en vigueur au jour du sinistre
        p
            em *Si AIPP inférieur ou égal à 10%, aucune indemnité versée au titre du préjudice subi.
        
        br
        h4 Autres garanties : 
        ul.dash-item 
            li Défense pénale et recours pour des litiges supérieurs à 230 €
            li Dépannage, remorquage à concurrence de 300€

        h4 L’assurance exclut les garanties suivantes : 
        ul
            li
                | dégâts occasionnés aux parties hautes du véhicule loué résultant du non-respect
                br 
                | de la limite de gabarit et/ou d'une mauvaise appréciation d'un passage
            li protection juridique
            li indemnisation
            li aménagements
            li accessoires
            li bagages
            li marchandise
            li immobilisation
            li pertes financières
            li crevaison
        br

        h3 QUE FAIRE POUR DÉCLARER UN INCIDENT ?
        p En cas d’incident, veuillez contacter le service client au 01 85 09 07 44 ou par mail à 
            a(href='mailto:contact@autovoisin.com' style='color:#428bca') contact@autovoisin.com.
        br

        h3 QUE FAIRE POUR ÊTRE INDEMNISÉ ?
        p
            | Pour connaitre la procédure d’indemnisation, veuillez contacter le service client
            | au 01 85 09 07 44 ou par mail à 
            a(href='mailto:contact@e-loue.com' style='color:#428bca') contact@autovoisin.com.

        h3 CONTRAT D’ASSURANCE 
        p
            | Un contrat d’assurance est associé pour chaque transaction effectuée sur le site www.autovoisin.com. 
            | Le contrat d’assurance est établi entre le locataire et notre partenaire Allianz.
        p 
            | Vous pouvez consulter les conditions générales de l’assurance automobile en cliquant 
            a(href='http://autovoisin.s3.amazonaws.com/Allianz.pdf' style="color:#e55e62") ici
        p 
            | En cas de contradiction entre les conditions générales et les conditions particulières 
            | (énoncées ci-dessus), ce sont les conditions particulières qui prévalent.

        br
        h3 CABINET D'ASSURANCE
        div(style="padding-top: 50px; font-height: 28px;")
            p(style="text-align: center") 
                | Cabinet d’assurances Richard BEHAGUE<br>
                |Spécialiste des risques d’Entreprises<br>
                | 92210 SAINT-CLOUD<br>
                |+(33)155390960<br>
                | <a href="mailto:richard.behague@agents.allianz.fr" style="color:#428bca">richard.behague@agents.allianz.fr</a> - <a href="http://www.allianz.fr/behague" style="color:#428bca">www.allianz.fr/behague</a><br>
                | ORIAS 09052400 - Siret 498819473 – RCS Nanterre<br>














