.container.text-gray-strong
  h2.text-uppercase.text-center
    | Politique de gestion de dépôt de garantie
  .indent-t-lg
    p
      | La plateforme e-loue permet la gestion du dépôt de garantie.
    p
      | Le dépôt de garantie est une somme demandée par le propriétaire au locataire et destinée à financer la remise en l’état du bien loué en cas de dommages.
    p
      | La gestion du dépôt de garantie varie sensiblement selon la catégorie de biens mis à la location (Objets, automobiles, location saisonnière).
    p
      | <strong style="color: #2c2c2c">Une emprunte de carte bancaire est faite au moment de la réservation. En cas de casse ou de vol elle pourra être débitée par le site e-loue. Toutefois si le débit ne fonctionne pas (plus assez d’approvisionnement, carte déclarée volée,..) e-loue ne pourra faire le débit et ne pourra être tenu responsable pour cela. En effet e-loue est un outil pour réaliser la transaction mais la location est réalisée entre particuliers. De même un chèque peut être demandé pour la caution à la place de l’emprunte. Si le chèque est impayé ou non approvisionné, de la même manière e-loue ne pourra être tenu responsable.</strong>
    p
      | Toutefois e-loue essayera de faire son maximum pour aider à la résolution du problème, et pourra indiquer les démarches nécessaires à faire à la personne qui subira les dommages.
    h3
      | Gestion du dépôt de garantie
    p
      | <table class="table"><thead><tr><th>Dépôt de garantie et montant</th><th>Objets</th><th>Automobiles</th><th>Location saisonnières</th></tr></thead><tbody><tr><td>Risque dommage couvert</td><td>oui</td><td>oui</td><td>oui</td></tr><tr><td>Risque vol couvert</td><td>non</td><td>oui</td><td>N/A</td></tr><tr colspan="4"></tr><tr><td>Plafond de garantie</td><td>990 &euro;</td><td>40 000 &euro;</td><td>2 500 &euro;</td></tr><tr colspan="4"></tr><tr><td>Franchise dommage</td><td>15 %</td><td>800 &euro;</td><td>75 &euro;</td></tr><tr><td>Franchise vol</td><td>N/A</td><td>2 000 &euro;</td><td>N/A</td></tr><tr colspan="4"></tr><tr><td>Bénéficiaire de l'assurance</td><td>locataire</td><td>propriétaire</td><td>locataire</td></tr><tr><td>Responsable de la déclaration de sinistre</td><td>locataire</td><td>e-loue</td><td>locataire</td></tr><tr colspan="4"></tr><tr><td>Montant du dépôt de garantie recommandé</td><td>Montant de la valeur estimée du bien</td><td>Montant de la franchise d'assurance maximum (2000 &euro;)</td><td>Montant du plafond de garantie (2500 &euro;)</td></tr><tr><td>Pourquoi ?</td><td>
L'assurance rembourse directement le locataire. Le propriétaire doit donc se garantir directement via le dépôt de garantie à hauteur du montant de la valeur actuel du bien.</td><td>L'assurance paye directement le garage en cas de réparation moins le montant de la franchise.<br>L'assurance rembourse directement le propriétaire en cas de vol sur la base de la valeur du véhicule expertisé moins le montant de la franchise.<br>L'assurance rembourse directement le locataire. Le propriétaire doit donc se garantir directement via le dépôt de garantie à hauteur du montant des dégâts mobiliers et immobiliers possibles.L'assurance plafonne se montant à hauteur de 2 500 &euro;. Ce montant est un montant raisonnable qu'il est possible de reprendre comme montant de dépôt de garantie.</td></tr><tr colspan="4"></tr><tr><td>Valeur du bien mise en location et risque associé</td><td>Dans le cas des objets d'une valeur supérieure à 990 &euro; et dont le propriétaire demande un dépôt de garantie équivalent, le locataire ne pourra être garanti que dans la limite de 990 &euro;. La différence sera donc à sa charge, au-delà du montant de la franchise de 15% appliquée.</td><td>Dans le cas d'une automobile d'une valeur supérieur à 40 000 &euro; Le propriétaire ne sera remboursé que dans la limite de cette valeur.</td><td>Dans le cas d'une location saisonnière, si le montant des dégâts mobiliers et immobiliers est supérieur au montant du dépôt de garantie choisi par le propriétaire sera à la charge du propriétaire. Sauf en cas de dommages suite à un dégât des eaux, incendies, explosion où le plafond de la garantie est de 1 525 000 &euro;</td></tr></tbody></table>

    h3
      | Détermination du dépôt de garantie
    p
      | Le propriétaire lors de la mise en ligne de son bien doit mentionner le montant du dépôt de garantie souhaité.
    p 
      | Le montant du dépôt de garantie est fixé librement par le propriétaire, toutefois il est recommandé d’appliquer les règles suivantes fonction de la catégorie de biens mis à la location.
    p
      | <table class="table"><tr><td>(1) - Objets</td><td>Valeur estimée du bien</td></tr><tr><td>(2) - Automobiles</td><td>Montant de la franchise maximale : 2 000 &euro;</td></tr><tr><td>(3)  - Locations saisonnières</td><td>Montant du plafond de garantie : 2 500 &euro;</td></tr></table>
    p
      | (1) – L’assurance rembourse le locataire. Le propriétaire doit donc se garantir directement via le dépôt de garantie à hauteur du montant de la valeur du bien afin de se couvrir du risque maximum (vol non couvert par le contrat d’assurance).
    p
      | (2) – L’assurance paye directement le garage en cas de dommage et le propriétaire en cas de vol. Dans les deux cas, une franchise est appliquée, respectivement de 800 € et 2 000 €. Le propriétaire doit donc se garantir directement via le dépôt de garantie à hauteur du montant de la franchise maximale.
    p
      | (3) – L’assurance rembourse directement le locataire en cas de dommages mobiliers et immobiliers (responsabilité villégiature) à hauteur de 2 500 €.  Ce montant est un montant raisonnable qu’il est possible de reprendre comme montant du dépôt de garantie proposé par le propriétaire. Il peut évidement être différent si le propriétaire le souhaite. Il est à noter que les garanties du contrat assurance location saisonnière propose une garantie complémentaire au propriétaire de 1 525 000 € en cas de dommage suite à dégâts des eaux, incendies, explosion. Cf. politique Assurance
    p
      | Note importante :
    p
      | Il est à noter que les contrats d’assurance définissent des plafonds de couverture.
    h3
      | Acceptation du dépôt de garantie par le locataire
    p
      | Lors de la réservation du bien, le locataire accepte les conditions de location incluant le montant du dépôt de garantie demandé par le propriétaire.
    h3
      | Contrat et demande d’autorisation de prélèvement
    p
      | Lors de la validation de la demande de réservation du locataire par le propriétaire, un contrat est envoyé par mail aux deux parties.
    p
      | Ce contrat inclut automatiquement une demande d’autorisation du prélèvement de la carte bancaire du locataire.
    p
      | Cette demande d’autorisation doit être signée par le locataire lors de la remise du bien.<br>Elle assure ainsi le propriétaire d’être remboursé.
    p
      | Il est important de noter que le locataire doit présenter au propriétaire la CB qui doit être identique à celle utilisée lors du paiement de la location.
    h3
      | Etat des lieux de début et de fin de location
    p
      | Afin d’éviter tous litiges, un état des lieux, inclut dans le contrat de location doit être rempli et signé par le propriétaire et le locataire.
    p
      | Il permettra de constater les éventuels dommages occasionnés lors de la période de location.
    h3
      | Utilisation du dépôt de garantie en cas de dommages (ou vol) constatés
    p
      | Plusieurs cas sont prévus en cas de dommages (ou vol) constatés lors de la restitution du bien et la revue d’état des lieux ; Veuillez vous reporter au tableau ci-dessous.
    p
      | Pour toutes questions complémentaire, vous pouvez contacter directement les services e-loue par mail à l’adresse : contact@e-loue.com
    p
      | <table class="table"><thead><tr><th>Utilisation du dépôt de garantie</th><th>Objets</th><th>Automobiles</th><th>Location saisonnières</th></tr></thead><tbody><tr><th colspan="4">dommages et autres problèmes (salissures, équipements  manquants...)</th></tr><tr><td>Cas N°1<br><br>Condition 1 = montant estimée inférieur au montant de la franchise<br>Condition 2 = Accord sur le montant estimé propriétaire/locataire</td><td>Dans le cas d'un problème constaé de très faible coût(salissures, ...), propriétaire et locataire penvent se mettre d'accord sur le montant d'une compensation payée immédiatement par chèque ou liquide, et qui ne fera pas l'objet d'une déclaration de sinistre par le locataire.</td><td>800 &euro; <br>oui<br>Paiement immédiat d'une compensation par chèque ou liquide.</td><td>75 &euro; <br>oui<br>Paiement immédiat d'une compensation par chèque ou liquide.</td></tr><tr><td>Cas N°2<br><br>Condition 1 = montant estimée inférieur au montant de la franchise<br>Condition 2 = Accord sur le montant estimé propriétaire/locataire</td><td rowspan="2">Dans tous les cas, le locataire a intérêt à faire une déclaration de sinistre, le montant de la franchise étant égale à 15% du montant des réparations.<br>Dans ce cas :<br>Présentation d'un devis par le propriétaire. Demande de prélèvement sur le dépôt de garantie à faire auprès des services e-loue. Déclaration de sinistre à faire auprès de l'assureur par le locataire dans un délai de 5 jours.</td><td>800 &euro; <br>non<br>Présentation d'un devis par le propriétaire. Demande de prélèvement sur le déôt de garantie à faire auprès des services e-loue. Pas de déclaration de sinitre.</td><td>75 &euro; <br>non<br>Présentation d'un devis par le propriétaire. Demande de prélèvement sur le déôt de garantie à faire auprès des services e-loue. Pas de déclaration de sinitre.</td></tr><tr><td>Cas N°3<br><br>Condition 1 = montant estimée supérieur au montant de la franchise<br>Condition 2 = Accord sur le montant estimé propriétaire/locataire</td><td>800 &euro; <br>oui/non (1)<br>Présentation d'un devis par le propriétaire. Déclaration de sinitre à faire par le propriétaire auprès des services e-loue. Demande de prélèvement sur le dépôt de garantie du montant de la franchise à faire auprès des services e-loue.<br>Les services e-loue procéderont à la déclaration de sinistre auprès de l'assureur qui paiera directement le garage déduction faite du montant de la franchise.</td><td>75 &euro; <br>oui/non (1)<br>Présentation d'un devis par le propriétaire. Demande de prélèvement sur le dépôt de garantie du montant de la franchise à faire auprès des services e-loue. Déclaration du sinistre à faire par le locataire auprès de l'assureur dans un délai de 5 jours.</td></tr><tr><th colspan="4">vol</th></tr><tr><td>Cas n°4</td><td>Le locataire doit porter plainte auprès du commissariat dans les 48 heures et prévenir le propriétaire.<br>Le propriétaire procédera à une demande de prélèvement du dépôt de garantie. Le locataire n'est pas convert contre le vol par l'assurance.</td><td>Le locataire doit porter plainte auprès du commosariat dans les 48 heures et prévenir le propriétaire.<br>Le propriétaire doit contacter les services e-loue afin de déclarer le vol du véhicule. Le propriétaire procédera également à une demande de prélèvement sur le dépôt de garantie du montant de la franchise auprès des services e-loue.<br>Les services e-loue procéderont auprès de l'assureur à une déclaration de vol. L'expert de l'assurance procédera à une évaluation de la valeur du véhicule volé. Le propriétaire sera remboursé du montant correspondant moins la franchise.</td><td>N/A</td></tr></tbody></table>
    p
      | (1) dans les cas (accord ou pas), le propriétaire devra fournir  un devis ou une facture de réparation au locataire, nécéssaire à la déclaration de sinistre auprès de l'assurance (cf. politique d'assurance)
    p
      | Ce document a pour objectif d'expliquer au utilisateurs la gestion du dépôt de garantie. Pour toutes questions r elatives au modalités et conditions de déclaration de sinistre et de remboursement par les assurances, se référer à la politique assurance.