extends ./base

block variables
  -var STATIC_URL = "../static/"
  -var STYLESHEET_NAME = "homepage_styles"
  -var nav_home_items = [ "Logement", "Jardinage", "Automobile", "Image et son", "Bricolage", "Mode et accessoire", "Réceprion", "Santé et Bien être", "Autres" ]

  -var insurances = []
  -insurances[0] = ["payment", "Louez en toute sécurité", "Transactions en ligne sécurisées.", "Aucun échange d'argent."]
  -insurances[1] = ["serenity", "Louez en toute sérénité", "Assurance incluse et automatique.", "Caution en ligne."]
  -insurances[2] = ["simplicity", "Louez en toute simplicité", "Service client dédié 7j/7.", "Dépot d'annonce gratuite."]
  -insurances[3] = ["trust", "Louez en toute confiance", "Notes et commentaires en ligne.", "Messagerie en ligne."]

  -var products = []
  -products[0] = [STATIC_URL + "img/home-products/bike.jpg", "Bike Bike Bike Bike Bike Bike Bike Bike Bike Bike ", "Aubervillies", "56", STATIC_URL+"img/home-products/declarer.png"]
  -products[1] = [STATIC_URL + "img/home-products/audi.jpg", "Audi - A3", "Paris Paris Paris Paris Paris Paris Paris Paris Paris Paris ", "100", STATIC_URL+"img/home-products/declarer.png"]
  -products[2] = [STATIC_URL + "img/home-products/tent.jpg", "Tante tip indien", "Nantes", "56", STATIC_URL+"img/home-products/declarer.png"]

block content
  include ./jade/_src
  header.header-site
    include ./jade/_header_site
  nav.nav-home.container
    include ./jade/_nav_home

  article
    section.row-fluid.banner
      include ./jade/_banner
    section.row-fluid.insurances.framing
      include ./jade/_insurances
    section.row-fluid.product-list
      include ./jade/_product_list
    section.row-fluid.float-comments.framing
      include ./jade/_comments
    section.row-fluid.location-list
      include ./jade/_location_list

  main
    section.row-fluid.download-mobile-apps.framing
      include ./jade/_download_mobile_apps
    section.row-fluid.watch-video
      include ./jade/_watch_video
    section.row-fluid.professional-renter-content.framing
      include ./jade/_professional_renter_content
    section.row-fluid.talk-about-us
      include ./jade/_talk_about_us

  footer
    section.row-fluid.footer-links.framing
      include ./jade/_footer_links
    section.row-fluid.rss.pad-v-4
      include ./jade/_rss

  include ./jade/_sign_in
  include ./jade/_log_in