<div class="section-content">
    <div class="block-with-thumbnail">
        <div class="col-thumbnail">
            <div class="thumbnail"><a href="#"><img data-ng-src="{{bookingDetails.product.picture}}" alt="{{bookingDetails.product.summary}}" width="200"></a></div>
        </div>
        <div class="col-exposition">
            <div class="indent-sm-h">
                <h3><b>{{bookingDetails.product.summary}}</b></h3>
                <p class="text-gray indent-sm-h indent-xs-v"><i class="fa fa-map-marker fa-lg fa-li"></i>{{bookingDetails.product.address.street}}, {{bookingDetails.product.address.zipcode}}
                    <br>{{bookingDetails.product.address.city}}
                <div class="block-with-thumbnail indent-sm-v indent-sm-">
                    <div class="col-thumbnail">
                        <div class="thumbnail"><a href="#"><img data-ng-src="{{bookingDetails.product.owner.avatar.thumbnail}}" alt="{{bookingDetails.product.owner.username}}" width="40" height="40"></a></div>
                    </div>
                    <div class="col-exposition text-gray">
                        <div class="indent-xs-h">
                            <h3 class="small"><a href="#" class="text-underline-hover">{{bookingDetails.product.owner.username}}</a></h3>
                            <p class="indent-xs-v"><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span>
                            </p>
                            <p><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-shield"></i><span>7</span></span>
                            </p>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="bg-success-light text-success bd-rad"><i class="fa fa-phone fa-lg indent-xs-h"></i><span class="indent-sm-h">Joignable au <b>{{bookingDetails.product.phone.number}}</b> ou</span><a href="" class="btn-inline text-white bg-success-hover">Envoyez un message</a></div>
    <div class="block-with-thumbnail notification indent-md-v">
        <div class="col-thumbnail">
            <div class="thumbnail">
                <div class="icon-action"><i class="fa fa-check-circle-o fa-lg"></i></div>
            </div>
        </div>
        <div class="col-exposition text-action">
            <h3><b>Réservation acceptée par <a href="" class="text-success text-underline-hover">{{bookingDetails.product.owner.username}}</a></b></h3>
            <ul class="zebra-list indent-md-v">
                <li class="clearfix">
                    <div class="col-xs-3">Début</div>
                    <div class="col-xs-9">
                        <span translate="{{bookingDetails.start_date.week_day}}"></span>
                        <span> {{bookingDetails.start_date.day}} </span>
                        <span translate="{{bookingDetails.start_date.month}}"></span>
                        <span> {{bookingDetails.start_date.year}} </span>
                        <span translate="at"></span>
                        <span> {{bookingDetails.start_time}}</span>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-3">Fin</div>
                    <div class="col-xs-9">
                        <span translate="{{bookingDetails.end_date.week_day}}"></span>
                        <span> {{bookingDetails.end_date.day}} </span>
                        <span translate="{{bookingDetails.end_date.month}}"></span>
                        <span> {{bookingDetails.end_date.year}} </span>
                        <span translate="at"></span>
                        <span> {{bookingDetails.end_time}}</span>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-3">Période</div>
                    <div class="col-xs-9">{{bookingDetails.period_days}} jours et {{bookingDetails.period_hours}} heures</div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-3">Prix</div>
                    <div class="col-xs-9 text-success">{{bookingDetails.total_amount}}€</div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-3">Caution</div>
                    <div class="col-xs-9">{{bookingDetails.deposit_amount}}€</div>
                </li>
            </ul>
            <div class="text-right"><a href="#" class="text-success text-underline-hover indent-sm-h">Annulation</a><a href="#" class="btn-inline bg-success-hover text-white">Télécharger le contrat</a></div>
        </div>
    </div>
    <div class="block-with-thumbnail text-gray notification">
        <div class="col-thumbnail">
            <div class="thumbnail"><i class="fa fa-pencil fa-3x"></i></div>
        </div>
        <div class="col-exposition">
            <form data-ng-submit="postComment()">
                <textarea name="comment" data-ng-model="comment" rows="4" placeholder="Écrire un commentaire..." class="expand"></textarea>
                <p class="text-justify-force indent-sm-t"><span>Notes :&nbsp;&nbsp;<span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span></span>
                    <button type="submit" class="btn-inline bg-success-hover text-white">Envoyer</button>
                </p>
            </form>
        </div>
    </div>
</div>
<section class="booking-activity-feed text-gray-strong">
    <ul class="section-content">
        <li class="reply-to-message"><a href="#" class="text-success text-underline-hover"><i class="fa fa-mail-reply">&nbsp;&nbsp;</i>Répondre au message</a></li>
        <!-- TODO date mark -->
        <!--<li class="feed-date-bage"><span>11/05</span></li>-->
        <li class="block-with-thumbnail notification indent-md-v" data-ng-repeat="comment in bookingDetails.comments track by comment.id">
            <div class="col-thumbnail">
                <div class="thumbnail">
                    <div class="icon-action"><i class="fa fa-lg fa-envelope-o"></i></div>
                </div>
            </div>
            <div class="col-exposition text-action">
                <div class="block-with-thumbnail">
                    <div class="col-thumbnail">
                        <div class="thumbnail indent-sm-r round">
                            <a href="#">
                                <img data-ng-src="{{comment.author.avatar.thumbnail}}" alt="{{comment.author.username}}" width="40" height="40">
                            </a>
                        </div>
                    </div>
                    <div class="col-exposition">
                        <h3 class="text-black indent-xs-b"><b>Message envoyé par <a href="#" class="text-success text-underline-hover">{{comment.author.username}}</a></b></h3>
                        <p class="norm">{{comment.comment}}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>