<div class="section-content">
    <div class="block-with-thumbnail">
        <div class="col-thumbnail">
            <div class="thumbnail"><a href="#"><img data-ng-src="{{booking.picture}}" alt="BMW 520 Touring Luxe photo" width="200"></a></div>
        </div>
        <div class="col-exposition">
            <div class="indent-sm-h">
                <h3><b>{{booking.title}}</b></h3>
                <p class="text-gray indent-sm-h indent-xs-v"><i class="fa fa-map-marker fa-lg fa-li"></i>{{booking.address.street}}, {{booking.address.zipcode}}
                    <br>{{booking.address.city}}
                <div class="block-with-thumbnail indent-sm-v indent-sm-">
                    <div class="col-thumbnail">
                        <div class="thumbnail"><a href="#"><img data-ng-src="{{booking.owner.avatar}}" alt="{{booking.owner.username}}" width="40" height="40"></a></div>
                    </div>
                    <div class="col-exposition text-gray">
                        <div class="indent-xs-h">
                            <h3 class="small"><a href="#" class="text-underline-hover">{{booking.owner.username}}</a></h3>
                            <p class="indent-xs-v"><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span>
                            </p>
                            <p><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-shield"></i><span>7</span></span>
                            </p>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
    <div class="bg-success-light text-success bd-rad"><i class="fa fa-phone fa-lg indent-xs-h"></i><span class="indent-sm-h">Joignable au <b>01 47 00 00 00 </b>ou</span><a href="" class="btn-inline text-white bg-success-hover">Envoyez un message</a></div>
    <div class="block-with-thumbnail notification indent-md-v">
        <div class="col-thumbnail">
            <div class="thumbnail">
                <div class="icon-action"><i class="fa fa-check-circle-o fa-lg"></i></div>
            </div>
        </div>
        <div class="col-exposition text-action">
            <h3><b>Réservation acceptée par <a href="" class="text-success text-underline-hover">Julien</a></b></h3>
            <ul class="zebra-list indent-md-v">
                <li class="clearfix">
                    <div class="col-xs-3">Début</div>
                    <div class="col-xs-9">Mardi 24 Juin 2014 à 09h00</div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-3">Fin</div>
                    <div class="col-xs-9">Jeudi 26 Juin 2014 à 09h00</div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-3">Période</div>
                    <div class="col-xs-9">3 jours et 9 heures</div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-3">Prix</div>
                    <div class="col-xs-9 text-success">168€</div>
                </li>
                <li class="clearfix">
                    <div class="col-xs-3">Caution</div>
                    <div class="col-xs-9">250€</div>
                </li>
            </ul>
            <div class="text-right"><a href="#" class="text-success text-underline-hover indent-sm-h">Annulation</a><a href="#" class="btn-inline bg-success-hover text-white">Télécharger le contrat</a></div>
        </div>
    </div>
    <div class="block-with-thumbnail text-gray notification">
        <div class="col-thumbnail">
            <div class="thumbnail"><i class="fa fa-pencil fa-3x"></i></div>
        </div>
        <div class="col-exposition">
            <form action="">
                <textarea name="msg" rows="4" placeholder="Écrire un commentaire..." class="expand"></textarea>
                <p class="text-justify-force indent-sm-t"><span>Notes :&nbsp;&nbsp;<span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span></span>
                    <button type="submit" class="btn-inline bg-success-hover text-white">Envoyer</button>
                </p>
            </form>
        </div>
    </div>
</div>
<section class="booking-activity-feed text-gray-strong">
    <ul class="section-content">
        <li class="reply-to-message"><a href="#" class="text-success text-underline-hover"><i class="fa fa-mail-reply">&nbsp;&nbsp;</i>Répondre au message</a></li>
        <li class="feed-date-bage"><span>11/05</span></li>
        <li class="block-with-thumbnail notification indent-md-v">
            <div class="col-thumbnail">
                <div class="thumbnail">
                    <div class="icon-action"><i class="fa fa-lg fa-envelope-o"></i></div>
                </div>
            </div>
            <div class="col-exposition text-action">
                <div class="block-with-thumbnail">
                    <div class="col-thumbnail">
                        <div class="thumbnail indent-sm-r round"><a href="#"><img src="../../../static//img/home-products/owner.png" alt="Dupré photo" width="40" height="40"></a></div>
                    </div>
                    <div class="col-exposition">
                        <h3 class="text-black indent-xs-b"><b>Message envoyé par <a href="#" class="text-success text-underline-hover">Julien</a></b></h3>
                        <p class="norm">Merci d’avoir accepté ma réservation. Comment fait on pour se rencontrer ? Bonne soirée</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="block-with-thumbnail notification indent-md-v">
            <div class="col-thumbnail">
                <div class="thumbnail">
                    <div class="icon-action"><i class="fa fa-lg fa-dollar"></i></div>
                </div>
            </div>
            <div class="col-exposition text-action">
                <div class="block-with-thumbnail">
                    <div class="col-thumbnail">
                        <div class="thumbnail indent-sm-r"><img src="../../../static//img/money.png" alt="" width="40" height="40"></div>
                    </div>
                    <div class="col-exposition">
                        <p class="norm">Prix de la location débitée avec succès !</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="block-with-thumbnail notification indent-md-v">
            <div class="col-thumbnail">
                <div class="thumbnail">
                    <div class="icon-action"><i class="fa fa-lg fa-shield"></i></div>
                </div>
            </div>
            <div class="col-exposition text-action">
                <div class="block-with-thumbnail">
                    <div class="col-thumbnail">
                        <div class="thumbnail indent-sm-r round"><a href="#"><img src="../../../static/img/home-products/tenant.png" alt="" width="40" height="40"></a></div>
                    </div>
                    <div class="col-exposition">
                        <p class="norm">Demande acceptée par <a href="#" class="text-success text-underline-hover">Gaspard</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="block-with-thumbnail notification indent-md-v">
            <div class="col-thumbnail">
                <div class="thumbnail">
                    <div class="icon-action"><i class="fa fa-lg fa-history"></i></div>
                </div>
            </div>
            <div class="col-exposition text-action">
                <div class="block-with-thumbnail">
                    <div class="col-thumbnail">
                        <div class="thumbnail indent-sm-r round"><a href="#"><img src="../../../static//img/home-products/owner.png" alt="Dupré photo" width="40" height="40"></a></div>
                    </div>
                    <div class="col-exposition">
                        <p class="norm">Demande de réservation par <a href="#" class="text-success text-underline-hover">Julien</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="feed-date-bage"><span>09/05</span></li>
        <li class="block-with-thumbnail notification indent-md-v">
            <div class="col-thumbnail">
                <div class="thumbnail">
                    <div class="icon-action"><i class="fa fa-lg fa-envelope-o"></i></div>
                </div>
            </div>
            <div class="col-exposition text-action">
                <div class="block-with-thumbnail">
                    <div class="col-thumbnail">
                        <div class="thumbnail indent-sm-r round"><a href="#"><img src="../../../static//img/home-products/owner.png" alt="Dupré photo" width="40" height="40"></a></div>
                    </div>
                    <div class="col-exposition">
                        <h3 class="text-black indent-xs-b"><b>Message envoyé par <a href="#" class="text-success text-underline-hover">Julien</a></b></h3>
                        <p class="norm">Merci d’avoir accepté ma réservation. Comment fait on pour se rencontrer ? Bonne soirée</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>