h1,h2,h3,
h4,h5,h6		{ margin-bottom: .71em; }

h1 				{ font-size: 24px; color: #546B78; line-height: 1em; font-weight: normal;}
h2 				{ font-size: 18px; font-weight: normal; color: #364C59; margin-bottom: 0.93em }
h3 				{ font-size: 16px; color: #6EB924; line-height: 1; margin-bottom: .71em }

p           	{}
p.last      	{ margin-bottom: 0 }
img         	{ border: none; }

ul, ol			{ margin-left: 0px; margin-bottom: 1.5em; }
li ul,
li ol			{ margin-top: 1em; }
ul li			{ list-style-type: disc; }
li				{ margin-bottom: .5em; }

a				{ color: #364C59; text-decoration: none; }
a:visited		{ color: #364C59; }
a:focus, 
a:hover     	{text-decoration: underline;}

table { width: 100%; border: 0; margin-bottom: 2em;  }

table th { padding: 10px 0; }
table tbody td { padding: 5px 0px; }

table td { vertical-align: top; }



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
  width: 980px;
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}


.clear { clear: both; }
