{% extends "admin/base_site.html" %}

{% load i18n %}

{% block title %}Top city{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="/">{% trans 'Home' %}</a> 
        &rsaquo; Top city
    </div>
{% endblock %}


{% block content %}
<div>
	<table>
		<thead>
			<tr>
				<th>Ville</th>
				<th>Nombre d'inscrit</th>
			</tr>
		</thead>
		<tbody>
			{% for city in cities %}
			<tr>
				<td>{{ city.city }}</td>
				<td>{{  city.id__count }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}