style
    #anchors a, #summary{color: #24bd77;}
    .col-md-3 a{
      //- text-align: center;
      margin-left: 25px;
    }

    .col-md-3{
      height:170px;
    }

    .footer-links a:hover{
      text-decoration: none;
    }

    h2 a:hover{
      text-decoration: none;
    }


.container(style="color:#777; text-align: justify;")
  h2.text-uppercase.text-center תנאים  כללים והתניות
  p.text-right: em גרסה 16 אוקטובר 2014
  
  br

.container(style="color:#777; text-align: justify;")
  br
  h2 מבוא
  p התנאים הכלליים של שימוש  בפלטפורמה אי-לו מציינים  את התנאים שבהם אי-לו מאפשר לחבריו גישה לשירותי ההשכרה המוצעים על ידותנאים אלו מחייבים  את כל המשתמשים של אי-לו. כמו כן ההרשמה לאתר  מותנית בקבלת התנאים  הכלליים של "אי-לו השכרות" כך שכל הגולשים  הרשומים  באתר אי-לו מחוייבים לתנאים כללים.

  br
  h2 1. מטרת התנאים הכלליים
  p  שירות  פירסום מודעות מקוונות  www.e-loue.co.il- מנוהל על ידי חברת  "אי-לו השכרות" ומאפשר קישור בין בעלי נכס שמפרסמים (להלן הבעלים) ושוכרי נכס (להלן הדייר) . הבעלים והדיירים ייקראו להלן במשותף חברים.תנאים כלליים אלו של שימוש בפלטפורמה של "אי-לו השכרות" נועדו לקבוע תנאים בהם  מותר לחברים  להשתמש בפלטפורמה של "אי-לו השכרות" על מנת לקשר בין המשכיר לשוכר. הפלטפורמה  של "אי-לו השכרות" מאפשרת את עריכת הסכמי השכירות  של  רכוש  בין הבעלים והדיירים, אבל יחד עם זאת חברת "אי-לו השכרות" אינה נושאת באחריות כלשהי בתוכן  או בטיב הנכס ואינה מייצגת משפטית אף אחד מהצדדים.חברת "אילו השכרות" אינה הבעלים של הנכסים או החפצים המוצעים להשכרה ואינה מתערבת בשום צורה בעסקה בין מוכרים לקונים. 
  p הסכם השכירות מתבצע באופן בלעדי וישיר בין המשכיר לשוכר, כתוצאה מכך, אין ל"אי-לו השכרות" שליטה על איכות, בטיחות ו/או חוקיות הפריטים הרשומים. בנוסף "אילו השכרות" אינה אחראית לאימות או דיוק של תוכן פרטי המשתמשים באתר ו/או תוכן המודעות. כמו כן "אי-לו השכרות" אינה אחראית על  מידת יכולתם של המשכירים להשכיר את הפריטים שפרסמו או על יכולתם של השוכרים  לשלם עבור השכרת המוצרים/הנכסים .  
  p החברים הם  המחלטים הבלעדיים אם תתבצע עיסקה ביניהם או לא ועקב כך הם האחראים הבלעדיים על חוזה ההשכרה בינהם.קבלת התנאים הכלליים לשימוש בפלטפורמה של "אי-לו השכרות" הופך את "אי-לו" למתווכת בין המשכיר לשוכר על מנת לבצע עיסקאות באתר אי-לו בהתאם לתנאים המפורטים להלן.

  br
  h2 2. הגדרות
  p כל אחד מהמושגים שמוזכרים  להלן מגדירים את התנאים הכלליים של  שימוש באתר "אי-לו השכרות": 

  ul.dash-item
    li 
        b פלטפורמת אי-לו : 
        | מבנה פונקציונלי וארגוני המוצע על ידי "אי-לו השכרות" על מנת לקשר בין בעלים ודיירים של חפצים (מוצרים, רכבים, דירות ...) כגון אתר, אפליקציה ,יישום, ובאופן כלל את כל השירותים התומכים בנגישות לאתר "אי-לו השכרות" .
    li 
        b חפצים  : 
        | כל מוצר או חפץ שמופיע ב"אי-לו השכרות" , (כגון חפץ ,שירות ,רכב,או דייר... ) מיועד להיות מושכר בעזרת תיווך פלטפורמת אי-לו  השכרות 
    li 
        b חפצים אסורים  :
        | משמע כל חפץ הנוגד למוסר, לחוקים ו/או לתקנות הקיימים במקום, כולל פריטים שהנם עותקים לא מורשים או זיופים המהווים הפרת סעיפים תחת הקוד של קניין רוחני ו/או פריטים שאינם מורשים תחת חקיקה, רגולציה או חוזים.
    li
        b בעלים פרטיים:   : 
        | חבר של פלטפורמת "אי-לו השכרות" שהעלה  מודעה להשכרה בפלטפורמת "אי-לו השכרות" ואין הוא חברה אלא אדם פרטי.
    li 
        b Membre : 
        | Au singulier ou au pluriel, un Propriétaire ou un Locataire susceptible de faire usage de la Plateforme E-loue après acceptation des présentes Conditions Générales. Tout Membre s'engage à fournir des informations exactes quant à son identité, adresse et autres données nécessaires à l'accès à la Plateforme E-loue et à mettre à jour toute modification concernant ces informations.
    li 
        b בעלים מקצועים/ עסקים : 
        | חבר של פלטפורמת "אי-לו השכרות" שמעלה מודעה להשכרת חפץ  והנו מייצג  חברה או שהוא עוסק בהשכרות חפצים באופן מקצועי .

    li 
        b דייר :
        | חבר שמקבל את הצעת הבעלים להשכרת חפצים (שוכר).

    li 
        b דייר פוטנציאלי :   
        | חבר שמחפש לשכור חפץ ב"אי-לו השכרות" אבל עדיין לא מימש כל הצעה .
    li 
        b חבר : 
        | בעלים או דייר יחידים או רבים  העשוי/ים לעשות שימוש בפלטפורמה  של "אי-לו השכרות" לאחר קבלת התנאים הכלליים לשימוש באתר שלה. כל חבר מתחייב לספק מידע מדויק לגבי זהותו, כתובתו ונתונים אחרים הנדרשים לגישה לפלטפורמה  של אי-לו השכרות ומתחייב לעדכן כל שינוי במידע זה.

    li 
        b מחיר  : 
        | מחיר יומי שמוצע על ידי הבעלים להשכרת חפץ. המחיר מהווה את הבסיס להתחשבנות  הסופית בין הבעלים לאי-לו השכרות ..

    li 
        b מחיר השכרה : 
        | מחיר כולל של ההשכרה שישלם הדייר.  במידה וקיים מרחק גדול בין הבעלים לדייר תתכן תוספת דמי משלוח. תוספת דמי המשלוח צריכה להיות מצוינת באופן ברור בתוכן המודעה.
    li 
        b עמלה  : 
        | תגמול שתקבל חברת "אי-לו השכרות" עבור השימוש בפלטפורמה שלה . 
    li 
        b חוזה השכרה : 
        | הסכם בין הבעלים לבין הדייר המאפשר להעביר את השימוש של החפץ המושכר לדייר, כנגד  תמורה כספית כמפורט בחוזה ו/או כפי שהוסכם בינהם . 

    li 
        b משתמש : 
        | כל אדם שניגש לאתר ללא צורך בלהיות רשום היכול לחפש פריטים להשכרה בלי להיות מזוהה .

    br
    h2 3.הפעלת האתר והרישום
    p 
      | כל משתמש בפלטפורמת "אי-לו השכרות"  יכול לחפש אובייקט מבלי להיות רשום באתר. לשם כך, הוא פשוט צריך להקליד את שם האובייקט אותו הוא מחפש, בשורת החיפוש המיועד לכך, וכמו כן  הוא  עשוי  לציין את מיקומו לצרכי החיפוש . 
      |  אם הוא רוצה  ליהנות משירותי התיווך הניתנים על ידי  אי-לו השכרות , המשתמש חייב להירשם  בפלטפורמה של אי-לו השכרות . ההרשמה חינם.
    p 
      | בכל עת רשאי חבר באתר "אילו השכרות" לבקש מחיקה של החשבון שלו על ידי שליחת  EMAIL לכתובת:  contact@e-loue.co.il עם ציון שם המשתמש או כתובת דוא"ל הקשורים לחשבון שלו.
      | הכללים הנוגעים לביטול השכרה  יהיו ישימים אם יש השכרה  מתוכננת בעת ביטול הרישום. דיירים פוטנציאליים יכולים, אם הם רוצים במצב של הסתייגות, ליצור קשר עם הבעלים באמצעות הודעה לפני בקשת הזמנה (בלחיצה על אופציית "שלח הודעה" הקיימת במודעה על המוצר ).

    br
    h2 4. תהליך ההזמנה 
    
    h3 4.1 במקרה של השכרה בין אנשים פרטיים ( ללא עסקים) 
    h4 4.1.1 תהליך ביצוע הזמנה  
    p 
      | הבעלים מציבים מודעות באתר.
      | כאשר דייר פוטנציאלי מעוניין במוצר שבמודעה , הוא מגיש אל הבעלים בקשה להשכרה. הדייר הפוטנציאלי אז רושם את פרטי כרטיס האשראי או פרטי הבנק שלו לצורך העברה בנקאית ומגיש בקשה להשכרה עם הרשאת חיוב.
      | "אי-לו השכרות" לא מקבל תשלום מכרטיס אשראי פרי-פייד או חשבון בנק פרי-פייד . התהליך מתחיל טרם ביצוע ההזמנה: הבעלים מקבל את הבקשה ובמידה וההזמנה תואמת את צרכיו (תאריכים, מידע על הדייר ...) הוא מאשר את העסקה. לאחר אישור העסקה, הדייר יחויב  בכרטיס אשראי או יעשה העברה בנקאית מיידית (תוך 24 שעות ) מרגע אישור ההזמנה על ידי הבעלים. 
    p 
      | הבעלים רושמים את פרטי חשבון הבנק שלהם ויקבלו תמורה לעסקת ההשכרה שלהם 24 שעות לאחר תחילת ההשכרה ( מימוש ההזמנה)  בניקוי דמי התיווך של אי-לו השכרות. 
      | לאחר אישור ההזמנה להשכרה על ידי הבעלים, אי-לו השכרות תשלח לשני החברים את המידע הדרוש כדי לערוך  את החוזה ולחבר בין  שני הצדדים למימוש ההשכרה.
      | לרבות חוזה השכרה בין הצדדים חצי מוכן להשלמה במקום (אפשר גם להוציא את החוזים באופן עצמאי דרך האתר ). בסוף השכירות, הבעלים והדייר יכולים לדרג ולהגיב על ההשכרה באמצעות  הרובריקה המתאימה בדף הבית של אתר "אי-לו השכרות" . 

    br
    h4 4.1.2 חוזה שכירות 
    p כחלק מתהליך ההשכרה בין הבעלים והדייר, אי-לו השכרות תעמיד לרשות הבעלים והשוכרים הסכם שכירות סטנדרטי, שהוא ייחודי ל"אי-לו השכרות"  בהתאם לסוג המוצר שהושכר. 
    p הבעלים והדיירים מתבקשים בהקשר זה לפנות ליועץ או לסיוע משפטי, אם במקרים מסויימים ברשותם אובייקטים ספציפיים היות והסכם השכירות שנשלח הוא סנדרטי להשכרה רגילה, וכאשר יש לצפות שבחוזה הסטנדרטי של פלטפורמת "אי-לו השכרות"  אין אחריות או כיסוי מספקים לצרכיהם המיוחדים ולכן עלולים לא להיות מותאמים לצרכי ותנאי העסקה ו/או לפרטי ההשכרה כפי  שהוסכמו בין הבעלים והדייר. 
    p הhttps://www.youtube.com/watch?v=Ah0hxKLH4I8 חוזה חייב  להיות ממולא כחלק מתהליך ההשכרות של "אי-לו השכרות" וכחלק מתנאי הסכם השכירות , במיוחד כדי ליהנות מכל השירותים המוצעים על ידי האתר, לרבות זכות הביטוח..
    p החוזה נשלח בדואר אלקטרוני לבעלים והדייר מרגע שנסגרה העסקה בין הצדדים (אפשר  גם להוריד ישירות מהפלטפורמה של "אי-לו השכרות" ) ,  החוזה יהיה מלא באופן חלקי, על הבעלים והדייר לבדוק את המידע ולהשלים אותו. החוזה חייב להיות חתום על ידי שני הצדדים. מומלץ בחום לבקש להוסיף מסמכים לחוזה, כגון צילום של תעודת הזהות או תעודות רשמיות אחרות לזיהוי ו/או רשיון נהיגה. הבעלים חייבים להודיע מראש לדייר שהוא מעוניין במסמכים אלה.
    p על הצדדים (הבעלים והדייר) למלא טופס מצב המוצר כדי לתאר את המוצר/נכס טרם מימוש ההשכרה וכן בסיום ההשכרה, מומלץ  לציין נזק ומצב הרכוש לפני ואחרי ההשכרה על מנת לדעת מי אחראי לנזקים (אם יש) במקרה של חילוקי דעות  . החוזה חייב להיות חתום על ידי שני הצדדים.במקרה של נזק שהתרחש במהלך ההשכרה, מסמכים אלו יאפשרו להגדיר את האחריות של כל אחד כדי להגיע להסכם פיצוי מוסכם בין הצדדים  שיאפשר לבעלים להסיר חלק מפיקדון הדייר או הפקדתו בשלמותו. לשם כך, חוזה השכירות  שנחתם על ידי שני הצדדים, אמור וחייב לפרט את סכום הפקדת הביטחון שיש להפקיד (פיקדון) , והצדדים יצטרכו להעביר העתק של הסיכום ל"אי-לו השכרות" ליישור המחלוקת ותשלום הנזק. 
    p   סיכום חוזה ההשכרה בכתב, חתום על ידי הדייר והבעלים, אם זה שהוצע על ידי "אי-לו השכרות" או אחד אחר, היא תנאי הכרחי לחוזה  ולזכאות הביטוח שמוצע על ידי  אי-לו השכרות. 
    p אם התבטל ההשכרה , ראה מדיניות ביטול.

    br
    h4 4.1.3 תשלום השכרה
    p 
      | כחלק מתהליך התשלום על ידי השוכר, השוכר מחוייב מרגע האישור הסופי של ההזמנה על ידי בעל הנכס, בהתאם לתנאי העיסקה . לאחר מכן עם השלמת ההשכרה , השוכר מקנה ל"אי-לו השכרות" את הזכות  להעביר את הסכום בהתאם להשכרה: ( א) לשלם מלוא הסכום לבעל הנכס אחרי 24 שעות מתחילת ההשכרה , או- (ב) לשלם את העלויות החלקיות של דמי ביטול או עלות השכרה חלקית בהתאם לתנאי חוזה העיסקה או בהתאם לסיכום עם בעל הנכס .
    p
      |התשלום מתבצע על ידי "אי-לו השכרות" דרך העברות בנקאיות מחשבון הבנק של "אי-לו השכרות" אל חשבון הבנק של בעל הנכס, 24 שעות לאחר תחילת ההשכרה, באופן אוטומטי, כל עוד אף אחד מהצדדים לא הודיע על תקלה או אי-קיום החוזה .  
      | עם זאת, אי-לו השכרות  שומרת לעצמה את הזכות לא להעביר את הכסף לבעל הנכס תוך 24  שעות לאחר תחילת השכירות במקרה של חשד להונאה. במקרה כזה, לצורך בטיחות, "אי-לו השכרות" תהיה רשאית לשמור את הכסף בחשבון הנאמנות לתקופה של 6 עד 8 שבועות. במקרה שההונאה אינה מוכחת, הכסף חוזר לרשות הבעלים. הבעלים לא יכולים לערער על סמכותה ואחריותה של "אי-לו השכרות" עקב כך שלא שולם לו הסכום המגיע לו בזמן שסוכם (24 שעות). במקרה שהוכחה ההונאה, התמורה להשכרה לא תוחזר לבעלי הנכס. בכל מקרה אחר,  התמורה להשכרה תשולם 24 שעות לאחר תחילת השכירות.  הסכום שישולם יהיה בגובה עלות ההשכרה כפי שסוכם עם השוכר בניכוי העמלה של אי-לו השכרות. גובה העמלה להשכרה הנה 20% וכולל את עלות הביטוח (במידה ויש) והשימוש בפלטפורמה לביצוע ההזמנה. בסוף השכירות, הבעלים והדייר מתבקשים לדרג ולהגיב על ההשכרה באמצעות הרובריקה המתאימה לכך  בדף הראשי בפרופיל  שלהם.

    br
    h4 4.1.4  מדיניות דמי ביטול
    p הדייר/השוכר רשאי לבטל את חוזה השכירות שלו טרם תחילת ההשכרה. אי-לו השכרות תחזיר לדייר את סכום השכירות לאחר ניכוי דמי השירות  וגביה שלה בגובה של 5% מסכום הכולל של ההזמנה.
    p בהקשר של השכרה עונתית של דירות , מתוכנן להיות סעיף בחוזה הביטוח המאפשר החזר דמי ביטול בהתאם לתנאים  מסויימים.
    p הדייר רשאי לבטל את ההשכרה לאחר תחילתה רק  במקרה של אי התאמה של המוצרים.  הביטול יתבצע באמצעות יצירת קשר עם משרדי "אי-לו השכרות" . בקשה להחזר תשלום לא תתקבל מעבר ל- 24 שעות לאחר תחילת השכירות. 
    p  הדייר יקבל החזר מלא  (ללא נכוי  דמי שירות או ביטול):  הבעלים לא יכולים לבטל את הזמנת ההשכרה שהוזמנה דרך פלטפורמת "אי-לו השכרות". עם זאת, במקרה של כוח עליון, באפשרותו של הדייר להודיע למחלקת השירות של "אי-לו השכרות" ולקבל החזר מלא (ללא נכוי דמי שירות או ביטול).


    br
    h4 4.1.5 דיווח על תקלה / אירוע 
    p  במקרה שאירוע יוצא דופן הקורה תוך כדי ההשכרה או לאחר השכרה (צד אחד לא התייצב למימוש ההשכרה , המוצר המושכר לא עובד, נזק נמצא על הנכס וכד') כל צד רשאי לדווח על האירוע באמצעות  הפלטפורמה של "אי-לו השכרות" . האירוע יטופל כל מקרה לגופו.
    p אם אירוע דווח וצד אחד מבקש תשלום עבור השכרת המוצר, במקרה של ספק, סכום השכירות יישמר על ידי "אי-לו השכרות" לפרק זמן הנחוץ לאיסוף נתונים. במקרה של אי תגובה לאירוע מהצד הנגדי, תוך כדי תקופה מקסימלית של 12 ימים,  "אי-לו השכרות" תהיה  רשאית להעביר את סכום ההשכרה לבעלים.


    br
    h4 4.1.6 פיקדון 
    p 
      | לכל מוצר  הבעלים יכולים להגדיר את סכום הפיקדון שהוא רוצה. הפיקדון מנוהל על ידי לקיחת פרטי כרטיס אשראי של השוכר. הדייר מתחייב לנהל את חשבון הבנק שלו על מנת לאפשר גביה של הפיקדון לכל אורך תקופת ההשכרה. 
      | "אי-לו השכרות" אינה אחראית ואין ביכולתה להיות אחראית במקרה של אי יכולת לגבות את הפיקדון מחשבון הבנק של הדייר  (כגון מצבים של חשבון ללא כיסוי ,  גניבת כרטיס אשראי וכד').
      | עם זאת, במקרים מסויימים הבעלים יכולים  לדרוש ביטחונות נוספים לגביית הפיקדון כגון הפקדת  שיקים של הדייר. או הפקדת מזומנים, דבר שיבטיח את הביצוע הנכון של ההתחייבויות, עד גובה הפיקדון שנדרשו מהדייר. אם נעשה דרישה שכזאת  הדייר חייב להודיע  על כך מראש .
    p 
      | לאחר בדיקה של אי ביצוע נזק כלשהו למוצר , הצ'ק או המזומנים יוחזרו  בסוף השכירות לדייר על ידי הבעלים.
      | אם הדייר מחזיר את המוצר המושכר לבעלים בתום השכירות עם נזק, "אי-לו השכרות"   שומרת לעצמה את הזכות לחייב את הפיקדון לדייר או חלק ממנו עם הצגת דוח מצב של המוצר בעת החזרתו המפרט את הנזק ואת עלות תיקונו  (עם הסכום המדוייק שצריך לחייב) ,  חתום  על ידי  הבעלים והדייר יחדיו.
    p 
      |עם זאת, במקרה של אי-החזרה של הנכס על ידי הדייר, "אי-לו השכרות"  זכאית  לגבות את הפיקדון ללא הגשת דוח מצב המוצר בעת החזרתו חתום, וסכום הפיקדון ישולם לבעלים.
      | הדייר יכול אז לנסות להפעיל את הביטוח (אם קיים) כדי לקבל את הפיקדון בחזרה (בהתאם לתנאי הביטוח). לקבלת מידע נוסף, לרבות קביעת סכום ההפקדה, עיין בשאלות הנפוצות.

    br
    h4 4.1.7  הערכת השכרה
    p 
        | נדרשת הפעלת זהירות לגבי אמינות ההשכרות ואמינות חברי הקהילה של "אי-לו השכרות" : היות ו"אי-לו השכרות" אינה יכולה לאמת ב100% את כלל נתוני המשכירים והשוכרים, היא מספקת לחבריה ולמשתמשיה,  מערכת בשם "הערות" או "דירוגים" כדי לאפשר להם להעריך את האדם שעמו הם מנהלים את תהליך ההשכרה .
        | לבעלים תהיה  הזדמנות להעלות את הערותיהם על החברים שעמם הם מתנהלים, או על המוצרים אותם הם משכירים/שוכרים. הערכה חיובית עשויה להוות יתרון משמעותי לחלק מהבעלים ולאפשר להם להשכיר את רכושם בקלות רבה יותר בעתיד , ו/או לחזק משכירים בהשכרת רכושם לדיירים מסויימים (כמו שהערכה שלילית יכולה להזהיר ממשכירים או משוכרים מסויימים), הערכה זו מתבצעת במהלך או לאחר העסקת "חפצים" . 

    br
    h3 4.2 במקרה של השכרה מפרסמים שעוסקים בהשכרה באופן מקצועי / עסקים
    p 
      |  למפרסמים שעוסקים בהשכרה באופן מקצועי / עסקים  ההזמנות  אינן מתבצעות  און  ליין.
      |  דייר פוטנציאלי המעוניין לשכור מוצר מבעלי עסקים יכול ליצור עמו קשר באמצעות הפלטפורמה של "אי-לו השכרות" .
      | בתי העסק  יקבלו את פרטי הקשר של הדייר הפוטנציאלי והם יחליטו אם ליצור קשר עם הדייר להמשך טיפול או לא .

    b הארכת ההשכרה
    p בכל הארכה של השכרה , יש צורך לעשות הזמנה חדשה דרך הפלטפורמה של "אי-לו השכרות" 

    p השכרה זאת תחשב כהארכה של ההזמנה המקורית במקרה ש :
    ul 
        li היא תתחיל כאשר ההשכרה  הראשונה מסתיימת 
        li תתבצע בין אותם בעלים ודייר מההשכרה הראשונה 
        li שהיא תעסוק באותו מוצר  כמו בהשכרה הראשונה


    p זה יהיה באחריותו של בעל  הנכס ושל  הדייר להוסיף את המילים "הארכת השכרה " בהסכם השכרה. התייחסות זו תחסור מהם לעשות דוח מצב המוצר בתחילת השכרה כמקובל  
    p דוח מצב המוצר בתחילת השכרה  המקורי  ילקח בחשבון  .


    br
    h2 5. מחירים
    p השימוש בפלטפורמה אי-לו הוא חינם  בכל קשור לדמי ההרשמה ודמי הכנסת מודעה .לעסקות בין אנשים פרטים , עמלה של 20%  ינוכה מסכום העסקה  והיתרה יועבר אל בעל נכס .אי-לו השכרות תעביר  לאחר 24 שעות מתחילת השכרה  (צריך עוד כשני ימי עבודה נוספים  כדי שזה  יופיע בחשבון  הבנק שלך), והעמלה תנוקה אוטומטית מהסכום הכולל שנגבה. סכום עמלה זו כולל   את הוצאות  גביה והעברה  התשלום וביטוח  הנכס כאשר ניתן  לבטח אותו .
    p במקרה של כשל של חבר על החובות המוטלים עליו, אי-לו השכרות  שומרת לעצמה את הזכות למחוק את החשבון שלו ולאסור על הגישה שלו לפלטפורמת אי-לו השכרות לאלתר וללא אזהרה  . אי-לו השכרות רשאית בכל עת לשנות את מדיניותה בפרסום של עמלות והמחירים של שירותיה. שינויים כאלה ייכנסו לתוקף מייד עם פרסומם יהיו בוקף עבור  כל העסקות שיפרמו לאחר הודעת שינוי המדיניות . אנא לכן להתייעץ באופן קבוע תנאים כללים במיוחד לפני כל עסקה באתר

    br
    h2 6. מחוייבות של חברים
    p שימוש בפלטפורמה י אי-לו השכרות  שמור  לאנשים המתאימים  מבחינה חוקית או שמורשים לבצע  חוזה שכירות  חוץ  בין השאר  קטינים.אי-לו השכרות  שומרת לעצמה את הזכות למחוק את החשבון של חבר לא משנה מה הסיבה, במיוחד אם זה לא עומד בתנאים, אם הוא עוסק במעשי הונאה בקשר לאתר או עם בכוונתו להשכיר  נכסים בלתי הולמים או חוקיים.המשתמש הוא אחראי  הבלעדי למידע שהוא מפרסם .

    br
    h2 7. מחויבות של "הבעלים"

    h3 7.1 למוצר  השכרה בכלל (כולל מכוניות)
    h4 7.1.1. במודעה 

    ul.dash-item
      li הבעלים מסכימים שכל מודעה של  מוצר , מדובר במוצר מוחשי וחוקי ושיש לו בעלות מלאה עליו והיכולת הפיזית והחוקית להשכיר אותו בתאריכים שהוא מפרסם אותם .
      li הבעלים חייבים לוותר על השכרה של מוצר  כאשר יש לו מידע של בעיה טכנית המשפיעה על הבטיחות של המוצר . הבעלים מאשר כי מוצר  הוא תקין ועומד בסטנדרטי בטיחות המקובלים בארץ .

      li עליו  יהיה  לא לפרסם כל מידע כוזב או מוגזם  .הוא מתחייב לפרסם מודעות כאשר התוכן אינו  צפוי להיות מזיק לאחרים או להפר חוקים ותקנות.
      li הוא מסכים לקבל הודעות דואר אלקטרוני ושיחות טלפון מכל מי שמתעניייין בהודעתו.
      li הוא מסכים להיפגש  עם מי שמעוניין בהודעתו. 
      li הוא מחויב לעדכון את הלוח התאריכים  של המוצר  המפרט את התאריכים הזמינים  להשכרה.
      li הוא מתחייב להסיר את מודעתו מרגע שהנכס לא יהיה זמין יותר. עליו יהיה להסיר את המודעה, על ידי שליחה בקשה  לכתובת  דואר אלקטרוני לcontact@e-loue.co.il .
      li הבעלים הם האחראים הבלעדים  ליישום נאות של החובת הדיווח  לדיירים על הנכס/מוצר  מצבו  ומאפייניו המהותיים ואם יש צורך בהערכה של דמי משלוח שניתן לכלול או לא במחיר השכירות. הבעלים הם האחראים הבלעדים של  תיאור הסחורה שהוא מציע להשכרה. וכך הבעלים מסירים מכל אחריות  בתוכן הפירסום  את אי-לו השכרות   לרבות צורה דיוק  או הדרך  של התיאור . הבעלים מתחייבים לעשות כל תיאום  כדי לספק   תיאור נאמן למקור עם כל הפרטים  הנחוצים לביצועה ההזמנה כדי למנוע מהדייר החלטה שגויה ,  במקרים של  טעות בפירסום מחיר ההזכרה  ו / או בהערכה  מוטעת של דמי המשלוח, הבעלים ישאו על חשבונם את  כל הפרשי/תוספת מחיר/עלויות   מעבר למפורסם  במקור על ידי הבעילים ובשום פנים לא יכולים לראות את הפלטפורמה  של אי-לו השכרות  או הדייר עצמו כאחראי לתוספות  מחיר אלו .במודעה שלו  הבעלים מתחייבים שלא לציין את כתובתו, כתובת דואר אלקטרוני, מספר טלפון, או פרטים של החנות שלו.הבעלים מתחייבים  לאשר או לא לאשר הזמנה להשכרה  תוך 24 שעות  מרגע שהוא קיבל את בקשת ההשכרה בדוא"ל. אם הבקשה הראשונה  תשאר ללא תגובה מעבר ל- 24 שעות, זה ייחשב  כסירוב .

    br
    h2 8. מחויבות הדייר
    h3 8.1 להשכרה של מוצרים באופן כללי (כולל מכוניות)
    h4 8.1.1. אימות של זהותו של הדייר
    p אסור על הדייר  לפעול למטרות מקצועיות כדי להעפיל את הביטוח המכסה את הסכם השכירות. לכל עסקה,אי-לו השכרות רשאית  לדרוש במקרים חריגים ועל מנת להילחם נגד הונאה פוטנציאלית, לנהל אימות של זהותו של הדייר  על ידי בקשת  מסמכי הזהות הרשמיים שלו. במקרה של אי הספקת המסמכים הדרושים על  ידי אי-לו השכרות כחלק מהאימות של הזהות, אי-לו השכרות רשאיות לבטל את העסקה שבוצעה על ידי הדייר.הדייר מסכים לעדכן את המידע עליו. הדייר  חייב להיות עם תיבת דואר סטנדרטית הקשורים לשירותי  דואר  ישראל (גודל של תיבת הדואר, רשום על השמ שלו  וכו '...), במידה והעסקה תתבצע דרך שירותי דואר ישראל .

    br
    h4 8.1.2.  צריכה 
    p אם לא צויין אחרת הצריכה אינה כלולה  במחיר השכירות. השוכר חייב להחזיר את המוצר  עם אותה הכמות של חומר אספקה שהיה בתחילת השכירות.( דלק, שמן,מים, חשמל...וכול ...)

    br
    h4 8.1.3.  עלויות נוספות
    p הדייר מסכים לשלם את עלויות הבאות :
    ul
        li אם  הדייר  ליכלך  באופן משמעותי את המוצר , הוא חייב לשלם  עבור דמי הניקוי המתאימים ישירות לבעלים: (לדוגמא שיטפת אוטו כ70 שח ) 
    br
    p באופן כללי יותר, השוכר ישא את כל ההוצאות שהבעלים  יוציא כדי  להחזיר את המוצר לקדמותו  עקב שימוש לא נכון או רשלני של המוצר על ידי השוכר .

    br
    h4 8.1.4. שמירה על המוצר .
    p בתחילת השכירות .  הדייר אחראי על המוצר  עליו ש לו משמורת. המוצר וכל  חלקיו (אביזרים)  העומדים לרשות הדייר, חייבים להיות מוחזרים במצב כחוק וכדין  כפי שנלקחו בתחילת השכירות. הדייר יהיה  חייב להשתמש בעצמו במוצר ו א יפקיד את המוצר המושכר לאנשים בלתי מורשים הלא רשומים  בחוזה, גם במידה וקרה תאונה למוצר , הדייר ישמור את המוצר כאילו שלו  ועל אחריותו עד אשר המוצר יוחזר לבעליו .
    p על הדייר לפעול בהתאם להוראות השימוש של כל מוצר ומוצר כפי שהיצרן מגדיר זאת  , במידה והבעלים לא  סיפק הוראות אלו , על הדייר  בכל מקרה של ספק לחפש באינטרנט בדף הוראות שימוש  של היצרן.  בכל מקרה אסור  לדייר להשתמש במוצר  שימוש אחר מזה שנועד במקור לאו בשימוש יתר או יוצא דופן.

    br
    h4 8.1.5.  פיצויים של הבעלים
    p  במקרה של גניבה או נזק לצד ג'  שנגרם על ידי המוצר עצמו או חלקיו  באשמתו של הדייר או בהעדר  צד שלישי שזוהה, השוכר חייב לפצות את הבעלים עד גובה האובדן  למעשה. כאשר אם במהלך  השכרה נגרם  נזק, הדייר ישלם השתתפות עצמית בביטוח. כאשר הביטוח  המוצר  אינו מכסה את הנזק, הדייר ישא בכל העלויות הנלווות למקרה .

    br
    h4 8.1.6.  ביטול השכרה
    p אם השוכר רוצה לעשות ביטול לפני תחילת החכירה, הוא יכול  לעשות זאת ישירות דרך פלטפורמה אי-לו השכרות . הוא לא יכול לעשות ביטול  דרך הפלטפורמה לאחר תחילת השכירות, פרט למקרה של אי התאמת המוצר למה  שפורסם במודעה וזאת במיידית לפני תחילה ההשכרה ולא מאוחר מ-24 שעות לאחר מועד המקורי של תחילת ההזמנה , (היות ותמורה ההשכרה  מועברת  לבעלים לאחר 24 שעות ) .

    br
    h4 8.1.7.  החזרת המוצר
    p בסוף החוזה, השוכר נדרש להחזיר את המוצר לבעליו , מהמקום בו התחילה ההשכרה.  והאחריות של השוכר  על המוצר תסתיימנה עם קבלת החפץ.

    br
    h3 8.2 עבור השכרה של מכוניות בפרטיות 
    p אם השוכר עולה על מספר הקילומטרים הכלולים במחיר השכירות, הוא ישלם סכום נוסף לבעלים. סכום זה מחושב על בסיס המחיר שנקבע על ידי הבעלים לכל קילומטר נוסף.
    br
    h4 8.2.2. דלק
    p הדייר מחזיר את הרכב עם אותה כמות דלק כפי שהבעלים נתן לו.
    br
    h4 8.2.3. עלויות נוספות
    p הדייר מסכים לשלם את  העלויות הנוספות :
    ul 
        li אם  הדייר החזיר את הרכב מלוכלך  באופן משמעות, הוא חייב לשלם את הדמי הניקוי המתאימים:
        ul.dash-item
            li כבין 90-70 שח.פנים וחוץ 
    p באופן כללי יותר, השוכר ישא את כל ההוצאות שהבעלים  יוציא כדי  להחזיר את המוצר לקדמותו  עקב שימוש לא נכון או רשלני של המוצר על ידי השוכר .

    br
    h4 8.2.4. שימוש ברכב
    p יהיה על הדייר  להשתמש ברכב כאילו היה שלו , לנהוג בבו באחריות ובזהירות , כמו כן השוכר לא יפקיד את הרכב השכור לאנשים שאינם מכוסים בחוזה, וישמור על הרכב במקרה של תקלה או תאונה תחת אחריותו עד להגעת הבעלים או נציג  שירותי תיקוני דרך.
    p על הדייר יהיה לבדוק באופן קבוע את הרמות (שמן, מים,  נוזל  קירור וכול ...) ויבדוק  את לחץ האוויר בצמיגים.
    p עליו לנקות בכל אמצעי ביטחות  ולנהוג לפי כל חוקי תחבורה הנהוגים בישראל .
    p אסור על הדייר לעשן ברכב, או להוביל  בעלי חיים, אלא אם  הוחלט ואושר מראש עם העלים. הדייר אחראי לכל הנזקים הנובעים מתדלוק לא נכון  עם דלק לא תואם .

    p אסור לדייר להשתמש ברכב:
    ul
        li כדי לקחת חלק באירועי ספורט מוטורי, בניסוי כלים או בללימוד נהיגה כמורה לנהיגה  ;
        li כדי  להשתתף במירוצים מוטוריים, רלאי , או ניסויים  כלים או תחרויות  כל שהן ;
        li כדי להוביל סחורה  או אנשים כנגד תגמול כספי ;
        li כדי לגרור עגלות , או גרירה רכב אחר בכל בדרך שהיא ;
        li כדי להכניס תופוסת יתרה  עם מספר של אנשים או מטען חורג מהכמות שצוינה על ידי היצרן;
        li כדי להוביל חומרים  דליקים , נפיצים, רעילים  או מסוכנים ;
        li כדי  לבצע פשעים, עבירות  או כל מעשה לא חוקי שהוא .
        li כדי לנסוע מחוץ לגבולות מדינה ישראל .

    br
    h4 8.2.5. תקלה דרך 
    p במקרה של תקלת הרכב שלא נובעת משימוש הרכב בניגוד למפורט בתנאיים כללים המהווים חלק בלי נפרד מחוזה השכריות , הדייר יכול להפסיק את הסכם השכירות  ויקבל החזר על הימים הלא מנוצלים .

    br
    h4 8.2.6. דוח תנועה  
    p  הדייר שעבר עבירה  תנועה וכתוצאה מכך נרשם לרכב דוח תנועה ישא בעלויות . הדייר שמקבל  דוח או חושב שעלול לקבל דוח על  עברה תנועה שנקלט על ידי רדאר או אמצעי טכנולוגי אחר חייב לדווח לבעלים  כשהוא מחזיר את הרכב. במידה שהבעלים יקבל דוח תנועה השייך תקופה ההשכרה כאשר הרכב הייה ברשותו ו/או באחריותו הוא ישא בעלויות וידווח למשטרת התנועה להעברה הנקודות חובה מהבעלים לדייר .בסופו של חוזה הדייר חייב להחזיר את הרכב לבעלים , מהמקום בו התחילה ההשכרה. אם בזמן ההשכרה חנה במרחב ציבורי הדייר חייב למצוא אתר מורשה, אם בתשלום ואם לא  וזאת עד סוף תקופת השכירות.  והאחריות של השוכר תסתיימנה עם קבלת הרכב, המפתחות ומסמכים על ידי הבעלים או מי שהוסמך על ידו. אבל הוא נשאר וישא בעלויות הדוחות  חניה ששייך לתקופ
    br
    h3 8.3. עבור דירות  להשכרה
    h4 8.3.1. מתכלה
    p מצרים כגון מוצרי היגיינה אינם כלולים במחיר השכירות. השוכר חייב להחזיר את הרכוש לעם הכמות זהה  של חומרים מתכלים מאשר בתחילת השכירות.
    br
    h4 8.3.2. עלויות נוספות
    p הדייר מסכים לשלם את העלויות הבאות  :
    ul.dash-item
        li אם המקום מלוכלך באופן חריג  השוכר  חייב לשלם דמי ניקוי המקום בעלות מעורכת בסביבות כ-200 שח (תשלוי בגודל הנכס) 
    p באופן כללי יותר, השוכר ישא בכל ההוצאות הנלווים להחזרה המקום כפי שקיבל אותו הדייר בתחילת ההשכרה  
    br
    h4 8.3.3. שימוש בנכס
    p הדייר ישתמש בנכס בצורה אחראית ומכובדת  ,והוא לא ימסור את שימוש הנכס המושכר לאנשים בלתי מורשים בחוזה, הוא ישמור תחת השגרתו ואחריותו   את הנכס  עד אשר הבעל יקבל אותו חזרה .אסור הדייר להשתמש בנכס  לשימוש אחר מזה שתוכנן במקור כמו  אירועה או שימוש  יוצא דופן. אסור במיוחד להשכיר לדייר משנה  את הנכס והוא צריך לכבד את  חוקי סדר ונקיון וכללי של שכנות טובה  הנהוגים במקום  .
    br
    h4 8.3.4. השבת הרכוש
    p בסוף החוזה, השוכר נדרש להחזיר את המפתחות הנכס לבעליו, במקום בו התחילה ההשכרה.
    p החוזה ההשכרה והאחריות של השוכר תסתיימנה עם קבלת המפתחות ועריכה דוח מצב הנכס המעיד על תקינות המקום 

    br
    h2 9. ביטוח
    b לפרטי פוליסת הביטוח, נא לגשת לתנאים המיוחדים של הפוליבת הנכס
    p אי-לו  השכרות עובדת על כריתת חוזה ביטוח נכס בשלושה  סוגי חוזי ביטוח :
    ul
      li ביטוח לחפצים  שמחסה אובדן  ותיקון החפצים שהושרות דרך האתר.
      li ביטוח זה מכסה נזק תאונה שנגרם למושכר תוך תקופת השכירות. אך אינו מכסה את גניבה 
      li ביטוח  למכוניות. הפרמיה כבר כלולה בסכום ההשכרה. זה מכסה נזק תאונה שנגרם למכונית      והגניבה .
      li ביטוח נכס נדלן  לדירות. הפרמיה כבר כלולה בסכום ההשכרה.
    p מחוייבות אי-לו השכרות :
    p אי-לו השכרות מתחייבת להפעיל את האתר במיטבו אל מנת לאפשר שימוש תקין של האתר . עם זאת, זה מחויבות  של לעשות הכל כדי  להפעיל  את האתר מבלי להתחייב על התוצאה.או-לו השכרות מתחייב  לשלוח למפרסם בדואר אלקטרוני כל ההודעות שנכתבו על ידי אנשים המעוניינים במודעה שלו ויעדכן אותו טלפונית  עבור כל פניה שבעל פה   שיקבל בהקשר למודעה שלו כמו כן אי-לו  השכרות ישים לרשותו   של המפרסם כל אינפורציה שישי לו בהקשר למודעה שלו,(כל עוד הוא ימסור טלפון וכתובת אי-מייל פעיל ומעודכן ).בשל המאפיינים והמגבלות  הברורות של האינטרנט, הלקוח מצהיר  בזאת שהוא מודע לבעייתיות זו ולא  ירא בשום אופן את אי-לו השכרות כאחראי למהירויות , להאטה , או לקושי להכנס לאתר. אי-לו השכרות שומרת לעצמה את  זכות להפסיק  זמנית הגישה לאתר  מסיבות של תחזוקה ו / או שיפור  יחד עם זאת אי-לו השכרות מחויבת לעשות כל מאמץ כדי למזער הפסקות מסוג זה. אי-לו השכרות לא  ערובה להבטחה רציפות השירות שהיא נותנת דרך הפלטפורמה שלה , ובשכזה, אין לראות את אי-לו השכרות או את  במנהליה של האתר אי-לו השכרות כאחראים לכל  נזק שיגרם בשל הפסקה או סגירת הפלטפורמה .
    p לא ניתן יהיה להחשיב את  אי-לו השכרות  כאחראית חוזית לנזק כל שהוא  ,  (גם במקרה של רשלנות)   בכל הנוגע במקרים של  אובדן מסחרי שחברים יכולים לסבול מהם  (אובדן של נתונים, רווחים, הכנסות, עסקים, הזדמנויות, ערך ללקוח, הפרעה מוניטין או  הפסקת פעילות עיסקית ) או כל הפסד אחר שנובע, במישרין או בעקיפין משימוש הפלטפורמה של  אי-לו השכרות  על ידי   :
    ul
      li שימוש בשירותים שלנו על ידי חברים, ו/או , חוסר היכולת או חוסר הידע הדרוש כדי להפעיל את הפלטפורמה  כהלכה ;
      li כל עיכובים או שיבושים בשירותים שלנו;
      li החדרת וירוסים או תוכנות זדוניות אחרות תוך כדי גלישה, או בהקשר של  השירותים שלנו;
      li תקלות, באגים, שגיאות או אי דיוקים  שיכול להות  בכל אחד מהשירותים שלנו;
      li כל נזק לציוד המחשב שנגרם  במהלך השימוש בפלטפורמה של אי
      li לו השכרות, בצורה ישירה או בעקיפין .

    br
    h2 10. התחוייבות אי-לו השכרות
    p אי-לו השכרות מתחייבת להפעיל את האתר במיטבו אל מנת לאפשר שימוש תקין של האתר . עם זאת, זה מחויבות  של לעשות הכל כדי  להפעיל  את האתר מבלי להתחייב על התוצאה.או-לו השכרות מתחייב  לשלוח למפרסם בדואר אלקטרוני כל ההודעות שנכתבו על ידי אנשים המעוניינים במודעה שלו ויעדכן אותו טלפונית  עבור כל פניה שבעל פה   שיקבל בהקשר למודעה שלו כמו כן אי-לו  השכרות ישים לרשותו   של המפרסם כל אינפורציה שישי לו בהקשר למודעה שלו,(כל עוד הוא ימסור טלפון וכתובת אי-מייל פעיל ומעודכן ).
    br
    p לא ניתן יהיה להחשיב את  אי-לו השכרות  כאחראית חוזית לנזק כל שהוא  ,  (גם במקרה של רשלנות)   בכל הנוגע במקרים של  אובדן מסחרי שחברים יכולים לסבול מהם  (אובדן של נתונים, רווחים, הכנסות, עסקים, הזדמנויות, ערך ללקוח, הפרעה מוניטין או  הפסקת פעילות עיסקית ) או כל הפסד אחר שנובע, במישרין או בעקיפין משימוש הפלטפורמה של  אי-לו השכרות  על ידי   :
    ul
        li שימוש בשירותים שלנו על ידי חברים, ו/או , חוסר היכולת או חוסר הידע הדרוש כדי להפעיל את  ;
        li הפלטפורמה  כהלכה ;
        li כל עיכובים או שיבושים בשירותים שלנ;
        li החדרת וירוסים או תוכנות זדוניות אחרות תוך כדי גלישה, או בהקשר של  השירותים שלנו ;
        li תקלות, באגים, שגיאות או אי דיוקים  שיכול להות  בכל אחד מהשירותים שלנו ;
        li כל נזק לציוד המחשב שנגרם  במהלך השימוש בפלטפורמה של אי-לו השכרות, בצורה ישירה או בעקיפין;
    br
    h2 11. אחריות
    br
    h4 11.1 תפקיד המאכסן  של אי-לו השכרה .
    p אי-לו השכרות בשום אופן  היא לא חברה העוסקת בהשכרה אלא פלטפורמה  אינטרנטי של  מודעות השכרה .          e-loue.co.il     רק מארח את התוכן של המודעות שפורסמו על ידי הבעלים (טקסטים, תמונות, וכו ') ולכן היא אתר פלטפורמה אלקטרונית שמספק למשתמשים שלה, שירות גישור בין  בעלי נכם  ודיירים (שוכר) של חפצים. כחלק מחוייבותיה כמארח, יכול להיות מצב שאי-לו השכרות  מקבלת הודעה של צד שלישי שחבר מפרסם מידע או אלמנטים בלתי חוקיים / ראוים או חודרניים על זכויות של צד שלישיים. במקרה שכזה עם קבלת התלונה אם יתברר שאכן מדובר בפירסום כוזב ו/או שיקרי, ו/או פוגעני  אי-לו השכרות שומרת לעצמה את הזכות להסיר את האלמנט שבדף או להשעות נגישות באינטרנט אליה מבלי שזה יתפרש כי אי-לו השכרות אחראית לתוכן .כמארח, אי-לו השכרות  תישא באחריות רק במקרה שקיבלה דייוח על פירסום תוכן בלתי חוקי בעליל  ולא פעלה במהירות כדי לחסום את גישתו או להסיר את התוכנו  .אי-לו השכרות אינה מחויבת לפקח על תוכן שמפורסם על ידי חברים בפלטפורמה שלה , ושכזאת  החברים  הינם האחראים הבלעדים על התוכן  המודעות שלהם ולכן מסירים  מכל אחריות את אי-לו השכרות   מכל תביעה או דרישה פיצוים  נגדה או לכל הנזק שהיא עלולה להיות מורשעת, ועבור כל הנזק שייגרם לה, ן/או שנגרם לצד שלישי ו/או לחבר אחר. לחבר, בשל חובת  קבלת התנאי הכללים המחייבים אותו בעת  שימוש האתר , יש את ההכח בלשאת בכל הניזקים והוצאות שאי-לו השכרות תהיה מחוייבת לשלם  עקב פסקי דין לחובתה הנובעים או הקשורים  בפירסום שהוא עשה בפלטפורמה.   לרבות הוצאות משפט והגנה  משפטי  כגון עורך  דין  .
    br
    h3 11.2 התוכן של המודעות

    p אי-לו השכרות לא מבקר ולא יכול לשלוט:  באיכות, בבטיחות או בחוקיות של הפריטים הרשומים באתר שלה , באמיתות או דיוק של המודעות שפורסמו, בהיכולת של בעלים להשכיר  את הנכס האמור או ביכולת של דיירים לשכור או לשלם עבור השכירות של הנכס. למעט מקרים בהם  נמסר מידע  על קיומו של תוכן בלתי חוק, ולא פעלה מיידית  כדי להסירו , אי-לו השכרות לא יכולה להיות אחראית לתוכן או לפעולות (או חוסר הפעולה) של משתמשים או על החפצים שהם שמים להשכרה מגבלות חבות: האתר מספק מידע, המלצות, הערות העשויות להיות לא מדויקות, מיושנות ועם מידע חסר , או , כוזב  פוגעני , מזיק  או מטע ,  ואי-לו השכרות  אינה אחראית לכל תוכן שהוא ולא יכולה לוודא את הדיוק, את מהימנות או את האמינות . אחריותו של האתר הוא בשום אופן לא עוסק בכל קשורים לאיכויות בפועל או משוערות של המוצרים והשירותים המוצעים על ידי חבריו. מומלץ  להיות תמיד זהיר ולהשתמש בשכל ישר בעת השימוש באתר. לעולם אל תשכח שייתכן שתצטרכו להתמודד עם קטינים או אנשים זדוניים. 

    br
    h3 11.3 אי-לו השכרות , צד שלישי לעסקה

    p אי-לו השכרות לא יכולה להבטיח שהדייר/שוכר או הבעלים יבצעו את ההזמנה .  כתב ויתור: היות ואי-לו השכרות    E-loue.com   אינה מעורבת ישירות  בעסקות בין הבעלים והדייר, חברי אי-לו השכרות מסרים מכל אחריות  את אי-לו (כל נושאי המשרה בה ועובדיה ) במקרה :  של מחלוקת בין  חברים  , טענה/תלונה , או כל פגיעה או נזק פיזי או כספי  בהווה או בעתיד, בכל המקרים גם אלו שבפועל או לכאורה ,  הנובעים מן השימוש בשירותי  של אי-לו השכרות באופן ישיר או עקיפין . לכן  במקרה של פגיעה או נזק בעת שימוש במוצר כל שהוא שהושכר, ( גם אם קיים בה מוצר פגם או לא ),  לא ניתן יהיה  לראוות, או לחשב , את אי-לו השכרות כאחראית לנזקים .כי לאי-לו השכרות  יש לה אך ורק תפקיד של מתווך בין הדייר לבעלים .אי-לו השכרות  לא יכולה להיות אחראית אם ההשכרה תתבצע או לא , או, עם ישנו  ביצוע גרוע או לא. אי-לו השכרות לא תהיה אחראית במקרה שהסכומים המגיעים  לבעלים עקב נזקים  שנגרמו לרכושו ואינם  מכוסים על ידי ביטוח, לא יכול להיות מוחזרים בשל חדלות הפירעון של הדייר. אם אתה משתמש באתר, עליכם להבין  שאי-לו השכרות אינה יכולה להיות  אחראית למעשים או מחדלים של משתמשים וחברים בה  ועלכם לקבל את הסיכונים האמורים בתנאי כללים  אלו ובסעיף זה. אי-לו השכרות לא מאשרת ולא מאמתת את תוכן העסקות שבוצעו באתר  שלה והחברים והמשתמשים בה  הם האחראים הבלעדיים לחוקיות מעשיהם . 

    br
    h3 11.4 מוצרים
    p אי-לו השכרות לא מקבלת אחריות עקב  ליקוי או  מסוכנות של המוצרים שמוצעים להשכרה באתר שלה, אשר  עלולים  לפגוע  בבריאות  הציבור  והיא אינה נושאה באחריות על כך. לכן יש לזכור שמוצרם מסויימים יכולים להיות  מסוכנים  ו/או לא בטוחים . החברים והמשתמשים הם האחראים הבלעדים לבקרה האיכות והבטיחות של המוצרים בזמן ההשכרה ועל חוקיות השימוש בהם,  לפי התקנון והחוקים הרלוונטים הקיימים בישראל  . חלק מהמוצרים אסורים להשכרה, ולכן לא תוכלו למצוא אותם בקטגוריה או תת קטגורייה של המנוע חיפוש מוצרים . אם אתה  מוסיף מוצר  אסור ו/או רובריקה אסורהזה יהיה על אחראיותך  הבלעדית . כמו כן אתם מתבקשים להודיע לנו אם בתהליך חיפוש מוצרים שלכם  הינכם פוגשים מוצר אסור או מסוכן כדי שאי-לו השכרות תוכל למחוק אותו . אי-לו השכרות  שומרת לעצמה את הזכות להסיר כל תוכן מודעות או צורה הצגה המוצר אם הוא לא חוקי או שלא בהתאם לתנאים כללים של אי-לו השכרות .המפרסם הוא זה שנושא באחראיות במצב של השכרה  של מוצר אסור.  באופן כללי אי-לו השכרות  מבהירה שהיא אינה מתערבת , ושהוא אינה  נושאת באחריות ,  מצהירה הצהרות , או מבטא עמדות או  ערבויות מכל סוג שהוא  , בצורה מפורשת או  סמויה,  בכל השקשור לתוכן האתר והתנהלותו  לכל הקשור לצעות להשכרה, למצגת שלהם , למודעות או תוכנם, ובכלל זה לאחריות  על יכולת להשכיר, להתאמה למטרה מסוימת, אי-הפרה של זכויות יוצרים, סימני מסחר או זכויות קניין רוחני אחר, חופש העיסוק , אופן העבודה או כל תוכן אחר, המגן  מפני וירוסים, תולעים, סוסים טרויאניים או איום  אחר לתכונות עוינות , העלול למשבש או להרוס. על אף האמור בפסק הקודמת, לא ניתן יהיה לראות או לחשב  אי-לו השכרות  כאחראית לכל אובדן או השחתה של נתונים, לכל אובדן של רווח, מחזור, זמן, הזדמנות או אחר , באופן ישיר או עקיפין כתוצאות  מאירועים כגון האובדן או נזק מרשלנות או מכל סיבה אחרת. אם החבר  או המשתמש הוא צרכן אז  הוראות החוק וזכויותיו בהיותו צרכן לא מוטלות בספק ואינם  ניתנים לעירעור  על ידי סעיף זה.
    br
    h2 12. הוראות כלליות
    br
    h3 12.1 שינוי של תנאים  כללים והגבלות , לאי-לו השכרות הזכות לשנות תנאי שימוש אלה.

    p כל שינוי ייכנס לתוקף באופן מיידי לכל העסקעות מקוונות חדשות .
    p שינויים אלה לא יחולו על עסקות שבוצעו טרם  כניסתם לתוקף.
    p חברים מתבקשים לבדוק את התנאים  הכללים  באופן קבוע, במיוחד לפני כל עסקה.

    br
    h3 12.2 אין ויתור
    p העובדה שאי-לו השכרות , לא יכולה  ליישום, או  לא מחייבת את היישום או לא מדגישה חשיבות סעיפי מסווימים  של תנאים  הכללים שלה  לא  תתפרשנה כויתור להפעלתם .
    br
    h3 13.3 חיבור לפלטפורמה אי-לו השכרות
    p החבר יתחבר לפלטפורמה אי-לו השכרות  באמצעות ציוד הקצה ותקשורת שלו. אי-לו השכרות לא שם לרשות החבר שום אמצעים לכך כגון  מערכת טלפון, או ציוד קצה אחר או תוכנה או מנוי אינטרנט .
    p אי-לו השכרות עשויה לעתים לשנות את הקוד , מספר טלפון, לבצע מספור מחדש, להפסיק את השירות מסיבות מבצעיות, לתחזוקה או במקרי חירום.

    br
    h3 12.3 אחריות וכוח עליון
    p במקרה של כוח עליון, חובותיו תושעה, במיוחד במקרה של:  : - מעשה או מחדל של ממשלה או רשויות המוסמכות גבוהות יותר
    ul
        li חסימה או כישלון של רשתות תקשורת
        li התקוממויות, מלחמת אזרחים, מלחמה, פעולות צבאיות, לאומי או מקומי של חירום, אש, ברק, התפוצצות, שביתה, הצפה, סערה,  או מעשה ידו של צד  שליש.

    br
    h3 12.4 שונות
    p פג תוקפו  של ההוראה אחד או יותר מתנאים הכללים של פלטפורמת אי-לו השכרות אינו מביא לבטלות האחרות.
    p הכותרות של המאמרים השונים המצויים בתנאי השימוש של התנאים הכללים  הן אך ורק אינפורמטיביות  ולא בהכרח קבועות  את התוכן המדויק של המאמרים שבה הם מתייחסים. החוסר תגובה או העיקוב שלנו בתגובה במקרה של  הפרת תנאי כללים  על ידך או צת שלישי אינו פוגעת בזכותנו להגיב להפרה מאוחר יותר או להפרה נוספת או דומה.

    br
    h3 12.5 פיתרון סכסוכים
    ul
        li חוזה זה כפוף לחוקי ישראלי . כל מחלוקת עם חבר שנולד בהקשר עם פרשנותו ו / או עם ביצוע של החוזה היא באחריותו של בית המשפט ישראלי  המוסמך.
        li במקרה של מחלוקת בין כל חבר ו-אי-לו השכרות  או בין חבריהם, אנו ממליצים לך לפנות אלינו ראשון למציאת פתרון.
        li אם לא נאמר אחרת , תנאי השימוש אלה נשלטים על ידי החוק ישראלי .
    br
    p שימוש ביישומים חיצוניים של אי-לו השכרות (אתר , אפליקציה ..)  , מותנא בצורה מפורשת ומחייבת בהסכמה לתנאים  הכללים של פלטפורמת  אי-לו השכרות .

    br
    h2 13. עוגיות
    p גלישה באתרי הפלטפורמה של  אי-לו השכרות עלולה לגרום להתקנה של עוגייה (ים) במחשב של המשתמש. קובץ Cookie הוא קובץ קטן, שאינו מאפשר זיהוי של המשתמש, אך אשר מתעד מידע על הגלישה של מחשב באתר. הנתונים שהתקבלו נועדו להקל על הגלישה הבאה באתר וגם לאפשר אמצעים שונים של מדידה .
    p משתמשים יכולים להגדיר את המחשבים שלהם כדלקמן לסרב להתקנת עוגייה:
    b 1 / עם Internet Explorer
    p ב- Internet Explorer, לחץ על "כלים" ואז "אפשרויות אינטרנט".בכרטיסייה הכללית, תחת "היסטוריית גלישה", לחץ על "הגדרות" לחץ על "הצג הקבצים".לחץ על "שם" עמודת הכותרת כדי למיין את כל הקבצים בסדר אלפביתי, ולאחר מכן לגלול למטה עד שתראה את הקבצים שמתחילים בקידומת "קוקי". (יש לי כל עוגיות קידומת זו ובדרך כלל מכילות את שמו של אתר האינטרנט שיצר את העוגייה).אתר את העוגיות הרלוונטיות ולמחוק אותם.סגור את החלון המכיל את הרשימה של קבצים ולחץ על אישור פעמיים כדי לחזור אל Internet Explorer.

    br
    b 2 / עם דפדפן פיירפוקס
    p עבור ל" כלים "בתפריט הדפדפן ובחר בכרטיסייה" אפשרויות ".בחלון שיופיע, בחר באפשרות "פרטיות" ולחץ על "עוגיות הצג".אתר את הקבצים המושפעים, בחר אותם ולמחוק אותם.

    br
    b 3 / עם דפדפן ספארי
    p בדפדפן שלך, לבחור בתפריט "Edit> Preferences".לחץ על "אבטחה".לחץ על "עוגיות הצג".בחר את העוגיות הרלוונטיות ולחץ על "מחק" או "נקה".לאחר מחיקת עוגיות, לחץ על "סיום".
    br
    b 4 / עם דפדפן Google Chrome
    p לחץ על הסמל בתפריט "כלים". • בחר "אפשרויות".לחץ על כרטיסיית "אפשרויות מתקדמות" ועברת לסעיף "הפרטיות".לחץ על "עוגיות הצג".אתר את הקבצים המושפעים, בחר אותם ולמחוק אותם.לחץ על "סגור" כדי לחזור לדפדפן שלך.

    br
    h2 14. ניהול נתונים אישיים
    p כדי לנהל את קשרי הלקוחות שלהם עם אי-לו השכרות ,, החברים מאשרים לה  להשתמש בנתונים האישיים שהם מעברים לה . הטיפול בנתונים אלו  מנוהל לפי נורמות  המוגדים בCNIL תחת המספר 1,403,691.
    p יש לך זכות לגשת, לשנות, לתקן ולמחוק את הנתונים הנוגעים לך (החוק "וחירויות" של 6 ינואר 1978). מבקרים שנרשמים והופכים  לחברים באופן מפורש מסכימים לקבל הודעות דואר אלקטרוני מאי-לו השכרות . לא הסכמתך מידע זה  לא מועבר לאף גורם  שלישי  ומשמשים רק להפעלתו של האתר. הנתונים אישיים הנוגעים לחברים נאספים, נרשמו ונשמרו בהתאם להוראות החוק הנוגע לנתונים, קבצים וחירויות 6 בינואר 1978. לחברים יש זכות הגישה והתיקון הנתונים בפלטפורמת  אי-לו השכרות . לקבלת מידע נוסף, אנא צור קשר ישירות ל-contact@e-loue.co.il שם המשתמש והסיסמה שנבחרה על ידי החבר הם בסודיות מוחלטת, ואי-לו השכרות מתחייבת שלא למסור אותם .  החברים  הם האחראים הבלעדים במקרים שמשתמשים אחרים עושים שימוש בהם ללא ידיעתם.  כל פעולה שנעשתה מהחשבון של המשתמש נחשבת כאילו התבצע על ידו.. חילופי מסרים בין המשתמשים הם חסויים. אי-לו השכרות  תוכל לראות אותם רק בעת צורך.
    br
    h2 15. מסים ומיסוי
    p שלא כמו אי-לו השכרות  שאינה צד להשכרת הנכס,  על אחריות של  המשתמשים, החברים, הדיירים והבעלים  לבדוק חובת הדוווח המסוי והמסים החלים עלהם מפעילותם בפלטפורמה אי-לו השכרות .לרבות  בהקשר לכסף שעבר דרך אי-לו השכרות ולכן  אי-לו השכרות אינה אחראית ולא יכולה להיות אחראית למסים על עסקות שבוצעו דרך ו/או באמצעות האתר האינטרנט שלה. זו חל האחריות של חבר להיות מעודכן ומתואם עם רשויות  המס הישראלי .הינכם מוזמנים לפנות לרשויות המס  לבירור העניין .
    br
    h2 16. היפר-קישורים
    p האתר עשוי להכיל קישורים ו / או קישורים  המפנים לאתרים אחרים, במיוחד הבאנרים עם אופי פירסומי . בשום אופן אין לראות את אי-לו השכרות  כאחראית להשלכות המשפטיות הנוגעות לגישה לאתרים אלה מהאתר שלה .

    br
    h2 17. קניין רוחני
    p אי-לו השכרות הינה  בעלת זכויות הקניין הרוחני ו/או בעלת  זכאיות לשימוש  בכל הפריטים זמינים באתר, כוללים טקסט, תמונות, גרפיקה, לוגו, סמלים, צלילים ותוכנה. כל העתקה, שינוי, פרסום, הסתגלות או אינטרפרטציה  של חלק  או בכל האלמנטים שבאתר , ולא משנה באיזה אמצעי או תהליך, השימוש בהם  אסורה ללא אישור מראש ובכתב של אי-לו השכרות ,  כל שימוש בלתי מורשה באתר או בכל החומרים שלה ייחשב ומהווה הפרה זכויות יוצר של אי-לו השכרות  וכל אדם או גוף עסקי שיהפר את זכויותיה יועמד לדין כמפר חוקי זכויות יוצר  .חבר מעניק  לאי-לו השכרות בדרך שאינם בלעדי, חינם ,לכל השפות, לכל עולם ולפרק זמן התואם את תוקף המודעה, כל זכויות הקניין הרוחני  על  האלמנטים המשמשים להרכבת המודעות שלו (כולל טקסטים, תמונות, תמונות, לוגו, איורים, סימני מסחר, מדגמים, כותרות, נתונים), לרבות כל נתונים ותוכן , מלא או חלקי  הנגזרים  מפירסומם מרגע הכנסתם לאתר.זכויות אלה כוללות את הזכות לשכפל, להפיץ, להתאים, לשנות, לתרגם, להעניק רישיון משנה, ולהפנות  לציבורים שונים , בצורה חלקית  או שלמה , כל בכל אמצעי, בכל הפורמטים  (הדיגיטליים, הדפסה ...) הידועים היום  וכל הפורמטים העשויים להיות בעתיד. הזכויות המפורטות לעיל מוענקות לכל האתרים מקבוצת אי-לו בעולם ,לרבות חברות בת שלה ,  כמו כן גם לאתרי צד ג 'המאושרים על ידי אי-לו השכרות .אי-לו השכרות  יכולה לשתף בזכויות יוצר שלה  (המפורטים מעלה ) באופן  חלקי או מלא לכל צד שלישי  במסגרת שיתופי פעולה עיסקי .החבר מבטיח שתוכן מודעת באי-לו השכרות הוא תואם את החוק, שהוא מחזיק בזכויות הקניין הרוחני של התוכן, שהמוצר  לא יפגע בזכויותיו של צד שלישי , והמוצר מקורי ולא זיוף העלול לפגוע בזכויות יוצר . חבר  אי-לו השכרות ערב לכל ההשלכות הפיננסיות של כל פעולה :  תביעה, טענה, בקשה לפיצוי , או התנגדויות  מכל סוג של אדם  אחר שיטען שיש לו זכויות יוצר או  זכויות כל שהן  על התוכן, מעשה של תחרות בלתי הוגנת ו / או פוגעניים ו / או הפרה של חוק העיתונות.

    br
    a#summary(href="#") Revenir au sommaire