-load i18n cache facets category

mixin category_crumbs(category_list)
  for category in category_list
    li: a(href="{{ category.get_absolute_url }}", alt="{{ category.name }}") {{ category.name|capfirst }}

.container
  ol.breadcrumb
      li: a(href="{% url 'home' %}", alt="{% trans 'accueil' %}") {% trans "Accueil" %}
      if product
        {% cache 43200 product:breadcrumb product.pk %}
        {% with product.object.category|ancestors:"include_self=True" as category_list %}
        +category_crumbs(category_list)
        {% endwith %}
        li: {{ product.summary|capfirst }}
        {% endcache %}
      else
        for crumb in breadcrumbs|facets
          +category_crumbs(crumb.object.get_ancestors)
          li: {{ crumb.pretty_value|capfirst }}
