-load i18n prefixed_cache facets category

{% get_current_language as LANGUAGE_CODE %}

mixin category_crumbs(category_list)
  for category in category_list
    li: a(href="{{ category.get_absolute_url }}") {{ category.name|capfirst }}

.container
  ol.breadcrumb
      li: a(href="{% url 'home' %}") {% trans "Accueil" %}
      if product
        {% cache 43200 product:breadcrumb product.pk  LANGUAGE_CODE %}
        {% with product.categories|category as category_list %}
        +category_crumbs(category_list)
        {% endwith %}
        li.active: {{ product.summary|capfirst }}
        {% endcache %}
      else
        //-if breadcrumbs.categorie
        for crumb in breadcrumbs|facets
          {% cache 122400 category:breadcrumb crumb.object.pk LANGUAGE_CODE %}
          +category_crumbs(crumb.object|ancestors)
          {% endcache %}
          if form.cleaned_data.q or form.cleaned_data.l
            li: a(href="{{ crumb.url }}") {{ crumb.pretty_value|capfirst }}
          else
            li.active: {{ crumb.pretty_value|capfirst }}
        if form.cleaned_data.q
          if form.cleaned_data.l
            li: a(href="{% facet_url breadcrumbs -'l' -'r' %}"){% trans 'location' %} {{ form.cleaned_data.q }}
          else
            li.active: {% trans 'location' %} {{ form.cleaned_data.q }}
        if form.cleaned_data.l
          li.active: {{ form.cleaned_data.l|capfirst }}
