.category-menu
  .category-menu__container.container
    .category-menu__column
      .category-menu__title Top location bricolage

      .category-menu__list
        //-TODO use categories_map  
        -var items = ["Location Perceuse", "Location Nettoyeur Vapeur", "Location Nettoyeur Haute Pression", "Location leve plaque", "Location Ponceuse", "Location Monte charge", "Location treuil et Palan", "Location decolleuse"]
        each item in items
          .category-menu__item
            a(href="#").category-menu__link= item

