-load humanize

.float-comments-wrapper.container
	ul.row
		for comment in comment_list
			{% with comment.booking.product as product %}
			li.col-sm-10.test: a(href="{{ product.get_absolute_url }}")
				{% with product.pictures.all|first as picture %}
				img(src="{{ picture.home.url }}", alt="{{ product.summary }}")
				{% endwith %}
				p.text {{ comment.comment }}
				p.info
					| Par 
					b.autor-name {{ comment.author.username }} 
					span.time {{ comment.created_at|naturaltime }}
				{{ product.summary|capfirst }} - {{ product.address.city|title }}{% if product.address.zipcode %}, {{ product.address.zipcode }}{%endif %}
			{% endwith %}
.decorated-houses
