-load i18n
.date-picker.form-wrapper
    .table-cell.main-cell
        .table-cell
            span {% trans "Du" %}
        .table-cell.main-cell
            input(type="text", placeholder="", name="fromDate", ng-model="bookingDetails.fromDate", ng-change="updatePrice()", eloue-datepicker).form-control.date
            i.flaticon.stroke.calendar-3
    .table-cell
        select#fromHour(ng-show="!bookingDetails.fromHour", name="fromHour", ng-model="bookingDetails.fromHour", ng-options="h.label for h in hours track by h.value", ng-change="updatePrice()", eloue-chosen, data-ng-disabled="submitInProgress").form-control.ng-cloak
        //this only for show selector befor angular ready to process directive.
        div(ng-if="!bookingDetails.fromHour").chosen-container.chosen-container-single.chosen-container-active
            a.chosen-single
               span
               div
                b

    .span(ng-show="fromDate.$dirty && fromDate.$error.required").ng-cloak.text-danger {% trans "Il manque la date de début" %}
    .span(ng-show="fromDate.$dirty && fromDate.$error.pattern").ng-cloak.text-danger {% trans "Le format de la date n'est pas valide" %}
    span.text-danger(ng-show="!!errors.started_at", ng-bind="errors.started_at")
.date-picker.form-wrapper
    .table-cell.main-cell
        .table-cell
            span {% trans "Au" %}
        .table-cell.main-cell
            input(type="text", placeholder="", name="toDate", ng-model="bookingDetails.toDate", ng-change="updatePrice()", eloue-datepicker).form-control.date
            i.flaticon.stroke.calendar-3
    .table-cell
        select#toHour(ng-show="!!bookingDetails.toHour", name="toHour", ng-model="bookingDetails.toHour", ng-options="h.label for h in hours track by h.value", ng-change="updatePrice()", eloue-chosen, data-ng-disabled="submitInProgress").form-control.ng-cloak
        //this only for show selector befor angular ready to process directive.
        div(ng-if="!bookingDetails.toHour").chosen-container.chosen-container-single.chosen-container-active
            a.chosen-single
                span
                div
                    b
    .span(ng-show="toDate.$dirty && toDate.$error.required").ng-cloak.text-danger {% trans "Il manque la date de fin" %}
    .span(ng-show="toDate.$dirty && toDate.$error.pattern").ng-cloak.text-danger {% trans "Le format de la date n'est pas valide" %}
    span.text-danger(ng-show="!!errors.ended_at", ng-bind="errors.ended_at")