.container
  ul.nav.nav-justified
    -var footer_links = [["Le concept e-loue", [["Comment ça marche ?", "/comment-ca-marche/"], ["L’offre e-loue Pro", "/offre-professionnel/"], ["La livraison", "/navette/"]]], ["Pourquoi choisir e-loue ?", [["E-­loue et la sécurité", "/securite/"], ["Contrats de location", "/contrat-de-location/"], ["Assurance tranquillité", "/assurance-tranquillite/"]]], ["L’entreprise e-loue", [["Qui sommes-nous ?", "/qui-sommes-nous/"], ["Nos partenaires", "/nos-partenaires/"], ["Conditions générales", "/conditions-generales/"], ["Dépôt de garantie", "/depot-de-garantie/"]]], ["En savoir plus", [["Contactez-nous", "/contactez-nous/"], ["Mentions légales", "/mentions-legales/"], ["Blog e-loue", "http://blog.e-loue.com/"]]]]
    each header, group in footer_links
      li.divide
      li.ul-wrapper: .centering
        h4.text-nowrap {{ header }}
        ul.nav
          each title, link in group
            li.link-wrapper: a(href="{{ link }}") {{ title }}
