.container
  ul.nav.nav-justified
    -var footer_links = [["Le concept eloue", [["Comment ça marche ?", "#"], ["Simulez vos revenus", "#"], ["Questions fréquentes", "#"], ["Conseils pour les propriétaires", "#"], ["Conseils pour les locataires", "#"], ["Témoignages", "#"]]], ["Pourquoi choisir eloue", [["Assurance sérénité", "#"], ["Paiement et caution sécurisés", "#"], ["Contrats de location", "#"], ["Parrainez vos proches", "#"], ["L’offre e-loue Pro", "#"]]], ["L’entreprise e-loue", [["Qui sommes-nous ?", "#"], ["Nos partenaires", "#"], ["Respect de la vie privée", "#"], ["Conditions générales", "#"], ["Mentions légales", "#"]]], ["En savoir plus", [["Espace presse", "#"], ["Espace job", "#"], ["Contactez-nous", "#"], ["E-loue en mobilité", "#"], ["Blog e-loue", "#"]]]]
    each header, group in footer_links
      li.divide
      li.ul-wrapper: .centering
        h4.text-nowrap {{ header }}
        ul.nav
          each title, link in group
            li.link-wrapper: a(href="{{ link }}") {{ title }}
