-load i18n
.container
  ul.nav.nav-justified
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap {% trans "Le concept e-loue" %}
      ul.nav
        li.link-wrapper: a(href="/{% trans 'comment-ca-marche' %}/") {% trans "Comment ça marche ?" %}
        li.link-wrapper: a(href="/{% trans 'securite' %}/") {% trans "e-loue et la sécurité" %}
        li.link-wrapper: a(href="/{% trans 'offre-professionnel' %}/") {% trans "L'offre e-loue Pro" %}
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap {% trans "Pourquoi choisir e-loue ?" %}
      ul.nav
        li.link-wrapper: a(href="/{% trans 'contrat-de-location' %}/") {% trans "Contrats de location" %}
        li.link-wrapper: a(href="/{% trans 'assurance-tranquillite' %}/") {% trans "Assurance tranquilité" %}
        li.link-wrapper: a(href="/{% trans 'conditions-generales-particuliers' %}/") {% trans "Conditions générales particuliers" %}
        li.link-wrapper: a(href="/{% trans 'conditions-generales-professionnels' %}/") {% trans "Conditions générales professionnels" %}
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap {% trans "L’entreprise e-loue" %}
      ul.nav
        li.link-wrapper: a(href="/{% trans 'qui-sommes-nous' %}/") {% trans "Qui sommes-nous ?" %}
        li.link-wrapper: a(href="/{% trans 'nos-partenaires' %}/") {% trans "Nos partenaires" %}
        li.link-wrapper: a(href="/{% trans 'nous-recrutons' %}/") {% trans "Nous recrutons" %}
        li.link-wrapper: a(href="http://eloue.s3.amazonaws.com/cp/dossier_de_presse.pdf") {% trans "Presse" %}
    li.divide
    li.ul-wrapper: .centering
      h4.text-nowrap {% trans "En savoir plus" %}
      ul.nav
        li.link-wrapper: a(href="https://eloue1.zendesk.com/hc/fr") {% trans "FAQ" %}
        li.link-wrapper: a(href="/{% trans 'contactez-nous' %}/") {% trans "Contactez-nous" %}
        li.link-wrapper: a(href="/{% trans 'mentions-legales' %}/") {% trans "Mentions légales" %}
        li.link-wrapper: a(href="http://blog.e-loue.com/") {% trans "Blog e-loue" %}
