.container
  ul.nav.nav-justified
    -var footer_links = [["Le concept e-loue", [["Comment ça marche ?", "/comment-ca-marche/"], ["Simulez vos revenus", "/simulez-vos-revenus/"], ["Questions fréquentes", "/faq/"], ["Conseils propriétaires", "/conseils-proprietaires/"], ["Conseils locataires", "/conseils-locataires/"]]], ["Pourquoi choisir e-loue", [["E-­loue et la sécurité", "/securite/"], ["Assurance sérénité", "/assurance-securite/"], ["Contrats de location", "/contrat-de-location/"], ["L’offre e-loue Pro", "/offre-professionnel/"]]], ["L’entreprise e-loue", [["Qui sommes-nous ?", "/qui-sommes-nous/"], ["Nos partenaires", "/nos-partenaires/"], ["Respecte de la vie privée", "/respect-de-la-vie-privee/"], ["Conditions générales", "/conditions-generales/"], ["Mentions légales", "/mentions-legales/"]]], ["En savoir plus", [["Espace presse", "/espace-presse/"], ["Contactez-nous", "/contactez-nous/"], ["E-loue en mobilité", "/mobile/"], ["Blog e-loue", "http://blog.e-loue.com/"]]]]
    each header, group in footer_links
      li.divide
      li.ul-wrapper: .centering
        h4.text-nowrap {{ header }}
        ul.nav
          each title, link in group
            li.link-wrapper: a(href="{{ link }}") {{ title }}
