.container
  ul.nav.nav-justified
    -var insurances = [["payment", "Louez en toute sécurité", "Paiement en ligne sécurisées", "Dépôt de garanti en ligne"], ["serenity", "Louez en toute sérénité", "Assurance incluse et automatique", "Aucun échange d’argent"], ["simplicity", "Louez en toute simplicité", "Contrat de location pré-rempli", "Service client dédié 7j/7"], ["trust", "Louez en toute confiance", "Identité des membres vérifiée", "Notes et commentaires"]]
    each style, title, text1, text2 in insurances
      li.divide
      li
        .insurances-img: span(class="{{ style }}{% if is_pro %}-black{% endif %}")
        h5 {{ title }}
        p 
          | {{ text1 }}
          br
          | {{ text2 }}
