-load i18n
.container
  ul.nav.nav-justified.text-nowrap
    li.divide
      li
        .insurances-img(class="text-success")
          i(class="eloue-lock")
        h5 {% trans "Louez en toute sécurité" %}
        p
          {% trans "Paiement en ligne sécurisé.<br>Dépôt de garantie en ligne." as payment %}
          != payment|safe
    li.divide
      li
        .insurances-img(class="text-black")
          i(class="eloue-file")
        h5 {% trans "Louez en toute simplicité" %}
        p
          {% trans "Contrat de location pré-rempli.<br>Service client dédié 7j/7" as simple }
          != simple|safe
    li.divide
      li
        .insurances-img(class="text-gray-strong")
          i(class="eloue-details")
        h5 {% trans "Louez en toute confiance" %}
        p
          {% trans "Identité des membres vérifiée.<br>Notes et commentaires." as confidence %}
          != confidence|safe
    li.divide
      li
        .insurances-img(class="text-primary")
          i(class="eloue-umbrella")
        h5 {% trans "Louez en toute sérénité" %}
        p
          {% trans "Assurance incluse et automatique.<br>Aucun échange d’argent." as serenity %}
          != serenity|safe
