-load facets

.container.center-text
  h3 Les villes les plus attractives
  .row
    ul.nav.nav-justified
      -var cities_list = [[" Location PARIS", "Location MARSEILLE", "Location LYON"], ['Location TOULOUSE', 'Location BORDEAUX', 'Location MONTPELLIER'], ['Location LILLE', 'Location NICE', 'Location NANTES']]
      each column in cities_list
        li.divide
        li: ul.nav
          each city in column
            li.item-city
              .col-sm-8: a(href="{% facet_url breadcrumbs 'l' city 'r' 30 'sort' '-created_at' %}").link-success-color.normal-case {{ city }}
              //-.col-sm-4: span.actives-count {{ city.id__count }}
