-load product facets

.container
  h3 Les viles les plus actives
  .row
    ul.nav.nav-justified
      each column in cities_list|takeby_transposed:"3:9"
        li.divide
        li: ul.nav
          each city in column
            li.item-city
              .col-sm-8: a(href="{% facet_url breadcrumbs 'l' city.city %}").link-success-color {{ city.city }}
              .col-sm-4: span.actives-count {{ city.id__count }}
