-load i18n
.modal.fade#loginModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title {% trans "Connexion" %}
            .modal-body
                h3 {% trans "Connectez-vous à votre compte" %}
                .form-group: a(ng-click="loginFacebook()").btn.bg-info
                    i.flaticon.social.facebook
                    | {% trans "Connexion via Facebook" %}
                    //-
                     .form-group: a(href="#").btn.bg-danger
                        i.flaticon.social.google-plus
                        | Connexion via Google
                p.info
                    {% blocktrans %}
                    | Nous ne publierons jamais rien sur votre profil (sauf si vous le demandez)
                    br
                    | Vos données personnelles ne seront jamais cédées ou vendues.
                    {% endblocktrans %} 
                .alert.alert-danger(ng-show="!!loginError")
                    | {% verbatim %}{{loginError}}{% endverbatim %}&nbsp;
                    a(ng-show="!!inactiveUserError", href="", ng-click="sendActivationLink()") {% verbatim %}{{inactiveUserError}}{% endverbatim %}
                .alert.alert-info(ng-show="!!activationLinkSentMsg")
                    | {% verbatim %}{{activationLinkSentMsg}}{% endverbatim %}
                //-
                 span.or
                form(name="loginForm", ng-submit="loginSubmitted=true; login()", novalidate, ng-class="{'submitted':!!loginSubmitted}")
                    {% trans "Email" as email %}
                    {% trans "Mot de passe" as password %}
                    .form-group
                        input(type="text", placeholder="{% trans 'email' %} *", name="username", data-ng-model="credentials.username", required).form-control
                        span.text-danger(data-ng-show="loginForm.username.$error.required && !!loginSubmitted", translate="required_field")
                    .form-group
                        input(type="password", placeholder="{% trans 'mot de passe' %} *", name="password", data-ng-model="credentials.password", required).form-control
                        span.text-danger(data-ng-show="loginForm.password.$error.required && !!loginSubmitted", translate="required_field")
                    .form-group.clearfix
                        .checkbox.pull-left
                            label(for="remember-me")
                                input(type="checkbox", checked)#remember-me.ng-hide
                                span.flaticon.stroke.checkmark
                            | {% trans "Se souvenir de moi" %}
                        .forgot-password.pull-right
                            a(href="#", data-toggle="modal", data-target="#reset-password", data-dismiss="modal") {% trans "Mot de passe oublié" %}
                    .form-group
                        button(type="submit", data-ng-disabled="loginForm.$invalid || !loginForm.$dirty").btn.bg-success {% trans "Connexion" %}
                span.or
                h4 {% trans "Vous n'êtes pas encore membre e-loue ?" %}
                a(href="#", data-toggle="modal", data-target="#registrationModal", data-dismiss="modal").modal-fotter-link.connexion {% trans "Inscription" %}
