-load i18n

ul.without-spaces
  each category in category_list
    li.spacer
    li: a(href="{{ category.get_absolute_url }}", title="{% trans 'location'%} {{ category.name }}") {{ category.name|capfirst }}
