-load i18n

ul.without-spaces
  each category in category_list|slice:":8"
    li.spacer
    li.center-text: a(href="{% url 'category_homepage' category.slug %}", title="{% trans 'location'%} {{ category.name }}")
     |Location
     br
     {{ category.name|capfirst }}
  li.spacer
  li.center-text.dropdown
    a(data-toggle="dropdown").dropdown-toggle
      |Autres
      br
      |Locations
    ul(role="menu", aria-labelledby="dLabel").dropdown-menu
      each category in category_list|slice:"8:"
        li.content: a(href="{{ category.get_absolute_url }}", title="{% trans 'location'%} {{ category.name }}")
          |{% if category.slug == 'location-saisonniere' %}{{ category.name|capfirst }}{% else %}Location {{ category.name|capfirst }}{% endif %}
