.modal.fade#bookingModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.large
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title Réservation
            .modal-body.table-cell
                .static-part.table-cell
                    section.product-info
                        include ./pop_up_sections/_product_info.jade
                    section.terms
                        include ./pop_up_sections/_terms
                        a(href="#/message").btn.bg-gray
                            | Envoyez un message
                        a(href="#/phone").btn.bg-gray
                            | Appelez
                form(id="bookingForm", name="bookingForm", role="form", ng-submit="sendBookingRequest()", ng-model="bookingDetails", novalidate).input-group.change-part.table-cell
                  fieldset(data-ng-disabled="submitInProgress")
                    section.table.form-wrapper.personal-information
                        include ./pop_up_sections/_personal_information_form
                    section.table.form-wrapper.bank-information
                        include ./pop_up_sections/_bank_information
