-load i18n

.modal.fade#bookingModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.large
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title {% trans "Réservation" %}
            .modal-body.table-cell
                .static-part.table-cell
                    section.product-info
                        include ./pop_up_sections/_product_info.jade
                    section.terms
                        include ./pop_up_sections/_terms
                form(id="bookingForm", name="bookingForm", role="form", ng-submit="bookingSubmitted=true; bookingForm.$valid && sendBookingRequest()", ng-class="{'submitted': bookingSubmitted}", ng-model="bookingDetails", novalidate, eloue-form-field-error-manager).input-group.change-part.table-cell.top
                  fieldset(data-ng-disabled="submitInProgress || shippingPointsRequestInProgress || loadingProductShippingPoint")
                    section.table.form-wrapper.personal-information
                        include ./pop_up_sections/_personal_information_form
                    section.table.form-wrapper.shipping(ng-show="addShipping")
                        include ./pop_up_sections/_shipping
                    section.table.form-wrapper.bank-information
                        include ./pop_up_sections/_bank_information
#auto-alert.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                {% trans "Alerte : Notre service location de voitures est en maintenance." %}
            .modal-body
                {% trans "La location de voitures entre particuliers fait peau neuve sur e-loue. Dans quelques jours le service sera à nouveau opérationnel." %}
                .row
                    button(type="button", data-dismiss="modal", style="width: 100px;margin-top: 20px;margin-left: 40%;").btn.bg-success
                        {% trans "OK" %}
