-load category facets
-load i18n


//- TODO remove hardcoded CSS link
link(rel="stylesheet", type="text/css", href="/static/bower_components/angularjs-slider/dist/rzslider.css")

style.
  .angular-google-map-container { height: 250px; }

{% verbatim %}
script(type="text/ng-template" id="_category_tree_item.html").
  <ul class="category_tree" ng-if="category['isRefined']">
    <li ng-repeat="category in category['data'] track by category['path']">
      <a ng-click="refineCategory(category['path'])" ng-style="category['isRefined'] ? {'font-weight':'bold'} : {}">
        {{ category['name'] + "&nbsp(" + category['count'] + ")" }} 
      </a>
      <div ng-if="category['isRefined']" ng-include="'_category_tree_item.html'"></div>
    </li>
  </ul>  
{% endverbatim %}

//- {% facet_url breadcrumbs -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}
.section-body
  label.caption {% trans "catégories" %}
  .clear-selector
    div(ng-show="search_result_count", ng-include="'_category_tree_item.html'")

  label.caption(for="where") {% trans "carte" %}
  .map-container
    .whirly(ng-if='!map.loaded')
    ui-gmap-google-map(ng-if='map.loaded', center='map.center', zoom='map.zoom', options='map.options', control='map.control', events='map.events', pan="true")
      ui-gmap-markers(ng-show="search_result_count", models="product_list", coords="'location_obj'", idKey="'markerId'", events="marker_event_handlers", type="'cluster'", typeOptions="map.clustererOptions", options="'markerOptions'")

  //- .slider
  label.caption(for="range-slider") {% trans "rayon" %}

  //- input#range(type="hidden", name="r", ng-value="{{ form.cleaned_data.r|floatformat:'0' }}", ng-model='range_slider.max', disabled)
  //- input#range-slider(type="hidden", max-value="{{ form.max_range|floatformat:'0' }}", solo)
  rzslider(ng-init="range_slider.max={% firstof form.cleaned_data.r|floatformat:'0' form.max_range|floatformat:'0' %} ", ng-model="range_slider.max", rz-slider-model="range_slider.max", rz-slider-options="range_slider.options", ng-change="submitForm()")

  //-input#where(ng-model="search_location", name="l", type="text", value="{{ form.cleaned_data.l }}", placeholder="{% trans 'Où ça ?' %}", title="{% if form.cleaned_data.l %}Où ça ?{% endif %}").form-control

  

  //-label.caption(for="start-date") date de début
  //-.date-picker
  //-
    //-.table-cell.main-cell
      //-input#start-date(type="text", placeholder="", name="date_from", value="{{ form.cleaned_data.date_from|date:'d/m/Y' }}").form-control.date
      //-i(style="right: 1em;").flaticon.stroke.calendar-3

  //-label.caption(for="end-date") date de fin
  //-.date-picker
  //-
    //-.table-cell.main-cell
      //-input#end-date(type="text", placeholder="", name="date_to", value="{{ form.cleaned_data.date_to|date:'d/m/Y' }}").form-control.date
      //-i(style="right: 1em;").flaticon.stroke.calendar-3

  
  label#price-label.caption(for="price-slider") prix
  rzslider(ng-init="price_slider.min={% firstof form.cleaned_data.price_from|stringformat:'.2f' price_min|stringformat:'.2f' %} ; price_slider.max={% firstof form.cleaned_data.price_to|stringformat:'.2f' price_max|stringformat:'.2f' %} ; price_slider.options.floor={{ price_min|stringformat:'.2f' }} ; price_slider.options.ceil={{ price_max|stringformat:'.2f' }}", rz-slider-model="price_slider.min", rz-slider-high="price_slider.max", ng-model="price_slider.min", rz-slider-options="price_slider.options", ng-change="submitForm()")

  
  //-input#price-min(type="hidden", name="price_from", value="{{ form.cleaned_data.price_from|stringformat:'.2f' }}", disabled)
  //-input#price-max(type="hidden", name="price_to", value="{{ form.cleaned_data.price_to|stringformat:'.2f' }}", disabled)
  //-input#price-slider(type="hidden", min-value="{{ price_min|stringformat:'.2f' }}", max-value="{{ price_max|stringformat:'.2f' }}")

  p.caption {% trans "loueurs" %}
  .checkbox(ng-init="owner_type.part_count={{ facets.fields_dict.pro_owner.false }}", ng-show="owner_type.part_count", ng-cloak)
    label(for="particular")
      {% trans "particuliers" as particular %}
      input(ng-init='owner_type.part={% if renter != "professionnels" %}true{% else %}false{% endif %}', type="checkbox", name="renter", ng-change="refineRenterPart(owner_type.part)", ng-model="owner_type.part", ng-disabled="noProPartChoice()")#particular
      span.flaticon.stroke.checkmark-1
    {% trans " Particuliers" %} {% verbatim %} {{ " ("+owner_type.part_count+")" }} {% endverbatim %}
  .checkbox(ng-init="owner_type.pro_count={{ facets.fields_dict.pro_owner.true }}", ng-show="owner_type.pro_count", ng-cloak)
    label(for="professional")
      input(ng-init='owner_type.pro={% if renter != "particuliers" %}true{% else %}false{% endif %}', type="checkbox", name="renter", ng-change="refineRenterPro(owner_type.pro)", ng-model="owner_type.pro", ng-disabled="noProPartChoice()")#professional
      span.flaticon.stroke.checkmark-1
    {% trans " Professionnels" %} {% verbatim %} {{ " ("+owner_type.pro_count+")" }} {% endverbatim %}

//  .indent-t-md
//    input(id="submitButton", type="submit", style="width: 100%", value="{% trans 'Filtrer' %}").btn.btn-lg.btn-advertise.bg-success

//-
  p.caption champ 1
  .clear-selector
    select.form-control
      option(value="male") Tous types
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
