.container
	.row
		.col-sm-8
			h3
				| Vous êtes loueur professionel ?
				br
				| Nous aussi !
			p
				| e-loue est le premier site de location 100% adapté aux professionnels. Nos membres viennent chercher tout type de produit à louer, dans toute la France. Les plus grands loueurs nous font déjà confiance, alors pourquoi pas vous ? 
			a(href="{% url 'subscription' %}").link-success-color en savoir plus
		.col-sm-4
			.img-wrapper
				a(href="{% url 'subscription' %}").link-sprite