-load product i18n

ol(ng-show="ui_pristine").product-layout
  if product_list
    {% for product in product_list %}
    {% with ng=0 index=forloop.counter %}
    include ./_product_list_item
    {% endwith %}
    {% endfor %}
  else
    p {% trans "Aucune annconce trouvée." %} 
      a(ng-click="clearRefinements()") {% trans "Reinitialiser les critères de la recherche"  %}
ol(ng-hide="ui_pristine").product-layout
  {% with ng=1 %}
  include ./_product_list_item
  {% endwith %}
  
p(ng-show="!ui_pristine && !search_result_count") {% trans "Aucune annconce trouvée." %} 
  a(ng-click="clearRefinements()") {% trans "Reinitialiser les critères de la recherche"  %}
  
include ./_product_list_pagination
