.container
	.row
		.col-sm-8
			h3
				| Vous êtes loueur professionel ?
				br
				| Nous aussi !
			p
				| e-loue est le premier site de location dédié au particuliers et aux professionnels. 
				| Quelque soit votre localité et votre domaine d'activité (bricolage, photo/vidéo, jardinage, 
				| matériel de réception, déguisements, voitures,... ), nos membres seront intéressés par 
				| vos produits à louer : ils viennent chez nous pour ça !
			a(href="#").link-success-color en savoir plus
		.col-sm-4
			.img-wrapper
				a(href="#").link-sprite