-load category facets

//- {% facet_url breadcrumbs -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}
form#detail-search(action=".").section-body
  label.caption(for="what") quoi
  input#what(name="q", type="text", value="{{ form.cleaned_data.q }}", placeholder="", autofocus).form-control

  p.caption catégories
  .clear-selector
    select#category-selection.form-control(name="categories")
      option(value="") Tous les catigories
      if form.cleaned_data.q
        {% for value, count in facets.fields.categories %}
        if count and value
          {% with value|category as category %}
          if breadcrumbs.categorie
            if breadcrumbs.categorie.value = category.slug
              option(selected, location="{% facet_url breadcrumbs category.get_ancertors_slug category.slug %}") {{ category.name }}
            else
              option(location="{% facet_url breadcrumbs -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}") {{ category.name }}
          else
            option(location="{% facet_url breadcrumbs category.get_ancertors_slug category.slug %}") {{ category.name }}
          {% endwith %}
        {% endfor %}
      else
        for category in category_list
          if breadcrumbs.categorie
            if breadcrumbs.categorie.value = category.slug
              option(selected, location="{% facet_url breadcrumbs category.get_ancertors_slug category.slug %}") {{ category.name }}
            else
              option(location="{% facet_url breadcrumbs -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}") {{ category.name }}
          else
            option(location="{% facet_url breadcrumbs category.get_ancertors_slug category.slug %}") {{ category.name }}

  label.caption(for="where") où
  input#where(name="l", type="text", value="{{ form.cleaned_data.l }}", placeholder="Où ça ?", title="{% if form.cleaned_data.l %}Où ça ?{% endif %}").form-control

  .map-container
    .whirly
    .map#map-canvas
      //- map here

  //- .slider
  label.caption(for="range") rayon
  input#range(type="number", data-type="range", name="r", value="{{ form.cleaned_data.r }}")
  #range-slider(max-value="{{ form.max_range }}")

  label.caption(for="start-date") date de début
  .date-picker
    .table-cell.main-cell
      input#start-date(type="text", placeholder="", name="date_from", value="{{ form.cleaned_data.date_from|date:'d/m/Y' }}").form-control.date
      i(style="right: 1em;").flaticon.stroke.calendar-3

  label.caption(for="end-date") date de fin
  .date-picker
    .table-cell.main-cell
      input#end-date(type="text", placeholder="", name="date_to", value="{{ form.cleaned_data.date_to|date:'d/m/Y' }}").form-control.date
      i(style="right: 1em;").flaticon.stroke.calendar-3

  label.caption(for="price") prix
  input#price-min(type="number", data-type="range", name="price_from", value="{{ form.cleaned_data.price_from|floatformat:'-2' }}")
  input#price-max(type="number", data-type="range", name="price_to", value="{{ form.cleaned_data.price_to|floatformat:'-2' }}")
  #price-slider(min-value="{{ price_min|floatformat:'-2' }}", max-value="{{ price_max|floatformat:'-2' }}")

  p.caption loueur
  .checkbox
    label(for="particular")
      {% if form.cleaned_data.renter == 'particuliers' %}
      input(type="checkbox", name="renter", value="particuliers", checked)#particular
      {% else %}
      input(type="checkbox", name="renter", value="particuliers")#particular
      {% endif %}
      span.flaticon.stroke.checkmark-1
    | Particulier
  .checkbox
    label(for="professional")
      {% if form.cleaned_data.renter == 'professionnels' %}
      input(type="checkbox", name="renter", value="professionnels", checked)#professional
      {% else %}
      input(type="checkbox", name="renter", value="professionnels")#professional
      {% endif %}
      span.flaticon.stroke.checkmark-1
    | Professionel

  .indent-t-md
    input(type="submit", style="width: 100%", value="Filtrer").btn.btn-lg.btn-advertise.bg-success

//-
  p.caption champ 1
  .clear-selector
    select.form-control
      option(value="male") Tous types
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher

  p.caption champ 2
  .clear-selector
    select.form-control
      option(value="male") Tous types
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher

  p.caption champ 3
  .clear-selector
    select.form-control
      option(value="male") Tous types
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
