ol.nav.row
    {% for product in product_list %}
    li(id="marker-{{ forloop.counter }}", locationY="{{ product.location.y|stringformat:'f' }}", locationX="{{ product.location.x|stringformat:'f' }}", name="{{ product.summary }}")
      .section-body
        .thumbnail-img
          a(href="{{ product.url }}").img-wrapper
            if product.thumbnail
              img(src="{{ product.thumbnail }}")
            span.badge.price {{ product.price }}&euro; /jour
            span.badge-order {{ forloop.counter }}
        .info
          h6
            a(href="{{ product.url }}") {{ product.summary }}
            if product.pro
              span.badge-pro pro
          p {{ product.city|title }}{% if product.city and product.zipcode %}, {{ product.zipcode }}{% endif %}
          //- TODO: need a better solution here to hit SQL DB only once for all products in the list
          {% with product.object.comments.count as comments_num %}
          if comments_num
            {% with product.object.average_note|stringformat:'d' as rate %}
            .rate
              include ./_rate
            {% endwith %}
            span.sprite-comment
              i.flaticon.stroke.writing-comment
              | {{ comments_num }}
          {% endwith %}
          p.full_description {{ product.description|truncatechars:145 }}
        .declarer-container
          .declarer
            span.declarer-name {{ product.owner }}
            if product.owner_url and product.owner_avatar
              a(href="{{ product.owner_url }}").declarer-thumbnail: img(src="{{ product.owner_avatar }}", alt="{{ product.owner }}")
          .btns
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.mail-2
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.calendar-2
    {% endfor %}
include ./_product_list_pagination
