-load product i18n

div(attr-name='pro_owner',                       
    value="search.owner_type", defaults="defaults.owner_type",
    eloue-propart)
  .container(style="width: 100%;font-size: larger; padding-left:0px;")
    ul.nav.nav-tabs
      li
        a
          {% trans "Toutes" %}
          span.count
      li
        a
          {% trans "Particuliers" %}
          span.count
      li
        a
          {% trans "Professionnels" %}
          span.count

ol(ng-show="ui_pristine").product-layout
  if product_list
    {% for product in product_list %}
    {% with ng=0 index=forloop.counter %}
    include ./_product_list_item
    {% endwith %}
    {% endfor %}
  else
    button(type="button", ng-click="clearRefinements()", 
      class="btn bg-success btn-advertise") {% trans "Reinitialiser les critères de la recherche"  %}
ol(ng-hide="ui_pristine || !result_count", ng-cloak, eloue-suspendable).product-layout
  {% with ng=1 %}
  include ./_product_list_item
  {% endwith %}
button(type="button", ng-show="!ui_pristine && !result_count", 
  ng-click="clearRefinements()", class="btn bg-success btn-advertise", 
  ng-cloak, hidden) {% trans "Reinitialiser les critères de la recherche"  %}
  
include ./_product_list_pagination