-load product i18n
-load djangular_tags

{% angularjs ng %}

{% trans "jour" as by_day %}


li(id=("marker-{{ $index }}" if ng else "marker-{{ index }}"),
    ng-repeat=("product in product_list track by product.django_id" if ng else None))
  .section-body
    .thumbnail-img
      a(ng-href="{{ product.url }}", href=(product.url if not ng else None)).img-wrapper 
        if ng
          img(ng-style="product.profile && {'background-image':'url('+product.profile+')'}").bg-image
        else
          img(style=('background-image: url("'+product.profile+'");' if product.profile else None)).bg-image 
        if ng
          //-TODO currency angular filter, remove verbatim
          span(ng-if="product.price").badge.price {% verbatim %} {{ product.price | currency }} {% endverbatim %} /{{ by_day }} 
          span(ng-if="!product.price").badge.price {% trans "Sur devis" %}
        else
          //-TODO currency angular filter
          span.badge.price {% if product.price %} {{ product.price | currency }} /{{ by_day }} {% else %} {% trans "Sur devis" %} {% endif %} 
        //-TODO remove verbatim
      span.badge-order {% if ng %} {% verbatim %} {{ $index+1 }} {% endverbatim %} {% else %} {{ index }} {% endif %}
    .declarer-container
      .declarer
        span.declarer-name {{ product.owner }}
        a(ng-href="{{ product.owner_url }}", href=(product.owner_url if not ng else None)).declarer-thumbnail
          if ng
            div(ng-style="product.owner_avatar && {'background-image':'url('+product.owner_avatar+')'}").bg-image
          else
            div(style=('background-image: url("'+product.owner_avatar+'");' if product.owner_avatar else None)).bg-image
    .info
      h6
        //- TODO check if this is really safe
        a(ng-href="{{ product.url }}", href=(product.url if not ng else None), 
          ng-bind-html="product.summary") {{ product.summary }}
        if ng
          span(ng-if="product.pro_owner").badge-pro pro
        else
          if product.pro_owner
            span.badge-pro pro
      p
        if ng
          span(ng-if='product.agencies') &nbsp;
          //- TODO title filter
          {% verbatim %}
          span(ng-if='!product.agencies') {{ product.city }}
            span(ng-if='product.city && product.zipcode'), {{ product.zipcode }}
          {% endverbatim %}
        else
          if product.agencies
            &nbsp;
          else
            {{ product.city }}{% if product.city and product.zipcode %}, {{ product.zipcode }}{% endif %}
      if not ng and product.comment_count
        {% with product.average_rate as rate %}
        include ./_rate
        {% endwith %}
        span.sprite-comment
          i.flaticon.stroke.writing-comment
          != product.comment_count
      else
        star-rating.rate(ng-if="product.comment_count", value="product.average_rate")
        span(ng-if="product.comment_count", ng-cloak).sprite-comment
          i.flaticon.stroke.writing-comment
          {% verbatim %}{{ product.comment_count }}{% endverbatim %} 
      if ng
        //- TODO remove verbatim
        //- TODO check if this is really safe
        p(ng-if='product.description', ng-bind-html="product.description").full_description
        p(ng-if='!product.description').full_description &nbsp;
      else
        p.full_description {% if product.description %} {{ product.description }} {% else %} &nbsp; {% endif %}

{% endangularjs %}