-load i18n facets

{% verbatim %}

.text-center: ul(ng-if="search_result_count").pagination
  li
    a(ng-if="page > 0", href="#", ng-click="prevPage()", title="{% trans 'Page précédente' %}").chevron: i.flaticon.stroke.left-2
    a(ng-if="page == 0").chevron.active: i.flaticon.stroke.left-2
  li(ng-repeat="page_num in pages_range track by page_num")
    a(ng-if="page == page_num").active {{ page_num+1 }}
    a(ng-if="page != page_num", href="#", ng-click="setPage(page_num)") {{ page_num+1 }}
  li
    a(ng-if="page < pages_count-1", href="#", ng-click="nextPage()", title="{% trans 'Page suivante' %}").chevron: i.flaticon.stroke.right-2
    a(ng-if="page == pages_count-1").chevron.active: i.flaticon.stroke.right-2

{% endverbatim %}

