ol.nav.row
    {% for product in product_list %}
    li
      .section-body
        .thumbnail-img
          a(href="{{ product.url }}").img-wrapper
            if product.thumbnail
              img(src="{{ product.thumbnail }}")
            span.badge.price {{ product.price }}&euro; /jour
            span.badge-order {{ forloop.counter }}
        .info
          h6
            a(href="{{ product.url }}") {{ product.summary }}
            if product.pro
              span.badge-pro pro
          p {{ product.city }}
            span.zip-code ,&nbsp;{{ product.zipcode }}
          .rate
            -var stars = [1,2,3,4,5]
            each s in stars
              if s == 1
                span.flaticon.solid.star-2.current-rate
              else
                span.flaticon.solid.star-2
          if product.comments
            span.sprite-comment
              i.flaticon.stroke.writing-comment
              | {{ product.comments }}
          p.full_description {{ product.text }}
        .declarer-container
          .declarer
            span.declarer-name {{ product.owner }}
            if product.owner_url and product.owner_avatar
              a(href="{{ product.owner_url }}").declarer-thumbnail: img(src="{{ product.owner_avatar }}", alt="{{ product.owner }}")
          .btns
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.mail-2
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.calendar-2
    {% endfor %}
include ./_product_list_pagination
