-load humanize facets product cache

.container
  {% cache 43200 'products_on_site_count' %}
  h3.text-center.indent-v-lg 1{{ products_on_site.count|intcomma }} annonces de location dans toute la France
  {% endcache %}
  ul.product-list.row
    each product in product_list
      li.col-sm-3: .product-item
        .product-image
          a(href="{{ product.url }}").img-wrapper: img(style="{% if product.profile %}background-image: url({{ product.profile }}){% endif %}")
          span.badge.price {{ product.price|price:"&euro; /jour" }}
          if product.pro_owner
            span.badge-pro pro
        .product-info
          .product-description
            h6: a(href="{{ product.url }}") {{ product.summary }}
            p {{ product.city|title }}{% if product.city and product.zipcode %}, {{ product.zipcode }}{% endif %}
          .product-owner
            a(href="{{ product.owner_url }}"): img(style="{% if product.owner_avatar %}background-image: url({{ product.owner_avatar }}){% endif %}")
  .row.text-center.indent-v-lg
    //- TODO: should use AJAX to fetch and insert next 8 items
    button(type="button", onclick="location.href='{% facet_url breadcrumbs 'sort' '' %}';").btn.bg-success.btn-explore.btn-lg
      i.flaticon.stroke.zoom-2.indent-r-xs
      | Explorez toutes les annonces
