-load category facets

form(action="detail-search").section-body
  label.caption(for="what") quoi
  input#what(type="text", placeholder="", autofocus).form-control

  p.caption catégories
  .clear-selector
    select.form-control
      option(value="male") Tous les catigories
      if form.cleaned_data.q
        {% for value, count in facets.fields.categories %}
        if count and value
          {% with value|category as category %}
          if breadcrumbs.categorie
            if breadcrumbs.categorie.value = category.slug
              option(selected, value="{% facet_url breadcrumbs -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}") {{ category.name }}
            else
              option(value="{% facet_url breadcrumbs -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}") {{ category.name }}
          else
            option(value="{% facet_url breadcrumbs category.get_ancertors_slug category.slug %}") {{ category.name }}
          {% endwith %}
        {% endfor %}
      else
        for category in category_list
          option(value="{% facet_url breadcrumbs category.get_ancertors_slug category.slug %}") {{ category.name }}

  label.caption(for="where") où
  input#where(type="text", value="{{ form.cleaned_data.l }}", placeholder="Où ça ?", title="{% if form.cleaned_data.l %}Où ça ?{% endif %}").form-control

  .map-container
    .whirly
    .map#map-canvas
      //- map here

  //- .slider
  label.caption(for="district") rayon
  input#district(type="range", name="district", min="5", max="1000", step="1", value="500")
  #district-fake

  label.caption(for="start-date") date de début
  .date-picker
    .input-group
      input#start-date(type="text", placeholder="").form-control
      .input-group-addon.calendar
        span

  label.caption(for="end-date") date de fin
  .date-picker
    .input-group
      input#end-date(type="text", placeholder="").form-control
      .input-group-addon.calendar
        span

  label.caption(for="price") prix
  input#price(type="range", name="price", min="5", max="100", step="1")
  #price-fake

  p.caption loueur
  .checkbox
    label(for="particular")
      input(type="checkbox")#particular
      span.flaticon.stroke.checkmark-1
    | Particulier
  .checkbox
    label(for="professional")
      input(type="checkbox")#professional
      span.flaticon.stroke.checkmark-1
    | Professionel

  p.caption champ 1
  .clear-selector
    select.form-control
      option(value="male") Tous types
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher

  p.caption champ 2
  .clear-selector
    select.form-control
      option(value="male") Tous types
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher

  p.caption champ 3
  .clear-selector
    select.form-control
      option(value="male") Tous types
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
