-load product

ol.product-layout
    {% for product in product_list %}
    li(id="marker-{{ forloop.counter }}", locationY="{{ product.location.y|stringformat:'f' }}", locationX="{{ product.location.x|stringformat:'f' }}", name="{{ product.summary }}")
      .section-body
        .thumbnail-img
          a(href="{{ product.url }}").img-wrapper: img(style="{% if product.profile %}background-image: url({{ product.profile }}){% endif %}").bg-image
          span.badge.price {{ product.price|price:"&euro; /jour" }}
          span.badge-order {{ forloop.counter }}
        .info
          h6
            a(href="{{ product.url }}") {{ product.summary }}
            if product.pro_owner
              span.badge-pro pro
          p {{ product.city|title }}{% if product.city and product.zipcode %}, {{ product.zipcode }}{% endif %}
          //- TODO: need a better solution here to hit SQL DB only once for all products in the list
          if product.comment_count
            {% with product.average_rate as rate %}
            include ./_rate
            {% endwith %}
            span.sprite-comment
              i.flaticon.stroke.writing-comment
              != product.comment_count
          p.full_description {% if product.description %}{{ product.description|truncatechars:145 }}{% else %}&nbsp;{% endif %}
        .declarer-container
          .declarer
            span.declarer-name {{ product.owner }}
            a(href="{{ product.owner_url }}").declarer-thumbnail: img(style="{% if product.owner_avatar %}background-image: url({{ product.owner_avatar }}){% endif %}").bg-image
          .btns
          //-
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.mail-2
            a(href="#").btn.bg-success: i.text-white.flaticon.stroke.calendar-2
    {% endfor %}
include ./_product_list_pagination
