-load category facets
-load i18n

//- {% facet_url breadcrumbs -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}
.section-body
  label.caption(for="what") {% trans "quoi" %}
  input#what(name="q", type="text", value="{{ form.cleaned_data.q }}", placeholder="", autofocus).form-control

  p.caption {% trans "catégories" %}
  .clear-selector
    select#category-selection.form-control(name="categories", form="")
      option(location="{% facet_url breadcrumbs -'page' -breadcrumbs.categorie.label %}") {% trans "Toutes les catégories" %}
      if form.cleaned_data.q
        {% for value, count in facets.fields.categories %}
        if count and value
          {% with value|category as category %}
          if breadcrumbs.categorie
            if breadcrumbs.categorie.value == category.slug
              option(selected, location="{% facet_url breadcrumbs -'page' category.get_ancertors_slug category.slug %}") {{ category.name }}
            else
              if breadcrumbs.categorie.label
                option(location="{% facet_url breadcrumbs -'page' -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}") {{ category.name }}
              else
                option(location="{% facet_url breadcrumbs -'page' category.get_ancertors_slug category.slug %}") {{ category.name }}
          else
            option(location="{% facet_url breadcrumbs -'page' category.get_ancertors_slug category.slug %}") {{ category.name }}
          {% endwith %}
        {% endfor %}
      else
        for category in category_list
          if breadcrumbs.categorie
            if breadcrumbs.categorie.value == category.slug
              option(selected, location="{% facet_url breadcrumbs -'page' category.get_ancertors_slug category.slug %}") {{ category.name }}
            else
              if breadcrumbs.categorie.label
                option(location="{% facet_url breadcrumbs -'page' -breadcrumbs.categorie.label category.get_ancertors_slug category.slug %}") {{ category.name }}
              else
                option(location="{% facet_url breadcrumbs -'page' category.get_ancertors_slug category.slug %}") {{ category.name }}
          else
            option(location="{% facet_url breadcrumbs -'page' category.get_ancertors_slug category.slug %}") {{ category.name }}

  label.caption(for="where") {% trans "où" %}
  input#where(name="l", type="text", value="{{ form.cleaned_data.l }}", placeholder="{% trans 'Où ça ?' %}", title="{% if form.cleaned_data.l %}Où ça ?{% endif %}").form-control

  .map-container
    .whirly
    .map#map-canvas
      //- map here

  //- .slider
  label.caption(for="range-slider") {% trans "rayon" %}
  input#range(type="hidden", name="r", value="{{ form.cleaned_data.r|floatformat:'0' }}", disabled)
  input#range-slider(type="hidden", max-value="{{ form.max_range|floatformat:'0' }}", solo)

  //-label.caption(for="start-date") date de début
  //-.date-picker
  //-
    .table-cell.main-cell
      input#start-date(type="text", placeholder="", name="date_from", value="{{ form.cleaned_data.date_from|date:'d/m/Y' }}").form-control.date
      i(style="right: 1em;").flaticon.stroke.calendar-3

  //-label.caption(for="end-date") date de fin
  //-.date-picker
  //-
    .table-cell.main-cell
      input#end-date(type="text", placeholder="", name="date_to", value="{{ form.cleaned_data.date_to|date:'d/m/Y' }}").form-control.date
      i(style="right: 1em;").flaticon.stroke.calendar-3

  label#price-label.caption(for="price-slider") prix
  input#price-min(type="hidden", name="price_from", value="{{ form.cleaned_data.price_from|stringformat:'.2f' }}", disabled)
  input#price-max(type="hidden", name="price_to", value="{{ form.cleaned_data.price_to|stringformat:'.2f' }}", disabled)
  input#price-slider(type="hidden", min-value="{{ price_min|stringformat:'.2f' }}", max-value="{{ price_max|stringformat:'.2f' }}")

  p.caption {% trans "loueurs" %}
  .checkbox
    label(for="particular")
      {% trans "particuliers" as particular %}
      {% if form.cleaned_data.renter == 'particuliers' %}
      input(type="checkbox", name="renter", value="{{ particular }}", checked)#particular
      {% else %}
      input(type="checkbox", name="renter", value="{{ particular }}")#particular
      {% endif %}
      span.flaticon.stroke.checkmark-1
    {% trans " Particuliers" %}
  .checkbox
    label(for="professional")
      {% if form.cleaned_data.renter == 'professionnels' %}
      input(type="checkbox", name="renter", value="professionnels", checked)#professional
      {% else %}
      input(type="checkbox", name="renter", value="professionnels")#professional
      {% endif %}
      span.flaticon.stroke.checkmark-1
    {% trans " Professionnels" %}

  .indent-t-md
    input(id="submitButton", type="submit", style="width: 100%", value="{% trans 'Filtrer' %}").btn.btn-lg.btn-advertise.bg-success

//-
  p.caption champ 1
  .clear-selector
    select.form-control
      option(value="male") Tous types
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
      option(value="female") Du - cher au + cher
