-load i18n humanize

h3.col-md-7
  if form.cleaned_data.q
    {% blocktrans with count=paginator.count|intcomma count counter=paginator.count %}
    | 1 annonce correspondant à vos critères
    {% plural %}
    | {{ count }} annonces correspondant à vos critères
    {% endblocktrans%}
.col-xs-5.layout-switcher
  i.flaticon.stroke.menu-list-4.list
  i.flaticon.stroke.window-1.grid
  .clear-selector: select.form-control(name="sort")
    -var options = [["-created_at", "Les plus récents"], ["geo_distance", "Les plus proches"], ["price", "Les prix les plus bas"], ["-price", "Les prix les plus haut"]]
    for sort, title in options
      if form.sort.data == sort
        option(value="{{ sort }}", selected) {{ title }}
      else
        option(value="{{ sort }}") {{ title }}
