-load i18n
.container
  h3.text-center {% trans "Choisissez une catégorie pour votre annonce" %}

  ul.nav.space-between
    li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '35')")
          span.border-round
            i(class="eloue-drill")
          span.title {% trans "Bricolage" %}
    li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '390')")
          span.border-round
            i(class="eloue-mower")
          span.title {% trans "Jardinage" %}
    li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '253')")
          span.border-round
            i(class="eloue-camera")
          span.title {% trans "High-tech" %}
    li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '418')")
          span.border-round
            i(class="eloue-glass")
          span.title {% trans "Réception" %}
  ul.nav.space-between
    li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '2700')")
          span.border-round
            i(class="eloue-car")
          span.title {% trans "Véhicule" %}
    li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '126')")
          span.border-round
            i(class="eloue-dress")
          span.title {% trans "Mode et accessoires" %}
    li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '323')")
          span.border-round
            i(class="eloue-basket")
          span.title {% trans "Santé et bien-etre" %}
    li.spacer
        li: span: a(href="", data-dismiss="modal", ng-click="openModal('publish', '')")
          span.border-round
            i(class="eloue-dots")
          span.title {% trans "Autres" %}