{% if rate %}
{% with rate as rate|stringformat:'d' %}
.rate
  -var stars = "12345"
  each s in stars
    span.flaticon.solid.star-2(class="{% if s == rate %}current-rate{% endif %}")
{% endwith %}
{% endif %}
