-var passwd_reset_stage = true
.modal.fade#reset-password(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button", data-dismiss="modal").close
          span(aria-hidden="true")&times;
          span.sr-only Close
        h4.modal-title Réinitialisation du mot de passe
      if passwd_reset_stage
        .modal-body
          p.indent-r-md.indent-l-md Mot de passe perdu ? Saisissez votre adresse électronique ci-desso us et nous vous enverrons les instructions pour en créer un nouveau.
          form(action="reset-password")
            .form-group: input(type="email", placeholder="E-mail", required).form-control
            .form-group: button(type="submit").btn.bg-success Connexion
      else
        .modal-body
          h2 Lien envoyé avec succés
          p.indent-r-md.indent-l-md Nous vous avons envoyé par courriel les instructions pour changer de mot de passe à l'adresse que vous avez indiquée. Vous devreuez le recevoir rapidement.
