.modal.fade#reset-password(tabindex="-1", role="dialog", aria-hidden="true", ng-controller="ResetPasswordCtrl")
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title Réinitialisation du mot de passe
            .modal-body(ng-show="passwdResetStage")
                p.indent-r-md.indent-l-md Mot de passe perdu ? Saisissez votre adresse électronique ci-desso us et nous vous enverrons les instructions pour en créer un nouveau.
                .alert.alert-danger(ng-show="!!resetPasswordError")
                    button(type="button", data-dismiss="alert", class="close")
                    | {% verbatim %} {{resetPasswordError}} {% endverbatim %}
                form#request-reset-password-form(ng-submit="sendResetRequest()")
                    .form-group: input(type="email", name="email", placeholder="E-mail", required).form-control
                    {% csrf_token %}
                    .form-group: button(type="submit").btn.bg-success Réinitialiser
            .modal-body(ng-show="!passwdResetStage")
                h2 Lien envoyé avec succés
                p.indent-r-md.indent-l-md Nous vous avons envoyé par courriel les instructions pour changer de mot de passe à l'adresse que vous avez indiquée. Vous devreuez le recevoir rapidement.
