-load i18n
.modal.fade#reset-password-confirm(tabindex="-1", role="dialog", aria-hidden="true", ng-controller="ResetPasswordCtrl", data-keyboard="false", data-backdrop="static")
    .modal-dialog
        .modal-content
            .modal-header
                h4.modal-title {% trans "Saisissez un nouveau mot de passe" %}
            .modal-body(ng-show="!passwdResetSuccess")
                p.indent-r-md.indent-l-md {% trans "Soisissez deux fois votre nouveau mot de passe afin de vérifier qu'il est correctement saisi." %}
                .alert.alert-danger(ng-show="!!resetPasswordError")
                    button(type="button", data-dismiss="alert", class="close")
                    | {% verbatim %} {{resetPasswordError}} {% endverbatim %}
                form#reset-password-form(ng-submit="resetPassword()")
                    .form-group
                        input(type="password", name="new_password1", placeholder="{% trans 'Nouveau mot de passe' %}", required).form-control
                    .form-group
                        input(type="password", name="new_password2", placeholder="{% trans 'Confirmation du mot de passe' %}", required).form-control

                    {% csrf_token %}
                    .form-group: button(type="submit").btn.bg-success {% trans 'Modifier' %}
            .modal-body(ng-show="passwdResetSuccess")
                h2 {% trans 'Votre mot de passe a été défini. Vous pouvez maintenant vous authentifier.' %}
                .form-group: button(onclick="location.href='/dashboard/';").btn.bg-success {% trans 'Accéder à mon compte' %}