.container
  .row
    .table-cell
    //-
      p Abonnez-vous à la newsletter e-loue pour être informé des bonnes affaires et de nos actualités. 
      a(href="#"): b Déjà 2 Millions d'inscrits !
    .table-cell.main-cell
    //-
      form(role = "").input-group
        input(type = "email", placeholder = "Saisissez votre email...").form-control
        .input-group-btn
          button(type = "submit").table-cell.btn.btn-default Validez
    .table-cell
      .social-btns
        a(href="https://www.facebook.com/location.eloue"): i.flaticon.social.facebook
        a(href="https://twitter.com/eloue"): i.flaticon.social.twitter
        a(href="https://plus.google.com/105482314077604589668/videos"): i.flaticon.social.google-plus
