-load i18n
.modal.fade#registrationModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title {% trans "Inscription" %}
            .modal-body
                h3 {% trans "Inscrivez-vous en 2 secondes" %}
                .form-group: a(ng-click="loginFacebook()").btn.bg-info
                    i.flaticon.social.facebook
                    | {% trans "Inscription via Facebook" %}
                //-
                 .form-group: a(href="#").btn.bg-danger
                   i.flaticon.social.google-plus
                   | Inscription via Google
                p.info
                    | {% trans "Nous ne publierons jamais rien sur votre mur sans votre accord" %}
                span.or
                h3 {% trans "Inscrivez-vous en 30 secondes" %}
                form(action="")
                    .form-group: a( href = "", ng-click="openRegistrationForm()").btn.bg-success {% trans "Inscription via Email" %}
                {% verbatim %}
                .alert.alert-danger(eloue-form-message)
                    button(type="button", data-dismiss="alert", class="close")
                    | {{!!description?description:message}}
                .alert.alert-danger(ng-show="!!loginError")
                    button(type="button", data-dismiss="alert", class="close")
                    | {{loginError}}
                {% endverbatim %}
                form(name="registrationForm", ng-submit="registrationSubmitted=true; registrationForm.$valid && register()", novalidate, eloue-form-field-error-manager, ng-class="{'submitted':registrationSubmitted}").classic-form
                    fieldset(data-ng-disabled="!!submitting")
                        //-
                         h3 Inscription 30 secondes
                        {% trans "Nom" as last_name %}
                        {% trans "Prénom" as first_name %}
                        {% trans "Addresse email" as email %}
                        {% trans "Pseudo" as username %}
                        {% trans "Mot de passe" as password %}
                        {% trans "Confirmation de mot de passe" as confirm_password %}
                        {% trans "Code postal" as zipcode %}
                        .form-group: .row
                            .col-xs-5.clear-selector
                                
                                select(ng-model="account.civility", data-placeholder="{% trans 'Civilité' %}", eloue-chosen).form-control
                                    option(ng-repeat="item in civilityOptions", value="{% verbatim %}{{item.id}}{% endverbatim %}") {% verbatim %}{{item.name}}{% endverbatim %}
                            .col-xs-7
                                input(type="text", placeholder="{% trans 'Nom' %} *", name="last_name", ng-model="account.last_name", required).form-control
                                span.text-danger(ng-show="registrationForm.last_name.$error.required && registrationSubmitted", translate="required_field")
                        .form-group
                            input(type="text", placeholder="{% trans 'Prénom' %} *", name="first_name", ng-model="account.first_name", required).form-control
                            span.text-danger(ng-show="registrationForm.first_name.$error.required && registrationSubmitted", translate="required_field")
                        .form-group
                            input(type="text", placeholder="{% trans 'Email' %} *", name="email", ng-model="account.email", required).form-control
                            span.text-danger(ng-show="registrationForm.email.$error.required && registrationSubmitted", translate="required_field")
                        .form-group
                            input(type="text", placeholder="{% trans 'Pseudo' %} *", name="username", ng-model="account.username", required).form-control
                            span.text-danger(ng-show="registrationForm.username.$error.required && registrationSubmitted", translate="required_field")
                        .form-group
                            input(type="password", placeholder="{% trans 'Mot de passe' %} *", name="password", ng-model="account.password", required).form-control
                            span.text-danger(ng-show="registrationForm.password.$error.required && registrationSubmitted", translate="required_field")
                        .form-group
                            input(type="password", placeholder="{% trans 'Confirmation du mot de passe' %} *", name="confirmPassword", ng-model="account.confirmPassword", required).form-control
                            span.text-danger(ng-show="registrationForm.confirmPassword.$error.required && registrationSubmitted", translate="required_field")
                        .form-group
                            input(type="text", placeholder="{% trans 'Code postal' %} *", name="zipcode", ng-model="account.zipcode", required, eloue-zipcode).form-control
                            span.text-danger(ng-show="registrationForm.zipcode.$error.badFormat && registrationSubmitted", translate="zipcode_invalid")
                            span.text-danger(ng-show="registrationForm.zipcode.$error.required && registrationSubmitted", translate="required_field")


                        .checkbox
                            label(for="inform")
                                input(type="checkbox", checked)#inform
                                span.flaticon.stroke.checkmark
                            | {% trans "Tenez moi informé de l'actualité et des bonnes affaires e-loue" %}
                        .form-group: button(type="submit", ng-class="{'loading': !!submitting}").btn.bg-success {% trans "Inscription via Email" %}
                        p
                            {% url 'terms' as terms_url %}
                            {% blocktrans %} 
                            | En créant un compte e-loue, vous acceptez les &nbsp;
                            a(href="/conditions-generales-particuliers/") Conditions Générales Particuliers
                            br
                            | et les &nbsp;
                            a(href="/conditions-generales-professionnels/") Conditions Générales professionnels
                            | de notre site
                            {% endblocktrans%}
                span.or
                h4 {% trans "Vous êtes déjà membre e-loue ?" %}
                a( href = "#connectez-vous", data-toggle="modal", data-target="#loginModal", data-dismiss="modal").modal-fotter-link.connexion {% trans "Connexion" %}
