-load i18n
//.container.indent-v-lg.text-center
//	h3 {% trans "Ils parlent de nous" %}
//	//-a(href="{% url 'press_page' %}").link-sprite Ils parlent de nous
//	a(href="http://eloue.s3.amazonaws.com/cp/dossier_de_presse.pdf").link-sprite {% trans "Ils parlent de nous" %}
