-load staticfiles i18n

.container
    .row
        .col-sm-6
            .video(data-toggle="modal", data-target="#videoModal", data-property="{videoURL:'http://youtu.be/nERu_2pSSb0'}")
                .smoke
                img(src="{% static 'img/video-screen.jpg' %}")
                span.btn-play
        .col-sm-6
            .description
                {% blocktrans %}
                h3
                    | e-loue c'est simple, efficace
                    br
                    | et sécurisé
                {% endblocktrans %}
                {% url 'howto' as howto_url %}
                {% blocktrans %}
                p.lg-ln-height
                    | Avec e-loue, mettez en location vos biens quand vous ne les utilisez pas&nbsp;: outils, appareils photo, voiture, tondeuse, vidéo-projecteur, poussette... Gagnez de l'argent en toute simplicté et sans aucun risque&nbsp;: nos locations sont assurées et sécurisées !
                a(href="{{ howto_url }}").link-success-color en savoir plus
                {% endblocktrans %}

.modal.fade#videoModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.large
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title {% trans "Présentation de e-loue" %}
            .modal-body
                #videoContainer