.container
    .row
        .col-sm-6
            .video(data-toggle="modal", data-target="#videoModal")
                .smoke
                img(src="#{STATIC_URL}img/video-screen.jpg", alt="")
                span.btn-play
        .col-sm-6
            .description
                h3
                    | e-loue c'est simple, efficace
                    br
                    | et sécurisé
                p.lg-ln-height
                    | Avec e-loue, mettez en location vos biens que n'utilisez pas
                    | tous les jours : outils, appareils photo, voiture, tondeuse,
                    | vidéo-projecteur, poussette... Gagnez de l'argent et
                    | rentabiliez vos achats en toure simplicité, et sans risque.
                    | Nos locations sont assurées et sécurisées.
                a(href="{% url 'howto' %}").link-success-color en savoir plus

.modal.fade#videoModal(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog.large
        .modal-content
            .modal-header
                button(type="button", data-dismiss="modal").close
                    span(aria-hidden="true")&times;
                    span.sr-only Close
                h4.modal-title Présentation de e-loue
            .modal-body
                #videoContainer