.section-header
  h4 Contacts Presse
.section-body
  .part
    .block-thumbnail
      .thumbnail-img
        a(href="#"): img(style="background-image: url(http://lorempixel.com/130/130/people)").bg-image
      .thumbnail-content
        h5: a(href="#") Prénom Nom
        include ../jade/_rate
  .part
    a(href="mailto:prenom.nom@eloue.com").btn.bg-success.btn-advertise prenom.nom@eloue.com
