.modal
  .chosen-container
    .chosen-drop
      z-index: 1051
  .date-picker.form-wrapper
    .table-cell.main-cell
      .table-cell.main-cell
        z-index: 1050
.btn,
.btn-inline
  &.loading2
    background-image: url("../img/preloader2.gif")
    background-repeat: no-repeat
    background-position: center center
    background-size: auto 80%
    color: transparent !important