.footer-links
	.ul-wrapper
		vertical-align: top
	.centering
		display: inline-block
	.link-wrapper
		a
			color: $gray-dark
			font-weight: $fw-semibold
			font-size: px(13)
			&:hover
				background-color: transparent
				color: $brand-success
