.insurances
	p
		font-size: px(13)
		font-weight: $fw-semibold
	.insurances-img
		display: block
		margin: 0 auto
		margin-bottom: 2em
		height: px(60)
		position: relative
		span
			+centred-abs()
		.payment 
			+sprite($s-payment)
		.serenity
			+sprite($s-serenity)
		.simplicity
			+sprite($s-simplicity)
		.trust
			+sprite($s-trust)
