/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$partner-amazon-x: 106px
$partner-amazon-y: 0px
$partner-amazon-offset-x: -106px
$partner-amazon-offset-y: 0px
$partner-amazon-width: 209px
$partner-amazon-height: 80px
$partner-amazon-total-width: 967px
$partner-amazon-total-height: 798px
$partner-amazon-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-amazon: 106px 0px -106px 0px 209px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-bitwiin-x: 0px
$partner-bitwiin-y: 410px
$partner-bitwiin-offset-x: 0px
$partner-bitwiin-offset-y: -410px
$partner-bitwiin-width: 308px
$partner-bitwiin-height: 80px
$partner-bitwiin-total-width: 967px
$partner-bitwiin-total-height: 798px
$partner-bitwiin-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-bitwiin: 0px 410px 0px -410px 308px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-bons_plans-x: 0px
$partner-bons_plans-y: 82px
$partner-bons_plans-offset-x: 0px
$partner-bons_plans-offset-y: -82px
$partner-bons_plans-width: 153px
$partner-bons_plans-height: 80px
$partner-bons_plans-total-width: 967px
$partner-bons_plans-total-height: 798px
$partner-bons_plans-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-bons_plans: 0px 82px 0px -82px 153px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-clear_chanel-x: 317px
$partner-clear_chanel-y: 0px
$partner-clear_chanel-offset-x: -317px
$partner-clear_chanel-offset-y: 0px
$partner-clear_chanel-width: 448px
$partner-clear_chanel-height: 80px
$partner-clear_chanel-total-width: 967px
$partner-clear_chanel-total-height: 798px
$partner-clear_chanel-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-clear_chanel: 317px 0px -317px 0px 448px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-direct_etudiant-x: 317px
$partner-direct_etudiant-y: 82px
$partner-direct_etudiant-offset-x: -317px
$partner-direct_etudiant-offset-y: -82px
$partner-direct_etudiant-width: 204px
$partner-direct_etudiant-height: 80px
$partner-direct_etudiant-total-width: 967px
$partner-direct_etudiant-total-height: 798px
$partner-direct_etudiant-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-direct_etudiant: 317px 82px -317px -82px 204px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-europ_assistance-x: 523px
$partner-europ_assistance-y: 82px
$partner-europ_assistance-offset-x: -523px
$partner-europ_assistance-offset-y: -82px
$partner-europ_assistance-width: 153px
$partner-europ_assistance-height: 80px
$partner-europ_assistance-total-width: 967px
$partner-europ_assistance-total-height: 798px
$partner-europ_assistance-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-europ_assistance: 523px 82px -523px -82px 153px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-five_m_ventures-x: 0px
$partner-five_m_ventures-y: 164px
$partner-five_m_ventures-offset-x: 0px
$partner-five_m_ventures-offset-y: -164px
$partner-five_m_ventures-width: 270px
$partner-five_m_ventures-height: 80px
$partner-five_m_ventures-total-width: 967px
$partner-five_m_ventures-total-height: 798px
$partner-five_m_ventures-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-five_m_ventures: 0px 164px 0px -164px 270px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-go_sport-x: 678px
$partner-go_sport-y: 82px
$partner-go_sport-offset-x: -678px
$partner-go_sport-offset-y: -82px
$partner-go_sport-width: 80px
$partner-go_sport-height: 80px
$partner-go_sport-total-width: 967px
$partner-go_sport-total-height: 798px
$partner-go_sport-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-go_sport: 678px 82px -678px -82px 80px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-google-x: 272px
$partner-google-y: 164px
$partner-google-offset-x: -272px
$partner-google-offset-y: -164px
$partner-google-width: 237px
$partner-google-height: 80px
$partner-google-total-width: 967px
$partner-google-total-height: 798px
$partner-google-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-google: 272px 164px -272px -164px 237px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-havas_worldwide-x: 511px
$partner-havas_worldwide-y: 164px
$partner-havas_worldwide-offset-x: -511px
$partner-havas_worldwide-offset-y: -164px
$partner-havas_worldwide-width: 210px
$partner-havas_worldwide-height: 80px
$partner-havas_worldwide-total-width: 967px
$partner-havas_worldwide-total-height: 798px
$partner-havas_worldwide-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-havas_worldwide: 511px 164px -511px -164px 210px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-hec_paris-x: 155px
$partner-hec_paris-y: 82px
$partner-hec_paris-offset-x: -155px
$partner-hec_paris-offset-y: -82px
$partner-hec_paris-width: 143px
$partner-hec_paris-height: 80px
$partner-hec_paris-total-width: 967px
$partner-hec_paris-total-height: 798px
$partner-hec_paris-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-hec_paris: 155px 82px -155px -82px 143px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-inter_sport-x: 0px
$partner-inter_sport-y: 246px
$partner-inter_sport-offset-x: 0px
$partner-inter_sport-offset-y: -246px
$partner-inter_sport-width: 108px
$partner-inter_sport-height: 80px
$partner-inter_sport-total-width: 967px
$partner-inter_sport-total-height: 798px
$partner-inter_sport-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-inter_sport: 0px 246px 0px -246px 108px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-la_poste-x: 110px
$partner-la_poste-y: 246px
$partner-la_poste-offset-x: -110px
$partner-la_poste-offset-y: -246px
$partner-la_poste-width: 138px
$partner-la_poste-height: 80px
$partner-la_poste-total-width: 967px
$partner-la_poste-total-height: 798px
$partner-la_poste-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-la_poste: 110px 246px -110px -246px 138px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-leroy_merlin-x: 250px
$partner-leroy_merlin-y: 246px
$partner-leroy_merlin-offset-x: -250px
$partner-leroy_merlin-offset-y: -246px
$partner-leroy_merlin-width: 126px
$partner-leroy_merlin-height: 80px
$partner-leroy_merlin-total-width: 967px
$partner-leroy_merlin-total-height: 798px
$partner-leroy_merlin-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-leroy_merlin: 250px 246px -250px -246px 126px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-les_cles_du_bricolage-x: 378px
$partner-les_cles_du_bricolage-y: 246px
$partner-les_cles_du_bricolage-offset-x: -378px
$partner-les_cles_du_bricolage-offset-y: -246px
$partner-les_cles_du_bricolage-width: 145px
$partner-les_cles_du_bricolage-height: 80px
$partner-les_cles_du_bricolage-total-width: 967px
$partner-les_cles_du_bricolage-total-height: 798px
$partner-les_cles_du_bricolage-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-les_cles_du_bricolage: 378px 246px -378px -246px 145px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-local_me-x: 525px
$partner-local_me-y: 246px
$partner-local_me-offset-x: -525px
$partner-local_me-offset-y: -246px
$partner-local_me-width: 173px
$partner-local_me-height: 80px
$partner-local_me-total-width: 967px
$partner-local_me-total-height: 798px
$partner-local_me-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-local_me: 525px 246px -525px -246px 173px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-locanfrance-x: 0px
$partner-locanfrance-y: 328px
$partner-locanfrance-offset-x: 0px
$partner-locanfrance-offset-y: -328px
$partner-locanfrance-width: 257px
$partner-locanfrance-height: 80px
$partner-locanfrance-total-width: 967px
$partner-locanfrance-total-height: 798px
$partner-locanfrance-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-locanfrance: 0px 328px 0px -328px 257px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-loxam-x: 259px
$partner-loxam-y: 328px
$partner-loxam-offset-x: -259px
$partner-loxam-offset-y: -328px
$partner-loxam-width: 198px
$partner-loxam-height: 80px
$partner-loxam-total-width: 967px
$partner-loxam-total-height: 798px
$partner-loxam-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-loxam: 259px 328px -259px -328px 198px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-ma_colocation-x: 459px
$partner-ma_colocation-y: 328px
$partner-ma_colocation-offset-x: -459px
$partner-ma_colocation-offset-y: -328px
$partner-ma_colocation-width: 272px
$partner-ma_colocation-height: 80px
$partner-ma_colocation-total-width: 967px
$partner-ma_colocation-total-height: 798px
$partner-ma_colocation-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-ma_colocation: 459px 328px -459px -328px 272px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-meteojob-x: 0px
$partner-meteojob-y: 0px
$partner-meteojob-offset-x: 0px
$partner-meteojob-offset-y: 0px
$partner-meteojob-width: 104px
$partner-meteojob-height: 80px
$partner-meteojob-total-width: 967px
$partner-meteojob-total-height: 798px
$partner-meteojob-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-meteojob: 0px 0px 0px 0px 104px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-microsoft-x: 310px
$partner-microsoft-y: 410px
$partner-microsoft-offset-x: -310px
$partner-microsoft-offset-y: -410px
$partner-microsoft-width: 342px
$partner-microsoft-height: 80px
$partner-microsoft-total-width: 967px
$partner-microsoft-total-height: 798px
$partner-microsoft-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-microsoft: 310px 410px -310px -410px 342px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-mma-x: 0px
$partner-mma-y: 492px
$partner-mma-offset-x: 0px
$partner-mma-offset-y: -492px
$partner-mma-width: 245px
$partner-mma-height: 80px
$partner-mma-total-width: 967px
$partner-mma-total-height: 798px
$partner-mma-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-mma: 0px 492px 0px -492px 245px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-mr_bricolage-x: 247px
$partner-mr_bricolage-y: 492px
$partner-mr_bricolage-offset-x: -247px
$partner-mr_bricolage-offset-y: -492px
$partner-mr_bricolage-width: 251px
$partner-mr_bricolage-height: 80px
$partner-mr_bricolage-total-width: 967px
$partner-mr_bricolage-total-height: 798px
$partner-mr_bricolage-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-mr_bricolage: 247px 492px -247px -492px 251px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-nomalys-x: 500px
$partner-nomalys-y: 492px
$partner-nomalys-offset-x: -500px
$partner-nomalys-offset-y: -492px
$partner-nomalys-width: 142px
$partner-nomalys-height: 80px
$partner-nomalys-total-width: 967px
$partner-nomalys-total-height: 798px
$partner-nomalys-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-nomalys: 500px 492px -500px -492px 142px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-sfr-x: 654px
$partner-sfr-y: 410px
$partner-sfr-offset-x: -654px
$partner-sfr-offset-y: -410px
$partner-sfr-width: 80px
$partner-sfr-height: 80px
$partner-sfr-total-width: 967px
$partner-sfr-total-height: 798px
$partner-sfr-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-sfr: 654px 410px -654px -410px 80px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-skiset-small-x: 267px
$partner-skiset-small-y: 738px
$partner-skiset-small-offset-x: -267px
$partner-skiset-small-offset-y: -738px
$partner-skiset-small-width: 228px
$partner-skiset-small-height: 60px
$partner-skiset-small-total-width: 967px
$partner-skiset-small-total-height: 798px
$partner-skiset-small-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-skiset-small: 267px 738px -267px -738px 228px 60px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-skiset-x: 0px
$partner-skiset-y: 574px
$partner-skiset-offset-x: 0px
$partner-skiset-offset-y: -574px
$partner-skiset-width: 304px
$partner-skiset-height: 80px
$partner-skiset-total-width: 967px
$partner-skiset-total-height: 798px
$partner-skiset-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-skiset: 0px 574px 0px -574px 304px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-smoov_up-x: 306px
$partner-smoov_up-y: 574px
$partner-smoov_up-offset-x: -306px
$partner-smoov_up-offset-y: -574px
$partner-smoov_up-width: 159px
$partner-smoov_up-height: 80px
$partner-smoov_up-total-width: 967px
$partner-smoov_up-total-height: 798px
$partner-smoov_up-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-smoov_up: 306px 574px -306px -574px 159px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-societe_general-x: 467px
$partner-societe_general-y: 574px
$partner-societe_general-offset-x: -467px
$partner-societe_general-offset-y: -574px
$partner-societe_general-width: 272px
$partner-societe_general-height: 80px
$partner-societe_general-total-width: 967px
$partner-societe_general-total-height: 798px
$partner-societe_general-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-societe_general: 467px 574px -467px -574px 272px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-twenty_minutes-x: 0px
$partner-twenty_minutes-y: 656px
$partner-twenty_minutes-offset-x: 0px
$partner-twenty_minutes-offset-y: -656px
$partner-twenty_minutes-width: 81px
$partner-twenty_minutes-height: 80px
$partner-twenty_minutes-total-width: 967px
$partner-twenty_minutes-total-height: 798px
$partner-twenty_minutes-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-twenty_minutes: 0px 656px 0px -656px 81px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-twinner-small-x: 0px
$partner-twinner-small-y: 738px
$partner-twinner-small-offset-x: 0px
$partner-twinner-small-offset-y: -738px
$partner-twinner-small-width: 265px
$partner-twinner-small-height: 60px
$partner-twinner-small-total-width: 967px
$partner-twinner-small-total-height: 798px
$partner-twinner-small-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-twinner-small: 0px 738px 0px -738px 265px 60px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-twinner-x: 279px
$partner-twinner-y: 656px
$partner-twinner-offset-x: -279px
$partner-twinner-offset-y: -656px
$partner-twinner-width: 353px
$partner-twinner-height: 80px
$partner-twinner-total-width: 967px
$partner-twinner-total-height: 798px
$partner-twinner-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-twinner: 279px 656px -279px -656px 353px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-urban-small-x: 767px
$partner-urban-small-y: 82px
$partner-urban-small-offset-x: -767px
$partner-urban-small-offset-y: -82px
$partner-urban-small-width: 55px
$partner-urban-small-height: 60px
$partner-urban-small-total-width: 967px
$partner-urban-small-total-height: 798px
$partner-urban-small-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-urban-small: 767px 82px -767px -82px 55px 60px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-urban-x: 634px
$partner-urban-y: 656px
$partner-urban-offset-x: -634px
$partner-urban-offset-y: -656px
$partner-urban-width: 73px
$partner-urban-height: 80px
$partner-urban-total-width: 967px
$partner-urban-total-height: 798px
$partner-urban-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-urban: 634px 656px -634px -656px 73px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-velo_location-small-x: 767px
$partner-velo_location-small-y: 144px
$partner-velo_location-small-offset-x: -767px
$partner-velo_location-small-offset-y: -144px
$partner-velo_location-small-width: 146px
$partner-velo_location-small-height: 60px
$partner-velo_location-small-total-width: 967px
$partner-velo_location-small-total-height: 798px
$partner-velo_location-small-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-velo_location-small: 767px 144px -767px -144px 146px 60px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-velo_location-x: 83px
$partner-velo_location-y: 656px
$partner-velo_location-offset-x: -83px
$partner-velo_location-offset-y: -656px
$partner-velo_location-width: 194px
$partner-velo_location-height: 80px
$partner-velo_location-total-width: 967px
$partner-velo_location-total-height: 798px
$partner-velo_location-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-velo_location: 83px 656px -83px -656px 194px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-vents_de_mer-small-x: 824px
$partner-vents_de_mer-small-y: 82px
$partner-vents_de_mer-small-offset-x: -824px
$partner-vents_de_mer-small-offset-y: -82px
$partner-vents_de_mer-small-width: 79px
$partner-vents_de_mer-small-height: 60px
$partner-vents_de_mer-small-total-width: 967px
$partner-vents_de_mer-small-total-height: 798px
$partner-vents_de_mer-small-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-vents_de_mer-small: 824px 82px -824px -82px 79px 60px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-vents_de_mer-x: 644px
$partner-vents_de_mer-y: 492px
$partner-vents_de_mer-offset-x: -644px
$partner-vents_de_mer-offset-y: -492px
$partner-vents_de_mer-width: 105px
$partner-vents_de_mer-height: 80px
$partner-vents_de_mer-total-width: 967px
$partner-vents_de_mer-total-height: 798px
$partner-vents_de_mer-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-vents_de_mer: 644px 492px -644px -492px 105px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'
$partner-youpijob-x: 767px
$partner-youpijob-y: 0px
$partner-youpijob-offset-x: -767px
$partner-youpijob-offset-y: 0px
$partner-youpijob-width: 200px
$partner-youpijob-height: 80px
$partner-youpijob-total-width: 967px
$partner-youpijob-total-height: 798px
$partner-youpijob-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-youpijob: 767px 0px -767px 0px 200px 80px 967px 798px '../../static/img/partners_spritesheet_gosport.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
