/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path
  */
$partner-amazon-x: 200px
$partner-amazon-y: 0px
$partner-amazon-offset-x: -200px
$partner-amazon-offset-y: 0px
$partner-amazon-width: 209px
$partner-amazon-height: 80px
$partner-amazon-total-width: 859px
$partner-amazon-total-height: 736px
$partner-amazon-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-amazon: 200px 0px -200px 0px 209px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-bitwiin-x: 0px
$partner-bitwiin-y: 328px
$partner-bitwiin-offset-x: 0px
$partner-bitwiin-offset-y: -328px
$partner-bitwiin-width: 308px
$partner-bitwiin-height: 80px
$partner-bitwiin-total-width: 859px
$partner-bitwiin-total-height: 736px
$partner-bitwiin-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-bitwiin: 0px 328px 0px -328px 308px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-bons_plans-x: 0px
$partner-bons_plans-y: 82px
$partner-bons_plans-offset-x: 0px
$partner-bons_plans-offset-y: -82px
$partner-bons_plans-width: 153px
$partner-bons_plans-height: 80px
$partner-bons_plans-total-width: 859px
$partner-bons_plans-total-height: 736px
$partner-bons_plans-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-bons_plans: 0px 82px 0px -82px 153px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-clear_chanel-x: 411px
$partner-clear_chanel-y: 0px
$partner-clear_chanel-offset-x: -411px
$partner-clear_chanel-offset-y: 0px
$partner-clear_chanel-width: 448px
$partner-clear_chanel-height: 80px
$partner-clear_chanel-total-width: 859px
$partner-clear_chanel-total-height: 736px
$partner-clear_chanel-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-clear_chanel: 411px 0px -411px 0px 448px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-direct_etudiant-x: 411px
$partner-direct_etudiant-y: 82px
$partner-direct_etudiant-offset-x: -411px
$partner-direct_etudiant-offset-y: -82px
$partner-direct_etudiant-width: 204px
$partner-direct_etudiant-height: 80px
$partner-direct_etudiant-total-width: 859px
$partner-direct_etudiant-total-height: 736px
$partner-direct_etudiant-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-direct_etudiant: 411px 82px -411px -82px 204px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-europ_assistance-x: 617px
$partner-europ_assistance-y: 82px
$partner-europ_assistance-offset-x: -617px
$partner-europ_assistance-offset-y: -82px
$partner-europ_assistance-width: 153px
$partner-europ_assistance-height: 80px
$partner-europ_assistance-total-width: 859px
$partner-europ_assistance-total-height: 736px
$partner-europ_assistance-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-europ_assistance: 617px 82px -617px -82px 153px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-five_m_ventures-x: 0px
$partner-five_m_ventures-y: 164px
$partner-five_m_ventures-offset-x: 0px
$partner-five_m_ventures-offset-y: -164px
$partner-five_m_ventures-width: 270px
$partner-five_m_ventures-height: 80px
$partner-five_m_ventures-total-width: 859px
$partner-five_m_ventures-total-height: 736px
$partner-five_m_ventures-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-five_m_ventures: 0px 164px 0px -164px 270px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-go_sport-x: 772px
$partner-go_sport-y: 82px
$partner-go_sport-offset-x: -772px
$partner-go_sport-offset-y: -82px
$partner-go_sport-width: 80px
$partner-go_sport-height: 80px
$partner-go_sport-total-width: 859px
$partner-go_sport-total-height: 736px
$partner-go_sport-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-go_sport: 772px 82px -772px -82px 80px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-google-x: 155px
$partner-google-y: 82px
$partner-google-offset-x: -155px
$partner-google-offset-y: -82px
$partner-google-width: 237px
$partner-google-height: 80px
$partner-google-total-width: 859px
$partner-google-total-height: 736px
$partner-google-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-google: 155px 82px -155px -82px 237px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-havas_worldwide-x: 272px
$partner-havas_worldwide-y: 164px
$partner-havas_worldwide-offset-x: -272px
$partner-havas_worldwide-offset-y: -164px
$partner-havas_worldwide-width: 210px
$partner-havas_worldwide-height: 80px
$partner-havas_worldwide-total-width: 859px
$partner-havas_worldwide-total-height: 736px
$partner-havas_worldwide-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-havas_worldwide: 272px 164px -272px -164px 210px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-hec_paris-x: 484px
$partner-hec_paris-y: 164px
$partner-hec_paris-offset-x: -484px
$partner-hec_paris-offset-y: -164px
$partner-hec_paris-width: 143px
$partner-hec_paris-height: 80px
$partner-hec_paris-total-width: 859px
$partner-hec_paris-total-height: 736px
$partner-hec_paris-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-hec_paris: 484px 164px -484px -164px 143px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-inter_sport-x: 629px
$partner-inter_sport-y: 164px
$partner-inter_sport-offset-x: -629px
$partner-inter_sport-offset-y: -164px
$partner-inter_sport-width: 108px
$partner-inter_sport-height: 80px
$partner-inter_sport-total-width: 859px
$partner-inter_sport-total-height: 736px
$partner-inter_sport-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-inter_sport: 629px 164px -629px -164px 108px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-la_poste-x: 0px
$partner-la_poste-y: 246px
$partner-la_poste-offset-x: 0px
$partner-la_poste-offset-y: -246px
$partner-la_poste-width: 138px
$partner-la_poste-height: 80px
$partner-la_poste-total-width: 859px
$partner-la_poste-total-height: 736px
$partner-la_poste-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-la_poste: 0px 246px 0px -246px 138px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-leroy_merlin-x: 140px
$partner-leroy_merlin-y: 246px
$partner-leroy_merlin-offset-x: -140px
$partner-leroy_merlin-offset-y: -246px
$partner-leroy_merlin-width: 126px
$partner-leroy_merlin-height: 80px
$partner-leroy_merlin-total-width: 859px
$partner-leroy_merlin-total-height: 736px
$partner-leroy_merlin-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-leroy_merlin: 140px 246px -140px -246px 126px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-les_cles_du_bricolage-x: 268px
$partner-les_cles_du_bricolage-y: 246px
$partner-les_cles_du_bricolage-offset-x: -268px
$partner-les_cles_du_bricolage-offset-y: -246px
$partner-les_cles_du_bricolage-width: 145px
$partner-les_cles_du_bricolage-height: 80px
$partner-les_cles_du_bricolage-total-width: 859px
$partner-les_cles_du_bricolage-total-height: 736px
$partner-les_cles_du_bricolage-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-les_cles_du_bricolage: 268px 246px -268px -246px 145px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-local_me-x: 415px
$partner-local_me-y: 246px
$partner-local_me-offset-x: -415px
$partner-local_me-offset-y: -246px
$partner-local_me-width: 173px
$partner-local_me-height: 80px
$partner-local_me-total-width: 859px
$partner-local_me-total-height: 736px
$partner-local_me-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-local_me: 415px 246px -415px -246px 173px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-locanfrance-x: 590px
$partner-locanfrance-y: 246px
$partner-locanfrance-offset-x: -590px
$partner-locanfrance-offset-y: -246px
$partner-locanfrance-width: 257px
$partner-locanfrance-height: 80px
$partner-locanfrance-total-width: 859px
$partner-locanfrance-total-height: 736px
$partner-locanfrance-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-locanfrance: 590px 246px -590px -246px 257px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-loxam-x: 0px
$partner-loxam-y: 0px
$partner-loxam-offset-x: 0px
$partner-loxam-offset-y: 0px
$partner-loxam-width: 198px
$partner-loxam-height: 80px
$partner-loxam-total-width: 859px
$partner-loxam-total-height: 736px
$partner-loxam-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-loxam: 0px 0px 0px 0px 198px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-ma_colocation-x: 310px
$partner-ma_colocation-y: 328px
$partner-ma_colocation-offset-x: -310px
$partner-ma_colocation-offset-y: -328px
$partner-ma_colocation-width: 272px
$partner-ma_colocation-height: 80px
$partner-ma_colocation-total-width: 859px
$partner-ma_colocation-total-height: 736px
$partner-ma_colocation-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-ma_colocation: 310px 328px -310px -328px 272px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-meteojob-x: 739px
$partner-meteojob-y: 164px
$partner-meteojob-offset-x: -739px
$partner-meteojob-offset-y: -164px
$partner-meteojob-width: 104px
$partner-meteojob-height: 80px
$partner-meteojob-total-width: 859px
$partner-meteojob-total-height: 736px
$partner-meteojob-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-meteojob: 739px 164px -739px -164px 104px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-microsoft-x: 0px
$partner-microsoft-y: 410px
$partner-microsoft-offset-x: 0px
$partner-microsoft-offset-y: -410px
$partner-microsoft-width: 342px
$partner-microsoft-height: 80px
$partner-microsoft-total-width: 859px
$partner-microsoft-total-height: 736px
$partner-microsoft-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-microsoft: 0px 410px 0px -410px 342px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-mma-x: 584px
$partner-mma-y: 328px
$partner-mma-offset-x: -584px
$partner-mma-offset-y: -328px
$partner-mma-width: 245px
$partner-mma-height: 80px
$partner-mma-total-width: 859px
$partner-mma-total-height: 736px
$partner-mma-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-mma: 584px 328px -584px -328px 245px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-mr_bricolage-x: 344px
$partner-mr_bricolage-y: 410px
$partner-mr_bricolage-offset-x: -344px
$partner-mr_bricolage-offset-y: -410px
$partner-mr_bricolage-width: 251px
$partner-mr_bricolage-height: 80px
$partner-mr_bricolage-total-width: 859px
$partner-mr_bricolage-total-height: 736px
$partner-mr_bricolage-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-mr_bricolage: 344px 410px -344px -410px 251px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-nomalys-x: 597px
$partner-nomalys-y: 410px
$partner-nomalys-offset-x: -597px
$partner-nomalys-offset-y: -410px
$partner-nomalys-width: 142px
$partner-nomalys-height: 80px
$partner-nomalys-total-width: 859px
$partner-nomalys-total-height: 736px
$partner-nomalys-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-nomalys: 597px 410px -597px -410px 142px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-sfr-x: 741px
$partner-sfr-y: 410px
$partner-sfr-offset-x: -741px
$partner-sfr-offset-y: -410px
$partner-sfr-width: 80px
$partner-sfr-height: 80px
$partner-sfr-total-width: 859px
$partner-sfr-total-height: 736px
$partner-sfr-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-sfr: 741px 410px -741px -410px 80px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-skiset-x: 0px
$partner-skiset-y: 492px
$partner-skiset-offset-x: 0px
$partner-skiset-offset-y: -492px
$partner-skiset-width: 304px
$partner-skiset-height: 80px
$partner-skiset-total-width: 859px
$partner-skiset-total-height: 736px
$partner-skiset-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-skiset: 0px 492px 0px -492px 304px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-smoov_up-x: 306px
$partner-smoov_up-y: 492px
$partner-smoov_up-offset-x: -306px
$partner-smoov_up-offset-y: -492px
$partner-smoov_up-width: 159px
$partner-smoov_up-height: 80px
$partner-smoov_up-total-width: 859px
$partner-smoov_up-total-height: 736px
$partner-smoov_up-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-smoov_up: 306px 492px -306px -492px 159px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-societe_general-x: 467px
$partner-societe_general-y: 492px
$partner-societe_general-offset-x: -467px
$partner-societe_general-offset-y: -492px
$partner-societe_general-width: 272px
$partner-societe_general-height: 80px
$partner-societe_general-total-width: 859px
$partner-societe_general-total-height: 736px
$partner-societe_general-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-societe_general: 467px 492px -467px -492px 272px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-twenty_minutes-x: 741px
$partner-twenty_minutes-y: 492px
$partner-twenty_minutes-offset-x: -741px
$partner-twenty_minutes-offset-y: -492px
$partner-twenty_minutes-width: 81px
$partner-twenty_minutes-height: 80px
$partner-twenty_minutes-total-width: 859px
$partner-twenty_minutes-total-height: 736px
$partner-twenty_minutes-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-twenty_minutes: 741px 492px -741px -492px 81px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-twinner-x: 0px
$partner-twinner-y: 574px
$partner-twinner-offset-x: 0px
$partner-twinner-offset-y: -574px
$partner-twinner-width: 353px
$partner-twinner-height: 80px
$partner-twinner-total-width: 859px
$partner-twinner-total-height: 736px
$partner-twinner-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-twinner: 0px 574px 0px -574px 353px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-urban-x: 355px
$partner-urban-y: 574px
$partner-urban-offset-x: -355px
$partner-urban-offset-y: -574px
$partner-urban-width: 73px
$partner-urban-height: 80px
$partner-urban-total-width: 859px
$partner-urban-total-height: 736px
$partner-urban-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-urban: 355px 574px -355px -574px 73px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-velo_location-x: 430px
$partner-velo_location-y: 574px
$partner-velo_location-offset-x: -430px
$partner-velo_location-offset-y: -574px
$partner-velo_location-width: 194px
$partner-velo_location-height: 80px
$partner-velo_location-total-width: 859px
$partner-velo_location-total-height: 736px
$partner-velo_location-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-velo_location: 430px 574px -430px -574px 194px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-vents_de_mer-x: 626px
$partner-vents_de_mer-y: 574px
$partner-vents_de_mer-offset-x: -626px
$partner-vents_de_mer-offset-y: -574px
$partner-vents_de_mer-width: 105px
$partner-vents_de_mer-height: 80px
$partner-vents_de_mer-total-width: 859px
$partner-vents_de_mer-total-height: 736px
$partner-vents_de_mer-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-vents_de_mer: 626px 574px -626px -574px 105px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'
$partner-youpijob-x: 0px
$partner-youpijob-y: 656px
$partner-youpijob-offset-x: 0px
$partner-youpijob-offset-y: -656px
$partner-youpijob-width: 200px
$partner-youpijob-height: 80px
$partner-youpijob-total-width: 859px
$partner-youpijob-total-height: 736px
$partner-youpijob-image: '../../static/img/partners_spritesheet_gosport.png'
$partner-youpijob: 0px 656px 0px -656px 200px 80px 859px 736px '../../static/img/partners_spritesheet_gosport.png'

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)
