{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{{ topic.title }}{% endblock %}

{% block description %}
 {% blocktrans with topic.title|lower as section %}
  Les questions les plus fréquemment posées sur e-loue à propos de {{ section }}
 {% endblocktrans %}
{% endblock %}

{% block content %}
<div id="content" class="xgrid">
    <div class="content-top" style="margin-bottom: 10px;">
        <h1>{{ topic.title }}</h1>
    </div>
    <div class="x12">
  	{% if topic.description %}
  	<p>{{ topic.description }}</p>
 		{% endif %}
 		{% for question in question_list %}
  	<h2 id="{{ question.slug }}">{{ question.question }}</h2>
  	{{ question.answer|markdown }}
 		{% endfor %}
	</div>
</div>
{% endblock %}