{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Foire aux questions" %}{% endblock %}

{% block description %}
  {% trans "Les questions les plus fréquemment posées sur e-loue" %}
{% endblock %}

{% block content %}
<div id="flatpages" class="container-main">
  <ul class="breadcrumb">
    <li><a href="{% url 'products.views.homepage' %}">{% trans "Accueil" %}</a></li>
    <li>{% trans "Questions Fréquentes" %}</li>
  </ul>
  <div class="one-content">
    <h1>{% trans "Questions Fréquentes" %}</h1>
    {% for topic in topic_list %}
      <h2 ><a href="{{ topic.get_absolute_url }}" style="color: #364C59;">{{ topic.title }}</a></h2>
      <ul style="margin-bottom: 40px;">
      {% for question in topic.questions.all %}
        <li><a href="{{ topic.get_absolute_url }}#{{ question.slug }}">{{ question.question }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
</div>
{% endblock %}