{% extends "base.html" %}
{% load i18n markup %}

{% block title %}{{ topic.title }}{% endblock %}

{% block description %}
 {% blocktrans with topic.title|lower as section %}
  Les questions les plus fréquemment posées sur e-loue à propos de {{ section }}
 {% endblocktrans %}
{% endblock %}

{% block content %}
<div id="flatpages" class="container-main">
  <ul class="breadcrumb">
    <li><a href="{% url 'products.views.homepage' %}">{% trans "Accueil" %}</a></li>
    <li>{% trans "Questions Fréquentes" %}</li>
  </ul>
  <div class="one-content">
    <h1>{{ topic.title }}</h1>
    {% if topic.description %}
      <p>{{ topic.description }}</p>
    {% endif %}
    {% for question in question_list %}
      <h2 id="{{ question.slug }}">{{ question.question }}</h2>
      {{ question.answer|markdown }}
    {% endfor %}
  </div>
</div>
{% endblock %}