<div class="section-content">
    <form id="address_detail_form" class="indent-md-b" data-ng-submit="submitAddress()">
        <div class="row">
            <div class="col-sm-12">
                <input id="street" type="text" name="street" placeholder="Rue *"
                       required autofocus class="form-control" value="{{address.street}}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <input id="zip-code" type="text" name="zip-code" placeholder="Code postal *"
                       required autofocus class="form-control" value="{{address.zipcode}}">
            </div>
            <div class="col-sm-6">
                <input id="city" type="text" name="city" placeholder="Ville *"
                       required autofocus class="form-control" value="{{address.city}}">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label class="check-btn form-control">
                    <input type="checkbox" checked><span><i class="fa {{isDefaultAddress ? 'fa-check' : ''}}"></i></span>Addresse par défaut
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-right"><a href="#" class="text-danger text-underline-hover indent-sm-h">Supprimer</a>
                <button type="submit" class="btn-inline bg-success-hover text-white">Enregistrer</button>
            </div>
        </div>
        <input type="hidden" name="country" value="{{address.country}}" />
        <input type="hidden" name="zipcode" value="{{address.zipcode}}" />
        <input type="hidden" name="_method" value="PUT" />
    </form>
    <h3>Annonces associées à cette adresse</h3>
</div>
<section class="tabs-vertical-active">
    <ul class="block-with-thumbnail">
        <li class="tab-vertical block-with-thumbnail soon">
            <div class="col-thumbnail">
                <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
            </div>
            <div class="col-exposition">
                <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
                <p class="normal text-gray">
                    <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-table"></i><span>7</span></span>
                </p>
            </div>
        </li>
        <li class="tab-vertical block-with-thumbnail in-progress">
            <div class="col-thumbnail">
                <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
            </div>
            <div class="col-exposition">
                <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
                <p class="normal text-gray">
                    <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-table"></i><span>7</span></span>
                </p>
            </div>
        </li>
        <li class="tab-vertical block-with-thumbnail completed">
            <div class="col-thumbnail">
                <div class="thumbnail"><a href="#"><img src="../../../static/img/carousel-product/2.jpg" alt="BMW 520 Touring Luxe photo" width="130"></a></div>
            </div>
            <div class="col-exposition">
                <h3 class="small">Location <a href="#" class="text-underline-hover">BMW 520 Touring Luxe</a></h3>
                <p class="normal text-gray">
                    <big class="text-primary">168€ / jour</big><br><span class="average-rate"><span class="star"><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i><i class="current fa fa-lg fa-star"></i><i class="fa fa-lg fa-star"></i></span></span><span class="number-of-comments"><i class="fa fa-lg fa-comments-o"></i><span>12</span></span><span class="number-of-bookings"><i class="fa fa-lg fa-table"></i><span>7</span></span>
                </p>
            </div>
        </li>
    </ul>
</section>