<aside class="address-detail pull-nothing scrollbar-custom scrollbar-left">
    <div class="section-content">
        <form action="change-password" class="indent-md-b">
            <h2 class="indent-md-b">Modifaication de votre mot de passe</h2>
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <input id="old-password" type="text" name="old-password" placeholder="Ancien mot de passe *" required autofocus class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <input id="new-password" type="text" name="new-password" placeholder="Nouveau mot de passe *" required class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <input id="confirm" type="text" name="confirm" placeholder="Confirmation du nouveau mot de passe *" required class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-right"><a href="#" class="text-danger text-underline-hover indent-sm-h">Annuler</a>
                    <button type="submit" class="btn-inline bg-success-hover text-white">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</aside>