<aside class="address-detail pull-nothing scrollbar-custom">
    <div class="section-content full-width">
        <h2 class="indent-md-b">Locataire (débits)</h2>
        <p class="indent-sm-b"><span class="indent-xs-r">Carte de crédit : <b>4*** **** **** 2767 </b></span><span class="indent-xs-r">Expiratiion : <b>3/2016 </b></span><span class="indent-xs-r">(<a href="" class="text-success text-underline-hover">Editer la carte de crédit</a>)</span></p>
        <table class="calendar text-center">
            <thead>
            <tr>
                <td>Date</td>
                <td>Réservation</td>
                <td>Compte</td>
                <td>Paiement</td>
                <td>Débit</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>12/06/2014</td>
                <td class="text-left"><a href="" class="text-success text-underline-hover">BMW 520 Touring Luxe</a><br>Do  24 Juin 2014 au 26 Juin 2014</td>
                <td>4*** **** **** 2767</td>
                <td><a href="" class="text-success text-underline-hover">Reçu</a></td>
                <td>168€</td>
            </tr>
            <tr>
                <td>12/06/2014</td>
                <td class="text-left"><a href="" class="text-success text-underline-hover">BMW 520 Touring Luxe</a><br>Do  24 Juin 2014 au 26 Juin 2014</td>
                <td>4*** **** **** 2767</td>
                <td><a href="" class="text-success text-underline-hover">Reçu</a></td>
                <td>168€</td>
            </tr>
            <tr>
                <td>12/06/2014</td>
                <td class="text-left"><a href="" class="text-success text-underline-hover">BMW 520 Touring Luxe</a><br>Do  24 Juin 2014 au 26 Juin 2014</td>
                <td>4*** **** **** 2767</td>
                <td><a href="" class="text-success text-underline-hover">Reçu</a></td>
                <td>168€</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="section-content full-width">
        <h2 class="indent-md-b">Propriétaire (crédit)</h2>
        <p class="indent-sm-b"><span class="indent-xs-r">IBAN : <b>FR76000000000000 </b></span><span class="indent-xs-r">(<a href="" class="text-success text-underline-hover">Editer le IBAN</a>)</span></p>
        <table class="calendar text-center">
            <thead>
            <tr>
                <td>Date</td>
                <td>Réservation</td>
                <td>Compte</td>
                <td>Paiement</td>
                <td>Crédit</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>12/06/2014</td>
                <td class="text-left"><a href="" class="text-success text-underline-hover">BMW 520 Touring Luxe</a><br>Do  24 Juin 2014 au 26 Juin 2014</td>
                <td>4*** **** **** 2767</td>
                <td><a href="" class="text-success text-underline-hover">Orde</a></td>
                <td>168€</td>
            </tr>
            <tr>
                <td>12/06/2014</td>
                <td class="text-left"><a href="" class="text-success text-underline-hover">BMW 520 Touring Luxe</a><br>Do  24 Juin 2014 au 26 Juin 2014</td>
                <td>4*** **** **** 2767</td>
                <td><a href="" class="text-success text-underline-hover">Orde</a></td>
                <td>168€</td>
            </tr>
            <tr>
                <td>12/06/2014</td>
                <td class="text-left"><a href="" class="text-success text-underline-hover">BMW 520 Touring Luxe</a><br>Do  24 Juin 2014 au 26 Juin 2014</td>
                <td>4*** **** **** 2767</td>
                <td><a href="" class="text-success text-underline-hover">Orde</a></td>
                <td>168€</td>
            </tr>
            </tbody>
        </table>
    </div>
</aside>