<aside class="address-detail pull-nothing scrollbar-custom">
    <div class="section-content full-width">
        <h2>1 vérufucation sur 6</h2>
        <div class="block-with-thumbnail indent-lg-b">
            <div class="col-thumbnail">
                <div class="thumbnail text-success indent-sm-r"><i class="fa fa-fw fa-check-circle-o fa-6x"></i></div>
            </div>
            <div class="col-exposition">
                <p class="text-gray indent-sm-b">Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
            </div>
        </div>
        <h2>Vérifications actuelles</h2>
        <div class="block-with-thumbnail indent-lg-b">
            <div class="col-thumbnail">
                <div class="thumbnail text-info indent-sm-r"><i class="fa fa-fw fa-facebook fa-6x"></i></div>
            </div>
            <div class="col-exposition">
                <p class="text-gray indent-sm-b">Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p><a href="#" class="btn bg-info-hover text-white">Connectez-vous avec Facebook</a>
            </div>
        </div>
        <h2>Ajouter d’autres vérifications</h2>
        <div class="block-with-thumbnail disable indent-lg-b">
            <div class="col-thumbnail">
                <div class="thumbnail text-primary indent-sm-r"><i class="fa fa-fw fa-inbox fa-6x"></i></div>
            </div>
            <div class="col-exposition">
                <p class="text-gray indent-sm-b">Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p><a href="#" class="btn bg-primary-hover text-white">Connectez-vous avec Email</a>
            </div>
        </div>
        <div class="block-with-thumbnail disable indent-lg-b">
            <div class="col-thumbnail">
                <div class="thumbnail text-success indent-sm-r"><i class="fa fa-fw fa-phone fa-6x"></i></div>
            </div>
            <div class="col-exposition">
                <p class="text-gray indent-sm-b">Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p><a href="#" class="btn bg-success-hover text-white">Connectez-vous avec Phone</a>
            </div>
        </div>
        <div class="block-with-thumbnail indent-lg-b">
            <div class="col-thumbnail">
                <div class="thumbnail text-danger indent-sm-r"><i class="fa fa-fw fa-google-plus fa-6x"></i></div>
            </div>
            <div class="col-exposition">
                <p class="text-gray indent-sm-b">Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p><a href="#" class="btn bg-danger-hover text-white">Connectez-vous avec Google</a>
            </div>
        </div>
        <div class="block-with-thumbnail indent-lg-b">
            <div class="col-thumbnail">
                <div class="thumbnail text-blue indent-sm-r"><i class="fa fa-fw fa-linkedin-square fa-6x"></i></div>
            </div>
            <div class="col-exposition">
                <p class="text-gray indent-sm-b">Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p><a href="#" class="btn bg-blue-hover text-white">Connectez-vous avec Linkedin</a>
            </div>
        </div>
    </div>
</aside>