<div id="messageModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
<div class="modal-dialog large">
<div class="modal-content">
<div class="modal-header">
    <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">Message</h4>
</div>
<div class="modal-body table-cell">
<div class="static-part table-cell">
    <eloue-product-details-small></eloue-product-details-small>
    <eloue-product-details-booking in-modal="true" in-message="true"></eloue-product-details-booking>
</div>
<div class="change-part table-cell">
    <section class="dialogs">
        <div class="dialog-scroll-container">
            <div class="dialog-container">
                <article ng-repeat="message in productRelatedMessages | orderBy:'sent_at'" class="chat-item"
                         ng-class="{'left': !shouldIndent(message, productRelatedMessages, $first), 'right': shouldIndent(message, chatFeed, $first)}">
                    <section ng-if="!shouldIndent(message, productRelatedMessages, $first)">
                        <div class="message from-declarer">
                            <div class="thumbnail-img"><a href="#"><img
                                    ng-src="{{getAvatar(message.sender.avatar)}}" alt=""></a></div>
                            <div class="thumbnail-content">
                                <div class="thumbnail-frame">
                                    <h4>{{message.sender.slug}}</h4>

                                    <p ng-bind="message.body"></p>
                                </div>
                                <p class="time" ng-bind="message.sent_at | date : 'dd/mm/yyyy HH:mm'"></p>
                            </div>
                        </div>
                    </section>
                    <section ng-if="shouldIndent(message, productRelatedMessages, $first)">
                        <div class="message from-customer">

                            <div class="thumbnail-content">
                                <div class="thumbnail-frame">
                                    <h4>{{message.sender.slug}}</h4>

                                    <p ng-bind="message.body"></p>
                                </div>
                                <p class="time" ng-bind="message.sent_at | date : 'dd/mm/yyyy HH:mm'"></p>
                            </div>
                            <div class="thumbnail-img"><a href="#"><img
                                    ng-src="{{getAvatar(message.sender.avatar)}}" alt=""></a></div>
                        </div>
                    </section>
                </article>
            </div>
        </div>
    </section>
    <section class="input-message">
        <form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
        <div class="table-cell main-cell">

                <textarea name="" rows="4" placeholder="Rédigez votre message ici..." ng-model="newMessage.body"
                          data-watu-on-enter="postChatMessage(newChatMessage)" required></textarea>
        </div>
        <div class="table-cell">
            <button class="btn bg-success" data-ng-disabled="sendMessageForm.$invalid || !sendMessageForm.$dirty"
            type="submit">Envoyez
            </button>
        </div>
    </form>
    </section>
</div>
</div>
</div>
</div>
</div>