<section class="booking-form" ng-controller="ProductDetailsCtrl" ng-show="!inModal">
    <div class="section-header">
        <h4>Réservez en ligne</h4>
    </div>
    <form class="form-inline section-body text-center">
        <div class="part">
            <p><small>à partir de</small>
                <big class="text-primary">&nbsp;{{pricePerDay}} /jour</big>
            <div class="row date-picker">
                <div class="table-cell main-cell">
                    <div class="input-group">
                        <div class="input-group-addon">Du</div>
                        <input type="text" placeholder="" class="form-control"  name="fromDate" data-date-format="dd/mm/yyyy"
                               ng-model="bookingDetails.fromDate" ng-change="updatePrice()" eloue-datepicker>
                        <div class="input-group-addon calendar"><span></span></div>
                    </div>
                </div>
                <div class="table-cell">
                    <select class="form-control" name="fromHour" ng-model="bookingDetails.fromHour"
                            ng-options="h.value as h.label for h in hours" ng-change="updatePrice()">
                    </select>
                </div>
            <span ng-show="productDetailsBookingForm.fromDate.$dirty && productDetailsBookingForm.fromDate.$error.required"
                  class="text-danger">From date is required.</span>
                <span ng-show="productDetailsBookingForm.fromDate.$dirty && productDetailsBookingForm.fromDate.$error.pattern"
                      class="text-danger">Invalid date.</span>
            </div>
            <div class="row date-picker">
                <div class="table-cell main-cell">
                    <div class="input-group">
                        <div class="input-group-addon">Au</div>
                        <input type="text" placeholder="" class="form-control"  name="toDate" data-date-format="dd/mm/yyyy"
                               ng-model="bookingDetails.toDate" ng-change="updatePrice()" eloue-datepicker>
                        <div class="input-group-addon calendar"><span></span></div>
                    </div>
                </div>
                <div class="table-cell">
                    <select class="form-control" name="toHour" ng-model="bookingDetails.toHour"
                            ng-options="h.value as h.label for h in hours" ng-change="updatePrice()">
                    </select>
                </div>
                <span ng-show="productDetailsBookingForm.toDate.$dirty && productDetailsBookingForm.toDate.$error.required"
                      class="text-danger">From date is required.</span>
                <span ng-show="productDetailsBookingForm.toDate.$dirty && productDetailsBookingForm.toDate.$error.pattern"
                      class="text-danger">Invalid date.</span>
            </div>
            </p>
            <span ng-show="dateRangeError" class="text-danger">{{dateRangeError}}</span>
            <p class="available" ng-show="available">Cet article est disponible à ces dates</p>
            <p class="available unavailable" ng-show="!available">Cet article est disponible à ces dates</p>
        </div>
        <div class="part">
            <p>Durée de la location : <b class="period-days">{{duration}}</b></p>
            <p class="price">Prix de la location :
                <big class="text-primary">&nbsp;{{bookingPrice}}</big>
            </p>
            <p>Assurance incluse</p>
        </div>
        <div class="part">
            <button type="submit" class="btn bg-success" ng-click="openBookingModal()" ng-show="!inBooking"><span></span>Réservez</button>
            <p class="mrg-v-1"><small>Cette somme vous sera débitée lorsque le propriétaire validera la location</small></p>
        </div>
    </form>
</section>

<section class="terms" ng-show="inModal">
    <div class="row date-picker">
        <div class="table-cell main-cell">
            <div class="input-group">
                <div class="input-group-addon">Du</div>
                <input type="text" placeholder="" class="form-control"  name="fromDate" data-date-format="dd/mm/yyyy"
                       ng-model="bookingDetails.fromDate" ng-change="updatePrice()" eloue-datepicker>

                <div class="input-group-addon calendar"><span></span></div>
            </div>
        </div>
        <div class="table-cell">
            <select class="form-control" name="fromHour" ng-model="bookingDetails.fromHour"
                    ng-options="h.value as h.label for h in hours" ng-change="updatePrice()">
            </select>
        </div>
    </div>
    <div class="row date-picker">
        <div class="table-cell main-cell">
            <div class="input-group">
                <div class="input-group-addon">Au</div>
                <input type="text" placeholder="" class="form-control"  name="toDate" data-date-format="dd/mm/yyyy"
                       ng-model="bookingDetails.toDate" ng-change="updatePrice()" eloue-datepicker>

                <div class="input-group-addon calendar"><span></span></div>
            </div>
        </div>
        <div class="table-cell">
            <select class="form-control" name="toHour" ng-model="bookingDetails.toHour"
                    ng-options="h.value as h.label for h in hours" ng-change="updatePrice()">
            </select>
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item"><span class="col-sm-5">Durée</span><span
                class="col-sm-7">{{duration}}</span>
        </li>
        <li class="list-group-item"><span class="col-sm-5">Prix</span><span
                class="col-sm-7 text-success">{{bookingPrice}}</span>
        </li>
        <li class="list-group-item"><span class="col-sm-5">Caution</span><span
                class="col-sm-7">{{product.deposit_amount}}€</span>
        </li>
    </ul>
    <p>Vestibulum id ligula porta felis euismod semper. Crasilover mattis consectetur purus sit amet
        fermentum. Doneckea ullamcorper nulla non metus auctor fringilla.</p><a
        href="#" class="btn bg-success" ng-click="openBookingModal()" ng-show="!inBooking">Réservez</a>

    <p></p>
    <a href="#" ng-click="openPhoneModal()" class="btn bg-gray" ng-show="inMessage">Appelez</a>
    <a href="#" ng-click="openMessageModal()" class="btn bg-gray" ng-show="!inMessage">Envoyez un message</a>
</section>