/*****
20min
******/
.mn-doc, .mn-pub-container, .mn-pub-mention
{
  background: #ECF6FF url("../images/body-bg.png") repeat 0 0;
}
.mn-ft  ul, .mn-ft ol			{ margin-left: 0px; margin-bottom: 0; }
.mn-ft li ul,
.mn-ft li ol			{ margin-top: 0; }

.mn-shorcuts ul li, .mn-hat ul li, .mn-doc ul li, .mn-ft ul li  { list-style-type: none; }
.mn-shorcuts li, .mn-hat li, .mn-doc li, .mn-ft	li{ margin-bottom: 0 }

body .m-ft , body .mn-shorcuts, body .mn-hat, body .mn-doc, body .mn-ft 
{
   font: 13px arial, helvetica, clean, sans-serif;
}
.logo { padding-top: 10px;}
#wrapper { font-size: 14px;}
#footer 
{
  font-size: 14px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#footer li, .category-home li { margin-bottom: 0.5em; }
.mn-ft-mention { height: 20px; }
.mn-ft a { color: #666 !important; line-height: 20px;}
.mn-ft h3, .mn-ft h4, .mn-ft h5 
{ 
  font-size: 12px;
  color: #555; 
}

.mn-ft h5 { margin-bottom: 0px; }

.product-booking-top, .product-booking-bottom { margin-left: 0px; }

.result .first
{
  border-left: 1px;
}
