/*****
20min
******/
.mn-doc, .mn-pub-container, .mn-pub-mention
{
  background: #ECF6FF url("../images/body-bg.png") repeat 0 0;
}
.mn-ft  ul, .mn-ft ol			{ margin-left: 0px; margin-bottom: 0; }
.mn-ft li ul,
.mn-ft li ol			{ margin-top: 0; }

.mn-shorcuts ul li, .mn-hat ul li, .mn-doc ul li, .mn-ft ul li  { list-style-type: none; }
.mn-shorcuts li, .mn-hat li, .mn-doc li, .mn-ft	li{ margin-bottom: 0 }

body .m-ft , body .mn-shorcuts, body .mn-hat, body .mn-doc, body .mn-ft 
{
   font: 13px arial, helvetica, clean, sans-serif;
}
.logo { padding-top: 10px;}
#wrapper { font-size: 14px;}
#footer {font-size: 14px;}
.category-home li { margin-bottom: 0.5em; }