/* *************************************************
  Home page
************************************************** */
.product-home { text-align: center; margin-bottom: 20px;}
  
  .product-home-title
  {
    color: #6EB924 !important;
    font-size: 16px;
  }
  
  .product-home-img a
  {
    display: block; 
    height: 140px; 
    padding-bottom: 10px;
  }
  
  .category-home ul li{ list-style-type: none;}


/* *************************************************
  Product page
************************************************** */
.product {}

  .product-pic
  {
    float: left;
    background: #F5F5F1 url("../images/pic-bg.png") repeat 0 0;
    border: 1px solid #EAEAEA;
    margin-bottom: 15px;
    padding-top: 3px;
    text-align: center;
    width: 472px;
  }
  
  .product-thumbs
  {
    float: left;
    text-align: center;
    width: 100px;
  }
  
  .product-desc
  {
    line-height: 1.30em;
    color: #364c59;
  }
  
  .product-booking-top
  {
    border: 1px solid #BFD1E2;
    padding: 10px 0px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		background: -webkit-gradient(linear, 0 0, 0 50%, from(#d6e5f2), to(#e4eff9));
    background: -moz-linear-gradient(top, #d6e5f2, #e4eff9);
    background-color: #d6e5f2;
    color: #364C59;
  }
    .product-price, .booking-total { float: left; width: 260px; margin: 0px 20px 10px 20px; }
  
      .product-price .price
      {
        font-size: 24px;
        font-weight: bold;
      }

      .product-price .unit
      {
        font-weight: bold;
      }
      
    .booking-date-start, .booking-date-end {
      float: left;
      margin-left: 20px;
      margin-bottom: 20px;
      width: 120px;
    }
    
      .booking-date-start input, .booking-date-end input 
      {
        background: #FFF url("../images/icone-calendrier.png") no-repeat 98px 7px; 
        width: 109px;
      }
    
    .booking-total
    {
      background: transparent url("../images/separateur2.png") no-repeat 0 0;
      padding-top: 20px;
    }
    
      .booking-total p
      {
        text-align: right;
      }
      
      .booking-total .day
      {
        font-weight: bold;
        margin-left: 20px;
      }
      
      .booking-total .total-price
      {
        font-size: 24px;
        color: #FF7200;
        font-weight: bold;
      }
  
  .product-booking-bottom
  {
    background: #d6e5f2 url("../images/booking-bottom-bg.png") repeat 0  0;
    border-top: none;
    border-right: 1px solid #BFD1E2;
    border-left: 1px solid #BFD1E2;
    border-bottom: 1px solid #BFD1E2;
    padding: 10px 0px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .product-properties { color: #364C59;}
  
    .product-properties .p-value
    {
      font-weight: bold;
    }
  
    .product-properties .owner
    {
      color: #6EB924 !important;
    }


/* *************************************************
    Result page
************************************************** */

.result {}

.suggestion
{
  padding: 10px 0px;
}
    
.facet-dist {}

  .facet-dist .ins
  {
    width: 35px;
    text-align: right;
  }
  
  .facet-dist .unit
  {
    margin-left: 3px;
    margin-right: 5px;
    font-weight: bold;
  }
  
  .facet-dist .portlet-bottom p
  {
    font-size: 12px;
    line-height: 18px;
  }
  
  .facet-dist .town
  {
    font-weight: bold;
  }
  
  .facet-dist .position
  {
    font-weight: bold;
    color: #6EB924;
  }

.facet-cat {}

  .facet-cat ul
  {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
    .facet-cat li
    {
      background: transparent url("../images/branch-close.png") no-repeat 0px 1px;
      list-style-type: none;
      margin-bottom: 0px;
      padding-left: 15px;
    }
    
    .facet-cat li.open
    {
      background: transparent url("../images/branch-open.png") no-repeat 0px 3px;
      padding-left: 15px;
    }

  .facet-cat a
  {
    display: block;
    color: #6EB924;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 10px;
  }
  
  .facet-cat .portlet-top a
  {
    padding-top: 10px;
  }
  
  .facet-cat .root{
    padding-top: 10px;
  }
  
    .facet-cat .node
    {
     margin-left: 15px;
    }
    
      .facet-cat .leaf
      {
        margin-left: 15px;
      }
      
        .facet-cat .leaf li
        {
          background-image: none;
        }

/* *************************************************
  signup page
************************************************** */

.signup {}


  .signup p {margin-bottom: 15px;}
  
    .signup .email label, .signup .question
    {
      font-weight: bold;
    }
    
    .signup .email input, .signup .password input
    {
      margin-left: 20px;
    }
    
    .signup .email input
    {
      width: 300px;
      margin-bottom: 15px;
    }
    
    .signup .password input
    {
      width: 210px;
      margin-right: 20px;
      margin-left: 195px;
    } 
    
    .signup .pd-forget
    {
      color: #6EB924;
    }
    
/* *************************************************
  more-info page
************************************************** */
    
.more-info{}
  
  .more-info td
  {
    padding-bottom: 0px;
  }
  .more-info input, .more-info textarea
  {
    width: 300px;
  }
  
  .more-info textarea
  {
    height: 40px;
  }
  
  .more-info select
  {
    width: 325px;
  }
  
  .more-info th
  {
    width: 140px;
    text-align: left;
    padding-top: 15px;
  }
  
  .more-info .company-name
  {
    display: none;
  }
  
  .more-info .street
  {
    margin-bottom: 0px;
  }
  
  .more-info .zipcode
  {
    width: 100px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .more-info .town
  {
    width: 167px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .more-info .country
  {
    margin-top: 0px;
  }
  
  .more-info .cg
  {
    border: 1px solid #A4BCCA;
    display: block;
    height: 5em;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 8px 0px 8px 8px;
  }
  
  .more-info .terms
  {
    padding-top: 20px;
  }
  
  .more-info .terms a
  {
    color: #6EB924;
  }

/* *************************************************
  new rental page
************************************************** */

.new {}

  .new th
  {
    width: 120px;
    text-align: left;
    padding-top: 15px;
  }
  
  .new td
  {
    padding-bottom: 0px;
  }

  .new input { width: 300px;}
  
  .new select 
  { 
    width: 445px;
  }
  
  .new textarea
  {
    width: 300px;
    height: 120px;
  }
  
  .new .price
  {
    text-align: right;
    width: 50px;
  }
  
  .new .unit
  {
    font-size: 16px;
  }
  

/* *************************************************
  confirm booking page
************************************************** */

.booking {}
  
  .booking-product
  {
    margin-bottom: 30px;
  }
  
    .booking-product .pl-distance
    {
      width: 205px;
    }
    
  .booking-resume
  {
    background: #faffe4;
    border: 1px solid #ded9a0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 30px;
  }
    
    .booking-resume table
    {
      margin-bottom: 0px;
    }
      
      .booking-resume tr
      {
        height: 52px;
        border-bottom: 1px solid #ded9a0;
      }
      
      .booking-resume th
      {
        padding-left: 20px;
        text-align: left;
        vertical-align: middle;
      }
      
      .booking-resume td
      {
        vertical-align: middle;
      }
      
      .booking-resume td.number, .booking-resume th.total
      {
        font-weight: bold;
      }
      
      .booking-resume .total .number
      {
        font-size: 30px;
        color: #FF7200 ;
      }
      
      .booking-resume .total
      {
        background: #fbf4a5 !important;
      }
    
    .booking-resume input 
    {
      background: #FFF url("../images/icone-calendrier.png") no-repeat 98px 7px; 
      width: 109px;
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom:5px;
    }
  
    .booking-resume select
    {
      height: 30px;
      margin-top: 5px;
      margin-bottom:5px;
    }
    
    .booking-paiement
    {
      margin-bottom: 30px;
    }
    
    .booking-submit
    {
      text-align: right;
    }
  
/* *************************************************
  public profil page
************************************************** */

.public-profil {}
  
  .pp-info 
  {
    background-color: #ECF6FF;
    padding: 10px 0px; 
  }
    .pp-info p
    {
      font-weight: bold;
      padding: 0px 10px;
    }

/* *************************************************
   doashbord layout page
************************************************** */
#menu{
  background: -webkit-gradient(linear, 0 0, 0 50%, from(#d6e5f2), to(#e4eff9));
  background: -moz-linear-gradient(top, #d6e5f2, #e4eff9);
  background-color: #d6e5f2;
  border-top: 1px solid #ccdbe9;
  border-left: 1px solid #ccdbe9;
  border-right: 1px solid #ccdbe9;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  padding: 20px 0;
  margin-bottom: 0px;
}
  #menu ul { margin-bottom: 0px; }
  
  .menu-tab
  {
    float: left;
    display: inline;
    list-style-type: none;
    margin: 0 25px;
    font-size: 18px;
  }
  
  .menu-tab a, .sub-tab a { color: #9eb0ba; }
  
  .menu-tab a:hover,.sub-tab a:hover, .menu-tab.selected a, .sub-tab.selected a{  color: #364C59; }
  
  .menu-tab a:hover,.sub-tab a:hover { text-decoration: none; }
  
  #menu .first, #sub-menu .first { margin-left: 0px; }
  
#sub-menu {
  background: -webkit-gradient(linear, 0 0, 0 50%, from(#f6f7f8), to(#eff0f1));
  background: -moz-linear-gradient(top, #f6f7f8, #eff0f1);
  background-color: #f6f7f8;
  border-left: 1px solid #ccdbe9;
  border-right: 1px solid #ccdbe9;
  border-top: 1px solid #b9cad4;
  margin: 0px;
}
  #sub-menu ul { margin-bottom: 0px;}
  
  .sub-tab
  {
    float: left;
    display: inline;
    list-style-type: none;
    margin: 0 15px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 0;
  }
  
  .sub-tab.selected
  {
    text-shadow: 1px 1px 1px #FFF;
  	-moz-text-shadow: 1px 1px 1px #FFF;
  	-webkit-text-shadow: 1px 1px 1px #FFF;
  }

/* *************************************************
  doashbord page
************************************************** */

.welcome-dash
{
  background-color: #f3f8fa;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
}
  .welcome-dash .pseudo
  {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }

.new-user.box-info-content a { color: #364C59;}
.new-user.box-info-content li 
{
  list-style-type: none;
  list-style-image: none;
}
  
.resume-dash{ margin-bottom: 20px;}

  .resume-box-dash
  {
    background-color: #f5f7f9;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
    .resume-box-dash a { font-size: 48px; }
    
    .resume-box-dash a.highlight { color: #FF7200;}
    
    .resume-box-dash span { font-size: 12px; }

/* *************************************************
  doashbord page
************************************************** */

#content-dash .portlet
{
  background: #FFF !important;
}
.portlet-content .bk-status
{
  background-color: #fff ;
  margin-left: 23px;
  margin-top: 10px;
}

/* *************************************************
  new-password page
************************************************** */
.new-password th { width: 175px;}

/* *************************************************
  incident page
************************************************** */

.incident { margin-bottom: 20px;}
  .incident textarea 
  { 
    width: 355px;
    height: 90px;
  }
  
  .incident .submit-wizard
  {
    margin-top: 20px;
  }
  
.incident-info
{
  color: #6EB924;
}

/* **************************************************
  Contact page
**************************************************** */
.contact textarea
{
  height: 200px;
}

/* **************************************************
  How-to page
**************************************************** */
.ht-title h1 { font-weight: bold;}
.ht-baseLine 
{ 
  color: #9EB0BA;
  text-align: right;
  font-size: 18px;
  padding-top: 4px;
}

.ht-col{
}

<<<<<<< HEAD
  .ht-col h1
  {
    background: transparent url("../images/content-h-bg.png") repeat-x 0 bottom;
=======
  .ht-col h2
  {
    background: transparent url("../images/content-h-bg.png") repeat-x 0 bottom;
    font-size: 20px;
>>>>>>> 851709c11a7102a90cf50989ea6aed5ae06d453c
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    margin: 0 30px;
<<<<<<< HEAD
    line-height: 38px;
  }
    .ht-col h1 strong
    {
      font-size: 48px;
=======
  }
    .ht-col h2 strong
    {
      font-size: 32px;
>>>>>>> 851709c11a7102a90cf50989ea6aed5ae06d453c
    }
    
    .ht-col ol
    {
      padding: 10px 0;
      margin: 0 30px;
    }
    
    .ht-col li
    {
      margin: 10px 0;
      height: 90px;
    }
      
      .ht-number
      {
        display: block;
        float: left;
        height: 60px;
        width: 60px;
        margin-top: 5px;
        margin-right: 10px;
        margin-bottom: 15px;
      }
      
       .ht-n1-g { background: transparent url("../images/steps_number.png") no-repeat 0px 0px; }
       .ht-n2-g { background: transparent url("../images/steps_number.png") no-repeat 0px -60px; }
       .ht-n3-g { background: transparent url("../images/steps_number.png") no-repeat 0px -120px; }
       .ht-n4-g { background: transparent url("../images/steps_number.png") no-repeat 0px -180px; }
       
       .ht-n1-o { background: transparent url("../images/steps_number.png") no-repeat -60px 0px; }
       .ht-n2-o { background: transparent url("../images/steps_number.png") no-repeat -60px -59px; }
       .ht-n3-o { background: transparent url("../images/steps_number.png") no-repeat -60px -119px; }
       .ht-n4-o { background: transparent url("../images/steps_number.png") no-repeat -60px -179px; }
       
       .ht-number.orange { background-color: #FF7200; }
       
      
      .ht-desc
      {
        color: #9EB0BA;
      }
        .ht-desc span
        {
          color: #364C59;
          font-size: 23px;
          line-height: 32px;
        }
        
      .ht-fonction.x12
      {
        background-color: #f5f7f9;
        width: 800px;
        margin-left: 60px;
        -moz-border-radius: 5px;
  	    -webkit-border-radius: 5px;
  	    border-radius: 5px;
  	    padding: 10px 0;
      }
      
        .ht-fonction h1
        {
          text-align:center;
          background: transparent url("../images/content-h-bg.png") repeat-x 0 bottom;
          margin: 0 40px;
          padding-bottom: 20px;
          font-weight:  bold;
        }  
  