.btn {
  vertical-align: -65%;
  padding: 9px 10px 8px ;
}

.btn-other-town { vertical-align: 0%; }

.breadcrumb li {
  line-height: 29px;
  vertical-align: -15%;
}

.comment-img {
  margin-top: 15px;
}
.comment-content {
  margin-left: 80px;
}

.comment-writter .stars.empty {
  margin-top: -20px !important;
}

.search-box-q { width: 182px !important; height: 24px !important; line-height: 24px;}
.btn-search { vertical-align: -46% !important; }
