body { background: #ECF6FF url("../images/lupa/body-bg.gif") repeat 0 0; }

.nav-link, .search-what a, .product-home-title, .category-home h3 a { color: #eb39e1 !important; }

.product-home span
{
	color: #637a86;
}

#content
{
  box-shadow: 1px 1px 0px #dea4dc;
  -moz-box-shadow: 1px 1px 0px #dea4dc;
  -webkit-box-shadow: 1px 1px 0px #dea4dc;
}

#content { border: 1px solid #e5a6e3;}

.search
{
  background: #fbebcc; /* old browsers */
  background: -moz-linear-gradient(top, #fbebcc 0%, #fbebcc 99%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbebcc), color-stop(99%,#fbebcc)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbebcc', endColorstr='#fbebcc',GradientType=0 ); /* ie */
  border: 1px solid #d5ac5f;
  padding: 10px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
	.search-header { background: transparent url("../images/lupa/separateur.png") no-repeat 495px 13px; }
	.search-header h1{ color: #8e28af !important; } 

.lupa 
{ 
	position: relative;
	height: 210px;
	border-bottom: 2px solid #b9cad4;
}
	.lupa-folder-link
	{
		background: transparent url("../images/lupa/lupa_bg.png") no-repeat 0 0;
		display: block;
		position: absolute;
		top: -22px;
		left: 0px;
		text-indent: -9999px;
		height: 232px;
		width: 312px;
	}
	
.big-orange { background: transparent url("../images/lupa/btn-jaune.png") no-repeat 0 0; }
  .big-orange:hover { background: transparent url("../images/lupa/btn-jaune.png") no-repeat 0 -38px; }
  .big-orange:active { background: transparent url("../images/lupa/btn-jaune.png") no-repeat 0 -76px; }

.medium-green{ background: transparent url("../images/lupa/btn-rose.png") no-repeat 0 0; }
  .medium-green:hover { background: transparent url("../images/lupa/btn-rose.png") no-repeat 0 -32px; }
  .medium-green:active { background: transparent url("../images/lupa/btn-rose.png") no-repeat 0 -64px; }