/*****
nc
******/

.pub-size
{
	text-align: center;
	padding-top: 25px;
}
.pub-header {}
	.pub-header div 
	{
		width: 728px;
		height: 90px;
		margin: 0 0 10px 106px;
		border: 1px solid #000;
	}
.pub-content {}
	.pub-content
	{
		width: 300px;
		height: 250px;
		border: 1px solid #000;
	}
.curiosities { height: 284px; }