html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, sup,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
padding: 0;
margin: 0;
border: 0;
vertical-align: baseline
}

.xgrid { width: 980px; margin: 0 auto; }

.x1 				{ width: 60px; }
.x2 				{ width: 140px; }
.x3 				{ width: 220px; }
.x4 				{ width: 300px; }
.x5 				{ width: 380px; }
.x6 				{ width: 460px; }
.x7 				{ width: 540px; }
.x8 				{ width: 620px; }
.x9 				{ width: 700px; }
.x10 				{ width: 780px; }
.x11 				{ width: 860px; }
.x12 				{ width: 940px; }

	.a1			{ padding-right: 80px; }
	.a2			{ padding-right: 160px; }
	.a3			{ padding-right: 240px; }
	.a4			{ padding-right: 320px; }
	.a5			{ padding-right: 400px; }
	.a6			{ padding-right: 480px; }
	.a7			{ padding-right: 560px; }
	.a8			{ padding-right: 640px; }
	.a9			{ padding-right: 720px; }
	.a10		{ padding-right: 800px; }
	.a11		{ padding-right: 880px; }
	.a12		{ padding-right: 960px; }
	
	.p1			{ padding-left: 80px; }
	.p2			{ padding-left: 160px; }
	.p3			{ padding-left: 240px; }
	.p4			{ padding-left: 320px; }
	.p5			{ padding-left: 400px; }
	.p6			{ padding-left: 480px; }
	.p7			{ padding-left: 560px; }
	.p8			{ padding-left: 640px; }
	.p9			{ padding-left: 720px; }
	.p10		{ padding-left: 800px; }
	.p11		{ padding-left: 880px; }
	.p12		{ padding-left: 960px; }

	
.x1, .x2, .x3, .x4, 
.x5, .x6, .x7, .x8, 
.x9, .x10, .x11,  .x12 
{
	margin-left: 20px;
	float: left;
}

.first
{
  margin-left: 0px;
}

.xbreak { clear: both; }

.xgrid:after {
content: "\0020";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}


h1,h2,h3,
h4,h5,h6		{ font-weight:bold; margin-bottom: .71em; }

h1 				{ font-size: 24px; color: #546B78; line-height: 1em; font-weight: normal;}
h2 				{ font-size: 18px; font-weight: normal; color: #364C59; margin-bottom: 0.93em }
h3 				{ font-size: 16px; color: #6EB924; line-height: 1; }
h4        { font-size: 16px; color: #364C59; line-height: 1; }
h5        { font-size: 14px; color: #364c59; line-height: 1; font-weight: bold;}

p           	{}
p.last      	{ margin-bottom: 0 }
img         	{ border: none; }

ul, ol			{ margin-left: 0px; margin-bottom: 1.5em; }
li ul,
li ol			{ margin-top: 1em; }
ul li			{ list-style-type: disc; }
li				{ margin-bottom: .5em; }

a				{ color: #364C59; text-decoration: none; }
a:visited		{ color: #364C59; }
a:focus, 
a:hover     	{text-decoration: underline;}

table { width: 100%; border: 0; margin-bottom: 2em;  }

table th { padding: 10px 0; }
table tbody td { padding: 5px 0px; }

table td { vertical-align: top; }



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
  width: 980px;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}


.clear { clear: both; }

.btn-paypal
{
  background: transparent url("../images/btn1_for_hub.gif");
  height: 42px;
  width: 440px;
  border: none;
  cursor: pointer;
}

.btn
{
  color: #FFF !important;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	-moz-text-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.25);
	cursor: pointer;
	position: relative;
	line-height: 1em;
	border: none;
}

.btn:hover
{
  text-decoration: none;
}

  .small-green
  {
    background: transparent url("../images/btn-green3.png") no-repeat 0 0;
    width: 72px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }

  .medium-green
  {
    background: transparent url("../images/btn-green1-2.png") no-repeat 0 0;
    width: 165px;
    height: 32px;
    font-size: 14px;
    line-height: 31px;
  }
    .medium-green:hover { background: transparent url("../images/btn-green1-2.png") no-repeat 0 -32px; }
    .medium-green:active { background: transparent url("../images/btn-green1-2.png") no-repeat 0 -64px; }
  
  .big-green
  {
    background: transparent url("../images/btn-green2.png") no-repeat 0 0;
    width: 141px;
    height: 38px;
    font-size: 18px;
    line-height: 34px;
  }
    
  .bk-green
  {
    background: transparent url("../images/btn-bk-green.png") no-repeat 0 0;
    width: 150px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
  
  .small-orange
  {
    background: transparent url("../images/btn-orange2.png") no-repeat 0 0; 
    width: 72px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }

  .big-orange
  {
   background: transparent url("../images/btn-orange1-2.png") no-repeat 0 0; 
   width: 140px;
   height: 38px;
   font-size: 18px;
   line-height: 34px;
  }
    .big-orange:hover { background: transparent url("../images/btn-orange1-2.png") no-repeat 0 -38px; }
    .big-orange:active { background: transparent url("../images/btn-orange1-2.png") no-repeat 0 -76px; } 
  
  .bk-orange
  {
    background: transparent url("../images/btn-bk-orange.png") no-repeat 0 0; 
    width: 150px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
  
  .small-blue, .medium-blue, .big-blue, .btn-profil
  {
    font-size: 14px;
    color: #364c59 !important;
    text-shadow: 1px 1px 1px #FFF;
  	-moz-text-shadow: 1px 1px 1px #FFF;
  	-webkit-text-shadow: 1px 1px 1px #FFF;
  	font-weight: normal;
  }
  
  .small-blue
  {
    background: transparent url("../images/btn-blue.png") no-repeat 0 0; 
    width: 95px;
    height: 29px;
    line-height: 29px;
  }
  
  .medium-blue
  {
    background: transparent url("../images/btn-blue2.png") no-repeat 0 0; 
    width: 105px;
    height: 29px;
    line-height: 29px;
  }
  
  .big-blue
  {
    background: transparent url("../images/btn-blue3.png") no-repeat 0 0; 
    width: 125px;
    height: 29px;
    line-height: 30px; 
  }
  
  .btn-profil
  {
    background: transparent url("../images/btn-blue4.png") no-repeat 0 0; 
    width: 190px;
    height: 29px;
    line-height: 30px; 
  }

  .btn-next, .btn-prev{
    display: block;
    height: 21px;
    width: 20px;
  }

  .btn-next{
    background: transparent url("../images/btn-next.png") no-repeat 0 0;
  }

  .btn-prev{
    background: transparent url("../images/btn-prev.png") no-repeat 0 0;
  }
  
  body
  {
    color: #364C59;
    background: #ECF6FF url("../images/body-bg.png") repeat 0 0;
    font: 14px arial,sans-serif;
  }
  
  .notification
  {
      z-index: 1;
      background-color: #fff;
      display: none;
      text-align: center;
      width: 100%;
      position: fixed;
      height: 24px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0;
      font-weight: bold;
      font-size: 1.2em;
      overflow: visible;
      cursor: pointer;
  }
  
  .notification.success, .notification.info
  {
    background: transparent url("../images/info_flash.png") repeat-x 0 0;
    color: #9f8f58;
  }
  
  .notification.error, .notification.warning
  {
    background: transparent url("../images/error_flash.png") repeat-x 0 0;
    color: #f46868;
  }
  
  #header
  {
    padding-top: 13px;
    margin-bottom: 20px;
  }
    #header .x2
    {
      margin-left: 0px;
      width: 180px;
    }
    
    .nav-bar{}

    .nav
    {
      float: right  ;
      display: inline;
      padding-left: 42px;
    }
    
    .nav-bar .welcome
    {
      padding-top: 18px;
    }

      .nav-link
      {
        display: block;
        padding-top: 18px ;
        color: #6EB924 !important;
      }

      .nav .btn{
        margin-top: 10px;
      }
      
  #top-content, #content, #footer, #content-product, #content-dash
  {
    box-shadow: 1px 1px 0px rgba(193, 208, 222, 0.75);
	  -moz-box-shadow: 1px 1px 0px rgba(193, 208, 222, 0.75);
	  -webkit-box-shadow: 1px 1px 0px rgba(193, 208, 222, 0.75);
  }

  #top-content 
  { 
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  	-moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  	-webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px; 
  }
      .search
      {
        -webkit-box-shadow:1px 1px 0 rgba(193, 208, 222, 0.75), inset 0px 1px 0px rgba(255,255,255,0.7);
        -moz-box-shadow: 1px 1px 0 rgba(193, 208, 222, 0.75),inset 0px 1px 0px rgba(255,255,255,0.7);
        box-shadow: 1px 1px 0 rgba(193, 208, 222, 0.75),inset 0px 1px 0px rgba(255,255,255,0.7);
        background: #E4EFF9; /* old browsers */
        background: -moz-linear-gradient(top, #E4EFF9 0%, #D6E5F2 99%); /* firefox */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E4EFF9), color-stop(99%,#D6E5F2)); /* webkit */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E4EFF9', endColorstr='#D6E5F2',GradientType=0 ); /* ie */
        border: 1px solid #BFD1E2;
        padding: 10px 0px;
        -moz-border-radius: 5px;
  	    -webkit-border-radius: 5px;
  	    border-radius: 5px;
      }
      .search-header
      {
        background: transparent url("../images/separateur2.png") no-repeat 305px 13px;
      }
      .search-header h1
      {
        color:#7C4D32 !important;
      }

      .search-what input, .search-where input
      {
        width: 358px;
      }

      .search-what span
      {
        font-size: 12px;
        color: #546B78;
      }

      .search-what a
      {
        font-size: 12px;
        color: #6EB924 !important;
      }

      .search-find
      {
        padding-top: 23px;
      }

  #content 
  { 
    background-color: #FFF;
    border: 1px solid #ccdbe9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px 0px 0px;
  }

	#content-product, #content-dash
	{
		background-color: #FFF;
    border: 1px solid #ccdbe9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 0px 0px 0px;
	}
	
		.breadcrumb
		{
			display: block;
			float: left;
		  background-color: #f3f8fa;
		  border-bottom: 1px solid #ccdbe9;
		  width: 980px;
		  -moz-border-radius-topleft: 5px;
		  -moz-border-radius-topright: 5px;
		  -webkit-border-top-left-radius: 5px;
		  -webkit-border-top-right-radius: 5px;
		  border-top-left-radius: 5px;
		  border-top-right-radius: 5px;
			margin-bottom: 15px;
		}
			
			.breadcrumbs
			{
				margin: 0;
				padding: 0;
			}
			.breadcrumbs li
			{
				background: transparent url("../images/b-sign.png") no-repeat 0 0;
				display: inline;
				float: left;
				padding: 5px 31px;
				margin: 0;
				height: 18px;
				font-weight: bold;
			}
			.breadcrumbs li.first { background: none; }
			.breadcrumbs li a { font-weight: normal; }
			

    .content-header
    {
      background: transparent url("../images/content-h-bg.png") repeat-x 0 bottom;
      margin-bottom: 10px;
    }
    
    .content-guarantees
    {
      float: left;
      width: 720px;
      height: 87px;
      background-color: #fdffe4;
      border-top: 1px solid #ded9a0;
      border-left: 1px solid #ded9a0;
      border-bottom: 1px solid #ded9a0;
      -moz-border-radius-bottomleft: 5px;
      -moz-border-radius-topleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
  		-webkit-border-top-left-radius: 5px;
  		border-top-left-radius: 5px;
  		border-bottom-left-radius: 5px;
	    padding: 20px 0;
	    margin-bottom: 20px;
	    margin-left: 20px;
    }
      .guarantees
      {
        float: left;
        width: 680px;
        margin-left: 20px;
      }
        .guarantees h2
        {
          background: transparent url("../images/guarantee-h-bg.png.png") repeat-x 0 bottom;
          padding-bottom: 10px;
        }
        
        .g-payment, .g-assurancy
        {
          float: left;
          width: 255px;
          height: 40px;
          padding-left: 50px;
        }
        .g-payment 
        { 
          background: transparent url("../images/lock.png") no-repeat 0 0;
          margin-right: 70px;
        }
        .g-assurancy { background: transparent url("../images/assurancy.png") no-repeat 0 0; }
    
    .content-partner
    {
      background: transparent url("../images/bg_partner.png") repeat 0 0;
      float: left;
      width: 218px;
      height: 107px;
      border-top: 1px solid #ded9a0;
      border-right: 1px solid #ded9a0;
      border-bottom: 1px solid #ded9a0;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-bottom-right-radius: 5px;
  		-webkit-border-top-right-radius: 5px;
  		border-top-right-radius: 5px;
  		border-bottom-right-radius: 5px;
	    padding: 10px 0;
	    margin-bottom: 20px;
	    margin-right: 19px;
    }
      .content-partner .slide { display: block; }
      .content-partner .pp { margin-top: 3px; margin-left: 60px; }
      .content-partner .as { display: none; margin-top: 8px; margin-left: 30px; }
      
  #footer
  {
    background-color: #e3eef2;
    border: 1px solid #ccdbe9;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
    padding: 20px 0px;
    font-weight: normal;
  }
    #footer li
    {
      list-style-type: none; 
    }
    
    #footer a
    {
      color: #6EB924;
    }
    
    .twitter-box
    {
      position: relative;
      background: #FFF url("../images/eloue_icon.png") no-repeat 10px 11px;
      border: 1px solid #ccdbe9;
      height: 42px;
      margin-top: 20px;
    }
    
    .twitter-dialogue
    {
      background: transparent url("../images/twitter-dialogue.png") no-repeat 0px 0px;
      height: 21px;
      width: 15px;
      position : absolute;
      left: 50px;
      bottom: -21px;
    }
    
      .twitter-box p
      {
        padding:12px 5px 5px 38px;
      }
      
      .twitter-info
      {
        background: transparent url("../images/copyright.png") no-repeat top right;
        margin-top: 18px;
        height: 24px;
      }
        .twitter-info p
        {
          padding-left: 70px;
          font-size: 12px;
        }
        
  .sort
  {
    border: 1px solid #b9cad4;
    -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	background: -webkit-gradient(linear, 0 0, 0 50%, from(#f6f7f8), to(#eff0f1));
    background: -moz-linear-gradient(top, #f6f7f8, #eff0f1);
    background-color: #f6f7f8;
    margin-bottom: 10px;
  }
    .sort li
    {
      float: left;
      display: inline;
      padding: 0 10px;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 0px;
      border-left: 1px solid #b9cad4;
      cursor: pointer;
    }
    
    .sort li a
    {
      display: block;
      color: #98a7af;
      padding-top: 8px;
      padding-bottom: 7px;
    }

    .sort li:hover a
    {
      color: #364C59 ;
      text-decoration: none;
    }

  .sort .label-sort
  {
    font-weight: normal;
    border-left: none;
    padding-top: 8px;
    padding-bottom: 7px;
  }

  .sort .label-sort:hover
  {
    background: none;
  }

  .sort .last-sort
  {
   border-right: 1px solid #b9cad4;
  }

  .sort .label-selected, .sort li:hover
  {
    background: -webkit-gradient(linear, 0 0, 0 50%, from(#d6e5f2), to(#e4eff9));
    background: -moz-linear-gradient(top, #d6e5f2, #e4eff9);
    background-color: #d6e5f2;
  }
    .sort .label-selected a
    {
      color: #364C59 !important;
    }
  .cancel-sort:hover
  {
    background: transparent !important;
  }
  .cancel-sort a
  {
    color: #f46868 !important;
  }
  
  .cancel-sort:hover a
  {
    color: #a10a0a !important;
  }
  
  .product-list{}

    .product-list li
    {
      list-style-type: none;
      padding: 10px 0;
      border-bottom: 1px dashed #B9CAD4;
      margin: 0px;
    }

    .pl-img
    {
      background-color: #FFF;
      display: block;
      float: left;
      margin-right:15px;
      height: 90px;
      width: 90px;
    }

    .pl-header, .pl-content, .pl-footer{
      float: left;
      width: 515px;
    }
      .pl-header h2
      {
        margin-bottom: 3px;
        font-weight: bold;
      }

    .pl-content{ height: auto; margin-bottom: 0px;}

      .pl-desc
      {
        float: left;
        width: 200px;
        font-size: 12px;
        margin-right: 5px;
        line-height:1.5;
        margin-bottom:4px;
      }

      .pl-distance
      {
        float: left;
        height: 40px;
        width: 110px;
        margin-right: 5px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }

      .pl-price
      {
        float: left;
        width: 90px;
        margin-right: 5px;
        text-align: center;
        font-weight: bold;
      }

        .pl-price .price
        {
          font-size: 18px;
          color: #FF7200;
        }

        .pl-price .unit
        {
          font-size: 12px;
        }

      .pl-btn
      {
        float: left;
        width: 95px;
      }

    .pl-footer{
      font-size: 12px;
      font-weight: bold;
    }

      .pl-footer .owner
      {
        color: #6EB924;
      }
  
  .booking-list {}
    
    .booking-list li
    {
      list-style-type: none;
      padding: 10px 0;
      border-bottom: 1px dashed #B9CAD4;
      margin: 0px;
    }
      .bk
      {
        float: left;
        background-color: #f5f7f9;
        -moz-border-radius: 5px;
      	-webkit-border-radius: 5px;
      	border-radius: 5px;
        height: 90px;
        width: 760px;
        margin-right: 10px;
      }
      .bk-dates
      {
        float: left;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        -webkit-border-top-left-radius: 5px;
      	-webkit-border-bottom-left-radius: 5px;
      	border-bottom-left-radius: 5px;
      	border-bottom-left-radius: 5px;
        background: transparent url("../images/bk_dates_bg.png") repeat 0 0;
        width: 90px;
        height: 70px;
        padding-top: 20px;
        margin-right: 10px;
        text-align: center;
        font-weight: bold;
      }
      
      .bk-desc 
      {
        float: left;
        padding-top: 10px;
        width: 660px;
      }
      
        .bk-product-img
        {
          display: block;
          float: left;
          height: 70px;
          width: 70px;
          margin-right: 5px;
        }
        
        .bk-borrower
        {
          float: left;
          border-left: 4px solid #b9cad4;
          width: 220px;
          margin-top: 7px;
        }
        
          .bk-borrower img
          {
            float: left;
            margin-right: 5px;
            margin-left: 5px;
          }
          
          .bk-borrower .message { color: #6EB924;}
          
          .bk-price
          {
            float: left;
            font-weight: bold;
            color: #FF7200;
            font-size: 20px;
            height: 47px;
            width: 240px;
            text-align: center;
            padding-top: 3px;
          }
          
            .bk-sign
            {
              color: #9eb0ba;
            }
          
          .bk-details
          {
            float: right;
            height: 47px;
            margin-right: 10px;
          }
        
        .bk-status
        {
          float: left;
          border: 2px dashed #bec2c3;
          width: 158px;
          height: 78px;
          padding-left: 8px;
          padding-bottom: 7px;
        }
          .bk-status img
          {
            float: left;
            margin-bottom: 6px;
          }
          
          .bk-status .waiting
          {
            margin-left: -8px;
            text-align: center;
            padding: 22px 0;
          }
            .bk-status .waiting img
            {
              float: none;
            }
            
            .bk-status .waiting span
            {
              font-size: 12px;
              font-weight: bold;
            }
          
          .bk-status .wait, .bk-status .booking, .bk-status .finish
          {
            margin-top: 7px;
          }
          
          .bk-status .rejected { margin-top: 28px;}
          
          .bk-status .renting, .bk-status .ended {margin-top: 13px;}
        
          .bk-accept, .bk-refuse
          {
            display: block;
            float: left;
            width: 72px;
            height: 30px;
          }
          
          .bk-accept {margin-right: 6px;}
          
          .bk-cancel, .bk-warning
          {
            display: block;
            float: left;
            width: 150px;
            height: 30px;
          }
          
          .bk-warning
          {
            background: transparent url("../images/warning.png") no-repeat 132px 3px;
            color: #6EB924 !important;
            padding-top: 3px;
          }
  

  .portlet
  {
    background: -webkit-gradient(linear, 0 0, 0 50%, from(#d6e5f2), to(#e4eff9));
    background: -moz-linear-gradient(top, #d6e5f2, #e4eff9);
    background-color: #d6e5f2;
    border: 1px solid #b9cad4;
    -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	padding: 0px 0 10px;
  	margin-bottom: 20px;
  }
    .portlet-top, .portlet-bottom
    {
      margin: 0px 20px;
    }

    .portlet-header
    {
      background: transparent url("../images/booking-bottom-bg.png") repeat 0 0;
      border-bottom: 1px solid #b9cad4;
      padding-top: 10px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
  		-webkit-border-top-right-radius: 5px;
  		border-top-left-radius: 5px;
  		border-top-right-radius: 5px;

    }

      .portlet-header h3
      {
        color: #364c59;
        text-indent: 10px;
      }

    .portlet-top
    {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .portlet-bottom
    {
      background: transparent url("../images/separateur2.png") no-repeat 0 0;
      padding-top: 10px;
    }
    
  .box-info
  {
    padding: 10px 0;
  }
    .box-info-header
    {
      border-bottom : 1px dashed #b9cad4;
      margin-bottom: 10px;
    }
    
    .box-info-content
    {
      padding: 0 10px;
    }
      .box-info-content a { color: #6EB924; }
      
      .box-info-content ul
      {
        list-style-position:inside;
      }
      
        .box-info-content li
        {
          list-style-image: url("../images/list-style-info.png");
        }

  .pages { text-align: center;}

    .pages-list li
    {
      display: inline;
      padding: 0px 5px;
    }
      .pages-list li a
      {
        color: #6EB924;
        font-weight: bold;
      }

      .pages-list .select a
      {
        color: #FF7200 !important;
      }

  .sbs
  {
    background: -webkit-gradient(linear, 0 0, 0 50%, from(#f6f7f8), to(#eff0f1));
    background: -moz-linear-gradient(top, #f6f7f8, #eff0f1);
    background-color: #f6f7f8;
    border: 1px solid #b9cad4;
    -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px; 
    height: 44px;
    margin-bottom: 20px;
  }
    .sbs-header
    {
      padding-top: 9px;
      padding-bottom: 11px;
    }

    .sbs-steps
    {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .sbs-header
    {
      background: transparent url("../images/sbs-header-bg.png") no-repeat top right;
      float: left;
      padding-right: 30px;
      padding-left: 15px;
    }
      .sbs-header h1
      {
        margin-bottom: 0px;
      }

    .sbs-steps
    {
      float: left;
      padding-left: 20px;
      margin: 0px;
    }
      .sbs-steps li
      {
        padding: 0px 20px;
        display: inline;
        font-size: 18px;
        line-height: 1.4em;
      }

      .sbs-steps li.on
      {
        font-weight: bold;
      }

      .sbs-steps li.off
      {
        color: #9eb0ba;
      } 

    .sbs .btn
    {
      float: right;
      margin-top: 7px;
      margin-right: 15px;
    }


  .submit-wizard
  {
    border-top: 1px solid #dce4e9;
    padding: 10px 0;
    text-align: right;
  }
    .submit-wizard .btn
    {
      margin-right: 85px;
    }

  .form
  {
    margin: 0;
    padding: 0;
  }

    label
    {
      font-size: 14px;
    }
      .labm
      {
        font-weight: bold;
      }

      .labs
      {
        font-weight: bold;
        font-size: 12px;
      }

    label, input
    {
      color: #364C59;
    }

    input, textarea
    {
      color: #546B78;
      border: 1px solid #a4bcca;
    }

    textarea
    {
      height: 50px;
      font-size: 14px;
      padding: 9px 9px 10px;
    }

      .inb
      {
        height: 21px;
        -moz-border-radius: 3px;
    	  -webkit-border-radius: 3px;
    	  border-radius: 3px;
    	  -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.4);
        -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.4);
        box-shadow: 0px 1px 0px rgba(255,255,255,0.4);
        font-size: 16px;
        padding: 7px 10px;
        margin-top: 7px;
        margin-bottom: 10px;
      }

      .inm
      {
        height: 20px;
        font-size: 14px;
        padding: 5px 9px 6px;
        margin-top: 7px;
        margin-bottom: 5px;
      }

      .ins
      {
        height: 12px;
        font-size: 13px;
        padding: 10px 5px 8px;
        margin-top: 7px;
        margin-bottom: 10px;
      }
      
      input[type=checkbox]
      {
        width: 20px !important;
        border: none;
      }

      input[type=radio]
      {
        border: none;
      }

      input[type=file]
      {
        margin-top: 7px;
        margin-bottom: 5px;
        border: none;
        height: 23px;
      }

    select
    {
      border: 1px solid #a4bcca;
      font-weight: bold;
      color: #546B78;
    }

      .sels
      {
        font-size: 12px;
      }

      .selm
      {
        margin-top: 8px;
        font-size: 14px;
      }
      
    .errorlist li
    {
      list-style-type: none;
      color: red;
    }
      
    .error
    {
      color: red;
      font-size: 12px;
    }
    
    .error-field input, .error-field select, .error-field textarea
    {
      border: 1px solid red;
    }
    
    .required-field { margin-bottom: 10px; }

  .paypal-verified
  {
    text-align: center;
  }
  
  .flatpage{}
    .flatpage h2
    {
      padding-top: 15px;
    }
    .flatpage p
    {
      margin-bottom: 10px;
      line-height: 20px;
    }
    
    .flatpage a { color: #6eb924;}
    
    .flatpage ul
    {
      list-style-position: inside;
    }
    
    .flatpage ol
    {
      list-style-position: inside;
      list-style-type: decimal;
    }
    
    .flatpage li
    {
      list-style-image: url("../images/list-style-info.png");
    }
    
    .fl-bloc-header, .fl-bloc-content
    {
      margin-right: 20px;
      margin-left: 20px;
    }
    
    .fl-bloc-header
    {
      background: transparent url("../images/content-h-bg.png") repeat-x 0 bottom;
    }
      .fl-bloc-header h2 
      { 
        padding-bottom: 10px;
        margin-bottom: 0px;
        font-size: 24px;
        font-weight: normal;
      }
      
    .fl-bloc-content p { margin-top: 10px;}
    
      .press-links
      {
        height: 300px;
        overflow: auto;
        padding-top: 20px;
      }
      
      .fl-sidebar {}
        .fl-sidebar-header
        {
          background: transparent url("../images/booking-bottom-bg.png") repeat 0 0;
          border: 1px solid #b9cad4;
          padding-top: 10px;
          -moz-border-radius-topleft: 5px;
          -moz-border-radius-topright: 5px;
          -webkit-border-top-left-radius: 5px;
      		-webkit-border-top-right-radius: 5px;
      		border-top-left-radius: 5px;
      		border-top-right-radius: 5px;
          margin-right: 20px;
          margin-left: 20px;
          margin-top: 15px;
        }
        
          .fl-sidebar-header h3, .fl-sidebar-box h3, .fl-sidebar-list h3
          {
            color: #364c59;
            font-weight: normal;
            text-indent: 10px;
          }
          
        .fl-sidebar-content
        {
          background-color: #f5f7f9;
          border-right: 1px solid #b9cad4;
          border-left: 1px solid #b9cad4;
          border-bottom: 1px solid #b9cad4;
          -moz-border-radius-bottomleft: 5px;
          -moz-border-radius-bottomright: 5px;
          -webkit-border-bottom-left-radius: 5px;
      		-webkit-border-bottom-right-radius: 5px;
      		border-bottom-left-radius: 5px;
      		border-bottom-right-radius: 5px;
          margin-right: 20px;
          margin-left: 20px;
          padding: 15px 20px;
        }
          .fl-sidebar-content ul { margin-bottom: 0px; }
        
        .fl-sidebar-box
        {
          background-color: #f5f7f9;
          padding: 20px;
          margin-right: 20px;
          margin-left: 20px;
          margin-top: 15px;
        }
        
          .fl-sidebar-box h3
          {
            background: transparent url("../images/content-h-bg.png") repeat-x 0 bottom;
            padding-bottom: 15px;
            text-indent: 0px;
          }
          
          .fl-sidebar-box img
          {
            float: left;
            border: 1px solid #9eb0ba;
            padding: 2px;
            margin-right: 10px;
          }
          
          .fl-sidebar-box .contact-name
          {
            line-height: 20px;
          }
          
        .fl-sidebar-list
        {
          padding: 20px;
          margin-right: 20px;
          margin-left: 20px;
          margin-top: 15px;
        }
          .fl-sidebar-list h3
          {
            padding-bottom: 15px;
            text-indent: 0px;
            border-bottom: 1px dashed #b9cad4;
          }
          
          .fl-sidebar-list li
          {
            color: #829ba8 !important;
          }