/*@import url("screen/reset.css");
@import url("screen/grid.css");
@import url("screen/layout.css");
@import url("screen/text.css");
@import url("screen/buttons.css");*/


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, sup,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
padding: 0;
margin: 0;
border: 0;
vertical-align: baseline
}

.xgrid { width: 980px; margin: 0 auto; }

.x1 				{ width: 60px; }
.x2 				{ width: 140px; }
.x3 				{ width: 220px; }
.x4 				{ width: 300px; }
.x5 				{ width: 380px; }
.x6 				{ width: 460px; }
.x7 				{ width: 540px; }
.x8 				{ width: 620px; }
.x9 				{ width: 700px; }
.x10 				{ width: 780px; }
.x11 				{ width: 860px; }
.x12 				{ width: 940px; }

	.a1			{ padding-right: 80px; }
	.a2			{ padding-right: 160px; }
	.a3			{ padding-right: 240px; }
	.a4			{ padding-right: 320px; }
	.a5			{ padding-right: 400px; }
	.a6			{ padding-right: 480px; }
	.a7			{ padding-right: 560px; }
	.a8			{ padding-right: 640px; }
	.a9			{ padding-right: 720px; }
	.a10		{ padding-right: 800px; }
	.a11		{ padding-right: 880px; }
	.a12		{ padding-right: 960px; }
	
	.p1			{ padding-left: 80px; }
	.p2			{ padding-left: 160px; }
	.p3			{ padding-left: 240px; }
	.p4			{ padding-left: 320px; }
	.p5			{ padding-left: 400px; }
	.p6			{ padding-left: 480px; }
	.p7			{ padding-left: 560px; }
	.p8			{ padding-left: 640px; }
	.p9			{ padding-left: 720px; }
	.p10		{ padding-left: 800px; }
	.p11		{ padding-left: 880px; }
	.p12		{ padding-left: 960px; }

	
.x1, .x2, .x3, .x4, 
.x5, .x6, .x7, .x8, 
.x9, .x10, .x11,  .x12 
{
	margin-left: 20px;
	float: left;
}

.first
{
  margin-left: 0px;
}

.xbreak { clear: both; }

.xgrid:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}


h1,h2,h3,
h4,h5,h6		{ margin-bottom: .71em; }

h1 				{ font-size: 24px; color: #546B78; line-height: 1em; font-weight: normal;}
h2 				{ font-size: 18px; font-weight: normal; color: #364C59; margin-bottom: 0.93em }
h3 				{ font-size: 16px; color: #6EB924; line-height: 1; margin-bottom: .71em }

p           	{}
p.last      	{ margin-bottom: 0 }
img         	{ border: none; }

ul, ol			{ margin-left: 0px; margin-bottom: 1.5em; }
li ul,
li ol			{ margin-top: 1em; }
ul li			{ list-style-type: disc; }
li				{ margin-bottom: .5em; }

a				{ color: #364C59; text-decoration: none; }
a:visited		{ color: #364C59; }
a:focus, 
a:hover     	{text-decoration: underline;}

table { width: 100%; border: 0; margin-bottom: 2em;  }

table th { padding: 10px 0; }
table tbody td { padding: 5px 0px; }

table td { vertical-align: top; }



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
  width: 980px;
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}


.clear { clear: both; }


.btn
{
  color: #FFF !important;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 0px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
	-moz-text-shadow: 1px 1px 1px rgba(0,0,0,.25);
	-webkit-text-shadow: 1px 1px 1px rgba(0,0,0,.25);
	cursor: pointer;
	position: relative;
	line-height: 1em;
	border: none;
}

.btn:hover
{
  text-decoration: none;
}

  .medium-green
  {
    background: transparent url("../images/btn-green.png") no-repeat 0 0;
    width: 165px;
    height: 31px;
    font-size: 14px;
    line-height: 31px;
  }
  
  .big-green
  {
    background: transparent url("../images/btn-green2.png") no-repeat 0 0;
    width: 141px;
    height: 38px;
    font-size: 18px;
    line-height: 34px;
  }

  .big-orange
  {
   background: transparent url("../images/btn-orange.png") no-repeat 0 0; 
   width: 140px;
   height: 38px;
   font-size: 18px;
   line-height: 34px;
  }
  
  .small-blue, .medium-blue, .big-blue
  {
    font-size: 14px;
    color: #364c59 !important;
    text-shadow: 1px 1px 1px #FFF;
  	-moz-text-shadow: 1px 1px 1px #FFF;
  	-webkit-text-shadow: 1px 1px 1px #FFF;
  	font-weight: normal;
  }
  
  .small-blue
  {
    background: transparent url("../images/btn-blue.png") no-repeat 0 0; 
    width: 95px;
    height: 29px;
    line-height: 29px;
  }
  
  .medium-blue
  {
    background: transparent url("../images/btn-blue2.png") no-repeat 0 0; 
    width: 105px;
    height: 29px;
    line-height: 24px;
  }
  
  .big-blue
  {
    background: transparent url("../images/btn-blue3.png") no-repeat 0 0; 
    width: 125px;
    height: 29px;
    line-height: 30px; 
  }

  .btn-next, .btn-prev{
    display: block;
    height: 21px;
    width: 20px;
  }

  .btn-next{
    background: transparent url("../images/btn-next.png") no-repeat 0 0;
  }

  .btn-prev{
    background: transparent url("../images/btn-prev.png") no-repeat 0 0;
  }
  
  body
  {
    color: #364C59;
    background: #ECF6FF url("../images/body-bg.png") repeat 0 0;
    font: 14px arial,sans-serif;
  }

  #header
  {
    padding-top: 13px;
    margin-bottom: 20px;
  }
    .nav-bar{}

    .nav
    {
      float: right  ;
      display: inline;
      padding-left: 42px;
    }

      .nav-link
      {
        display: block;
        padding-top: 18px ;
        color: #6EB924 !important;
      }

      .nav .btn{
        margin-top: 10px;
      }

  #top-content { margin-bottom: 20px;}

      .search
      {
        background: -webkit-gradient(linear, 0 0, 0 50%, from(#d6e5f2), to(#e4eff9));
        background: -moz-linear-gradient(top, #d6e5f2, #e4eff9);
        background-color: #d6e5f2;
        border: 1px solid #BFD1E2;
        padding: 10px 0px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  	    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
  	    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
        -moz-border-radius: 5px;
  	    -webkit-border-radius: 5px;
  	    border-radius: 5px;
      }
      .search-header
      {
        background: transparent url("../images/separateur2.png") no-repeat 482px 13px;
      }
      .search-header h1
      {
        color:#7C4D32 !important;
      }

      .search-what input, .search-where input
      {
        width: 358px;
      }

      .search-what span
      {
        font-size: 12px;
        color: #546B78;
      }

      .search-what a
      {
        font-size: 12px;
        color: #6EB924 !important;
      }

      .search-find
      {
        padding-top: 22px;
      }

  #content { 
    background-color: #FFF;
    border: 1px solid #ccdbe9;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.25);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    padding: 10px 0px;
  }

    .content-header
    {
      background: transparent url("../images/content-h-bg.png") repeat-x 0 bottom;
      margin-bottom: 10px;
    }

  .product-list{}

    .product-list li
    {
      list-style-type: none;
      padding: 10px 0;
      border-bottom: 1px dashed #B9CAD4;
      margin: 0px;
    }

    .pl-img
    {
      background-color: #B9CAD4;
      display: block;
      float: left;
      margin-right: 5px;
      height: 90px;
      width: 90px;
    }

    .pl-header, .pl-content, .pl-footer{
      float: left;
      width: 525px;
    }
      .pl-header h2
      {
        margin-bottom: 0.59em;
        font-weight: bold;
      }

    .pl-content{ height: 40px; margin-bottom: 5px;}

      .pl-desc
      {
        float: left;
        width: 200px;
        font-size: 12px;
        margin-right: 5px;
      }

      .pl-distance
      {
        float: left;
        height: 40px;
        width: 110px;
        margin-right: 5px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }

      .pl-price
      {
        float: left;
        width: 105px;
        margin-right: 5px;
        text-align: center;
        font-weight: bold;
      }

        .pl-price .price
        {
          font-size: 18px;
          color: #FF7200;
        }

        .pl-price .unit
        {
          font-size: 12px;
        }

      .pl-btn
      {
        float: left;
        width: 95px;
      }

    .pl-footer{
      font-size: 12px;
      font-weight: bold;
    }

      .pl-footer .owner
      {
        color: #6EB924;
      }

  .portlet
  {
    background: -webkit-gradient(linear, 0 0, 0 50%, from(#d6e5f2), to(#e4eff9));
    background: -moz-linear-gradient(top, #d6e5f2, #e4eff9);
    background-color: #d6e5f2;
    border: 1px solid #b9cad4;
    -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	padding: 0px 0 10px;
  	margin-bottom: 20px;
  }
    .portlet-top, .portlet-bottom
    {
      margin: 0px 20px;
    }

    .portlet-header
    {
      background: transparent url("../images/booking-bottom-bg.png") repeat 0 0;
      border-bottom: 1px solid #b9cad4;
      padding-top: 10px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-left-radius: 5px;
  		-webkit-border-top-right-radius: 5px;
  		border-top-left-radius: 5px;
  		border-top-right-radius: 5px;

    }

      .portlet-header h3
      {
        color: #364c59;
        text-indent: 10px;
      }

    .portlet-top
    {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .portlet-bottom
    {
      background: transparent url("../images/separateur2.png") no-repeat 0 0;
      padding-top: 10px;
    }

  .pages { text-align: center;}

    .pages-list li
    {
      display: inline;
      padding: 0px 5px;
    }
      .pages-list li a
      {
        color: #6EB924;
        font-weight: bold;
      }

      .pages-list .select a
      {
        color: #FF7200 !important;
      }

  .sbs
  {
    background: -webkit-gradient(linear, 0 0, 0 50%, from(#f6f7f8), to(#eff0f1));
    background: -moz-linear-gradient(top, #f6f7f8, #eff0f1);
    background-color: #f6f7f8;
    border: 1px solid #b9cad4;
    -moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px; 
    height: 44px;
    margin-bottom: 20px;
  }
    .sbs-header
    {
      padding-top: 9px;
      padding-bottom: 11px;
    }

    .sbs-steps
    {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .sbs-header
    {
      background: transparent url("../images/sbs-header-bg.png") no-repeat top right;
      float: left;
      padding-right: 30px;
      padding-left: 15px;
    }
      .sbs-header h1
      {
        margin-bottom: 0px;
      }

    .sbs-steps
    {
      float: left;
      padding-left: 20px;
      margin: 0px;
    }
      .sbs-steps li
      {
        padding: 0px 20px;
        display: inline;
        font-size: 18px;
        line-height: 1.4em;
      }

      .sbs-steps li.on
      {
        font-weight: bold;
      }

      .sbs-steps li.off
      {
        color: #9eb0ba;
      } 

    .sbs .btn
    {
      float: right;
      margin-top: 7px;
      margin-right: 15px;
    }


  .submit-wizard
  {
    border-top: 1px solid #dce4e9;
    padding: 10px 0;
    text-align: right;
  }
    .submit-wizard .btn
    {
      margin-right: 85px;
    }

  .form
  {
    margin: 0;
    padding: 0;
  }

    label
    {
      font-size: 14px;
    }
      .labm
      {
        font-weight: bold;
      }

      .labs
      {
        font-weight: bold;
        font-size: 12px;
      }

    label, input
    {
      color: #364C59;
    }

    input, textarea
    {
      color: #546B78;
      border: 1px solid #a4bcca;
    }

    textarea
    {
      height: 50px;
      font-size: 14px;
      padding: 9px 9px 10px;
    }

      .inb
      {
        height: 13px;
        -moz-border-radius: 3px;
    	  -webkit-border-radius: 3px;
        font-size: 16px;
        padding: 10px 10px 12px;
        margin-top: 7px;
        margin-bottom: 10px; 
      }

      .inm
      {
        height: 12px;
        font-size: 14px;
        padding: 9px 9px 10px;
        margin-top: 7px;
        margin-bottom: 5px;
      }

      .ins
      {
        height: 12px;
        font-size: 13px;
        padding: 10px 5px 8px;
        margin-top: 7px;
        margin-bottom: 10px;
      }

      input[type=radio]
      {
        border: none;
      }

      input[type=file]
      {
        margin-top: 7px;
        margin-bottom: 5px;
        border: none;
      }

    select
    {
      border: 1px solid #a4bcca;
      font-weight: bold;
      color: #546B78;
    }

      .sels
      {
        font-size: 12px;
      }

      .selm
      {
        font-size: 14px;
      }



