/*** color 

green: #A2BC00
grey: #F0F0F0
***/

body{	
  font: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
  color: #000;
}

a:hover{
  text-decoration: underline;
}

#header, #top-content{
  border-bottom: 4px solid #A2BC00;
}
  
header{
  padding-top: 10px;
  padding-bottom: 10px;
}

#slogan{
  text-align: center;
  padding-top: 18px;
  font-size: 1.1em;
  color: #ababab;
}

nav li{
  display: inline;
  float: right;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

nav li.first{
  border: none;
}


#nav-bar li.add{
  border: none;
  margin-top: 17px;
  margin-left: 10px;
}

#nav-bar li.add a{
  color: #fff;
}

#top-content{
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#content{
  /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#eee'); /* for IE */
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee)); /* for webkit browsers */
	/*background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */
	padding-bottom: 30px;
}

footer{
  height: 80px;
}
