#search h1{
  color: #6B7B02;
}

#search input.big{
  width: 280px;
}

#search input.button{
  float:left;
  margin-top: 26px;
  margin-left: 0px;
  width: 306px;
  height: 34px;
}
#search input[type="submit"]{
  border: none;
  height: 44px !important;
}

#search a{
  color: blue;
  text-decoration: underline;
  padding-left: 5px;
}