.average-rate
  margin-right: 1.5em
  .star
    white-space: nowrap
    display: inline-block
    vertical-align: middle
    +clearfix()
    &:hover > i
      color: $brand-gold !important
    > i
      color: $brand-gold
      float: left
      padding-right: .25em
      cursor: pointer
      line-height: .5em
      &.current ~ i
        color: $gray-lighter
      &:hover ~ i
        color: $gray-lighter !important
  .rate-counter
    color: inherit
    margin-left: .5em
