.badge-count-action
  position: absolute
  top: -.5em
  right: 0
  background-color: $brand-primary
  width: 2em
  line-height: 1.8em
  border-radius: ($bdrs*2)
  color: white
  font-weight: $fw-bold
  font-size: $font-size-small