.badge-count-action
  position: absolute
  top: -0.5em
  right: 0
  font-style: normal
  padding: 0 .75em
  line-height: 1.8em
  border-radius: ($bdrs*2)
  color: white
  font-weight: $fw-bold
  font-size: $font-size-small
  background-color: $brand-primary
  text-align: center
  .icon-lg &
    font-size: $font-size-little
    top: -1em
    right: 1em
    position: relative