.block-with-thumbnail
  +clearfix()
  .col-thumbnail
    float: left
  .col-exposition
    overflow: hidden
    padding-left: (7.5%)
  .thumbnail
    overflow: hidden
    position: relative
    &.round
      +border-radius(50%)
    img
      display: block
