.block_with_thumbnail
  display: table
  > div
    display: table-cell
    padding-left: 2em
    &:first-child
      padding-left: 0
  .col-thumbnail
    vertical-align: top
  .col-exposition
    vertical-align: middle
  .thumbnail
    overflow: hidden
    &.round
      +border-radius(50%)
    img
      display: block
