.block_with_thumbnail
  +clearfix()
  .col-thumbnail
    float: left
  .col-exposition
    overflow: hidden
    padding-left: (15%/2)
  .thumbnail
    overflow: hidden
    &.round
      +border-radius(50%)
    img
      display: block
