label
  input[type="file"]
    height: 0
    overflow: hidden
    font-size: 0
    width: 0
    padding: 0
    // display: none

.btn
  // display: inline-block
  display: table-cell
  vertical-align: middle
  border-radius: $bdrs
  white-space: nowrap
  cursor: pointer
  height: 3em
  font-weight: $fw-bold
  text-align: center
  padding: 0 2em
  font-size: $font-size-base
  border: 1px solid transparent
