*,
*:before,
*:after
  box-sizing: border-box

html, body
  min-height: 100%
  height: 100%

body
  font-family: $font-family-base
  font-size: $font-size-base
  line-height: $line-height-base
  background-color: $gray-lite
  color: $gray-dark
  font-weight: $fw-semibold

a
  color: inherit

.clearfix
  +clearfix()

@each $selector, $color in (success: $brand-success, primary: $brand-primary, gray: $gray-medium, white: white)
  +make-colors($selector, $color)

// text
@each $align in left, center, right, justify
  .text-#{$align}
    text-align: #{$align}

.text-nowrap
  white-space: nowrap

.text-uppercase
  text-transform: uppercase

.container-full-screen
  width: 100%
  height: 100%
  position: relative
  overflow: hidden

.mCSB_outside + .mCSB_scrollTools
  right: -$grid-gutter-width

header
  height: 120px

article.dashboard
  +clearfix()
  @import nav_dashboard
  > *
    float: left
    height: 100%
    overflow: auto

  h2
    color: $gray-dark
    font-size: $font-size-large
    font-weight: $fw-regular
    margin-bottom: $indent-sm

  h3
    color: $gray-dark
    font-size: $font-size-base
    font-weight: $fw-semibold

  h4
    font-size: $font-size-smaller
    font-weight: $fw-bold
    margin: $indent-xs 0
  p
    margin-bottom: .5em

  small
    font-size: $font-size-little
