article.dashboard
  > section
    border-top: $bd-lighter
    border-left: $bd-lighter
    &:first-child
      border-left-width: 0
    // .section-header
    .section-content
      padding: $indent-md*$indent-vertical $indent-md

.profil-info
  float: none !important
  background-color: $gray-lite
