///////////////////
// tabs vertical //
///////////////////
.tabs-vertical-static,
.tabs-vertical-active
  position: relative
  background-color: white
  &.sm
    width: $tabs-vertical-sm-width
  &.md
    width: $tabs-vertical-md-width
  &.lg
    width: $tabs-vertical-lg-width
  > ul
    height: 100%
    position: relative
  .tab-vertical
    border-bottom: $bd-lighter
    padding: $indent-sm*$indent-vertical $indent-sm
    display: block
    transition: border-color $trns-fast
    position: relative
    +clearfix()

.tabs-vertical-active .mCSB_scrollTools,
.scrollbar-left .mCSB_scrollTools
  right: auto
  left: 0

.tabs-vertical-active .tab-vertical > a
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0

.tabs-vertical-active .tab-vertical
  border-right: 4px solid transparent
  cursor: pointer
  .fa-check
    color: transparent
  &:hover,
  &.current
    background-color: $gray-lite
    border-right-color: $brand-success
    h1, h2, h3, h4, h5, h6
      font-weight: bolder
  &:active
    border-color: transparent
  &.default
    .fa-check
      color: $brand-success

/////////////////////
// tabs horisontal //
/////////////////////
.tabs-horisontal-active
  position: relative
  margin-bottom: -2em
  > ul
    position: relative
    height: 100%

.tabs-horisontal-active .tab-horisontal
  cursor: pointer
  color: $brand-success
  padding: .25em .5em 1em
  position: relative
  border-bottom: 4px solid transparent
  transition: border-color $trns-fast
  &:hover,
  &.current
    border-color: $brand-success

.messages-container
  padding-bottom: $form-message-area-height
