///////////////////
// tabs vertical //
///////////////////
.tabs-vertical-static,
.tabs-vertical-active
  position: relative
  background-color: white
  &.sm
    width: $tabs-vertical-sm-width
  &.md
    width: $tabs-vertical-md-width
  &.lg
    width: $tabs-vertical-lg-width
  > ul
    height: 100%
    position: relative
  .tab-vertical
    border-bottom: $bd-lighter
    padding: $indent-sm*$indent-vertical $indent-sm
    display: block
    transition: border-color $trns-fast
    position: relative

.tabs-vertical-active .mCSB_scrollTools,
.scrollbar-left .mCSB_scrollTools
  right: auto
  left: 0

.tabs-vertical-active .tab-vertical > a
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0

.tabs-vertical-active .tab-vertical
  border-right: 4px solid transparent
  cursor: pointer
  .fa-check
    color: transparent
  &:hover,
  &.current
    background-color: $gray-lite
    border-right-color: $brand-success
    h1, h2, h3, h4, h5, h6
      font-weight: bolder
  &:active
    border-color: transparent
  &.default
    .fa-check
      color: $brand-success

/////////////////////
// tabs horisontal //
/////////////////////
.tabs-horisontal-active
  position: relative
  padding-top: $indent-xs/2
  > ul
    position: relative

.tabs-horisontal-active .tab-horisontal
  cursor: pointer
  color: $brand-success
  padding: .25em .5em
  position: relative
  &:before,
  &:after
    position: absolute
    top: 0
    line-height: $line-height-base
    color: transparent
    transition: all $trns-fast
    pointer-events: none
  &:before
    content: "["
    left: -.5em
  &:after
    content: "]"
    right: -.5em
  &:hover,
  &.current
    color: $gray-dark
    &:before,
    &:after
      color: $brand-primary
    &:before
      left: 0
    &:after
      right: 0

.messages-container
  padding-bottom: $form-message-area-height
