.tabs-vertical-static,
.tabs-vertical-active
  position: relative
  background-color: white
  &.sm
    width: $tabs-vertical-sm-width
  &.md
    width: $tabs-vertical-md-width
  ul
    height: 100%
  li
    border-bottom: $bd-lighter
    padding: $indent-sm*$indent-vertical $indent-sm
    display: block
    transition: border-color $trns-fast
    position: relative

.tabs-vertical-active li > a
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0

.tabs-vertical-active li
  border-right: 4px solid transparent
  cursor: pointer
  &:hover,
  &.current
    background-color: $gray-lite
    border-right-color: $brand-success
    h1, h2, h3, h4, h5, h6
      font-weight: bolder
  &:active
    border-color: transparent
