@function px($size, $ratio: $font-size-base)
  @return $size/$ratio*($ratio*0+1) * 1em

$fa-css-prefix: icon
$fa-li-width: (30em / 14)


/////////////
// indents //
/////////////
$indent-vertical: 0.75
$indent-md: 30px
$indent-lg: 2*$indent-md
$indent-sm: 2/3*$indent-md
$indent-xs: 1/3*$indent-md

/////////////////
// font-weight //
/////////////////
$fw-light: 300
$fw-regular: 400
$fw-semibold: 600
$fw-bold: 700

///////////
// font  //
///////////
$font-family-base: 'Open Sans'
$font-family-icon: 'FontAwesome'
$line-height-base: 20/14

$font-size-base: 14px


$font-size-little: $font-size-base - 4
$font-size-small: $font-size-base - 2
$font-size-smaller: $font-size-base - 1
// $font-size-big: $font-size-base + 2
$font-size-bigger: $font-size-base*1.5
$font-size-large: ($font-size-base*2 )-2

///////////
// color //
///////////
$brand-primary: rgb(242,126,54)
$brand-success: rgb(36,189,119)
$brand-danger: rgb(228,86,71)
$brand-info: rgb(57,89,168)
$brand-gold: rgb(255,200,83)
$brand-blue: rgb(0,123,182)

$gray-dark: rgb(44,44,44)
$gray-stronger: rgb(105,105,105)
$gray-strong: rgb(135,135,135)
$gray-medium: rgb(172,172,172)
$gray-light: rgb(211,211,211)
$gray-lighter: rgb(234,234,234)
$gray-lite: rgb(252,252,252)

//////////
// grid //
//////////
// $grid-columns:              12 !default;
$grid-gutter-width: $indent-sm

///////////////////
// tabs vertical //
///////////////////
$tabs-vertical-sm-width: 230px
$tabs-vertical-md-width: 325px
$tabs-vertical-lg-width: 420px

//////////////
// sections //
//////////////
$section-content-max-width: 650px

////////////////
// trnastiton //
////////////////
$trns-fast: .2s
$trns-flash: .1s

///////////
// forms //
///////////
$form-height: 3em
$form-message-area-height: $form-height*4
$check-box-size: 1.2em
$date-picker-max-width: 280px
$date-picker-height: 2em

////////////
// border //
////////////
$bd-lite: 1px solid $gray-lite
$bd-light: 1px solid $gray-light
$bd-lighter: 1px solid $gray-lighter

$bdrs: 4px
