@function px($size, $ratio: $font-size-base)
  @return $size/$ratio*($ratio*0+1) * 1em

/////////////
// indents //
/////////////
$indent-vertical: 0.75
$indent-md: 30px
$indent-sm: 2/3*$indent-md

/////////////////
// font-weight //
/////////////////
$fw-light: 300
$fw-regular: 400
$fw-semibold: 600
$fw-bold: 700

///////////////
// font //
///////////////
$font-size-base: 14px
$font-family-base: 'Open Sans'
$line-height-base: 20/14

///////////
// color //
///////////
$brand-primary: rgb(242,126,54)
$brand-success: rgb(36,189,119)
$brand-danger: rgb(228,86,71)
$brand-info: rgb(57,89,168)
$brand-gold: rgb(255,200,83)

$gray-dark: rgb(44,44,44)
// $gray-strong: lighten($gray-light, 15%)
$gray-medium: rgb(172,172,172)
// $gray-light: rgb(172,172,172)
$gray-lighter: rgb(234,234,234)
$gray-lite: rgb(252,252,252)


///////////////////
// tabs vertical //
///////////////////
$tabs-vertical-min-width: 220px

////////////////
// trnastiton //
////////////////
$trns-fast: .2s

////////////
// border //
////////////
$bd-lite: 1px solid $gray-lite
$bd-lighter: 1px solid $gray-lighter

$bdrs: 4px