.plans {
	float: left;
	.clearfix();

	margin-bottom: 20px;
}

.plan {
	float: left;
	width: 220px;
	margin-left: 17px;
	margin-bottom: 20px;

	&.first {
		margin-left: 0px;
	}

	.plan_price { 
		float: right; 
		font-size: 18px;

		margin-top: -4px;
		span { 
			font-size: 14px;
			font-weight: normal;
		}
	}

	.max-items {
		background-color: #fff;
		.box-shadow(inset 0 1px 2px rgba(0,0,0,0.35));
		.rounded(5px);

		#font > .sans-serif(Arial, normal, 14px);
		color: #d9185f;
		text-align: center;
		margin: 0 10px 20px;
		padding: 10px;
	}
}


.selected-plan {
	#font > .sans-serif('Ubuntu', normal, 14px);
	margin: 0 10px 38px;
	padding-top: 5px;
	text-align: center;
	color: @blueDark;
}


.infini-plan {
	float: left;
	width: 938px;

	.infini-items {
		background-color: #fff;
		.box-shadow(inset 0 1px 2px rgba(0,0,0,0.35));
		.rounded(5px);

		#font > .sans-serif(Arial, normal, 14px);
		color: #d9185f;
		text-align: center;
		margin: 0 10px 20px;
		padding: 10px;

		line-height: 37px;

		float: left;
		margin: 10px;

		height: 40px;
	}

	.plan-description {
		float: left;

		h2 {
			border: none;
			background: none;
			.box-shadow(none);

			font-size: 16px;

			margin-top: 5px;
			padding-left: 0px;
		}

		.plan_price { 
			float: left; 
			font-size: 18px;

			font-weight: bold;

			margin-top: -4px;
			span { 
				font-size: 14px;
				font-weight: normal;
			}
		}
	}

	.btn-select-plan { 
		float: right;
		margin-top: 25px;
	}

	.selected-plan {
		float: right;
		margin-top: 30px;
	}
}

.pro-options {
	float: left;
	.columns(12);
	margin-bottom: 20px;

	ul {
		float: left;
		width: 450px;
		margin-left: 40px;

		&.first {
			margin-left: 0px;
		}
	}

	li {
		margin-bottom: 30px;
		.clearfix();

		#font > .sans-serif('Ubuntu', normal, 14px);
		color: @blueDark;
		line-height: 18px;

		i {
			background: transparent url('../images/sprite_pro.png') no-repeat 0 0;
			float: left;
			display: inline-block;
			height: 53px;
			width: 62px;
			margin-right: 20px;
			margin-top: 5px;
		}

		.notification {
			background: transparent url('../images/sprite_pro.png') no-repeat 0 0;
		}
		.highlight {
			background: transparent url('../images/sprite_pro.png') no-repeat 0 -53px;
			height: 58px; 
		}
		.sms {
			background: transparent url('../images/sprite_pro.png') no-repeat -62px 0;
		}
		.top-position { 
			background: transparent url('../images/sprite_pro.png') no-repeat -62px -53px;
			height: 58px; 
		}

		.title-option {
			#font > .sans-serif('Ubuntu', normal, 16px);
			color: #d9185f;
			line-height: 28px;
		}

		.price-option {
			#font > .sans-serif('Ubuntu', normal, 12px);
			color: @blueDark;
			float: right;
			display: block;
			line-height: 28px;
		}
	}	
}

.pro-introduction {
	float: left;
	.columns(12);
	.clearfix();

	margin-bottom: 40px;

	.pro-welcome {
		float: left;
		.columns(6);
		margin-right: 80px;

		p {
			#font > .sans-serif('Ubuntu', bold, 19px);
			line-height: 30px;
			color: @blueDark;

			margin-left: 30px;
		}
	}

	.pro-intro-desc {
		float: left;
		.columns(5);
		margin-left: 20px;
		margin-top: 10px;
		#font > .sans-serif('Ubuntu', normal, 16px);

		p {
			#font > .sans-serif('Ubuntu', normal, 18px);
			line-height: 18px;
		}

		ul {
			margin-top: 5px;
			margin-left: 10px;
			margin-bottom: 20px;
			li {
				margin-bottom: 15px;
				
				color: @blueDark;
			}
			i {
				background: transparent url('../images/check_pro.png') no-repeat 0 0;
				display: inline-block;
				height: 25px;
				width: 25px;
				line-height: 25px;
				margin-bottom: -6px;
			}
		}
	}
}

#products.ht-fonction {
	width: 940px;
	margin-left: 0px;

	&:hover {
		cursor: pointer;
	}
}

#step-by-step-pro {
	float: left;
	.columns(12);
	.clearfix();

	margin-bottom: 40px;

	#arguments {
		float: left;

		li {
			line-height: 18px;
		}
	}

	#arguments-container {
		position: relative;
		float: left;
		width: 920px;
		background: #f7f8fa;
		@shadow: inset 0 0 0 rgba(255,255,255,1);
		.box-shadow(@shadow);
		.rounded(3px);
		border: 1px solid #b2ced9;
		padding: 10px;
		margin-top: 20px;
		#font > .sans-serif('Ubuntu', normal, 16px);
		color: @blueDark;

		ul {
			list-style-type: disc;
			margin-left: 40px;
			li {
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}

		#arguments-container-dialogue {
			position: absolute;
			height: 21px;
			width: 15px;
			top: -31px;
			left: 50px;
			background: transparent url('../images/arguments_container_dial.png') no-repeat 0 0;
		}

		#arg1-content { #arguments-container-dialogue { left: 50px;} }
		#arg2-content { #arguments-container-dialogue { left: 400px;} }
		#arg3-content { #arguments-container-dialogue {left: 750px;} }
	}


	.step-pro {
		width: 244px;
		text-align: center;
		float: left;

		a {
			background-color: @blueLight;
			display: block;
			padding: 25px 15px;
			#font > .sans-serif('Ubuntu', bold, 14px);
			color: @blueDark;
			&:hover { text-decoration: none; }
		}
		p { 
			font-size: 14px; 
			line-height: 18px;
		}
	}

	.arrow-pro {
		background: transparent url(../images/arrow_pro.png) no-repeat center center;
		width: 74px;
		height: 59px;
		margin: 11px 15px 0;
		float: left;
	}
}

.pro-contact {
	background: transparent url("../images/picto_phone.png") no-repeat 0 2px;
	#font > .sans-serif('Ubuntu', bold, 13px);
	padding-left: 15px;
	color: #546B78;
	margin-left: 280px;
}

.plan-first-month {
	background-color: #f7f1c1;
	.rounded(3px);
	font-family: Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #ff7200;
	padding: 4px;
}

.plans {
	width: 940px;
	float: left;

	td, th { padding: 25px; }

	th { text-align: left; }

	.plans-title {
		color: @blueDark;
		text-align: center;

		h4 {
			#font > .sans-serif('Ubuntu', bold, 18px);
			
			margin-top: 15px;
			margin-bottom: 15px;
		}

		span {
			#font > .sans-serif('Ubuntu', normal, 14px);
			line-height: 18px;
		}
	}

	.access-fees {
		color: @blueDark;
		#font > .sans-serif('Ubuntu', normal, 14px);
		text-align: center;
		line-height: 20px;
		vertical-align: top;
	}

	.plans-prices {
		color: @blueDark;
		#font > .sans-serif('Ubuntu', normal, 14px);
		text-align: center;
	}
}


