#publish-new-ad {
	h1 {
		margin-bottom: 60px;
	}

	.btn-pro-access {
		float: right;
	}

	.publish-intro {
		text-align: center;
		#font > .sans-serif('Ubuntu', normal, 18px);
		color: @blueDark;
		line-height: 22px;
		margin-bottom: 80px;
		margin-top: 10px;
	}

	.publish-ad {
		float: left;
		width: 165px;

		margin-left: 122px;
		text-align: center;

		p {
			#font > .sans-serif('Ubuntu', bold, 12px);
			color: @blue;

			margin-bottom: 10px;
		}

		&.first {
			margin-left: 0px;
		}

		.add-car {
			display: inline-block;
			height: 73px;
			width: 80px;

			margin-bottom: 3px;

			background: url('../images/sprite_publish_ads.png') no-repeat 0 0;
		}

		.add-home {
			display: inline-block;
			height: 73px;
			width: 72px;

			margin-bottom: 3px;

			background: url('../images/sprite_publish_ads.png') no-repeat -80px 0;
		}

		.add-items {
			display: inline-block;
			height: 73px;
			width: 102px;

			margin-bottom: 3px;

			background: url('../images/sprite_publish_ads.png') no-repeat -152px 0;
		}

		span {

		}
	}

	.publish-ads {
		float: left;
		.clearfix();

		margin: 0 100px 40px 100px;
	}

	.ht-f-col {
		li { margin-bottom: 40px; }
	}

	.ht-f-desc {
		line-height: 16px;

		span {
			margin-bottom: 5px;
		}
	}

	.lock { margin-top: 7px; }
	.money { margin-top: 8px; }
	.assurancy { margin-top: 8px; }
	.people { margin-top: 10px; }
}