@import 'reset.styl'
@import 'colors.styl'
@import 'fonts.styl'

container_width()
	&
		max-width 1160px
		min-width 1000px
		margin 0 auto

b
	font-weight bolder
#container
	font-family 'Open Sans', sans-serif

header
	@import 'header.styl'