{% extends "base.html" %}
{% load i18n product %}

{% block title %}{% trans "Identification" %}{% endblock %}

{% block html_properties %}
    xmlns:fb="http://ogp.me/ns/fb#"
{% endblock %}

{% block content %}
<div id="content-home" class="xgrid">
    <div id="wizard" class="x12">
        <div class="wizard-header">
            <h1>{% trans "Réservation" %}</h1>
        </div>
         <ol class="sbs-steps">
 			{% if not user.is_authenticated %}
 				<li class="on">{% trans "1. Identifiez-vous" %}</li>
 				<li>{% trans "2. Confirmation de location" %}</li>
 			{% else %}
 				<li class="on">{% trans "1. Informations" %}</li>
 				<li>{% trans "2. Confirmation de location" %}</li>
 			{% endif %}
 		</ol>
        <a href="{% url 'faq-topic-list' %}" class="btn big-blue">{% trans "Obtenir de l'aide" %}</a>
    </div>
    <div class="content-header x12">
		<h2>{% trans "Identification" %}</h2>
	</div>
	{% include "accounts/partials/login.html" %}
</div>
{% endblock %}
