{% load compressed i18n markup seo %}
<!doctype html>
<html lang="fr">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="6qIeKJE-UrsueiRe9kSXKLFZiYQRJv4duEu0A0bWwK8" />
  <title>{% filter striplinebreak %}{% block title %}{% endblock %} {% if is_paginated and page_obj.has_previous %}- {% trans "Page" %} {{ page_obj.number }}{% endif %} - {% trans "Stocker Entre Particuliers" %}{% endfilter %}</title>
  <meta name="description" content="{% filter striplinebreak %}{% block description %}Fini le stockage de matériel dans des grands bâtiments dédiés, Stocker Entre Particuliers est la plateforme internet communautaire qui va révolutionner le self-stockage{% endblock %}{% if is_paginated and page_obj.has_previous %} Page {{ page_obj.number }}{% endif %}{% endfilter %}">
  <meta name="google-site-verification" content="" />
  <link rel="shortcut icon" href="{{ MEDIA_URL }}/sep/favicon.ico">
  {% block head %}
   {% compressed_css 'sep' %}
  {% endblock %}
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24428984-1']);
    _gaq.push(['_setDomainName', 'www.stockerentreparticuliers.com']);
    _gaq.push(['_trackPageview']);
    {% spaceless %}{% if user.is_authenticated %}
     _gaq.push(['_setVar', 'authenticated']);
    {% else %}
     _gaq.push(['_setVar', 'anonymous']);
    {% endif %}{% endspaceless %}
    {% block gaq %}{% endblock %}
  </script>
 </head>
 
 <body>
     {% if messages %}
         {% for message in messages %}
         <div id="notification" class="notification {% if message.tags %} {{ message.tags }}"{% endif %}>
    	     <span id="notification-text">{{ message }}</span>
    	 </div>
         {% endfor %}
     {% endif %}
     {% block content %}
     {% endblock %}
    <script type="text/javascript">  (function() {
        var ga = document.createElement('script');     ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:'   == document.location.protocol ? 'https://ssl'   : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
 </body>
</html>
