-load i18n

.section-header
    {% if is_pro %} 
    span.badge-pro.pull-right pro 
    {% endif %}
    h4 {% trans "Réservez en ligne" %}
form.form-inline.section-body.text-center
    .part
        p
            small {% trans "à partir de" %}
            big.ng-cloak.text-primary &nbsp;{% verbatim %}{{pricePerDay}}{% endverbatim %}&nbsp;{% trans "/jour" %}
        include ../../_date_picker_border
        span(ng-show="dateRangeError").ng-cloak.text-danger {% verbatim %}{{dateRangeError}}{% endverbatim %}
        
        p(ng-show="available").ng-cloak.available {% trans "Cet article est disponible à ces dates" %}
        p(ng-show="!available").ng-cloak.available.unavailable {% trans "Cet article n'est pas disponible à ces dates" %}
        
    .part
        p
            | {% trans "Durée de la location" %}&nbsp;:&nbsp;
            b.period-days.ng-cloak {% verbatim %}{{duration}}{% endverbatim %}
        p.price
            | {% trans "Prix" %} {% trans "de la location" %}&nbsp;:
            big(ng-show="!!pricePerDay").text-primary.ng-cloak &nbsp;{% verbatim %}{{ bookingPriceCurrency }}{% endverbatim %}
        {% if not is_pro and product.need_insurance %}
        p {% trans "Assurance incluse" %}
        {% endif %}
    .part
        a(href = "", data-dismiss="modal", ng-click="openModal('booking')", ng-disabled="!available").btn.bg-success.calendar-ok
            i.flaticon.stroke.calendar-2glio
            | {% if is_pro %}{% trans "Envoyez" %}{% else %}{% trans "Réservez" %}{% endif %}
        
