.section-header
    h4 Contactez-moi
.section-body
    .part
        .block-thumbnail
            .thumbnail-img
                a(href="{{ product.owner_url }}")
                    img(src="{{ product.owner_avatar }}", alt="")
            .thumbnail-content
                h5
                    a(href="{{ product.owner_url }}") {{ product.owner }}
                -var stars = [1,2,3,4,5]
                each s in stars
                    if s == product.object.average_note
                        span.flaticon.solid.star-2.current-rate
                    else
                        span.flaticon.solid.star-2
                p
                    | Membre depuis le
                    br
                    span {{ product.object.owner.date_joined|date:"l d F Y" }}
    .part
        a(href="#/message", data-dismiss="modal").btn.bg-success.send-message
            i.flaticon.stroke.mail-2
            | Envoyez un message
        a(href="#/phone", data-dismiss="modal").btn.bg-success.call
            i.flaticon.stroke.phone-3
            | Appelez
        //-ul.nav.stats
        //-
            li
                span
                    big.text-success {{product.ownerStats.products_count}}
                span
                    | annonces publiées
            li
                span
                    big.text-success {{product.ownerStats.bookings_count}}
                span
                    | locations effectués
            li
                span
                    big.text-success {{product.ownerStats.ratings_count}}
                span
                    | évalutations
            li
                span
                    big.text-success {{product.ownerStats.response_rate}}
                span
                    | de taux de réponse
            li
                span
                    big.text-success {{product.ownerStats.response_time}}
                span
                    | de temps de réponse en moyenne
//-
    .part.connection.clearfix
        .col-sm-4
            a(href="#").friend-photo-wrapper
                img(src=STATIC_URL+"img/home-products/friend1.png", alt="")
            a(href="#").friend-photo-wrapper
                img(src=STATIC_URL+"img/home-products/friend2.png", alt="")
        .col-sm-8
            p: small
                a(href="#") Philippe Dupré
                | et
                a(href="#") Tony Finn
                | sont amis avec le propriétaire.
