.section-header
	h4 {% if product.pro %}Toutes nos annonces{% else %}Annonces similaires{% endif %}
.section-body
	.part
		ul.nav
			each product in product_list
				li
					.thumbnail-img
						a(href="{{ product.url }}")
							img(style="background-image: url({{ product.thumbnail }})").bg-image
					.thumbnail-content
						h6
							a(href="{{ product.url }}") {{ product.summary }}
						p
							small {{ product.city|title }}{% if product.zipcode %}, {{ product.zipcode }}{% endif %}
						span.badge.price {{ product.price }}€ /jour
