.section-header
	h4 Annonces similaires
.section-body
	.part
		ul.nav
			each product in product_list
				li
					.thumbnail-img
						a(href="{{ product.url }}")
							img(src="{{ product.thumbnail }}", alt="")
					.thumbnail-content
						h6 
							a(href="{{ product.url }}") {{ product.summary }}
						p
							small {{ product.city|title }}{% if product.zipcode %}, {{ product.zipcode }}{% endif %}
						span.badge.price {{ product.price }}€ /jour
