#press {
	background: #fff url("../images/background_span4.png") repeat-y top right;

	h1 { margin-bottom: 30px; }

	h2 { margin-bottom: 15px; }

	ul { 
		margin-bottom: 20px;

		li { margin-bottom: 5px; }
	}

	p {
		margin-bottom: 20px;
		line-height: 16px;
	}

	.info-block {
		text-indent: 20px;

		.clearfix();

		img {
			float: left; 
			border: 1px solid #9EB0BA; 
			padding: 2px; 
			margin-right: 10px;
			margin-left: 10px;
			margin-bottom: 10px;
		}
	}
}