// PRODUCT LIST
 //--------------
 
.product-list {}

.product-list li {
 border-bottom: 1px solid #b2ced9;
 height: 80px;

 &:last-child {
   border-bottom: 0;
 }
}

.pl-img {
 float: left;
 .size(60px, 80px);
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}

.pl-content {
 float: left;

 address {
   #font > .sans-serif('Myriad Pro', normal, 13px);
   color: @blueDark;
   margin-bottom: 5px;
 }

 .pl-price {
   float: left;
   background-color: #f7f1c1;
   .rounded(3px);

   #font > .sans-serif(Arial, bold, @basefont);
   color: @orange;

   padding: 4px;

   span {
     font-size: 12px;
   }
 }
}

.pl-avatar {
 float: right;
 display: block;
 position: relative;
 .size(60px, 80px);

 #gradient > .vertical(#e8ebef, #f7f8fa);
 .box-shadow(inset 0 1px 0 rgba(255,255,255,0.7));
 border-left: 1px solid #b2ced9;

 .dial-avatar {
   background: transparent url("../images/dial-avatar.png") no-repeat 0 0;
   display: block;
   position: absolute;
   .size(14px, 9px);
   top: 33px;
   left: -9px;
 }

 a {
   display: block;
   .size(60px, 60px);
   position: relative;

   margin-left: 10px;

   &:after {
     .box-shadow(inset 0 1px 2px rgba(0,0,0,0.35));
     .rounded(3px);

     position: absolute;
     top: 0;
     left: 0;
     .size(100%, 100%);
     z-index: 2;
     content: "";
   }
   img {
     display: block;
     .rounded(3px);
   }
 }
}

.pl-img, .pl-content, .pl-avatar{
 padding: 10px 0;
}

// PRODUCT VIGNETTE
// ----------------

.product-vignettes {
  margin-right: -15px;
  
  .clearfix();
  
  > li {
    float: left;
    position: relative;
    .size(204px, 200px);
    
    background: @blueLight;
    border: 1px solid #b2ced9;
    .rounded(3px);
    @shadow: inset 0 1px 0 rgba(255,255,255,1);
    .box-shadow(@shadow);
    
    text-align: center;
    
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px;
    
    img {
      @shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
      .box-shadow(@shadow);
      
      margin-bottom: 10px;
    }
    
    h3 {
      #font > .sans-serif('Ubuntu', bold, 16px);
      text-shadow: 0 1px rgba(255,255,255,1);
    }
    
    &:hover {
       .box-shadow(0 0 0 3px rgba(178,206,217,0.2));
     }
  }
  
  .pv-price {
    position: absolute;
    bottom: 60px;
    right: -5px;
    
    background-color: #f7f1c1;
    .rounded(3px);

    #font > .sans-serif(Arial, bold, @basefont);
    color: @orange;

    padding: 4px;

    span { font-size: 12px; }
   }
   
   a:hover {
     text-decoration: none;
   }
}


 //PRODUCT TABS
 //-------------

 .product-tabs {
   margin-bottom: 20px;

   .ui-widget-header { 
     background: #fff;
     border: none;
   }

   .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
     background: @blueLight;
     @shadow:  0 1px 0 @blueLight;
     .box-shadow(@shadow);
   }

   .ui-widget-content {
     border: 1px solid #b2ced9 !important;
     .border-radius( 3px, 3px, 3px, 0);
     @shadow: inset 0 1px 0 rgba(255,255,255,1);
     .box-shadow(@shadow);
     background: @blueLight !important;

     padding: 20px !important;
   }

   #gallery {
     text-align: center;
   }
 }


 // PRODUCT PROPERTIES
//--------------------
.product-properties {
  margin-bottom: 20px;
  
  > li {
    display: inline;
    #font > .sans-serif(Arial, normal, 13px);
  }
  
  .divider {
    color: @blueDark;
  }
  
  .product-address {
    color: @green;
  }
  
  .product-deposit {
    color: @blueDark;
    
    span {
      color: @orange;
    }
  }
}


// PRODUCT FILTER BAR
// ------------------

.product-filter {
  background-color: @blueLight;
  border: 1px solid #B2CED9;
  .border-radius(3px, 0, 0, 3px);
  
  margin: 0;
  padding: 0;
  
  .clearfix();
  
  > li {
    float: left;
    
    a {
      display: block;
      border-right: 1px solid #B2CED9;
      
      #font > .sans-serif(Arial, bold, 12px);
      color: #98a7af;
      text-shadow: 0 1px rgba(255,255,255,1); 
      
      padding: 9px 10px;
      
      &:hover {
        #gradient > .vertical(#d6e5f2, #e4eff9);
        color: @blueDark;
        text-decoration: none;
      }
    }
  }
  
  .filter-title {
    border-right: 1px solid #B2CED9;
    
    #font > .sans-serif(Arial, normal, 12px);
    color: @blueDark;
    text-shadow: 0 1px rgba(255,255,255,1);
    
    padding: 9px 10px;
  }
  
  .filter-selected {
    #gradient > .vertical(#d6e5f2, #e4eff9);
    border-right: 1px solid #B2CED9;
    
    #font > .sans-serif(Arial, bold, 12px);
    color: @blueDark;
    text-shadow: 0 1px rgba(255,255,255,1);
    
    padding: 9px 10px;
  }
}



// PRICES AND CALENDAR
//---------------------

#prices_calendar {
  #font > .sans-serif("Ubuntu", normal, 13px);
  .clearfix();
}

.prices {
  float: left;
  width: 218px;

  margin-right: 20px;

  background-color: #fff;
  border: 1px solid #DDD;
  .rounded(3px) !important;

  .table {
    margin-bottom: 0px;
    width: 218px; 
    color: #364C59;
  }

  .price-head { text-align: right; }

  .price-display {
    vertical-align: middle;
    text-align: right;
  }
}

.calendar {
  float: left;
  width: 338px;

  .calendar-legend {
    margin-top: 10px;

    li { float: left; margin-right: 20px; }

    .clearfix();

    .unavailable-date {
      background-color: #EA0C31; 
      display: block; 
      height: 20px; 
      width: 33px; 
      float: left; 
      margin-right: 5px; 
      margin-top: -4px;
    }

    .available-date {
      background-color: @green;
      display: block; 
      height: 20px; 
      width: 33px; 
      float: left; 
      margin-right: 5px; 
      margin-top: -4px;
    }
  }
}
