#publish-new-ad {
	h1 { margin-bottom: 20px; }

	.publish-intro {
		margin-bottom: 40px;
		text-align: center;

		#font > .sans-serif('Ubuntu', normal, 16px);
		color: @green;
		line-height: 22px;
	}

	.car-product-create, .real-estate-product-create, .product-create {
		.makeColumn(4);

		height: 300px;

		text-align: center;

		margin-bottom: 40px;

		border: 1px solid #B2CED9;
		padding: 10px 0;
		.rounded(3px);
	} 
}