/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */


// TABLE FOR MESSAGERIE STAT
//---------------------------

.answer-stats {
  #font > .sans-serif('Ubuntu', normal, 14px);
  color: @blueDark;
  
  td {
    padding: 5px 5px 5px 25px;
  }
  
  .answer-rate {
    background:  transparent url("../images/answer_rate_icon.png") no-repeat 0 5px;
  }
  .answer-time {
    background: transparent url("../images/answer_time_icon.png") no-repeat 0 5px;
  }
}